{
  "openapi": "3.0.1",
  "info": {
    "title": "CloudTalk API",
    "description": "# Introduction\nWelcome to CloudTalk API reference! Many of these businesses use the CloudTalk API to automate and enhance their customer support with CloudTalk Support. With CloudTalk we are re-building telco industry from the ground and taking it to the next level with first-class customer support system. Please find below the full documenation to CloudTalk.\n\n# API Overview\n\nThe API is organized around the following resources:\n\nAPI Area | Description\n----------------|-------------\nCalls | Browse your call history, download recordings and access all your calls data.\nContacts | Create and update Contacts. Use filters to get lists of Contacts, or access their profiles individually.\nNumbers | Automate Numbers modifications. List all your numbers.\nAgents | Create or update your Agents, access their settings.\nConversation Intelligence | Get Conversation Intelligence data about your calls.\nVoiceAgent | Initiate VoiceAgent calls\n\n\n[JSON](http://www.json.org/) is returned in all responses. XML is not supported.\n\nThe API also uses common approaches for the following:\n\nFunction | Description\n----------------|-------------\nData | API data is JSON encoded with UTF-8. API JSON is either a single object or a list of objects.\nErrors | 4xx and 5xx responses returning JSON with error codes\nRate Limiting | Controls how many requests can be made in a time window\nHTTP | Methods are used in accordance with HTTP (GET POST and DELETE are the primary methods used) and resources are identified using URIs. All API requests are sent over HTTPS.\n\n\n## Authentication\n\nThis is an HTTPS-only API. Authentication is based on API Access Key ID and Access Key Secret. The API Access Key ID and Access Key Secret is passed via HTTP Basic Authentication.\n\n Basic Auth credentials are used to determine on which project should this request be executed on. List of all Basic Auth credentials for the project can be found by Administrators in the Cloudtalk Dashboard Account \u2192 Settings \u2192 API keys tab.\n\nTo try the API via curl on the command-line, the general form used would be:\n```\ncurl -u ACCESS_KEY_ID:ACCESS_KEY_SECRET API_URL\n```\n\nFor instance, you would execute:\n```\ncurl -u ABCDEFGHIJTESTKEY1:X05Dg4c331c3h61An https://my.cloudtalk.io/api/calls/index.json\n```\n\n## Usage\n\nThe API may rate limit submission of requests for your application. Such limits are managed as an allowed number of operations per time window, where an operation might be read or an update. In that case a **'429 Too Many Requests'** response code will be returned along with the following headers -\n\nHeader name | Description\n----------------|-------------\nX-CloudTalkAPI-Limit | Maximum number of API requests allowed in the current time window.\nX-CloudTalkAPI-Remaining | Number of API requests left in the current window.\nX-CloudTalkAPI-ResetTime | Time when rate limit window will be reset as a Unix timestamp.\n\nNote that the default rate limit is **60 operations per minute per company**. If you need to make more requests, please contact our support with detailed explanation of your use case.\n\n## Response Envelopes\n\n**Note:** Conversation Intelligence doesn't follow envelopes.\n\nThe API returns one of three envelopes depending upon the request issued:\n\n1. Single Item Envelope\n2. Collections Envelope\n3. Error Envelope\n\n### Single Item Envelope\n\nAll dates/times are returned in ISO8601 format and in UTC timezone.\n\n```\nStatus: 200 OK\n{\n    \"responseData\": {\n        \"id\": 123,\n        ...\n        \"created\": \"2018-01-10 12:34:56\"\n    }\n}\n```\n\n### Collections Envelope\n\nAll dates/times are returned in ISO8601 format and in UTC timezone.\n\n```\nStatus: 200 OK\n{\n    \"responseData\": {\n        \"itemsCount\": 65,\n        \"pageCount\": 3,\n        \"pageNumber\": 1,\n        \"limit\": 30,\n        \"data\": [\n            {\n                \"id\": 123,\n                ...\n                \"created\": \"2018-01-10 12:34:56\"\n            },\n            {\n                \"id\": 456,\n                ...\n                \"created\": \"2017-10-19 09:21:29\"\n            },\n            ...\n        ]\n    }\n}\n```\n\n### Error Envelope\n\n```\nStatus: 404 Not Found\n{\n    \"responseData\": {\n        \"status\": 404,\n        \"message\": \"Not Found\"\n    }\n}\n```\n\n## Encoding\n\nData is encoded as defined by JSON in [RFC4627](http://www.ietf.org/rfc/rfc4627.txt). The default encoding for APIs is UTF-8.\n\nSome query parameters may need to be [url encoded](https://www.wikiwand.com/en/Percent-encoding) when sending - for example, the email parameter value used to query users should be encoded.\n\n## Use of HTTP\n\nRequest methods are used in accordance with HTTP -\n\n- `GET` is used to access resources and perform queries. The API does not allow modifications (creates, updates, deletes) to occur via GET.\n- `PUT` is used to create resources.\n- `POST` is used to update resources. PATCH is not currently used by the API.\n- `DELETE` is used to delete resources.\n\nResponses use standard HTTP codes. Where there are client or server errors, a list of of one or more errors in JSON format is returned in the body.\n\nThe `Accept` header must be used by a client used to indicate a preferred response for `GET/HEAD` requests. Requests without an `Accept` header of `application/json` may be rejected with a client error of 404 or 406. The `Content-Type` header should be used by clients to indicate the submitted format for `POST/PUT` requests.",
    "contact": {
      "name": "CloudTalk API Support",
      "url": "https://www.cloudtalk.io/contact"
    },
    "version": "1.7",
    "x-logo": {
      "url": "https://my.cloudtalk.io/img/logo-cloudtalk-color.png"
    }
  },
  "servers": [
    {
      "url": "https://my.cloudtalk.io/api"
    }
  ],
  "tags": [
    {
      "name": "Calls",
      "description": "All data you can get about your calls."
    },
    {
      "name": "Contacts",
      "description": "All data you can get about your contacts."
    },
    {
      "name": "Agents",
      "description": "All data you can get about your agents."
    },
    {
      "name": "Numbers",
      "description": "All data you can get about your numbers."
    },
    {
      "name": "Sms",
      "description": "Sms handling."
    },
    {
      "name": "Tags",
      "description": "All data you can get about your tags."
    },
    {
      "name": "Campaigns",
      "description": "All data you can get about your campaigns."
    },
    {
      "name": "Bulks",
      "description": "Bulk actions."
    },
    {
      "name": "CueCard",
      "description": "CueCards API ver. 1.0.2"
    },
    {
      "name": "Other",
      "description": "All other helper endpoints."
    },
    {
      "name": "Conversation Intelligence",
      "description": "Conversation Intelligence data about your calls."
    },
    {
      "name": "VoiceAgent",
      "description": "VoiceAgent API ver. 1.0.0"
    }
  ],
  "paths": {
    "/cuecards": {
      "post": {
        "servers": [
          {
            "url": "https://platform-api.cloudtalk.io/api/"
          }
        ],
        "summary": "Create CueCard request to be displayed to agent during the active call",
        "operationId": "postCueCard",
        "tags": [
          "CueCard"
        ],
        "requestBody": {
          "description": "Cue Card request definition",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CueCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CueCard request processed correctly",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Request body not matching definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CueCardError"
                },
                "example": {
                  "success": false,
                  "errors": [
                    "field validation for 'CallUUID' failed (required)"
                  ]
                }
              }
            }
          },
          "424": {
            "description": "No active call matching call id was found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CueCardError"
                },
                "example": {
                  "success": false,
                  "errors": [
                    "no such active call - call_uuid: aa-bb-cc"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CueCardError"
                },
                "example": {
                  "success": false,
                  "errors": [
                    "error processing cue card"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/agents/index.json": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List agents",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter by agent ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max. number of items in response data.",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of page to return.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "associated_number",
            "in": "query",
            "description": "Filters agents by their assigned number. Please enter a valid  number in e164 format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agents data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/itemsCount"
                    },
                    "pageCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageCount"
                    },
                    "pageNumber": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageNumber"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/PaginationData/properties/limit"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Agent": {
                            "$ref": "#/components/schemas/Agent"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "itemsCount": 3,
                    "pageCount": 1,
                    "pageNumber": 1,
                    "limit": 3,
                    "data": [
                      {
                        "Agent": {
                          "id": "99",
                          "name": "123456",
                          "firstname": "John",
                          "lastname": "Doe",
                          "email": "joh.doe@phoonio.com",
                          "is_daily_limit_ok": true,
                          "status_outbound": true,
                          "availability_status": "online",
                          "extension": "1001",
                          "call_number_id": 36,
                          "default_number": "+421123456789",
                          "associated_numbers": [
                            "+421123456789",
                            "+421987654321"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agents/add.json": {
      "put": {
        "tags": [
          "Agents"
        ],
        "summary": "Add an agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "firstname",
                  "lastname",
                  "pass"
                ],
                "type": "object",
                "properties": {
                  "firstname": {
                    "$ref": "#/components/schemas/Agent/properties/firstname"
                  },
                  "lastname": {
                    "$ref": "#/components/schemas/Agent/properties/lastname"
                  },
                  "email": {
                    "$ref": "#/components/schemas/Agent/properties/email"
                  },
                  "pass": {
                    "$ref": "#/components/schemas/Agent/properties/pass"
                  },
                  "status_outbound": {
                    "$ref": "#/components/schemas/Agent/properties/status_outbound"
                  },
                  "daily_price_limit": {
                    "$ref": "#/components/schemas/Agent/properties/daily_price_limit"
                  },
                  "extension": {
                    "$ref": "#/components/schemas/Agent/properties/extension"
                  },
                  "call_number_id": {
                    "$ref": "#/components/schemas/Agent/properties/call_number_id"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Agent/properties/id"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 201,
                    "data": {
                      "id": "12345"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Max. number of agents reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 403,
                    "message": "Max. number of agents reached."
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data.",
                    "data": {
                      "email": [
                        "Please supply a valid email address."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/agents/edit/{agentId}.json": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Edit an agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID to edit",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "firstname",
                  "lastname"
                ],
                "type": "object",
                "properties": {
                  "firstname": {
                    "$ref": "#/components/schemas/Agent/properties/firstname"
                  },
                  "lastname": {
                    "$ref": "#/components/schemas/Agent/properties/lastname"
                  },
                  "email": {
                    "$ref": "#/components/schemas/Agent/properties/email"
                  },
                  "status_outbound": {
                    "$ref": "#/components/schemas/Agent/properties/status_outbound"
                  },
                  "daily_price_limit": {
                    "$ref": "#/components/schemas/Agent/properties/daily_price_limit"
                  },
                  "call_number_id": {
                    "$ref": "#/components/schemas/Agent/properties/call_number_id"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 200
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data.",
                    "data": {
                      "email": [
                        "Please supply a valid email address."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/agents/delete/{agentId}.json": {
      "delete": {
        "tags": [
          "Agents"
        ],
        "summary": "Delete an agent",
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "Agent ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessGeneralData"
                },
                "example": {
                  "responseData": {
                    "status": 200
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups/index.json": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List groups",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max. number of items in response data.",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of page to return.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Groups data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/itemsCount"
                    },
                    "pageCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageCount"
                    },
                    "pageNumber": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageNumber"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/PaginationData/properties/limit"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Groups": {
                            "$ref": "#/components/schemas/Group"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "itemsCount": 9,
                    "pageCount": 1,
                    "pageNumber": 1,
                    "limit": 9,
                    "data": [
                      {
                        "Group": {
                          "id": "568",
                          "internal_name": "Oper\u00e1tori"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups/add.json": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Add an agent to a group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "group_id",
                  "agent_id"
                ],
                "type": "object",
                "properties": {
                  "group_id": {
                    "$ref": "#/components/schemas/Groups/properties/group_id"
                  },
                  "agent_id": {
                    "$ref": "#/components/schemas/Groups/properties/agent_id"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Agent/properties/id"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 200,
                    "data": {
                      "message": "Agent added successfully."
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/groups/delete/{agent_id}.json": {
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete an agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "group_id"
                ],
                "type": "object",
                "properties": {
                  "group_id": {
                    "$ref": "#/components/schemas/Groups/properties/group_id"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Agent/properties/id"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 200,
                    "data": {
                      "message": "Agent deleted successfully."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bulk/contacts.json": {
      "post": {
        "tags": [
          "Bulks"
        ],
        "summary": "Contact actions",
        "description": "Max 10 actions are available in one request. Only sent parameters/values will be updated. If you want to clear the value, just set empty string for that attribute. After sending empty string for properties of `ContactNumber`, `ContactEmail`, `ContactsTag` or `ContactAttribute` all data from these properties will be cleared. When you send values for properties of `ContactNumber`, `ContactEmail`, `ContactsTag` or `ContactAttribute` only these data will be updated, all other will be cleared.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "maxItems": 10,
                "example": [
                  {
                    "action": "add_contact",
                    "command_id": "123",
                    "data": {
                      "name": "John Snow",
                      "title": "Ing.",
                      "company": "Night watch",
                      "industry": "it",
                      "website": "https://www.castleblack.com/",
                      "address": "Room 1",
                      "city": "New York",
                      "zip": "18104",
                      "state": "NY",
                      "country_id": 201,
                      "ContactNumber": [
                        {
                          "public_number": 421901123456
                        }
                      ],
                      "ContactEmail": [
                        {
                          "email": "snow@example.com"
                        }
                      ],
                      "ContactsTag": [
                        {
                          "name": "watch"
                        }
                      ]
                    }
                  },
                  {
                    "action": "delete_contact",
                    "command_id": "1234",
                    "data": {
                      "id": 1234
                    }
                  },
                  {
                    "action": "edit_contact",
                    "command_id": "12345",
                    "data": {
                      "id": 123,
                      "name": "Daenerys Stormborn",
                      "title": "Ing.",
                      "company": "Targaryen inc.",
                      "industry": "it",
                      "website": "https://www.fireandblood.com/",
                      "address": "First st.",
                      "zip": "18104",
                      "state": "NY",
                      "country_id": 201,
                      "ContactNumber": [
                        {
                          "public_number": 421901123456
                        },
                        {
                          "public_number": 421908123456
                        }
                      ],
                      "ContactEmail": [
                        {
                          "email": "danny@example.com"
                        },
                        {
                          "email": "targ@example.com"
                        }
                      ],
                      "ContactsTag": [
                        {
                          "name": "fire"
                        },
                        {
                          "name": "dragons"
                        }
                      ]
                    }
                  },
                  {
                    "action": "add_activity",
                    "command_id": "123456",
                    "data": {
                      "contact_id": 123,
                      "type": "order",
                      "name": "Burn the usurper",
                      "activity_date": "2020-08-22T09:53:47.000Z",
                      "description": "Defeat the forces at kings landing",
                      "activity_author": "Danny Stormborn",
                      "external_id": 123456,
                      "external_url": "https://fireandblood.io/order"
                    }
                  },
                  {
                    "action": "delete_activity",
                    "command_id": "1234567",
                    "data": {
                      "id": 12345
                    }
                  },
                  {
                    "action": "edit_activity",
                    "command_id": "12345678",
                    "data": {
                      "id": 123456,
                      "contact_id": 123456,
                      "type": "order",
                      "name": "Defend the Wall",
                      "activity_date": "2020-08-25T09:53:47.000Z",
                      "description": "Repel white walkers attack",
                      "activity_author": "Danny Stormborn",
                      "external_id": 1234567,
                      "external_url": "https://fireandblood.com/defend"
                    }
                  },
                  {
                    "action": "add_note",
                    "command_id": "123456789",
                    "data": {
                      "contact_id": 1234,
                      "note": "Dont feed the dragon",
                      "user_id": 12345678
                    }
                  },
                  {
                    "action": "delete_note",
                    "command_id": "1234567890",
                    "data": {
                      "id": 1234567890
                    }
                  },
                  {
                    "action": "edit_note",
                    "command_id": "1234567890A",
                    "data": {
                      "id": 123456789,
                      "note": "Seriously, dont",
                      "user_id": 1075,
                      "contact_id": 1234
                    }
                  }
                ],
                "items": {
                  "required": [
                    "action",
                    "command_id",
                    "data"
                  ],
                  "type": "object",
                  "properties": {
                    "action": {
                      "type": "string",
                      "description": "Action",
                      "enum": [
                        "add_contact",
                        "edit_contact",
                        "delete_contact",
                        "add_activity",
                        "edit_activity",
                        "delete_activity",
                        "add_note",
                        "edit_note",
                        "delete_note"
                      ]
                    },
                    "command_id": {
                      "$ref": "#/components/schemas/command_id"
                    },
                    "data": {
                      "oneOf": [
                        {
                          "title": "add contact",
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name. Only for actions add_contact, edit_contact, add_activity, edit_activity."
                            },
                            "title": {
                              "type": "string",
                              "description": "Title. Only for actions add_contact, edit_contact."
                            },
                            "company": {
                              "type": "string",
                              "description": "Company. Only for actions add_contact, edit_contact."
                            },
                            "industry": {
                              "type": "string",
                              "description": "Industry. Only for actions add_contact, edit_contact."
                            },
                            "website": {
                              "type": "string",
                              "description": "Website. Only for actions add_contact, edit_contact."
                            },
                            "address": {
                              "type": "string",
                              "description": "Address. Only for actions add_contact, edit_contact."
                            },
                            "city": {
                              "type": "string",
                              "description": "City. Only for actions add_contact, edit_contact."
                            },
                            "zip": {
                              "type": "string",
                              "description": "ZIP. Only for actions add_contact, edit_contact."
                            },
                            "state": {
                              "type": "string",
                              "description": "State. Only for actions add_contact, edit_contact."
                            },
                            "country_id": {
                              "type": "integer",
                              "description": "Country ID. Only for actions add_contact, edit_contact."
                            },
                            "favorite_agent": {
                              "type": "integer",
                              "description": "Favorite agent. Only for actions add_contact, edit_contact."
                            },
                            "ExternalUrl": {
                              "$ref": "#/components/schemas/ExternalUrlArray"
                            },
                            "ContactNumber": {
                              "$ref": "#/components/schemas/ContactNumberArray"
                            },
                            "ContactEmail": {
                              "$ref": "#/components/schemas/ContactEmailArray"
                            },
                            "ContactsTag": {
                              "$ref": "#/components/schemas/ContactsTag"
                            },
                            "ContactAttribute": {
                              "type": "array",
                              "description": "Attributes for contact. Only for actions add_contact, edit_contact.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "attribute_id": {
                                    "$ref": "#/components/schemas/ContactAttribute/items/properties/attribute_id"
                                  },
                                  "value": {
                                    "$ref": "#/components/schemas/ContactAttribute/items/properties/value"
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "title": "delete contact/note/activity",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID. Only for actions edit_contact, delete_contact, edit_activity, delete_activity, edit_note, delete_note."
                            }
                          }
                        },
                        {
                          "title": "edit contact",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID. Only for actions edit_contact, delete_contact, edit_activity, delete_activity, edit_note, delete_note."
                            },
                            "name": {
                              "type": "string",
                              "description": "Name. Only for actions add_contact, edit_contact, add_activity, edit_activity."
                            },
                            "title": {
                              "type": "string",
                              "description": "Title. Only for actions add_contact, edit_contact."
                            },
                            "company": {
                              "type": "string",
                              "description": "Company. Only for actions add_contact, edit_contact."
                            },
                            "industry": {
                              "type": "string",
                              "description": "Industry. Only for actions add_contact, edit_contact."
                            },
                            "website": {
                              "type": "string",
                              "description": "Website. Only for actions add_contact, edit_contact."
                            },
                            "address": {
                              "type": "string",
                              "description": "Address. Only for actions add_contact, edit_contact."
                            },
                            "city": {
                              "type": "string",
                              "description": "City. Only for actions add_contact, edit_contact."
                            },
                            "zip": {
                              "type": "string",
                              "description": "ZIP. Only for actions add_contact, edit_contact."
                            },
                            "state": {
                              "type": "string",
                              "description": "State. Only for actions add_contact, edit_contact."
                            },
                            "country_id": {
                              "type": "integer",
                              "description": "Country ID. Only for actions add_contact, edit_contact."
                            },
                            "favorite_agent": {
                              "type": "integer",
                              "description": "Favorite agent. Only for actions add_contact, edit_contact."
                            },
                            "ExternalUrl": {
                              "$ref": "#/components/schemas/ExternalUrlArray"
                            },
                            "ContactNumber": {
                              "$ref": "#/components/schemas/ContactNumberArray"
                            },
                            "ContactEmail": {
                              "$ref": "#/components/schemas/ContactEmailArray"
                            },
                            "ContactsTag": {
                              "$ref": "#/components/schemas/ContactsTag"
                            },
                            "ContactAttribute": {
                              "type": "array",
                              "description": "Attributes for contact. Only for actions add_contact, edit_contact.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "attribute_id": {
                                    "$ref": "#/components/schemas/ContactAttribute/items/properties/attribute_id"
                                  },
                                  "value": {
                                    "$ref": "#/components/schemas/ContactAttribute/items/properties/value"
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "title": "add activity",
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name. Only for actions add_contact, edit_contact, add_activity, edit_activity."
                            },
                            "contact_id": {
                              "type": "integer",
                              "description": "Contact ID. Only for actions add_activity, edit_activity, add_note, edit_note."
                            },
                            "type": {
                              "$ref": "#/components/schemas/ContactActivity/properties/type"
                            },
                            "activity_date": {
                              "$ref": "#/components/schemas/ContactActivity/properties/activity_date"
                            },
                            "description": {
                              "$ref": "#/components/schemas/ContactActivity/properties/description"
                            },
                            "activity_author": {
                              "$ref": "#/components/schemas/ContactActivity/properties/activity_author"
                            },
                            "external_id": {
                              "$ref": "#/components/schemas/ContactActivity/properties/external_id"
                            },
                            "external_url": {
                              "$ref": "#/components/schemas/ContactActivity/properties/external_url"
                            }
                          }
                        },
                        {
                          "title": "edit activity",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID. Only for actions edit_contact, delete_contact, edit_activity, delete_activity, edit_note, delete_note."
                            },
                            "name": {
                              "type": "string",
                              "description": "Name. Only for actions add_contact, edit_contact, add_activity, edit_activity."
                            },
                            "contact_id": {
                              "type": "integer",
                              "description": "Contact ID. Only for actions add_activity, edit_activity, add_note, edit_note."
                            },
                            "type": {
                              "$ref": "#/components/schemas/ContactActivity/properties/type"
                            },
                            "activity_date": {
                              "$ref": "#/components/schemas/ContactActivity/properties/activity_date"
                            },
                            "description": {
                              "$ref": "#/components/schemas/ContactActivity/properties/description"
                            },
                            "activity_author": {
                              "$ref": "#/components/schemas/ContactActivity/properties/activity_author"
                            },
                            "external_id": {
                              "$ref": "#/components/schemas/ContactActivity/properties/external_id"
                            },
                            "external_url": {
                              "$ref": "#/components/schemas/ContactActivity/properties/external_url"
                            }
                          }
                        },
                        {
                          "title": "add note",
                          "type": "object",
                          "properties": {
                            "contact_id": {
                              "type": "integer",
                              "description": "Contact ID. Only for actions add_activity, edit_activity, add_note, edit_note."
                            },
                            "user_id": {
                              "$ref": "#/components/schemas/ContactNote/properties/user_id"
                            },
                            "note": {
                              "$ref": "#/components/schemas/ContactNote/properties/note"
                            }
                          }
                        },
                        {
                          "title": "edit note",
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID. Only for actions edit_contact, delete_contact, edit_activity, delete_activity, edit_note, delete_note."
                            },
                            "contact_id": {
                              "type": "integer",
                              "description": "Contact ID. Only for actions add_activity, edit_activity, add_note, edit_note."
                            },
                            "user_id": {
                              "$ref": "#/components/schemas/ContactNote/properties/user_id"
                            },
                            "note": {
                              "$ref": "#/components/schemas/ContactNote/properties/note"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseData": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "$ref": "#/components/schemas/StatusCode/properties/status"
                        },
                        "data": {
                          "$ref": "#/components/schemas/ContactsBulkDataResponse"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 200,
                    "data": [
                      {
                        "command_id": "123",
                        "status": 201,
                        "data": {
                          "id": "123"
                        }
                      },
                      {
                        "command_id": "1234",
                        "status": 200
                      },
                      {
                        "command_id": "12345",
                        "status": 200
                      },
                      {
                        "command_id": "123456",
                        "status": 201,
                        "data": {
                          "id": "123456"
                        }
                      },
                      {
                        "command_id": "1234567",
                        "status": 200
                      },
                      {
                        "command_id": "12345678",
                        "status": 200
                      },
                      {
                        "command_id": "12356789",
                        "status": 201,
                        "data": {
                          "id": "123456789"
                        }
                      },
                      {
                        "command_id": "1234567890",
                        "status": 200
                      },
                      {
                        "command_id": "123456789A",
                        "status": 200
                      }
                    ]
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data.",
                    "data": {
                      "email": [
                        "Please supply a valid email address."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/campaigns/index.json": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List campaigns",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Filter by campaign ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max. number of items in response data.",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of page to return.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/itemsCount"
                    },
                    "pageCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageCount"
                    },
                    "pageNumber": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageNumber"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/PaginationData/properties/limit"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Campaign": {
                            "$ref": "#/components/schemas/CampaignList"
                          },
                          "Button": {
                            "$ref": "#/components/schemas/Button"
                          },
                          "Tag": {
                            "$ref": "#/components/schemas/Tag"
                          },
                          "Group": {
                            "$ref": "#/components/schemas/Group"
                          },
                          "Agent": {
                            "$ref": "#/components/schemas/PdAgent"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "itemsCount": 3,
                    "pageCount": 1,
                    "pageNumber": 1,
                    "limit": 3,
                    "data": [
                      {
                        "Campaign": {
                          "id": "63",
                          "name": "Test Dialer",
                          "status": "inactive",
                          "has_schedule_date": false,
                          "answer_wait_time": "45",
                          "after_call_dialing_auto": false,
                          "after_call_time": "5",
                          "is_recording": false,
                          "is_predictive": false,
                          "attempts": "1",
                          "attempts_interval": "18"
                        },
                        "Button": [
                          {
                            "id": "252",
                            "title": "Sale",
                            "type": "successful_positive",
                            "color": "#2980b9",
                            "description": "Sold"
                          }
                        ],
                        "ContactsTag": [
                          {
                            "id": "133",
                            "name": "dialer"
                          }
                        ],
                        "Group": [
                          {
                            "id": "568",
                            "internal_name": "Agents"
                          }
                        ],
                        "Agent": [
                          {
                            "id": "1075",
                            "fullname": "Jane Doe"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/add.json": {
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Add campaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "Button",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/CampaignList/properties/name"
                  },
                  "status": {
                    "$ref": "#/components/schemas/CampaignList/properties/status"
                  },
                  "has_schedule_date": {
                    "$ref": "#/components/schemas/CampaignList/properties/has_schedule_date"
                  },
                  "schedule_start_date": {
                    "$ref": "#/components/schemas/CampaignList/properties/schedule_start_date"
                  },
                  "schedule_start_time": {
                    "$ref": "#/components/schemas/CampaignList/properties/schedule_start_time"
                  },
                  "answer_wait_time": {
                    "$ref": "#/components/schemas/CampaignList/properties/answer_wait_time"
                  },
                  "after_call_dialing_auto": {
                    "$ref": "#/components/schemas/CampaignList/properties/after_call_dialing_auto"
                  },
                  "after_call_time": {
                    "$ref": "#/components/schemas/CampaignList/properties/after_call_time"
                  },
                  "is_recording": {
                    "$ref": "#/components/schemas/CampaignList/properties/is_recording"
                  },
                  "call_number_id": {
                    "$ref": "#/components/schemas/CampaignList/properties/call_number_id"
                  },
                  "call_script_id": {
                    "$ref": "#/components/schemas/CampaignList/properties/call_script_id"
                  },
                  "survey_id": {
                    "$ref": "#/components/schemas/CampaignList/properties/survey_id"
                  },
                  "is_predictive": {
                    "$ref": "#/components/schemas/CampaignList/properties/is_predictive"
                  },
                  "calls_percentage": {
                    "$ref": "#/components/schemas/CampaignList/properties/calls_percentage"
                  },
                  "attempts": {
                    "$ref": "#/components/schemas/CampaignList/properties/attempts"
                  },
                  "attempts_interval": {
                    "$ref": "#/components/schemas/CampaignList/properties/attempts_interval"
                  },
                  "Button": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "$ref": "#/components/schemas/Button/properties/title"
                        },
                        "type": {
                          "$ref": "#/components/schemas/Button/properties/type"
                        },
                        "color": {
                          "$ref": "#/components/schemas/Button/properties/color"
                        },
                        "description": {
                          "$ref": "#/components/schemas/Button/properties/description"
                        }
                      }
                    }
                  },
                  "ContactsTag": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Tag ID"
                        }
                      }
                    }
                  },
                  "Agent": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Agent/properties/id"
                        }
                      }
                    }
                  },
                  "Group": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Group/properties/id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/CampaignList/properties/id"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 201,
                    "data": {
                      "id": "12345"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data.",
                    "data": {
                      "name": [
                        "Please supply a valid campaign name."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/campaigns/edit/{id}.json": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Edit campaign",
        "description": "Edit a campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID to edit",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "Button",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/CampaignList/properties/name"
                  },
                  "status": {
                    "$ref": "#/components/schemas/CampaignList/properties/status"
                  },
                  "has_schedule_date": {
                    "$ref": "#/components/schemas/CampaignList/properties/has_schedule_date"
                  },
                  "schedule_start_date": {
                    "$ref": "#/components/schemas/CampaignList/properties/schedule_start_date"
                  },
                  "schedule_start_time": {
                    "$ref": "#/components/schemas/CampaignList/properties/schedule_start_time"
                  },
                  "answer_wait_time": {
                    "$ref": "#/components/schemas/CampaignList/properties/answer_wait_time"
                  },
                  "after_call_dialing_auto": {
                    "$ref": "#/components/schemas/CampaignList/properties/after_call_dialing_auto"
                  },
                  "after_call_time": {
                    "$ref": "#/components/schemas/CampaignList/properties/after_call_time"
                  },
                  "is_recording": {
                    "$ref": "#/components/schemas/CampaignList/properties/is_recording"
                  },
                  "call_number_id": {
                    "$ref": "#/components/schemas/CampaignList/properties/call_number_id"
                  },
                  "call_script_id": {
                    "$ref": "#/components/schemas/CampaignList/properties/call_script_id"
                  },
                  "survey_id": {
                    "$ref": "#/components/schemas/CampaignList/properties/survey_id"
                  },
                  "is_predictive": {
                    "$ref": "#/components/schemas/CampaignList/properties/is_predictive"
                  },
                  "calls_percentage": {
                    "$ref": "#/components/schemas/CampaignList/properties/calls_percentage"
                  },
                  "attempts": {
                    "$ref": "#/components/schemas/CampaignList/properties/attempts"
                  },
                  "attempts_interval": {
                    "$ref": "#/components/schemas/CampaignList/properties/attempts_interval"
                  },
                  "Button": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Button id"
                        },
                        "title": {
                          "$ref": "#/components/schemas/Button/properties/title"
                        },
                        "type": {
                          "$ref": "#/components/schemas/Button/properties/type"
                        },
                        "color": {
                          "$ref": "#/components/schemas/Button/properties/color"
                        },
                        "description": {
                          "$ref": "#/components/schemas/Button/properties/description"
                        }
                      }
                    }
                  },
                  "ContactsTag": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Tag ID"
                        }
                      }
                    }
                  },
                  "Agent": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Agent/properties/id"
                        }
                      }
                    }
                  },
                  "Group": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Group/properties/id"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 200
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data.",
                    "data": {
                      "name": [
                        "Please supply a valid campaign name."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/campaigns/delete/{id}.json": {
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete campaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessGeneralData"
                },
                "example": {
                  "responseData": {
                    "status": 200
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/index.json": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List contacts",
        "parameters": [
          {
            "name": "country_id",
            "in": "query",
            "description": "Filter by country ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag_id",
            "in": "query",
            "description": "Filter by tag ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "industry",
            "in": "query",
            "description": "Filter by industry",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Filter by keyword",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max. number of items in response data.",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of page to return.",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/itemsCount"
                    },
                    "pageCount": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageCount"
                    },
                    "pageNumber": {
                      "$ref": "#/components/schemas/PaginationData/properties/pageNumber"
                    },
                    "limit": {
                      "$ref": "#/components/schemas/PaginationData/properties/limit"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Contact": {
                            "$ref": "#/components/schemas/ContactList"
                          },
                          "ContactNumber": {
                            "$ref": "#/components/schemas/ContactNumber"
                          },
                          "ContactEmail": {
                            "$ref": "#/components/schemas/ContactEmail"
                          },
                          "ContactAttribute": {
                            "$ref": "#/components/schemas/ContactAttribute"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "itemsCount": 3,
                    "pageCount": 1,
                    "pageNumber": 1,
                    "limit": 3,
                    "data": [
                      {
                        "Contact": {
                          "id": "1234",
                          "name": "John Doe",
                          "company": "Google"
                        },
                        "ContactNumber": {
                          "public_number": 442012345678
                        },
                        "ContactEmail": {
                          "email": "john.doe@gmail.com"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/add.json": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/Contact/properties/name"
                  },
                  "title": {
                    "$ref": "#/components/schemas/Contact/properties/title"
                  },
                  "company": {
                    "$ref": "#/components/schemas/Contact/properties/company"
                  },
                  "industry": {
                    "$ref": "#/components/schemas/Contact/properties/industry"
                  },
                  "website": {
                    "$ref": "#/components/schemas/Contact/properties/website"
                  },
                  "address": {
                    "$ref": "#/components/schemas/Contact/properties/address"
                  },
                  "city": {
                    "$ref": "#/components/schemas/Contact/properties/city"
                  },
                  "zip": {
                    "$ref": "#/components/schemas/Contact/properties/zip"
                  },
                  "state": {
                    "$ref": "#/components/schemas/Contact/properties/state"
                  },
                  "country_id": {
                    "$ref": "#/components/schemas/Contact/properties/country_id"
                  },
                  "favorite_agent": {
                    "$ref": "#/components/schemas/Contact/properties/favorite_agent"
                  },
                  "ExternalUrl": {
                    "$ref": "#/components/schemas/ExternalUrlArray"
                  },
                  "ContactNumber": {
                    "$ref": "#/components/schemas/ContactNumberArray"
                  },
                  "ContactEmail": {
                    "$ref": "#/components/schemas/ContactEmailArray"
                  },
                  "ContactsTag": {
                    "$ref": "#/components/schemas/ContactsTag"
                  },
                  "ContactAttribute": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "attribute_id": {
                          "$ref": "#/components/schemas/ContactAttribute/items/properties/attribute_id"
                        },
                        "value": {
                          "$ref": "#/components/schemas/ContactAttribute/items/properties/value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/Contact/properties/id"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 201,
                    "data": {
                      "id": "12345"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data.",
                    "data": {
                      "email": [
                        "Please supply a valid email address."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/contacts/edit/{contactId}.json": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Edit contact",
        "description": "Only sent parameters/values will be updated. If you want to clear the value, just set empty string for that attribute. After sending empty string for properties of `ContactNumber`, `ContactEmail`, `ContactsTag` or `ContactAttribute` all data from these properties will be cleared. When you send values for properties of `ContactNumber`, `ContactEmail`, `ContactsTag` or `ContactAttribute` only these data will be updated, all other will be cleared.",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID to edit",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/Contact/properties/name"
                  },
                  "title": {
                    "$ref": "#/components/schemas/Contact/properties/title"
                  },
                  "company": {
                    "$ref": "#/components/schemas/Contact/properties/company"
                  },
                  "industry": {
                    "$ref": "#/components/schemas/Contact/properties/industry"
                  },
                  "website": {
                    "$ref": "#/components/schemas/Contact/properties/website"
                  },
                  "address": {
                    "$ref": "#/components/schemas/Contact/properties/address"
                  },
                  "city": {
                    "$ref": "#/components/schemas/Contact/properties/city"
                  },
                  "zip": {
                    "$ref": "#/components/schemas/Contact/properties/zip"
                  },
                  "state": {
                    "$ref": "#/components/schemas/Contact/properties/state"
                  },
                  "country_id": {
                    "$ref": "#/components/schemas/Contact/properties/country_id"
                  },
                  "favorite_agent": {
                    "$ref": "#/components/schemas/Contact/properties/favorite_agent"
                  },
                  "ExternalUrl": {
                    "$ref": "#/components/schemas/ExternalUrlArray"
                  },
                  "ContactNumber": {
                    "$ref": "#/components/schemas/ContactNumberArray"
                  },
                  "ContactEmail": {
                    "$ref": "#/components/schemas/ContactEmailArray"
                  },
                  "ContactsTag": {
                    "$ref": "#/components/schemas/ContactsTag"
                  },
                  "ContactAttribute": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "attribute_id": {
                          "$ref": "#/components/schemas/ContactAttribute/items/properties/attribute_id"
                        },
                        "value": {
                          "$ref": "#/components/schemas/ContactAttribute/items/properties/value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/StatusCode/properties/status"
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "status": 200
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "406": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorInvalidData"
                },
                "example": {
                  "responseData": {
                    "status": 406,
                    "message": "Invalid input data.",
                    "data": {
                      "email": [
                        "Please supply a valid email address."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/contacts/delete/{contactId}.json": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete contact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessGeneralData"
                },
                "example": {
                  "responseData": {
                    "status": 200
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 500,
                    "message": "Something went wrong."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/show/{contactId}.json": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Inspect a contact",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID to show",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Contact": {
                      "$ref": "#/components/schemas/Contact"
                    },
                    "ExternalUrl": {
                      "$ref": "#/components/schemas/ExternalUrlArray"
                    },
                    "ContactNumber": {
                      "$ref": "#/components/schemas/ContactNumberArray"
                    },
                    "ContactEmail": {
                      "$ref": "#/components/schemas/ContactEmailArray"
                    },
                    "ContactsTag": {
                      "$ref": "#/components/schemas/ContactsTag"
                    },
                    "ContactAttribute": {
                      "$ref": "#/components/schemas/ContactAttribute"
                    }
                  }
                },
                "example": {
                  "responseData": {
                    "Contact": {
                      "id": "1234",
                      "name": "John Doe",
                      "title": "Dr.",
                      "company": "Google",
                      "industry": "it",
                      "website": "https://www.google.com/",
                      "address": "First st.",
                      "city": "New York",
                      "zip": "11804",
                      "state": "NY",
                      "country_id": "1",
                      "favorite_agent": "123",
                      "created": "2017-11-11T15:25:42.000Z",
                      "modified": "2017-04-26T22:57:50.000Z"
                    },
                    "ExternalUrl": [
                      {
                        "name": "CRM",
                        "url": "https://cloudtalk.io/c/show/123"
                      }
                    ],
                    "ContactEmail": [
                      {
                        "email": "joh.doe@gmail.com"
                      }
                    ],
                    "ContactNumber": [
                      {
                        "public_number": 442012345678
                      }
                    ],
                    "ContactsTag": [
                      {
                        "name": "vipClients"
                      },
                      {
                        "name": "shopify"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contact not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorData"
                },
                "example": {
                  "responseData": {
                    "status": 404,
                    "message": "Not found."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/attributes.json": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Attributes",
        "description": "List all attributes which can be assigned to a contact.",
        "responses": {
          "200": {
            "description": "All attributes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responseData": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ContactAttribute": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "$ref": "#/components/schemas/ContactAttribute/items/properties/attribute_id"
                              },
                              "title": {
                                "$ref": "#/components/schemas/ContactAttribute/items/properties/title"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "responseData": [
                    {
                      "ContactAttribute": {
                        "id": "123",
                        "title": "Salary"
                      }
                    },
                    {
                      "ContactAttribute": {
                        "id": "124",
                        "title": "Custom notes"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
[...]
