{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Ashby API",
    "description": "The public API for accessing resources in your Ashby instance.",
    "contact": {
      "name": "Ashby Support",
      "url": "https://app.ashbyhq.com/support",
      "email": "support@ashbyhq.com"
    }
  },
  "servers": [
    {
      "url": "https://api.ashbyhq.com"
    }
  ],
  "tags": [
    {
      "name": "ashby",
      "description": "The Ashby API"
    }
  ],
  "paths": {
    "/apiKey.info": {
      "post": {
        "summary": "apiKey.info",
        "description": "Retrieve information about the API key being used to make the request.\n\n**Requires the [`apiKeysRead`](authentication#permissions-apikeyinfo) permission.**\n",
        "operationId": "apiKeyInfo",
        "tags": [
          "API Key"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the apiKey.info endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The name of the API key.",
                                  "example": "Custom Job Board API key"
                                },
                                "createdAt": {
                                  "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                }
                              }
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "title": "Error response",
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/application.change_source": {
      "post": {
        "summary": "application.changeSource",
        "operationId": "applicationChangeSource",
        "description": "Change the source of an application.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationchangesource) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to update the source of"
                      }
                    ]
                  },
                  "sourceId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The source to set on the application. Pass null to unset an application's source."
                      }
                    ]
                  }
                },
                "required": [
                  "applicationId",
                  "sourceId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "sourceId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.changeSource endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.change_stage": {
      "post": {
        "summary": "application.changeStage",
        "operationId": "applicationChangeStage",
        "description": "Change the stage of an application\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationchangestage) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to update the stage of"
                      }
                    ]
                  },
                  "interviewStageId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The interview stage to move the application to."
                      }
                    ]
                  },
                  "archiveReasonId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "Archive Reason to set when moving to an Interview Stage with type: `Archived`. \nNote: You must pass this parameter when moving to an Interview Stage with type: `Archived`\n"
                      }
                    ]
                  },
                  "archiveEmail": {
                    "type": "object",
                    "properties": {
                      "communicationTemplateId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the communication template to use for the email.\nNote: This communication template's intendedTypes must include: `email`.\n"
                          }
                        ]
                      },
                      "sendAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time to send the email as an ISO 8601 date and time string, e.g. `2025-02-24T08:27:01Z`.\nIf omitted, the email will be scheduled for the following morning at 9:32am in your default timezone.\nIf the time is in the past, the email will be sent immediately.\nNote: If a timezone is not specified, timestamps will be interpreted in UTC, regardless of your timezone setting.\n"
                      }
                    },
                    "description": "Email to send to the candidate when moving to an Interview Stage with type: `Archived`.\nNote: If application is already archived, the email will not be sent.\nNote: If email send fails, the application stage will not be updated. If this is the case, you can retry the request without this parameter.\nNote: You may only pass this parameter if the application is moving to an Interview Stage with type: `Archived`.\n",
                    "required": [
                      "communicationTemplateId"
                    ]
                  }
                },
                "required": [
                  "applicationId",
                  "interviewStageId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "interviewStageId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.changeStage endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.create": {
      "post": {
        "summary": "application.create",
        "operationId": "applicationCreate",
        "description": "Consider a candidate for a job\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationcreate) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "candidateId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the candidate to consider for a job"
                      }
                    ]
                  },
                  "jobId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the job to consider the candidate for"
                      }
                    ]
                  },
                  "interviewPlanId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the interview plan to place the application in. If none is provided, the default interview plan is used.\n"
                      }
                    ]
                  },
                  "interviewStageId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The interview stage of the interview plan (either default or provided) to place the application in. \nIf none is provided, the application is placed in the first \"Lead\" stage. \nYou can also supply the special string \"FirstPreInterviewScreen\", which will choose the first pre-interview-screen stage on the specified job's interview plan.\n"
                      }
                    ]
                  },
                  "sourceId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The source to set on the application being created."
                      }
                    ]
                  },
                  "creditedToUserId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the user the application will be credited to."
                      }
                    ]
                  },
                  "createdAt": {
                    "allOf": [
                      {
                        "description": "An ISO date string to set the application's `createdAt` timestamp. When this value isn't provided, the `createdAt` timestamp defaults to the time the the call was made.\n"
                      },
                      {
                        "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                      }
                    ]
                  },
                  "applicationHistory": {
                    "allOf": [
                      {
                        "type": "array",
                        "description": "An array of objects representing the application history.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stageId": {
                              "allOf": [
                                {
                                  "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                },
                                {
                                  "description": "The ID of the interview stage for this history event. This stage must belong to the interview plan associated with the application."
                                }
                              ]
                            },
                            "stageNumber": {
                              "allOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "description": "The sort order of this event. 0 is the first, the highest number will be the current stage."
                                }
                              ]
                            },
                            "enteredStageAt": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2022-07-21T17:32:28Z"
                                },
                                {
                                  "description": "An ISO date string representing the time the application entered this stage."
                                }
                              ]
                            },
                            "archiveReasonId": {
                              "allOf": [
                                {
                                  "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                },
                                {
                                  "description": "The ID of the archive reason. If the interview stage is an `Archived` stage type, this field is required."
                                }
                              ]
                            }
                          },
                          "required": [
                            "stageId",
                            "stageNumber",
                            "enteredStageAt"
                          ]
                        }
                      },
                      {
                        "description": "An array of objects representing the application history.\n"
                      }
                    ]
                  }
                },
                "required": [
                  "candidateId",
                  "jobId"
                ],
                "example": {
                  "candidateId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "jobId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.create endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.info": {
      "post": {
        "summary": "application.info",
        "operationId": "applicationInfo",
        "description": "Fetch application details by application id or by submitted form instance id (which is return by the `applicationForm.submit` endpoint). If both applicationId and submittedFormInstanceId are provided, we will lookup by applicationId.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationinfo) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "description": "The id of the application to fetch."
                          },
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      },
                      "expand": {
                        "type": "array",
                        "description": "Choose to expand the result and include additional data for related objects. \n",
                        "items": {
                          "type": "string",
                          "enum": [
                            "openings",
                            "applicationFormSubmissions",
                            "referrals"
                          ]
                        }
                      }
                    },
                    "required": [
                      "applicationId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "submittedFormInstanceId": {
                        "allOf": [
                          {
                            "description": "The id of the application's submitted form instance to fetch."
                          },
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      },
                      "expand": {
                        "type": "array",
                        "description": "Choose to expand the result and include additional data for related objects. \n",
                        "items": {
                          "type": "string",
                          "enum": [
                            "openings",
                            "applicationFormSubmissions"
                          ]
                        }
                      }
                    },
                    "required": [
                      "submittedFormInstanceId"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.info endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "allOf": [
                                {
                                  "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "openings": {
                                      "description": "The openings array will only be included if the `openings` expand parameter is included when the request is made.",
                                      "type": "array",
                                      "items": {
                                        "$ref": "#/webhooks/openingCreate/post/requestBody/content/application~1json/schema/properties/data/properties/opening"
                                      }
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "applicationHistory": {
                                      "type": "array",
                                      "items": {
                                        "$ref": "#/paths/~1application.listHistory/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/items"
                                      }
                                    },
                                    "applicationFormSubmissions": {
                                      "type": "array",
                                      "description": "Application form submissions. These match the response from the `applicationForm.submit` endpoint. Use of the expand parameter is required to fetch.",
                                      "items": {
                                        "$ref": "#/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results/properties/submittedFormInstance"
                                      }
                                    },
                                    "referrals": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "user": {
                                            "$ref": "#/paths/~1user.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results"
                                          },
                                          "referredAt": {
                                            "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.list": {
      "post": {
        "summary": "application.list",
        "operationId": "applicationList",
        "description": "Gets all applications in the organization.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationlist) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "createdAfter": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The API will return data after this date, which is the time since the unix epoch in milliseconds"
                      },
                      "cursor": {
                        "$ref": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/cursor"
                      },
                      "syncToken": {
                        "$ref": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/syncToken"
                      },
                      "limit": {
                        "$ref": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/limit"
                      }
                    },
                    "example": {
                      "createdAfter": 1659979196538,
                      "cursor": "qA",
                      "syncToken": "6W05prn4d",
                      "limit": 25
                    }
                  },
                  {
                    "properties": {
                      "expand": {
                        "type": "array",
                        "description": "Choose to expand the result and include additional data for related objects. \n",
                        "items": {
                          "type": "string",
                          "enum": [
                            "openings"
                          ]
                        }
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "Hired",
                          "Archived",
                          "Active",
                          "Lead"
                        ]
                      },
                      "jobId": {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.list endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                                  },
                                  {
                                    "$ref": "#/paths/~1application.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results/allOf/1"
                                  }
                                ]
                              }
                            }
                          }
                        }
                      ],
                      "required": [
                        "results"
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.transfer": {
      "post": {
        "summary": "application.transfer",
        "operationId": "applicationTransfer",
        "description": "Transfer an application to a different job.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationtransfer) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to transfer."
                      }
                    ]
                  },
                  "jobId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the job to transfer the application to."
                      }
                    ]
                  },
                  "interviewPlanId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the interview plan to transfer the application to. \n"
                      }
                    ]
                  },
                  "interviewStageId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The interview stage of the interview plan to transfer the application to. \n"
                      }
                    ]
                  },
                  "startAutomaticActivities": {
                    "allOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "description": "Whether to start any automatic activities set on the target interview stage. \nIf not provided, the default value is `true`.\n"
                      },
                      {
                        "default": true
                      }
                    ]
                  }
                },
                "required": [
                  "applicationId",
                  "jobId",
                  "interviewPlanId",
                  "interviewStageId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "jobId": "2c6991c5-c9e2-4af8-879e-29c5a9d26509",
                  "interviewPlanId": "af94aedd-b743-462c-ab22-9e7e356c11b4",
                  "interviewStageId": "5eb15197-8664-48fd-99cf-fbdc9d25149d"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.transfer endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.update": {
      "post": {
        "summary": "application.update",
        "operationId": "applicationUpdate",
        "description": "Update an application\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationupdate) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the application to update"
                      }
                    ]
                  },
                  "sourceId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The source to set on the application being created."
                      }
                    ]
                  },
                  "creditedToUserId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the user the application will be credited to."
                      }
                    ]
                  },
                  "createdAt": {
                    "allOf": [
                      {
                        "description": "An ISO date string to set the application's `createdAt` timestamp. When this value isn't provided, the `createdAt` timestamp defaults to the time the the call was made.\n"
                      },
                      {
                        "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                      }
                    ]
                  },
                  "sendNotifications": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether or not users who are subscribed to the application should be notified that application was updated. Default is true."
                  }
                },
                "required": [
                  "applicationId"
                ],
                "example": {
                  "applicationId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "createdAt": "2021-01-01T00:00:00Z",
                  "creditedToUserId": "3ae2b801-19f6-41ef-ad28-214bd731948f",
                  "sourceId": "3ae2b801-19f6-41ef-ad28-214bd731948f"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.update endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.updateHistory": {
      "post": {
        "summary": "application.updateHistory",
        "operationId": "applicationUpdateHistory",
        "description": "Update the history of an application. This endpoint is used to update the history of an application, such as setting the entered stage time or deleting a history event.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationupdatehistory) permission and the `Allow updating application history?` setting found in your admin API key permissions configuration.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "description": "The id of the application to fetch."
                          },
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      },
                      "applicationHistory": {
                        "type": "array",
                        "description": "The updated array of application history events. This array should contain all history events for the application, not just the events being updated.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stageId": {
                              "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                            },
                            "stageNumber": {
                              "type": "integer",
                              "title": "Stage Number",
                              "description": "The order of the history event in the application's history. 0 is the first event."
                            },
                            "enteredStageAt": {
                              "description": "The time the application entered the stage.",
                              "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                            },
                            "applicationHistoryId": {
                              "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                              "title": "Application History ID",
                              "description": "The id of the application history event to update if you are updating an existing event."
                            },
                            "archiveReasonId": {
                              "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                              "title": "Archive Reason ID",
                              "description": "The id of the archive reason to associate with the history event if the stage type is `archived`."
                            }
                          },
                          "required": [
                            "stageId",
                            "stageNumber",
                            "enteredStageAt"
                          ]
                        }
                      }
                    },
                    "required": [
                      "applicationId",
                      "applicationHistory"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the application.updateHistory endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "allOf": [
                                {
                                  "$ref": "#/webhooks/pushToHRIS/post/requestBody/content/application~1json/schema/properties/data/properties/application"
                                },
                                {
                                  "$ref": "#/paths/~1application.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results/allOf/1"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "applicationHistory": {
                                      "type": "array",
                                      "items": {
                                        "$ref": "#/paths/~1application.listHistory/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/items"
                                      }
                                    },
                                    "applicationFormSubmissions": {
                                      "type": "array",
                                      "description": "Application form submissions. These match the response from the `applicationForm.submit` endpoint. Use of the expand parameter is required to fetch.",
                                      "items": {
                                        "$ref": "#/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results/properties/submittedFormInstance"
                                      }
                                    },
                                    "referrals": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "user": {
                                            "$ref": "#/paths/~1user.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results"
                                          },
                                          "referredAt": {
                                            "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.listHistory": {
      "post": {
        "summary": "application.listHistory",
        "operationId": "applicationListHistory",
        "description": "Fetch a paginated list of application history items for an application.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationListHistory) permission.**\n",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "description": "The id of the application to fetch."
                          },
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          }
                        ]
                      }
                    }
                  },
                  {
                    "required": [
                      "applicationId"
                    ],
                    "type": "object",
                    "properties": {
                      "cursor": {
                        "$ref": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/cursor"
                      },
                      "limit": {
                        "$ref": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/limit"
                      }
                    },
                    "example": {
                      "cursor": "qA",
                      "limit": 25
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the application.listHistory endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "allOf": [
                            {
                              "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                            },
                            {
                              "title": "Success response"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "moreDataAvailable": {
                                  "type": "boolean",
                                  "description": "Whether the cursor can be used to fetch a subsequent page of data."
                                },
                                "nextCursor": {
                                  "$ref": "#/paths/~1project.list/post/requestBody/content/application~1json/schema/properties/cursor"
                                }
                              },
                              "required": [
                                "moreDataAvailable"
                              ]
                            }
                          ]
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                  },
                                  "stageId": {
                                    "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                  },
                                  "title": {
                                    "type": "string",
                                    "title": "Title",
                                    "example": "Offer"
                                  },
                                  "enteredStageAt": {
                                    "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                  },
                                  "leftStageAt": {
                                    "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                  },
                                  "stageNumber": {
                                    "type": "integer",
                                    "title": "Stage Number",
                                    "description": "The order of the history event in the application's history. 0 is the first event."
                                  },
                                  "allowedActions": {
                                    "type": "array",
                                    "items": {
                                      "type": "enum",
                                      "enum": [
                                        "none",
                                        "delete",
                                        "set_entered_at"
                                      ]
                                    },
                                    "title": "Allowed Actions",
                                    "description": "Actions that can be performed on the application via `application.updateHistory`.",
                                    "example": [
                                      "delete",
                                      "set_entered_at"
                                    ]
                                  },
                                  "actorId": {
                                    "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId",
                                    "title": "Actor ID",
                                    "description": "The ID of the user that performed the stage change."
                                  }
                                },
                                "required": [
                                  "id",
                                  "stageId",
                                  "title",
                                  "enteredStageAt",
                                  "allowedActions",
                                  "stageNumber"
                                ]
                              }
                            }
                          }
                        }
                      ],
                      "required": [
                        "results"
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/applicationFeedback.list": {
      "post": {
        "summary": "applicationFeedback.list",
        "operationId": "applicationFeedbackList",
        "description": "List all feedback associated with an application.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationfeedbacklist) permission.**\n\nThe `submittedValues` field in the response contains the submitted feedback in an object where the key is the path of the field and the value is the value submitted for that field.\n",
        "tags": [
          "Application Feedback"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/paths/~1application.list/post/requestBody/content/application~1json/schema/allOf/0"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "applicationId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the application you'd like to fetch feedback for"
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the applicationFeedback.list endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "allOf": [
                                      {
                                        "$ref": "#/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results/properties/submittedFormInstance"
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "submittedByUser": {
                                            "$ref": "#/paths/~1user.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results"
                                          },
                                          "interviewId": {
                                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                          },
                                          "feedbackFormDefinitionId": {
                                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                          },
                                          "applicationHistoryId": {
                                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                          },
                                          "applicationId": {
                                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                          },
                                          "submittedAt": {
                                            "$ref": "#/paths/~1candidate.createNote/post/requestBody/content/application~1json/schema/properties/createdAt"
                                          }
                                        }
                                      }
                                    ],
                                    "required": [
                                      "submittedByUser",
                                      "applicationId"
                                    ]
                                  }
                                ]
                              }
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.addHiringTeamMember": {
      "post": {
        "summary": "application.addHiringTeamMember",
        "description": "Adds an Ashby user to the hiring team at the application level. \n\n**Requires the [`candidateWrite`](authentication#permissions-applicationaddhiringteammember) permission.**\n",
        "operationId": "applicationaddhiringteammember",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "applicationId",
                  "teamMemberId",
                  "roleId"
                ],
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "description": "The application to assign the user a role on."
                      },
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    ]
                  },
                  "teamMemberId": {
                    "allOf": [
                      {
                        "description": "The id of the user to assign the role to."
                      },
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    ]
                  },
                  "roleId": {
                    "allOf": [
                      {
                        "description": "The id of the hiring team role to assign."
                      },
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the application.addHiringTeamMember endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "$ref": "#/paths/~1hiringTeam.addMember/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results"
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "title": "Error response",
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/application.removeHiringTeamMember": {
      "post": {
        "summary": "application.removeHiringTeamMember",
        "description": "Removes an Ashby user to the hiring team at the application level. \n\n**Requires the [`candidateWrite`](authentication#permissions-applicationremovehiringteammember) permission.**\n",
        "operationId": "applicationremovehiringteammember",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "applicationId",
                  "teamMemberId",
                  "roleId"
                ],
                "properties": {
                  "applicationId": {
                    "allOf": [
                      {
                        "description": "The application to unassign the user a role from."
                      },
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    ]
                  },
                  "teamMemberId": {
                    "allOf": [
                      {
                        "description": "The id of the user to unassign the role from."
                      },
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    ]
                  },
                  "roleId": {
                    "allOf": [
                      {
                        "description": "The id of the hiring team role to unassign."
                      },
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the application.removeHiringTeamMember endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "$ref": "#/paths/~1hiringTeam.addMember/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results"
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "title": "Error response",
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/applicationHiringTeamRole.list": {
      "post": {
        "summary": "applicationHiringTeamRole.list",
        "operationId": "applicationHiringTeamRoleList",
        "description": "Gets all available hiring team roles for applications in the organization.\n\n**Requires the [`candidatesRead`](authentication#permissions-applicationHiringTeamRoleList) permission.**\n",
        "tags": [
          "Application Hiring Team Role"
        ],
        "responses": {
          "200": {
            "description": "Responses from the applicationHiringTeamRole.list endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "title"
                                    ]
                                  }
                                ]
                              }
                            }
                          }
                        }
                      ],
                      "required": [
                        "results"
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/applicationFeedback.submit": {
      "post": {
        "summary": "applicationFeedback.submit",
        "description": "Application feedback forms support a variety of field types. \n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationfeedbacksubmit) permission.**\n\nThe values accepted for each field depend on the type of field that's being filled out:                                                                                                                                                                                                                 |\n- `Boolean` - A boolean value\n- `Date` - A date string in the format YYYY-MM-DD\n- `Email` - A valid email address\n- `Number` - An integer\n- `RichText` - We do not support submitting rich text documents via the API but we do support submitting plain text values for these fields. Plain text values must be submitted in the format `{ type: \"PlainText\", value: \"A plain text string\" }`\n- `Score` - An integer between 1 and 4 submitted in the format `{ score: 4 }`\n- `Phone`, `String` A string\n- `ValueSelect` - A string that matches the value of one of the ValueSelect field's selectable options\n- `MultiValueSelect` - An array of strings that exist in the MultiValueSelect field's selectable options\n\nThe `submittedValues` field in the response contains the submitted feedback in an object where the key is the path of the field and the value is the value submitted for that field.\n",
        "operationId": "applicationfeedbacksubmit",
        "tags": [
          "Application Feedback"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "feedbackForm",
                      "formDefinitionId",
                      "applicationId"
                    ],
                    "properties": {
                      "feedbackForm": {
                        "$ref": "#/paths/~1offer.create/post/requestBody/content/application~1json/schema/properties/offerForm"
                      },
                      "formDefinitionId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the feedback form definition associated with the form submission"
                          }
                        ]
                      },
                      "applicationId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the application you're submitting feedback for"
                          }
                        ]
                      },
                      "userId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the user the feedback will be credited to.\nIf a userId is not provided, the feedback will be credited to the API key user.\n"
                          }
                        ]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "feedbackForm",
                      "formDefinitionId",
                      "applicationId",
                      "userId",
                      "interviewEventId"
                    ],
                    "properties": {
                      "feedbackForm": {
                        "$ref": "#/paths/~1offer.create/post/requestBody/content/application~1json/schema/properties/offerForm"
                      },
                      "formDefinitionId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the feedback form definition associated with the form submission"
                          }
                        ]
                      },
                      "applicationId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the application you're submitting feedback for"
                          }
                        ]
                      },
                      "userId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the user the feedback will be credited to. \nThe user must be an interviewer on the interview event that feedback is being submitted for.\n"
                          }
                        ]
                      },
                      "interviewEventId": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                          },
                          {
                            "description": "The id of the interview event you're submitting feedback for.\n"
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the applicationFeedback.submit endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "object",
                              "properties": {
                                "submittedFormInstance": {
                                  "$ref": "#/paths/~1applicationForm.submit/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results/properties/submittedFormInstance"
                                }
                              }
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/applicationForm.submit": {
      "post": {
        "summary": "applicationForm.submit",
        "description": "Submit an application for a job posting.\n\n**Requires the [`candidatesWrite`](authentication#permissions-applicationformsubmit) permission.**\n\nThe Content-Type of this request must be `multipart/form-data`.\n\n**Note: The requests generated from this documentation will not work for this endpoint.**\n\nThe values accepted for each field depend on the type of field that's being filled out:                                                                                                                                                                                                                 |\n- `Boolean` - A boolean value\n- `Date` - A date string in the format YYYY-MM-DD\n- `Email` - A valid email address\n- `Number` - An integer\n- `RichText` - We do not support submitting rich text documents via the API but we do support submitting plain text values for these fields. Plain text values must be submitted in the format `{ type: \"PlainText\", value: \"A plain text string\" }`\n- `Score` - An integer between 1 and 4 submitted in the format `{ score: 4 }`\n- `Phone`, `String` A string\n- `ValueSelect` - A string that matches the value of one of the ValueSelect field's selectable options\n- `MultiValueSelect` - An array of strings that exist in the MultiValueSelect field's selectable options\n- `Location` - An object with the following properties: `{ country: \"USA\", city: \"San Francisco\", region: \"California\" }`. You may provide any combination of these properties and we will attempt to geocode the location. For best results, provide all three properties.\n",
        "operationId": "applicationformsubmit",
        "tags": [
          "Application Form"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "jobPostingId",
                  "applicationForm"
                ],
                "properties": {
                  "jobPostingId": {
                    "allOf": [
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      },
                      {
                        "description": "The id of the job posting to submit an application for"
                      }
                    ]
                  },
                  "applicationForm": {
                    "$ref": "#/paths/~1offer.create/post/requestBody/content/application~1json/schema/properties/offerForm"
                  },
                  "utmData": {
                    "type": "object",
                    "properties": {
                      "utm_source": {
                        "type": "string"
                      },
                      "utm_campaign": {
                        "type": "string"
                      },
                      "utm_medium": {
                        "type": "string"
                      },
                      "utm_term": {
                        "type": "string"
                      },
                      "utm_content": {
                        "type": "string"
                      }
                    }
                  },
                  "tagIds": {
                    "type": "array",
                    "description": "The ids of the tags to apply to the candidate",
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                        }
                      ]
                    }
                  },
                  "allowSubmissionForUnpublishedJobPosting": {
                    "type": "boolean",
                    "example": true,
                    "description": "Defaults to true. If you are running a custom built careers page that is statically generated, you may want to set this to true to allow applications to be submitted in the time a job is unpublished and your careers page is refreshed. If set to false, applications submitted for unpublished job postings will return a `job_posting_not_published` error."
                  },
                  "\u003Cfile  key\u003E": {
                    "type": "string",
                    "description": "Any file referenced  in the `applicationForm`.   The name of this field must exactly match the `value` on the `fieldSubmission` that references this file.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the applicationFeedback.submit endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "object",
                              "properties": {
                                "submittedFormInstance": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                    },
                                    "formDefinition": {
                                      "$ref": "#/paths/~1offer.start/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/results/properties/formDefinition"
                                    },
                                    "submittedValues": {
                                      "type": "object",
                                      "example": {
                                        "_systemfield_name": "Joe Smith"
                                      }
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "formDefinition",
                                    "submittedValues"
                                  ]
                                },
                                "formMessages": {
                                  "type": "object",
                                  "properties": {
                                    "blockMessageForCandidateHtml": {
                                      "type": "string",
                                      "description": "A message to display to the candidate if they been blocked from applying due to application limits",
                                      "example": "\u003Cdiv\u003E\u003Cp\u003EIn order to give as many candidates as possible an opportunity to apply we have limiting the number of applications a single candidate may submit. Unfortunately we cannot, accept your application at this time.\u003C/p\u003E\u003C/div\u003E\n"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/approvalDefinition.update": {
      "post": {
        "summary": "approvalDefinition.update",
        "operationId": "approvalDefinitionUpdate",
        "description": "Create or update an approval definition for a specific entity that requires approval. The entity requiring approval must be within scope of an approval in Ashby that is marked as being managed by the API.\n\nIf the provided approval step definitions is an empty list, then approval will be skipped and the entity will proceed to the next stage.\n\n**Requires the [`approvalsWrite`](authentication#permissions-approvaldefinitionupdate) permission.**\n",
        "tags": [
          "Approval Definition"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entityType": {
                    "type": "string",
                    "enum": [
                      "offer"
                    ]
                  },
                  "entityId": {
                    "allOf": [
                      {
                        "description": "The id of the approval entity being updated (e.g. the id of the offer version)."
                      },
                      {
                        "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                      }
                    ]
                  },
                  "approvalStepDefinitions": {
                    "type": "array",
                    "description": "An ordered list of approval steps that describes the number of required approvers at each step, as well as who is an approver at each step.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "approvalsRequired": {
                          "type": "integer",
                          "description": "The number of approvers required to approve this step, before the approval moves on to the next step. The number of approvers must be non-zero and no more than the number of approvers in this step."
                        },
                        "approvers": {
                          "type": "array",
                          "description": "An unordered list of who can approve this step.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "userId": {
                                "allOf": [
                                  {
                                    "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                  },
                                  {
                                    "description": "The id of a user who is an approver for this step."
                                  }
                                ]
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "user"
                                ]
                              }
                            },
                            "required": [
                              "userId",
                              "type"
                            ]
                          }
                        }
                      },
                      "required": [
                        "approvalsRequired",
                        "approvers"
                      ]
                    }
                  },
                  "submitApprovalRequest": {
                    "type": "boolean",
                    "description": "Control whether an approval request created through this API should be immediately submitted.\nIf false, then the approval will need to be manually submitted in the Ashby app.\nDefault: false\n"
                  }
                },
                "required": [
                  "entityType",
                  "entityId",
                  "approvalStepDefinitions"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses from the approvalDefinition.update endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "type": "object"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "allOf": [
                                    {
                                      "description": "The id of the approval definition."
                                    },
                                    {
                                      "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                    }
                                  ]
                                },
                                "entityType": {
                                  "type": "string",
                                  "enum": [
                                    "Offer"
                                  ]
                                },
                                "entityId": {
                                  "allOf": [
                                    {
                                      "description": "The id of the approval entity (e.g. the id of the offer version)."
                                    },
                                    {
                                      "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                    }
                                  ]
                                },
                                "approvalStepDefinitions": {
                                  "$ref": "#/paths/~1approvalDefinition.update/post/requestBody/content/application~1json/schema/properties/approvalStepDefinitions"
                                }
                              },
                              "required": [
                                "entityType",
                                "entityId",
                                "approvalStepDefinitions"
                              ]
                            }
                          }
                        },
                        {
                          "required": [
                            "results"
                          ]
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/archiveReason.list": {
      "post": {
        "summary": "archiveReason.list",
        "description": "Lists archive reasons\n\n**Requires the [`hiringProcessMetadataRead`](authentication#permissions-archivereasonlist) permission.**\n",
        "operationId": "archivereasonlist",
        "tags": [
          "Archive Reason"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "includeArchived": {
                    "type": "boolean",
                    "description": "When true, includes archived interview plans",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Responses for the archiveReason.list endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Success Response",
                      "allOf": [
                        {
                          "$ref": "#/paths/~1job.info/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                        },
                        {
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "$ref": "#/paths/~1interviewerPool.addUser/post/requestBody/content/application~1json/schema/properties/userId"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "Too inexperienced"
                                  },
                                  "reasonType": {
                                    "enum": [
                                      "RejectedByCandidate",
                                      "RejectedByOrg",
                                      "Other"
                                    ],
                                    "example": "RejectedByOrg"
                                  },
                                  "isArchived": {
                                    "$ref": "#/paths/~1interviewPlan.list/post/responses/200/content/application~1json/schema/oneOf/0/allOf/2/properties/results/items/properties/isArchived"
                                  }
                                },
                                "required": [
                                  "id",
                                  "text",
                                  "reasonType",
                                  "isArchived"
                                ]
                              }
[...]
