package {{ .Package }}

import (
	"context"
	"errors"
	"net/http"

	"github.com/amp-labs/connectors/common"
	"github.com/amp-labs/connectors/common/paramsbuilder"
	"golang.org/x/oauth2"
)

const (
	// DefaultPageSize is number of elements per page.
	DefaultPageSize = 100 // TODO replace with connectors maximum (desired) page size
)

// Option is a function which mutates the connector configuration.
type Option = func(params *parameters)

// parameters surface options by delegation.
type parameters struct { // TODO determine which parameters to preserve when instantiating this Connector
	paramsbuilder.Client    // Always needed
	paramsbuilder.Workspace // Only needed if workspace is a part of the base URL for the API
	// TODO setupError is optional and depends if any With<Method> can fail.
	// Error is set when any With<Method> fails, used for parameters validation.
	setupError error
}

func (p parameters) ValidateParams() error {
	if p.setupError != nil {
		return p.setupError
	}

	return errors.Join(
		p.Client.ValidateParams(),
		p.Workspace.ValidateParams(),
	)
}

// TODO use Oauth2 example or other
func WithClient(ctx context.Context, client *http.Client,
	config *oauth2.Config, token *oauth2.Token, opts ...common.OAuthOption,
) Option {
	return func(params *parameters) {
		params.WithOauthClient(ctx, client, config, token, opts...)
	}
}

// TODO use API key example or other
func WithClient(ctx context.Context, client *http.Client,
	apiKey string,
	opts ...common.QueryParamAuthClientOption,
) Option {
	return func(params *parameters) {
		info, err := providers.ReadInfo(providers.{{ .Provider }})
		if err != nil {
			params.setupError = err

			return
		}

		queryParam, err := info.GetApiKeyQueryParamName()
		if err != nil {
			params.setupError = err

			return
		}

		params.WithApiKeyQueryParamClient(ctx, client, queryParam, apiKey, opts...)
	}
}

func WithAuthenticatedClient(client common.AuthenticatedHTTPClient) Option {
	return func(params *parameters) {
		params.WithAuthenticatedClient(client)
	}
}

func WithWorkspace(workspaceRef string) Option {
	return func(params *parameters) {
		params.WithWorkspace(workspaceRef)
	}
}
