{"openapi":"3.1.0","info":{"title":"Monaco Public API","description":"Public API for Monaco","version":"1.0.0"},"servers":[{"url":"https://api.monaco.com"}],"paths":{"/v1/contacts/list":{"post":{"tags":["Contacts"],"summary":"List Contacts","description":"Returns a paginated list of contacts.","operationId":"list_contacts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactListRequest"},"examples":{"lookup_by_email":{"summary":"Look up one contact by exact email","value":{"filters":[{"field":"email","condition":"equals","value":"jane@acme.com"}],"page_size":1}},"search_by_name":{"summary":"Partial name match","value":{"filters":[{"field":"full_name","condition":"contains","value":"Jane"}]}},"unfiltered":{"summary":"First page, no filters","value":{"page":1,"page_size":50}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_ContactResponse_"},"example":{"data":[{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-415-555-0132","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":["Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"buyer","custom_field_2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6e":"2026-04-18"}],"pagination":{"page":1,"page_size":50,"total_count":87,"total_pages":2},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/contacts/":{"put":{"tags":["Contacts"],"summary":"Upsert a Contact","description":"Creates a new contact or updates an existing one.\n\n**Identifiers** — with only `linkedin_url`, also pass `account_id` or `domain`.\n\n**Duplicate resolution** — matched against existing contacts by `email` (case-insensitive), then `linkedin_url`. A match is updated in place, otherwise a contact is created. Unlike `POST /contacts`, a duplicate identifier is not a 409. The exception: if the identifiers resolve to two *different* contacts on the same account, neither can be updated and a 409 is returned.\n\n**Account resolution priority** — when creating: `account_id`, then `domain`, then the domain parsed from `email`.\n\n**Enrichment** — creating a contact synchronously enriches it and resolves or creates its account, so those requests can take several seconds. Use generous timeouts (10s+) and keep upserts off hot paths.","operationId":"upsert_contact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactCreateRequest"},"examples":{"complete":{"summary":"Upsert contact with every field","value":{"email":"jane@acme.com","linkedin_url":"https://linkedin.com/in/janesmith","first_name":"Jane","last_name":"Smith","title":"VP of Engineering","phone_number":"+1-415-555-0132","location":"San Francisco, CA","account_id":"550e8400-e29b-41d4-a716-446655440000","domain":"acme.com","do_not_contact":false,"tags":["550e8400-e29b-41d4-a716-446655440001"],"custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-415-555-0132","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":["Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"post":{"tags":["Contacts"],"summary":"Create a Contact","description":"Creates a new contact.\n\n**Identifiers** — with only `linkedin_url`, also pass `account_id` or `domain`.\n\n**Account resolution priority** — `account_id`, then `domain`, then the domain parsed from `email`.\n\n**Enrichment** — creation synchronously enriches the contact (name, title, company association) and resolves or creates its account, so requests can take several seconds. Use generous timeouts (10s+) and keep creates off hot paths.","operationId":"create_contact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactCreateRequest"},"examples":{"complete":{"summary":"Create contact with every field","value":{"email":"jane@acme.com","linkedin_url":"https://linkedin.com/in/janesmith","first_name":"Jane","last_name":"Smith","title":"VP of Engineering","phone_number":"+1-415-555-0132","location":"San Francisco, CA","account_id":"550e8400-e29b-41d4-a716-446655440000","domain":"acme.com","do_not_contact":false,"tags":["550e8400-e29b-41d4-a716-446655440001"],"custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-415-555-0132","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":[],"created_at":"2026-04-21T12:00:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/contacts/{contact_id}":{"patch":{"tags":["Contacts"],"summary":"Update a Contact","description":"Updates an existing contact by its `contact_id`.","operationId":"update_contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contact Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-415-555-0132","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","notes":"Met at SaaStr 2025","do_not_contact":false,"scoring":{"heat_score":"Hot"},"tags":["Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"get":{"tags":["Contacts"],"summary":"Get a Contact","description":"Gets a single contact by its `contact_id`. The detail response includes scoring, source attribution, and custom fields. Pass `include_reasoning=true` to get each custom field as a `{value, reasoning, confidence, citations}` object.","operationId":"get_contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contact Id"}},{"name":"include_reasoning","in":"query","required":false,"schema":{"type":"boolean","description":"When true, each `custom_field_<uuid>` key is returned as an object with inline AI reasoning: `{value, reasoning, confidence, citations}`.","default":false,"title":"Include Reasoning"},"description":"When true, each `custom_field_<uuid>` key is returned as an object with inline AI reasoning: `{value, reasoning, confidence, citations}`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactDetailResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-415-555-0132","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"linkedin","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"heat_score_explanation":{"explanations":[{"signal_type":"intent","signal_point":"Opened last 3 emails"}],"firmographic":[]},"tags":["Interested","Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer","custom_field_2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6e":"2026-04-18"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Contacts"],"summary":"Delete a Contact","description":"Deletes a contact by its `contact_id`. Returns 204 No Content on success. This is irreversible.","operationId":"delete_contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contact Id"}}],"responses":{"204":{"description":"Contact deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/accounts/list":{"post":{"tags":["Accounts"],"summary":"List Accounts","description":"Returns a paginated list of accounts.","operationId":"list_accounts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountListRequest"},"examples":{"search_by_name":{"summary":"Partial name match","value":{"filters":[{"field":"name","condition":"contains","value":"Acme"}]}},"created_since":{"summary":"Created since a date","value":{"filters":[{"field":"created_at","condition":"greater_than","value":"2026-01-01"}]}},"unfiltered":{"summary":"First page, no filters","value":{"page":1,"page_size":50}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_AccountResponse_"},"example":{"data":[{"id":"acc_abc123","name":"Acme Corp","status":"PROSPECTING","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"tags":["Enterprise","High Priority"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high","custom_field_8b2d1f3c-4e5a-4b9f-ac2d-3e4f5a6b7c8d":"2026-09-30"}],"pagination":{"page":1,"page_size":50,"total_count":142,"total_pages":3},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/accounts/":{"put":{"tags":["Accounts"],"summary":"Upsert an Account","description":"Creates a new account or updates an existing one. `domain` is the matching identifier.\n\n**Duplicate resolution** — an exact `domain` match is updated in place, otherwise an account is created (a company record for the domain must exist in our data sources).\n\n**Enrichment** — creation synchronously enriches the account with firmographic data (industry, employee count, funding), so requests can take several seconds. Use generous timeouts (10s+) and keep creates off hot paths.","operationId":"upsert_account","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountUpsertRequest"},"examples":{"complete":{"summary":"Upsert account with every field","value":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","name":"Acme Corp","status":"NEW","notes":"Key enterprise prospect","owner":"550e8400-e29b-41d4-a716-446655440000","tags":["550e8400-e29b-41d4-a716-446655440001"],"custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AccountResponse_"},"example":{"data":{"id":"acc_abc123","name":"Acme Corp","status":"NEW","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"tags":["Enterprise"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-15T10:30:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/accounts/{account_id}":{"patch":{"tags":["Accounts"],"summary":"Update an Account","description":"Updates an existing account by its `account_id`.","operationId":"update_account","parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Account Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AccountResponse_"},"example":{"data":{"id":"acc_abc123","name":"Acme Corp","status":"PROSPECTING","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"tags":["Enterprise","High Priority"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"get":{"tags":["Accounts"],"summary":"Get an Account","description":"Gets a single account by its `account_id`. The detail response includes enriched company information, scoring, and custom fields. Pass `include_reasoning=true` to get each custom field as a `{value, reasoning, confidence, citations}` object.","operationId":"get_account","parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Account Id"}},{"name":"include_reasoning","in":"query","required":false,"schema":{"type":"boolean","description":"When true, each `custom_field_<uuid>` key is returned as an object with inline AI reasoning: `{value, reasoning, confidence, citations}`.","default":false,"title":"Include Reasoning"},"description":"When true, each `custom_field_<uuid>` key is returned as an object with inline AI reasoning: `{value, reasoning, confidence, citations}`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AccountDetailResponse_"},"example":{"data":{"id":"acc_abc123","name":"Acme Corp","status":"PROSPECTING","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"heat_score_explanation":{"explanations":[{"signal_type":"web_visit","signal_point":"Visited pricing page 3 times in the last 7 days"}],"firmographic":[]},"tags":["Enterprise","High Priority"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high","custom_field_8b2d1f3c-4e5a-4b9f-ac2d-3e4f5a6b7c8d":"2026-09-30","custom_field_9c3e2a4d-5f6b-4cad-bd3e-4f5a6b7c8d9e":125000},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Accounts"],"summary":"Delete an Account","description":"Deletes an account by its `account_id`. Returns 204 No Content on success. This is irreversible — associated contacts and opportunities are not deleted but may become unlinked.","operationId":"delete_account","parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Account Id"}}],"responses":{"204":{"description":"Account deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/opportunities/list":{"post":{"tags":["Opportunities"],"summary":"List Opportunities","description":"Returns a paginated list of opportunities.","operationId":"list_opportunities","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityListRequest"},"examples":{"search_by_name":{"summary":"Partial name match","value":{"filters":[{"field":"name","condition":"contains","value":"Acme"}]}},"filter_by_account":{"summary":"Opportunities for one or more accounts","value":{"filters":[{"field":"account_id","condition":"is","value":["550e8400-e29b-41d4-a716-446655440000","550e8400-e29b-41d4-a716-446655440001"]}]}},"unfiltered":{"summary":"First page, no filters","value":{"page":1,"page_size":50}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_OpportunityResponse_"},"example":{"data":[{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"Meeting Booked","estimated_value":{"currency_code":"USD","amount":50000},"estimated_close_date":"2025-09-30","actual_close_date":"2025-10-15","summary":"Enterprise deal with strong champion. Procurement review in progress.","risks":["Budget constraints","Competing vendor evaluation"],"notes":"Follow up after Q3 board meeting","tags":["High Priority"],"last_activity_at":"2025-08-20T14:30:00Z","updated_at":"2025-08-21T14:30:00Z","created_at":"2025-06-01T09:00:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound","custom_field_6ba7b810-9dad-11d1-80b4-00c04fd430c8":"commit"}],"pagination":{"page":1,"page_size":50,"total_count":34,"total_pages":1},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/opportunities/{opportunity_id}":{"get":{"tags":["Opportunities"],"summary":"Get an Opportunity","description":"Gets a single opportunity by its `opportunity_id`. The detail response includes the AI-generated summary, identified risks, and custom fields. Pass `include_reasoning=true` to get each custom field as a `{value, reasoning, confidence, citations}` object.","operationId":"get_opportunity","parameters":[{"name":"opportunity_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Opportunity Id"}},{"name":"include_reasoning","in":"query","required":false,"schema":{"type":"boolean","description":"When true, each `custom_field_<uuid>` key is returned as an object with inline AI reasoning: `{value, reasoning, confidence, citations}`.","default":false,"title":"Include Reasoning"},"description":"When true, each `custom_field_<uuid>` key is returned as an object with inline AI reasoning: `{value, reasoning, confidence, citations}`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_OpportunityDetailResponse_"},"example":{"data":{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"negotiation","estimated_value":{"currency_code":"USD","amount":50000},"estimated_close_date":"2025-09-30","actual_close_date":"2025-10-15","summary":"Enterprise deal with strong champion. Procurement review in progress.","risks":["Budget constraints","Competing vendor evaluation"],"notes":"Follow up after Q3 board meeting","tags":["High Priority"],"last_activity_at":"2025-08-20T14:30:00Z","updated_at":"2025-08-21T14:30:00Z","created_at":"2025-06-01T09:00:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound","custom_field_6ba7b810-9dad-11d1-80b4-00c04fd430c8":"commit","custom_field_f47ac10b-58cc-4372-a567-0e02b2c3d479":"Initech"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Opportunities"],"summary":"Update an Opportunity","description":"Updates an existing opportunity by its `opportunity_id`.","operationId":"update_opportunity","parameters":[{"name":"opportunity_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Opportunity Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_OpportunityResponse_"},"example":{"data":{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"Closed Won","estimated_value":{"currency_code":"USD","amount":50000},"estimated_close_date":"2025-09-30","actual_close_date":"2025-10-15","summary":"Enterprise deal with strong champion. Procurement review in progress.","risks":["Budget constraints","Competing vendor evaluation"],"notes":"Follow up after Q3 board meeting","tags":["High Priority"],"last_activity_at":"2025-08-20T14:30:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound","updated_at":"2026-04-21T12:00:00Z","created_at":"2025-06-01T09:00:00Z"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Opportunities"],"summary":"Delete an Opportunity","description":"Deletes an opportunity by its `opportunity_id`. Returns 204 No Content on success. This is irreversible.","operationId":"delete_opportunity","parameters":[{"name":"opportunity_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Opportunity Id"}}],"responses":{"204":{"description":"Opportunity deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/opportunities/":{"post":{"tags":["Opportunities"],"summary":"Create an Opportunity","description":"Creates a new opportunity associated with an existing account.","operationId":"create_opportunity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityCreateRequest"},"examples":{"complete":{"summary":"Create opportunity with every field","value":{"name":"Acme Corp - Enterprise License","account_id":"550e8400-e29b-41d4-a716-446655440000","owner_user_id":"550e8400-e29b-41d4-a716-446655440001","stage":"closed-won","estimated_value":{"currency_code":"USD","amount":50000},"estimated_close_date":"2025-09-30","notes":"Follow up after Q3 board meeting","tags":["550e8400-e29b-41d4-a716-446655440002"],"idempotency_key":"550e8400-e29b-41d4-a716-446655440003","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_OpportunityResponse_"},"example":{"data":{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"Closed Won","estimated_value":{"currency_code":"USD","amount":50000},"estimated_close_date":"2025-09-30","risks":[],"notes":"Follow up after Q3 board meeting","tags":[],"updated_at":"2026-04-21T12:00:00Z","created_at":"2026-04-21T12:00:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tasks/list":{"post":{"tags":["Tasks"],"summary":"List Tasks","description":"Returns a paginated list of tasks.","operationId":"list_tasks","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListRequest"},"examples":{"search_by_title":{"summary":"Partial title match","value":{"filters":[{"field":"title","condition":"contains","value":"Follow up"}]}},"due_before":{"summary":"Due before a date","value":{"filters":[{"field":"due_at","condition":"less_than","value":"2026-08-01"}]}},"unfiltered":{"summary":"First page, no filters","value":{"page":1,"page_size":50}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_TaskResponse_"},"example":{"data":[{"id":"tsk_abc123","account_id":"acc_def456","opportunity_id":"opp_ghi789","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"To Do","due_at":"2025-07-01T17:00:00Z","created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z"}],"pagination":{"page":1,"page_size":50,"total_count":58,"total_pages":2},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tasks/{task_id}":{"get":{"tags":["Tasks"],"summary":"Get a Task","description":"Gets a single task by its `task_id`.","operationId":"get_task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Task Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TaskResponse_"},"example":{"data":{"id":"tsk_abc123","account_id":"acc_def456","opportunity_id":"opp_ghi789","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"Done","due_at":"2025-07-01T17:00:00Z","completed_at":"2025-06-28T11:00:00Z","created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-28T11:00:00Z","message_draft":{"recipients":[{"name":"Jane Smith","email":"jane@acme.com"}],"cc":[{"name":"John Doe","email":"john@acme.com"}],"subject":"Pricing follow-up","body":"Hi Jane, following up on the proposal we discussed..."}},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Tasks"],"summary":"Update a Task","description":"Updates an existing task by its `task_id`.","operationId":"update_task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Task Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TaskResponse_"},"example":{"data":{"id":"tsk_abc123","account_id":"acc_def456","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"Done","due_at":"2025-07-01T17:00:00Z","completed_at":"2025-06-28T11:00:00Z","created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-28T11:00:00Z","message_draft":{"recipients":[{"name":"Jane Smith","email":"jane@acme.com"}],"cc":[{"name":"John Doe","email":"john@acme.com"}],"subject":"Pricing follow-up","body":"Hi Jane, following up on the proposal we discussed..."}},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tasks/":{"post":{"tags":["Tasks"],"summary":"Create a Task","description":"Creates a new task.\n\nTasks can be associated with an account (via `account_id`) and/or an opportunity (via `opportunity_id`). If no `assignee_id` is provided, the task is assigned to the caller.","operationId":"create_task","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCreateRequest"},"examples":{"complete":{"summary":"Create task with every field","value":{"title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","account_id":"550e8400-e29b-41d4-a716-446655440000","opportunity_id":"550e8400-e29b-41d4-a716-446655440001","task_type":"EMAIL","assignee_id":"550e8400-e29b-41d4-a716-446655440002","due_at":"2025-07-01T17:00:00Z","message_draft":{"recipients":[{"name":"Jane Smith","email":"jane@acme.com"}],"cc":[{"name":"John Doe","email":"john@acme.com"}],"subject":"Pricing follow-up","body":"Hi Jane, following up on the proposal we discussed..."}}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TaskResponse_"},"example":{"data":{"id":"tsk_abc123","account_id":"acc_def456","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"To Do","due_at":"2025-07-01T17:00:00Z","created_at":"2026-04-21T12:00:00Z","updated_at":"2026-04-21T12:00:00Z"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tags/":{"get":{"tags":["Tags"],"summary":"List Tags","description":"Returns every tag defined for the object type given by the `object` query parameter.","operationId":"list_tags","parameters":[{"name":"object","in":"query","required":true,"schema":{"$ref":"#/components/schemas/TagObject","description":"Object type to list tags for"},"description":"Object type to list tags for"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_TagResponse__"},"example":{"data":[{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Enterprise","color":"blue"}],"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"post":{"tags":["Tags"],"summary":"Create a Tag","description":"Creates a new tag for the `object` given in the request body.","operationId":"create_tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagCreateRequest"},"examples":{"complete":{"summary":"Create a tag with every field","value":{"object":"accounts","name":"Enterprise","color":"blue"}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TagResponse_"},"example":{"data":{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Enterprise","color":"blue"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tags/{tag_id}":{"get":{"tags":["Tags"],"summary":"Get a Tag","description":"Gets a single tag by its `tag_id`.","operationId":"get_tag","parameters":[{"name":"tag_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tag Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TagResponse_"},"example":{"data":{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Enterprise","color":"blue"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Tags"],"summary":"Update a Tag","description":"Updates a tag's `name` and/or `color` by its `tag_id`. The object type of a tag cannot be changed.","operationId":"update_tag","parameters":[{"name":"tag_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tag Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TagResponse_"},"example":{"data":{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Strategic Enterprise","color":"purple"},"meta":{"timestamp":"2026-04-22T09:30:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Tags"],"summary":"Delete a Tag","description":"Deletes a tag by its `tag_id`. The tag is removed from all entities it was applied to.","operationId":"delete_tag","parameters":[{"name":"tag_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tag Id"}}],"responses":{"204":{"description":"Tag deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/meetings/list":{"post":{"tags":["Meetings"],"summary":"List Meetings","description":"Returns a paginated list of meetings.","operationId":"list_meetings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeetingListRequest"},"examples":{"search_by_title":{"summary":"Partial title match","value":{"filters":[{"field":"title","condition":"contains","value":"Kickoff"}]}},"for_one_account":{"summary":"Meetings on one account","value":{"filters":[{"field":"account_id","condition":"is","value":"550e8400-e29b-41d4-a716-446655440000"}]}},"unfiltered":{"summary":"First page, no filters","value":{"page":1,"page_size":50}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_MeetingResponse_"},"example":{"data":[{"id":"mtg_abc123","account_id":"acc_abc123","opportunity_id":"opp_abc123","title":"Discovery Call","description":"Initial discovery call with Acme","start_time":"2026-03-01T10:00:00Z","end_time":"2026-03-01T10:30:00Z","meeting_platform":"Zoom","meeting_url":"https://zoom.us/j/123456789","organizer":{"email":"jane@acme.com","display_name":"Jane Smith"},"attendees":[{"email":"john@acme.com","display_name":"John Doe","response_status":"accepted"}],"next_actions":["Send pricing proposal by Friday","Schedule technical deep-dive"],"created_at":"2026-03-01T09:00:00Z","updated_at":"2026-03-01T09:30:00Z"}],"pagination":{"page":1,"page_size":50,"total_count":12,"total_pages":1},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/meetings/{meeting_id}":{"get":{"tags":["Meetings"],"summary":"Get a Meeting","description":"Gets a single meeting by its `meeting_id`. The detail response includes AI-generated pre-meeting notes, the AI-generated summary, a presigned video URL, and the full transcript with speaker attribution.","operationId":"get_meeting","parameters":[{"name":"meeting_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Meeting Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_MeetingDetailResponse_"},"example":{"data":{"id":"mtg_abc123","account_id":"acc_abc123","opportunity_id":"opp_abc123","title":"Discovery Call","description":"Initial discovery call with Acme","start_time":"2026-03-01T10:00:00Z","end_time":"2026-03-01T10:30:00Z","meeting_platform":"Zoom","meeting_url":"https://zoom.us/j/123456789","organizer":{"email":"jane@acme.com","display_name":"Jane Smith"},"attendees":[{"email":"john@acme.com","display_name":"John Doe","response_status":"accepted"}],"next_actions":["Send pricing proposal by Friday","Schedule technical deep-dive"],"ai_premeeting_notes":"Review Acme's expansion goals and prepare enterprise pricing options.","meeting_summary":"Discovery call with Acme. Strong interest in enterprise tier, budget confirmed for Q3.","video_url":"https://monaco-recordings.s3.amazonaws.com/...","transcript":[{"speaker":"Jane Smith","language":"en","words":[{"text":"Thanks","start_timestamp":0.5,"end_timestamp":0.9},{"text":"everyone","start_timestamp":1.0,"end_timestamp":1.5}]}],"created_at":"2026-03-01T09:00:00Z","updated_at":"2026-03-01T09:30:00Z"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequences/list":{"post":{"tags":["Sequences"],"summary":"List Sequences","description":"Returns a paginated list of sequences.","operationId":"list_sequences","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListRequest"},"examples":{"by_status":{"summary":"Only started sequences","value":{"filters":[{"field":"status","condition":"is","value":"started"}]}},"for_one_contact":{"summary":"Sequences for one contact","value":{"filters":[{"field":"contact_id","condition":"equals","value":"550e8400-e29b-41d4-a716-446655440000"}]}},"for_one_campaign":{"summary":"Sequences created by one campaign","value":{"filters":[{"field":"campaign_id","condition":"equals","value":"660e8400-e29b-41d4-a716-446655440000"}]}},"unfiltered":{"summary":"First page, no filters","value":{"page":1,"page_size":50}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_SequenceResponse_"},"example":{"data":[{"id":"seq_abc123","contact_id":"con_def456","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"started","template_id":"seqt_789ghi","created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z","last_interaction":"Email today","enqueued_at":"2026-01-16T09:00:00Z","started_at":"2026-01-16T09:05:00Z","responded_at":"2026-01-20T11:30:00Z","meeting_booked_at":"2026-01-22T15:00:00Z","sender_id":"usr_jkl012","sender_name":"Alex Rivera"},{"id":"seq_xyz789","contact_id":"con_uvw012","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"Excluded","template_id":"seqt_789ghi","created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z","sender_id":"usr_jkl012","sender_name":"Alex Rivera","exclusion_info":{"rule_name":"account_cooldown","description":"Account was contacted within the cooldown window","overridability":"HARD"}}],"pagination":{"page":1,"page_size":50,"total_count":142,"total_pages":3},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequences/{sequence_id}":{"get":{"tags":["Sequences"],"summary":"Get a Sequence","description":"Gets a single sequence by its `sequence_id`. The detail response includes the sequence's ordered list of tasks.","operationId":"get_sequence","parameters":[{"name":"sequence_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceDetailResponse_"},"example":{"data":{"id":"seq_abc123","contact_id":"con_def456","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"started","template_id":"seqt_789ghi","created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z","tasks":[{"id":"tsk_abc123","sequence_id":"seq_abc123","order":1,"name":"Send linkedin connection request","type":"auto_linkedin_connection","status":"completed","scheduled_at":"2025-10-14T23:36:09+00:00","completed_at":"2025-10-13T22:40:17.862589+00:00","task_body":"<p>Some message</p>","outcome":"accepted"}]},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Sequences"],"summary":"Update a Sequence","description":"Applies a state transition to a sequence (see the `action` field for valid values and their meanings). Returns the refreshed sequence representation, including its tasks.","operationId":"update_sequence","parameters":[{"name":"sequence_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSequenceRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceDetailResponse_"},"example":{"data":{"id":"seq_abc123","contact_id":"con_def456","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"started","template_id":"seqt_789ghi","created_at":"2026-05-18T10:30:00Z","updated_at":"2026-05-18T10:35:00Z","tasks":[]},"meta":{"timestamp":"2026-05-18T10:35:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Sequence not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"409":{"description":"Invalid state transition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequences/{sequence_id}/steps/{step_id}":{"patch":{"tags":["Sequences"],"summary":"Update a Sequence Step","description":"Updates the copy on a single step of a sequence. `step_id` is the `id` of the entry in the sequence's `tasks` list (from `get_sequence`). Supports `message` on email, InMail, LinkedIn message, LinkedIn connection-note, and gifting-email steps, and `subject` on email, InMail, and gifting-email steps. Only steps of an active (non-suggested) sequence that have not yet been completed can be edited. Only the fields you provide are updated, and omitted fields are left unchanged. Returns the refreshed step. Template variables must be namespaced. Supported tokens are `{{recipient.first_name}}`, `{{recipient.last_name}}`, `{{recipient.company}}`, `{{recipient.email}}`, `{{sender.first_name}}`, `{{sender.last_name}}`, `{{sender.company}}`, `{{sender.title}}`, and `{{sender.email}}`.","operationId":"update_sequence_step","parameters":[{"name":"sequence_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Id"}},{"name":"step_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Step Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSequenceStepRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceTaskResponse_"}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Step not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"422":{"description":"Invalid copy for this step","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/audiences/list":{"post":{"tags":["Audiences"],"summary":"List Audiences","description":"Returns a paginated list of audiences.","operationId":"list_audiences","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceListRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_AudienceResponse_"},"example":{"data":[{"id":"aud_abc123","name":"Q2 Enterprise Prospects","type":"static","status":"active","contact_count":42,"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"}],"pagination":{"page":1,"page_size":1,"total_count":1,"total_pages":1},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/audiences/{audience_id}":{"get":{"tags":["Audiences"],"summary":"Get an Audience","description":"Gets a single audience by its `audience_id`.","operationId":"get_audience","parameters":[{"name":"audience_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Audience Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AudienceResponse_"},"example":{"data":{"id":"aud_abc123","name":"Q2 Enterprise Prospects","type":"static","status":"active","contact_count":42,"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/audiences/{audience_id}/contacts":{"get":{"tags":["Audiences"],"summary":"List Audience Contacts","description":"Returns a paginated list of the contacts in an audience.","operationId":"list_audience_contacts","parameters":[{"name":"audience_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Audience Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":500,"minimum":1,"default":15,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_ContactResponse_"},"example":{"data":[{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-415-555-0132","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":["Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z"}],"pagination":{"page":1,"page_size":15,"total_count":42,"total_pages":3},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"post":{"tags":["Audiences"],"summary":"Add Contacts to Audience","description":"Adds one or more contacts to an audience by their IDs.\n\nAudiences are reusable and may be attached to multiple campaigns, so adding a contact here enrolls them in every campaign that uses this audience.","operationId":"add_contacts_to_audience","parameters":[{"name":"audience_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Audience Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceContactsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AudienceContactsResponse_"},"example":{"data":{"audience_id":"aud_abc123","failures":[]},"meta":{"timestamp":"2026-05-11T10:30:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/audiences":{"post":{"tags":["Audiences"],"summary":"Create an Audience","description":"Creates a new audience, optionally seeded with contacts — either an explicit `contact_ids` list or a `filters` query over the contacts field schemas (optionally narrowed by `excluded_ids` or `source_audience_id`).\n\nAudiences can be shared across campaigns.","operationId":"create_audience","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAudienceRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AudienceResponse_"},"example":{"data":{"id":"aud_abc123","name":"Q2 Enterprise Prospects","type":"static","status":"active","contact_count":2,"created_at":"2026-05-11T10:30:00Z","updated_at":"2026-05-11T10:30:00Z"},"meta":{"timestamp":"2026-05-11T10:30:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/audiences/{audience_id}/contacts/remove":{"post":{"tags":["Audiences"],"summary":"Remove Contacts from Audience","description":"Removes the given `contact_ids` from an audience. Idempotent — IDs not in the audience are ignored. Any per-contact failures are returned in `failures`.","operationId":"remove_contacts_from_audience","parameters":[{"name":"audience_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Audience Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AudienceContactsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AudienceContactsResponse_"},"example":{"data":{"audience_id":"aud_abc123","failures":[]},"meta":{"timestamp":"2026-05-11T10:30:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/campaigns/list":{"post":{"tags":["Campaigns"],"summary":"List Campaigns","description":"Returns a paginated list of campaigns.","operationId":"list_campaigns","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListRequest"},"examples":{"paginated":{"value":{"page":1,"page_size":50}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_CampaignResponse_"},"example":{"data":[{"id":"cmp_abc123","name":"Q3 Enterprise Outbound","status":"active","prioritized":false,"end_date":"2026-12-31","template_id":"seqt_789ghi","template_name":"Enterprise Onboarding","audiences":[{"id":"aud_abc123","name":"Enterprise West"}],"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"}],"pagination":{"page":1,"page_size":50,"total_count":7,"total_pages":1},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/campaigns/{campaign_id}":{"get":{"tags":["Campaigns"],"summary":"Get a Campaign","description":"Gets a single campaign by its `campaign_id`, including its attached audiences.","operationId":"get_campaign","parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Campaign Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_CampaignDetailResponse_"},"example":{"data":{"id":"cmp_abc123","name":"Q3 Enterprise Outbound","status":"active","prioritized":false,"end_date":"2026-12-31","template_id":"seqt_789ghi","template_name":"Enterprise Onboarding","audiences":[{"id":"aud_abc123","name":"Enterprise West"}],"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Campaigns"],"summary":"Update a Campaign","description":"Updates a campaign's content fields and/or transitions its lifecycle via `status`. Returns the refreshed campaign.\n\nTo attach or detach audiences, use `add_audiences_to_campaign` / `remove_audiences_from_campaign`.","operationId":"update_campaign","parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Campaign Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCampaignRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_CampaignDetailResponse_"},"example":{"data":{"id":"cmp_abc123","name":"Q3 Enterprise Outbound (revised)","status":"paused","prioritized":true,"end_date":"2027-01-31","template_id":"seqt_789ghi","template_name":"Enterprise Onboarding","audiences":[{"id":"aud_abc123","name":"Enterprise West"}],"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"},"meta":{"timestamp":"2026-05-10T14:22:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"400":{"description":"Invalid campaign update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"409":{"description":"Campaign is being processed and can't be updated right now","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/campaigns/":{"post":{"tags":["Campaigns"],"summary":"Create a Campaign","description":"Creates a campaign that enrolls the contacts of the given audiences onto a template, routing sends according to `distribution`.","operationId":"create_campaign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCampaignRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_CampaignDetailResponse_"},"example":{"data":{"id":"cmp_abc123","name":"Q3 Enterprise Outbound","status":"active","prioritized":true,"end_date":"2026-12-31","template_id":"seqt_789ghi","template_name":"Enterprise Onboarding","audiences":[{"id":"aud_abc123","name":"Enterprise West"}],"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-01-15T10:30:00Z"},"meta":{"timestamp":"2026-01-15T10:30:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"400":{"description":"Invalid campaign request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/campaigns/{campaign_id}/enroll":{"post":{"tags":["Campaigns"],"summary":"Enroll Contacts in a Campaign","description":"Enrolls contacts into a campaign by creating a new audience named `audience_name`, attaching it to the campaign, and adding the contacts to it. The campaign must be `active` or `paused`.\n\nThis always creates a new audience. Audiences can be shared across campaigns, so a contact added to one is enrolled in every campaign using it.","operationId":"enroll_contacts_in_campaign","parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Campaign Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrollContactsInCampaignRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_EnrollContactsInCampaignResponse_"},"example":{"data":{"success_count":3,"failure_count":1,"failure_reasons":[{"code":"contact_not_found","description":"contact not found","count":1}]},"meta":{"timestamp":"2026-07-09T10:30:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"400":{"description":"Campaign is not enrollable or the audience name is taken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/campaigns/{campaign_id}/audiences":{"post":{"tags":["Campaigns"],"summary":"Add Audiences to a Campaign","description":"Attaches the given audiences to a campaign, keeping its existing ones. Their contacts are enrolled asynchronously. Audiences already attached are ignored, so retries are safe. Returns the refreshed campaign.","operationId":"add_audiences_to_campaign","parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Campaign Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignAudiencesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_CampaignDetailResponse_"},"example":{"data":{"id":"cmp_abc123","name":"Q3 Enterprise Outbound","status":"active","prioritized":false,"end_date":"2026-12-31","template_id":"seqt_789ghi","template_name":"Enterprise Onboarding","audiences":[{"id":"aud_abc123","name":"Enterprise West"},{"id":"aud_def456","name":"Enterprise East"}],"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"},"meta":{"timestamp":"2026-05-10T14:22:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"400":{"description":"Invalid audiences","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"409":{"description":"Campaign is being processed and can't be updated right now","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/campaigns/{campaign_id}/audiences/remove":{"post":{"tags":["Campaigns"],"summary":"Remove Audiences from a Campaign","description":"Detaches the given audiences from a campaign, keeping the rest.\n\nWARNING: detaching an audience tears down in-flight sequences for its contacts — they stop receiving the campaign's sends.\n\nAudiences not attached are ignored, so retries are safe, but a campaign must keep at least one audience — a request that would remove them all is rejected.\n\nReturns the refreshed campaign.","operationId":"remove_audiences_from_campaign","parameters":[{"name":"campaign_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Campaign Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CampaignAudiencesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_CampaignDetailResponse_"},"example":{"data":{"id":"cmp_abc123","name":"Q3 Enterprise Outbound","status":"active","prioritized":false,"end_date":"2026-12-31","template_id":"seqt_789ghi","template_name":"Enterprise Onboarding","audiences":[{"id":"aud_abc123","name":"Enterprise West"},{"id":"aud_def456","name":"Enterprise East"}],"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"},"meta":{"timestamp":"2026-05-10T14:22:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"400":{"description":"Request would leave the campaign with no audiences","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"409":{"description":"Campaign is being processed and can't be updated right now","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequence-templates":{"get":{"tags":["Sequence Templates"],"summary":"List Sequence Templates","description":"Returns the list of sequence templates available to the authenticated organization.","operationId":"list_sequence_templates","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_SequenceTemplateResponse__"},"example":{"data":[{"id":"seqt_abc123","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"active","owner_id":"usr_abc123","is_default":false,"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"}],"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"post":{"tags":["Sequence Templates"],"summary":"Create a Sequence Template","description":"Creates a new sequence template. The template is created as a USER_GENERATED template.\n\nA step references a block via a `[[block:<id>]]` marker in its `message`/`subject`, and a `transition` links steps by `index` sequentially or on a branch.\n\nTemplate variables must be namespaced. Supported tokens are `{{recipient.first_name}}`, `{{recipient.last_name}}`, `{{recipient.company}}`, `{{recipient.email}}`, `{{sender.first_name}}`, `{{sender.last_name}}`, `{{sender.company}}`, `{{sender.title}}`, and `{{sender.email}}`.","operationId":"create_sequence_template","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSequenceTemplateRequest"},"examples":{"authored":{"summary":"Create a template with steps, transitions, and blocks","value":{"name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","steps":[{"index":1,"day":0,"hour":9,"type":"auto_email","subject":"Quick question","message":"<p>Hi {{recipient.first_name}} [[block:intro]]</p>"},{"index":2,"day":2,"hour":9,"type":"auto_linkedin_connection","message":"Let's connect"}],"transitions":[{"from_step_index":1,"to_step_index":2,"transition_type":"PREVIOUS_STEP_SCHEDULED","require_all":false}],"blocks":{"intro":{"name":"Intro","block_type":"MANUAL","content":"..."}}}}}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceTemplateDetailResponse_"}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequence-templates/{sequence_template_id}":{"get":{"tags":["Sequence Templates"],"summary":"Get a Sequence Template","description":"Gets a single sequence template by its `sequence_template_id`. The detail response includes the template's ordered list of steps.","operationId":"get_sequence_template","parameters":[{"name":"sequence_template_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Template Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceTemplateDetailResponse_"},"example":{"data":{"id":"seqt_abc123","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"active","owner_id":"usr_abc123","is_default":false,"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z","steps":[{"id":"stp_abc123","index":1,"title":"Intro email","day":0,"hour":9,"type":"auto_email","subject":"Quick question","message":"<p>Hi {{recipient.first_name}} [[block:abc-123]]</p>"},{"id":"stp_def456","index":2,"title":"LinkedIn follow up","day":2,"hour":10,"type":"auto_linkedin_message","message":"<p>Following up</p>"}],"blocks":{"abc-123":{"id":"abc-123","name":"Intro hook","block_type":"MANUAL","content":"Saw you launched X recently —","created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"}}},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}},"description":"Not Found"}}},"patch":{"tags":["Sequence Templates"],"summary":"Update a Sequence Template","description":"Updates an existing sequence template. `steps`, `transitions`, and `blocks` replace the current value when supplied.\n\nA step references a block via a `[[block:<id>]]` marker in its `message`/`subject`, and a `transition` links steps by `index` sequentially or on a branch.\n\nTemplate variables must be namespaced. Supported tokens are `{{recipient.first_name}}`, `{{recipient.last_name}}`, `{{recipient.company}}`, `{{recipient.email}}`, `{{sender.first_name}}`, `{{sender.last_name}}`, `{{sender.company}}`, `{{sender.title}}`, and `{{sender.email}}`.","operationId":"update_sequence_template","parameters":[{"name":"sequence_template_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Template Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSequenceTemplateRequest"},"examples":{"rename":{"summary":"Rename a template","value":{"name":"Enterprise Onboarding v2"}},"replace_steps":{"summary":"Replace the steps, transitions, and blocks","value":{"steps":[{"index":1,"day":0,"hour":9,"type":"auto_email","subject":"Quick question","message":"<p>Hi {{recipient.first_name}} [[block:intro]]</p>"},{"index":2,"day":2,"hour":9,"type":"auto_linkedin_connection","message":"Let's connect"}],"transitions":[{"from_step_index":1,"to_step_index":2,"transition_type":"PREVIOUS_STEP_SCHEDULED","require_all":false}],"blocks":{"intro":{"name":"Intro","block_type":"MANUAL","content":"..."}}}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceTemplateDetailResponse_"}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/schemas/{entity}":{"get":{"tags":["Schemas"],"summary":"Get Field Schemas for an Entity","description":"Lists the filterable and sortable fields for `entity`, one of `accounts`, `contacts`, `meetings`, `opportunities`, `sequences`, or `tasks`.\n\nEach entry carries the field's `key`, the `allowed_operators` it supports, and an `updatable` flag — `updatable: false` marks a read-only field (system-derived or create-only). Custom fields use `custom_field_{uuid}` keys and are always updatable, though AI auto-filled ones may later be overwritten by AI. Enum and select fields list their accepted values under `enum_field_settings.allowed_values`.\n\nOn `date` fields, `allowed_values` are semantic periods for the `is` and `is_not` operators, while `equals`, `greater_than`, and `less_than` take raw `YYYY-MM-DD`. `datetime` fields have no `is` operator — compare them against an ISO 8601 timestamp.","operationId":"get_field_schemas_for_entity","parameters":[{"name":"entity","in":"path","required":true,"schema":{"type":"string","title":"Entity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_FieldSchemaResponse__"},"example":{"data":[{"name":"Name","key":"name","type":"string","filterable":true,"sortable":true,"updatable":true,"allowed_operators":["contains","not_contains","is_empty","is_not_empty","equals","not_equals"]},{"name":"Status","key":"status","type":"enum","filterable":true,"sortable":true,"updatable":true,"allowed_operators":["is","is_not","is_empty","is_not_empty"],"enum_field_settings":{"allowed_values":[{"key":"NEW","display_value":"New"},{"key":"PROSPECTING","display_value":"Prospecting"},{"key":"ENGAGED","display_value":"Engaged"},{"key":"CUSTOMER","display_value":"Customer"}]}},{"name":"Owner","key":"owner","type":"uuid","filterable":true,"sortable":false,"updatable":true,"allowed_operators":["is","is_not","is_empty","is_not_empty"],"enum_field_settings":{"allowed_values":[{"key":"usr_abc123","display_value":"Jane Smith"},{"key":"usr_def456","display_value":"John Doe"}]}},{"name":"Employee Count","key":"employee_count","type":"number","parent":"company","filterable":true,"sortable":true,"updatable":false,"allowed_operators":["equals","not_equals","greater_than","less_than","greater_than_or_equals","less_than_or_equals","is_empty","is_not_empty"]},{"name":"Last Funding Date","key":"last_funding_date","type":"date","parent":"company","filterable":true,"sortable":true,"updatable":false,"allowed_operators":["is","is_not","equals","not_equals","greater_than","less_than","greater_than_or_equals","less_than_or_equals","is_empty","is_not_empty"],"enum_field_settings":{"allowed_values":[{"key":"previous_week","display_value":"Previous week"},{"key":"previous_month","display_value":"Previous month"},{"key":"previous_quarter","display_value":"Previous quarter"}]}},{"name":"Customer Fit","key":"custom_field_550e8400-e29b-41d4-a716-446655440001","type":"enum","filterable":true,"sortable":true,"updatable":true,"allowed_operators":["is","is_not","is_empty","is_not_empty"],"custom_field_settings":{"id":"550e8400-e29b-41d4-a716-446655440001","is_ai_auto_filled":false},"enum_field_settings":{"allowed_values":[{"key":"high","display_value":"High"},{"key":"medium","display_value":"Medium"}]}}],"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/me":{"get":{"tags":["Auth"],"summary":"Get Authenticated User","description":"Returns the user and organization resolved from the bearer token.","operationId":"get_me","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_MeResponse_"},"example":{"data":{"org_id":"org_abc123","user_id":"usr_abc123","user_email":"ada@example.com","user_first_name":"Ada","user_last_name":"Lovelace","org_name":"Example Inc."},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/users/":{"get":{"tags":["Users"],"summary":"List Users","description":"Returns the users in the caller's organization. Pass the optional `query` parameter to filter by substring of name or email.","operationId":"list_users","parameters":[{"name":"query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring filter on name or email.","title":"Query"},"description":"Case-insensitive substring filter on name or email."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_UserResponse__"},"example":{"data":[{"id":"550e8400-e29b-41d4-a716-446655440000","first_name":"Jane","last_name":"Smith","email":"jane@acme.com"}],"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}}},"components":{"schemas":{"AccountDetailResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the account","examples":["acc_abc123"]},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Name of the account","examples":["Acme Corp"]},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Current status of the account","examples":["PROSPECTING"]},"owner":{"anyOf":[{"$ref":"#/components/schemas/OwnerInfo"},{"type":"null"}],"description":"User who owns the account"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the account","examples":["Key enterprise prospect"]},"company":{"anyOf":[{"$ref":"#/components/schemas/CompanyInfo"},{"type":"null"}],"description":"Company information associated with the account"},"scoring":{"anyOf":[{"$ref":"#/components/schemas/api__public_api__schemas__accounts__ScoringInfo"},{"type":"null"}],"description":"Account scoring information"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"List of tag names associated with the account","examples":[["Enterprise","High Priority"]]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the account was created","examples":["2025-06-15T10:30:00Z"]},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Date and time the account was last updated","examples":["2025-06-15T10:30:00Z"]},"last_activity_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Activity At","description":"Date and time of the most recent activity (inbound or outbound) across the account's contacts","examples":["2025-06-15T10:30:00Z"]},"last_activity_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Activity Type","description":"Type of the account's most recent contact activity","examples":["outbound_email"]},"last_contacted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Contacted At","description":"Date and time of the most recent outbound interaction with the account's contacts","examples":["2025-06-15T10:30:00Z"]},"last_contacted_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Contacted Type","description":"Type of the most recent outbound interaction with the account's contacts","examples":["email"]},"last_inbound_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Inbound At","description":"Date and time of the most recent inbound interaction from the account's contacts","examples":["2025-06-15T10:30:00Z"]},"last_inbound_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Inbound Type","description":"Type of the most recent inbound interaction from the account's contacts","examples":["email"]},"heat_score_explanation":{"anyOf":[{"$ref":"#/components/schemas/ScoreExplanation"},{"type":"null"}],"description":"Per-signal explanations behind the heat score tier"}},"additionalProperties":true,"type":"object","required":["id","created_at","updated_at"],"title":"AccountDetailResponse","description":"Single-resource account response, with heat score signals.\n\nWith `include_reasoning=true`, each `custom_field_<uuid>` key holds a\n`{value, reasoning, confidence, citations}` object instead of the bare value."},"AccountListRequest":{"properties":{"filters":{"oneOf":[{"items":{"$ref":"#/components/schemas/FilterRule"},"type":"array"},{"$ref":"#/components/schemas/FilterExpression"}],"title":"Filters","description":"Filters to apply. Accepts either a flat list of filter rules, implicitly ANDed together, or a recursive filter expression with 'operator' and 'filters'. When an expression omits 'operator', it defaults to 'and'. The flat form must be a JSON array — a single rule sent as a bare object is not a valid filter. Filter field names, their valid operators, and allowed values come from GET /v1/schemas/{entity} — each field lists 'allowed_operators' and 'enum_field_settings.allowed_values'; field names differ per entity, so the examples on each list endpoint show fields valid for that entity. Custom fields are keyed 'custom_field_<uuid>'; related-entity custom fields use '<relation>.custom_field_<uuid>' and are filter-only.","examples":[[{"condition":"greater_than","field":"created_at","value":"2026-01-01"}],{"filters":[{"condition":"greater_than","field":"created_at","value":"2026-01-01"},{"filters":[{"condition":"less_than","field":"created_at","value":"2026-07-01"}]}],"operator":"and"}]},"page":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number (1-indexed)","default":1,"examples":[1]},"page_size":{"type":"integer","maximum":500.0,"minimum":1.0,"title":"Page Size","description":"Number of results per page","default":50,"examples":[25]},"sort":{"type":"string","title":"Sort","description":"Field to sort by. Prefix with '-' for descending order.","default":"-created_at","examples":["-created_at"]},"include_custom_fields":{"type":"boolean","title":"Include Custom Fields","description":"Whether to include custom fields (`custom_field_<uuid>` keys) on each returned account. Defaults to true. Set false to omit them for leaner responses; GET /v1/accounts/{account_id} always returns them.","default":true}},"additionalProperties":false,"type":"object","title":"AccountListRequest"},"AccountOwnerDistribution":{"properties":{"mode":{"type":"string","const":"account_owner","title":"Mode","description":"Distribution mode discriminator","examples":["account_owner"]},"sender_ids":{"items":{"type":"string","format":"uuid"},"type":"array","minItems":1,"title":"Sender Ids","description":"IDs of the users eligible to send on this campaign; a contact is routed to its account owner only when the owner appears in this list","examples":[["550e8400-e29b-41d4-a716-446655440001"]]},"fallback_sender_id":{"type":"string","format":"uuid","title":"Fallback Sender Id","description":"Sender used whenever a contact's account is unassigned or its owner is not in `sender_ids`. Required for `account_owner` mode.","examples":["550e8400-e29b-41d4-a716-446655440002"]}},"type":"object","required":["mode","sender_ids","fallback_sender_id"],"title":"AccountOwnerDistribution","description":"Route each contact's sends to the owner of its account.\n\nA contact's sends go to its account owner when that owner is one of\n``sender_ids``; otherwise they fall back to ``fallback_sender_id``."},"AccountResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the account","examples":["acc_abc123"]},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Name of the account","examples":["Acme Corp"]},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Current status of the account","examples":["PROSPECTING"]},"owner":{"anyOf":[{"$ref":"#/components/schemas/OwnerInfo"},{"type":"null"}],"description":"User who owns the account"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the account","examples":["Key enterprise prospect"]},"company":{"anyOf":[{"$ref":"#/components/schemas/CompanyInfo"},{"type":"null"}],"description":"Company information associated with the account"},"scoring":{"anyOf":[{"$ref":"#/components/schemas/api__public_api__schemas__accounts__ScoringInfo"},{"type":"null"}],"description":"Account scoring information"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"List of tag names associated with the account","examples":[["Enterprise","High Priority"]]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the account was created","examples":["2025-06-15T10:30:00Z"]},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Date and time the account was last updated","examples":["2025-06-15T10:30:00Z"]},"last_activity_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Activity At","description":"Date and time of the most recent activity (inbound or outbound) across the account's contacts","examples":["2025-06-15T10:30:00Z"]},"last_activity_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Activity Type","description":"Type of the account's most recent contact activity","examples":["outbound_email"]},"last_contacted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Contacted At","description":"Date and time of the most recent outbound interaction with the account's contacts","examples":["2025-06-15T10:30:00Z"]},"last_contacted_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Contacted Type","description":"Type of the most recent outbound interaction with the account's contacts","examples":["email"]},"last_inbound_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Inbound At","description":"Date and time of the most recent inbound interaction from the account's contacts","examples":["2025-06-15T10:30:00Z"]},"last_inbound_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Inbound Type","description":"Type of the most recent inbound interaction from the account's contacts","examples":["email"]}},"additionalProperties":true,"type":"object","required":["id","created_at","updated_at"],"title":"AccountResponse","description":"Account resource. Custom fields appear as additional keys prefixed with ``custom_field_``."},"AccountStatusEnum":{"type":"string","enum":["NEW","PROSPECTING","OPPORTUNITY","CUSTOMER","DISQUALIFIED","NURTURE","INBOUND","CHURNED"],"title":"AccountStatusEnum","description":"Represents the status of an account in the sales process.\nThese are suggested values, but the field accepts any string for flexibility."},"AccountUpdateRequest":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Display name for the account","examples":["Acme Corp"]},"status":{"anyOf":[{"$ref":"#/components/schemas/AccountStatusEnum"},{"type":"null"}],"description":"Account status","examples":["PROSPECTING"]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the account"},"owner":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Owner","description":"User ID to assign as account owner"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"Tag IDs for the account. Replaces the account's existing tags."}},"additionalProperties":true,"type":"object","title":"AccountUpdateRequest"},"AccountUpsertRequest":{"properties":{"domain":{"type":"string","title":"Domain","description":"Company domain for matching or creating the account","examples":["acme.com"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn company page URL for matching or creating the account","examples":["https://linkedin.com/company/acme"]},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Display name for the account","examples":["Acme Corp"]},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Account status","examples":["NEW"]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the account","examples":["Key enterprise prospect"]},"owner":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Owner","description":"User ID to assign as account owner"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"Tag IDs to associate with the account. Appended to the account's existing tags."}},"additionalProperties":true,"type":"object","required":["domain"],"title":"AccountUpsertRequest","description":"Request body for upserting an account.\n\nCustom fields can be passed as additional keys prefixed with ``custom_field_``."},"AudienceContactFailureGroup":{"properties":{"reason":{"type":"string","title":"Reason","description":"Reason code for the failure","examples":["not_in_audience"]},"contact_ids":{"items":{"type":"string"},"type":"array","title":"Contact Ids","description":"Contact IDs that failed for this reason"}},"type":"object","required":["reason","contact_ids"],"title":"AudienceContactFailureGroup"},"AudienceContactsRequest":{"properties":{"contact_ids":{"items":{"type":"string","format":"uuid"},"type":"array","maxItems":10000,"minItems":1,"title":"Contact Ids","description":"IDs of the contacts to add or remove"}},"type":"object","required":["contact_ids"],"title":"AudienceContactsRequest"},"AudienceContactsResponse":{"properties":{"audience_id":{"type":"string","title":"Audience Id","description":"ID of the audience that was modified"},"failures":{"items":{"$ref":"#/components/schemas/AudienceContactFailureGroup"},"type":"array","title":"Failures","description":"Contacts that exist but could not be added or removed, grouped by reason"}},"type":"object","required":["audience_id"],"title":"AudienceContactsResponse"},"AudienceListRequest":{"properties":{"page":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number (1-indexed)","default":1,"examples":[1]},"page_size":{"type":"integer","maximum":500.0,"minimum":1.0,"title":"Page Size","description":"Number of results per page","default":500,"examples":[500]}},"type":"object","title":"AudienceListRequest","description":"Pagination for the audience list. The default page size covers every\ncurrent org, so body-less calls keep returning all audiences in one page;\nfilters and sort follow separately."},"AudienceResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the audience","examples":["aud_abc123"]},"name":{"type":"string","title":"Name","description":"Name of the audience","examples":["Q2 Enterprise Prospects"]},"type":{"type":"string","title":"Type","description":"Audience type","examples":["static"]},"status":{"type":"string","title":"Status","description":"Audience status","examples":["active"]},"contact_count":{"type":"integer","title":"Contact Count","description":"Number of contacts currently in the audience","examples":[42]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the audience was created"},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Date and time the audience was last updated"}},"type":"object","required":["id","name","type","status","contact_count","created_at","updated_at"],"title":"AudienceResponse"},"CampaignAudienceRef":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the audience","examples":["aud_abc123"]},"name":{"type":"string","title":"Name","description":"Name of the audience","examples":["Enterprise West"]}},"type":"object","required":["id","name"],"title":"CampaignAudienceRef","description":"An audience attached to a campaign."},"CampaignAudiencesRequest":{"properties":{"audience_ids":{"items":{"type":"string","format":"uuid"},"type":"array","minItems":1,"title":"Audience Ids","description":"IDs of the audiences to add to (or remove from) the campaign","examples":[["550e8400-e29b-41d4-a716-446655440010"]]}},"type":"object","required":["audience_ids"],"title":"CampaignAudiencesRequest"},"CampaignDetailResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the campaign","examples":["cmp_abc123"]},"name":{"type":"string","title":"Name","description":"Name of the campaign","examples":["Q3 Enterprise Outbound"]},"status":{"$ref":"#/components/schemas/CampaignStatus","description":"Current lifecycle status of the campaign","examples":["active"]},"prioritized":{"type":"boolean","title":"Prioritized","description":"Whether this campaign takes priority over non-prioritized campaigns","examples":[false]},"end_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"End Date","description":"Date the campaign stops enrolling","examples":["2026-12-31"]},"template_id":{"type":"string","title":"Template Id","description":"ID of the template enrolled contacts are placed on","examples":["seqt_789ghi"]},"template_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Template Name","description":"Title of the template","examples":["Enterprise Onboarding"]},"audiences":{"items":{"$ref":"#/components/schemas/CampaignAudienceRef"},"type":"array","title":"Audiences","description":"Audiences enrolled in this campaign"},"enrollment_status":{"$ref":"#/components/schemas/PublicEnrollmentStatus","description":"Progress of the async task enrolling this campaign's audiences","examples":["completed"]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the campaign was created","examples":["2026-01-15T10:30:00Z"]},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Date and time the campaign was last updated","examples":["2026-05-10T14:22:00Z"]},"distribution":{"anyOf":[{"oneOf":[{"$ref":"#/components/schemas/PercentageDistribution"},{"$ref":"#/components/schemas/AccountOwnerDistribution"}],"discriminator":{"propertyName":"mode","mapping":{"account_owner":"#/components/schemas/AccountOwnerDistribution","percentage":"#/components/schemas/PercentageDistribution"}}},{"type":"null"}],"title":"Distribution","description":"How sends are routed across senders (percentage or account_owner)"},"rules_of_engagement":{"anyOf":[{"$ref":"#/components/schemas/PublicRulesOfEngagement-Output"},{"type":"null"}],"description":"The campaign's effective rules of engagement; null when the campaign uses the org defaults with no campaign-level config"},"autopilot_mode":{"$ref":"#/components/schemas/PublicAutopilotMode","description":"`autopilot` when every sender auto-sends, `supervised` when none do, `hybrid` when it's a mix","examples":["hybrid"]},"autopilot_settings":{"$ref":"#/components/schemas/PublicAutopilotSettings","description":"Senders currently on autopilot and their daily send-release cap"}},"type":"object","required":["id","name","status","prioritized","template_id","enrollment_status","created_at","updated_at","autopilot_mode","autopilot_settings"],"title":"CampaignDetailResponse","description":"Full campaign resource, as returned by `get_campaign`, `create_campaign`,\nand `update_campaign`."},"CampaignResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the campaign","examples":["cmp_abc123"]},"name":{"type":"string","title":"Name","description":"Name of the campaign","examples":["Q3 Enterprise Outbound"]},"status":{"$ref":"#/components/schemas/CampaignStatus","description":"Current lifecycle status of the campaign","examples":["active"]},"prioritized":{"type":"boolean","title":"Prioritized","description":"Whether this campaign takes priority over non-prioritized campaigns","examples":[false]},"end_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"End Date","description":"Date the campaign stops enrolling","examples":["2026-12-31"]},"template_id":{"type":"string","title":"Template Id","description":"ID of the template enrolled contacts are placed on","examples":["seqt_789ghi"]},"template_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Template Name","description":"Title of the template","examples":["Enterprise Onboarding"]},"audiences":{"items":{"$ref":"#/components/schemas/CampaignAudienceRef"},"type":"array","title":"Audiences","description":"Audiences enrolled in this campaign"},"enrollment_status":{"$ref":"#/components/schemas/PublicEnrollmentStatus","description":"Progress of the async task enrolling this campaign's audiences","examples":["completed"]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the campaign was created","examples":["2026-01-15T10:30:00Z"]},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Date and time the campaign was last updated","examples":["2026-05-10T14:22:00Z"]}},"type":"object","required":["id","name","status","prioritized","template_id","enrollment_status","created_at","updated_at"],"title":"CampaignResponse","description":"Campaign summary, as returned by `list_campaigns`."},"CampaignStatus":{"type":"string","enum":["active","paused","completed","draft","archived"],"title":"CampaignStatus","description":"Lifecycle status of a campaign."},"CampaignStatusEnum":{"type":"string","enum":["ACTIVE","INACTIVE","DRAFT","ARCHIVED"],"title":"CampaignStatusEnum"},"CompanyInfo":{"properties":{"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain","description":"Primary website domain","examples":["acme.com"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn company page URL","examples":["https://linkedin.com/company/acme"]},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Company description","examples":["Enterprise software company specializing in AI-driven sales tools"]},"employee_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Employee Count","description":"Number of employees","examples":[250]},"founded_year":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Founded Year","description":"Year the company was founded","examples":[2019]},"industries":{"items":{"type":"string"},"type":"array","title":"Industries","description":"List of industry classifications","examples":[["Software","Artificial Intelligence"]]},"total_funding_usd":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Funding Usd","description":"Total funding raised in USD","examples":[50000000.0]},"last_funding_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Funding Date","description":"Date of the most recent funding round","examples":["2024-03-15"]}},"type":"object","title":"CompanyInfo"},"ContactCreateRequest":{"properties":{"is_inbound":{"type":"boolean","title":"Is Inbound","description":"Whether the contact is an inbound lead. When true and this request creates a new contact, Monaco runs inbound-lead qualification on it. Ignored when the request matches an existing contact.","default":false},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Email address of the contact. Either email or linkedin_url is required.","examples":["jane@acme.com"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn profile URL (a linkedin.com/in/... URL). Either email or linkedin_url is required.","examples":["https://linkedin.com/in/janesmith"]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name","description":"First name of the contact","examples":["Jane"]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name","description":"Last name of the contact","examples":["Smith"]},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Job title of the contact","examples":["VP of Engineering"]},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone Number","description":"Phone number of the contact","examples":["+1-415-555-0132"]},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location","description":"Location of the contact","examples":["San Francisco, CA"]},"account_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Account Id","description":"ID of the account to associate the contact with"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain","description":"Domain of the contact's company (used for account resolution)","examples":["acme.com"]},"do_not_contact":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Do Not Contact","description":"Whether the contact has opted out of outreach"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"Tag IDs to associate with the contact. Appended to the contact's existing tags."}},"additionalProperties":true,"type":"object","title":"ContactCreateRequest","description":"Request body for creating a contact via POST or upserting via PUT.\n\nCustom fields can be passed as additional keys prefixed with ``custom_field_``."},"ContactDetailResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the contact","examples":["con_abc123"]},"account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Id","description":"ID of the associated account","examples":["acc_def456"]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title"
[...]
