{
    "openapi": "3.0.1",
    "info": {
        "title": "Enterprise Data Federation Service (EDFS)",
        "description": "Enterprise Data Federation Service (EDFS or EDF) is a set of iTwin integration services designed to enable integration of Bentley iTwin platform solutions with any external enterprise system or user solutions (such as SAP®, IBM® Maximo™, Microsoft® SharePoint, ESRI, etc.). EDFS is the latest generation (6th) of BECS integration engine.\r\nEDFS is designed to support any requested integration by running any BECS integration package from Bentley Integration Catalogue (BIC). Thanks to this flexibility and zero coding needed for design or maintenance of integration packages is easy to adapt any integration request.\r\nMain mission of EDFS is to provide zero coding, ready to use, Bentley catalogue based integration gateway to any user enterprise system or solution.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/edfs"
        }
    ],
    "paths": {
        "/packages": {
            "get": {
                "tags": [
                    "Packages"
                ],
                "summary": "Get subscribed packages",
                "description": "---\r\n\r\nRetrieve a list of currently subscribed integration packages by organization.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `edfs_projmng` permission assigned at the Organizational level or be an Organization Administrator.\r\n\r\n---",
                "operationId": "subscribed-packages-get",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CatalogSubscribedInfoDtoList"
                                },
                                "example": {
                                    "packages": [
                                        {
                                            "subscriptionId": "00000000-0000-0000-0000-000000000000",
                                            "version": "0.0.1",
                                            "uniqueName": "SQL_CUSTOMERS_TABLE",
                                            "name": "Sql Customers",
                                            "description": "A package for retrieving data from an SQL Database table",
                                            "subscribedBy": "00000000-0000-0000-0000-000000000000",
                                            "subscribedByName": "System",
                                            "subscribedOn": "2024-04-24T13:03:26.2400000-04:00",
                                            "projectStage": "Preview",
                                            "isOdata": false
                                        },
                                        {
                                            "subscriptionId": "00000000-0000-0000-0000-000000000000",
                                            "version": "1.0.2",
                                            "uniqueName": "SAP_WORK_ORDERS",
                                            "name": "SAP Work Orders",
                                            "description": "A package for retrieving Work Orders from SAP",
                                            "subscribedBy": "00000000-0000-0000-0000-000000000000",
                                            "subscribedByName": "Owen Shaw",
                                            "subscribedOn": "2024-04-24T13:03:26.2400000-04:00",
                                            "projectStage": "Current",
                                            "isOdata": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the requested operation or resource could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ResourceNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ResourceNotFound",
                                                "message": "The requested resource was not found. Verify the API URL and the Accept header.",
                                                "details": [
                                                    {
                                                        "code": "OperationNotFound",
                                                        "message": "Unable to match incoming request to an operation."
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{iTwinId}/timers/{timerId}/toggle": {
            "patch": {
                "tags": [
                    "Triggers"
                ],
                "summary": "Toggle timer",
                "description": "---\r\n\r\nEnable or disable integration package timer.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `edfs_listmng` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\n---",
                "operationId": "timer-toggle",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timerId",
                        "in": "path",
                        "description": "The timer ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EdfTimerDto"
                                },
                                "example": {
                                    "id": "00000000-0000-0000-0000-000000000000",
                                    "name": "SAP_WORK_ORDERS at 00:00 on Saturday and Sunday",
                                    "packageUniqueName": "SAP_WORK_ORDERS",
                                    "cronStr": "0 0 * * 6,0",
                                    "enabled": true,
                                    "parameters": [
                                        {
                                            "name": "Parameter",
                                            "value": "Value"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates iTwin or timer was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "TimerNotFound",
                                        "message": "Requested Timer is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidTimerRequest",
                                        "message": "Cannot retrieve Timer.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin ID value is not valid.",
                                                "target": "iTwinId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Timer ID value is not valid.",
                                                "target": "timerId"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{iTwinId}/packages/{uniqueName}/roles/remove-assignments": {
            "put": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Remove selected package role to iTwin project role to assignments",
                "description": "---\r\n\r\nRemove only the specified integration package role to iTwin project role assignments for the integration package.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `administration_manage_roles` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\nUser must also have these permissions assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n- `edfs_ilsmng` to Manage Access to specific Integration Packages\r\n\t\r\nEach integration package role has its own permission(s) assigned and the user who wants to manage them must have these permissions assigned as well.\r\n\r\n__Package roles and associated permissions__\r\n- Execute Integration Package\r\n\t- `edfs_objipexec` to Execute Integration Package(s)\r\n\r\n---",
                "operationId": "packages-roles-assignments-remove-selected",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uniqueName",
                        "in": "path",
                        "description": "The unique name of integration package",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ITwinRoleToPackageRoleDtoList"
                            },
                            "example": {
                                "assignments": [
                                    {
                                        "iTwinRoleId": "00000000-0000-0000-0000-000000000000",
                                        "packageRoleIds": [
                                            "00000000-0000-0000-0000-000000000000"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PackageRoleAssignmentDtoList"
                                },
                                "example": {
                                    "assignments": [
                                        {
                                            "iTwinRoleName": "EDFS_integration",
                                            "iTwinRoleId": "00000000-0000-0000-0000-000000000000",
                                            "packageRoles": [
                                                {
                                                    "packageRoleName": "Execute Integration Package",
                                                    "packageRoleId": "00000000-0000-0000-0000-000000000000"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates iTwin or integration package was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "AssignmentListNotFound",
                                        "message": "Requested AssignmentList is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidAssignmentListRequest",
                                        "message": "Cannot update AssignmentList.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin Role ID value is not valid.",
                                                "target": "ITwinRoleId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Package Role ID value is not valid.",
                                                "target": "PackageRoleIds"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin ID value is not valid.",
                                                "target": "iTwinId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Unique Name value contains invalid characters.",
                                                "target": "uniqueName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/packages/{uniqueName}": {
            "get": {
                "tags": [
                    "Packages"
                ],
                "summary": "Get package details",
                "description": "---\r\n\r\nRetrieve details of the currently subscribed integration package by organization.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `edfs_projmng` permission assigned at the Organizational level or be an Organization Administrator.\r\n\r\n---",
                "operationId": "subscribed-packages-details-get",
                "parameters": [
                    {
                        "name": "uniqueName",
                        "in": "path",
                        "description": "The unique name of integration package",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SubscribedProjectUserDetailsDto"
                                },
                                "example": {
                                    "subscriptionId": "00000000-0000-0000-0000-000000000000",
                                    "subscribedOn": "2024-04-24T13:03:26.2400000-04:00",
                                    "subscribedBy": "00000000-0000-0000-0000-000000000000",
                                    "subscribedByName": "System",
                                    "name": "Sql Customers",
                                    "uniqueName": "SQL_CUSTOMERS_TABLE",
                                    "description": "A package to interact with Sql Server and retrieve data from a table",
                                    "inputExample": "{ \"variables\": [ { \"name\": \"Parameter\", \"value\": \"Value\" }, { \"name\": \"TableNames\", \"value\": \"Translator\" }, { \"name\": \"CustomerID\", \"value\": \"ACME\" } ], \"returnAsXml\": false }",
                                    "responseExample": "{\"DATA\": [{ \"CustomerID\" : \"ACME \",\"CompanyName\" : \"ACME Ltd.\",\"ContactName\" : \"Joe Bloggs\"}] }",
                                    "version": "0.0.1",
                                    "isOdata": false,
                                    "lastChange": "2024-04-24T13:03:26.2400000-04:00",
                                    "projectStage": "Preview"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates integration package was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "PackageNotFound",
                                        "message": "Requested Package is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidPackageRequest",
                                        "message": "Cannot retrieve Package.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Unique Name value contains invalid characters.",
                                                "target": "uniqueName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{iTwinId}/packages/{uniqueName}/roles": {
            "patch": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Patch package role to iTwin project role assignments",
                "description": "---\r\n\r\nPatch existing integration package role to iTwin project role to assignments for the integration package.\r\n\r\nYou can add integration package role to new iTwin project role\r\n- By [Adding package role to iTwin project role assignments](/apis/edfs/operations/packages-roles-assignments-add/).\r\n\r\nYou can retrieve the available packageRoleIds\r\n- By [getting integration package roles](/apis/edfs/operations/packages-roles-get/)\r\n\r\nYou can retrieve the available iTwinRoleIds for your iTwin project\r\n- By [getting iTwin roles](/apis/access-control-v2/operations/get-iTwin-roles/)\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `administration_manage_roles` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\nUser must also have the following permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin:\r\n- `edfs_ilsmng` to Manage Access to specific Integration Packages\r\n\t\r\nEach integration package role has its own permission(s) assigned and the user who wants to manage them must have these permissions assigned as well.\r\n\r\n__Package roles and associated permissions__\r\n- Execute Integration Package\r\n\t- `edfs_objipexec` to Execute Integration Package(s)\r\n\r\n---",
                "operationId": "packages-roles-assignments-patch",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uniqueName",
                        "in": "path",
                        "description": "The unique name of integration package",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ITwinRoleToPackageRoleDtoList"
                            },
                            "example": {
                                "assignments": [
                                    {
                                        "iTwinRoleId": "00000000-0000-0000-0000-000000000000",
                                        "packageRoleIds": [
                                            "00000000-0000-0000-0000-000000000000"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PackageRoleAssignmentDtoList"
                                },
                                "example": {
                                    "assignments": [
                                        {
                                            "iTwinRoleName": "EDFS_integration",
                                            "iTwinRoleId": "00000000-0000-0000-0000-000000000000",
                                            "packageRoles": [
                                                {
                                                    "packageRoleName": "Execute Integration Package",
                                                    "packageRoleId": "00000000-0000-0000-0000-000000000000"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates iTwin or integration package was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "AssignmentListNotFound",
                                        "message": "Requested AssignmentList is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidAssignmentListRequest",
                                        "message": "Cannot update AssignmentList.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin Role ID value is not valid.",
                                                "target": "ITwinRoleId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Package Role ID value is not valid.",
                                                "target": "PackageRoleIds"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin ID value is not valid.",
                                                "target": "iTwinId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Unique Name value contains invalid characters.",
                                                "target": "uniqueName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Get package role to iTwin project role assignments",
                "description": "---\r\n\r\nRetrieve information about the current integration package role to iTwin role assignments for this integration package.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `administration_manage_roles` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\nUser must also have the following permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin:\r\n- `edfs_ilsmng` to Manage Access to specific Integration Packages\r\n\r\n---",
                "operationId": "packages-roles-assignments-get",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uniqueName",
                        "in": "path",
                        "description": "The unique name of integration package",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PackageRoleAssignmentDtoList"
                                },
                                "example": {
                                    "assignments": [
                                        {
                                            "iTwinRoleName": "EDFS_integration",
                                            "iTwinRoleId": "00000000-0000-0000-0000-000000000000",
                                            "packageRoles": [
                                                {
                                                    "packageRoleName": "Execute Integration Package",
                                                    "packageRoleId": "00000000-0000-0000-0000-000000000000"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates iTwin or integration package was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "AssignmentListNotFound",
                                        "message": "Requested AssignmentList is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidAssignmentListRequest",
                                        "message": "Cannot retrieve AssignmentList.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin ID value is not valid.",
                                                "target": "iTwinId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Unique Name value contains invalid characters.",
                                                "target": "uniqueName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Add package role to iTwin project role assignments",
                "description": "---\r\n\r\nAdds new integration package role to iTwin project role assignments for the integration package.\r\n\r\nYou can retrieve the available packageRoleIds\r\n- By [getting integration package roles](/apis/edfs/operations/packages-roles-get/)\r\n\r\nYou can retrieve the available iTwinRoleIds for your iTwin project\r\n- By [getting iTwin roles](/apis/access-control-v2/operations/get-iTwin-roles/)\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given Project or have `administration_manage_roles` permission assigned at the Project level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\nUser must also have the following permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin:\r\n- `edfs_ilsmng` to Manage Access to specific Integration Packages\r\n\t\r\nEach integration package role has its own permission(s) assigned and the user who wants to manage them must have these permissions assigned as well.\r\n\r\n__Package roles and associated permissions__\r\n- Execute Integration Package\r\n\t- `edfs_objipexec` to Execute Integration Package(s)\r\n\r\n---",
                "operationId": "packages-roles-assignments-add",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uniqueName",
                        "in": "path",
                        "description": "The unique name of integration package",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ITwinRoleToPackageRoleDtoList"
                            },
                            "example": {
                                "assignments": [
                                    {
                                        "iTwinRoleId": "00000000-0000-0000-0000-000000000000",
                                        "packageRoleIds": [
                                            "00000000-0000-0000-0000-000000000000"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PackageRoleAssignmentDtoList"
                                },
                                "example": {
                                    "assignments": [
                                        {
                                            "iTwinRoleName": "EDFS_integration",
                                            "iTwinRoleId": "00000000-0000-0000-0000-000000000000",
                                            "packageRoles": [
                                                {
                                                    "packageRoleName": "Execute Integration Package",
                                                    "packageRoleId": "00000000-0000-0000-0000-000000000000"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the requested operation or resource could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ResourceNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ResourceNotFound",
                                                "message": "The requested resource was not found. Verify the API URL and the Accept header.",
                                                "details": [
                                                    {
                                                        "code": "OperationNotFound",
                                                        "message": "Unable to match incoming request to an operation."
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidAssignmentListRequest",
                                        "message": "Cannot create AssignmentList.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin Role ID value is not valid.",
                                                "target": "ITwinRoleId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Package Role ID value is not valid.",
                                                "target": "PackageRoleIds"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin ID value is not valid.",
                                                "target": "iTwinId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Unique Name value contains invalid characters.",
                                                "target": "uniqueName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{iTwinId}/packages/{uniqueName}": {
            "post": {
                "tags": [
                    "Packages"
                ],
                "summary": "Execute package",
                "description": "---\r\n\r\nExecute the specified integration package for the specified iTwin. Other integration package specific variables can be provided in the body.\r\n\r\nTo get an example of input for each integration package you can retrieve the details\r\n- By [getting details of subscribed integration package](/apis/edfs/operations/subscribed-packages-details-get/)\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the EDFS `Execute Integration Package` role assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\nPackage role assignments can be set\r\n- By [setting integration package roles](/apis/edfs/operations/packages-roles-assignments-add/)\r\n\r\n---",
                "operationId": "execute-post",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uniqueName",
                        "in": "path",
                        "description": "The unique name of integration package",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExecuteProjectPost"
                            },
                            "example": {
                                "returnAsXml": false,
                                "variables": [
                                    {
                                        "name": "Parameter",
                                        "value": "Value"
                                    },
                                    {
                                        "name": "Setting",
                                        "value": "Value2"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExecutePostExample"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "customerID": "ACME ",
                                            "companyName": "ACME Ltd.",
                                            "contactName": "Joe Bloggs"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the requested operation or resource could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ResourceNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ResourceNotFound",
                                                "message": "The requested resource was not found. Verify the API URL and the Accept header.",
                                                "details": [
                                                    {
                                                        "code": "OperationNotFound",
                                                        "message": "Unable to match incoming request to an operation."
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidPackageDataRequest",
                                        "message": "Cannot retrieve PackageData.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin ID value is not valid.",
                                                "target": "iTwinId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Unique Name value contains invalid characters.",
                                                "target": "uniqueName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{iTwinId}/packages/{uniqueName}/systems/{systemType}": {
            "get": {
                "tags": [
                    "Packages"
                ],
                "summary": "Get package system type properties",
                "description": "---\r\n\r\nRetrieve external system type and external system type credential properties for the integration package.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `edfs_credmng` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\n---",
                "operationId": "system-type-properties-get",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin project ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "uniqueName",
                        "in": "path",
                        "description": "The unique name of integration package",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "systemType",
                        "in": "path",
                        "description": "The System Type Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "string",
                            "default": "application/json"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SystemPropertyDtoList"
                                },
                                "example": {
                                    "properties": [
                                        {
                                            "name": "Server",
                                            "defaultValue": null,
                                            "enumValues": null,
                                            "dataType": "String"
                                        },
                                        {
                                            "name": "Database",
                                            "defaultValue": null,
                                            "enumValues": null,
                                            "dataType": "String"
                                        },
                                        {
                                            "name": "UserId",
                                            "defaultValue": null,
                                            "enumValues": null,
                                            "dataType": "String"
                                        },
                                        {
                                            "name": "Password",
                                            "defaultValue": null,
                                            "enumValues": null,
                                            "dataType": "String"
                                        },
                                        {
                                            "name": "IntegratedSecurity",
                                            "defaultValue": "false",
                                            "enumValues": null,
                                            "dataType": "Boolean"
                                        },
                                        {
                                            "name": "CommandTimeout",
                                            "defaultValue": "30",
                                            "enumValues": null,
                                            "dataType": "Int32"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates iTwin, integration package or system type was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "PropertyListNotFound",
                                        "message": "Requested PropertyList is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidSystemPropertyListRequest",
                                        "message": "Cannot retrieve SystemPropertyList.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided iTwin ID value is not valid.",
                                                "target": "iTwinId"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided Unique Name value contains invalid characters.",
                                                "target": "uniqueName"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Provided System Type value contains invalid characters.",
                                                "target": "systemType"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{iTwinId}/systems": {
            "post": {
                "tags": [
                    "Systems"
                ],
                "summary": "Create system",
[...]
