{
    "openapi": "3.0.1",
    "info": {
        "title": "iTwins",
        "description": "Interact with your iTwins.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/itwins"
        }
    ],
    "paths": {
        "/{iTwinId}/repositories/{repositoryId}": {
            "get": {
                "tags": [
                    "Technology Preview",
                    "Repositories"
                ],
                "summary": "Get repository",
                "description": "Gets the details of the specified repository. \r\n\r\nThe repository will only be returned if it contains at least one resource. Otherwise, it will return 404 (NotFound).\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns the specified iTwin Repository or be an iTwin team member.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.",
                "operationId": "get-repository",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "repositoryId",
                        "in": "path",
                        "description": "The repository Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/iTwin-repository-response"
                                },
                                "example": {
                                    "repository": {
                                        "id": "e2ecdff7-2802-48bf-9bfa-d418c740c8cd",
                                        "class": "GeographicInformationSystem",
                                        "subClass": "UrlTemplate",
                                        "displayName": "My xyz template server",
                                        "uri": "http://basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png",
                                        "authentication": {
                                            "type": "Header",
                                            "key": "X-Api-Key",
                                            "value": "mySecretApiKey"
                                        },
                                        "options": {
                                            "queryParameters": {
                                                "apiVersion": "2001-01-05"
                                            },
                                            "minimumLevel": 10,
                                            "maximumLevel": 20
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified repository was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinRepositoryNotFound",
                                        "message": "Requested iTwin Repository is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Repositories"
                ],
                "summary": "Delete repository",
                "description": "---\r\n\r\nDeletes the specified Repository.\r\n\r\nOnly repositories added via the POST endpoint can be deleted. Autogenerated repositories cannot be deleted.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\nThe user must have the `itwins_modify` permission in order to remove a repository from the iTwin.\r\n\r\nOrganization Administrators automatically get the `itwins_modify` permission for every iTwin in their Organization. Organization Administrator are users with at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n---\r\n",
                "operationId": "delete-repository",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "repositoryId",
                        "in": "path",
                        "description": "The Repository Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that iTwin with specified ID was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinRepositoryNotFound",
                                        "message": "Requested iTwin Repository is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Technology Preview",
                    "Repositories"
                ],
                "summary": "Update Repository",
                "description": "\r\nThis endpoint allows you to update an existing repository for the following Classes/SubClasses.     \r\n- GeographicInformationSystem\r\n   - WebMapService\r\n   - WebMapTileService\r\n   - WebFeatureService\r\n   - ArcGIS\r\n   - UrlTemplate\r\n   - OgcApiFeatures\r\n- Construction\r\n   - Performance\r\n- Subsurface\r\n   - EvoWorkspace   \r\n\r\nAll properties are optional. Only the properties that are specified in the request body will be updated. If you need to remove all options or authentication informatino then you can set them to null in the request body. Uri and displayName cannot be set to null. Class, SubClass, and Id cannot be changed. \r\n\r\nThis is an example of updating the displayName only.\r\n\r\n```http\r\n{\r\n  \"displayName\": \"My xyz template server - updated\",    \r\n}\r\n```        \r\n\r\nThis is an example of updating the Uri and removing all options. \r\n\r\n ```http\r\n{\r\n  \"uri\": \"http://basemaps.cartocdn.com/light_all/updated/{z}/{x}/{y}.png\",\r\n  \"options\": null\r\n}\r\n```\r\n\r\nIf you want to update the authentication or options then you must specify the entire object. For example, you  cannot just update the authentication.password or options.queryParameters. You must specify the entire authentication or options object.\r\n\r\nThis is an example of updating the api key. You must specify the entire authentication object.\r\n\r\n ```http\r\n{\r\n  \"authentication\": {\r\n    \"type\": \"Header\",\r\n    \"key\": \"X-Api-Key\",\r\n    \"value\": \"myNewSecretApiKeyUpdated\"\r\n  }\r\n}\r\n```\r\n\r\nThis is an example of updating the displayName and options.maximumLevel. You must specify all the options properties.\r\n\r\n ```http\r\n{\r\n  \"displayName\": \"My xyz template server\",\r\n  \"options\": {\r\n    \"queryParameters\": {\r\n        \"apiVersion\": \"1.5.1\"\r\n    },\r\n    \"minimumLevel\": 5,\r\n    \"maximumLevel\": 10\r\n  }\r\n}\r\n``` \r\n\r\n### Authentication\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\nThe user must have the `itwins_modify` permission in order to modify a repository for the iTwin.\r\n\r\nOrganization Administrators automatically get the `itwins_modify` permission for every iTwin in their Organization.\r\n\r\nOrganization Administrators are power users for all iTwins owned by their organization. They will be able to create, modify or delete any iTwin.\r\nExample: john.doe@example.com is an Organization Administrator that works for Example Industries. John will be able to create iTwins and those iTwins will belong to Example Industries. John and any other Organization Administrator for Example Industries will be able to update or delete the iTwin. Any user (an employee of Example Industries, or an external participant) can be [invited](https://developer.bentley.com/apis/access-control-v2/operations/add-itwin-user-members/) to collaborate on the iTwin.\r\n\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.",
                "operationId": "update-itwin-repository",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "repositoryId",
                        "in": "path",
                        "description": "The repository Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "description": "A iTwin instance with the fields that should be updated.  ReadOnly fields should not be included.  ",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/iTwin-repository-update"
                            },
                            "example": {
                                "displayName": "My xyz template server-updated",
                                "uri": "http://basemaps.cartocdn.com/light_all/updated/{z}/{x}/{y}.png",
                                "authentication": {
                                    "type": "Header",
                                    "key": "X-Api-Key",
                                    "value": "mySecretApiKeyUpdated"
                                },
                                "options": {
                                    "queryParameters": {
                                        "apiVersion": "2001-01-05"
                                    },
                                    "minimumLevel": 5,
                                    "maximumLevel": 10
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/iTwin-repository-response"
                                },
                                "example": {
                                    "repository": {
                                        "id": "e2ecdff7-2802-48bf-9bfa-d418c740c8cd",
                                        "class": "GeographicInformationSystem",
                                        "subClass": "UrlTemplate",
                                        "displayName": "My xyz template server - updated",
                                        "uri": "http://basemaps.cartocdn.com/light_all/updated/{z}/{x}/{y}.png",
                                        "authentication": {
                                            "type": "Header",
                                            "key": "X-Api-Key",
                                            "value": "mySecretApiKeyUpdated"
                                        },
                                        "options": {
                                            "queryParameters": {
                                                "apiVersion": "2001-01-05"
                                            },
                                            "minimumLevel": 5,
                                            "maximumLevel": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that one of the associated entities could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinRepositoryNotFound",
                                        "message": "Requested iTwin Repository is not available."
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "iTwin Repository with the same name already exists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinRepositoryExists",
                                        "message": "The specified iTwin Repository already exists."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to update an iTwin Repository.  Review the 'Field Values' section near the top of this page.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiTwinsRequest",
                                        "message": "Cannot update iTwin Repository.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Uri cannot be null or empty.",
                                                "target": "uri"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Uri cannot be more than 2000 characters.",
                                                "target": "uri"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "DisplayName cannot be null or empty.",
                                                "target": "displayName"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "DisplayName cannot be more than 200 characters.",
                                                "target": "displayName"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Options are not valid.",
                                                "target": "options"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Key must be defined for authentication type {Type}.",
                                                "target": "key"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Value must be defined for authentication type {Type}.",
                                                "target": "value"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Username must be defined for authentication type basic.",
                                                "target": "username"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Password must be defined for authentication type basic.",
                                                "target": "password"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "minimumLevel must be between 0 and 24 inclusive.",
                                                "target": "minimumlevel"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "maximumLevel must be between 0 and 24 inclusive.",
                                                "target": "maximumlevel"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/favorites/{id}": {
            "post": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Add iTwin to my favorites",
                "description": "---\r\n\r\nAdd an iTwin to the calling user's favorites list.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nThe calling user must be a member of the specified iTwin. Use the [Access Control API](https://developer.bentley.com/apis/access-control-v2/) to manage an iTwin's members.\r\n\r\n---\r\n",
                "operationId": "add-itwin-to-my-favorites",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The iTwin ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that specified iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Remove iTwin from my favorites",
                "description": "---\r\n\r\nRemove an iTwin from the calling user's favorites list.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nThe calling user must be a member of the specified iTwin. Use the [Access Control API](https://developer.bentley.com/apis/access-control-v2/) to manage an iTwin's members.\r\n\r\n---\r\n",
                "operationId": "remove-itwin-from-my-favorites",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The iTwin ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that specified iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{iTwinId}/repositories/{repositoryId}/resources/{resourceId}": {
            "delete": {
                "tags": [
                    "Technology Preview",
                    "Repositories"
                ],
                "summary": "Delete repository resource",
                "description": "Deletes the specified repository resource.\r\n\r\nOnly resources that were manually added via the POST endpoint can be deleted. \r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\nThe user must have the `itwins_modify` permission in order to delete a repository resource from the iTwin.\r\n\r\nOrganization Administrators automatically get the `itwins_modify` permission for every iTwin in their Organization. Organization Administrator are users with at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.",
                "operationId": "delete-repository-resource",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "repositoryId",
                        "in": "path",
                        "description": "The Repository Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The Resource Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that iTwin with specified ID was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinRepositoryResourceNotFound",
                                        "message": "Requested iTwin Repository Resource is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Technology Preview",
                    "Repositories"
                ],
                "summary": "Get Repository Resource",
                "description": "This endpoint will return the specified resource in the specified repository. \r\n\r\nFor example, if the repository Id is `imodels` then it will return the id and displayName of the specified iModel. It will only return the iModel information if the user has permission to view it. For some resources, it will also return `capabilities.graphics.uri` that can be used to [locate graphics](https://developer.bentley.com/apis/itwins/operations/get-resource-graphics/) for the resource. \r\n  \r\nOnly the repositories with these classes support the resources endpoint:\r\n - iModels\r\n - RealityData                 \r\n - GeospatialFeatures\r\n - CesiumCuratedContent \r\n - PdfPlansets \r\n - GeographicInformationSystem\r\n \r\n **Resource Properties** \r\n \r\n By default, only minimal properties are returned, which are typically sufficient to display the resource in a list or tree. If you require all properties for a resource, set the `Prefer` header to `return=representation`. This will include a `properties` element in the JSON response that will contain all the resource's properties. The JSON model is determined by the repository, and the properties element will mirror the model you would receive if you queried the repository directly. Use the resource class/subclass to determine how to deserialize and process the properties.\r\n \r\n These are the supported property models.\r\n - [iModels](https://developer.bentley.com/apis/imodels-v2/operations/get-imodel-details/#imodel)\r\n - [RealityData](https://developer.bentley.com/apis/reality-management/operations/get-reality-data-details/#reality-data-metadata)\r\n - [GeospatialFeatures](https://developer.bentley.com/apis/geospatial-features/operations/get-collections/#collection)\r\n - [CesiumCuratedContent](https://developer.bentley.com/apis/cesium-curated-content/operations/list-content/#content)\r\n \r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nThe calling user must be a member of the specified iTwin. Use the [Access Control API](https://developer.bentley.com/apis/access-control-v2/) to manage an iTwin's members.",
                "operationId": "get-repository-resource",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "repositoryId",
                        "in": "path",
                        "description": "The repository Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "description": "The resource Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Indicates a level of details in the response. This operation supports 'return=representation' and 'return=minimal' preferences.",
                        "schema": {
                            "$ref": "#/components/schemas/PreferHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceResponse"
                                },
                                "examples": {
                                    "Minimal": {
                                        "value": {
                                            "resource": {
                                                "id": "3954",
                                                "class": "CesiumCuratedContent",
                                                "type": "IMAGERY",
                                                "displayName": "Sentinel-2",
                                                "capabilities": {
                                                    "graphics": {
                                                        "uri": "https://api.bentley.com/itwins/a6615cc6-823a-4587-8da8-478672523b7f/repositories/cesiumcuratedcontent/resources/3954/graphics"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified repository resource was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinRepositoryResourceNotFound",
                                        "message": "Requested iTwin Repository Resource is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{iTwinId}/account": {
            "get": {
                "tags": [
                    "iTwins"
                ],
                "summary": "Get iTwin account",
                "description": "---\r\n\r\nGets the Account for the specified iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nThe calling user must be a member of the specified iTwin. Use the [Access Control API](https://developer.bentley.com/apis/access-control-v2/) to manage an iTwin's members.\r\n\r\n---\r\n",
                "operationId": "get-itwin-account",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/iTwin-summary-response"
                                },
                                "example": {
                                    "iTwin": {
                                        "id": "76c1102e-4f33-4dfa-ad93-bcd9ab717977",
                                        "class": "Account",
                                        "subClass": "Account",
                                        "type": null,
                                        "number": "Acme Corp.",
                                        "displayName": "Acme Corp."
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "delete": {
                "tags": [
                    "iTwins"
                ],
                "summary": "Delete iTwin",
                "description": "---\r\n\r\nDelete the specified iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\niTwins can only be deleted by users with the iTwin Owner role or users that are Organization Administrators.\r\n\r\nOrganization Administrators are power users for all iTwins owned by their organization. They will be able to create, modify or delete any iTwin.\r\nExample: john.doe@example.com is an Organization Administrator that works for Example Industries. John will be able to create iTwins and those iTwins will belong to Example Industries. John and any other Organization Administrator for Example Industries will be able to update or delete the iTwin. Any user (an employee of Example Industries, or an external participant) can be [invited](https://developer.bentley.com/apis/access-control-v2/operations/add-itwin-user-members/) to collaborate on the iTwin.\r\n\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n---\r\n",
                "operationId": "delete-itwin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "iTwin id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that iTwin with specified ID was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "iTwins"
                ],
                "summary": "Update iTwin",
                "description": "---\r\n\r\nUpdate the specified iTwin.\r\n\r\nFor updates, all properties are optional. The request payload should only contain the properties that you would like to update. \r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\nThe user must have the `itwins_modify` permission in order to modify iTwin properties.\r\n\r\nAn Organization Administrator can modify iTwins owned by their Organization.\r\n\r\nOrganization Administrators are power users for all iTwins owned by their organization. They will be able to create, modify or delete any iTwin.\r\nExample: john.doe@example.com is an Organization Administrator that works for Example Industries. John will be able to create iTwins and those iTwins will belong to Example Industries. John and any other Organization Administrator for Example Industries will be able to update or delete the iTwin. Any user (an employee of Example Industries, or an external participant) can be [invited](https://developer.bentley.com/apis/access-control-v2/operations/add-itwin-user-members/) to collaborate on the iTwin.\r\n\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n---\r\n",
                "operationId": "update-itwin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The iTwin ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "description": "A iTwin instance with the fields that should be updated.  ReadOnly fields should not be included.  ",
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/iTwin-update"
                            },
                            "example": {
                                "type": "Construction Project",
                                "number": "iTwin #",
                                "displayName": "My iTwin",
                                "geographicLocation": "Exton, PA",
                                "latitude": 40.028,
                                "longitude": -75.621,
                                "ianaTimeZone": "America/New_York",
                                "status": "Active"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/iTwin-response"
                                },
                                "example": {
                                    "iTwin": {
                                        "id": "dc914a84-e0c9-40e2-9d14-faf5ed84147f",
                                        "class": "Endeavor",
                                        "subClass": "Project",
                                        "type": "Construction Project",
                                        "number": "00001-ds-3902795",
                                        "displayName": "White River",
                                        "geographicLocation": "Exton, PA",
                                        "latitude": 40.028,
                                        "longitude": -75.621,
                                        "ianaTimeZone": "America/New_York",
                                        "dataCenterLocation": "East US",
                                        "status": "Active",
                                        "parentId": "8a04f48b-1b11-475f-9b61-3083bc69f28f",
                                        "iTwinAccountId": "76c1102e-4f33-4dfa-ad93-bcd9ab717977",
                                        "imageName": "small_f3324967-82db-4c04-aad2-60635d00e1f6.png",
                                        "image": "https://crdeveussa01.blob.core.windows.net/context-thumbnails/small_f3324967-82db-4c04-aad2-60635d00e1f6.png?sv=2018-03-28&sr=b&sig=lcZwOExuEkdYg7KCXvrZyiVqTaRnl%2B%2F2m4ZJyj%2B5n6Y%3D&se=2023-07-07T00%3A00%3A00Z&sp=r",
                                        "createdDateTime": "2016-01-18T21:03:00.3704659+00:00",
                                        "createdBy": "66624686-8056-4af7-94ad-b1d3ef776f43",
                                        "lastModifiedDateTime": "2018-11-08T20:11:00.3304633+00:00",
                                        "lastModifiedBy": "abcd0123-e24a-4b35-9faf-f4f5f6f7f8f9"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that one of the associated entities could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to update a iTwin.  Review the 'Field Values' section near the top of this page.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidiTwinsRequest",
                                        "message": "Cannot update iTwin.",
                                        "details": [
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "Id is read only and cannot be modified.",
                                                "target": "id"
                                            },
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "Class is read only and cannot be modified.",
                                                "target": "class"
                                            },
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "SubClass is read only and cannot be modified.",
                                                "target": "subClass"
                                            },
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "CreatedDateTime is read only and should not be set.",
                                                "target": "createdDateTime"
                                            },
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "LastModifiedDateTime is read only and should not be set.",
                                                "target": "lastModifiedDateTime"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "GeographicLocation cannot be more than 255 characters.",
                                                "target": "geographicLocation"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "IanaTimeZone value is incorrect.",
                                                "target": "ianaTimeZone"
                                            },
                                            {
                                                "code": "ReadOnlyProperty",
                                                "message": "DataCenterLocation is read only and should not be set.",
                                                "target": "dataCenterLocation"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Status value is incorrect. Valid values are Active, Inactive and Trial.",
                                                "target": "status"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "DisplayName cannot be more than 255 characters.",
                                                "target": "displayName"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Number cannot be more than 255 characters.",
                                                "target": "number"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Type cannot be more than 100 characters.",
                                                "target": "type"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Latitude cannot be less than -90.0 or greater than 90.0.",
                                                "target": "latitude"
                                            },
                                            {
                                                "code": "InvalidValue",
                                                "message": "Longitude cannot be less than -180.0 or greater than 180.0.",
                                                "target": "longitude"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "iTwins"
                ],
                "summary": "Get iTwin",
                "description": "---\r\n\r\nGets the metadata of the specified iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nThe calling user must be a member of the specified iTwin. Use the [Access Control API](https://developer.bentley.com/apis/access-control-v2/) to manage an iTwin's members.\r\n\r\n---\r\n",
                "operationId": "get-itwin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The iTwin ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/iTwin-response"
                                },
                                "example": {
                                    "iTwin": {
                                        "id": "dc914a84-e0c9-40e2-9d14-faf5ed84147f",
                                        "class": "Endeavor",
                                        "subClass": "Project",
                                        "type": "Construction Project",
                                        "number": "00001-ds-3902795",
                                        "displayName": "White River",
                                        "geographicLocation": "Exton, PA",
                                        "latitude": 40.028,
                                        "longitude": -75.621,
                                        "ianaTimeZone": "America/New_York",
                                        "dataCenterLocation": "East US",
                                        "status": "Active",
                                        "parentId": "8a04f48b-1b11-475f-9b61-3083bc69f28f",
                                        "iTwinAccountId": "76c1102e-4f33-4dfa-ad93-bcd9ab717977",
                                        "imageName": "small_f3324967-82db-4c04-aad2-60635d00e1f6.png",
                                        "image": "https://crdeveussa01.blob.core.windows.net/context-thumbnails/small_f3324967-82db-4c04-aad2-60635d00e1f6.png?sv=2018-03-28&sr=b&sig=lcZwOExuEkdYg7KCXvrZyiVqTaRnl%2B%2F2m4ZJyj%2B5n6Y%3D&se=2023-07-07T00%3A00%3A00Z&sp=r",
                                        "createdDateTime": "2016-01-18T21:03:00.3704659+00:00",
                                        "createdBy": "abcd0123-e24a-4b35-9faf-f4f5f6f7f8f9",
                                        "lastModifiedDateTime": "2018-11-08T20:11:00.3304633+00:00",
                                        "lastModifiedBy": "abcd0123-e24a-4b35-9faf-f4f5f6f7f8f9"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
[...]
