{
    "openapi": "3.0.1",
    "info": {
        "title": "Library",
        "description": "Digital Library to manage digital components\r\n\r\nDigital component library and catalog management service.  It allows users to efficiently manage and distribute their digital component libraries, providing their designers with approved, proprietary components as well as approved manufacturer's content. \r\n",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/library"
        }
    ],
    "paths": {
        "/components/{componentId}/documents/{documentId}": {
            "delete": {
                "tags": [
                    "Components"
                ],
                "summary": "Delete Component Document",
                "description": "---\r\n\r\nDeletes provided document for specified digital component from user's organization context.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Write` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "delete-component-document",
                "parameters": [
                    {
                        "name": "componentId",
                        "in": "path",
                        "description": "Id of the component.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "Id of the document.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to delete specified document.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified document not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ComponentDocumentNotFound",
                                        "message": "Requested Component Document is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Components"
                ],
                "summary": "Get Component Document",
                "description": "---\r\n\r\nRetrieves documents for specified digital component from user's organization or project context.\r\n\r\n### Downloading Associated File\r\n\r\nAssociated file url can be found in fileUrl property returned in the response.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Read` permission assigned at the organization level or have `Read` permission assigned at the project level, in case request is scoped to a project.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "get-component-document",
                "parameters": [
                    {
                        "name": "componentId",
                        "in": "path",
                        "description": "Id of the component.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "Id of the document.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "Id of the project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/document-response"
                                },
                                "example": {
                                    "document": {
                                        "id": "4ca8dcff-5ebb-b236-ea2f-0bfbdf3c623e",
                                        "displayName": "Electric Water Heater_DRE",
                                        "extension": "rfa",
                                        "purpose": "Design",
                                        "size": 890456,
                                        "available": true,
                                        "isActive": true,
                                        "version": "1",
                                        "previousVersionId": "bef75b3c-dc4b-a205-adac-7501a367284e",
                                        "createdDateTime": "2019-11-26T17:12:40.8516569+00:00",
                                        "lastModifiedDateTime": "2019-11-26T17:14:12.3846681+00:00",
                                        "_links": {
                                            "associatedDesignDocument": {
                                                "href": "https://api.bentley.com/library/components/r444f052-c026-40d6-b412-8c3c12004ebe/documents/2da8dcff-5ebb-b236-ea2f-0bfbdf3c667s"
                                            },
                                            "fileUrl": {
                                                "href": "https://componentscenprodeussa01.blob.core.windows.net/private-3920224a-6600-41c9-aadb-2510159e373c/f8546e53-fd19-06f2-8071-ace2d70b05b6/Electric Water Heater_DRE.rvt"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified document not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ComponentDocumentNotFound",
                                        "message": "Requested Component Document is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Components"
                ],
                "summary": "Update Component Document",
                "description": "---\r\n\r\nUpdates a component document in user's organization context.\r\n\r\n### Notes\r\n\r\nTo update a document request body must contain all the properties desired for the document since this will replace existing document with current document definition. DisplayName extension and purpose are required properties.\r\n\r\nDocument purpose values are:\r\n-Design\r\n-Thumbnail \r\n-Reference\r\n-GalleryImage\r\n-TypeCatalog\r\n\r\n### Associated Documents\r\nDocument with purpose Thumbnail, GalleryImage and TypeCatalog can have associated design document, this should be a valid Id of existing design document. PreviousVersionId is only valid for Design documents and requires a valid Id of an existing design document, in case a design document needs up-version. In case there are multiple versions of the design document, only one design document and it's corresponding thumbnail can be active.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Write` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "update-component-document",
                "parameters": [
                    {
                        "name": "componentId",
                        "in": "path",
                        "description": "Id of the component.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "documentId",
                        "in": "path",
                        "description": "Id of the document.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/document-create-update"
                            },
                            "example": {
                                "displayName": "Electric Water Heater_DRE",
                                "extension": "rfa",
                                "purpose": "Design",
                                "available": false,
                                "isActive": true,
                                "version": "2",
                                "previousVersionId": null,
                                "associatedDesignDocument": null
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/document-response"
                                },
                                "example": {
                                    "document": {
                                        "id": "4ca8dcff-5ebb-b236-ea2f-0bfbdf3c623e",
                                        "displayName": "Electric Water Heater_DRE",
                                        "extension": "rfa",
                                        "purpose": "Design",
                                        "size": 890456,
                                        "available": true,
                                        "isActive": true,
                                        "version": "2",
                                        "previousVersionId": "5ty8dcff-5ebb-b236-ea2f-0bfbdf3c645g",
                                        "createdDateTime": "2019-11-26T17:12:40.8516569+00:00",
                                        "lastModifiedDateTime": "2019-11-26T17:14:12.3846681+00:00",
                                        "_links": {
                                            "associatedDesignDocument": {
                                                "href": "https://api.bentley.com/library/components/r444f052-c026-40d6-b412-8c3c12004ebe/documents/2da8dcff-5ebb-b236-ea2f-0bfbdf3c667s"
                                            },
                                            "fileUrl": {
                                                "href": "https://componentscenprodeussa01.blob.core.windows.net/private-3920224a-6600-41c9-aadb-2510159e373c/f8546e53-fd19-06f2-8071-ace2d70b05b6/Electric Water Heater_DRE.rvt"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to create document.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified document not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ComponentDocumentNotFound",
                                        "message": "Requested Component Document is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to upload component.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "InvalidDocumentRequest": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidDocumentRequest",
                                                "message": "Cannot perform operation.",
                                                "details": [
                                                    {
                                                        "code": "MissingRequiredProperty",
                                                        "message": "Required property is missing.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "MissingRequiredProperty",
                                                        "message": "Required property is missing.",
                                                        "target": "purpose"
                                                    },
                                                    {
                                                        "code": "MissingRequiredProperty",
                                                        "message": "Required property is missing.",
                                                        "target": "extension"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Purpose must be one of:  Design, Thumbnail, Reference, GalleryImage, TypeCatalog.",
                                                        "target": "purpose"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "AssociatedDesignDocument value is not valid.",
                                                        "target": "associatedDesignDocument"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "DisplayName is not valid, document with purpose 'TypeCatalog' displayName match refereneced 'AssociatedDesignDocument' displayName.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "IsActive must be true for a document to upversion.",
                                                        "target": "isActive"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "PreviousVersionId is not valid, it should be valid and active design document Id.",
                                                        "target": "previousVersionId"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Document with purpose 'TypeCatalog' must have associatedDesignDocument.",
                                                        "target": "associatedDesignDocument"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Document with purpose 'TypeCatalog' only support extension 'txt'.",
                                                        "target": "extension"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Provided PreviousVersionId is not valid.",
                                                        "target": "previousVersionId"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "DisplayName is over '250' length limit.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "DisplayName must not include these special characters. >, <, ^, $, ?, ||.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Extension is over '250' length limit.",
                                                        "target": "extension"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/{id}": {
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Delete Category",
                "description": "---\r\n\r\nDeletes category from user's organization context.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Write` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "delete-category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the category.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to delete specified category.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified category not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "CategoryNotFound",
                                        "message": "Requested Category is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Get Category",
                "description": "---\r\n\r\nRetrieves category from user's organization context.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Read` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "get-category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the category.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/category-response"
                                },
                                "example": {
                                    "category": {
                                        "id": "4ca8dcff-5ebb-b236-ea2f-0bfbdf3c623e",
                                        "displayName": "Equipment",
                                        "createdDateTime": "2019-11-26T17:12:40.8516569+00:00",
                                        "lastModifiedDateTime": "2019-11-26T17:14:12.3846681+00:00"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified category not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "CategoryNotFound",
                                        "message": "Requested Category is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Update Category",
                "description": "---\r\n\r\nUpdates a category in user's organization context.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Write` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "update-category",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the Category.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/category-create-update"
                            },
                            "example": {
                                "displayName": "Equipment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/category-response"
                                },
                                "example": {
                                    "category": {
                                        "id": "4ca8dcff-5ebb-b236-ea2f-0bfbdf3c623e",
                                        "displayName": "Equipment",
                                        "createdDateTime": "2019-11-26T17:12:40.8516569+00:00",
                                        "lastModifiedDateTime": "2019-11-26T17:14:12.3846681+00:00"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to create category.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified category not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "CategoryNotFound",
                                        "message": "Requested Category is not available."
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Catalog with the same name already exists within the organization.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "CategoryExists": {
                                        "value": {
                                            "error": {
                                                "code": "CategoryExists",
                                                "message": "Category with the same name already exists within the organization."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to upload component.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "InvalidUpdateCategoryRequest": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidCreateCategoryRequest",
                                                "message": "Cannot create category.",
                                                "details": [
                                                    {
                                                        "code": "MissingRequiredProperty",
                                                        "message": "Required property is missing.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "DisplayName is over '250' length limit.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "DisplayName must not include these special characters. >, <, ^, $, ?, ||.",
                                                        "target": "displayName"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/components/{id}": {
            "get": {
                "tags": [
                    "Components"
                ],
                "summary": "Get Component",
                "description": "---\r\n\r\nRetrieves digital component from user's organization or project context.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Read` permission assigned at the organization level or have `Read` permission assigned at the project level, in case request is scoped to a project.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "get-component",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the component.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "description": "Id of the project.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/component-response"
                                },
                                "example": {
                                    "component": {
                                        "id": "4ca8dcff-5ebb-b236-ea2f-0bfbdf3c623e",
                                        "displayName": "Door",
                                        "description": "A standard wooden door",
                                        "hashtags": [
                                            "door",
                                            "woodendoor"
                                        ],
                                        "state": "Published",
                                        "supportedFileTypes": [
                                            "RFA"
                                        ],
                                        "createdDateTime": "2019-11-26T17:12:40.8516569+00:00",
                                        "lastModifiedDateTime": "2019-11-26T17:14:12.3846681+00:00",
                                        "_links": {
                                            "catalogs": [
                                                {
                                                    "href": "https://api.bentley.com/library/catalogs/c7391e2d-e3e2-4c38-b5d9-0573a01e590d"
                                                },
                                                {
                                                    "href": "https://api.bentley.com/library/catalogs/ht391e2d-e3e2-4c38-b5d9-0573a01e597j"
                                                }
                                            ],
                                            "application": {
                                                "href": "https://api.bentley.com/library/applications/jy491e2d-e3e2-4c38-b5d9-0573a01e586h"
                                            },
                                            "category": {
                                                "href": "https://api.bentley.com/library/categories/r444f052-c026-40d6-b412-8c3c12004ebe"
                                            },
                                            "manufacturer": {
                                                "href": "https://api.bentley.com/library/manufacturers/e944f052-c026-40d6-b412-8c3c12004cac"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified component not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ComponentNotFound",
                                        "message": "Requested Component is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Components"
                ],
                "summary": "Delete Component",
                "description": "---\r\n\r\nDeletes digital component from user's organization context.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Write` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "delete-component",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the component.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to delete specified component.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified component not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ComponentNotFound",
                                        "message": "Requested Component is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Components"
                ],
                "summary": "Update Component",
                "description": "---\r\n\r\nUpdates existing component in user's organization context.\r\n\r\n### Notes\r\n\r\nTo update a component request body must contain all the properties desired for the component since this will replace existing component with current component definition. DisplayName and status are required properties.\r\n\r\nComponent status values are:\r\n-Draft\r\n-Published \r\n-Checked\r\n-Approved\r\n-Archived\r\n\r\n### Associated Entities\r\nA component can have associated entities, e.g catalogs, application, category, manufacturer. These values should be valid Ids of existing entities.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Write` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "update-component",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of the component.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/component-create-update"
                            },
                            "example": {
                                "displayName": "Door",
                                "description": "A standard wooden door",
                                "state": "Draft",
                                "catalogs": [
                                    "c7391e2d-e3e2-4c38-b5d9-0573a01e590d",
                                    "ht391e2d-e3e2-4c38-b5d9-0573a01e597j"
                                ],
                                "category": "jy491e2d-e3e2-4c38-b5d9-0573a01e523g",
                                "application": "ku591e2d-e3e2-4c38-b5d9-0573a01e545b",
                                "manufacturer": "li791e2d-e3e2-4c38-b5d9-0573a01e512n",
                                "hashtags": [
                                    "door",
                                    "woodendoor"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/component-response"
                                },
                                "example": {
                                    "component": {
                                        "id": "4ca8dcff-5ebb-b236-ea2f-0bfbdf3c623e",
                                        "displayName": "Door",
                                        "description": "A standard wooden door",
                                        "hashtags": [
                                            "door",
                                            "woodendoor"
                                        ],
                                        "state": "Published",
                                        "supportedFileTypes": [
                                            "RFA"
                                        ],
                                        "createdDateTime": "2019-11-26T17:12:40.8516569+00:00",
                                        "lastModifiedDateTime": "2019-11-26T17:14:12.3846681+00:00",
                                        "_links": {
                                            "catalogs": [
                                                {
                                                    "href": "https://api.bentley.com/library/catalogs/c7391e2d-e3e2-4c38-b5d9-0573a01e590d"
                                                },
                                                {
                                                    "href": "https://api.bentley.com/library/catalogs/ht391e2d-e3e2-4c38-b5d9-0573a01e597j"
                                                }
                                            ],
                                            "application": {
                                                "href": "https://api.bentley.com/library/applications/jy491e2d-e3e2-4c38-b5d9-0573a01e586h"
                                            },
                                            "category": {
                                                "href": "https://api.bentley.com/library/categories/r444f052-c026-40d6-b412-8c3c12004ebe"
                                            },
                                            "manufacturer": {
                                                "href": "https://api.bentley.com/library/manufacturers/e944f052-c026-40d6-b412-8c3c12004cac"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to update component.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified component not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ComponentNotFound",
                                        "message": "Requested Component is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to upload component.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "InvalidUpdateComponentRequest": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidUpdateComponentRequest",
                                                "message": "Cannot update component.",
                                                "details": [
                                                    {
                                                        "code": "MissingRequiredProperty",
                                                        "message": "Required property is missing.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "MissingRequiredProperty",
                                                        "message": "Required property is missing.",
                                                        "target": "state"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "State must be one of:  Draft, Published, Checked, Approved, Archived.",
                                                        "target": "state"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Provided Referenced entities not valid."
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "DisplayName is over '150' length limit.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "DisplayName must not include these special characters. >, <, ^, $, ?, ||.",
                                                        "target": "displayName"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Description is over '250' length limit.",
                                                        "target": "description"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Category must be string value of a valid GUID.",
                                                        "target": "category"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Application must be string value of a valid GUID.",
                                                        "target": "application"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Manufacturer must be string value of a valid GUID.",
                                                        "target": "manufacturer"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Catalog 'catalogname' must be string value of a valid GUID.",
                                                        "target": "catalogs"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Hashtag is over '50' length limit.",
                                                        "target": "hashtag"
                                                    },
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Hashtag must not include these special characters. >, <, ^, $, ?, ||.",
                                                        "target": "hashtag"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/catalogs": {
            "get": {
                "tags": [
                    "Catalogs"
                ],
                "summary": "Get Catalogs",
                "description": "---\r\n\r\nRetrieves digital catalogs from user's organization context.\r\n\r\n### Response\r\n\r\nBy default, each entity in the returned list will have only the id and display name.\r\n\r\nA full representation of each entity can be returned by specifying the *prefer* header that includes a value of *return=representation*.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization or have `Read` permission assigned at the organization level.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "get-catalogs",
                "parameters": [
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The [$top](https://www.odata.org/getting-started/basic-tutorial/#topskip) system query option requests the number of items in the queried collection to be included in the result.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "The [$skip](https://www.odata.org/getting-started/basic-tutorial/#topskip) query option requests the number of items in the queried collection that are to be skipped and not included in the result.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "$search",
                        "in": "query",
                        "description": "Find all catalogs that have the search string anywhere in the  hashTags or displayName.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Indicates a level of details in the response. This operation supports 'return=representation' and 'return=minimal' preferences.",
                        "schema": {
                            "enum": [
                                "return=minimal",
                                "return=representation"
                            ],
                            "type": "string",
                            "default": "return=minimal"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/catalogs-prefer-return-minimal"
                                },
                                "examples": {
                                    "Minimal": {
                                        "value": {
                                            "catalogs": [
                                                {
                                                    "id": "4ca8dcff-5ebb-b236-ea2f-0bfbdf3c623e",
                                                    "displayName": "Door's Catalog"
                                                },
                                                {
                                                    "id": "3ea8dcff-5ebb-b236-ea2f-0bfbdf3c624b",
                                                    "displayName": "Fittings"
                                                }
                                            ],
                                            "_links": {
                                                "self": {
                                                    "href": "https://api.bentley.com/Library/catalogs?$skip=0&$top=100"
                                                },
                                                "prev": {
                                                    "href": "https://api.bentley.com/Library/catalogs?$skip=0&$top=100"
                                                },
                                                "next": {
[...]
