{
    "openapi": "3.0.1",
    "info": {
        "title": "Reality Analysis",
        "description": "Interact with your data analysis jobs.\r\n\r\nCreate, update, delete jobs.",
        "version": "v2"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/reality-analysis"
        }
    ],
    "paths": {
        "/jobs/{id}/progress": {
            "get": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Get job progress",
                "description": "Retrieve job progress.\r\n\r\n### Remarks\r\n\r\nThe job progression is deemed valid when the job is active and won't be available after 30 days.\r\n\r\nUser should query with backoff intervals of 15, 30, 60, 120 seconds. The interval between the first and second query is 15 seconds and then 30 seconds. If the percentage changes the sequence is restarted.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.",
                "operationId": "jobs-progress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Job id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobProgressResponse"
                                },
                                "example": {
                                    "progress": {
                                        "percentage": 5,
                                        "state": "Active"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified job progress was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "JobProgressNotFound",
                                        "message": "Requested job progress is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/detectors/{detectorName}": {
            "get": {
                "tags": [
                    "Technology Preview",
                    "Detectors"
                ],
                "summary": "Get detector",
                "description": "---\r\n\r\nRetrieve details of a detector.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "detectors-get",
                "parameters": [
                    {
                        "name": "detectorName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This response indicates that the request was successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetectorDetailedResponse"
                                },
                                "example": {
                                    "detector": {
                                        "name": "cracks-detector",
                                        "displayName": "Cracks detector",
                                        "description": "Detects all the cracks within a scene.",
                                        "type": "PhotoObjectDetector",
                                        "documentationUrl": "https://www.bentley.com",
                                        "versions": [
                                            {
                                                "creationDate": "2025-08-08T08:13:00.8002519+00:00",
                                                "versionNumber": "2.0",
                                                "status": "AwaitingData",
                                                "creatorId": "4f2d47ac-e318-46dc-ae53-06d71c9ff79e",
                                                "capabilities": {
                                                    "labels": [
                                                        "Cracks"
                                                    ],
                                                    "exports": [
                                                        "Objects"
                                                    ]
                                                }
                                            },
                                            {
                                                "creationDate": "2025-08-08T08:06:30.2466033+00:00",
                                                "versionNumber": "1.0",
                                                "status": "Ready",
                                                "creatorId": "4f2d47ac-e318-46dc-ae53-06d71c9ff79e",
                                                "capabilities": {
                                                    "labels": [
                                                        "Cracks"
                                                    ],
                                                    "exports": [
                                                        "Objects"
                                                    ]
                                                },
                                                "downloadUrl": "https://cccsdetectorsdeveussa01.blob.core.windows.net/c29038eb-207e-430e-bba3-1a1ce48ca9ae/cracks-detector-1.0.zip?sv=2024-08-04&se=2025-08-08T09%3A21%3A37Z&sr=b&sp=r&sig=eyGf9V%2BARcUaWYcjaw6znIb2Hbe7suONrlqYwR8ZvRc%3D"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified detector was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "DetectorNotFound",
                                        "message": "Requested detector is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Technology Preview",
                    "Detectors"
                ],
                "summary": "Delete detector",
                "description": "---\r\n\r\nDelete a detector and all its versions.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "detectors-delete",
                "parameters": [
                    {
                        "name": "detectorName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "This response indicates that the detector was deleted successfully."
                    },
                    "400": {
                        "description": "The 400 (Bad Request) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityAnalysisRequest",
                                        "message": "Cannot delete detector.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "User must have a user id."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified detector was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "DetectorNotFound",
                                        "message": "Requested detector is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Technology Preview",
                    "Detectors"
                ],
                "summary": "Modify detector",
                "description": "---\r\n\r\nPatch an existing detector\r\n\r\nPatch can be used for changing the display name, description, or documentation URL of a detector. Any combination of these fields can be provided.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "detectors-patch",
                "parameters": [
                    {
                        "name": "detectorName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetectorPatch"
                            },
                            "example": {
                                "displayName": "bentley-cracks-s2d",
                                "description": "Detect cracks in concrete infrastructure to enable defect inspection workflows.",
                                "documentationUrl": "https://docs.example.com/detector"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "This response indicates that the request was successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetectorPatchResponse"
                                },
                                "example": {
                                    "detector": {
                                        "name": "cracks-detector",
                                        "displayName": "Cracks detector",
                                        "description": "Detects all the cracks within a scene.",
                                        "type": "PhotoObjectDetector",
                                        "documentationUrl": "https://www.bentley.com",
                                        "versions": [
                                            {
                                                "creationDate": "2025-08-11T15:11:24.2712971+00:00",
                                                "versionNumber": "1.0",
                                                "status": "Ready",
                                                "creatorId": "4f2d47ac-e318-46dc-ae53-06d71c9ff79e",
                                                "capabilities": {
                                                    "labels": [
                                                        "Crack Object"
                                                    ],
                                                    "exports": [
                                                        "Lines"
                                                    ]
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityAnalysisRequest",
                                        "message": "Invalid request to Reality Modeling.",
                                        "details": [
                                            {
                                                "code": "InvalidProperty",
                                                "message": "Special characters are not allowed.",
                                                "target": "Detector.DisplayName"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions for this operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "DetectorNotFound",
                                        "message": "Requested detector is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{id}": {
            "delete": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Cancel job",
                "description": "Cancel a job.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.",
                "operationId": "jobs-cancel",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Job id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobResponse"
                                },
                                "example": {
                                    "job": {
                                        "id": "5e315451-564e-4e8b-a952-45b14e6a9c90",
                                        "state": "TerminatingOnCancel",
                                        "userId": "3a8670f9-b69f-4a60-b958-f103d580755f",
                                        "executionInfo": {
                                            "createdDateTime": "2025-08-05T14:04:56.0000000+00:00"
                                        },
                                        "specifications": {
                                            "inputs": {
                                                "photos": "40a8142e-3277-4c65-922f-e1f3759b904b",
                                                "photoObjectDetector": "3879d57e-3387-4082-80d7-9bc94f974c7c"
                                            },
                                            "outputs": {
                                                "objects2D": "f4cc6131-a9c8-4833-8d2a-cd0a11b8b778"
                                            }
                                        },
                                        "name": "Objects2D Job",
                                        "type": "Objects2D",
                                        "iTwinId": "ce54f773-67db-4b4f-a98b-368329107429"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified job was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "JobNotFound",
                                        "message": "Requested job is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityAnalysisRequest",
                                        "message": "Invalid request to Reality Analysis.",
                                        "details": [
                                            {
                                                "code": "InvalidChange",
                                                "message": "The job is about to complete. It is saving the data. Cancellation is not allowed during this period.",
                                                "target": ""
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Get job",
                "description": "Retrieve job details.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.",
                "operationId": "jobs-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Job id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobResponse"
                                },
                                "examples": {
                                    "Segmentation2D": {
                                        "value": {
                                            "job": {
                                                "id": "8ee1aeca-1b3c-4063-a298-042681febcda",
                                                "state": "Active",
                                                "userId": "8791f3ca-3313-4c50-b0e7-76b32d0bab9e",
                                                "executionInfo": {
                                                    "createdDateTime": "2025-08-05T12:38:12.0000000+00:00"
                                                },
                                                "specifications": {
                                                    "inputs": {
                                                        "photos": "cf90403c-5d86-4844-85da-66c4aac64572",
                                                        "photoSegmentationDetector": "47c121b3-0b0b-4510-8f9a-d93803de18ab"
                                                    },
                                                    "outputs": {
                                                        "segmentation2D": "a5a0356c-bb72-4149-87ff-8f22908534ee",
                                                        "segmentedPhotos": "4c0e3562-fbbd-4683-987e-b149b8488e4d"
                                                    },
                                                    "options": {
                                                        "computeLineWidth": true,
                                                        "minPhotos": 10
                                                    }
                                                },
                                                "name": "Segmentation2D Job",
                                                "type": "Segmentation2D",
                                                "iTwinId": "5ad3c614-83aa-41e2-b3f8-fbd6d18b93b9"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified job was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "JobNotFound",
                                        "message": "Requested job is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/detectors": {
            "post": {
                "tags": [
                    "Technology Preview",
                    "Detectors"
                ],
                "summary": "Create detector",
                "description": "---\r\n\r\nCreate a new detector.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "detectors-create",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DetectorCreatePayload"
                            },
                            "example": {
                                "name": "traffic-signs",
                                "displayName": "Traffic signs detector",
                                "description": "Detects all traffic signs within a scene.",
                                "type": "PhotoObjectDetector",
                                "documentationUrl": "https://www.bentley.com"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "This response indicates that the detector was successfully created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetectorCreateResponse"
                                },
                                "example": {
                                    "detector": {
                                        "name": "traffic-signs",
                                        "displayName": "Traffic signs detector",
                                        "description": "Detects all traffic signs within a scene.",
                                        "type": "PhotoObjectDetector",
                                        "documentationUrl": "https://www.bentley.com",
                                        "versions": []
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The 400 (Bad Request) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityAnalysisRequest",
                                        "message": "Cannot create detector.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "Invalid detector type.",
                                                "target": "detector.type"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the requested operation or resource could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ResourceNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ResourceNotFound",
                                                "message": "The requested resource was not found. Verify the API URL and the Accept header.",
                                                "details": [
                                                    {
                                                        "code": "OperationNotFound",
                                                        "message": "Unable to match incoming request to an operation."
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Technology Preview",
                    "Detectors"
                ],
                "summary": "Get detectors",
                "description": "---\r\n\r\nRetrieve all available detectors.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "detectors-get-all",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The $filter query option requests a specific set of detectors.\nThe given filter is evaluated for each detector and only detectors where the filter evaluates to true are returned.\nProperties supported for filtering: `labels`, `exports`.\nSupported operators: `and`, `or`, `not`, `in`.\nExamples of $filter values:\n`$filter=exports in ('Polygons', 'Lines') and labels in ('crack')`\n`$filter=(not exports in ('Locations')) and labels in ('traffic sign')`\n`$filter=not (exports in ('Lines') or labels in ('crack'))`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This response indicates that the request was successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetectorsResponse"
                                },
                                "example": {
                                    "detectors": [
                                        {
                                            "name": "@bentley/cracks-ortho",
                                            "displayName": "Cracks Ortho",
                                            "description": "Detects cracks in concrete infrastructure to enable defect inspection workflows.",
                                            "type": "OrthophotoSegmentationDetector",
                                            "documentationUrl": "https://www.bentley.com",
                                            "latestVersionNumber": "1.0"
                                        },
                                        {
                                            "name": "traffic-signs",
                                            "displayName": "Traffic signs detector",
                                            "description": "Detects all traffic signs within a scene.",
                                            "type": "PhotoObjectDetector",
                                            "documentationUrl": "https://www.example.com"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The 400 (Bad Request) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidModelingRequest",
                                        "message": "Cannot retrieve detectors.",
                                        "details": [
                                            {
                                                "code": "InvalidParameter",
                                                "message": "$filter contains an invalid or unsupported statement.",
                                                "target": "$filter"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the requested operation or resource could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ResourceNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ResourceNotFound",
                                                "message": "The requested resource was not found. Verify the API URL and the Accept header.",
                                                "details": [
                                                    {
                                                        "code": "OperationNotFound",
                                                        "message": "Unable to match incoming request to an operation."
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs": {
            "get": {
                "tags": [
                    "Jobs"
                ],
                "summary": "Get jobs",
                "description": "---\r\n\r\nRetrieve list of jobs matching provided filter.\r\n\r\nThe `iTwinId` in filter is optional. If it is not provided, this will return jobs created by the same user. However, if the iTwinId is provided and the user has access to it, this will return jobs associated with that specific iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "jobs-get-all",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The $filter query option requests a specific set of jobs.\nThe given filter is evaluated for each job and only job where the filter evaluates to true are returned.\nProperties supported for filtering: `id`, `iTwinId`, `name`, `email`, `type`, `state`, `createdDateTime`.\nSupported operators: `eq`, `lt`, `le`, `gt`, `ge`, `ne`, `and`, `or`.\n Examples of $filter values:\n`$filter=iTwinId eq dc720f05-e5f7-448b-ae06-765de46f0af1`\n`$filter=id eq 9e2d27cf-b695-47e9-b7f0-0d47dc3b88ad`\n`$filter=createdDateTime gt 2024-06-24T13:00:00Z`\n",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Parameter that enables continuing to the next page of the previous paged query. This must be passed exactly as it is in the response body's _links.next property.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The number of reality analysis jobs to get in each page. Max 1000, but 100 is the default if this parameter is not included.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobs-response"
                                },
                                "example": {
                                    "jobs": [
                                        {
                                            "id": "eba823ca-f8e3-4ebb-be5f-6bc77aadbe14",
                                            "state": "Success",
                                            "userId": "e263a543-db55-4fa5-8a4e-69b9cfcf6c59",
                                            "executionInfo": {
                                                "startedDateTime": "2025-11-07T09:56:14.0000000+00:00",
                                                "endedDateTime": "2025-11-07T10:07:49.0000000+00:00",
                                                "createdDateTime": "2025-11-07T09:48:28.0000000+00:00",
                                                "processingUnits": 0
                                            },
                                            "specifications": {
                                                "inputs": {
                                                    "model3D": "b8bdeba4-a4a6-42d7-b81a-a22f892707a2",
                                                    "pointCloudSegmentationDetector": "bentley-rail-s3d/1.0"
                                                },
                                                "outputs": {
                                                    "segmentation3D": "4a770816-f9b0-45e5-9b8c-143269d687ac",
                                                    "segmentedPointCloud": "7bbb1834-c326-4fea-82e7-9aa6d0317319",
                                                    "objects3D": "f36f2f91-1a7b-4eb4-877f-c2075cda355c"
                                                }
                                            },
                                            "name": "Unified Job- S3D",
                                            "type": "Segmentation3D",
                                            "iTwinId": "2c8e4988-eb9b-4e5f-a903-8c7c18f3030a"
                                        },
                                        {
                                            "id": "f2257da7-1c9d-4599-811d-db8aa139c1ac",
                                            "state": "Failed",
                                            "userId": "e263a543-db55-4fa5-8a4e-69b9cfcf6c59",
                                            "executionInfo": {
                                                "startedDateTime": "2025-11-07T09:56:14.0000000+00:00",
                                                "endedDateTime": "2025-11-07T10:02:00.0000000+00:00",
                                                "createdDateTime": "2025-11-07T09:50:33.0000000+00:00",
                                                "processingUnits": 0
                                            },
                                            "specifications": {
                                                "inputs": {
                                                    "photos": "fc2746d5-7b62-4f00-9a88-1bfaa22475d7",
                                                    "photoObjectDetector": "bentley-faces-license-plates-o2d/1.0"
                                                },
                                                "outputs": {
                                                    "objects2D": "62869765-1031-470f-9730-15ef7aac8adb"
                                                }
                                            },
                                            "name": "Unified Job- O2D",
                                            "type": "Objects2D",
                                            "iTwinId": "2c8e4988-eb9b-4e5f-a903-8c7c18f3030a"
                                        }
                                    ],
                                    "_links": {
                                        "next": {
                                            "href": "https://api.bentley.com/reality-analysis/jobs?$filter=iTwinId%20eq%202c8e4988-eb9b-4e5f-a903-8c7c18f3030a&$top=2&continuationToken=NGFhYWZiZjEtZGY5YS00MTEzLTg4ZTgtMjFmODQ4YzEwNzhj"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The 400 (Bad Request) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityAnalysisRequest",
                                        "message": "Cannot find jobs.",
                                        "details": [
                                            {
                                                "code": "InvalidParameter",
                                                "message": "The $top query parameter value must be a positive integer that does not exceed 1000.",
                                                "target": "$Top"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Create job",
                "description": "---\r\n\r\nCreate a new job.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "jobs-create",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobCreation"
                            },
                            "example": {
                                "specifications": {
                                    "inputs": {
                                        "photos": "df091f39-377c-48fb-a9c9-9fd0998e151a",
                                        "photoObjectDetector": "9a125f8a-da72-41d8-8482-2f7b179d732e"
                                    },
                                    "outputs": [
                                        "Objects2D"
                                    ],
                                    "options": {
                                        "maxDist": 2,
                                        "useTiePoints": true
                                    }
                                },
                                "name": "My first Objects2D job",
                                "type": "Objects2D",
                                "iTwinId": "019b18b4-e4c1-4211-b8bb-1bd26b8e955e"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobResponse"
                                },
                                "example": {
                                    "job": {
                                        "id": "86e93558-7dbd-40da-8604-245ed345c57a",
                                        "state": "Active",
                                        "userId": "654e3c44-9a1a-4c72-8f8c-e1245bfcebf3",
                                        "executionInfo": {
                                            "createdDateTime": "2025-08-04T13:57:24.0000000+00:00"
                                        },
                                        "specifications": {
                                            "inputs": {
                                                "photos": "df091f39-377c-48fb-a9c9-9fd0998e151a",
                                                "photoObjectDetector": "9a125f8a-da72-41d8-8482-2f7b179d732e"
                                            },
                                            "outputs": {
                                                "objects2D": "407f2733-75cf-4aa3-bd3d-3cb85221ac43"
                                            },
                                            "options": {
                                                "useTiePoints": true,
                                                "maxDist": 2
                                            }
                                        },
                                        "name": "My first Objects2D job",
                                        "type": "Objects2D",
                                        "iTwinId": "019b18b4-e4c1-4211-b8bb-1bd26b8e955e"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The 400 (Bad Request) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityAnalysisRequest",
                                        "message": "Invalid request to Reality Analysis.",
                                        "details": [
                                            {
                                                "code": "InvalidProperty",
                                                "message": "Invalid value 'Objects2D1' for property 'type', line 15, position 34.",
                                                "target": "type"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the requested operation or resource could not be found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ResourceNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "ResourceNotFound",
                                                "message": "The requested resource was not found. Verify the API URL and the Accept header.",
                                                "details": [
                                                    {
                                                        "code": "OperationNotFound",
                                                        "message": "Unable to match incoming request to an operation."
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/detectors/{detectorName}/versions/{versionNumber}/unpublish": {
            "post": {
                "tags": [
                    "Technology Preview",
                    "Detectors"
                ],
                "summary": "Unpublish detector version",
                "description": "---\r\n\r\nUnpublish a public detector version.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "detectors-unpublish-version",
                "parameters": [
                    {
                        "name": "detectorName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "versionNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "This response indicates that the detector version was unpublished successfully."
                    },
                    "400": {
                        "description": "The 400 (Bad Request) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityDataAnalysisRequest",
                                        "message": "Cannot unpublish detector version.",
                                        "details": [
                                            {
                                                "code": "InvalidParameter",
                                                "message": "Detector version cannot be unpublished."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions for this operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the detector or detector version was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "DetectorNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "DetectorNotFound",
                                                "message": "Requested detector is not available."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/itwins/{iTwinId}/bucket": {
            "get": {
                "tags": [
                    "Technology Preview",
                    "Buckets"
                ],
                "summary": "Get bucket",
                "description": "Retrieve Reality Analysis bucket for an iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.",
                "operationId": "buckets-get",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "The iTwin Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v2+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BucketResponse"
                                },
                                "example": {
                                    "bucket": {
                                        "iTwinId": "8b7c5927-6d1c-40eb-8ea8-3fa5952c0ed5"
                                    },
                                    "_links": {
                                        "containerUrl": {
                                            "href": "https://cccsprodeusbsa01.blob.core.windows.net/bucket-8b7c5927-6d1c-40eb-8ea8-3fa5952c0ed5?sv=2024-08-04&se=2025-05-30T11%3A37%3A13Z&sr=c&sp=rw&sig=**removed**"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The 400 status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
