{
    "openapi": "3.0.1",
    "info": {
        "title": "Reality Management",
        "description": "Interact with your reality data.\r\n\r\nView, update, create, and delete reality data.\r\n",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/reality-management/reality-data"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Reality Data"
                ],
                "summary": "Get iTwin's reality data",
                "description": "---\r\n\r\nRetrieves a list of [reality data](https://www.itwinjs.org/learning/glossary/#realitydata) instances belonging to the specified iTwin.\r\n\r\nThe retrieved instances are those for which you have the required access rights, relative to the specified iTwin.\r\n\r\nThe `iTwinId` is optional. If you don't provide it, the retrieved [reality data](https://www.itwinjs.org/learning/glossary/#realitydata) instances will be relative to general access rights provided by your organization. These rights are usually more restrictive, so we recommend using the `iTwinId` parameter for exhaustive results.\r\n\r\n### Notes\r\n\r\nThe `Prefer` header can be used to specify how much result metadata is desired by the client. The `Prefer` request header field is used to indicate that particular server behaviors are preferred by the client but are not required for successful completion of the request.\r\n\r\nThis operation supports `\"return=representation\"` and `\"return=minimal\"` preferences.\r\n\r\nThe `\"return=representation\"` preference indicates that the client prefers that the server include an entity representing the current state of the resource in the response to a successful request, i.e., all properties are included in the response.\r\nThe `\"return=minimal\"` preference indicates that the client wishes the server to return only a minimal response to a successful request. This is the default preference if `Prefer` header is not specified.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must be an Organization Administrator for the Organization that owns a given iTwin or must have access to context.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "get-all-reality-data",
                "parameters": [
                    {
                        "name": "iTwinId",
                        "in": "query",
                        "description": "Id of iTwin. The operation gets all reality data in this iTwin.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Parameter that enables continuing to the next page of the previous paged query. This must be passed exactly as it is in the response body's _links.next property. If this is specified and $top is omitted, the next page will be the same size as the previous page.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The number of reality data to get in each page. Max 1000, but 100 is the default if this parameter is not included.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "extent",
                        "in": "query",
                        "description": "Extent of the area to search, delimited by southwest and northeast coordinates. Extent values are specified in this format: SouthwestCorner_Longitude, SouthwestCorner_Latitude, NortheastCorner_Longitude, NortheastCorner_Latitude. E.g. to get all reality data in an area around Exton, PA, provide the following extent parameter: extent=-75.637679,40.032871,-75.633647,40.032771",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "description": "Parameter that enable to order reality data in ascending or descending order. Default is ascending.Example : displayName desc",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$search",
                        "in": "query",
                        "description": "Search reality data",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "Comma separated list of reality data types. Example: \"OPC,Terrain3DTiles, OMR, Cesium3DTiles\" ",
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "acquisitionDateTime",
                        "in": "query",
                        "description": "Aquisition datetime range in ISO-8601 compliant time (UTC).\nFormat: startDateTime/endDateTime\nExample: 2021-05-12T20:03:12Z/2022-05-12T20:03:12Z",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdDateTime",
                        "in": "query",
                        "description": "Created datetime range in ISO-8601 compliant time (UTC).\nFormat: startDateTime/endDateTime\nExample: 2021-05-12T20:03:12Z/2022-05-12T20:03:12Z",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modifiedDateTime",
                        "in": "query",
                        "description": "Modified datetime range in ISO-8601 compliant time (UTC).\nFormat: startDateTime/endDateTime\nExample: 2021-05-12T20:03:12Z/2022-05-12T20:03:12Z",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastAccessedDateTime",
                        "in": "query",
                        "description": "Last accessed datetime range in ISO-8601 compliant time (UTC).\nFormat: startDateTime/endDateTime\nExample: 2021-05-12T20:03:12Z/2022-05-12T20:03:12Z",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ownerId",
                        "in": "query",
                        "description": "Guid identifier of the owner. Example: 123e4567-e89b-12d3-a456-426614174000",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dataCenter",
                        "in": "query",
                        "description": "Data center location. Example: \"East US\"",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "Parameter to get reality data with exact matching tags.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Prefer",
                        "in": "header",
                        "description": "Optional. Selected preferred representation.",
                        "schema": {
                            "enum": [
                                "return=minimal",
                                "return=representation"
                            ],
                            "type": "string",
                            "default": "return=minimal"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/reality-data-metadata-return-minimal"
                                },
                                "examples": {
                                    "minimal": {
                                        "value": {
                                            "realityData": [
                                                {
                                                    "id": "95d8dccd-d89e-4287-bb5f-3219acbc71ae",
                                                    "displayName": "Name of reality data",
                                                    "type": "3mx"
                                                }
                                            ],
                                            "_links": {
                                                "next": {
                                                    "href": "https://api.bentley.com/reality-management/reality-data?iTwinId=0d4e1f7b-1a4c-0000-0000-1643d04e3954&continuationToken=eyJ0b3AiOjEwMCwic2tpcCI6MTAwfQ"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to get  reality data's from iTwin.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to get reality data. Please ensure that the request is valid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityDataRequest",
                                        "message": "Invalid RealityData request.",
                                        "details": [
                                            {
                                                "code": "InvalidParameter",
                                                "message": "The field Top must be between 1 and 1000.",
                                                "target": "$Top"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Reality Data"
                ],
                "summary": "Create reality data",
                "description": "---\r\nCreates a [reality data](https://www.itwinjs.org/learning/glossary/#realitydata).\r\n\r\nAs shown in the request section below, you must provide a request body.\r\n\r\nYou MUST provide the `iTwinId`, `displayName` and `type` properties.\r\n\r\nThe `rootDocument` property is not required but highly recommended. It is the entry point for consuming applications to read the content of the Reality Data. [See RootDocument property](https://developer.bentley.com/apis/reality-management/rm-rd-details/#rootdocument)\r\n\r\nFor more details on each property, see [Reality Data Properties](https://developer.bentley.com/apis/reality-management/rm-rd-details/) in documentation.\r\n\r\nAfter creation, the reality data will be associated to the specified iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `realitydata_create` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n---\r\n",
                "operationId": "create-reality-data",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/request-body-create"
                            },
                            "example": {
                                "iTwinId": "8f70cca5-2122-4912-8713-49f6cd7f17b1",
                                "displayName": "Name of the reality data to create",
                                "classification": "Model",
                                "type": "LAS",
                                "description": "Description of the reality data",
                                "dataset": "Dataset",
                                "group": "GroupId",
                                "attribution": "Attribution of reality data",
                                "termsOfUse": "Terms of use of reality data",
                                "rootDocument": "rootDocument.las",
                                "tags": [
                                    "tag1",
                                    "tag2"
                                ],
                                "acquisition": {
                                    "startDateTime": "2021-05-12T20:03:12.0000000+00:00",
                                    "endDateTime": "2021-05-15T22:07:18.0000000+00:00",
                                    "acquirer": "Data Acquisition Inc."
                                },
                                "extent": {
                                    "southWest": {
                                        "latitude": 40.0206,
                                        "longitude": -75.6355
                                    },
                                    "northEast": {
                                        "latitude": 40.0356,
                                        "longitude": -75.6059
                                    }
                                },
                                "crs": {
                                    "id": "EPSG:4326",
                                    "verticalId": "EPSG:5773"
                                },
                                "authoring": true
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Reality data successfully created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/reality-data-metadata-create-response"
                                },
                                "example": {
                                    "realityData": {
                                        "id": "95d8dccd-d89e-4287-bb5f-3219acbc71ae",
                                        "displayName": "Name of reality data",
                                        "dataset": "Dataset",
                                        "group": "73d09423-28c3-4fdb-ab4a-03a47a5b04f8",
                                        "description": "Description of reality data",
                                        "attribution": "Attribution of reality data",
                                        "termsOfUse": "Terms of use of reality data",
                                        "rootDocument": "rootDocument.las",
                                        "size": 6521212,
                                        "classification": "Model",
                                        "type": "LAS",
                                        "tags": [
                                            "tag1",
                                            "tag2"
                                        ],
                                        "acquisition": {
                                            "startDateTime": "2021-05-12T20:03:12.0000000+00:00",
                                            "endDateTime": "2021-05-15T22:07:18.0000000+00:00",
                                            "acquirer": "Data Acquisition Inc."
                                        },
                                        "extent": {
                                            "southWest": {
                                                "latitude": 38.0206,
                                                "longitude": -75.6355
                                            },
                                            "northEast": {
                                                "latitude": 38.0356,
                                                "longitude": -75.6059
                                            }
                                        },
                                        "crs": {
                                            "id": "EPSG:4326",
                                            "verticalId": "EPSG:5773"
                                        },
                                        "authoring": true,
                                        "dataCenterLocation": "North Europe",
                                        "modifiedDateTime": "2021-04-09T19:03:12.0000000+00:00",
                                        "lastAccessedDateTime": "2021-04-09T00:00:00.0000000+00:00",
                                        "createdDateTime": "2021-02-22T20:03:40.0000000+00:00",
                                        "ownerId": "f1d49cc7-f9b3-494f-9c67-563ea5597063"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to create a reality data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to create reality data. Please ensure that the request is valid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "examples": {
                                    "InvalidRealityDataRequest": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidRealityDataRequest",
                                                "message": "Invalid request to create reality data. Can not create reality data.",
                                                "details": [
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "Invalid parameter.",
                                                        "target": "type"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}": {
            "patch": {
                "tags": [
                    "Reality Data"
                ],
                "summary": "Update reality data",
                "description": "---\r\n\r\nUpdates the metadata of a [reality data](https://www.itwinjs.org/learning/glossary/#realitydata).\r\n\r\nThe `iTwinId` parameter is optional, but it is preferable to provide it, because the permissions used to allow the modification of the reality data are determined from the iTwin.\r\n\r\nWith no iTwin specified, it may be possible to modify the reality data (e.g. the caller is the owner), but more permissions may be granted when the `iTwinId` is provided.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `realitydata_manage` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "update-reality-data",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of reality data",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/request-body-update"
                            },
                            "example": {
                                "iTwinId": "8f70cca5-2122-4912-8713-49f6cd7f17b1",
                                "displayName": "Name of the reality data to modify",
                                "classification": "Model",
                                "type": "LAS",
                                "description": "Description of the reality data",
                                "dataset": "Dataset",
                                "group": "GroupId",
                                "attribution": "Attribution of reality data",
                                "termsOfUse": "Terms of use of reality data",
                                "rootDocument": "Models/Scene/myModel.las",
                                "tags": [
                                    "tag1",
                                    "tag2"
                                ],
                                "acquisition": {
                                    "startDateTime": "2021-05-12T20:03:12.0000000+00:00",
                                    "endDateTime": "2021-05-15T22:07:18.0000000+00:00",
                                    "acquirer": "Data Acquisition Inc."
                                },
                                "extent": {
                                    "southWest": {
                                        "latitude": 40.0206,
                                        "longitude": -75.6355
                                    },
                                    "northEast": {
                                        "latitude": 40.0356,
                                        "longitude": -75.6059
                                    }
                                },
                                "crs": {
                                    "id": "EPSG:4326",
                                    "verticalId": "EPSG:5773"
                                },
                                "authoring": false
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/reality-data-metadata-response"
                                },
                                "example": {
                                    "realityData": {
                                        "id": "95d8dccd-d89e-4287-bb5f-3219acbc71ae",
                                        "displayName": "Name of reality data",
                                        "dataset": "Dataset",
                                        "group": "73d09423-28c3-4fdb-ab4a-03a47a5b04f8",
                                        "description": "Description of reality data",
                                        "attribution": "Attribution of reality data",
                                        "termsOfUse": "Terms of use of reality data",
                                        "rootDocument": "Directory/SubDirectory/realityData.las",
                                        "size": 6521212,
                                        "classification": "Model",
                                        "type": "LAS",
                                        "tags": [
                                            "tag1",
                                            "tag2"
                                        ],
                                        "acquisition": {
                                            "startDateTime": "2021-05-12T20:03:12.0000000+00:00",
                                            "endDateTime": "2021-05-15T22:07:18.0000000+00:00",
                                            "acquirer": "Data Acquisition Inc."
                                        },
                                        "extent": {
                                            "southWest": {
                                                "latitude": 38.0206,
                                                "longitude": -75.6355
                                            },
                                            "northEast": {
                                                "latitude": 38.0356,
                                                "longitude": -75.6059
                                            }
                                        },
                                        "crs": {
                                            "id": "EPSG:4326",
                                            "verticalId": "EPSG:5773"
                                        },
                                        "authoring": false,
                                        "dataCenterLocation": "North Europe",
                                        "modifiedDateTime": "2021-04-09T19:03:12.0000000+00:00",
                                        "lastAccessedDateTime": "2021-04-09T00:00:00.0000000+00:00",
                                        "createdDateTime": "2021-02-22T20:03:40.0000000+00:00",
                                        "ownerId": "f1d49cc7-f9b3-494f-9c67-563ea5597063"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to update a reality data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified reality data was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RealityDataNotFound",
                                        "message": "Requested reality data is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to update reality data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "examples": {
                                    "InvalidRealityDataRequest": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidRealityDataRequest",
                                                "message": "Invalid RealityData request.",
                                                "details": [
                                                    {
                                                        "code": "InvalidValue",
                                                        "message": "The value 'fe9aac3a-2496-----' is not valid.",
                                                        "target": "id"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Reality Data"
                ],
                "summary": "Get reality data metadata",
                "description": "---\r\n\r\nRetrieves the metadata of a [reality data](https://www.itwinjs.org/learning/glossary/#realitydata).\r\n\r\nThe `iTwinId` parameter is optional, but it is preferable to provide it, because the permissions used to access the collection of reality data are determined from the iTwin. With no iTwin specified, the desired reality data can be retrieved (e.g. the caller is the owner), but it's more likely to get the expected result if you provide the `iTwinId`.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `realitydata_use` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "get-reality-data-details",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of reality data",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "iTwinId",
                        "in": "query",
                        "description": "Id of iTwin",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/reality-data-metadata-response"
                                },
                                "example": {
                                    "realityData": {
                                        "id": "95d8dccd-d89e-4287-bb5f-3219acbc71ae",
                                        "displayName": "Name of reality data",
                                        "dataset": "Dataset",
                                        "group": "73d09423-28c3-4fdb-ab4a-03a47a5b04f8",
                                        "description": "Description of reality data",
                                        "attribution": "Attribution of reality data",
                                        "termsOfUse": "Terms of use of reality data",
                                        "rootDocument": "Directory/SubDirectory/realityData.las",
                                        "size": 6521212,
                                        "classification": "Model",
                                        "type": "LAS",
                                        "tags": [
                                            "tag1",
                                            "tag2"
                                        ],
                                        "acquisition": {
                                            "startDateTime": "2021-05-12T20:03:12.0000000+00:00",
                                            "endDateTime": "2021-05-15T22:07:18.0000000+00:00",
                                            "acquirer": "Data Acquisition Inc."
                                        },
                                        "extent": {
                                            "southWest": {
                                                "latitude": 38.0206,
                                                "longitude": -75.6355
                                            },
                                            "northEast": {
                                                "latitude": 38.0356,
                                                "longitude": -75.6059
                                            }
                                        },
                                        "crs": {
                                            "id": "EPSG:4326",
                                            "verticalId": "EPSG:5773"
                                        },
                                        "authoring": false,
                                        "dataCenterLocation": "North Europe",
                                        "modifiedDateTime": "2021-04-09T19:03:12.0000000+00:00",
                                        "lastAccessedDateTime": "2021-04-09T00:00:00.0000000+00:00",
                                        "createdDateTime": "2021-02-22T20:03:40.0000000+00:00",
                                        "ownerId": "f1d49cc7-f9b3-494f-9c67-563ea5597063"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified reality data was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RealityDataNotFound",
                                        "message": "Requested reality data is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to get reality data details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityDataRequest",
                                        "message": "Invalid RealityData request.",
                                        "details": [
                                            {
                                                "code": "InvalidParameter",
                                                "message": "The value 'fe9aac3a-2496-4bd2-82c6-7c0818f499' is not valid.",
                                                "target": "iTwinId"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Reality Data"
                ],
                "summary": "Delete reality data",
                "description": "---\r\n\r\nDeletes a [reality data](https://www.itwinjs.org/learning/glossary/#realitydata).\r\n\r\nTo delete a reality data, it must be associated to only one (or zero) iTwin. If it has more associated iTwins, first [dissociate](https://developer.bentley.com/apis/reality-management/operations/dissociate-from-itwin/) the iTwins.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `realitydata_manage` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "delete-reality-data",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of reality data",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the specified reality data was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RealityDataNotFound",
                                        "message": "Requested reality data is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to delete reality data. Please ensure that the request is valid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityDataRequest",
                                        "message": "Invalid RealityData request.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "The value '028cb17d-01e5-4d92-bfee-89b201a922' is not valid.",
                                                "target": "id"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/itwins/{iTwinId}": {
            "post": {
                "tags": [
                    "Associations"
                ],
                "summary": "Associate a reality data to a iTwin",
                "description": "---\r\n\r\nAssociates a [reality data](https://www.itwinjs.org/learning/glossary/#realitydata) to a iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `realitydata_create , realitydata_assign` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "associate-to-iTwin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of reality data",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "Id of iTwin",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Reality data successfully associated to the iTwin",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/iTwin-association-response"
                                },
                                "example": {
                                    "iTwinAssociation": {
                                        "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                        "iTwinId": "40ddf4f1-50b9-4d68-a02e-cd711094a411"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the reality data id or the iTwin id was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RealityDataNotFound",
                                        "message": "Requested reality data is not available."
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response indicates that the Association with the same iTwin already exists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "AssociationExists",
                                        "message": "Association with the same iTwin already exists."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to associate reality data to iTwin. Please ensure that the request is valid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityDataRequest",
                                        "message": "Invalid RealityData request.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "The value '028cb17d-01e5-4d92-bfee-89b201a92' is not valid.",
                                                "target": "iTwinId"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Associations"
                ],
                "summary": "Dissociate a reality data from a iTwin",
                "description": "---\r\n\r\nDissociates a [reality data](https://www.itwinjs.org/learning/glossary/#realitydata) from a iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `realitydata_create , realitydata_assign` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "dissociate-from-iTwin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of reality data",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "iTwinId",
                        "in": "path",
                        "description": "Id of iTwin",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to dissociate a reality data from iTwin.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the association between the reality data and iTwin was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "AssociationNotFound",
                                        "message": "Requested association between reality data and iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to dissociate reality data from iTwin. Please ensure that the request is valid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityDataRequest",
                                        "message": "Invalid RealityData request.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "The value '028cb17d-01e5-4d92-bfee-89b201a92' is not valid.",
                                                "target": "iTwinId"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/itwins": {
            "get": {
                "tags": [
                    "Associations"
                ],
                "summary": "Get all iTwins to which a reality data is associated",
                "description": "---\r\n\r\nRetrieves the list of iTwins associated to the specified [reality data](https://www.itwinjs.org/learning/glossary/#realitydata).\r\n\r\nWhen no iTwin is associated to the reality data, an empty list is returned.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\n\r\nUser must have the `realitydata_use` permission assigned at the iTwin level or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.\r\n\r\n---",
                "operationId": "get-reality-data-iTwins",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id of reality data",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/reality-data-iTwins-response"
                                },
                                "example": {
                                    "iTwins": [
                                        "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to get iTwins for a reality data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the requested reality data was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RealityDataNotFound",
                                        "message": "Requested reality data is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid request to get iTwins for reality data. Please ensure that the request is valid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityDataRequest",
                                        "message": "Invalid RealityData request.",
                                        "details": [
                                            {
                                                "code": "InvalidValue",
                                                "message": "The value 'fe9aac3a-2496-4bd2-82c6-' is not valid.",
                                                "target": "id"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{id}/move": {
            "patch": {
                "tags": [
                    "Reality Data"
                ],
                "summary": "Move reality data",
                "description": "\r\n---\r\n\r\nMove a [reality data](https://www.itwinjs.org/learning/glossary/#realitydata) to a specified iTwin. A request body with the `iTwinId` parameter is required.\r\n\r\nTo successfully move a reality data :\r\n\r\n- The destination iTwin must be in the same organization as the reality data.\r\n- The destination iTwin must be in the same data center location as the reality data.\r\n- The reality data must not already be associated to more than one iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n### Authorization\r\nUser must have the `realitydata_manage` permission assigned at the iTwin level of both iTwins or be an Organization Administrator for the Organization that owns a given iTwin.\r\n\r\nAn Organization Administrator must have at least one of the following roles assigned in User Management: Account Administrator, Co-Administrator, or CONNECT Services Administrator. For more information about User Management please visit our Bentley Communities [Licensing, Cloud, and Web Services](https://bentleysystems.service-now.com/community?id=kb_article_view&sys_kb_id=1e5410491b7d8a90f3fc5287624bcb57) wiki page.\r\n\r\n### Rate limits\r\n\r\nAll iTwin Platform API operations have a rate limit. For more documentation on that visit [Rate limits and quotas](https://developer.bentley.com/apis/overview/rate-limits/) page.",
                "operationId": "move-reality-data",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifier of the reality data. This identifier is assigned by the service at the creation of the reality data. It is also unique.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/request-body-move"
                            },
                            "example": {
                                "iTwinId": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "This response indicates that the reality data was successfully moved to the desired iTwin."
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user has insufficient permissions for the requested operation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "This response indicates that the reality data id or the iTwin id was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RealityDataNotFound",
                                        "message": "Requested reality data is not available."
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "This response indicates that the reality data is already within the given iTwin.",
                        "content": {
[...]
