{
    "openapi": "3.0.1",
    "info": {
        "title": "Reality Conversion",
        "description": "Convert mentioned point cloud formats to web-friendly Orbit Point Cloud.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.bentley.com/realityconversion"
        }
    ],
    "paths": {
        "/jobs": {
            "post": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Create a job",
                "description": "---\r\n\r\nCreate a new job. The POST request body MUST include type, name, inputs and outputs.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "jobs-create",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/jobCreation"
                            },
                            "example": {
                                "type": "Conversion",
                                "name": "My first RCS job",
                                "iTwinId": "510cd1a3-3703-4729-b08c-fecd9c87c3be",
                                "costEstimationParameters": {
                                    "gigaPixels": 2.5,
                                    "megaPoints": 1.5
                                },
                                "inputs": [
                                    {
                                        "id": "58e0c0ca-f730-4e5b-808d-1c8cacacb4d4"
                                    }
                                ],
                                "outputs": [
                                    "OPC"
                                ],
                                "options": {
                                    "processingEngines": 5,
                                    "merge": false
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/job-response"
                                },
                                "example": {
                                    "job": {
                                        "id": "cc3d35cc-416a-4262-9714-b359da70b419",
                                        "name": "My first RCS job",
                                        "type": "Conversion",
                                        "state": "unsubmitted",
                                        "createdDateTime": "2021-11-04T14:13:27.0000000+00:00",
                                        "lastModifiedDateTime": "2020-09-14T14:29:55.0000000+00:00",
                                        "iTwinId": "510cd1a3-3703-4729-b08c-fecd9c87c3be",
                                        "email": "example@email.com",
                                        "dataCenter": "East US",
                                        "inputs": [
                                            {
                                                "id": "58e0c0ca-f730-4e5b-808d-1c8cacacb4d4",
                                                "type": "LAS"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "type": "OPC"
                                            }
                                        ],
                                        "options": {
                                            "processingEngines": 5,
                                            "merge": false
                                        },
                                        "costEstimation": {
                                            "estimatedCost": 3.5,
                                            "gigaPixels": 2.1,
                                            "megaPoints": 1.5
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "This response indicates that user does not have required permissions to create a job.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InsufficientPermissions",
                                        "message": "The user has insufficient permissions for the requested operation."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "examples": {
                                    "InvalidRealityConversionRequest": {
                                        "value": {
                                            "error": {
                                                "code": "InvalidRealityConversionRequest",
                                                "message": "Cannot create job.",
                                                "details": [
                                                    {
                                                        "code": "InvalidProperty",
                                                        "message": "The Name field is required.",
                                                        "target": "Name"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Get jobs",
                "description": "---\r\n\r\nRetrieve list of jobs matching provided filter.\r\n\r\nThe `iTwinId` in filter is optional. If it is not provided, this will return jobs created by the same user. However, if the iTwinId is provided and the user has access to it, this will return jobs associated with that specific iTwin.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---",
                "operationId": "jobs-get-all",
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The $filter query option requests a specific set of jobs.\nThe given filter is evaluated for each job and only job where the filter evaluates to true are returned.\nProperties supported for filtering: `id`, `iTwinId`, `name`, `email`, `type`, `state`, `createdDateTime`, `inputId`, `outputId`.\nSupported operators: `eq`, `lt`, `le`, `gt`, `ge`, `ne`, `in`, `and`, `or`.\n Samples of $filter values:\n`$filter=iTwinId eq dc720f05-e5f7-448b-ae06-765de46f0af1`\n`$filter=inputId in ('482b2968-6a85-4e50-b05c-8acbf828c1bd', '14c03448-bea0-4d76-b53b-4b20bd3f4cbc')`\n`$filter=id eq 9e2d27cf-b695-47e9-b7f0-0d47dc3b88ad`\n`$filter=createdDateTime gt 2024-06-24T13:00:00Z`\n",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "continuationToken",
                        "in": "query",
                        "description": "Parameter that enables continuing to the next page of the previous paged query. This must be passed exactly as it is in the response body's _links.next property.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The number of reality conversion jobs to get in each page. Max 1000, but 100 is the default if this parameter is not included.",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobs-response"
                                },
                                "example": {
                                    "jobs": [
                                        {
                                            "id": "cc3d35cc-416a-4262-9714-b359da70b419",
                                            "name": "My first RCS job",
                                            "type": "Conversion",
                                            "state": "success",
                                            "createdDateTime": "2020-09-14T14:29:55.0000000+00:00",
                                            "lastModifiedDateTime": "2020-09-14T14:29:55.0000000+00:00",
                                            "iTwinId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                            "ownerId": "1bc8fd79-b72a-4165-b490-58e5244c4cda",
                                            "email": "email@example.com",
                                            "dataCenter": "East US",
                                            "executionInformation": {
                                                "submissionDateTime": "2020-09-14T14:34:20.0000000+00:00",
                                                "startedDateTime": "2020-09-14T14:34:28.0000000+00:00",
                                                "endedDateTime": "2020-09-14T14:41:49.0000000+00:00",
                                                "estimatedUnits": 0.05
                                            },
                                            "inputs": [
                                                {
                                                    "id": "58e0c0ca-f730-4e5b-808d-1c8cacacb4d4",
                                                    "type": "LAS"
                                                }
                                            ],
                                            "outputs": [
                                                {
                                                    "id": "3ddee08c-01e8-44a5-8e56-3879109f6728",
                                                    "type": "OPC"
                                                }
                                            ],
                                            "options": {
                                                "processingEngines": 5,
                                                "merge": false
                                            },
                                            "costEstimation": {
                                                "estimatedCost": 3.5,
                                                "gigaPixels": 2.1,
                                                "megaPoints": 1.5
                                            }
                                        }
                                    ],
                                    "_links": {
                                        "next": {
                                            "href": "https://api.bentley.com/realityconversion/jobs?$filter=iTwinId%20eq%203fa85f64-5717-4562-b3fc-2c963f66afa6&continuationToken=MzY3ZmY1ZDEtNDEzOS00ZGU1LTg0MjMtN2I5NmVkZDAyN2M0"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "iTwinNotFound",
                                        "message": "Requested iTwin is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityConversionRequest",
                                        "message": "Cannot find jobs.",
                                        "details": [
                                            {
                                                "code": "InvalidParameter",
                                                "message": "The $top query parameter value must be a positive integer that does not exceed 1000.",
                                                "target": "$top"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{id}/progress": {
            "get": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Get job progress",
                "description": "---\r\n\r\nRetrieve job progress.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---",
                "operationId": "jobs-progress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Job Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/progress-response"
                                },
                                "example": {
                                    "progress": {
                                        "percentage": 56,
                                        "state": "active",
                                        "step": "Convert_Files"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "ProgressNotFound",
                                        "message": "Requested progress is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{id}": {
            "patch": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Modify a job",
                "description": "---\r\n\r\nPatch can be used for changing the job state (to active or cancelled), options or changing cost estimation parameters.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "jobs-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Job Id.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobStateModify"
                            },
                            "examples": {
                                "UpdateState": {
                                    "value": {
                                        "state": "active"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Job was successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/job-response"
                                },
                                "example": {
                                    "job": {
                                        "id": "cc3d35cc-416a-4262-9714-b359da70b419",
                                        "name": "My first RCS job",
                                        "type": "Conversion",
                                        "state": "active",
                                        "createdDateTime": "2020-09-14T14:29:55.0000000+00:00",
                                        "lastModifiedDateTime": "2020-09-14T14:29:55.0000000+00:00",
                                        "iTwinId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                        "email": "example@email.com",
                                        "dataCenter": "East US",
                                        "inputs": [
                                            {
                                                "id": "58e0c0ca-f730-4e5b-808d-1c8cacacb4d4",
                                                "type": "LAS"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "id": "3ddee08c-01e8-44a5-8e56-3879109f6728",
                                                "type": "OPC"
                                            }
                                        ],
                                        "options": {
                                            "processingEngines": 5,
                                            "merge": false
                                        },
                                        "costEstimation": {
                                            "estimatedCost": 3.5,
                                            "gigaPixels": 2.1,
                                            "megaPoints": 1.5
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "JobNotFound",
                                        "message": "Requested job is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The 422 (Unprocessable Entity) status code indicates that the request cannot be processed by the server due to a client error (e.g. malformed request syntax).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityConversionRequest",
                                        "message": "Cannot modify job.",
                                        "details": [
                                            {
                                                "code": "InvalidChange",
                                                "message": "Cannot resubmit an already submitted job."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Get a Job",
                "description": "---\r\n\r\nRetrieve job details.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---\r\n",
                "operationId": "jobs-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Job Id.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/job-response"
                                },
                                "example": {
                                    "job": {
                                        "id": "cc3d35cc-416a-4262-9714-b359da70b419",
                                        "name": "My first RCS job",
                                        "type": "Conversion",
                                        "state": "success",
                                        "createdDateTime": "2020-09-14T14:29:55.0000000+00:00",
                                        "lastModifiedDateTime": "2020-09-14T14:29:55.0000000+00:00",
                                        "iTwinId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                                        "ownerId": "1bc8fd79-b72a-4165-b490-58e5244c4cda",
                                        "email": "email@example.com",
                                        "dataCenter": "East US",
                                        "executionInformation": {
                                            "submissionDateTime": "2020-09-14T14:34:20.0000000+00:00",
                                            "startedDateTime": "2020-09-14T14:34:28.0000000+00:00",
                                            "endedDateTime": "2020-09-14T14:41:49.0000000+00:00",
                                            "estimatedUnits": 0.05
                                        },
                                        "inputs": [
                                            {
                                                "id": "58e0c0ca-f730-4e5b-808d-1c8cacacb4d4",
                                                "type": "LAS"
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "id": "3ddee08c-01e8-44a5-8e56-3879109f6728",
                                                "type": "OPC"
                                            }
                                        ],
                                        "options": {
                                            "processingEngines": 5,
                                            "merge": false
                                        },
                                        "costEstimation": {
                                            "estimatedCost": 3.5,
                                            "gigaPixels": 2.1,
                                            "megaPoints": 1.5
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "JobNotFound",
                                        "message": "Requested job is not available."
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Jobs",
                    "Technology Preview"
                ],
                "summary": "Delete Job",
                "description": "---\r\n\r\nDelete an unsubmitted job. Job will not be deleted once it is in active state.\r\n\r\n### Authentication\r\n\r\nRequires `Authorization` header with valid Bearer token for scope `itwin-platform`.\r\n\r\nFor more documentation on authorization and how to get access token visit [OAUTH2 Authorization](https://developer.bentley.com/apis/overview/authorization/) page.\r\n\r\n---",
                "operationId": "jobs-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Job Id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "OAuth access token with `itwin-platform` scope",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AuthorizationHeader"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Setting to `application/vnd.bentley.itwin-platform.v1+json` is recommended.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/AcceptHeader"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Job was successfully deleted."
                    },
                    "401": {
                        "description": "This response indicates that request lacks valid authentication credentials. Access token might not been provided, issued by the wrong issuer, does not have required scopes or request headers were malformed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "HeaderNotFound": {
                                        "value": {
                                            "error": {
                                                "code": "HeaderNotFound",
                                                "message": "Header Authorization was not found in the request. Access denied."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "JobNotFound",
                                        "message": "Requested job is not available."
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Job cannot be deleted once it has been submitted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DetailedErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "InvalidRealityConversionRequest",
                                        "message": "Cannot delete job.",
                                        "details": [
                                            {
                                                "code": "InvalidChange",
                                                "message": "Cannot delete an already submitted job."
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "This response indicates that the client sent more requests than allowed by this API for the current tier of the client.",
                        "headers": {
                            "retry-after": {
                                "description": "Number of seconds to wait until client is allowed to make more requests.",
                                "required": true,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "example": {
                                    "error": {
                                        "code": "RateLimitExceeded",
                                        "message": "The client sent more requests than allowed by this API for the current tier of the client."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "jobCreation": {
                "title": "Job (Create)",
                "required": [
                    "type",
                    "name",
                    "inputs",
                    "outputs",
                    "iTwinId"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/jobType"
                    },
                    "name": {
                        "type": "string",
                        "description": "Job name."
                    },
                    "iTwinId": {
                        "type": "string",
                        "description": "ITwin Id."
                    },
                    "costEstimationParameters": {
                        "$ref": "#/components/schemas/costEstimationParameters"
                    },
                    "options": {
                        "$ref": "#/components/schemas/jobOptions"
                    },
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/jobCreateInput"
                        },
                        "description": "List of inputs of the job."
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/jobCreateOutput"
                        },
                        "description": "List of output formats of the job."
                    }
                },
                "additionalProperties": false,
                "description": "Model for creating a new job."
            },
            "jobCreateInput": {
                "title": "Job Input (Job Create)",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Reality data Id of the input."
                    }
                },
                "additionalProperties": false,
                "description": "Input description for a job."
            },
            "jobCreateOutput": {
                "title": "Job Output (Job Create)",
                "enum": [
                    "OPC",
                    "PNTS",
                    "GLB",
                    "GLBC",
                    "LAS",
                    "LAZ",
                    "E57",
                    "PointCloud",
                    "GeoJSON",
                    "FDB",
                    "XYZTileMap"
                ],
                "type": "string",
                "description": "Specifies the output formats for the job.\n\n- Allowed values are defined in the `PointCloudOutputs` and `VectorOutputs` schemas.\n- If the input is a point cloud type, only values from PointCloudOutputs are valid.\n- If the input is a vector type, only values from VectorOutputs are valid."
            },
            "job-response": {
                "title": "Job Response",
                "required": [
                    "job"
                ],
                "type": "object",
                "properties": {
                    "job": {
                        "$ref": "#/components/schemas/job"
                    }
                },
                "additionalProperties": false
            },
            "jobs-response": {
                "title": " Reality Conversion Jobs",
                "type": "object",
                "properties": {
                    "jobs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/job"
                        },
                        "description": "Array of jobs."
                    },
                    "_links": {
                        "$ref": "#/components/schemas/next-page-link"
                    }
                },
                "additionalProperties": false,
                "description": "Jobs"
            },
            "job": {
                "title": "Job",
                "required": [
                    "id",
                    "name",
                    "type",
                    "state",
                    "createdDateTime",
                    "lastModifiedDateTime",
                    "dataCenter",
                    "inputs",
                    "outputs",
                    "iTwinId"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Job unique id."
                    },
                    "name": {
                        "type": "string",
                        "description": "Job name."
                    },
                    "type": {
                        "$ref": "#/components/schemas/jobType"
                    },
                    "state": {
                        "$ref": "#/components/schemas/jobState"
                    },
                    "iTwinId": {
                        "type": "string",
                        "description": "iTwin Id."
                    },
                    "ownerId": {
                        "type": "string",
                        "description": "owner Id."
                    },
                    "createdDateTime": {
                        "type": "string",
                        "description": "Creation time of the job.",
                        "format": "date-time"
                    },
                    "lastModifiedDateTime": {
                        "type": "string",
                        "description": "Last modification date of the job.",
                        "format": "date-time"
                    },
                    "dataCenter": {
                        "type": "string",
                        "description": "Datacenter location of the job."
                    },
                    "email": {
                        "type": "string",
                        "description": "User email address."
                    },
                    "executionInformation": {
                        "$ref": "#/components/schemas/executionInformation"
                    },
                    "costEstimation": {
                        "$ref": "#/components/schemas/costEstimation"
                    },
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/jobInput"
                        },
                        "description": "List of inputs of the job."
                    },
                    "outputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/jobOutput"
                        },
                        "description": "List of outputs of a job."
                    },
                    "options": {
                        "$ref": "#/components/schemas/jobOptions"
                    }
                },
                "additionalProperties": false,
                "description": "Full representation of a job."
            },
            "jobType": {
                "title": "Job Type",
                "enum": [
                    "Conversion",
                    "ImportFeatures"
                ],
                "type": "string",
                "description": "Possible values:\n- Conversion: Converts input data from one format to another.\n- ImportFeatures: Takes vector inputs and imports features into a feature class of Geospatial Features API. Use `FDB` as the output format for this type."
            },
            "jobState": {
                "title": "Job State",
                "enum": [
                    "unsubmitted",
                    "active",
                    "success",
                    "failed",
                    "cancelled"
                ],
                "type": "string",
                "description": "Job state."
            },
            "progress-response": {
                "title": "Progress Response",
                "required": [
                    "progress"
                ],
                "type": "object",
                "properties": {
                    "progress": {
                        "$ref": "#/components/schemas/progress"
                    }
                },
                "additionalProperties": false
            },
            "progress": {
                "title": "Progress",
                "type": "object",
                "properties": {
                    "percentage": {
                        "type": "number",
                        "description": "Job progress percentage.",
                        "format": "double"
                    },
                    "state": {
                        "$ref": "#/components/schemas/jobState"
                    },
                    "step": {
                        "type": "string",
                        "description": "Current job step"
                    }
                },
                "additionalProperties": false,
                "description": "Job progress information."
            },
            "PointCloudInputs": {
                "title": "Point Cloud Input Formats",
                "enum": [
                    "LAS",
                    "LAZ",
                    "PLY",
                    "E57",
                    "OPC",
                    "PointCloud",
                    "PNTS",
                    "Cesium3DTiles"
                ],
                "description": "List of available input formats for point cloud conversion."
            },
            "VectorInputs": {
                "title": "Vector Input Formats",
                "enum": [
                    "ContextScene",
                    "GeoJSON",
                    "OVF",
                    "OVT",
                    "SHP"
                ],
                "description": "List of available input formats for vector conversion."
            },
            "TileMapInputs": {
                "title": "Tile Map Input Formats",
                "enum": [
                    "Orthophoto",
                    "OrthophotoDSM",
                    "OMI",
                    "OVF",
                    "OVT"
                ],
                "description": "Input types representing raster or tiled datasets for generating tile maps."
            },
            "jobInput": {
                "title": "Job Input",
                "type": "object",
                "properties": {
                    "type": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/PointCloudInputs"
                            },
                            {
                                "$ref": "#/components/schemas/VectorInputs"
                            },
                            {
                                "$ref": "#/components/schemas/TileMapInputs"
                            }
                        ],
                        "description": "Input format for a job."
                    },
                    "id": {
                        "type": "string",
                        "description": "Reality data Id of the input."
                    }
                },
                "additionalProperties": false,
                "description": "Input description for a job."
            },
            "PointCloudOutputs": {
                "title": "Point Cloud Output Formats",
                "enum": [
                    "OPC",
                    "PNTS",
                    "GLB",
                    "GLBC",
                    "LAS",
                    "LAZ",
                    "E57",
                    "PointCloud"
                ],
                "description": "List of available point cloud output formats.\n- OPC: Orbit Point Cloud\n- PNTS: OGC 3DTiles Point Cloud 1.0\n- GLB: OGC 3DTiles Point Cloud 1.1\n- GLBC: OGC 3DTiles Point Cloud 1.1 Compressed."
            },
            "VectorOutputs": {
                "title": "Vector Output Formats",
                "enum": [
                    "GeoJSON",
                    "FDB"
                ],
                "description": "List of available vector output formats.\n\n - Use FDB as the output format when the job type is ImportFeatures."
            },
            "TileMapOutputs": {
                "title": "Tile Map Output Formats",
                "enum": [
                    "XYZTileMap"
                ],
                "description": "List of available tile map output formats."
            },
            "jobOutput": {
                "title": "Job Output",
                "type": "object",
                "properties": {
                    "type": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/PointCloudOutputs"
                            },
                            {
                                "$ref": "#/components/schemas/VectorOutputs"
                            },
                            {
                                "$ref": "#/components/schemas/TileMapOutputs"
                            }
                        ],
                        "description": "Output format for a job."
                    },
                    "id": {
                        "type": "string",
                        "description": "Reality data Id of the output.",
                        "nullable": true
                    }
                },
                "additionalProperties": false,
                "description": "Output description for a job."
            },
            "jobOptions": {
                "title": "Options",
                "type": "object",
                "properties": {
                    "processingEngines": {
                        "type": "integer",
                        "description": "Number of engines to be used at most, between 0 and your engine limit. If set at 0, RCS will use your engine limit."
                    },
                    "merge": {
                        "type": "boolean",
                        "description": "If true, then all the input files from multiple containers will be merged into one output file. Otherwise, creates one output per input file. Valid only for Conversion jobs."
                    },
                    "inputSRS": {
                        "type": "string",
                        "description": "EPSG code for the spatial reference system of input files (horizontal or horizontal+vertical)."
                    },
                    "outputSRS": {
                        "type": "string",
                        "description": "EPSG code for the spatial reference system of output files (horizontal or horizontal+vertical)."
                    },
                    "sampleWorldStep": {
                        "type": "number",
                        "description": "Sampling step size in meters for traversing triangles in mesh geometry. Default is 0.125. Only valid for Cesium3DTiles input.",
                        "format": "double"
                    },
                    "featureClassDisplayName": {
                        "type": "string",
                        "description": "Name of the feature class to create in the Geospatial Features API. If omitted, uses the input reality data display name. Only valid for ImportFeatures jobs."
                    },
                    "topLevel": {
                        "type": "integer",
                        "description": "Top level of the tile map to generate. Default is -1 (single tile for all input data). Only valid for TileMap output."
                    },
                    "bottomLevel": {
                        "type": "integer",
                        "description": "Bottom level of the tile map to generate. Default is -1 (closest to native resolution). Only valid for TileMap output."
                    },
                    "tileFormat": {
                        "type": "string",
                        "description": "Tile format for the tile map. Supported values are 'JPG' (default) and 'PNG'. Only valid for TileMap output."
                    },
                    "jpgQuality": {
                        "maximum": 99,
                        "minimum": 10,
                        "type": "number",
                        "description": "Quality of JPG tiles to generate (10–99). Default is 85. Only valid for TileMap output.",
                        "format": "double"
                    },
                    "backgroundColor": {
                        "type": "string",
                        "description": "Background color to use for tiles, in 'r.g.b' where r,g,b (red,green,blue) are values 0..255, default value is '255.255.255' (white). Only valid for TileMap output."
                    }
                },
                "additionalProperties": false,
                "description": "List of optional parameters."
            },
            "executionInformation": {
                "title": "Execution Info",
                "required": [
                    "submissionDateTime"
                ],
                "type": "object",
                "properties": {
                    "submissionDateTime": {
                        "type": "string",
                        "description": "Submission time of the job.",
                        "format": "date-time"
                    },
                    "startedDateTime": {
                        "type": "string",
                        "description": "Start time of the job.",
                        "format": "date-time",
                        "nullable": true
                    },
                    "endedDateTime": {
                        "type": "string",
                        "description": "End time of the job.",
                        "format": "date-time",
                        "nullable": true
                    },
                    "estimatedUnits": {
                        "type": "number",
                        "description": "Estimated processing units cost.",
                        "nullable": true
                    }
                },
                "additionalProperties": false,
                "description": "Execution information of the job."
            },
            "costEstimationParameters": {
                "title": "Cost Estimation Parameters",
                "type": "object",
                "properties": {
                    "gigaPixels": {
                        "type": "number",
                        "description": "Gigapixels to be processed."
                    },
                    "megaPoints": {
                        "type": "number",
                        "description": "Megapoints to be processed."
                    }
                },
                "additionalProperties": false,
                "description": "Parameters to be used to estimate the cost of the job."
            },
            "costEstimation": {
                "title": "Cost Estimation Information",
                "type": "object",
                "properties": {
                    "gigaPixels": {
                        "type": "number",
                        "description": "Number of giga pixels in inputs.",
                        "format": "double",
                        "nullable": true
                    },
                    "megaPoints": {
                        "type": "number",
                        "description": "Number of mega points in inputs.",
                        "format": "double",
                        "nullable": true
                    },
                    "estimatedCost": {
                        "type": "number",
                        "description": "Estimated cost of the job using the CostEstimationParameters.",
                        "format": "double"
                    }
                },
                "additionalProperties": false,
                "description": "Cost estimate based on parameters before job processing."
            },
            "next-page-link": {
                "title": "Next Page Link",
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/link"
                    }
                },
                "additionalProperties": false,
                "description": "URL for getting the next page of data, if applicable."
            },
            "link": {
                "type": "object",
                "properties": {
                    "href": {
                        "type": "string",
                        "description": "Hyperlink container."
                    }
                },
                "additionalProperties": false
            },
            "JobStateModify": {
                "title": "Modify Job State",
                "type": "object",
                "properties": {
                    "state": {
                        "title": "Job State",
                        "enum": [
                            "active",
                            "cancelled"
                        ],
                        "type": "string",
                        "description": "Set to 'active' to start processing the job, or 'cancelled' to cancel the running job."
                    }
                },
                "additionalProperties": false,
                "description": "Request model for updating the state of a job. Use to start processing or cancel a running job."
            },
            "JobModify": {
                "title": "Modify Job",
                "type": "object",
                "properties": {
                    "options": {
                        "$ref": "#/components/schemas/jobOptions"
                    },
                    "costEstimationParameters": {
                        "$ref": "#/components/schemas/costEstimationParameters"
                    }
                },
                "additionalProperties": false,
                "description": "PATCH model for updating job properties. All properties are optional; only provided fields will be updated."
            },
            "DetailedError": {
                "required": [
                    "code",
                    "message",
                    "details"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "One of a server-defined set of error codes."
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable representation of the error."
                    },
                    "target": {
                        "type": "string",
                        "description": "The target of the error.",
                        "nullable": true
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "description": "Optional array of more specific errors."
                    }
                },
                "description": "Contains error information and an array of more specific errors."
            },
            "DetailedErrorResponse": {
                "title": "Detailed Error Response",
                "required": [
                    "error"
                ],
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/DetailedError"
                    }
                },
                "additionalProperties": false,
                "description": "Gives details for an error that occurred while handling the request. Note that clients MUST NOT assume that every failed request will produce an object of this schema, or that all of the properties in the response will be non-null, as the error may have prevented this response from being constructed."
            },
            "Error": {
                "required": [
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "One of a server-defined set of error codes."
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable representation of the error."
                    },
                    "target": {
                        "type": "string",
                        "description": "The target of the error.",
                        "nullable": true
                    }
                },
                "description": "Contains error information."
            },
            "ErrorResponse": {
                "title": "Error Response",
                "required": [
                    "error"
                ],
                "type": "object",
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/Error"
                    }
                },
                "additionalProperties": false,
                "description": "Gives details for an error that occurred while handling the request. Note that clients MUST NOT assume that every failed request will produce an object of this schema, or that all of the properties in the response will be non-null, as the error may have prevented this response from being constructed."
            },
            "AcceptHeader": {
                "type": "string",
                "default": "application/vnd.bentley.itwin-platform.v1+json"
            },
            "AuthorizationHeader": {
                "pattern": "^Bearer .*$",
                "type": "string"
            },
            "PreferHeader": {
                "enum": [
                    "return=representation",
                    "return=minimal"
                ],
                "type": "string"
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "X-Api-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}