{
  "swagger": "2.0",
  "info": {
    "description": "Marketo Rest API",
    "version": "1.0",
    "title": "Marketo Rest API",
    "termsOfService": "https://www.marketo.com/company/legal/",
    "contact": {
      "name": "Marketo Developer Relations",
      "url": "http://developers.marketo.com",
      "email": "developerfeedback@marketo.com"
    },
    "license": {
      "name": "API License Agreement",
      "url": "http://developers.marketo.com/api-license/"
    }
  },
  "host": "388-INB-483.mktorest.com",
  "basePath": "/",
  "schemes": ["https"],
  "tags": [
    { "name": "Tokens", "description": "Token Controller" },
    { "name": "Channels", "description": "Channel Controller" },
    { "name": "Files", "description": "File Controller" },
    { "name": "Segments", "description": "Segment Controller" },
    {
      "name": "Landing Page Content",
      "description": "Landing Page Content Controller"
    },
    { "name": "Snippets", "description": "Snippet Controller" },
    { "name": "Smart Lists", "description": "Smart List Controller" },
    { "name": "Static Lists", "description": "Static List Controller" },
    { "name": "Landing Pages", "description": "Landing Page Controller" },
    {
      "name": "Landing Page Redirect Rules",
      "description": "Landing Page Redirect Rule Controller"
    },
    { "name": "Forms", "description": "Form Controller" },
    { "name": "Form Fields", "description": "Form Field Controller" },
    { "name": "Tags", "description": "Tag Controller" },
    { "name": "Programs", "description": "Program Controller" },
    { "name": "Email Templates", "description": "Email Template Controller" },
    { "name": "Folders", "description": "Folder Controller" },
    {
      "name": "Landing Page Templates",
      "description": "Landing Page Template Controller"
    },
    { "name": "Emails", "description": "Email Controller" },
    { "name": "Smart Campaigns", "description": "Smart Campaign Controller" },
    { "name": "File Contents", "description": "File Content Controller" }
  ],
  "paths": {
    "/rest/asset/v1/channel/byName.json": {
      "get": {
        "tags": ["Channels"],
        "summary": "Get Channel by Name",
        "description": "Retrieves channels based on the provided name. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getChannelByNameUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "description": "Name of channel to retrieve",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfChannelResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/channels.json": {
      "get": {
        "tags": ["Channels"],
        "summary": "Get Channels",
        "description": "Retrieves all channels. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getAllChannelsUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfChannelResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/byName.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Email by Name",
        "description": "Returns an email records based on the given name.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailByNameUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the email",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          },
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Email By Id",
        "description": "Returns an email records by its id.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailResponse" }
          }
        }
      },
      "post": {
        "tags": ["Emails"],
        "summary": "Update Email Metadata",
        "description": "Updates the metadata of an email asset.  Required Permissions: Read-Write Assets",
        "operationId": "updateEmailUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateEmailRequest",
            "description": "updateEmailRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateEmailMetaDataRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/approveDraft.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Approve Email Draft",
        "description": "Approves the current draft of an email.  Required Permissions: Approve Assets",
        "operationId": "approveDraftUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/clone.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Clone Email",
        "description": "Clones the target email. Required Permissions: Read-Write Assets",
        "operationId": "cloneEmailUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cloneEmailRequest",
            "description": "cloneEmailRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CloneEmailRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/content.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Email Content",
        "description": "Returns the content of the designated email.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailContentByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailContentResponse" }
          }
        }
      },
      "post": {
        "tags": ["Emails"],
        "summary": "Update Email Content",
        "description": "Updates the content of an email.  Required Permissions: Read-Write Assets",
        "operationId": "updateEmailContentUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateEmailRequest",
            "description": "updateEmailRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEmailComponentDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/content/rearrange.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Rearrange Email Modules",
        "description": "Rearranges the modules in an email.  Required Permissions: Read-Write Assets",
        "operationId": "rearrangeModulesUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "positions",
            "description": "JSON array of module positions.  Each position must be a JSON object with members 'index' and a 'moduleId'",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailModuleResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/content/{htmlId}.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Update Email Content Section",
        "description": "Updates the content in the given section.  Required Permissions: Read-Write Assets",
        "operationId": "updateEmailComponentContentUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "htmlId",
            "in": "path",
            "description": "htmlId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEmailComponentContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/content/{moduleId}/add.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Add Email Module",
        "description": "Adds a new module to an email, with the given id.  Required Permissions: Read-Write Assets",
        "operationId": "addModuleUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "moduleId",
            "in": "path",
            "description": "moduleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the module",
            "required": true,
            "type": "string"
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index of the module.  Determines the order of the module in the email.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailModuleResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/content/{moduleId}/delete.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Delete Module",
        "description": "Deletes the given module from the email.  Required Permissions: Read-Write Assets",
        "operationId": "deleteModuleUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "moduleId",
            "in": "path",
            "description": "moduleId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailModuleResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/content/{moduleId}/duplicate.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Duplicate Email Module",
        "description": "Creates a copy of the designated module in an email.  Required Permissions: Read-Write Assets",
        "operationId": "duplicateModuleUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "moduleId",
            "in": "path",
            "description": "moduleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the new module",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailModuleResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/content/{moduleId}/rename.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Rename Email Module",
        "description": "Renames a module.  Required Permissions: Read-Write Assets",
        "operationId": "renameUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "moduleId",
            "in": "path",
            "description": "moduleId",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "New module name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailModuleResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/delete.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Delete Email",
        "description": "Deletes the target email.  Required Permissions: Read-Write Assets",
        "operationId": "deleteEmailUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/discardDraft.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Discard Email Draft",
        "description": "Discards the current draft of an email.  Required Permissions: Read-Write Assets",
        "operationId": "discardDraftUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/dynamicContent/{contentId}.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Email Dynamic Content",
        "description": "Retrieves the dynamic content record for the given section.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailDynamicContentUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of email",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "contentId",
            "in": "path",
            "description": "Id of email dynamic content section",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailDynamicContentResponse"
            }
          }
        }
      },
      "post": {
        "tags": ["Emails"],
        "summary": "Update Email Dynamic Content Section",
        "description": "Updates dynamic content in the given section.  Required Permissions: Read-Write Assets",
        "operationId": "updateEmailDynamicContentUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of email",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "contentId",
            "in": "path",
            "description": "Id of email dynamic content section",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "Content properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEmailDynamicContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/sendSample.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Send Sample Email",
        "description": "Sends a sample email to the given email address.  Leads may be impersonated to populate data for tokens and dynamic content. Required Permissions: Read-Write Assets",
        "operationId": "sendSampleEmailUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the email",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "sendSampleEmailRequest",
            "description": "sendSampleEmailRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/SendSampleEmailRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfSendSampleResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/unapprove.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Unapprove Email",
        "description": "Unapproves the email and reverts it to a draft-only state.  Required Permissions: Approve Assets",
        "operationId": "unapproveDraftUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/variable/{name}.json": {
      "post": {
        "tags": ["Emails"],
        "summary": "Update Email Variable",
        "description": "Updates the value of a given variable in an email.  Required Permissions: Read-Write Assets",
        "operationId": "updateVariableUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "path",
            "description": "name",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateVariableRequest",
            "description": "updateVariableRequest",
            "required": false,
            "schema": { "$ref": "#/definitions/UpdateVariableRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailVariableResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/variables.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Email Variables",
        "description": "Returns a list of the available variables in an email.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailVariablesUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailVariableResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/email/ccFields.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Email CC Fields",
        "description": "Returns the set of fields enabled for Email CC in the target instance.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailCCFieldsUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailCCFieldsResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/byName.json": {
      "get": {
        "tags": ["Email Templates"],
        "summary": "Get Email Template by Name",
        "description": "Retrieves and email template record by the given name.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getTemplateByNameUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}.json": {
      "get": {
        "tags": ["Email Templates"],
        "summary": "Get Email Template by Id",
        "description": "Returns an email template record by its id. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getTemplateByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      },
      "post": {
        "tags": ["Email Templates"],
        "summary": "Update Email Template Metadata",
        "description": "Updates the metadata for the designated email template.  Required Permissions: Read-Write Assets",
        "operationId": "updateEmailTemplateUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateEmailMetaDataRequest",
            "description": "updateEmailMetaDataRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEmailTemplateMetaDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}/approveDraft.json": {
      "post": {
        "tags": ["Email Templates"],
        "summary": "Approve Email Template Draft",
        "description": "Approves the current draft of the email template.  Required Permissions: Approve Assets",
        "operationId": "approveDraftUsingPOST_1",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}/clone.json": {
      "post": {
        "tags": ["Email Templates"],
        "summary": "Clone Email Template",
        "description": "Clones the designated email template.  Required Permissions: Read-Write Assets",
        "operationId": "cloneTemplateUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cloneEmailTemplateRequest",
            "description": "cloneEmailTemplateRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CloneEmailTemplateRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}/content": {
      "get": {
        "tags": ["Email Templates"],
        "summary": "Get Email Template Content by Id",
        "description": "Returns the content for a given email template.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getTemplateContentByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateContentResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}/content.json": {
      "post": {
        "tags": ["Email Templates"],
        "summary": "Update Email Template Content",
        "description": "Updates the content of the given email template.  Required Permissions: Read-Write Assets",
        "operationId": "updateEmailTemplateContentUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateEmailTemplateContentRequest",
            "description": "updateEmailTemplateContentRequest",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateEmailTemplateContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}/delete.json": {
      "post": {
        "tags": ["Email Templates"],
        "summary": "Delete Email Template",
        "description": "Deletes the designated email template.  Required Permissions: Read-Write Assets",
        "operationId": "deleteTemplateUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}/discardDraft.json": {
      "post": {
        "tags": ["Email Templates"],
        "summary": "Discard Email Template Draft",
        "description": "Discards the current draft of the email template.  Required Permissions: Read-Write Assets",
        "operationId": "discardDraftUsingPOST_1",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplate/{id}/unapprove.json": {
      "post": {
        "tags": ["Email Templates"],
        "summary": "Unapprove Email Template Draft",
        "description": "Unapproves the current approved version of the Email Template.  Required Permissions: Approve Assets",
        "operationId": "unapproveDraftUsingPOST_1",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplates.json": {
      "get": {
        "tags": ["Email Templates"],
        "summary": "Get Email Templates",
        "description": "Returns a list of email template records accessible in the target instance.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailTemplatesUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      },
      "post": {
        "tags": ["Email Templates"],
        "summary": "Create Email Template",
        "description": "Creates a new email template.  Required Permissions: Read-Write Assets",
        "operationId": "createEmailTemplateUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "createEmailTemplateRequest",
            "description": "createEmailTemplateRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CreateEmailTemplateRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emailTemplates/{id}/usedBy.json": {
      "get": {
        "tags": ["Email Templates"],
        "summary": "Get Email Template Used By",
        "description": "Returns a list of email records which depend on a given email template.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailTemplateUsedByUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the email template",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfEmailTemplateUsedByResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/emails.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Emails",
        "description": "Returns a list of emails matching the given filter parameters.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getEmailUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          },
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of emails to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "earliestUpdatedAt",
            "in": "query",
            "description": "Exclude emails prior to this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "type": "string"
          },
          {
            "name": "latestUpdatedAt",
            "in": "query",
            "description": "Exclude emails after this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailResponse" }
          }
        }
      },
      "post": {
        "tags": ["Emails"],
        "summary": "Create Email",
        "description": "Creates a new email asset.  Required Permissions: Read-Write Assets",
        "operationId": "createEmailUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "createEmailRequest",
            "description": "createEmailRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CreateEmailRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfEmailResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/email/{id}/fullContent.json": {
      "get": {
        "tags": ["Emails"],
        "summary": "Get Email Full Content",
        "description": "Returns the serialized HTML version of the email.  Required Permissions: Read-Only Assets, Read-Write Assets.  If leadId is passed in the request: Read-Only Lead, Read-Write Lead.",
        "operationId": "getEmailFullContentUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the email",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions.  Defaults to approved if asset is approved, draft if not.",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          },
          {
            "name": "leadId",
            "in": "query",
            "description": "The lead id to impersonate.  Email is rendered as though it was received by this lead.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Email content type to return.  Default is HTML.",
            "required": false,
            "type": "string",
            "enum": ["Text", "HTML"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfGetEmailFullContentResponse"
            }
          }
        }
      },
      "post": {
        "tags": ["Emails"],
        "summary": "Update Email Full Content",
        "description": "Replaces the HTML of an Email that has had its relationship broken from its template.  Required Permissions: Read-Write Assets",
        "operationId": "createEmailFullContentUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the email",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateEmailFullContentRequest",
            "description": "Content is multipart file parameter",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateEmailFullContentRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfUpdateEmailFullContentResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/file/byName.json": {
      "get": {
        "tags": ["Files"],
        "summary": "Get File by Name",
        "description": "Returns files records for the given name.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFileByNameUsingGET",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the file",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFileResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/file/{id}.json": {
      "get": {
        "tags": ["Files"],
        "summary": "Get File by Id",
        "description": "Returns the file record for the given id.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFileByIdUsingGET",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id for file in database",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFileResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/file/{id}/content.json": {
      "post": {
        "tags": ["File Contents"],
        "summary": "Update File Content",
        "description": "Replaces the current content of the file with the included payload.  Required Permissions: Read-Write Assets",
        "operationId": "updateContentUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id for file in database",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateFileContentRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFileResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/files.json": {
      "get": {
        "tags": ["Files"],
        "summary": "Get Files",
        "description": "Returns the files from the given folder. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFilesUsingGET",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging.  Default 0",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of files to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFileResponse" }
          }
        }
      },
      "post": {
        "tags": ["Files"],
        "summary": "Create File",
        "description": "Creates a new file from the included payload. Required Permissions: Read-Write Assets",
        "operationId": "createFileUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "createFileRequest",
            "description": "createFileRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CreateFileRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFileResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/folder/byName.json": {
      "get": {
        "tags": ["Folders"],
        "summary": "Get Folder by Name",
        "description": "Returns a folder record for the given name.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderByNameUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the folder.  Not applicable for Programs",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of folder.  'Folder' or 'Program'",
            "required": false,
            "type": "string"
          },
          {
            "name": "root",
            "in": "query",
            "description": "Parent folder reference",
            "required": false,
            "type": "string"
          },
          {
            "name": "workSpace",
            "in": "query",
            "description": "Name of the workspace",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFolderResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/folder/{id}.json": {
      "get": {
        "tags": ["Folders"],
        "summary": "Get Folder by Id",
        "description": "Returns the folder record with the given id.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of folder.  'Folder' or 'Program'",
            "required": true,
            "type": "string",
            "default": "Folder",
            "enum": ["Folder", "Program"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFolderResponse" }
          }
        }
      },
      "post": {
        "tags": ["Folders"],
        "summary": "Update Folder Metadata",
        "description": "Updates the metadata for a given folder.  Required Permissions: Read-Write Assets",
        "operationId": "updateFolderUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateFolderRequest",
            "description": "updateFolderRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateFolderRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFolderResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/folder/{id}/content.json": {
      "get": {
        "tags": ["Folders"],
        "summary": "Get Folder Contents",
        "description": "Returns records for the contents of a given folder.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderContentUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of folder.  'Folder' or 'Program'.  Default is 'Folder'",
            "required": true,
            "type": "string",
            "enum": ["Folder", "Program"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFolderContentResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/folder/{id}/delete.json": {
      "post": {
        "tags": ["Folders"],
        "summary": "Delete Folder",
        "description": "Deletes the designated folder.  Deletion will fail if the folder has content.  Required Permissions: Read-Write Assets",
        "operationId": "deleteFolderUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "type",
            "required": true,
            "type": "string",
            "default": "Folder",
            "enum": ["Program", "Folder"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/folder/{id}/tokens.json": {
      "get": {
        "tags": ["Tokens"],
        "summary": "Get Tokens by Folder Id",
        "description": "Retrieves the list of available My Tokens in the target folder.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getTokensByFolderIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "folderType",
            "in": "query",
            "description": "Type of folder.  'Folder' or 'Program'",
            "required": false,
            "type": "string",
            "default": "Folder",
            "enum": ["Folder", "Program"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfTokenResponse" }
          }
        }
      },
      "post": {
        "tags": ["Tokens"],
        "summary": "Create Token",
        "description": "Create or update a token in the parent folder.  Required Permissions: Read-Write Assets",
        "operationId": "addTokenTOFolderUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to which the token will be associated with",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "createTokenRequest",
            "description": "createTokenRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CreateTokenRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfTokenResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/folder/{id}/tokens/delete.json": {
      "post": {
        "tags": ["Tokens"],
        "summary": "Delete Token by Name",
        "description": "Deletes a token with the given name from the parent folder.  Required Permissions: Read-Write Assets",
        "operationId": "deleteTokenByNameUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "deleteTokenRequest",
            "description": "deleteTokenRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/DeleteTokenRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/folders.json": {
      "get": {
        "tags": ["Folders"],
        "summary": "Get Folders",
        "description": "Retrieves child folders from within a given root folder.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "root",
            "in": "query",
            "description": "Parent folder reference",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxDepth",
            "in": "query",
            "description": "Maximum folder depth to traverse, Default 2",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of folders to return. Default 20, maximum 200",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging.  Default 0",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "workSpace",
            "in": "query",
            "description": "Name of the workspace",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFolderResponse" }
          }
        }
      },
      "post": {
        "tags": ["Folders"],
        "summary": "Create Folder",
        "description": "Creates a new folder.  Required Permissions: Read-Write Assets",
        "operationId": "createFolderUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "createFolderRequest",
            "description": "createFolderRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CreateFolderRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFolderResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/byName.json": {
      "get": {
        "tags": ["Forms"],
        "summary": "Get Form by Name",
        "description": "Retrieves a form record by its name. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getLpFormByNameUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the form",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          },
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/fields.json": {
      "get": {
        "tags": ["Form Fields"],
        "summary": "Get Available Form Fields",
        "description": "Retrieves a list of all valid fields for use in forms. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getAllFieldsUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of fields to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFieldsMetaDataResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/form/programMemberFields.json": {
      "get": {
        "tags": ["Form Fields"],
        "summary": "Get Available Form Program Member Fields",
        "description": "Retrieves a list of all valid Program Member fields for use in forms. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getAllProgramMemberFieldsUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of fields to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFieldsMetaDataResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/form/{formId}/field/{fieldId}/visibility.json": {
      "post": {
        "tags": ["Form Fields"],
        "summary": "Add Form Field Visibility Rules",
        "description": "Adds a visibility rule to the target form field.  Required Permissions: Read-Write Assets",
        "operationId": "addFormFieldVisibilityRuleUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "description": "formId",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fieldId",
            "in": "path",
            "description": "fieldId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "addFormFieldVisibilityRequest",
            "description": "addFormFieldVisibilityRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/AddFormFieldVisibilityRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFormVisibilityRuleResponse"
            }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}.json": {
      "get": {
        "tags": ["Forms"],
        "summary": "Get Form By Id",
        "description": "Retrieves a form record by its id. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getLpFormByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      },
      "post": {
        "tags": ["Forms"],
        "summary": "Update Form Metadata",
        "description": "Updates the metadata of the target form.  Required Permissions: Read-Write Assets",
        "operationId": "updateFormsUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateFormMetaDataRequest",
            "description": "updateFormMetaDataRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateFormMetaDataRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/approveDraft.json": {
      "post": {
        "tags": ["Forms"],
        "summary": "Approve Form Draft",
        "description": "Approves the current draft of the form.  This will delete the current approved version of the form.  Required Permissions: Approve Assets",
        "operationId": "approveFromUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/clone.json": {
      "post": {
        "tags": ["Forms"],
        "summary": "Clone Form",
        "description": "Clones the target form.  Required Permissions: Read-Write Assets",
        "operationId": "cloneLpFormsUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cloneFormRequest",
            "description": "cloneFormRequest",
            "required": false,
            "schema": { "$ref": "#/definitions/CloneFormRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/delete.json": {
      "post": {
        "tags": ["Forms"],
        "summary": "Delete Form",
        "description": "Deletes the target form.  Forms which are in use by landing pages may not be deleted until they are removed from all landing pages.  Required Permissions: Read-Write Assets",
        "operationId": "deleteFormByIdUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/discardDraft.json": {
      "post": {
        "tags": ["Forms"],
        "summary": "Discard Form Draft",
        "description": "Discards the current draft of the form.  Required Permissions: Read-Write Assets",
        "operationId": "discardFormByIdUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/field/{fieldId}.json": {
      "post": {
        "tags": ["Form Fields"],
        "summary": "Update Form Field",
        "description": "Updates the configuration for that target field. Required Permissions: Read-Write Assets",
        "operationId": "updateFormFieldUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fieldId",
            "in": "path",
            "description": "fieldId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateFormFieldRequest",
            "description": "updateFormFieldRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateFormFieldRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormFieldResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/field/{fieldId}/delete.json": {
      "post": {
        "tags": ["Form Fields"],
        "summary": "Delete Form Field",
        "description": "Deletes a field from a form. Required Permissions: Read-Write Assets",
        "operationId": "deleteFormFieldUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fieldId",
            "in": "path",
            "description": "fieldId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/fieldSet.json": {
      "post": {
        "tags": ["Form Fields"],
        "summary": "Add Fieldset to Form",
        "description": "Adds a field set to the target form.  Required Permissions: Read-Write Assets",
        "operationId": "addFieldSetUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "addFormFieldSetRequest",
            "description": "addFormFieldSetRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/AddFormFieldSetRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormFieldResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/fieldSet/{fieldSetId}/field/{fieldId}/delete.json": {
      "post": {
        "tags": ["Form Fields"],
        "summary": "Delete Field from Fieldset",
        "description": "Removes the target field from the fieldset. Required Permissions: Read-Write Assets",
        "operationId": "deleteFormFieldFromFieldSetUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fieldSetId",
            "in": "path",
            "description": "fieldSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "fieldId",
            "in": "path",
            "description": "fieldId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/fields.json": {
      "get": {
        "tags": ["Form Fields"],
        "summary": "Get Fields for Form",
        "description": "Retrieves the list of fields in the target form.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFormFieldByFormVidUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormFieldResponse" }
          }
        }
      },
      "post": {
        "tags": ["Form Fields"],
        "summary": "Add Field to Form",
        "description": "Adds a field to a form. Required Permissions: Read-Write Assets",
        "operationId": "addFieldToAFormUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "addFormFieldSetRequest",
            "description": "addFormFieldSetRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/AddFormFieldRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormFieldResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/reArrange.json": {
      "post": {
        "tags": ["Form Fields"],
        "summary": "Update Field Positions",
        "description": "Reorders the list of fields in a form. Required Permissions: Read-Write Assets",
        "operationId": "updateFieldPositionsUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "reArrangeRequest",
            "description": "reArrangeRequest",
            "required": false,
            "schema": { "$ref": "#/definitions/ReArrangeRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/richText.json": {
      "post": {
        "tags": ["Form Fields"],
        "summary": "Add Rich Text Field",
        "description": "Adds a rich-text type field to the form.  Required Permissions: Read-Write Assets",
        "operationId": "addRichTextFieldUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "addRichTextRequest",
            "description": "addRichTextRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/AddRichTextRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormFieldResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/submitButton.json": {
      "post": {
        "tags": ["Forms"],
        "summary": "Update Submit Button",
        "description": "Updates the submit button configuration for the target form.  Required Permissions: Read-Write Assets",
        "operationId": "updateFormSubmitButtonUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "submitButtonRequest",
            "description": "submitButtonRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/SubmitButtonRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/thankYouPage.json": {
      "get": {
        "tags": ["Forms"],
        "summary": "Get Thank You Page by Form Id",
        "description": "Returns the thank you page configuration for a given form.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getThankYouPageByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfThankYouPageResponse" }
          }
        }
      },
      "post": {
        "tags": ["Forms"],
        "summary": "Update Thank You Page",
        "description": "Updates the thank you page configuration for a given form.  This update is destructive and the resulting draft will not have any memory of the previous configuration.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "updateThankYouPageByIdUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "thankYouPageRequest",
            "description": "thankYouPageRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateThankYouPageRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfThankYouPageResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/forms.json": {
      "get": {
        "tags": ["Forms"],
        "summary": "Get Forms",
        "description": "Retrieves a list of accessible form records from the target instance.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "browseForms2UsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          },
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      },
      "post": {
        "tags": ["Forms"],
        "summary": "Create Form",
        "description": "Creates a new form.  Required Permissions: Read-Write Assets",
        "operationId": "createLpFormsUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "createFormRequest",
            "description": "createFormRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CreateLpFormRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLpFormResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/form/{id}/usedBy.json": {
      "get": {
        "tags": ["Forms"],
        "summary": "Get Form Used By",
        "description": "Returns a list of asset records which depend on a given form.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFormUsedByUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the form",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of assets to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfFormUsedByResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/landingPage/byName.json": {
      "get": {
        "tags": ["Landing Pages"],
        "summary": "Get Landing Page by Name",
        "description": "Returns the landing page record for the given name. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getLandingPageByNameUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the landing page",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLandingPageResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/landingPage/{id}.json": {
      "get": {
        "tags": ["Landing Pages"],
        "summary": "Get Landing Page by Id",
        "description": "Returns the landing record for the given id. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getLandingPageByIdUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLandingPageResponse" }
          }
        }
      },
      "post": {
        "tags": ["Landing Pages"],
        "summary": "Update Landing Page Metadata",
        "description": "Updates the metadata for the targe landing page.  Required Permissions: Read-Write Assets",
        "operationId": "updateLandingPageUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateLandingPageRequest",
            "description": "updateLandingPageRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/UpdateLandingPageRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLandingPageResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/landingPage/{id}/approveDraft.json": {
      "post": {
        "tags": ["Landing Pages"],
        "summary": "Approve Landing Page Draft",
        "description": "Approves the current draft of the landing page.  Required Permissions: Approve Assets",
        "operationId": "approveLandingPageUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/landingPage/{id}/clone.json": {
      "post": {
        "tags": ["Landing Pages"],
        "summary": "Clone Landing Page",
        "description": "Clones the target landing page. Required Permissions: Read-Write Assets",
        "operationId": "cloneLandingPageUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cloneLandingPageRequest",
            "description": "cloneLandingPageRequest",
            "required": true,
            "schema": { "$ref": "#/definitions/CloneLandingPageRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfLandingPageResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/landingPage/{id}/content.json": {
      "get": {
        "tags": ["Landing Page Content"],
        "summary": "Get Landing Page Content",
        "description": "Retrieves the list of content sections in the target landing page.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getLandingPageContentUsingGET",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter for draft or approved versions",
            "required": false,
            "type": "string",
            "enum": ["approved", "draft"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfLandingPageContentResponse"
            }
          }
        }
      },
      "post": {
        "tags": ["Landing Page Content"],
        "summary": "Add Landing Page Content Section",
        "description": "Adds a content section to the target landing page. Parameters must be sent as application/x-www-form-urlencoded (not JSON).  Required Permissions: Read-Write Assets",
        "operationId": "addLandingPageContentUsingPOST",
        "consumes": ["application/x-www-form-urlencoded"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateLandingPageContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseOfIdResponse" }
          }
        }
      }
    },
    "/rest/asset/v1/landingPage/{id}/content/{contentId}.json": {
      "post": {
        "tags": ["Landing Page Content"],
        "summary": "Update Landing Page Content Section",
[...]
