{
  "swagger": "2.0",
  "host": "api.salesflare.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "info": {
    "title": "Salesflare API",
    "version": "1.0.0",
    "description": "# Introduction\n\n## Getting Started\n\nThe Salesflare API allows you to access and build your own applications or integrations that interact with Salesflare.\n\nThe Salesflare API provides a RESTful interface with JSON-formatted responses to access most Salesflare resources.\n\n## Authentication\n\nThe Salesflare API uses bearer token based authentication, which means you need to use the key-value pair \"Authorization : Bearer APIKEY\" in the header to authenticate.\n\nYou can make an API key in [\"Settings\" > \"API keys\"](https://app.salesflare.com/#/settings/apikeys).\n\nClick on the large orange \"+\" button on the bottom right of the screen to create an API key.\n\n![Screenshot API Key Settings](https://lib.salesflare.com/api_docs/screenshot_settings_apikeys.png?v=2)\n\n## Requests\n\nAll requests must be sent using HTTPS with TLS 1.2 or higher. Please make sure your developer tools support this version of TLS as older versions or SSL are not supported for security reasons.\n\nFor PUT or POST requests (e.g. create, update), the payload must be provided as JSON in the request body.\n\n## Responses\n\nResponses use HTTP status codes, with the most typical ones being:\n\n| Code                   | Meaning               |\n|------------------------|-----------------------|\n| Successful Responses                           |\n| 200                    | OK                    |\n| Error Responses                                |\n| 400                    | Bad Request           |\n| 401                    | Unauthorized          |\n| 404                    | Not Found             |\n| 429                    | Too Many Requests     |\n| 500                    | Internal Server Error |\n\n## Testing\n\nWe recommend testing our API with Postman.\n\n### Download specification\n\nOur API is documented following the OpenAPI specification. You can download it [here](https://api.salesflare.com/openapi.json)\n\n### Import in Postman\n\nTo import the collection, open Postman and click Import, then select \"Import From Link\"\n\nCopy & Paste the following link and press the \"Import\" button:\n\n> https://api.salesflare.com/openapi.json\n\n![Screenshot Postman Import](https://lib.salesflare.com/api_docs/screenshot_postman_import.png)\n\n## Support\n\nFor API questions and support, please email support@salesflare.com or click the chat bubble below.",
    "contact": {
      "email": "support@salesflare.com"
    },
    "x-logo": {
      "url": "https://lib.salesflare.com/api_docs/sf-logo-inverted.svg",
      "backgroundColor": "#0f1528",
      "altText": "Salesflare logo"
    }
  },
  "x-tagGroups": [
    {
      "name": "General",
      "tags": [
        "Tasks",
        "Accounts",
        "Contacts",
        "Opportunities",
        "Workflows",
        "Insights"
      ]
    },
    {
      "name": "Interactions",
      "tags": [
        "Calls",
        "Meetings",
        "Internal Notes"
      ]
    },
    {
      "name": "User Management",
      "tags": [
        "Users",
        "Groups"
      ]
    },
    {
      "name": "Configuration",
      "tags": [
        "Regional Settings",
        "Pipelines",
        "Custom Fields",
        "Email Data Sources",
        "Tags",
        "Filter Fields",
        "Persons"
      ]
    }
  ],
  "tags": [],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List accounts",
        "operationId": "getAccounts",
        "parameters": [
          {
            "type": "array",
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "number"
            },
            "collectionFormat": "multi",
            "name": "id",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": true,
            "name": "details",
            "in": "query"
          },
          {
            "type": "string",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "name": "name",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "creation_after",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "creation_before",
            "in": "query"
          },
          {
            "type": "number",
            "minimum": 0,
            "name": "min_size",
            "in": "query"
          },
          {
            "type": "number",
            "name": "max_size",
            "in": "query"
          },
          {
            "type": "array",
            "x-constraint": {
              "unique": true,
              "single": true
            },
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "name": "domain",
            "in": "query"
          },
          {
            "type": "array",
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "number"
            },
            "collectionFormat": "multi",
            "name": "tag",
            "in": "query"
          },
          {
            "type": "array",
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "name": "tag.name",
            "in": "query"
          },
          {
            "type": "array",
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "name": "address.country",
            "in": "query"
          },
          {
            "type": "array",
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "name": "address.city",
            "in": "query"
          },
          {
            "type": "array",
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "name": "address.state_region",
            "in": "query"
          },
          {
            "type": "number",
            "description": "1: Room temp, 2: Hot, 3: On fire",
            "enum": [
              1,
              2,
              3
            ],
            "name": "hotness",
            "in": "query"
          },
          {
            "type": "number",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "name": "custom",
            "in": "query",
            "x-type": "object"
          },
          {
            "type": "array",
            "description": "Can be just 'key' e.g. 'name' or 'key sortOrder' e.g. 'name desc'. Defaults to asc.",
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "name": "order_by",
            "in": "query"
          },
          {
            "type": "string",
            "x-alternatives": [
              {
                "type": "object",
                "required": [
                  "condition",
                  "rules"
                ],
                "x-properties": {
                  "condition": {
                    "type": "string",
                    "enum": [
                      "AND",
                      "OR"
                    ]
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                      "required": [
                        "id",
                        "customfield_id",
                        "operator",
                        "enabled"
                      ],
                      "x-alternatives": [
                        {
                          "type": "object",
                          "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                          "required": [
                            "id",
                            "customfield_id",
                            "operator",
                            "enabled"
                          ],
                          "x-properties": {
                            "id": {
                              "type": "string"
                            },
                            "query_builder_id": {
                              "type": "string"
                            },
                            "customfield_id": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "integer",
                                "double",
                                "boolean",
                                "tri_state_boolean",
                                "string",
                                "long_string",
                                "select",
                                "date",
                                "datetime",
                                "file"
                              ]
                            },
                            "input": {
                              "type": "string"
                            },
                            "operator": {
                              "type": "string",
                              "enum": [
                                "equal",
                                "not_equal",
                                "in",
                                "not_in",
                                "less",
                                "less_or_equal",
                                "greater",
                                "greater_or_equal",
                                "between",
                                "not_between",
                                "begins_with",
                                "not_begins_with",
                                "contains",
                                "not_contains",
                                "ends_with",
                                "not_ends_with",
                                "is_empty",
                                "is_not_empty",
                                "is_null",
                                "is_not_null",
                                "true",
                                "false",
                                "past_less",
                                "past_exactly",
                                "past_more_than",
                                "future_less",
                                "future_exactly",
                                "future_more_than",
                                "after",
                                "on",
                                "before",
                                "is",
                                "is_not"
                              ]
                            },
                            "value": {
                              "type": "array",
                              "x-constraint": {
                                "single": true
                              },
                              "items": {
                                "type": "string",
                                "x-alternatives": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "object",
                                    "x-properties": {
                                      "value1": {
                                        "type": "string",
                                        "x-alternatives": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          }
                                        ]
                                      },
                                      "value2": {
                                        "type": "string",
                                        "x-alternatives": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          }
                                        ]
                                      }
                                    }
                                  }
                                ]
                              },
                              "collectionFormat": "multi",
                              "name": "value"
                            },
                            "entity": {
                              "type": "string",
                              "enum": [
                                "account",
                                "person",
                                "opportunity",
                                "campaign",
                                "tag",
                                "task",
                                "workflow",
                                "workflow_record",
                                "workflow_step_record",
                                "lead"
                              ]
                            },
                            "display_entity": {
                              "type": "string",
                              "enum": [
                                "Account",
                                "Contact",
                                "Opportunity",
                                "Campaign",
                                "Tag",
                                "Task",
                                "Workflow",
                                "Lead"
                              ]
                            },
                            "pipeline": {
                              "type": "number"
                            },
                            "enabled": {
                              "type": "string"
                            },
                            "internal": {
                              "type": "boolean"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "id",
                            "operator",
                            "value",
                            "raw_value"
                          ],
                          "x-properties": {
                            "id": {
                              "type": "string"
                            },
                            "operator": {
                              "type": "string",
                              "description": "`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are deprecated and should not be used.",
                              "enum": [
                                "equal",
                                "not_equal",
                                "in",
                                "not_in",
                                "less",
                                "less_or_equal",
                                "greater",
                                "greater_or_equal",
                                "between",
                                "not_between",
                                "begins_with",
                                "not_begins_with",
                                "contains",
                                "not_contains",
                                "ends_with",
                                "not_ends_with",
                                "is_empty",
                                "is_not_empty",
                                "is_null",
                                "is_not_null",
                                "true",
                                "false",
                                "past_less",
                                "past_exactly",
                                "past_more_than",
                                "future_less",
                                "future_exactly",
                                "future_more_than",
                                "after",
                                "on",
                                "before",
                                "is",
                                "is_not"
                              ]
                            },
                            "value": {
                              "type": "array",
                              "x-constraint": {
                                "single": true
                              },
                              "items": {
                                "type": "string",
                                "x-alternatives": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "type": "boolean"
                                  }
                                ]
                              },
                              "collectionFormat": "multi",
                              "name": "value"
                            },
                            "raw_value": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              },
                              "collectionFormat": "multi",
                              "name": "raw_value"
                            },
                            "pipeline": {
                              "type": "number"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "condition"
                          ],
                          "x-properties": {
                            "condition": {
                              "type": "string",
                              "enum": [
                                "AND",
                                "OR"
                              ]
                            },
                            "rules": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                                "required": [
                                  "id",
                                  "customfield_id",
                                  "operator",
                                  "enabled"
                                ],
                                "x-properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "query_builder_id": {
                                    "type": "string"
                                  },
                                  "customfield_id": {
                                    "type": "string"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "integer",
                                      "double",
                                      "boolean",
                                      "tri_state_boolean",
                                      "string",
                                      "long_string",
                                      "select",
                                      "date",
                                      "datetime",
                                      "file"
                                    ]
                                  },
                                  "input": {
                                    "type": "string"
                                  },
                                  "operator": {
                                    "type": "string",
                                    "enum": [
                                      "equal",
                                      "not_equal",
                                      "in",
                                      "not_in",
                                      "less",
                                      "less_or_equal",
                                      "greater",
                                      "greater_or_equal",
                                      "between",
                                      "not_between",
                                      "begins_with",
                                      "not_begins_with",
                                      "contains",
                                      "not_contains",
                                      "ends_with",
                                      "not_ends_with",
                                      "is_empty",
                                      "is_not_empty",
                                      "is_null",
                                      "is_not_null",
                                      "true",
                                      "false",
                                      "past_less",
                                      "past_exactly",
                                      "past_more_than",
                                      "future_less",
                                      "future_exactly",
                                      "future_more_than",
                                      "after",
                                      "on",
                                      "before",
                                      "is",
                                      "is_not"
                                    ]
                                  },
                                  "value": {
                                    "type": "array",
                                    "x-constraint": {
                                      "single": true
                                    },
                                    "items": {
                                      "type": "string",
                                      "x-alternatives": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        },
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "object",
                                          "x-properties": {
                                            "value1": {
                                              "type": "string",
                                              "x-alternatives": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "number"
                                                }
                                              ]
                                            },
                                            "value2": {
                                              "type": "string",
                                              "x-alternatives": [
                                                {
                                                  "type": "string"
                                                },
                                                {
                                                  "type": "number"
                                                }
                                              ]
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "collectionFormat": "multi",
                                    "name": "value"
                                  },
                                  "entity": {
                                    "type": "string",
                                    "enum": [
                                      "account",
                                      "person",
                                      "opportunity",
                                      "campaign",
                                      "tag",
                                      "task",
                                      "workflow",
                                      "workflow_record",
                                      "workflow_step_record",
                                      "lead"
                                    ]
                                  },
                                  "display_entity": {
                                    "type": "string",
                                    "enum": [
                                      "Account",
                                      "Contact",
                                      "Opportunity",
                                      "Campaign",
                                      "Tag",
                                      "Task",
                                      "Workflow",
                                      "Lead"
                                    ]
                                  },
                                  "pipeline": {
                                    "type": "number"
                                  },
                                  "enabled": {
                                    "type": "string"
                                  },
                                  "internal": {
                                    "type": "boolean"
                                  }
                                }
                              },
                              "collectionFormat": "multi",
                              "name": "rules"
                            },
                            "not": {
                              "type": "boolean"
                            },
                            "valid": {
                              "type": "boolean"
                            }
                          }
                        }
                      ],
                      "x-properties": {
                        "id": {
                          "type": "string"
                        },
                        "query_builder_id": {
                          "type": "string"
                        },
                        "customfield_id": {
                          "type": "string"
                        },
                        "label": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "integer",
                            "double",
                            "boolean",
                            "tri_state_boolean",
                            "string",
                            "long_string",
                            "select",
                            "date",
                            "datetime",
                            "file"
                          ]
                        },
                        "input": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string",
                          "enum": [
                            "equal",
                            "not_equal",
                            "in",
                            "not_in",
                            "less",
                            "less_or_equal",
                            "greater",
                            "greater_or_equal",
                            "between",
                            "not_between",
                            "begins_with",
                            "not_begins_with",
                            "contains",
                            "not_contains",
                            "ends_with",
                            "not_ends_with",
                            "is_empty",
                            "is_not_empty",
                            "is_null",
                            "is_not_null",
                            "true",
                            "false",
                            "past_less",
                            "past_exactly",
                            "past_more_than",
                            "future_less",
                            "future_exactly",
                            "future_more_than",
                            "after",
                            "on",
                            "before",
                            "is",
                            "is_not"
                          ]
                        },
                        "value": {
                          "type": "array",
                          "x-constraint": {
                            "single": true
                          },
                          "items": {
                            "type": "string",
                            "x-alternatives": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "object",
                                "x-properties": {
                                  "value1": {
                                    "type": "string",
                                    "x-alternatives": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  },
                                  "value2": {
                                    "type": "string",
                                    "x-alternatives": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  }
                                }
                              }
                            ]
                          },
                          "collectionFormat": "multi",
                          "name": "value"
                        },
                        "entity": {
                          "type": "string",
                          "enum": [
                            "account",
                            "person",
                            "opportunity",
                            "campaign",
                            "tag",
                            "task",
                            "workflow",
                            "workflow_record",
                            "workflow_step_record",
                            "lead"
                          ]
                        },
                        "display_entity": {
                          "type": "string",
                          "enum": [
                            "Account",
                            "Contact",
                            "Opportunity",
                            "Campaign",
                            "Tag",
                            "Task",
                            "Workflow",
                            "Lead"
                          ]
                        },
                        "pipeline": {
                          "type": "number"
                        },
                        "enabled": {
                          "type": "string"
                        },
                        "internal": {
                          "type": "boolean"
                        }
                      }
                    },
                    "collectionFormat": "multi",
                    "name": "rules"
                  },
                  "order_by": {
                    "type": "string"
                  },
                  "not": {
                    "type": "boolean"
                  },
                  "valid": {
                    "type": "boolean"
                  },
                  "search": {
                    "type": "string"
                  }
                }
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "condition"
                  ],
                  "x-alternatives": [
                    {
                      "type": "object",
                      "required": [
                        "condition"
                      ],
                      "x-properties": {
                        "condition": {
                          "type": "string",
                          "enum": [
                            "AND",
                            "OR"
                          ]
                        },
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                            "required": [
                              "id",
                              "customfield_id",
                              "operator",
                              "enabled"
                            ],
                            "x-properties": {
                              "id": {
                                "type": "string"
                              },
                              "query_builder_id": {
                                "type": "string"
                              },
                              "customfield_id": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "integer",
                                  "double",
                                  "boolean",
                                  "tri_state_boolean",
                                  "string",
                                  "long_string",
                                  "select",
                                  "date",
                                  "datetime",
                                  "file"
                                ]
                              },
                              "input": {
                                "type": "string"
                              },
                              "operator": {
                                "type": "string",
                                "enum": [
                                  "equal",
                                  "not_equal",
                                  "in",
                                  "not_in",
                                  "less",
                                  "less_or_equal",
                                  "greater",
                                  "greater_or_equal",
                                  "between",
                                  "not_between",
                                  "begins_with",
                                  "not_begins_with",
                                  "contains",
                                  "not_contains",
                                  "ends_with",
                                  "not_ends_with",
                                  "is_empty",
                                  "is_not_empty",
                                  "is_null",
                                  "is_not_null",
                                  "true",
                                  "false",
                                  "past_less",
                                  "past_exactly",
                                  "past_more_than",
                                  "future_less",
                                  "future_exactly",
                                  "future_more_than",
                                  "after",
                                  "on",
                                  "before",
                                  "is",
                                  "is_not"
                                ]
                              },
                              "value": {
                                "type": "array",
                                "x-constraint": {
                                  "single": true
                                },
                                "items": {
                                  "type": "string",
                                  "x-alternatives": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "object",
                                      "x-properties": {
                                        "value1": {
                                          "type": "string",
                                          "x-alternatives": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "number"
                                            }
                                          ]
                                        },
                                        "value2": {
                                          "type": "string",
                                          "x-alternatives": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "number"
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  ]
                                },
                                "collectionFormat": "multi",
                                "name": "value"
                              },
                              "entity": {
                                "type": "string",
                                "enum": [
                                  "account",
                                  "person",
                                  "opportunity",
                                  "campaign",
                                  "tag",
                                  "task",
                                  "workflow",
                                  "workflow_record",
                                  "workflow_step_record",
                                  "lead"
                                ]
                              },
                              "display_entity": {
                                "type": "string",
                                "enum": [
                                  "Account",
                                  "Contact",
                                  "Opportunity",
                                  "Campaign",
                                  "Tag",
                                  "Task",
                                  "Workflow",
                                  "Lead"
                                ]
                              },
                              "pipeline": {
                                "type": "number"
                              },
                              "enabled": {
                                "type": "string"
                              },
                              "internal": {
                                "type": "boolean"
                              }
                            }
                          },
                          "collectionFormat": "multi",
                          "name": "rules"
                        },
                        "not": {
                          "type": "boolean"
                        },
                        "valid": {
                          "type": "boolean"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                      "required": [
                        "id",
                        "customfield_id",
                        "operator",
                        "enabled"
                      ],
                      "x-properties": {
                        "id": {
                          "type": "string"
                        },
                        "query_builder_id": {
                          "type": "string"
                        },
                        "customfield_id": {
                          "type": "string"
                        },
                        "label": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "integer",
                            "double",
                            "boolean",
                            "tri_state_boolean",
                            "string",
                            "long_string",
                            "select",
                            "date",
                            "datetime",
                            "file"
                          ]
                        },
                        "input": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string",
                          "enum": [
                            "equal",
                            "not_equal",
                            "in",
                            "not_in",
                            "less",
                            "less_or_equal",
                            "greater",
                            "greater_or_equal",
                            "between",
                            "not_between",
                            "begins_with",
                            "not_begins_with",
                            "contains",
                            "not_contains",
                            "ends_with",
                            "not_ends_with",
                            "is_empty",
                            "is_not_empty",
                            "is_null",
                            "is_not_null",
                            "true",
                            "false",
                            "past_less",
                            "past_exactly",
                            "past_more_than",
                            "future_less",
                            "future_exactly",
                            "future_more_than",
                            "after",
                            "on",
                            "before",
                            "is",
                            "is_not"
                          ]
                        },
                        "value": {
                          "type": "array",
                          "x-constraint": {
                            "single": true
                          },
                          "items": {
                            "type": "string",
                            "x-alternatives": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "object",
                                "x-properties": {
                                  "value1": {
                                    "type": "string",
                                    "x-alternatives": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  },
                                  "value2": {
                                    "type": "string",
                                    "x-alternatives": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  }
                                }
                              }
                            ]
                          },
                          "collectionFormat": "multi",
                          "name": "value"
                        },
                        "entity": {
                          "type": "string",
                          "enum": [
                            "account",
                            "person",
                            "opportunity",
                            "campaign",
                            "tag",
                            "task",
                            "workflow",
                            "workflow_record",
                            "workflow_step_record",
                            "lead"
                          ]
                        },
                        "display_entity": {
                          "type": "string",
                          "enum": [
                            "Account",
                            "Contact",
                            "Opportunity",
                            "Campaign",
                            "Tag",
                            "Task",
                            "Workflow",
                            "Lead"
                          ]
                        },
                        "pipeline": {
                          "type": "number"
                        },
                        "enabled": {
                          "type": "string"
                        },
                        "internal": {
                          "type": "boolean"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "id",
                        "operator",
                        "value",
                        "raw_value"
                      ],
                      "x-properties": {
                        "id": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string",
                          "description": "`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are deprecated and should not be used.",
                          "enum": [
                            "equal",
                            "not_equal",
                            "in",
                            "not_in",
                            "less",
                            "less_or_equal",
                            "greater",
                            "greater_or_equal",
                            "between",
                            "not_between",
                            "begins_with",
                            "not_begins_with",
                            "contains",
                            "not_contains",
                            "ends_with",
                            "not_ends_with",
                            "is_empty",
                            "is_not_empty",
                            "is_null",
                            "is_not_null",
                            "true",
                            "false",
                            "past_less",
                            "past_exactly",
                            "past_more_than",
                            "future_less",
                            "future_exactly",
                            "future_more_than",
                            "after",
                            "on",
                            "before",
                            "is",
                            "is_not"
                          ]
                        },
                        "value": {
                          "type": "array",
                          "x-constraint": {
                            "single": true
                          },
                          "items": {
                            "type": "string",
                            "x-alternatives": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          },
                          "collectionFormat": "multi",
                          "name": "value"
                        },
                        "raw_value": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "collectionFormat": "multi",
                          "name": "raw_value"
                        },
                        "pipeline": {
                          "type": "number"
                        }
                      }
                    }
                  ],
                  "x-properties": {
                    "condition": {
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ]
                    },
                    "rules": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                        "required": [
                          "id",
                          "customfield_id",
                          "operator",
                          "enabled"
                        ],
                        "x-properties": {
                          "id": {
                            "type": "string"
                          },
                          "query_builder_id": {
                            "type": "string"
                          },
                          "customfield_id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "integer",
                              "double",
                              "boolean",
                              "tri_state_boolean",
                              "string",
                              "long_string",
                              "select",
                              "date",
                              "datetime",
                              "file"
                            ]
                          },
                          "input": {
                            "type": "string"
                          },
                          "operator": {
                            "type": "string",
                            "enum": [
                              "equal",
                              "not_equal",
                              "in",
                              "not_in",
                              "less",
                              "less_or_equal",
                              "greater",
                              "greater_or_equal",
                              "between",
                              "not_between",
                              "begins_with",
                              "not_begins_with",
                              "contains",
                              "not_contains",
                              "ends_with",
                              "not_ends_with",
                              "is_empty",
                              "is_not_empty",
                              "is_null",
                              "is_not_null",
                              "true",
                              "false",
                              "past_less",
                              "past_exactly",
                              "past_more_than",
                              "future_less",
                              "future_exactly",
                              "future_more_than",
                              "after",
                              "on",
                              "before",
                              "is",
                              "is_not"
                            ]
                          },
                          "value": {
                            "type": "array",
                            "x-constraint": {
                              "single": true
                            },
                            "items": {
                              "type": "string",
                              "x-alternatives": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "object",
                                  "x-properties": {
                                    "value1": {
                                      "type": "string",
                                      "x-alternatives": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        }
                                      ]
                                    },
                                    "value2": {
                                      "type": "string",
                                      "x-alternatives": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        }
                                      ]
                                    }
                                  }
                                }
                              ]
                            },
                            "collectionFormat": "multi",
                            "name": "value"
                          },
                          "entity": {
                            "type": "string",
                            "enum": [
                              "account",
                              "person",
                              "opportunity",
                              "campaign",
                              "tag",
                              "task",
                              "workflow",
                              "workflow_record",
                              "workflow_step_record",
                              "lead"
                            ]
                          },
                          "display_entity": {
                            "type": "string",
                            "enum": [
                              "Account",
                              "Contact",
                              "Opportunity",
                              "Campaign",
                              "Tag",
                              "Task",
                              "Workflow",
                              "Lead"
                            ]
                          },
                          "pipeline": {
                            "type": "number"
                          },
                          "enabled": {
                            "type": "string"
                          },
                          "internal": {
                            "type": "boolean"
                          }
                        }
                      },
                      "collectionFormat": "multi",
                      "name": "rules"
                    },
                    "not": {
                      "type": "boolean"
                    },
                    "valid": {
                      "type": "boolean"
                    }
                  }
                },
                "collectionFormat": "multi",
                "name": "q"
              }
            ],
            "name": "q",
            "in": "query",
            "x-type": "object",
            "x-properties": {
              "condition": {
                "type": "string",
                "enum": [
                  "AND",
                  "OR"
                ]
              },
              "rules": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                  "required": [
                    "id",
                    "customfield_id",
                    "operator",
                    "enabled"
                  ],
                  "x-alternatives": [
                    {
                      "type": "object",
                      "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                      "required": [
                        "id",
                        "customfield_id",
                        "operator",
                        "enabled"
                      ],
                      "x-properties": {
                        "id": {
                          "type": "string"
                        },
                        "query_builder_id": {
                          "type": "string"
                        },
                        "customfield_id": {
                          "type": "string"
                        },
                        "label": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "integer",
                            "double",
                            "boolean",
                            "tri_state_boolean",
                            "string",
                            "long_string",
                            "select",
                            "date",
                            "datetime",
                            "file"
                          ]
                        },
                        "input": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string",
                          "enum": [
                            "equal",
                            "not_equal",
                            "in",
                            "not_in",
                            "less",
                            "less_or_equal",
                            "greater",
                            "greater_or_equal",
                            "between",
                            "not_between",
                            "begins_with",
                            "not_begins_with",
                            "contains",
                            "not_contains",
                            "ends_with",
                            "not_ends_with",
                            "is_empty",
                            "is_not_empty",
                            "is_null",
                            "is_not_null",
                            "true",
                            "false",
                            "past_less",
                            "past_exactly",
                            "past_more_than",
                            "future_less",
                            "future_exactly",
                            "future_more_than",
                            "after",
                            "on",
                            "before",
                            "is",
                            "is_not"
                          ]
                        },
                        "value": {
                          "type": "array",
                          "x-constraint": {
                            "single": true
                          },
                          "items": {
                            "type": "string",
                            "x-alternatives": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "object",
                                "x-properties": {
                                  "value1": {
                                    "type": "string",
                                    "x-alternatives": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  },
                                  "value2": {
                                    "type": "string",
                                    "x-alternatives": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  }
                                }
                              }
                            ]
                          },
                          "collectionFormat": "multi",
                          "name": "value"
                        },
                        "entity": {
                          "type": "string",
                          "enum": [
                            "account",
                            "person",
                            "opportunity",
                            "campaign",
                            "tag",
                            "task",
                            "workflow",
                            "workflow_record",
                            "workflow_step_record",
                            "lead"
                          ]
                        },
                        "display_entity": {
                          "type": "string",
                          "enum": [
                            "Account",
                            "Contact",
                            "Opportunity",
                            "Campaign",
                            "Tag",
                            "Task",
                            "Workflow",
                            "Lead"
                          ]
                        },
                        "pipeline": {
                          "type": "number"
                        },
                        "enabled": {
                          "type": "string"
                        },
                        "internal": {
                          "type": "boolean"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "id",
                        "operator",
                        "value",
                        "raw_value"
                      ],
                      "x-properties": {
                        "id": {
                          "type": "string"
                        },
                        "operator": {
                          "type": "string",
                          "description": "`is_empty`, `is_not_empty`, `is_null`, `is_not_null`, `true` and `false` are deprecated and should not be used.",
                          "enum": [
                            "equal",
                            "not_equal",
                            "in",
                            "not_in",
                            "less",
                            "less_or_equal",
                            "greater",
                            "greater_or_equal",
                            "between",
                            "not_between",
                            "begins_with",
                            "not_begins_with",
                            "contains",
                            "not_contains",
                            "ends_with",
                            "not_ends_with",
                            "is_empty",
                            "is_not_empty",
                            "is_null",
                            "is_not_null",
                            "true",
                            "false",
                            "past_less",
                            "past_exactly",
                            "past_more_than",
                            "future_less",
                            "future_exactly",
                            "future_more_than",
                            "after",
                            "on",
                            "before",
                            "is",
                            "is_not"
                          ]
                        },
                        "value": {
                          "type": "array",
                          "x-constraint": {
                            "single": true
                          },
                          "items": {
                            "type": "string",
                            "x-alternatives": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          },
                          "collectionFormat": "multi",
                          "name": "value"
                        },
                        "raw_value": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "collectionFormat": "multi",
                          "name": "raw_value"
                        },
                        "pipeline": {
                          "type": "number"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "condition"
                      ],
                      "x-properties": {
                        "condition": {
                          "type": "string",
                          "enum": [
                            "AND",
                            "OR"
                          ]
                        },
                        "rules": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "description": "Deprecated, please use the slim version with only `id`, `operator`, `value`",
                            "required": [
                              "id",
                              "customfield_id",
                              "operator",
                              "enabled"
                            ],
                            "x-properties": {
                              "id": {
                                "type": "string"
                              },
                              "query_builder_id": {
                                "type": "string"
                              },
                              "customfield_id": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "integer",
                                  "double",
                                  "boolean",
                                  "tri_state_boolean",
                                  "string",
                                  "long_string",
                                  "select",
                                  "date",
                                  "datetime",
                                  "file"
                                ]
                              },
                              "input": {
                                "type": "string"
                              },
                              "operator": {
                                "type": "string",
                                "enum": [
                                  "equal",
                                  "not_equal",
                                  "in",
                                  "not_in",
                                  "less",
                                  "less_or_equal",
                                  "greater",
                                  "greater_or_equal",
                                  "between",
                                  "not_between",
                                  "begins_with",
                                  "not_begins_with",
                                  "contains",
                                  "not_contains",
                                  "ends_with",
                                  "not_ends_with",
                                  "is_empty",
                                  "is_not_empty",
                                  "is_null",
                                  "is_not_null",
                                  "true",
                                  "false",
                                  "past_less",
                                  "past_exactly",
                                  "past_more_than",
                                  "future_less",
                                  "future_exactly",
                                  "future_more_than",
                                  "after",
                                  "on",
                                  "before",
                                  "is",
                                  "is_not"
                                ]
                              },
                              "value": {
                                "type": "array",
                                "x-constraint": {
                                  "single": true
                                },
                                "items": {
                                  "type": "string",
                                  "x-alternatives": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "object",
                                      "x-properties": {
                                        "value1": {
                                          "type": "string",
                                          "x-alternatives": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "number"
                                            }
                                          ]
                                        },
                                        "value2": {
                                          "type": "string",
                                          "x-alternatives": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "number"
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  ]
                                },
                                "collectionFormat": "multi",
                                "name": "value"
                              },
                              "entity": {
                                "type": "string",
                                "enum": [
                                  "account",
                                  "person",
                                  "opportunity",
                                  "campaign",
                                  "tag",
                                  "task",
                                  "workflow",
                                  "workflow_record",
                                  "workflow_step_record",
                                  "lead"
                                ]
                              },
                              "display_entity": {
                                "type": "string",
                                "enum": [
                                  "Account",
                                  "Contact",
                                  "Opportunity",
                                  "Campaign",
                                  "Tag",
                                  "Task",
                                  "Workflow",
                                  "Lead"
                                ]
                              },
                              "pipeline": {
                                "type": "number"
                              },
                              "enabled": {
                                "type": "string"
                              },
                              "internal": {
                                "type": "boolean"
                              }
                            }
                          },
                          "collectionFormat": "multi",
                          "name": "rules"
                        },
                        "not": {
                          "type": "boolean"
                        },
                        "valid": {
                          "type": "boolean"
                        }
                      }
                    }
                  ],
                  "x-properties": {
                    "id": {
                      "type": "string"
                    },
                    "query_builder_id": {
                      "type": "string"
                    },
                    "customfield_id": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "integer",
                        "double",
                        "boolean",
                        "tri_state_boolean",
                        "string",
                        "long_string",
                        "select",
                        "date",
                        "datetime",
                        "file"
                      ]
                    },
                    "input": {
                      "type": "string"
                    },
                    "operator": {
                      "type": "string",
                      "enum": [
                        "equal",
                        "not_equal",
                        "in",
                        "not_in",
                        "less",
                        "less_or_equal",
                        "greater",
                        "greater_or_equal",
                        "between",
                        "not_between",
                        "begins_with",
                        "not_begins_with",
                        "contains",
                        "not_contains",
                        "ends_with",
                        "not_ends_with",
                        "is_empty",
                        "is_not_empty",
                        "is_null",
                        "is_not_null",
                        "true",
                        "false",
                        "past_less",
                        "past_exactly",
                        "past_more_than",
                        "future_less",
                        "future_exactly",
                        "future_more_than",
                        "after",
                        "on",
                        "before",
                        "is",
                        "is_not"
                      ]
                    },
                    "value": {
                      "type": "array",
                      "x-constraint": {
                        "single": true
                      },
                      "items": {
                        "type": "string",
                        "x-alternatives": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "string",
                            "format": "date-time"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "object",
                            "x-properties": {
                              "value1": {
                                "type": "string",
                                "x-alternatives": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "value2": {
                                "type": "string",
                                "x-alternatives": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              }
                            }
                          }
                        ]
                      },
                      "collectionFormat": "multi",
                      "name": "value"
                    },
                    "entity": {
                      "type": "string",
                      "enum": [
                        "account",
                        "person",
                        "opportunity",
                        "campaign",
                        "tag",
                        "task",
                        "workflow",
                        "workflow_record",
                        "workflow_step_record",
                        "lead"
                      ]
                    },
                    "display_entity": {
                      "type": "string",
                      "enum": [
                        "Account",
                        "Contact",
                        "Opportunity",
                        "Campaign",
                        "Tag",
                        "Task",
                        "Workflow",
                        "Lead"
                      ]
                    },
                    "pipeline": {
                      "type": "number"
                    },
                    "enabled": {
                      "type": "string"
                    },
                    "internal": {
                      "type": "boolean"
                    }
                  }
                },
                "collectionFormat": "multi",
                "name": "rules"
              },
              "order_by": {
                "type": "string"
              },
              "not": {
                "type": "boolean"
              },
              "valid": {
                "type": "boolean"
              },
              "search": {
                "type": "string"
              }
            }
          },
          {
            "type": "number",
            "default": 10,
            "minimum": 1,
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "name": "export",
            "in": "query"
          }
        ],
        "tags": [
          "Accounts"
        ],
        "responses": {
          "default": {
            "schema": {
              "type": "string"
            },
            "description": "Successful"
          }
        }
      },
      "post": {
        "summary": "Create an account",
        "operationId": "postAccounts",
        "parameters": [
          {
            "type": "boolean",
            "default": false,
            "name": "update_if_exists",
            "in": "query"
          },
          {
            "x-alternatives": [
              {
                "type": "object",
                "properties": {
                  "owner": {
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "picture": {
                    "type": "string"
                  },
                  "size": {
                    "type": "number"
                  },
                  "website": {
                    "type": "string",
                    "x-format": {
                      "uri": {
                        "allowRelative": true,
                        "allowQuerySquareBrackets": true
                      }
                    }
                  },
                  "description": {
                    "type": "string"
                  },
                  "address": {
                    "type": "object"
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string",
                          "description": "Deprecated property. Use state_region instead."
                        },
                        "state_region": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        },
                        "_dirty": {
                          "type": "boolean",
                          "description": "Deprecated, will be ignored"
                        }
                      }
                    }
                  },
                  "email": {
                    "type": "string",
                    "maxLength": 1000,
                    "x-format": {
                      "email": {
                        "ignoreLength": true,
                        "tlds": {
                          "allow": false
                        },
                        "minDomainSegments": 1
                      }
                    },
                    "x-convert": {
                      "case": "lower",
                      "trim": true
                    }
                  },
                  "email_addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "maxLength": 1000,
                          "x-format": {
                            "email": {
                              "ignoreLength": true,
                              "tlds": {
                                "allow": false
                              },
                              "minDomainSegments": 1
                            }
                          },
                          "x-convert": {
                            "case": "lower",
                            "trim": true
                          }
                        },
                        "_dirty": {
                          "type": "boolean",
                          "description": "Deprecated, will be ignored"
                        }
                      },
                      "required": [
                        "email"
                      ]
                    }
                  },
                  "phone_number": {
                    "type": "string"
                  },
                  "phone_numbers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "_dirty": {
                          "type": "boolean",
                          "description": "Deprecated, will be ignored"
                        }
                      },
                      "required": [
                        "number"
                      ]
                    }
                  },
                  "social_profiles": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "x-alternatives": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "_dirty": {
                              "type": "boolean",
                              "description": "Deprecated, will be ignored"
                            }
                          }
                        }
                      ]
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "x-alternatives": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string"
                            },
                            "team": {
                              "type": "number"
                            },
                            "creation_date": {
                              "type": "string"
                            },
                            "modification_date": {
                              "type": "string"
                            },
                            "_deleted": {
                              "type": "boolean"
                            },
                            "_dirty": {
                              "type": "string",
                              "description": "Deprecated, will be ignored"
                            }
                          }
                        }
                      ]
                    }
                  },
                  "links": {
                    "type": "string"
                  },
                  "customers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "email": {
                          "type": "string",
                          "maxLength": 1000,
                          "x-format": {
                            "email": {
                              "ignoreLength": true,
                              "tlds": {
                                "allow": false
                              },
                              "minDomainSegments": 1
                            }
                          },
                          "x-convert": {
                            "case": "lower"
                          }
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    }
                  },
                  "_dirty": {
                    "type": "boolean",
                    "description": "Deprecated, will be ignored"
                  },
                  "parent_account": {
                    "type": "number",
                    "x-alternatives": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          }
                        }
                      }
                    ]
                  },
                  "custom": {
                    "type": "object"
                  }
                }
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "email": {
                      "type": "string",
                      "maxLength": 1000,
                      "x-format": {
                        "email": {
                          "ignoreLength": true,
                          "tlds": {
                            "allow": false
                          },
                          "minDomainSegments": 1
                        }
                      },
                      "x-convert": {
                        "case": "lower"
                      }
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
[...]
