# OpenAPI files that live under scripts/openapi/<name>/...
scripts/openapi/bitbucket/swagger.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/chilipiper/docs.yaml filter=lfs diff=lfs merge=lfs -text
scripts/openapi/connectwise/internal/files/All.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/dixa/swagger.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/getresponse/swagger.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/gitlab/openapi_v2.yaml filter=lfs diff=lfs merge=lfs -text
scripts/openapi/google/internal/files/calendar.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/google/internal/files/mail.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/google/internal/files/people.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/marketo/metadata/asset.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/marketo/metadata/mapi.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/microsoft/internal/files/default_clean.yaml filter=lfs diff=lfs merge=lfs -text
scripts/openapi/nutshell/internal/files/openapi.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/pipeliner/internal/files/api.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/revenuecat/swagger.yaml filter=lfs diff=lfs merge=lfs -text
scripts/openapi/salesflare/internal/files/openapi.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/seismic/seismic_reporting_openapi.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/sellsy/internal/files/sellsy.v2.latest.yaml filter=lfs diff=lfs merge=lfs -text
scripts/openapi/solarwinds/api.json filter=lfs diff=lfs merge=lfs -text
scripts/openapi/stripe/internal/files/spec3.yaml filter=lfs diff=lfs merge=lfs -text
scripts/openapi/teamwork/internal/files/projects-api-v3.oas2.yml filter=lfs diff=lfs merge=lfs -text

# OpenAPI files that live under providers/<name>/...
# NOTE: they should be moved under scripts/openapi repo.
providers/acculynx/metadata/openapi/openapi.json filter=lfs diff=lfs merge=lfs -text
providers/avoma/metadata/openapi/api.avoma.yaml filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/cesium-curated-content.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/contextcapture.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/edfs.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/itwins.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/library.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/reality-analysis.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/reality-management.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/realityconversion.json filter=lfs diff=lfs merge=lfs -text
providers/bentley/openapi/webhooks-v2.json filter=lfs diff=lfs merge=lfs -text
providers/blueshift/metadata/openapi/api.yaml filter=lfs diff=lfs merge=lfs -text
providers/brevo/metadata/openapi/api.yaml filter=lfs diff=lfs merge=lfs -text
providers/cloudtalk/metadata/openapi/swagger.json filter=lfs diff=lfs merge=lfs -text
providers/constantcontact/openapi/swagger.yaml filter=lfs diff=lfs merge=lfs -text
providers/customerapp/openapi/cio_journeys_app_api.json filter=lfs diff=lfs merge=lfs -text
providers/devrev/metadata/openapi/schema.yaml filter=lfs diff=lfs merge=lfs -text
providers/github/metadata/openapi/api.github.com.2022-11-28.yaml filter=lfs diff=lfs merge=lfs -text
providers/github/metadata/openapi/api.github.com.2026-03-10.yaml filter=lfs diff=lfs merge=lfs -text
providers/gong/openapi/specs.json filter=lfs diff=lfs merge=lfs -text
providers/housecallPro/metadata/openapi/schema.yaml filter=lfs diff=lfs merge=lfs -text
providers/insightly/openapi/v3-1.json filter=lfs diff=lfs merge=lfs -text
providers/intercom/openapi/api.intercom.io.yaml filter=lfs diff=lfs merge=lfs -text
providers/iterable/openapi/api-docs.json filter=lfs diff=lfs merge=lfs -text
providers/justcall/openapi/api-v21.json filter=lfs diff=lfs merge=lfs -text
providers/keap/openapi/rest-v1.json filter=lfs diff=lfs merge=lfs -text
providers/keap/openapi/rest-v2.json filter=lfs diff=lfs merge=lfs -text
providers/klaviyo/openapi/stable.json filter=lfs diff=lfs merge=lfs -text
providers/okta/metadata/openapi/management-minimal.yaml filter=lfs diff=lfs merge=lfs -text
providers/paddle/openapi/openapi.yaml filter=lfs diff=lfs merge=lfs -text
providers/pipedrive/openapi/specs.yaml filter=lfs diff=lfs merge=lfs -text
providers/pipedrive/openapi/v2.yaml filter=lfs diff=lfs merge=lfs -text
providers/recurly/openapi/openapi.yaml filter=lfs diff=lfs merge=lfs -text
providers/zendesksupport/openapi/help-center-api.yaml filter=lfs diff=lfs merge=lfs -text
providers/zendesksupport/openapi/support-api.yaml filter=lfs diff=lfs merge=lfs -text
providers/zoom/metadata/openapi/meeting.json filter=lfs diff=lfs merge=lfs -text
providers/zoom/metadata/openapi/user.json filter=lfs diff=lfs merge=lfs -text
