{
  "openapi": "3.0.1",
  "info": {
    "title": "Keap REST API",
    "termsOfService": "https://keap.com/legal",
    "contact": {
      "name": "https://developer.keap.com/get-support/"
    },
    "version": "2.70.0.697282-hf-202408051714"
  },
  "servers": [
    {
      "url": "https://api.infusionsoft.com/crm/rest"
    }
  ],
  "tags": [
    {
      "name": "Affiliate",
      "description": "Rest Affiliate Controller"
    },
    {
      "name": "Automation",
      "description": "Automations-Endpoint"
    },
    {
      "name": "AutomationCategory",
      "description": "Rest Automation Category Controller"
    },
    {
      "name": "Business Profile",
      "description": "Business-Profile-Endpoint"
    },
    {
      "name": "Campaign",
      "description": "Campaigns-Endpoint"
    },
    {
      "name": "Company",
      "description": "Rest Company Controller"
    },
    {
      "name": "Contact",
      "description": "Rest Contact Controller"
    },
    {
      "name": "Discount",
      "description": "Rest Category Discount Controller"
    },
    {
      "name": "Email",
      "description": "Rest Email Controller"
    },
    {
      "name": "Email Address",
      "description": "Rest Api Email Address Controller"
    },
    {
      "name": "Landing Pages",
      "description": "Rest Landing Page Controller"
    },
    {
      "name": "Lead Sources",
      "description": "Lead-Sources-V2-Endpoint"
    },
    {
      "name": "Locale",
      "description": "Rest Locale Controller"
    },
    {
      "name": "Note",
      "description": "Rest Note Controller"
    },
    {
      "name": "Opportunity",
      "description": "Rest Opportunity Controller"
    },
    {
      "name": "Orders",
      "description": "Rest Order Controller"
    },
    {
      "name": "PaymentMethodConfig",
      "description": "PaymentMethodConfig-V2-Endpoint"
    },
    {
      "name": "Product",
      "description": "Product-V2-Endpoint"
    },
    {
      "name": "Referral",
      "description": "Referrals-V2-Endpoint"
    },
    {
      "name": "Reporting",
      "description": "Rest Reporting Controller"
    },
    {
      "name": "Sales",
      "description": "Sale-V2-Endpoint"
    },
    {
      "name": "Settings",
      "description": "Settings-V2-Endpoint"
    },
    {
      "name": "Subscription Plans",
      "description": "SubscriptionPlans-V2-Endpoint"
    },
    {
      "name": "Tags",
      "description": "Tags-V2-Endpoint"
    },
    {
      "name": "Task",
      "description": "Tasks-V2-Endpoint"
    },
    {
      "name": "Users",
      "description": "Rest User Controller"
    }
  ],
  "paths": {
    "/v2/affiliates": {
      "post": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Create an Affiliate",
        "description": "creates a single affiliate",
        "operationId": "addAffiliateUsingPOST",
        "requestBody": {
          "description": "Affiliate request to insert",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAffiliateRequest",
                "required": [
                  "code",
                  "contact_id",
                  "status"
                ],
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The Affiliate code which have some validations.\n1. The code should not have white spaces\n2. The code should starts with letters\n3. The code minimum 4 characters length",
                    "example": "M123"
                  },
                  "contact_id": {
                    "type": "string",
                    "description": "The contactId identifier , Must be a positive number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "description": "The Affiliate name will be derived from the Contact,\nwhen not explicitly provided",
                    "example": "Affiliate Name"
                  },
                  "status": {
                    "type": "string",
                    "description": "The Affiliate Status",
                    "example": "active",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "title": "RestAffiliate",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "The Affiliate Code",
                      "example": "M123"
                    },
                    "contact_id": {
                      "type": "string",
                      "description": "The ContactID",
                      "example": "1"
                    },
                    "id": {
                      "type": "integer",
                      "description": "The AffiliateId",
                      "format": "int64",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The Affiliate Name",
                      "example": "Affiliate Name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The Affiliate Status",
                      "example": "active"
                    },
                    "unique_site_id": {
                      "type": "string",
                      "description": "The Affiliate PortalSite Id",
                      "example": "123456"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "insertAffiliate"
      }
    },
    "/v2/affiliates/commissionPrograms": {},
    "/v2/affiliates/commissionPrograms/defaultCommissionProgram/{commission_program_id}": {},
    "/v2/affiliates/commissionPrograms/defaultCommissionPrograms/{commission_program_id}": {},
    "/v2/affiliates/commissionPrograms/productCommissionProgram/{commission_program_id}": {},
    "/v2/affiliates/commissionPrograms/productCommissionPrograms/{commission_program_id}": {},
    "/v2/affiliates/commissionPrograms/subscriptionCommissionProgram/{commission_program_id}": {},
    "/v2/affiliates/commissionPrograms/subscriptionCommissionPrograms/{commission_program_id}": {},
    "/v2/affiliates/commissionPrograms/{commission_id}:removeSubscriptionCommission": {},
    "/v2/affiliates/commissionPrograms/{commission_program_id}": {
      "patch": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Update a Affiliate Commission Program",
        "description": "Updates the properties of an Affiliate Commission Program",
        "operationId": "patchCommissionProgramUsingPATCH",
        "parameters": [
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped.",
            "allowEmptyValue": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "name",
                "notes",
                "priority"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "patchCommissionProgramRequest",
          "content": {
            "application/json": {
              "schema": {
                "title": "PatchCommissionProgramRequest",
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the Commission Program",
                    "example": "Fitness program"
                  },
                  "notes": {
                    "type": "string",
                    "description": "The notes of the Commission Program",
                    "example": "20% default commission"
                  },
                  "priority": {
                    "type": "integer",
                    "description": "The priority of the Commission Program",
                    "format": "int32",
                    "example": 100
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AffiliateCommissionProgramResponse",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "priority": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "patchCommissionProgramRequest"
      }
    },
    "/v2/affiliates/model": {},
    "/v2/affiliates/redirects": {},
    "/v2/affiliates/redirects/{redirect_id}": {},
    "/v2/affiliates/{affiliate_id}/commissionTotal": {},
    "/v2/affiliates/{affiliate_id}:commissions": {},
    "/v2/affiliates/{id}": {
      "get": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Retrieve an Affiliate",
        "description": "Retrieves a single Affiliate",
        "operationId": "getAffiliateUsingGET_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "RestAffiliate",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "The Affiliate Code",
                      "example": "M123"
                    },
                    "contact_id": {
                      "type": "string",
                      "description": "The ContactID",
                      "example": "1"
                    },
                    "id": {
                      "type": "integer",
                      "description": "The AffiliateId",
                      "format": "int64",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The Affiliate Name",
                      "example": "Affiliate Name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The Affiliate Status",
                      "example": "active"
                    },
                    "unique_site_id": {
                      "type": "string",
                      "description": "The Affiliate PortalSite Id",
                      "example": "123456"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Update an Affiliate",
        "description": "Updates a single Affiliate",
        "operationId": "updateAffiliateUsingPATCH",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Affiliate request to patch",
          "content": {
            "application/json": {
              "schema": {
                "title": "PatchAffiliateRequest",
                "required": [
                  "code",
                  "status"
                ],
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The Affiliate code which have some validations.\n1. The code should not have white spaces\n2. The code should starts with letters\n3. The code minimum 4 characters length",
                    "example": "M123"
                  },
                  "contact_id": {
                    "type": "string",
                    "description": "The contactId identifier , Must be a positive number",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "description": "The Affiliate name will be derived from the Contact,\nwhen not explicitly provided",
                    "example": "Affiliate Name"
                  },
                  "status": {
                    "type": "string",
                    "description": "The Affiliate Status",
                    "example": "active",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "RestAffiliate",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "The Affiliate Code",
                      "example": "M123"
                    },
                    "contact_id": {
                      "type": "string",
                      "description": "The ContactID",
                      "example": "1"
                    },
                    "id": {
                      "type": "integer",
                      "description": "The AffiliateId",
                      "format": "int64",
                      "example": 1
                    },
                    "name": {
                      "type": "string",
                      "description": "The Affiliate Name",
                      "example": "Affiliate Name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The Affiliate Status",
                      "example": "active"
                    },
                    "unique_site_id": {
                      "type": "string",
                      "description": "The Affiliate PortalSite Id",
                      "example": "123456"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "patchAffiliate"
      }
    },
    "/v2/affiliates/{id}:assignToProgram": {},
    "/v2/affiliates/{id}:removeFromProgram": {},
    "/v2/automationCategory": {
      "get": {
        "tags": [
          "AutomationCategory"
        ],
        "summary": "List automation categories",
        "description": "Lists all automation categories based on the request parameters",
        "operationId": "listCategoriesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListAutomationCategoryResponse",
                  "type": "object",
                  "properties": {
                    "automation_categories": {
                      "type": "array",
                      "items": {
                        "title": "AutomationCategory",
                        "type": "object",
                        "properties": {
                          "automation_count": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "next_page_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
[...]
