{
  "openapi": "3.0.1",
  "info": {
    "title": "Keap REST API",
    "termsOfService": "https://keap.com/legal",
    "contact": {
      "name": "https://developer.keap.com/get-support/"
    },
    "version": "1.70.0.729368"
  },
  "servers": [
    {
      "url": "https://api.infusionsoft.com/crm/rest"
    }
  ],
  "tags": [
    {
      "name": "Account Info",
      "description": "Account Info-Endpoint"
    },
    {
      "name": "Affiliate",
      "description": "Affiliates-Endpoint"
    },
    {
      "name": "Appointment",
      "description": "Access Appointment objects stored in Keap Max Classic.  Appointment objects stored in Keap Pro or Keap Max are not available via these methods."
    },
    {
      "name": "Campaign",
      "description": "Campaigns-Endpoint"
    },
    {
      "name": "Company",
      "description": "Companies-Endpoint"
    },
    {
      "name": "Contact",
      "description": "Contacts-Endpoint"
    },
    {
      "name": "E-Commerce",
      "description": "E-Commerce-Endpoint"
    },
    {
      "name": "Email",
      "description": "Emails-Endpoint"
    },
    {
      "name": "Email Address",
      "description": "Email-Addresses-Endpoint"
    },
    {
      "name": "File",
      "description": "File-Endpoint"
    },
    {
      "name": "Locale",
      "description": "Locale-Endpoint"
    },
    {
      "name": "Merchant",
      "description": "Merchant-Endpoint"
    },
    {
      "name": "Note",
      "description": "Notes-Endpoint"
    },
    {
      "name": "Opportunity",
      "description": "Opportunities-Endpoint"
    },
    {
      "name": "Product",
      "description": "Products-Endpoint"
    },
    {
      "name": "REST Hooks",
      "description": "### _What are REST Hooks?_\n\n_REST Hooks itself is not a specification, it is a collection of patterns that treat webhooks like subscriptions. These subscriptions are manipulated via a REST API just like any other resource._\n\n_With most modern REST APIs, polling is the only way to detect changes. But it doesn't have to be. On average, 98.5% of polls are wasted. There is a better way. REST Hooks enable real-time communication and eliminate polling._ -- [RESTHooks.org](http://RESTHooks.org)\n\nInfusionsoft offers a growing set of REST Hooks to keep you notified of changes in your data. To get started, use [List Hook Event Types](#!/REST_Hooks/list_hook_event_types) to discover event types. Event types are identified using _noun.verb dot syntax_, e.g.: `contact.add` or `invoice.delete`.\n\nAfter you’ve read this documentation, you might be interested in the [REST Hook Event and Retry policies](https://developer.infusionsoft.com/rest-hook-documentation/).\n\nNB: REST Hooks are **not** triggered by legacy action sets.\n\nOnce you've chosen the events you're interested in, subscribe to them via [Create a Hook Subscription](#!/REST_Hooks/create_a_hook_subscription)."
    },
    {
      "name": "Setting",
      "description": "Setting-Endpoint"
    },
    {
      "name": "Tags",
      "description": "Tag-Company-Endpoint"
    },
    {
      "name": "Task",
      "description": "Tasks-Endpoint"
    },
    {
      "name": "User Info",
      "description": "UserInfo-Endpoint"
    },
    {
      "name": "Users",
      "description": "Users-Endpoint"
    }
  ],
  "paths": {
    "/v1/account/profile": {
      "get": {
        "tags": [
          "Account Info"
        ],
        "summary": "Retrieve account profile",
        "description": "Retrieves profile/company info for an account.",
        "operationId": "getAccountProfileUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AccountProfile",
                  "type": "object",
                  "properties": {
                    "address": {
                      "title": "ContactAddress",
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "country_code": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string",
                          "enum": [
                            "BILLING",
                            "SHIPPING",
                            "OTHER"
                          ]
                        },
                        "line1": {
                          "type": "string"
                        },
                        "line2": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "Field used to store postal codes containing a combination of letters and numbers ex. 'EC1A', 'S1 2HE', '75000'"
                        },
                        "region": {
                          "type": "string"
                        },
                        "zip_code": {
                          "type": "string",
                          "description": "Mainly used in the United States, this is typically numeric. ex. '85001', '90002' Note: this is to be used instead of 'postal_code', not in addition to."
                        },
                        "zip_four": {
                          "type": "string",
                          "description": "Last four of a full zip code ex. '8244', '4320'. This field is supplemental to the zip_code field, otherwise will be ignored."
                        }
                      }
                    },
                    "business_goals": {
                      "type": "array",
                      "description": "The goals of this business, ie. Grow Business, Convert more leads",
                      "items": {
                        "type": "string"
                      }
                    },
                    "business_primary_color": {
                      "type": "string"
                    },
                    "business_secondary_color": {
                      "type": "string"
                    },
                    "business_type": {
                      "type": "string",
                      "description": "The type of business"
                    },
                    "currency_code": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "language_tag": {
                      "type": "string"
                    },
                    "logo_url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "phone_ext": {
                      "type": "string"
                    },
                    "time_zone": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    }
                  },
                  "description": "Information about the company that owns/uses this account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Account Info"
        ],
        "summary": "Updates an account profile",
        "description": "Updates profile/company info for an account.",
        "operationId": "updateAccountInfoUsingPUT",
        "requestBody": {
          "description": "accountInfo",
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountProfile",
                "type": "object",
                "properties": {
                  "address": {
                    "title": "ContactAddress",
                    "required": [
                      "field"
                    ],
                    "type": "object",
                    "properties": {
                      "country_code": {
                        "type": "string"
                      },
                      "field": {
                        "type": "string",
                        "enum": [
                          "BILLING",
                          "SHIPPING",
                          "OTHER"
                        ]
                      },
                      "line1": {
                        "type": "string"
                      },
                      "line2": {
                        "type": "string"
                      },
                      "locality": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string",
                        "description": "Field used to store postal codes containing a combination of letters and numbers ex. 'EC1A', 'S1 2HE', '75000'"
                      },
                      "region": {
                        "type": "string"
                      },
                      "zip_code": {
                        "type": "string",
                        "description": "Mainly used in the United States, this is typically numeric. ex. '85001', '90002' Note: this is to be used instead of 'postal_code', not in addition to."
                      },
                      "zip_four": {
                        "type": "string",
                        "description": "Last four of a full zip code ex. '8244', '4320'. This field is supplemental to the zip_code field, otherwise will be ignored."
                      }
                    }
                  },
                  "business_goals": {
                    "type": "array",
                    "description": "The goals of this business, ie. Grow Business, Convert more leads",
                    "items": {
                      "type": "string"
                    }
                  },
                  "business_primary_color": {
                    "type": "string"
                  },
                  "business_secondary_color": {
                    "type": "string"
                  },
                  "business_type": {
                    "type": "string",
                    "description": "The type of business"
                  },
                  "currency_code": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "language_tag": {
                    "type": "string"
                  },
                  "logo_url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phone_ext": {
                    "type": "string"
                  },
                  "time_zone": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  }
                },
                "description": "Information about the company that owns/uses this account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AccountProfile",
                  "type": "object",
                  "properties": {
                    "address": {
                      "title": "ContactAddress",
                      "required": [
                        "field"
                      ],
                      "type": "object",
                      "properties": {
                        "country_code": {
                          "type": "string"
                        },
                        "field": {
                          "type": "string",
                          "enum": [
                            "BILLING",
                            "SHIPPING",
                            "OTHER"
                          ]
                        },
                        "line1": {
                          "type": "string"
                        },
                        "line2": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "Field used to store postal codes containing a combination of letters and numbers ex. 'EC1A', 'S1 2HE', '75000'"
                        },
                        "region": {
                          "type": "string"
                        },
                        "zip_code": {
                          "type": "string",
                          "description": "Mainly used in the United States, this is typically numeric. ex. '85001', '90002' Note: this is to be used instead of 'postal_code', not in addition to."
                        },
                        "zip_four": {
                          "type": "string",
                          "description": "Last four of a full zip code ex. '8244', '4320'. This field is supplemental to the zip_code field, otherwise will be ignored."
                        }
                      }
                    },
                    "business_goals": {
                      "type": "array",
                      "description": "The goals of this business, ie. Grow Business, Convert more leads",
                      "items": {
                        "type": "string"
                      }
                    },
                    "business_primary_color": {
                      "type": "string"
                    },
                    "business_secondary_color": {
                      "type": "string"
                    },
                    "business_type": {
                      "type": "string",
                      "description": "The type of business"
                    },
                    "currency_code": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "language_tag": {
                      "type": "string"
                    },
                    "logo_url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "phone_ext": {
                      "type": "string"
                    },
                    "time_zone": {
                      "type": "string"
                    },
                    "website": {
                      "type": "string"
                    }
                  },
                  "description": "Information about the company that owns/uses this account"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "accountInfo"
      }
    },
    "/v1/affiliates": {
      "get": {
        "tags": [
          "Affiliate"
        ],
        "summary": "List Affiliates",
        "description": "Retrieves a list of all affiliates",
        "operationId": "listAffiliatesUsingGET",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "Optional affiliate parent ID to query on",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "description": "Optional contact ID to query on",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Sets a beginning range of items to return",
            "allowEmptyValue": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optional affiliate name to query on",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Count to offset the returned results by",
            "allowEmptyValue": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "order",
            "in": "query",
            "description": "Attribute to order items by",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ]
            }
          },
          {
            "name": "order_direction",
            "in": "query",
            "description": "How to order the data i.e. ascending (A-Z) or descending (Z-A)",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          {
            "name": "parent_id",
            "in": "query",
            "description": "Optional affiliate code to query on",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "program_id",
            "in": "query",
            "description": "Optional affiliate program ID to query on",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Optional affiliate status to query on",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AffiliateList",
                  "type": "object",
                  "properties": {
                    "affiliates": {
                      "type": "array",
                      "items": {
                        "title": "Affiliate",
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "contact_id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "name": {
                            "type": "string"
                          },
                          "notify_on_lead": {
                            "type": "boolean"
                          },
                          "notify_on_sale": {
                            "type": "boolean"
                          },
                          "parent_id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "status": {
                            "type": "string"
                          },
                          "track_leads_for": {
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "next": {
                      "type": "string"
                    },
                    "previous": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Create an affiliate",
        "description": "Create a single affiliate",
        "operationId": "createAffiliateUsingPOST",
        "requestBody": {
          "description": "affiliate",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAffiliate",
                "required": [
                  "code",
                  "contact_id",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "contact_id": {
                    "type": "integer",
                    "format": "int64",
                    "example": 0
                  },
                  "name": {
                    "type": "string"
                  },
                  "notify_on_lead": {
                    "type": "boolean"
                  },
                  "notify_on_sale": {
                    "type": "boolean"
                  },
                  "parent_id": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "password": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ]
                  },
                  "track_leads_for": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Affiliate",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "contact_id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "name": {
                      "type": "string"
                    },
                    "notify_on_lead": {
                      "type": "boolean"
                    },
                    "notify_on_sale": {
                      "type": "boolean"
                    },
                    "parent_id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "status": {
                      "type": "string"
                    },
                    "track_leads_for": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Error",
                  "type": "object",
                  "properties": {
                    "cause": {
                      "title": "Throwable",
                      "type": "object",
                      "properties": {
                        "cause": {
                          "$ref": "#/components/schemas/Throwable"
                        },
                        "localizedMessage": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "stackTrace": {
                          "type": "array",
                          "items": {
                            "title": "StackTraceElement",
                            "type": "object",
                            "properties": {
                              "classLoaderName": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "lineNumber": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "methodName": {
                                "type": "string"
                              },
                              "moduleName": {
                                "type": "string"
                              },
                              "moduleVersion": {
                                "type": "string"
                              },
                              "nativeMethod": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "suppressed": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Throwable"
                          }
                        }
                      }
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stackTrace": {
                      "type": "array",
                      "items": {
                        "title": "StackTraceElement",
                        "type": "object",
                        "properties": {
                          "classLoaderName": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "methodName": {
                            "type": "string"
                          },
                          "moduleName": {
                            "type": "string"
                          },
                          "moduleVersion": {
                            "type": "string"
                          },
                          "nativeMethod": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "suppressed": {
                      "type": "array",
                      "items": {
                        "title": "Throwable",
                        "type": "object",
                        "properties": {
                          "cause": {
                            "$ref": "#/components/schemas/Throwable"
                          },
                          "localizedMessage": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "stackTrace": {
                            "type": "array",
                            "items": {
                              "title": "StackTraceElement",
                              "type": "object",
                              "properties": {
                                "classLoaderName": {
                                  "type": "string"
                                },
                                "className": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "lineNumber": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "methodName": {
                                  "type": "string"
                                },
                                "moduleName": {
                                  "type": "string"
                                },
                                "moduleVersion": {
                                  "type": "string"
                                },
                                "nativeMethod": {
                                  "type": "boolean"
                                }
                              }
                            }
                          },
                          "suppressed": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Throwable"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "affiliate"
      }
    },
    "/v1/affiliates/commissions": {
      "get": {
        "tags": [
          "Affiliate"
        ],
        "summary": "List Commissions",
        "description": "Retrieve a list of Commissions based on Affiliate or Date Range",
        "operationId": "listCommissionsUsingGET",
        "parameters": [
          {
            "name": "affiliateId",
            "in": "query",
            "description": "Affiliate to retrieve commissions for",
            "allowEmptyValue": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Sets a total of items to return",
            "allowEmptyValue": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Sets a beginning range of items to return",
            "allowEmptyValue": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 0
          },
          {
            "name": "order",
            "in": "query",
            "description": "Attribute to order items by",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "enum": [
                "DATE_EARNED"
              ]
            }
          },
          {
            "name": "order_direction",
            "in": "query",
            "description": "How to order the data i.e. ascending (A-Z) or descending (Z-A)",
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Date to start searching from ex. `2017-01-01T22:17:59.039Z`",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Date to search to ex. `2017-01-01T22:17:59.039Z`",
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AffiliateCommissionList",
                  "type": "object",
                  "properties": {
                    "commissions": {
                      "type": "array",
                      "items": {
                        "title": "AffiliateCommission",
                        "type": "object",
                        "properties": {
                          "amount_earned": {
                            "type": "number",
                            "format": "float"
                          },
                          "contact_first_name": {
                            "type": "string"
                          },
                          "contact_id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "contact_last_name": {
                            "type": "string"
                          },
                          "date_earned": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "description": {
                            "type": "string"
[...]
