openapi: 3.0.0
info:
  title: Housecall v1 API
  version: '1.0'
  description: Housecall version 1 public API
  contact:
    name: Housecall Engineering
    email: apideveloper@housecallpro.com
servers:
  - url: 'https://api.housecallpro.com'
tags:
  - name: Checklists
  - name: Customers
  - name: Employees
  - name: Estimates
  - name: Jobs
  - name: Job Appointments
  - name: Job Invoices
  - name: Job Types
  - name: Leads
  - name: Lead Sources
  - name: Application
  - name: Webhooks
  - name: Materials
  - name: Material Categories
  - name: Price Forms
  - name: Price Book Services
  - name: Service Zones
  - name: Pipeline
  - name: Routes
  - name: Company
  - name: Schedule
  - name: Events
  - name: Tags
  - name: Lead Line Items
  - name: Invoices
paths:
  /application:
    get:
      summary: Get Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      operationId: get-applications
      description: Get the application for a company.
      tags:
        - Application
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
    parameters: []
  /application/enable:
    post:
      summary: Enable Application
      operationId: post-application-enable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Application
      description: Enable the application for a company.
  /application/disable:
    post:
      summary: Disable Application
      operationId: post-application-disable
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Application
      description: Disable the application for a company.
  /checklists:
    get:
      summary: Get Checklists
      tags:
        - Checklists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  checklists:
                    type: array
                    items:
                      $ref: '#/components/schemas/Checklist'
      operationId: get-checklists
      description: Get a list of checklists that belong to a job or estimate. Most provide at least one job_uuid or estimate_uuid
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      parameters:
        - schema:
            type: number
            default: 1
          in: query
          name: page
          description: Current Page
        - schema:
            type: number
            default: 10
          in: query
          name: per_page
          description: Number of checklists per page
        - schema:
            type: array
            items:
              type: string
          in: query
          name: job_uuids
          description: Id of jobs you want to pull checklists from
          required: true
        - schema:
            type: array
            items:
              type: string
          in: query
          name: estimate_uuids
          description: Id of estimates you want to pull checklists from
          required: true
  /customers:
    get:
      summary: Get Customers
      tags:
        - Customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      customers:
                        type: array
                        items:
                          $ref: '#/components/schemas/Customer'
              examples:
                example-1:
                  value:
                    page: 0
                    page_size: 0
                    total_pages: 0
                    total_items: 0
                    customers:
                      - first_name: string
                        last_name: string
                        email: string
                        company: string
                        notifications_enabled: true
                        mobile_number: string
                        home_number: string
                        work_number: string
                        tags:
                          - string
                        lead_source: string
                        addresses:
                          - id: string
                            street: string
                            street_line_2: string
                            city: string
                            state: string
                            zip: string
                            country: string
      operationId: get-v1-customers
      parameters:
        - schema:
            type: string
          in: query
          name: q
          description: 'A query that can be used to search for a customer by name, email, mobile number and address.'
        - schema:
            type: number
            default: 1
          in: query
          name: page
          description: Current Page
        - schema:
            type: number
            default: 10
          in: query
          name: page_size
          description: Number of customers per page
        - schema:
            type: string
            default: created_at
          in: query
          name: sort_by
          description: Customer attribute to sort by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sort_direction
          description: Ascending or descending
        - schema:
            type: array
            items:
              type: string
          in: query
          name: location_ids
          description: 'Id of locations you want to pull from. * If X-Company-Id header is set, location_ids will be ignored'
        - schema:
            type: array
            enum:
              - attachments
              - do_not_service
          in: query
          name: expand
          description: Array of strings to expand response body
      description: Get a list of customers.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
    parameters: []
    post:
      summary: Create Customer
      operationId: post-customers
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      description: Create a new Customer.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
        description: 'One of first_name, last_name, email, mobile_number, home_number, work_number are required.'
      tags:
        - Customers
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
  '/customers/{customer_id}':
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
    get:
      summary: Get Customer
      tags:
        - Customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      operationId: get-customers-customerId
      description: Get the customer via ID.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      parameters:
        - schema:
            type: array
            enum:
              - attachments
              - do_not_service
          in: query
          name: expand
          description: Array of strings to expand response body
    put:
      summary: Update Customer
      tags:
        - Customers
      operationId: put-customers-customer_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      description: Update customer attributes
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
  '/customers/{customer_id}/addresses':
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
    get:
      summary: Get All of a Customer's Addresses
      tags:
        - Customers
      responses:
        '200':
          description: OK
      operationId: get-customer-customer_id-addresses
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PaginatedList'
                - type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        $ref: '#/components/schemas/Address'
      description: Get all of a customer's addresses
      parameters:
        - schema:
            type: number
          in: query
          name: page
          description: Paginated page number.
        - schema:
            type: number
          in: query
          description: Number of addresses returned per page.
          name: page_size
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_at
          in: query
          name: sort_by
          description: Address attribute to sort by
        - schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
          in: query
          name: sort_direction
          description: Ascending or descending
    post:
      summary: Create an Address on a Customer
      operationId: post-customer-customer_id-addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreate'
      tags:
        - Customers
      description: Create an address on a customer
  '/customers/{customer_id}/addresses/{address_id}':
    parameters:
      - schema:
          type: string
        name: customer_id
        in: path
        required: true
      - schema:
          type: string
        name: address_id
        in: path
        required: true
    get:
      summary: Get a Customer's Address
      tags:
        - Customers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      operationId: get-customers-customer_id-addresses-address_id
      description: Get a customer's address via customer ID and address ID.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
  /employees:
    get:
      summary: Get Employees
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                  page_size:
                    type: number
                  total_pages:
                    type: number
                  total_items:
                    type: number
                  employees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
              examples:
                example-1:
                  value:
                    page: 0
                    page_size: 0
                    total_pages: 0
                    total_items: 0
                    employees:
                      - id: string
                        avatar_url: string
                        color_hex: string
                        first_name: string
                        last_name: string
                        email: string
                        mobile_number: string
                        role: string
                        created_at: string
                        tags:
                          - string
                        permissions:
                          can_add_and_edit_job: true
                          can_be_booked_online: true
                          can_call_and_text_with_customers: true
                          can_chat_with_customers: true
                          can_delete_and_cancel_job: true
                          can_edit_message_on_invoice: true
                          can_see_street_view_data: true
                          can_share_job: true
                          can_take_payment_see_prices: true
                          can_see_customers: true
                          can_see_full_schedule: true
                          can_see_future_jobs: true
                          can_see_marketing_campaigns: true
                          can_see_reporting: true
                          can_edit_settings: true
                          is_point_of_contact: true
                          is_admin: true
      operationId: get-employees
      parameters:
        - schema:
            type: number
            default: 1
          in: query
          name: page
          description: Current page
        - schema:
            type: number
            default: 10
          in: query
          name: page_size
          description: Number of employees per page
        - schema:
            type: string
            default: created_at
          in: query
          name: sort_by
          description: employee attribute to sort_by
        - schema:
            type: string
            default: desc
          in: query
          name: sort_direction
          description: Ascending or descending
        - schema:
            type: array
            items:
              type: string
          in: query
          name: location_ids
          description: 'Id of locations you want to pull from. * If X-Company-Id header is set, location_ids will be ignored'
      description: 'Get all of the active employees in an organiztion. '
      tags:
        - Employees
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
  /jobs:
    get:
      summary: Get Jobs
      tags:
        - Jobs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      jobs:
                        type: array
                        items:
                          $ref: '#/components/schemas/Job'
      operationId: get-jobs
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - {}
              type: object
            examples: {}
          application/xml:
            schema:
              type: object
      description: Get a list of jobs
      parameters:
        - schema:
            type: string
          in: query
          name: scheduled_start_min
          description: Filters jobs with a starting time greater than or equal to the date sent.
        - schema:
            type: string
          in: query
          name: scheduled_start_max
          description: Filters jobs with a starting time less than or equal to the date sent.
        - schema:
            type: string
          in: query
          name: scheduled_end_min
          description: |-
            Filters jobs with an end time greater than or equal to the date
             sent.
        - schema:
            type: string
          in: query
          name: scheduled_end_max
          description: Filters jobs with an end time less than or equal to the date sent.
        - schema:
            type: array
          in: query
          name: employee_ids
        - schema:
            type: string
          in: query
          name: customer_id
          description: Filters jobs by a single customer ID (string)
        - schema:
            type: string
            default: '1'
          in: query
          name: page
          description: Paginated page number.
        - schema:
            type: array
            items:
              type: string
              enum:
                - unscheduled
                - scheduled
                - in_progress
                - completed
                - canceled
          in: query
          name: work_status
          description: Work status filter. Returns jobs from all statuses if empty.
        - schema:
            type: number
            default: 10
          in: query
          name: page_size
          description: Number of jobs returned per page.
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sort_direction
        - schema:
            type: array
            items:
              type: string
          in: query
          name: location_ids
          description: 'Id of locations you want to pull from. * If X-Company-Id header is set, location_ids will be ignored'
        - schema:
            type: array
            enum:
              - attachments
              - appointments
          in: query
          name: expand
          description: Array of strings to expand response body
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
              - invoice_number
              - id
              - description
              - work_status
            default: created_at
          in: query
          name: sort_by
          description: Attribute to sort by
    parameters: []
    post:
      summary: Create a Job
      operationId: post-jobs
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
      description: |
        Create a job with the ID for an already existing address and customer.  If you decide to use the price form to generate the line item, fill in its fields and options (if applicable) here using the UUIDs you retrieved from the GET price form endpoint. When using pricing forms, the unit_price is automatically calculated based on the fields and options selected.
      tags:
        - Jobs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCreate'
  '/jobs/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: |
          The ID of the job
    get:
      summary: Get a Job
      tags:
        - Jobs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
            application/xml:
              schema:
                $ref: '#/components/schemas/Job'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties: {}
            application/xml:
              schema:
                type: object
                properties:
                  '':
                    type: string
      operationId: get-jobs-id
      description: Get a job by ID.
      parameters:
        - schema:
            type: array
            enum:
              - attachments
              - appointments
          in: query
          name: expand
          description: Array of strings to expand response body
  '/jobs/{job_id}/attachments':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    post:
      summary: Add an Attachment to a Job
      operationId: post-jobs-job_id-attachments
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_url:
                    type: string
                    x-stoplight:
                      id: aw85jjtybxzl4
      description: Add an attachment to a job.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: A binary file from your local machine
              required:
                - file
        description: Attachments can be uploaded to a job via a file.
      tags:
        - Jobs
  '/jobs/{job_id}/line_items':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    get:
      summary: Lists all line items for a job
      operationId: get-jobs-job_id-line-items
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItemResponse'
      description: Lists all line items for a job
      tags:
        - Jobs
    post:
      summary: Add a line item to a Job
      operationId: post-jobs-job_id-line-items
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
      description: Add a line item to a job. This is a rate limited request. If you intend to create multiple line items for the same job use Bulk update a job's line items request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobLineItemCreate'
      tags:
        - Jobs
  '/jobs/{job_id}/line_items/bulk_update':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    put:
      summary: Bulk update a job's line items
      operationId: put-jobs-job_id-line-items
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItemResponse'
      description: Bulk update a job's line items. If uuid not define for a line item it will be consider as a new line item for the job.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                line_items:
                  type: array
                  items:
                    $ref: '#/components/schemas/BulkLineItemUpdate'
                append_line_items:
                  type: boolean
                  description: 'Append line item to the job, if true existing line items not defined in the request body will not be deleted.'
                  default: false
      tags:
        - Jobs
  '/jobs/{job_id}/line_items/{id}':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
      - schema:
          type: string
        name: id
        in: path
        required: true
    put:
      summary: Update a single line item for a job
      operationId: update-job-line-item
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: All errors formatted in a sentence
                  attr1:
                    type: string
                    description: 'Error message for field attr1, where attr1 would be one of the attributes for line item'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineItem'
      tags:
        - Jobs
    delete:
      summary: Delete a single line item for a job
      operationId: delete-job-line-item
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineItemDeletedResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
      tags:
        - Jobs
  '/jobs/{job_id}/appointments':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    get:
      summary: Get Appointments
      tags:
        - Job Appointments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appointment'
      operationId: get-jobs-job_id-appointments
      description: Get all of the appointments for a job
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
    post:
      summary: Create appointment
      operationId: post-jobs-job_id-appointments
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
      description: Add an appointment to a job.
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/CreateAppointment'
      tags:
        - Job Appointments
  '/jobs/{job_id}/appointments/{appointment_id}':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
      - schema:
          type: string
        name: appointment_id
        in: path
        required: true
    put:
      summary: Update Appointment
      tags:
        - Job Appointments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
      operationId: update-jobs-job_id-appointments
      description: Update job appointment
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppointment'
    delete:
      summary: Delete appointment
      operationId: delete-jobs-job_id-appointments
      responses:
        '200':
          description: OK
      description: Delete a job appointment.
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf: []
      tags:
        - Job Appointments
  '/jobs/{job_id}/schedule':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    put:
      summary: Update job schedule
      operationId: update-job-schedule
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    start_time: '2019-03-27T15:08:08Z'
                    end_time: '2019-03-27T15:08:08Z'
                    arrival_window_minutes: 60
                    assigned_employees:
                      - id: string
                        avatar_url: string
                        color_hex: string
                        first_name: string
                        last_name: string
                        email: string
                        mobile_number: string
                        role: field tech
                        permissions:
                          can_add_and_edit_job: boolean
                          can_be_booked_online: boolean
                          can_call_and_text_with_customers: boolean
                          can_chat_with_customers: boolean
                          can_delete_and_cancel_job: boolean
                          can_edit_message_on_invoice: boolean
                          can_see_street_view_data: boolean
                          can_share_job: boolean
                          can_take_payment_see_prices: boolean
                          can_see_customers: boolean
                          can_see_full_schedule: boolean
                          can_see_future_jobs: boolean
                          can_see_marketing_campaigns: boolean
                          can_see_reporting: boolean
                          can_edit_settings: boolean
                          is_point_of_contact: boolean
                          is_admin: boolean
                properties:
                  start_time:
                    type: string
                    minLength: 1
                  end_time:
                    type: string
                    minLength: 1
                  arrival_window_minutes:
                    type: number
                  assigned_employees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
                  appointments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appointment'
                required:
                  - start_time
                  - end_time
                  - arrival_window_minutes
              examples:
                example:
                  value:
                    start_time: '2021-01-10T20:45:00'
                    end_time: '2021-01-10T21:45:00'
                    arrival_window_minutes: 60
                    assigned_employees:
                      - id: string
                        avatar_url: string
                        color_hex: string
                        first_name: string
                        last_name: string
                        email: string
                        mobile_number: string
                        role: field tech
                        permissions:
                          can_add_and_edit_job: boolean
                          can_be_booked_online: boolean
                          can_call_and_text_with_customers: boolean
                          can_chat_with_customers: boolean
                          can_delete_and_cancel_job: boolean
                          can_edit_message_on_invoice: boolean
                          can_see_street_view_data: boolean
                          can_share_job: boolean
                          can_take_payment_see_prices: boolean
                          can_see_customers: boolean
                          can_see_full_schedule: boolean
                          can_see_future_jobs: boolean
                          can_see_marketing_campaigns: boolean
                          can_see_reporting: boolean
                          can_edit_settings: boolean
                          is_point_of_contact: boolean
                          is_admin: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  start_time: '2021-06-10T19:43:05'
                  end_time: '2021-06-10T20:43:05'
                  arrival_window_in_minutes: 60
                  notify: true
                  notify_pro: true
                  expand:
                    - assigned_employees
                  dispatched_employees:
                    - employee_id: string
              properties:
                start_time:
                  type: string
                  minLength: 1
                  format: date-time
                  example: '2021-01-10T10:45:00'
                  description: Start time of job in iso8601
                end_time:
                  type: string
                  minLength: 1
                  format: date-time
                  example: '2021-01-10T11:45:00'
                  description: End time of job in iso8601
                arrival_window_in_minutes:
                  type: number
                  description: Integer value in minutes of arrival window
                notify:
                  type: boolean
                  description: Notify the customer of the update schedule
                notify_pro:
                  type: boolean
                  description: Notify the employee of the update schedule
                expand:
                  type: array
                  items:
                    type: string
                dispatched_employees:
                  type: array
                  minLength: 0
                  items:
                    $ref: '#/components/schemas/DispatchedEmployee'
              required:
                - start_time
            examples:
              example:
                value:
                  start_time: '2021-01-10T20:45:00'
                  end_time: '2021-01-10T21:45:00'
                  arrival_window_in_minutes: 60
                  notify: true
                  notify_pro: true
                  expand:
                    - assigned_employees
                  dispatched_employees:
                    - employee_id: string
      description: 'Update a jobs schedule. Jobs with multi days feature containing more than 1 appointment can''t be updated through this endpoint, must use appointments endpoints.'
      parameters: []
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Jobs
    delete:
      summary: Delete job schedule
      operationId: delete-job-schedule
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    object: schedule
                    deleted: true
                properties:
                  object:
                    type: string
                    minLength: 1
                  deleted:
                    type: boolean
                required:
                  - object
                  - deleted
              examples:
                example:
                  value:
                    object: schedule
                    deleted: true
      description: Erase schedule on a job
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Jobs
  '/jobs/{job_id}/dispatch':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    put:
      summary: Dispatch job to employees
      operationId: update-job-dispatch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    assigned_employees:
                      - id: string
                        avatar_url: string
                        color_hex: string
                        first_name: string
                        last_name: string
                        email: string
                        mobile_number: string
                        role: field tech
                        permissions:
                          can_add_and_edit_job: boolean
                          can_be_booked_online: boolean
                          can_call_and_text_with_customers: boolean
                          can_chat_with_customers: boolean
                          can_delete_and_cancel_job: boolean
                          can_edit_message_on_invoice: boolean
                          can_see_street_view_data: boolean
                          can_share_job: boolean
                          can_take_payment_see_prices: boolean
                          can_see_customers: boolean
                          can_see_full_schedule: boolean
                          can_see_future_jobs: boolean
                          can_see_marketing_campaigns: boolean
                          can_see_reporting: boolean
                          can_edit_settings: boolean
                          is_point_of_contact: boolean
                          is_admin: boolean
                properties:
                  assigned_employees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
              examples:
                example:
                  value:
                    assigned_employees:
                      - id: string
                        avatar_url: string
                        color_hex: string
                        first_name: string
                        last_name: string
                        email: string
                        mobile_number: string
                        role: field tech
                        permissions:
                          can_add_and_edit_job: boolean
                          can_be_booked_online: boolean
                          can_call_and_text_with_customers: boolean
                          can_chat_with_customers: boolean
                          can_delete_and_cancel_job: boolean
                          can_edit_message_on_invoice: boolean
                          can_see_street_view_data: boolean
                          can_share_job: boolean
                          can_take_payment_see_prices: boolean
                          can_see_customers: boolean
                          can_see_full_schedule: boolean
                          can_see_future_jobs: boolean
                          can_see_marketing_campaigns: boolean
                          can_see_reporting: boolean
                          can_edit_settings: boolean
                          is_point_of_contact: boolean
                          is_admin: boolean
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  dispatched_employees:
                    - employee_id: string
              properties:
                dispatched_employees:
                  type: array
                  minLength: 0
                  items:
                    $ref: '#/components/schemas/DispatchedEmployee'
              required:
                - dispatched_employees
            examples:
              example:
                value:
                  dispatched_employees:
                    - employee_id: string
      description: Dispatch job to employees
      parameters: []
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Jobs
  '/jobs/{job_id}/invoices':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    get:
      summary: Get Job Invoices
      tags:
        - Job Invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    x-stoplight:
                      id: 4teygisrbwllt
                    items:
                      $ref: '#/components/schemas/JobInvoice'
      operationId: get-jobs-job_id-invoices
      description: Lists all invoices for a job.
  '/jobs/{job_id}/job_input_materials':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    get:
      summary: Lists all job input materials for a job
      tags:
        - Jobs
      operationId: get-jobs-job_id-job-input-materials
      description: Lists all job input materials for a job
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_input_materials:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobInputMaterial'
  '/jobs/{job_id}/job_input_materials/bulk_update':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    put:
      summary: Bulk update a job's input materials
      tags:
        - Jobs
      operationId: put-jobs-job_id-job-input-materials
      description: Bulk update a job's job inputs materials. If uuid not define for a job input material it will be consider as a new entry.
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_input_materials:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobInputMaterial'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                job_input_materials:
                  type: array
                  items:
                    $ref: '#/components/schemas/JobInputMaterial'
  '/jobs/{job_id}/tags':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    post:
      summary: Add job tag
      operationId: post-jobs-job_id-tags
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
              examples:
                example-1:
                  value:
                    tags:
                      - id: string
                        name: string
      tags:
        - Jobs
      description: Add a tag to a job.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tag_id:
                  type: string
              required:
                - tag_id
            examples:
              example-1:
                value:
                  tag_id: string
  '/jobs/{job_id}/notes':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    post:
      summary: Add job note
      operationId: post-jobs-job_id-notes
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
              examples: {}
      tags:
        - Jobs
      description: Add a note to a job.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
            examples: {}
        description: ''
  '/jobs/{job_id}/notes/{note_id}':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
      - schema:
          type: string
        name: note_id
        in: path
        required: true
    delete:
      summary: Delete job note
      operationId: delete-jobs-job_id-notes
      responses:
        '200':
          description: OK
      description: Deletes a specific job note
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Jobs
  '/jobs/{job_id}/tags/{tag_id}':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
      - schema:
          type: string
        name: tag_id
        in: path
        required: true
    delete:
      summary: Remove job tag
      operationId: delete-jobs-job_id-tags-tag_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'
              examples:
                example-1:
                  value:
                    tags:
                      - id: string
                        name: string
      description: Remove a tag from a job
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Jobs
  '/jobs/{job_id}/links':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    post:
      summary: Create Job Link
      operationId: create-job-link
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobLink'
      description: Create a new Job link
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobLinkCreate'
      tags:
        - Jobs
  '/jobs/{job_id}/lock':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
    post:
      summary: Lock Job
      operationId: lock-job
      responses:
        '200':
          description: Job was locked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '404':
          description: The specified resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                JobNotFound:
                  summary: Example of a job not being found
                  value:
                    error:
                      message: job not found
      description: Lock the Job identified by the given `job_id`
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Jobs
  /jobs/lock:
    post:
      summary: Lock Jobs
      operationId: lock-jobs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
      description: Lock `completed` or `scheduled` Jobs by the given time range
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockJobsByTimeRangeRequest'
      tags:
        - Jobs
  /webhooks/subscription:
    post:
      summary: Create a Webhook Subscription
      operationId: post-webhooks-subscribe
      responses:
        '200':
          description: OK
      description: 'Webhooks are disabled by default and need to be subscribed for each company individually. Once subscribed, you will begin to receive events for the company on your webhook endpoint.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      tags:
        - Webhooks
    delete:
      summary: Delete a Webhook Subscription
      operationId: delete-webhooks-subscribe
      responses:
        '200':
          description: OK
      description: Delete a company's webhook subciption to stop receiving events for that company.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
          application/xml:
            schema:
              type: object
              properties: {}
      tags:
        - Webhooks
    parameters: []
  /estimates:
    get:
      summary: Get Estimates
      tags:
        - Estimates
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      estimates:
                        type: array
                        items:
                          $ref: '#/components/schemas/Estimate'
      operationId: get-estimates
      description: Get a list of estimates
      parameters:
        - schema:
            type: string
          in: query
          name: scheduled_start_min
          description: Filters estimates with a starting time greater than or equal to the date sent.
        - schema:
            type: string
          in: query
          name: scheduled_start_max
          description: Filters estimates with a starting time less than or equal to the date sent.
        - schema:
            type: string
          in: query
          name: scheduled_end_min
          description: Filters estimates with an end time greater than or equal to the date sent.
        - schema:
            type: string
          in: query
          name: scheduled_end_max
          description: Filters estimates with an end time less than or equal to the date sent.
        - schema:
            type: array
          in: query
          name: employee_ids
          description: Filters estimates by assigned pro id
        - schema:
            type: string
          in: query
          name: customer_id
          description: Filters estimates by a single customer ID (string)
        - schema:
            type: string
            default: '1'
          in: query
          name: page
          description: Paginated page number.
        - schema:
            type: array
            items:
              type: string
              enum:
                - unscheduled
                - scheduled
                - in_progress
                - completed
                - canceled
          in: query
          name: work_status
          description: Work status filter. Returns estimates from all statuses if empty.
        - schema:
            type: number
            default: 10
          in: query
          name: page_size
          description: Number of estimates returned per page.
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sort_direction
          description: Order of estimates returned.
        - schema:
            type: array
            items:
              type: string
          in: query
          name: location_ids
          description: 'Id of locations you want to pull from. * If X-Company-Id header is set, location_ids will be ignored'
        - schema:
            type: array
            enum:
              - attachments
          in: query
          name: expand
          description: Array of strings to expand response body
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
              - id
            default: created_at
          in: query
          name: sort_by
          description: Attribute to sort by
    parameters: []
    post:
      summary: Create an estimate
      operationId: post-estimates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimate'
      description: Create an estimate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateCreate'
          application/xml:
            schema:
              $ref: '#/components/schemas/EstimateCreate'
            examples: {}
        description: ''
      tags:
        - Estimates
  '/estimates/{estimate_id}':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
    get:
      summary: Get a single estimate by ID
      tags:
        - Estimates
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Estimate'
      security:
        - Application API Key: []
        - Housecall User OAuth Token: []
      parameters:
        - schema:
            type: array
            enum:
              - attachments
          in: query
          name: expand
          description: Array of strings to expand response body
  '/estimates/{estimate_id}/options':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
        description: The UUID of the estimate
    post:
      summary: Create an estimate option
      operationId: post-estimates-estimate_id-options
      description: Create a new option on an existing estimate.
      tags:
        - Estimates
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateOptionCreate'
            example:
              name: Option A
              line_items:
                - name: Labor
                  description: Standard service labor
                  unit_price: 10000
                  unit_cost: 5000
                  quantity: 2
                  taxable: true
              tax:
                taxable: true
                tax_rate: 0.0825
                tax_name: Sales Tax
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateOption'
        '401':
          description: Unauthorized
        '404':
          description: Estimate not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
              example:
                error:
                  message: Estimate not found
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              example:
                errors:
                  name:
                    - is missing
  '/estimates/{estimate_id}/options/{option_id}/attachments':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
      - schema:
          type: string
        name: option_id
        in: path
        required: true
    post:
      summary: Create Estimate option attachment
      operationId: create-estimate-option-attachment
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimate_url:
                    type: string
                    x-stoplight:
                      id: hi35633qwmfgv
      description: Create a new estimate option attachment
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: A binary file from your local machine
              required:
                - file
        description: Attachments can be uploaded to an estimate via a file.
      tags:
        - Estimates
        - Options
  '/estimates/{estimate_id}/options/{option_id}/line_items':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
      - schema:
          type: string
        name: option_id
        in: path
        required: true
      - schema:
          type: string
          default: '1'
        in: query
        name: page
        description: Paginated page number.
      - schema:
          type: number
          default: 10
        in: query
        name: page_size
        description: Number of line items returned per page.
    get:
      summary: List estimate option line items
      operationId: get-estimate-option-line-items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      line_items:
                        type: array
                        items:
                          $ref: '#/components/schemas/LineItemResponse'
      description: Get estimate option line items
      security:
        - Housecall User OAuth Token: []
        - Company API Key: []
      tags:
        - Estimates
  '/estimates/{estimate_id}/options/{option_id}/line_items/bulk_update':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
      - schema:
          type: string
        name: option_id
        in: path
        required: true
    put:
      summary: Bulk update estimate option line items
      operationId: put-estimate-option-line-items-bulk-update
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  line_items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItemResponse'
      description: Bulk update line items for an estimate option. If id is not defined for a line item it will be considered as a new line item for the option. Multiple line items can be updated in a single request.
      security:
        - Housecall User OAuth Token: []
        - Company API Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                line_items:
                  type: array
                  items:
                    $ref: '#/components/schemas/BulkLineItemUpdate'
      tags:
        - Estimates
  '/estimates/{estimate_id}/options/{option_id}/links':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
      - schema:
          type: string
        name: option_id
        in: path
        required: true
    post:
      summary: Create Estimate option link
      operationId: create-estimate-option-link
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobLink'
      description: Create a new estimate option link
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobLinkCreate'
      tags:
        - Estimates
  '/estimates/{estimate_id}/options/{option_id}/schedule':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
      - schema:
          type: string
        name: option_id
        in: path
        required: true
    put:
      summary: Update estimate option schedule
      operationId: put-estimates-estimate_id-options-option_id-schedule
      description: Update an estimate option schedule.
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start_time:
                  type: string
                  format: date-time
                  description: Start time of estimate in iso8601
                end_time:
                  type: string
                  format: date-time
                  description: End time of estimate in iso8601
                arrival_window_in_minutes:
                  type: number
                  description: Integer value in minutes of arrival window
                notify:
                  type: boolean
                  description: Notify the customer of the update schedule
                notify_pro:
                  type: boolean
                  description: Notify the employee of the update schedule
                expand:
                  type: array
                  items:
                    type: string
                dispatched_employees:
                  type: array
                  items:
                    allOf:
                      - properties:
                          employee_id:
                            type: string
                    type: object
              required:
                - start_time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  start_time:
                    type: string
                  end_time:
                    type: string
                  arrival_window_minutes:
                    type: number
                  assigned_employees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
      tags:
        - Estimates
  '/estimates/{estimate_id}/options/{option_id}/notes':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
      - schema:
          type: string
        name: option_id
        in: path
        required: true
    post:
      summary: Create Estimate option note
      operationId: create-estimate-option-note
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      description: Create a new estimate option note
      security:
        - Housecall User OAuth Token: []
        - Company API Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
              required:
                - content
      tags:
        - Estimates
  '/estimates/{estimate_id}/options/{option_id}/notes/{note_id}':
    parameters:
      - schema:
          type: string
        name: estimate_id
        in: path
        required: true
      - schema:
          type: string
        name: option_id
        in: path
        required: true
      - schema:
          type: string
        name: note_id
        in: path
        required: true
    delete:
      summary: Delete estimate option note
      operationId: delete-estimates-estimate_id-options-option_id-notes
      responses:
        '200':
          description: OK
      tags:
        - Estimates
      description: Delete a specific estimate option note
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
  /estimates/options/decline:
    post:
      summary: Decline estimate options
      operationId: post-estimates-options-decline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  last_updated_at:
                    type: string
      description: Update estimate options approval status to Pro declined.
      security:
        - Housecall User OAuth Token: []
        - Company API Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                option_ids:
                  type: array
                  items:
                    type: string
              required:
                - option_ids
      tags:
        - Estimates
  /estimates/options/approve:
    post:
      summary: Approve estimate options
      operationId: post-estimates-options-approve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  last_updated_at:
                    type: string
                  copied_on_approval_to_job_id:
                    type: string
      description: 'Update estimate options approval status to Pro approved. If company has "Automatically copy an approved estimate to a new job" turned on, all approved estimate options will be copied to a single job.'
      security:
        - Housecall User OAuth Token: []
        - Company API Key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                option_ids:
                  type: array
                  items:
                    type: string
              required:
                - option_ids
      tags:
        - Estimates
  /company:
    get:
      summary: Get Company
      tags:
        - Company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
      operationId: get-company
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      description: Get general company information
  /company/schedule_availability:
    get:
      summary: Schedule Windows
      tags:
        - Schedule
      operationId: get-company-schedule-availability
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteScheduleAvailability'
      description: See how an organization has configured their business hours and bookable windows.
    put:
      summary: Update a company's schedule windows
      tags:
        - Schedule
      operationId: update-company-schedule-availability
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompleteScheduleAvailability'
            examples:
              Example 1:
                value:
                  availability_buffer_in_days: 0
                  daily_schedule_windows:
                    - day_name: string
                      schedule_windows:
                        - start_time: string
                          end_time: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompleteScheduleAvailability'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: All errors formatted in a sentence
                  attr1:
                    type: string
                    description: 'Error message for field attr1, where attr1 would be one of the attributes for the schedule availability object'
  /company/schedule_availability/booking_windows:
    get:
      summary: Booking Windows
      tags:
        - Schedule
      operationId: get-company-schedule-booking-windows-availability
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingWindows'
              examples:
                example-1:
                  value:
                    booking_windows:
                      - start_time: string
                        end_time: string
                        available: true
                    show_for_days: 0
                    start_date: string
      description: |
        Returns available windows to book a job or estimate for a given time range (default 7 days). Availability is based on the organization's Online Booking settings and actual open time slots per employee.

        **Window duration** (used to compute each availability window):
        - **service_duration** (optional): When provided, must be a positive integer; it is used as the window size and overrides any duration from service_id.
        - **service_id only**: When only service_id is provided, the endpoint uses the service's configured duration (from Online Booking settings) for window size, and still filters by pros assigned to that service.
        - **Neither provided**: Defaults to 30 minutes for backward compatibility.

        Duration resolution order: `service_duration` → service's configured duration (when service_id given) → 30 minutes.
      parameters:
        - schema:
            type: integer
          in: query
          name: show_for_days
          description: An integer value that dictates how many days of the schedule should be shown; defaults to 7
        - schema:
            type: string
          in: query
          name: start_date
          description: 'A date string formatted like ''YYYY-MM-DDTHH:MM:SS''; defaults to the next day with an available booking window'
        - schema:
            type: string
          in: query
          name: service_id
          description: 'When provided, filters availability by pros assigned to this service and uses the service''s configured duration (Online Booking settings) for window size unless service_duration is also provided.'
        - schema:
            type: integer
            minimum: 1
          in: query
          name: service_duration
          description: 'Optional. When provided, must be a positive integer (minutes). Used to compute availability window size and overrides any duration from service_id.'
        - schema:
            type: string
          in: query
          name: price_form_id
          description: A string parameter used to look in the specific price form assigned pros booking availability
        - schema:
            type: array
            items:
              type: string
          in: query
          name: employee_ids
          description: An array of strings used to search on provided pros availability
  /events:
    get:
      summary: Get Events
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                  page_size:
                    type: integer
                  total_pages:
                    type: integer
                  total_items:
                    type: integer
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
              examples:
                example-1:
                  value:
                    page: 0
                    page_size: 0
                    total_pages: 0
                    total_items: 0
                    events:
                      - id: string
                        name: string
                        note: string
                        tags:
                          - string
                        recurrence_rule: string
                        address:
                          street: string
                          street_line_2: string
                          city: string
                          state: string
                          zip: string
                        assigned_employees:
                          id: string
                          avatar_url: string
                          color_hex: string
                          first_name: string
                          last_name: string
                          email: string
                          mobile_number: string
                          role: string
                          created_at: string
                          tags:
                            - string
                          permissions:
                            can_add_and_edit_job: true
                            can_be_booked_online: true
                            can_call_and_text_with_customers: true
                            can_chat_with_customers: true
                            can_delete_and_cancel_job: true
                            can_edit_message_on_invoice: true
                            can_see_street_view_data: true
                            can_share_job: true
                            can_take_payment_see_prices: true
                            can_see_customers: true
                            can_see_full_schedule: true
                            can_see_future_jobs: true
                            can_see_marketing_campaigns: true
                            can_see_reporting: true
                            can_edit_settings: true
                            is_point_of_contact: true
                            is_admin: true
                        schedule:
                          start_time: string
                          end_time: string
                          time_zone: string
                        all_day: true
                        created_at: string
                        updated_at: string
      operationId: get-events
      description: Get a list of events
      parameters:
        - schema:
            type: number
          in: query
          name: page
          description: Paginated page number
        - schema:
            type: number
          in: query
          name: page_size
          description: Number of events returned per page.
        - schema:
            type: string
            default: created_at
            enum:
              - name
              - note
              - created_at
              - updated_at
              - street
              - street_line_2
              - city
              - state
              - zip
          in: query
          name: sort_by
          description: Event attribute to sort by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sort_direction
          description: Ascending or descending
        - schema:
            type: array
            items:
              type: string
          in: query
          name: location_ids
          description: 'Id of locations you want to pull from. * If X-Company-Id header is set, location_ids will be ignored'
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
  '/events/{event_id}':
    parameters:
      - schema:
          type: string
        name: event_id
        in: path
        required: true
    get:
      summary: Get the event via ID.
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
              examples:
                example-1:
                  value:
                    id: string
                    name: string
                    note: string
                    tags:
                      - string
                    recurrence_rule: string
                    address:
                      street: string
                      street_line_2: string
                      city: string
                      state: string
                      zip: string
                    assigned_employees:
                      id: string
                      avatar_url: string
                      color_hex: string
                      first_name: string
                      last_name: string
                      email: string
                      mobile_number: string
                      role: string
                      created_at: string
                      tags:
                        - string
                      permissions:
                        can_add_and_edit_job: true
                        can_be_booked_online: true
                        can_call_and_text_with_customers: true
                        can_chat_with_customers: true
                        can_delete_and_cancel_job: true
                        can_edit_message_on_invoice: true
                        can_see_street_view_data: true
                        can_share_job: true
                        can_take_payment_see_prices: true
                        can_see_customers: true
                        can_see_full_schedule: true
                        can_see_future_jobs: true
                        can_see_marketing_campaigns: true
                        can_see_reporting: true
                        can_edit_settings: true
                        is_point_of_contact: true
                        is_admin: true
                    schedule:
                      start_time: string
                      end_time: string
                      time_zone: string
                    all_day: true
                    created_at: string
                    updated_at: string
      operationId: get-events-event_id
      description: Get the event via ID.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
  /tags:
    get:
      summary: Get tags
      tags:
        - Tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      tags:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tag'
              examples:
                example-1:
                  value:
                    page: 0
                    page_size: 0
                    total_pages: 0
                    total_items: 0
                    tags:
                      - id: string
                        name: string
      operationId: get-tags
      description: Get a list of tags
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      parameters:
        - schema:
            type: number
            default: 1
          in: query
          name: page
          description: Current Page
        - schema:
            type: number
            default: 10
          in: query
          name: page_size
          description: Number of tags per page
        - schema:
            type: string
            default: created_at
            enum:
              - created_at
              - name
          in: query
          name: sort_by
          description: Tag attribute to sort by
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sort_direction
    post:
      summary: Create a tag
      operationId: post-tags
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
      tags:
        - Tags
      description: Create a tag
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
            examples:
              example-1:
                value:
                  name: string
  '/tags/{tag_id}':
    parameters:
      - schema:
          type: string
        name: tag_id
        in: path
        required: true
    put:
      summary: Update a tag
      operationId: put-tags-tag_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
      tags:
        - Tags
      description: Update a tag value
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
            examples:
              example-1:
                value:
                  name: string
  /leads:
    post:
      summary: Create Lead
      operationId: post-leads
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
      description: Create a lead with the ID for an already existing customer.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadCreate'
      tags:
        - Leads
    get:
      summary: Get Leads
      operationId: get-leads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      leads:
                        type: array
                        items:
                          $ref: '#/components/schemas/Lead'
      description: Get a list of leads
      parameters:
        - schema:
            type: array
          in: query
          name: employee_ids
          description: Filters leads by a list of employee IDs (string)
        - schema:
            type: string
          in: query
          name: customer_id
          description: Filters leads by a single customer ID (string)
        - schema:
            type: string
            default: '1'
          in: query
          name: page
          description: Paginated page number.
        - schema:
            type: string
            enum:
              - lost
              - open
              - won
          in: query
          name: status
          description: Filters leads by status
        - schema:
            type: number
            default: 10
          in: query
          name: page_size
          description: Number of jobs returned per page.
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sort_direction
        - schema:
            type: array
          in: query
          name: tag_ids
          description: Filters leads by a list of tags
        - schema:
            type: array
          in: query
          name: lead_source
          description: Filters leads by a single lead_source
        - schema:
            type: array
            uniqueItems: false
          in: query
          description: 'Id of locations you want to pull from. * If X-Company-Id header is set, location_ids will be ignored'
          name: location_ids
        - schema:
            type: string
            enum:
              - created_at
              - updated_at
              - id
              - status
            default: created_at
          in: query
          name: sort_by
          description: Attribute to sort by
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Leads
  '/leads/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Get Lead
      tags:
        - Leads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lead'
      operationId: get-leads-id
      description: Get the lead via ID.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
  '/leads/{id}/convert':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Convert Lead to Estimate or Job
      tags:
        - Leads
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Present only if the lead was converted to a job
                  estimate_id:
                    type: string
                    description: Present only if the lead was converted to an estimate
      operationId: put-leads-id-convert
      description: Converts a lead into an estimate or job.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: The type to convert the lead to. Must be either "estimate" or "job".
                  example: estimate
                  enum:
                    - estimate
                    - job
  '/leads/{lead_id}/line_items':
    parameters:
      - schema:
          type: string
        name: lead_id
        in: path
        required: true
      - schema:
          type: number
          default: 1
        in: query
        name: page
      - schema:
          type: number
          default: 10
        in: query
        name: page_size
    get:
      summary: Lists all line items for a lead
      operationId: get-leads-lead_id-line-items
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      line_items:
                        type: array
                        items:
                          $ref: '#/components/schemas/LineItemResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
      description: Lists all line items for a lead
      tags:
        - Lead Line Items
  /lead_sources:
    get:
      summary: Get Lead Sources
      tags:
        - Lead Sources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      lead_sources:
                        type: array
                        items:
                          $ref: '#/components/schemas/LeadSource'
      operationId: get-lead_sources
      description: Get a list of available lead sources.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      parameters:
        - schema:
            type: string
          in: query
          name: q
          description: A query that can be used to search for a lead source by name
        - schema:
            type: number
            default: 1
          in: query
          name: page
          description: Current Page
        - schema:
            type: number
            default: 10
          in: query
          name: page_size
          description: Number of lead sources per page
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          in: query
          name: sort_direction
          description: Ascending or descending
    post:
      summary: Create lead source
      operationId: post-lead_sources
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadSource'
      description: Create a lead source
      tags:
        - Lead Sources
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
  '/lead_sources/{lead_source_id}':
    parameters:
      - schema:
          type: string
        name: lead_source_id
        in: path
        required: true
    put:
      summary: Update Lead Source
      operationId: put-lead_sources-lead_source_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeadSource'
      description: Update a specific lead source. Only lead sources marked as editable can be updated.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      tags:
        - Lead Sources
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
  /job_fields/job_types:
    get:
      summary: Get Job Types
      tags:
        - Job Types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    properties:
                      job_types:
                        type: array
                        items:
                          $ref: '#/components/schemas/JobType'
      operationId: get-job_fields-job_types
      description: Get a list of job types
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: filter job types by name
    parameters: []
    post:
      summary: Create Job Type
      operationId: post-job_fields-job_types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobType'
      description: create a job type
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      tags:
        - Job Types
  '/job_fields/job_types/{job_type_id}':
    parameters:
      - schema:
          type: string
        name: job_type_id
        in: path
        required: true
    put:
      summary: Update a Job Type
      operationId: put-job_fields-job_types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobType'
      description: Update a job type
      security:
        - Company API Key: []
        - Housecall User OAuth Token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
      tags:
        - Job Types
  /invoices:
    get:
      summary: Get Invoices
      tags:
        - Invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedList'
                  - type: object
                    x-stoplight:
                      id: 8vehf17tqgg8r
                    properties:
                      invoices:
                        type: array
                        x-stoplight:
                          id: prgk2z9jx3xcz
                        items:
                          allOf:
                            - $ref: '#/components/schemas/JobInvoice'
                            - type: object
                              x-stoplight:
                                id: 9yl2rmlsiui5y
                              properties:
                                job_id:
                                  type: string
                                  x-stoplight:
                                    id: p2cg7fh3jdpv0
      operationId: get-invoices
      description: Get a list of invoices.
      security:
        - Company API Key: []
        - Application API Key: []
        - Housecall User OAuth Token: []
      parameters:
        - schema:
            type: array
            items:
              type: string
          in: query
          name: location_ids
          description: 'Id of locations you want to pull from. * If X-Company-Id header is set, location_ids will be ignored'
        - schema:
            type: array
            example: open
            enum:
              - open
              - pending_payment
              - paid
              - voided
              - uncollectible
              - canceled
          in: query
          name: status
          description: Filters invoices by status.
        - schema:
            type: array
            example: cus_123
          in: query
          name: customer_uuid
          description: Filters invoices by customer UUIDs.
        - schema:
[...]
