{"openapi": "3.0.2", "servers": [{"url": "https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}"}, {"url": "https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}"}, {"url": "https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}"}, {"url": "https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}"}], "info": {"title": "Pipeliner Cloud API", "version": "100"}, "paths": {"/entities/Accounts/{id}": {"get": {"description": "Returns Account with given id", "operationId": "Accounts.get", "summary": "Accounts.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of Account to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "Account data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/Account"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes Account with given id", "operationId": "Accounts.delete", "summary": "Accounts.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of Account to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of Account on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted Account", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies Account or Accounts with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of Account to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of Account on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "Accounts.update", "summary": "Accounts.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting Account", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/Account"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/Accounts": {"get": {"description": "Returns all defined Accounts", "operationId": "Accounts.list", "summary": "Accounts.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted Accounts are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of Accounts", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/Account"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"description": "Creates new Account", "operationId": "Accounts.create", "summary": "Accounts.create", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of Account on create. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new Account", "required": true, "content": {"application / json": {"schema": {"$ref": "#/components/schemas/createAccountInput"}}}}, "responses": {"201": {"description": "Creation confirmation. Returns created Account", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/Account"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/Accounts/merge": {"post": {"description": "Merger multiple Accounts into master record.", "operationId": "Accounts.merge", "summary": "Accounts.merge", "tags": ["Account"], "parameters": [], "requestBody": {"description": "Entity .", "required": true, "content": {"application/json": {"schema": {"type": "object", "properties": {"master": {"$ref": "#/components/schemas/batchAccountInput"}, "secondary_ids": {"type": "array", "items": {"type": "string", "description": "An id of secondary Account.", "format": "uuid"}}}}}}}, "responses": {"200": {"description": "Merged entity", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/Account"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/Accounts/batch-delete": {"post": {"description": "Removes Accounts with given list of ids", "operationId": "Accounts.batch_delete", "summary": "Accounts.batch_delete", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of Accounts on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for Accounts. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "List of ids to delete.", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"type": "string", "description": "An id of entity Account to delete.", "format": "uuid"}}}}}, "responses": {"200": {"description": "Batch removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "An id of deleted Account.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/Accounts/batch-modify": {"post": {"description": "Create or update an batch of Accounts", "operationId": "Accounts.batch_create_or_update", "summary": "Accounts.batch_create_or_update", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of Accounts on change. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for Accounts. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new Account", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/batchAccountInput"}}}}}, "responses": {"200": {"description": "Creation confirmation. Returns a list of created / updated Accounts", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "And ID of created / updated entity.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountDataExRelations/{id}": {"get": {"description": "Returns AccountDataExRelation with given id", "operationId": "AccountDataExRelations.get", "summary": "AccountDataExRelations.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountDataExRelation to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountDataExRelation data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountDataExRelation"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountDataExRelations": {"get": {"description": "Returns all defined AccountDataExRelations", "operationId": "AccountDataExRelations.list", "summary": "AccountDataExRelations.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted AccountDataExRelations are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of AccountDataExRelations", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AccountDataExRelation"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountKPIs/{id}": {"get": {"description": "Returns AccountKPI with given id", "operationId": "AccountKPIs.get", "summary": "AccountKPIs.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountKPI to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountKPI data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountKPI"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes AccountKPI with given id", "operationId": "AccountKPIs.delete", "summary": "AccountKPIs.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountKPI to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountKPI on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted AccountKPI", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies AccountKPI or AccountKPIs with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of AccountKPI to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountKPI on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "AccountKPIs.update", "summary": "AccountKPIs.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountKPIInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting AccountKPI", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountKPI"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountKPIs": {"get": {"description": "Returns all defined AccountKPIs", "operationId": "AccountKPIs.list", "summary": "AccountKPIs.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted AccountKPIs are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of AccountKPIs", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AccountKPI"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"description": "Creates new AccountKPI", "operationId": "AccountKPIs.create", "summary": "AccountKPIs.create", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountKPI on create. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountKPI", "required": true, "content": {"application / json": {"schema": {"$ref": "#/components/schemas/createAccountKPIInput"}}}}, "responses": {"201": {"description": "Creation confirmation. Returns created AccountKPI", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountKPI"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountKPIs/batch-delete": {"post": {"description": "Removes AccountKPIs with given list of ids", "operationId": "AccountKPIs.batch_delete", "summary": "AccountKPIs.batch_delete", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountKPIs on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountKPIs. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "List of ids to delete.", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"type": "string", "description": "An id of entity AccountKPI to delete.", "format": "uuid"}}}}}, "responses": {"200": {"description": "Batch removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "An id of deleted AccountKPI.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountKPIs/batch-modify": {"post": {"description": "Create or update an batch of AccountKPIs", "operationId": "AccountKPIs.batch_create_or_update", "summary": "AccountKPIs.batch_create_or_update", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountKPIs on change. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountKPIs. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountKPI", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/batchAccountKPIInput"}}}}}, "responses": {"200": {"description": "Creation confirmation. Returns a list of created / updated AccountKPIs", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "And ID of created / updated entity.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelations/{id}": {"get": {"description": "Returns AccountRelation with given id", "operationId": "AccountRelations.get", "summary": "AccountRelations.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelation to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountRelation data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelation"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes AccountRelation with given id", "operationId": "AccountRelations.delete", "summary": "AccountRelations.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelation to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelation on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted AccountRelation", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies AccountRelation or AccountRelations with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelation to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelation on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "AccountRelations.update", "summary": "AccountRelations.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountRelationInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting AccountRelation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelation"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelations": {"get": {"description": "Returns all defined AccountRelations", "operationId": "AccountRelations.list", "summary": "AccountRelations.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted AccountRelations are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of AccountRelations", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AccountRelation"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"description": "Creates new AccountRelation", "operationId": "AccountRelations.create", "summary": "AccountRelations.create", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelation on create. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRelation", "required": true, "content": {"application / json": {"schema": {"$ref": "#/components/schemas/createAccountRelationInput"}}}}, "responses": {"201": {"description": "Creation confirmation. Returns created AccountRelation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelation"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelations/batch-delete": {"post": {"description": "Removes AccountRelations with given list of ids", "operationId": "AccountRelations.batch_delete", "summary": "AccountRelations.batch_delete", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelations on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRelations. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "List of ids to delete.", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"type": "string", "description": "An id of entity AccountRelation to delete.", "format": "uuid"}}}}}, "responses": {"200": {"description": "Batch removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "An id of deleted AccountRelation.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelations/batch-modify": {"post": {"description": "Create or update an batch of AccountRelations", "operationId": "AccountRelations.batch_create_or_update", "summary": "AccountRelations.batch_create_or_update", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelations on change. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRelations. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRelation", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/batchAccountRelationInput"}}}}}, "responses": {"200": {"description": "Creation confirmation. Returns a list of created / updated AccountRelations", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "And ID of created / updated entity.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationLabels/{id}": {"get": {"description": "Returns AccountRelationLabel with given id", "operationId": "AccountRelationLabels.get", "summary": "AccountRelationLabels.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelationLabel to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountRelationLabel data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelationLabel"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes AccountRelationLabel with given id", "operationId": "AccountRelationLabels.delete", "summary": "AccountRelationLabels.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelationLabel to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationLabel on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted AccountRelationLabel", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies AccountRelationLabel or AccountRelationLabels with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelationLabel to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationLabel on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "AccountRelationLabels.update", "summary": "AccountRelationLabels.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountRelationLabelInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting AccountRelationLabel", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelationLabel"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationLabels": {"get": {"description": "Returns all defined AccountRelationLabels", "operationId": "AccountRelationLabels.list", "summary": "AccountRelationLabels.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted AccountRelationLabels are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of AccountRelationLabels", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AccountRelationLabel"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"description": "Creates new AccountRelationLabel", "operationId": "AccountRelationLabels.create", "summary": "AccountRelationLabels.create", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationLabel on create. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRelationLabel", "required": true, "content": {"application / json": {"schema": {"$ref": "#/components/schemas/createAccountRelationLabelInput"}}}}, "responses": {"201": {"description": "Creation confirmation. Returns created AccountRelationLabel", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelationLabel"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationLabels/batch-delete": {"post": {"description": "Removes AccountRelationLabels with given list of ids", "operationId": "AccountRelationLabels.batch_delete", "summary": "AccountRelationLabels.batch_delete", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationLabels on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRelationLabels. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "List of ids to delete.", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"type": "string", "description": "An id of entity AccountRelationLabel to delete.", "format": "uuid"}}}}}, "responses": {"200": {"description": "Batch removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "An id of deleted AccountRelationLabel.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationLabels/batch-modify": {"post": {"description": "Create or update an batch of AccountRelationLabels", "operationId": "AccountRelationLabels.batch_create_or_update", "summary": "AccountRelationLabels.batch_create_or_update", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationLabels on change. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRelationLabels. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRelationLabel", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/batchAccountRelationLabelInput"}}}}}, "responses": {"200": {"description": "Creation confirmation. Returns a list of created / updated AccountRelationLabels", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "And ID of created / updated entity.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationTypes/{id}": {"get": {"description": "Returns AccountRelationType with given id", "operationId": "AccountRelationTypes.get", "summary": "AccountRelationTypes.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelationType to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountRelationType data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelationType"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes AccountRelationType with given id", "operationId": "AccountRelationTypes.delete", "summary": "AccountRelationTypes.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelationType to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationType on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted AccountRelationType", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies AccountRelationType or AccountRelationTypes with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRelationType to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationType on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "AccountRelationTypes.update", "summary": "AccountRelationTypes.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountRelationTypeInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting AccountRelationType", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelationType"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationTypes": {"get": {"description": "Returns all defined AccountRelationTypes", "operationId": "AccountRelationTypes.list", "summary": "AccountRelationTypes.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted AccountRelationTypes are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of AccountRelationTypes", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AccountRelationType"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"description": "Creates new AccountRelationType", "operationId": "AccountRelationTypes.create", "summary": "AccountRelationTypes.create", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationType on create. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRelationType", "required": true, "content": {"application / json": {"schema": {"$ref": "#/components/schemas/createAccountRelationTypeInput"}}}}, "responses": {"201": {"description": "Creation confirmation. Returns created AccountRelationType", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRelationType"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationTypes/batch-delete": {"post": {"description": "Removes AccountRelationTypes with given list of ids", "operationId": "AccountRelationTypes.batch_delete", "summary": "AccountRelationTypes.batch_delete", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationTypes on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRelationTypes. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "List of ids to delete.", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"type": "string", "description": "An id of entity AccountRelationType to delete.", "format": "uuid"}}}}}, "responses": {"200": {"description": "Batch removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "An id of deleted AccountRelationType.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRelationTypes/batch-modify": {"post": {"description": "Create or update an batch of AccountRelationTypes", "operationId": "AccountRelationTypes.batch_create_or_update", "summary": "AccountRelationTypes.batch_create_or_update", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRelationTypes on change. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRelationTypes. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRelationType", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/batchAccountRelationTypeInput"}}}}}, "responses": {"200": {"description": "Creation confirmation. Returns a list of created / updated AccountRelationTypes", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "And ID of created / updated entity.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRoles/{id}": {"get": {"description": "Returns AccountRole with given id", "operationId": "AccountRoles.get", "summary": "AccountRoles.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRole to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountRole data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRole"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes AccountRole with given id", "operationId": "AccountRoles.delete", "summary": "AccountRoles.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRole to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRole on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted AccountRole", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies AccountRole or AccountRoles with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of AccountRole to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRole on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "AccountRoles.update", "summary": "AccountRoles.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountRoleInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting AccountRole", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRole"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRoles": {"get": {"description": "Returns all defined AccountRoles", "operationId": "AccountRoles.list", "summary": "AccountRoles.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted AccountRoles are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of AccountRoles", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AccountRole"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"description": "Creates new AccountRole", "operationId": "AccountRoles.create", "summary": "AccountRoles.create", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRole on create. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRole", "required": true, "content": {"application / json": {"schema": {"$ref": "#/components/schemas/createAccountRoleInput"}}}}, "responses": {"201": {"description": "Creation confirmation. Returns created AccountRole", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountRole"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRoles/batch-delete": {"post": {"description": "Removes AccountRoles with given list of ids", "operationId": "AccountRoles.batch_delete", "summary": "AccountRoles.batch_delete", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRoles on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRoles. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "List of ids to delete.", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"type": "string", "description": "An id of entity AccountRole to delete.", "format": "uuid"}}}}}, "responses": {"200": {"description": "Batch removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "An id of deleted AccountRole.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountRoles/batch-modify": {"post": {"description": "Create or update an batch of AccountRoles", "operationId": "AccountRoles.batch_create_or_update", "summary": "AccountRoles.batch_create_or_update", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountRoles on change. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountRoles. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountRole", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/batchAccountRoleInput"}}}}}, "responses": {"200": {"description": "Creation confirmation. Returns a list of created / updated AccountRoles", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "And ID of created / updated entity.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountSharingClientRelations/{id}": {"get": {"description": "Returns AccountSharingClientRelation with given id", "operationId": "AccountSharingClientRelations.get", "summary": "AccountSharingClientRelations.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountSharingClientRelation to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountSharingClientRelation data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountSharingClientRelation"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes AccountSharingClientRelation with given id", "operationId": "AccountSharingClientRelations.delete", "summary": "AccountSharingClientRelations.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountSharingClientRelation to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountSharingClientRelation on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted AccountSharingClientRelation", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies AccountSharingClientRelation or AccountSharingClientRelations with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of AccountSharingClientRelation to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountSharingClientRelation on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "AccountSharingClientRelations.update", "summary": "AccountSharingClientRelations.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountSharingClientRelationInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting AccountSharingClientRelation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountSharingClientRelation"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountSharingClientRelations": {"get": {"description": "Returns all defined AccountSharingClientRelations", "operationId": "AccountSharingClientRelations.list", "summary": "AccountSharingClientRelations.list", "tags": ["Account"], "parameters": [{"name": "include-deleted", "in": "query", "description": "if enabled, deleted AccountSharingClientRelations are returned as well", "required": false, "schema": {"type": "boolean"}}, {"name": "first", "in": "query", "description": "Number of entities to return from beginning of the result set. Max: 100. Default: 30", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "last", "in": "query", "description": "Return only the \"last\" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.", "required": false, "schema": {"type": "integer", "format": "int32"}}, {"name": "before", "in": "query", "description": "Cursor until which to take entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "after", "in": "query", "description": "Cursor after which to start taking entities to result set.", "required": false, "schema": {"type": "string"}}, {"name": "expand", "in": "query", "description": "Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.", "required": false, "example": "expand=owner,sales_unit,account_relations.account", "schema": {"type": "string"}}, {"name": "order-by", "in": "query", "description": "Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.", "example": "order-by=created,-modified", "required": false, "schema": {"type": "string"}}, {"name": "filter", "in": "query", "description": "Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.", "example": "filter[name]=Example", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "filter-op", "in": "query", "description": "Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].", "example": "filter-op[name]=eq", "required": false, "schema": {"type": "object"}, "style": "deepObject", "allowReserved": true}, {"name": "load-only", "in": "query", "description": "Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.", "required": false, "example": "load-only=id,name,owner.id", "schema": {"type": "string"}}], "responses": {"200": {"description": "list of AccountSharingClientRelations", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/AccountSharingClientRelation"}}, "page_info": {"type": "object", "properties": {"start_cursor": {"type": "string", "example": "WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==", "description": "Start cursor of result set."}, "end_cursor": {"type": "string", "example": "WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==", "description": "End cursor of result set."}, "has_previous_page": {"type": "boolean", "example": true, "description": "If result set has previous page (if yes, use start_cursor value in before parameter to load it)."}, "has_next_page": {"type": "boolean", "example": true, "description": "If result set has next page (if yes, use end_cursor value in after parameter to load it)."}}, "description": "Page info result set. Please note it is returned only when legacy limit & offset parameters are not used."}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "post": {"description": "Creates new AccountSharingClientRelation", "operationId": "AccountSharingClientRelations.create", "summary": "AccountSharingClientRelations.create", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountSharingClientRelation on create. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountSharingClientRelation", "required": true, "content": {"application / json": {"schema": {"$ref": "#/components/schemas/createAccountSharingClientRelationInput"}}}}, "responses": {"201": {"description": "Creation confirmation. Returns created AccountSharingClientRelation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountSharingClientRelation"}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountSharingClientRelations/batch-delete": {"post": {"description": "Removes AccountSharingClientRelations with given list of ids", "operationId": "AccountSharingClientRelations.batch_delete", "summary": "AccountSharingClientRelations.batch_delete", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountSharingClientRelations on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "List of ids to delete.", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"type": "string", "description": "An id of entity AccountSharingClientRelation to delete.", "format": "uuid"}}}}}, "responses": {"200": {"description": "Batch removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "An id of deleted AccountSharingClientRelation.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountSharingClientRelations/batch-modify": {"post": {"description": "Create or update an batch of AccountSharingClientRelations", "operationId": "AccountSharingClientRelations.batch_create_or_update", "summary": "AccountSharingClientRelations.batch_create_or_update", "tags": ["Account"], "parameters": [{"name": "validation-level", "in": "query", "description": "Specify validation level of AccountSharingClientRelations on change. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}, {"name": "rollback-method", "in": "query", "description": "Specify rollback method for AccountSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.", "schema": {"type": "integer", "format": "int32"}}], "requestBody": {"description": "data of new AccountSharingClientRelation", "required": true, "content": {"application / json": {"schema": {"type": "array", "items": {"$ref": "#/components/schemas/batchAccountSharingClientRelationInput"}}}}}, "responses": {"200": {"description": "Creation confirmation. Returns a list of created / updated AccountSharingClientRelations", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"type": "array", "items": {"oneOf": [{"type": "string", "description": "And ID of created / updated entity.", "format": "uuid"}, {"$ref": "#/components/schemas/Error"}]}}}}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountSharingSalesUnitRelations/{id}": {"get": {"description": "Returns AccountSharingSalesUnitRelation with given id", "operationId": "AccountSharingSalesUnitRelations.get", "summary": "AccountSharingSalesUnitRelations.get", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountSharingSalesUnitRelation to retrieve", "required": true, "schema": {"type": "string", "format": "uuid"}}], "responses": {"200": {"description": "AccountSharingSalesUnitRelation data", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountSharingSalesUnitRelation"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "delete": {"description": "Removes AccountSharingSalesUnitRelation with given id", "operationId": "AccountSharingSalesUnitRelations.delete", "summary": "AccountSharingSalesUnitRelations.delete", "tags": ["Account"], "parameters": [{"name": "id", "in": "path", "description": "ID of AccountSharingSalesUnitRelation to delete", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountSharingSalesUnitRelation on delete. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "responses": {"200": {"description": "Removal confirmation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"description": "id of deleted AccountSharingSalesUnitRelation", "type": "string", "format": "uuid"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}, "patch": {"description": "Modifies AccountSharingSalesUnitRelation or AccountSharingSalesUnitRelations with given id(s)", "parameters": [{"name": "id", "in": "path", "description": "ID of AccountSharingSalesUnitRelation to update", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "validation-level", "in": "query", "description": "Specify validation level of AccountSharingSalesUnitRelation on update. Use them as bit mask: 0 - validate each field on entity,\n2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,\n16 - allows to set entity on deleted relationship.", "schema": {"type": "integer", "format": "int32"}}], "operationId": "AccountSharingSalesUnitRelations.update", "summary": "AccountSharingSalesUnitRelations.update", "tags": ["Account"], "requestBody": {"description": "id(s) of modified item(s) and fields to modify", "required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/updateAccountSharingSalesUnitRelationInput"}}}}, "responses": {"200": {"description": "Modification confirmation. Returns resulting AccountSharingSalesUnitRelation", "content": {"application/json": {"schema": {"type": "object", "properties": {"success": {"type": "boolean", "example": true, "description": "True when response succeeded, false on error."}, "data": {"$ref": "#/components/schemas/AccountSharingSalesUnitRelation"}}}}}}, "404": {"description": "Sent when invalid ID is given", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}, "500": {"description": "unexpected error", "content": {"application / json": {"schema": {"$ref": "#/components/schemas/Error"}}}}}}}, "/entities/AccountSharingSalesUnitRelat
[...]
