openapi: 3.0.1
info:
  title: Pipedrive API v2
  version: 2.0.0
servers:
  - url: "https://api.pipedrive.com/api/v2"
tags:
  - name: Activities
    description: |
      Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.
  - name: Deals
    description: |
      Deals represent ongoing, lost or won sales to an organization or to a person. Each deal has a monetary value and must be placed in a stage. Deals can be owned by a user, and followed by one or many users. Each deal consists of standard data fields but can also contain a number of custom fields. The custom fields can be recognized by long hashes as keys. These hashes can be mapped against `DealField.key`. The corresponding label for each such custom field can be obtained from `DealField.name`.
  - name: Products
    description: |
      Products are the goods or services you are dealing with. Each product can have N different price points - firstly, each product can have a price in N different currencies, and secondly, each product can have N variations of itself, each having N prices in different currencies. Note that only one price per variation per currency is supported. Products can be instantiated to deals. In the context of instantiation, a custom price, quantity and discount can be applied.
  - name: Leads
    description: |
      Leads are potential deals stored in Leads Inbox before they are archived or converted to a deal. Each lead needs to be named (using the `title` field) and be linked to a person or an organization. In addition to that, a lead can contain most of the fields a deal can (such as `value` or `expected_close_date`).
  - name: Organizations
    description: |
      Organizations are companies and other kinds of organizations you are making deals with. Persons can be associated with organizations so that each organization can contain one or more persons.
  - name: Persons
    description: |
      Persons are your contacts, the customers you are doing deals with. Each person can belong to an organization. Persons should not be confused with users.
  - name: ItemSearch
    description: |
      Ordered reference objects, pointing to either deals, persons, organizations, leads, products, files or mail attachments.
  - name: Stages
    description: |
      Stage is a logical component of a pipeline, and essentially a bucket that can hold a number of deals. In the context of the pipeline a stage belongs to, it has an order number which defines the order of stages in that pipeline.
  - name: Pipelines
    description: |
      Pipelines are essentially ordered collections of stages.
  - name: Users
    description: |
      Users are individuals who have a Pipedrive account and can interact with its features.
  - name: Beta
    description: |
      Beta endpoints are endpoints that may have changes without a regular 60-90day notice period.
paths:
  /activities:
    get:
      summary: Get all activities
      description: Returns data about all activities.
      x-token-cost: 10
      operationId: getActivities
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - "activities:read"
            - "activities:full"
      parameters:
        - in: query
          name: filter_id
          schema:
            type: integer
          description: "If supplied, only activities matching the specified filter are returned"
        - in: query
          name: ids
          description: "Optional comma separated string array of up to 100 entity ids to fetch. If filter_id is provided, this is ignored. If any of the requested entities do not exist or are not visible, they are not included in the response."
          schema:
            type: string
        - in: query
          name: owner_id
          schema:
            type: integer
          description: "If supplied, only activities owned by the specified user are returned. If filter_id is provided, this is ignored."
        - in: query
          name: deal_id
          schema:
            type: integer
          description: "If supplied, only activities linked to the specified deal are returned. If filter_id is provided, this is ignored."
        - in: query
          name: lead_id
          schema:
            type: string
          description: "If supplied, only activities linked to the specified lead are returned. If filter_id is provided, this is ignored."
        - in: query
          name: person_id
          schema:
            type: integer
          description: "If supplied, only activities whose primary participant is the given person are returned. If filter_id is provided, this is ignored."
        - in: query
          name: org_id
          schema:
            type: integer
          description: "If supplied, only activities linked to the specified organization are returned. If filter_id is provided, this is ignored."
        - in: query
          name: done
          schema:
            type: boolean
          description: "If supplied, only activities with specified 'done' flag value are returned"
        - in: query
          name: updated_since
          schema:
            type: string
          description: "If set, only activities with an `update_time` later than or equal to this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        - in: query
          name: updated_until
          schema:
            type: string
          description: "If set, only activities with an `update_time` earlier than this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        - in: query
          name: sort_by
          description: "The field to sort by. Supported fields: `id`, `update_time`, `add_time`, `due_date`."
          schema:
            type: string
            default: id
            enum:
              - id
              - update_time
              - add_time
              - due_date
        - in: query
          name: sort_direction
          description: "The sorting direction. Supported values: `asc`, `desc`."
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - in: query
          name: include_fields
          description: Optional comma separated string array of additional fields to include
          schema:
            type: string
            enum:
              - attendees
        - in: query
          name: limit
          description: "For pagination, the limit of entries to be returned. If not provided, 100 items will be returned. Please note that a maximum value of 500 is allowed."
          schema:
            type: integer
            example: 100
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: "For pagination, the marker (an opaque string value) representing the first item on the next page"
      responses:
        "200":
          description: Get all activities
          content:
            application/json:
              schema:
                type: object
                title: GetActivitiesResponse
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Activities array
                        items:
                          type: object
                          title: ActivityItem
                          properties:
                            id:
                              type: integer
                              description: The ID of the activity
                            subject:
                              type: string
                              description: The subject of the activity
                            type:
                              type: string
                              description: The type of the activity
                            owner_id:
                              type: integer
                              description: The ID of the user who owns the activity
                            creator_user_id:
                              type: integer
                              description: The ID of the user who created the activity
                            is_deleted:
                              type: boolean
                              description: Whether the activity is deleted or not
                            add_time:
                              type: string
                              description: The creation date and time of the activity
                            update_time:
                              type: string
                              description: The last updated date and time of the activity
                            deal_id:
                              type: integer
                              description: The ID of the deal linked to the activity
                            lead_id:
                              type: string
                              description: The ID of the lead linked to the activity
                            person_id:
                              type: integer
                              description: The ID of the person linked to the activity
                            org_id:
                              type: integer
                              description: The ID of the organization linked to the activity
                            project_id:
                              type: integer
                              description: The ID of the project linked to the activity
                            due_date:
                              type: string
                              description: The due date of the activity
                            due_time:
                              type: string
                              description: The due time of the activity
                            duration:
                              type: string
                              description: The duration of the activity
                            busy:
                              type: boolean
                              description: Whether the activity marks the assignee as busy or not in their calendar
                            done:
                              type: boolean
                              description: Whether the activity is marked as done or not
                            marked_as_done_time:
                              type: string
                              description: The date and time when the activity was marked as done
                            location:
                              type: object
                              description: Location of the activity
                              properties:
                                value:
                                  type: string
                                  description: The full address of the activity
                                country:
                                  type: string
                                  description: Country of the activity
                                admin_area_level_1:
                                  type: string
                                  description: Admin area level 1 (e.g. state) of the activity
                                admin_area_level_2:
                                  type: string
                                  description: Admin area level 2 (e.g. county) of the activity
                                locality:
                                  type: string
                                  description: Locality (e.g. city) of the activity
                                sublocality:
                                  type: string
                                  description: Sublocality (e.g. neighborhood) of the activity
                                route:
                                  type: string
                                  description: Route (e.g. street) of the activity
                                street_number:
                                  type: string
                                  description: Street number of the activity
                                postal_code:
                                  type: string
                                  description: Postal code of the activity
                            participants:
                              type: array
                              description: The participants of the activity
                              items:
                                type: object
                                properties:
                                  person_id:
                                    type: integer
                                    description: The ID of the person
                                  primary:
                                    type: boolean
                                    description: Whether the person is the primary participant or not
                            attendees:
                              type: array
                              description: The attendees of the activity
                              items:
                                type: object
                                properties:
                                  email:
                                    type: string
                                    description: The email address of the attendee
                                  name:
                                    type: string
                                    description: The name of the attendee
                                  status:
                                    type: string
                                    description: The status of the attendee
                                  is_organizer:
                                    type: boolean
                                    description: Whether the attendee is the organizer or not
                                  person_id:
                                    type: integer
                                    description: The ID of the person if the attendee has a person record
                                  user_id:
                                    type: integer
                                    description: The ID of the user if the attendee is a user
                            conference_meeting_client:
                              type: string
                              description: The client used for the conference meeting
                            conference_meeting_url:
                              type: string
                              description: The URL of the conference meeting
                            conference_meeting_id:
                              type: string
                              description: The ID of the conference meeting
                            public_description:
                              type: string
                              description: The public description of the activity
                            priority:
                              type: integer
                              description: The priority of the activity. Mappable to a specific string using activityFields API.
                            note:
                              type: string
                              description: The note of the activity
                      additional_data:
                        type: object
                        description: The additional data of the list
                        properties:
                          next_cursor:
                            type: string
                            description: The first item on the next page. The value of the `next_cursor` field will be `null` if you have reached the end of the dataset and there’s no more pages to be returned.
              example:
                success: true
                data:
                  - id: 1
                    subject: Activity Subject
                    type: activity_type
                    owner_id: 1
                    creator_user_id: 1
                    is_deleted: false
                    add_time: "2021-01-01T00:00:00Z"
                    update_time: "2021-01-01T00:00:00Z"
                    deal_id: 5
                    lead_id: abc-def
                    person_id: 6
                    org_id: 7
                    project_id: 8
                    due_date: "2021-01-01"
                    due_time: "15:00:00"
                    duration: "01:00:00"
                    busy: true
                    done: true
                    marked_as_done_time: "2021-01-01T00:00:00Z"
                    location:
                      value: 123 Main St
                      country: USA
                      admin_area_level_1: CA
                      admin_area_level_2: Santa Clara
                      locality: Sunnyvale
                      sublocality: Downtown
                      route: Main St
                      street_number: "123"
                      postal_code: "94085"
                    participants:
                      - person_id: 1
                        primary: true
                    attendees:
                      - email: some@email.com
                        name: Some Name
                        status: accepted
                        is_organizer: true
                        person_id: 1
                        user_id: 1
                    conference_meeting_client: google_meet
                    conference_meeting_url: "https://meet.google.com/abc-xyz"
                    conference_meeting_id: abc-xyz
                    public_description: Public Description
                    priority: 263
                    note: Note
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
    post:
      summary: Add a new activity
      description: Adds a new activity.
      x-token-cost: 5
      operationId: addActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - "activities:full"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: The subject of the activity
                type:
                  type: string
                  description: The type of the activity
                owner_id:
                  type: integer
                  description: The ID of the user who owns the activity
                deal_id:
                  type: integer
                  description: The ID of the deal linked to the activity
                lead_id:
                  type: string
                  description: The ID of the lead linked to the activity
                person_id:
                  type: integer
                  description: The ID of the person linked to the activity
                org_id:
                  type: integer
                  description: The ID of the organization linked to the activity
                project_id:
                  type: integer
                  description: The ID of the project linked to the activity
                due_date:
                  type: string
                  description: The due date of the activity
                due_time:
                  type: string
                  description: The due time of the activity
                duration:
                  type: string
                  description: The duration of the activity
                busy:
                  type: boolean
                  description: Whether the activity marks the assignee as busy or not in their calendar
                done:
                  type: boolean
                  description: Whether the activity is marked as done or not
                location:
                  type: object
                  description: Location of the activity
                  properties:
                    value:
                      type: string
                      description: The full address of the activity
                    country:
                      type: string
                      description: Country of the activity
                    admin_area_level_1:
                      type: string
                      description: Admin area level 1 (e.g. state) of the activity
                    admin_area_level_2:
                      type: string
                      description: Admin area level 2 (e.g. county) of the activity
                    locality:
                      type: string
                      description: Locality (e.g. city) of the activity
                    sublocality:
                      type: string
                      description: Sublocality (e.g. neighborhood) of the activity
                    route:
                      type: string
                      description: Route (e.g. street) of the activity
                    street_number:
                      type: string
                      description: Street number of the activity
                    postal_code:
                      type: string
                      description: Postal code of the activity
                participants:
                  type: array
                  description: The participants of the activity
                  items:
                    type: object
                    properties:
                      person_id:
                        type: integer
                        description: The ID of the person
                      primary:
                        type: boolean
                        description: Whether the person is the primary participant or not
                attendees:
                  type: array
                  description: The attendees of the activity
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        description: The email address of the attendee
                      name:
                        type: string
                        description: The name of the attendee
                      status:
                        type: string
                        description: The status of the attendee
                      is_organizer:
                        type: boolean
                        description: Whether the attendee is the organizer or not
                      person_id:
                        type: integer
                        description: The ID of the person if the attendee has a person record
                      user_id:
                        type: integer
                        description: The ID of the user if the attendee is a user
                public_description:
                  type: string
                  description: The public description of the activity
                priority:
                  type: integer
                  description: The priority of the activity. Mappable to a specific string using activityFields API.
                note:
                  type: string
                  description: The note of the activity
      responses:
        "200":
          description: Add activity
          content:
            application/json:
              schema:
                type: object
                title: UpsertActivityResponse
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    title: UpsertActivityResponseData
                    properties:
                      data:
                        type: object
                        title: ActivityItem
                        properties:
                          id:
                            type: integer
                            description: The ID of the activity
                          subject:
                            type: string
                            description: The subject of the activity
                          type:
                            type: string
                            description: The type of the activity
                          owner_id:
                            type: integer
                            description: The ID of the user who owns the activity
                          creator_user_id:
                            type: integer
                            description: The ID of the user who created the activity
                          is_deleted:
                            type: boolean
                            description: Whether the activity is deleted or not
                          add_time:
                            type: string
                            description: The creation date and time of the activity
                          update_time:
                            type: string
                            description: The last updated date and time of the activity
                          deal_id:
                            type: integer
                            description: The ID of the deal linked to the activity
                          lead_id:
                            type: string
                            description: The ID of the lead linked to the activity
                          person_id:
                            type: integer
                            description: The ID of the person linked to the activity
                          org_id:
                            type: integer
                            description: The ID of the organization linked to the activity
                          project_id:
                            type: integer
                            description: The ID of the project linked to the activity
                          due_date:
                            type: string
                            description: The due date of the activity
                          due_time:
                            type: string
                            description: The due time of the activity
                          duration:
                            type: string
                            description: The duration of the activity
                          busy:
                            type: boolean
                            description: Whether the activity marks the assignee as busy or not in their calendar
                          done:
                            type: boolean
                            description: Whether the activity is marked as done or not
                          marked_as_done_time:
                            type: string
                            description: The date and time when the activity was marked as done
                          location:
                            type: object
                            description: Location of the activity
                            properties:
                              value:
                                type: string
                                description: The full address of the activity
                              country:
                                type: string
                                description: Country of the activity
                              admin_area_level_1:
                                type: string
                                description: Admin area level 1 (e.g. state) of the activity
                              admin_area_level_2:
                                type: string
                                description: Admin area level 2 (e.g. county) of the activity
                              locality:
                                type: string
                                description: Locality (e.g. city) of the activity
                              sublocality:
                                type: string
                                description: Sublocality (e.g. neighborhood) of the activity
                              route:
                                type: string
                                description: Route (e.g. street) of the activity
                              street_number:
                                type: string
                                description: Street number of the activity
                              postal_code:
                                type: string
                                description: Postal code of the activity
                          participants:
                            type: array
                            description: The participants of the activity
                            items:
                              type: object
                              properties:
                                person_id:
                                  type: integer
                                  description: The ID of the person
                                primary:
                                  type: boolean
                                  description: Whether the person is the primary participant or not
                          attendees:
                            type: array
                            description: The attendees of the activity
                            items:
                              type: object
                              properties:
                                email:
                                  type: string
                                  description: The email address of the attendee
                                name:
                                  type: string
                                  description: The name of the attendee
                                status:
                                  type: string
                                  description: The status of the attendee
                                is_organizer:
                                  type: boolean
                                  description: Whether the attendee is the organizer or not
                                person_id:
                                  type: integer
                                  description: The ID of the person if the attendee has a person record
                                user_id:
                                  type: integer
                                  description: The ID of the user if the attendee is a user
                          conference_meeting_client:
                            type: string
                            description: The client used for the conference meeting
                          conference_meeting_url:
                            type: string
                            description: The URL of the conference meeting
                          conference_meeting_id:
                            type: string
                            description: The ID of the conference meeting
                          public_description:
                            type: string
                            description: The public description of the activity
                          priority:
                            type: integer
                            description: The priority of the activity. Mappable to a specific string using activityFields API.
                          note:
                            type: string
                            description: The note of the activity
                        description: The activity object
              example:
                success: true
                data:
                  id: 1
                  subject: Activity Subject
                  type: activity_type
                  owner_id: 1
                  creator_user_id: 1
                  is_deleted: false
                  add_time: "2021-01-01T00:00:00Z"
                  update_time: "2021-01-01T00:00:00Z"
                  deal_id: 5
                  lead_id: abc-def
                  person_id: 6
                  org_id: 7
                  project_id: 8
                  due_date: "2021-01-01"
                  due_time: "15:00:00"
                  duration: "01:00:00"
                  busy: true
                  done: true
                  marked_as_done_time: "2021-01-01T00:00:00Z"
                  location:
                    value: 123 Main St
                    country: USA
                    admin_area_level_1: CA
                    admin_area_level_2: Santa Clara
                    locality: Sunnyvale
                    sublocality: Downtown
                    route: Main St
                    street_number: "123"
                    postal_code: "94085"
                  participants:
                    - person_id: 1
                      primary: true
                  attendees:
                    - email: some@email.com
                      name: Some Name
                      status: accepted
                      is_organizer: true
                      person_id: 1
                      user_id: 1
                  conference_meeting_client: google_meet
                  conference_meeting_url: "https://meet.google.com/abc-xyz"
                  conference_meeting_id: abc-xyz
                  public_description: Public Description
                  priority: 263
                  note: Note
  "/activities/{id}":
    delete:
      summary: Delete an activity
      description: "Marks an activity as deleted. After 30 days, the activity will be permanently deleted."
      x-token-cost: 3
      operationId: deleteActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - "activities:full"
      parameters:
        - in: path
          name: id
          description: The ID of the activity
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Delete activity
          content:
            application/json:
              schema:
                title: DeleteActivityResponse
                type: object
                properties:
                  success:
                    type: boolean
                    description: If the response is successful or not
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Deleted activity ID
              example:
                success: true
                data:
                  id: 1
    get:
      summary: Get details of an activity
      description: Returns the details of a specific activity.
      x-token-cost: 1
      operationId: getActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - "activities:read"
            - "activities:full"
      parameters:
        - in: path
          name: id
          description: The ID of the activity
          required: true
          schema:
            type: integer
        - in: query
          name: include_fields
          description: Optional comma separated string array of additional fields to include
          schema:
            type: string
            enum:
              - attendees
      responses:
        "200":
          description: Get activity
          content:
            application/json:
              schema:
                type: object
                title: UpsertActivityResponse
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    title: UpsertActivityResponseData
                    properties:
                      data:
                        type: object
                        title: ActivityItem
                        properties:
                          id:
                            type: integer
                            description: The ID of the activity
                          subject:
                            type: string
                            description: The subject of the activity
                          type:
                            type: string
                            description: The type of the activity
                          owner_id:
                            type: integer
                            description: The ID of the user who owns the activity
                          creator_user_id:
                            type: integer
                            description: The ID of the user who created the activity
                          is_deleted:
                            type: boolean
                            description: Whether the activity is deleted or not
                          add_time:
                            type: string
                            description: The creation date and time of the activity
                          update_time:
                            type: string
                            description: The last updated date and time of the activity
                          deal_id:
                            type: integer
                            description: The ID of the deal linked to the activity
                          lead_id:
                            type: string
                            description: The ID of the lead linked to the activity
                          person_id:
                            type: integer
                            description: The ID of the person linked to the activity
                          org_id:
                            type: integer
                            description: The ID of the organization linked to the activity
                          project_id:
                            type: integer
                            description: The ID of the project linked to the activity
                          due_date:
                            type: string
                            description: The due date of the activity
                          due_time:
                            type: string
                            description: The due time of the activity
                          duration:
                            type: string
                            description: The duration of the activity
                          busy:
                            type: boolean
                            description: Whether the activity marks the assignee as busy or not in their calendar
                          done:
                            type: boolean
                            description: Whether the activity is marked as done or not
                          marked_as_done_time:
                            type: string
                            description: The date and time when the activity was marked as done
                          location:
                            type: object
                            description: Location of the activity
                            properties:
                              value:
                                type: string
                                description: The full address of the activity
                              country:
                                type: string
                                description: Country of the activity
                              admin_area_level_1:
                                type: string
                                description: Admin area level 1 (e.g. state) of the activity
                              admin_area_level_2:
                                type: string
                                description: Admin area level 2 (e.g. county) of the activity
                              locality:
                                type: string
                                description: Locality (e.g. city) of the activity
                              sublocality:
                                type: string
                                description: Sublocality (e.g. neighborhood) of the activity
                              route:
                                type: string
                                description: Route (e.g. street) of the activity
                              street_number:
                                type: string
                                description: Street number of the activity
                              postal_code:
                                type: string
                                description: Postal code of the activity
                          participants:
                            type: array
                            description: The participants of the activity
                            items:
                              type: object
                              properties:
                                person_id:
                                  type: integer
                                  description: The ID of the person
                                primary:
                                  type: boolean
                                  description: Whether the person is the primary participant or not
                          attendees:
                            type: array
                            description: The attendees of the activity
                            items:
                              type: object
                              properties:
                                email:
                                  type: string
                                  description: The email address of the attendee
                                name:
                                  type: string
                                  description: The name of the attendee
                                status:
                                  type: string
                                  description: The status of the attendee
                                is_organizer:
                                  type: boolean
                                  description: Whether the attendee is the organizer or not
                                person_id:
                                  type: integer
                                  description: The ID of the person if the attendee has a person record
                                user_id:
                                  type: integer
                                  description: The ID of the user if the attendee is a user
                          conference_meeting_client:
                            type: string
                            description: The client used for the conference meeting
                          conference_meeting_url:
                            type: string
                            description: The URL of the conference meeting
                          conference_meeting_id:
                            type: string
                            description: The ID of the conference meeting
                          public_description:
                            type: string
                            description: The public description of the activity
                          priority:
                            type: integer
                            description: The priority of the activity. Mappable to a specific string using activityFields API.
                          note:
                            type: string
                            description: The note of the activity
                        description: The activity object
              example:
                success: true
                data:
                  id: 1
                  subject: Activity Subject
                  type: activity_type
                  owner_id: 1
                  creator_user_id: 1
                  is_deleted: false
                  add_time: "2021-01-01T00:00:00Z"
                  update_time: "2021-01-01T00:00:00Z"
                  deal_id: 5
                  lead_id: abc-def
                  person_id: 6
                  org_id: 7
                  project_id: 8
                  due_date: "2021-01-01"
                  due_time: "15:00:00"
                  duration: "01:00:00"
                  busy: true
                  done: true
                  marked_as_done_time: "2021-01-01T00:00:00Z"
                  location:
                    value: 123 Main St
                    country: USA
                    admin_area_level_1: CA
                    admin_area_level_2: Santa Clara
                    locality: Sunnyvale
                    sublocality: Downtown
                    route: Main St
                    street_number: "123"
                    postal_code: "94085"
                  participants:
                    - person_id: 1
                      primary: true
                  attendees:
                    - email: some@email.com
                      name: Some Name
                      status: accepted
                      is_organizer: true
                      person_id: 1
                      user_id: 1
                  conference_meeting_client: google_meet
                  conference_meeting_url: "https://meet.google.com/abc-xyz"
                  conference_meeting_id: abc-xyz
                  public_description: Public Description
                  priority: 263
                  note: Note
    patch:
      summary: Update an activity
      description: Updates the properties of an activity.
      x-token-cost: 5
      operationId: updateActivity
      tags:
        - Activities
      security:
        - api_key: []
        - oauth2:
            - "activities:full"
      parameters:
        - in: path
          name: id
          description: The ID of the activity
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: The subject of the activity
                type:
                  type: string
                  description: The type of the activity
                owner_id:
                  type: integer
                  description: The ID of the user who owns the activity
                deal_id:
                  type: integer
                  description: The ID of the deal linked to the activity
                lead_id:
                  type: string
                  description: The ID of the lead linked to the activity
                person_id:
                  type: integer
                  description: The ID of the person linked to the activity
                org_id:
                  type: integer
                  description: The ID of the organization linked to the activity
                project_id:
                  type: integer
                  description: The ID of the project linked to the activity
                due_date:
                  type: string
                  description: The due date of the activity
                due_time:
                  type: string
                  description: The due time of the activity
                duration:
                  type: string
                  description: The duration of the activity
                busy:
                  type: boolean
                  description: Whether the activity marks the assignee as busy or not in their calendar
                done:
                  type: boolean
                  description: Whether the activity is marked as done or not
                location:
                  type: object
                  description: Location of the activity
                  properties:
                    value:
                      type: string
                      description: The full address of the activity
                    country:
                      type: string
                      description: Country of the activity
                    admin_area_level_1:
                      type: string
                      description: Admin area level 1 (e.g. state) of the activity
                    admin_area_level_2:
                      type: string
                      description: Admin area level 2 (e.g. county) of the activity
                    locality:
                      type: string
                      description: Locality (e.g. city) of the activity
                    sublocality:
                      type: string
                      description: Sublocality (e.g. neighborhood) of the activity
                    route:
                      type: string
                      description: Route (e.g. street) of the activity
                    street_number:
                      type: string
                      description: Street number of the activity
                    postal_code:
                      type: string
                      description: Postal code of the activity
                participants:
                  type: array
                  description: The participants of the activity
                  items:
                    type: object
                    properties:
                      person_id:
                        type: integer
                        description: The ID of the person
                      primary:
                        type: boolean
                        description: Whether the person is the primary participant or not
                attendees:
                  type: array
                  description: The attendees of the activity
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                        description: The email address of the attendee
                      name:
                        type: string
                        description: The name of the attendee
                      status:
                        type: string
                        description: The status of the attendee
                      is_organizer:
                        type: boolean
                        description: Whether the attendee is the organizer or not
                      person_id:
                        type: integer
                        description: The ID of the person if the attendee has a person record
                      user_id:
                        type: integer
                        description: The ID of the user if the attendee is a user
                public_description:
                  type: string
                  description: The public description of the activity
                priority:
                  type: integer
                  description: The priority of the activity. Mappable to a specific string using activityFields API.
                note:
                  type: string
                  description: The note of the activity
      responses:
        "200":
          description: Edit activity
          content:
            application/json:
              schema:
                type: object
                title: UpsertActivityResponse
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    title: UpsertActivityResponseData
                    properties:
                      data:
                        type: object
                        title: ActivityItem
                        properties:
                          id:
                            type: integer
                            description: The ID of the activity
                          subject:
                            type: string
                            description: The subject of the activity
                          type:
                            type: string
                            description: The type of the activity
                          owner_id:
                            type: integer
                            description: The ID of the user who owns the activity
                          creator_user_id:
                            type: integer
                            description: The ID of the user who created the activity
                          is_deleted:
                            type: boolean
                            description: Whether the activity is deleted or not
                          add_time:
                            type: string
                            description: The creation date and time of the activity
                          update_time:
                            type: string
                            description: The last updated date and time of the activity
                          deal_id:
                            type: integer
                            description: The ID of the deal linked to the activity
                          lead_id:
                            type: string
                            description: The ID of the lead linked to the activity
                          person_id:
                            type: integer
                            description: The ID of the person linked to the activity
                          org_id:
                            type: integer
                            description: The ID of the organization linked to the activity
                          project_id:
                            type: integer
                            description: The ID of the project linked to the activity
                          due_date:
                            type: string
                            description: The due date of the activity
                          due_time:
                            type: string
                            description: The due time of the activity
                          duration:
                            type: string
                            description: The duration of the activity
                          busy:
                            type: boolean
                            description: Whether the activity marks the assignee as busy or not in their calendar
                          done:
                            type: boolean
                            description: Whether the activity is marked as done or not
                          marked_as_done_time:
                            type: string
                            description: The date and time when the activity was marked as done
                          location:
                            type: object
                            description: Location of the activity
                            properties:
                              value:
                                type: string
                                description: The full address of the activity
                              country:
                                type: string
                                description: Country of the activity
                              admin_area_level_1:
                                type: string
                                description: Admin area level 1 (e.g. state) of the activity
                              admin_area_level_2:
                                type: string
                                description: Admin area level 2 (e.g. county) of the activity
                              locality:
                                type: string
                                description: Locality (e.g. city) of the activity
                              sublocality:
                                type: string
                                description: Sublocality (e.g. neighborhood) of the activity
                              route:
                                type: string
                                description: Route (e.g. street) of the activity
                              street_number:
                                type: string
                                description: Street number of the activity
                              postal_code:
                                type: string
                                description: Postal code of the activity
                          participants:
                            type: array
                            description: The participants of the activity
                            items:
                              type: object
                              properties:
                                person_id:
                                  type: integer
                                  description: The ID of the person
                                primary:
                                  type: boolean
                                  description: Whether the person is the primary participant or not
                          attendees:
                            type: array
                            description: The attendees of the activity
                            items:
                              type: object
                              properties:
                                email:
                                  type: string
                                  description: The email address of the attendee
                                name:
                                  type: string
                                  description: The name of the attendee
                                status:
                                  type: string
                                  description: The status of the attendee
                                is_organizer:
                                  type: boolean
                                  description: Whether the attendee is the organizer or not
                                person_id:
                                  type: integer
                                  description: The ID of the person if the attendee has a person record
                                user_id:
                                  type: integer
                                  description: The ID of the user if the attendee is a user
                          conference_meeting_client:
                            type: string
                            description: The client used for the conference meeting
                          conference_meeting_url:
                            type: string
                            description: The URL of the conference meeting
                          conference_meeting_id:
                            type: string
                            description: The ID of the conference meeting
                          public_description:
                            type: string
                            description: The public description of the activity
                          priority:
                            type: integer
                            description: The priority of the activity. Mappable to a specific string using activityFields API.
                          note:
                            type: string
                            description: The note of the activity
                        description: The activity object
              example:
                success: true
                data:
                  id: 1
                  subject: Activity Subject
                  type: activity_type
                  owner_id: 1
                  creator_user_id: 1
                  is_deleted: false
                  add_time: "2021-01-01T00:00:00Z"
                  update_time: "2021-01-01T00:00:00Z"
                  deal_id: 5
                  lead_id: abc-def
                  person_id: 6
                  org_id: 7
                  project_id: 8
                  due_date: "2021-01-01"
                  due_time: "15:00:00"
                  duration: "01:00:00"
                  busy: true
                  done: true
                  marked_as_done_time: "2021-01-01T00:00:00Z"
                  location:
                    value: 123 Main St
                    country: USA
                    admin_area_level_1: CA
                    admin_area_level_2: Santa Clara
                    locality: Sunnyvale
                    sublocality: Downtown
                    route: Main St
                    street_number: "123"
                    postal_code: "94085"
                  participants:
                    - person_id: 1
                      primary: true
                  attendees:
                    - email: some@email.com
                      name: Some Name
                      status: accepted
                      is_organizer: true
                      person_id: 1
                      user_id: 1
                  conference_meeting_client: google_meet
                  conference_meeting_url: "https://meet.google.com/abc-xyz"
                  conference_meeting_id: abc-xyz
                  public_description: Public Description
                  priority: 263
                  note: Note
  /deals:
    get:
      summary: Get all deals
      description: Returns data about all not archived deals.
      x-tool-description: "Retrieves paginated active deals with filtering by owner, person, organization, pipeline, stage, status, and time ranges. Essential for analytics, reporting, dashboard views, and bulk operations. Filters combine for precise selection; filter_id overrides individual filters."
      x-token-cost: 10
      operationId: getDeals
      tags:
        - Deals
      security:
        - api_key: []
        - oauth2:
            - "deals:read"
            - "deals:full"
      parameters:
        - in: query
          name: filter_id
          schema:
            type: integer
          description: "If supplied, only deals matching the specified filter are returned"
        - in: query
          name: ids
          description: "Optional comma separated string array of up to 100 entity ids to fetch. If filter_id is provided, this is ignored. If any of the requested entities do not exist or are not visible, they are not included in the response."
          schema:
            type: string
        - in: query
          name: owner_id
          schema:
            type: integer
          description: "If supplied, only deals owned by the specified user are returned. If filter_id is provided, this is ignored."
        - in: query
          name: person_id
          schema:
            type: integer
          description: "If supplied, only deals linked to the specified person are returned. If filter_id is provided, this is ignored."
        - in: query
          name: org_id
          schema:
            type: integer
          description: "If supplied, only deals linked to the specified organization are returned. If filter_id is provided, this is ignored."
        - in: query
          name: pipeline_id
          schema:
            type: integer
          description: "If supplied, only deals in the specified pipeline are returned. If filter_id is provided, this is ignored."
        - in: query
          name: stage_id
          schema:
            type: integer
          description: "If supplied, only deals in the specified stage are returned. If filter_id is provided, this is ignored."
        - in: query
          name: status
          schema:
            type: string
            enum:
              - open
              - won
              - lost
              - deleted
          description: "Only fetch deals with a specific status. If omitted, all not deleted deals are returned. If set to deleted, deals that have been deleted up to 30 days ago will be included. Multiple statuses can be included as a comma separated array. If filter_id is provided, this is ignored."
        - in: query
          name: updated_since
          schema:
            type: string
          description: "If set, only deals with an `update_time` later than or equal to this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        - in: query
          name: updated_until
          schema:
            type: string
          description: "If set, only deals with an `update_time` earlier than this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        - in: query
          name: sort_by
          description: "The field to sort by. Supported fields: `id`, `update_time`, `add_time`."
          schema:
            type: string
            default: id
            enum:
              - id
              - update_time
              - add_time
        - in: query
          name: sort_direction
          description: "The sorting direction. Supported values: `asc`, `desc`."
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - in: query
          name: include_fields
          description: Optional comma separated string array of additional fields to include
          schema:
            type: string
            enum:
              - next_activity_id
              - last_activity_id
              - first_won_time
              - products_count
              - files_count
              - notes_count
              - followers_count
              - email_messages_count
              - activities_count
              - done_activities_count
              - undone_activities_count
              - participants_count
              - last_incoming_mail_time
              - last_outgoing_mail_time
              - smart_bcc_email
        - in: query
          name: custom_fields
          description: "Optional comma separated string array of custom fields keys to include. If you are only interested in a particular set of custom fields, please use this parameter for faster results and smaller response.<br/>A maximum of 15 keys is allowed."
          schema:
            type: string
        - in: query
          name: limit
          description: "For pagination, the limit of entries to be returned. If not provided, 100 items will be returned. Please note that a maximum value of 500 is allowed."
          schema:
            type: integer
            example: 100
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: "For pagination, the marker (an opaque string value) representing the first item on the next page"
      responses:
        "200":
          description: Get all not archived deals
          content:
            application/json:
              schema:
                type: object
                title: GetDealsResponse
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Deals array
                        items:
                          type: object
                          title: DealItem
                          properties:
                            id:
                              type: integer
                              description: The ID of the deal
                            title:
                              type: string
                              description: The title of the deal
                            owner_id:
                              type: integer
                              description: The ID of the user who owns the deal
                            person_id:
                              type: integer
                              description: The ID of the person linked to the deal
                            org_id:
                              type: integer
                              description: The ID of the organization linked to the deal
                            pipeline_id:
                              type: integer
                              description: The ID of the pipeline associated with the deal
                            stage_id:
                              type: integer
                              description: The ID of the deal stage
                            value:
                              type: number
                              description: The value of the deal
                            currency:
                              type: string
                              description: The currency associated with the deal
                            add_time:
                              type: string
                              description: The creation date and time of the deal
                            update_time:
                              type: string
                              description: The last updated date and time of the deal
                            stage_change_time:
                              type: string
                              description: The last updated date and time of the deal stage
                            is_deleted:
                              type: boolean
                              description: Whether the deal is deleted or not
                            is_archived:
                              type: boolean
                              description: Whether the deal is archived or not
                            status:
                              type: string
                              description: The status of the deal
                            probability:
                              type: number
                              nullable: true
                              description: The success probability percentage of the deal
                            lost_reason:
                              type: string
                              nullable: true
                              description: The reason for losing the deal
                            visible_to:
                              type: integer
                              description: The visibility of the deal
                            close_time:
                              type: string
                              nullable: true
                              description: The date and time of closing the deal
                            won_time:
                              type: string
                              description: The date and time of changing the deal status as won
                            lost_time:
                              type: string
                              description: The date and time of changing the deal status as lost
                            expected_close_date:
                              type: string
                              format: date
                              description: The expected close date of the deal
                            label_ids:
                              type: array
                              description: The IDs of labels assigned to the deal
                              items:
                                type: integer
                            origin:
                              type: string
                              description: The way this Deal was created. `origin` field is set by Pipedrive when Deal is created and cannot be changed.
                            origin_id:
                              type: string
                              nullable: true
                              description: The optional ID to further distinguish the origin of the deal - e.g. Which API integration created this Deal.
                            channel:
                              type: integer
                              nullable: true
                              description: 'The ID of your Marketing channel this Deal was created from. Recognized Marketing channels can be configured in your <a href="https://app.pipedrive.com/settings/fields" target="_blank" rel="noopener noreferrer">Company settings</a>.'
                            channel_id:
                              type: string
                              nullable: true
                              description: The optional ID to further distinguish the Marketing channel.
                            arr:
                              type: number
                              nullable: true
                              description: |
                                Only available in Growth and above plans

                                The Annual Recurring Revenue of the deal

                                Null if there are no products attached to the deal
                            mrr:
                              type: number
                              nullable: true
                              description: |
                                Only available in Growth and above plans

                                The Monthly Recurring Revenue of the deal

                                Null if there are no products attached to the deal
                            acv:
                              type: number
                              nullable: true
                              description: |
                                Only available in Growth and above plans

                                The Annual Contract Value of the deal

                                Null if there are no products attached to the deal
                            custom_fields:
                              type: object
                              additionalProperties: true
                              description: An object where each key represents a custom field. All custom fields are referenced as randomly generated 40-character hashes
                      additional_data:
                        type: object
                        description: The additional data of the list
                        properties:
                          next_cursor:
                            type: string
                            description: The first item on the next page. The value of the `next_cursor` field will be `null` if you have reached the end of the dataset and there’s no more pages to be returned.
              example:
                success: true
                data:
                  - id: 1
                    title: Deal Title
                    creator_user_id: 1
                    owner_id: 1
                    value: 200
                    person_id: 1
                    org_id: 1
                    stage_id: 1
                    pipeline_id: 1
                    currency: USD
                    archive_time: "2021-01-01T00:00:00Z"
                    add_time: "2021-01-01T00:00:00Z"
                    update_time: "2021-01-01T00:00:00Z"
                    stage_change_time: "2021-01-01T00:00:00Z"
                    status: open
                    is_archived: false
                    is_deleted: false
                    probability: 90
                    lost_reason: Lost Reason
                    visible_to: 7
                    close_time: "2021-01-01T00:00:00Z"
                    won_time: "2021-01-01T00:00:00Z"
                    lost_time: "2021-01-01T00:00:00Z"
                    local_won_date: "2021-01-01"
                    local_lost_date: "2021-01-01"
                    local_close_date: "2021-01-01"
                    expected_close_date: "2021-01-01"
                    label_ids:
                      - 1
                      - 2
                      - 3
                    origin: ManuallyCreated
                    origin_id: null
                    channel: 52
                    channel_id: Jun23 Billboards
                    acv: 120
                    arr: 120
                    mrr: 10
                    custom_fields: {}
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
    post:
      summary: Add a new deal
      description: Adds a new deal.
      x-tool-description: "Creates new sales deals with customizable properties: title (required), value, person, organization, pipeline stage, and custom fields. Essential for lead conversion, sales processes, and integrations. Automatically assigns timestamps and ownership."
      x-token-cost: 5
      operationId: addDeal
      tags:
        - Deals
      security:
        - api_key: []
        - oauth2:
            - "deals:full"
      requestBody:
        content:
          application/json:
            schema:
              required:
                - title
              type: object
              properties:
                title:
                  type: string
                  description: The title of the deal
                owner_id:
                  type: integer
                  description: The ID of the user who owns the deal
                person_id:
                  type: integer
                  description: The ID of the person linked to the deal
                org_id:
                  type: integer
                  description: The ID of the organization linked to the deal
                pipeline_id:
                  type: integer
                  description: The ID of the pipeline associated with the deal
                stage_id:
                  type: integer
                  description: The ID of the deal stage
                value:
                  type: number
                  description: The value of the deal
                currency:
                  type: string
                  description: The currency associated with the deal
                is_deleted:
                  type: boolean
                  description: Whether the deal is deleted or not
                is_archived:
                  type: boolean
                  description: Whether the deal is archived or not
                archive_time:
                  type: string
                  description: "The optional date and time of archiving the deal in UTC. Format: YYYY-MM-DD HH:MM:SS. If omitted and `is_archived` is true, it will be set to the current date and time."
                status:
                  type: string
                  description: The status of the deal
                probability:
                  type: number
                  nullable: true
                  description: The success probability percentage of the deal
                lost_reason:
                  type: string
                  nullable: true
                  description: The reason for losing the deal. Can only be set if deal status is lost.
                visible_to:
                  type: integer
                  description: The visibility of the deal
                close_time:
                  type: string
                  nullable: true
                  description: The date and time of closing the deal. Can only be set if deal status is won or lost.
                won_time:
                  type: string
                  description: The date and time of changing the deal status as won. Can only be set if deal status is won.
                lost_time:
                  type: string
                  description: The date and time of changing the deal status as lost. Can only be set if deal status is lost.
                expected_close_date:
                  type: string
                  format: date
                  description: The expected close date of the deal
                label_ids:
                  type: array
                  description: The IDs of labels assigned to the deal
                  items:
                    type: integer
                custom_fields:
                  type: object
                  additionalProperties: true
                  description: An object where each key represents a custom field. All custom fields are referenced as randomly generated 40-character hashes
      responses:
        "200":
          description: Add deal
          content:
            application/json:
              schema:
                type: object
                title: UpsertDealResponse
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    title: UpsertDealResponseData
                    properties:
                      data:
                        type: object
                        title: DealItem
                        properties:
                          id:
                            type: integer
                            description: The ID of the deal
                          title:
                            type: string
                            description: The title of the deal
                          owner_id:
                            type: integer
                            description: The ID of the user who owns the deal
                          person_id:
                            type: integer
                            description: The ID of the person linked to the deal
                          org_id:
                            type: integer
                            description: The ID of the organization linked to the deal
                          pipeline_id:
                            type: integer
                            description: The ID of the pipeline associated with the deal
                          stage_id:
                            type: integer
                            description: The ID of the deal stage
                          value:
                            type: number
                            description: The value of the deal
                          currency:
                            type: string
                            description: The currency associated with the deal
                          add_time:
                            type: string
                            description: The creation date and time of the deal
                          update_time:
                            type: string
                            description: The last updated date and time of the deal
                          stage_change_time:
                            type: string
                            description: The last updated date and time of the deal stage
                          is_deleted:
                            type: boolean
                            description: Whether the deal is deleted or not
                          is_archived:
                            type: boolean
                            description: Whether the deal is archived or not
                          status:
                            type: string
                            description: The status of the deal
                          probability:
                            type: number
                            nullable: true
                            description: The success probability percentage of the deal
                          lost_reason:
                            type: string
                            nullable: true
                            description: The reason for losing the deal
                          visible_to:
                            type: integer
                            description: The visibility of the deal
                          close_time:
                            type: string
                            nullable: true
                            description: The date and time of closing the deal
                          won_time:
                            type: string
                            description: The date and time of changing the deal status as won
                          lost_time:
                            type: string
                            description: The date and time of changing the deal status as lost
                          expected_close_date:
                            type: string
                            format: date
                            description: The expected close date of the deal
                          label_ids:
                            type: array
                            description: The IDs of labels assigned to the deal
                            items:
                              type: integer
                          origin:
                            type: string
                            description: The way this Deal was created. `origin` field is set by Pipedrive when Deal is created and cannot be changed.
                          origin_id:
                            type: string
                            nullable: true
                            description: The optional ID to further distinguish the origin of the deal - e.g. Which API integration created this Deal.
                          channel:
                            type: integer
                            nullable: true
                            description: 'The ID of your Marketing channel this Deal was created from. Recognized Marketing channels can be configured in your <a href="https://app.pipedrive.com/settings/fields" target="_blank" rel="noopener noreferrer">Company settings</a>.'
                          channel_id:
                            type: string
                            nullable: true
                            description: The optional ID to further distinguish the Marketing channel.
                          arr:
                            type: number
                            nullable: true
                            description: |
                              Only available in Growth and above plans

                              The Annual Recurring Revenue of the deal

                              Null if there are no products attached to the deal
                          mrr:
                            type: number
                            nullable: true
                            description: |
                              Only available in Growth and above plans

                              The Monthly Recurring Revenue of the deal

                              Null if there are no products attached to the deal
                          acv:
                            type: number
                            nullable: true
                            description: |
                              Only available in Growth and above plans

                              The Annual Contract Value of the deal

                              Null if there are no products attached to the deal
                          custom_fields:
                            type: object
                            additionalProperties: true
                            description: An object where each key represents a custom field. All custom fields are referenced as randomly generated 40-character hashes
                        description: The deal object
              example:
                success: true
                data:
                  id: 1
                  title: Deal Title
                  creator_user_id: 1
                  owner_id: 1
                  value: 200
                  person_id: 1
                  org_id: 1
                  stage_id: 1
                  pipeline_id: 1
                  currency: USD
                  archive_time: "2021-01-01T00:00:00Z"
                  add_time: "2021-01-01T00:00:00Z"
                  update_time: "2021-01-01T00:00:00Z"
                  stage_change_time: "2021-01-01T00:00:00Z"
                  status: open
                  is_archived: false
                  is_deleted: false
                  probability: 90
                  lost_reason: Lost Reason
                  visible_to: 7
                  close_time: "2021-01-01T00:00:00Z"
                  won_time: "2021-01-01T00:00:00Z"
                  lost_time: "2021-01-01T00:00:00Z"
                  local_won_date: "2021-01-01"
                  local_lost_date: "2021-01-01"
                  local_close_date: "2021-01-01"
                  expected_close_date: "2021-01-01"
                  label_ids:
                    - 1
                    - 2
                    - 3
                  origin: ManuallyCreated
                  origin_id: null
                  channel: 52
                  channel_id: Jun23 Billboards
                  acv: 120
                  arr: 120
                  mrr: 10
                  custom_fields: {}
  /deals/archived:
    get:
      summary: Get all archived deals
      description: Returns data about all archived deals.
      x-tool-description: "Retrieves paginated archived deals with same filtering as active deals. Essential for historical analysis, closed opportunity reporting, data recovery, and audit trails. Supports filtering by owner, person, organization, pipeline, stage, and time ranges."
      x-token-cost: 20
      operationId: getArchivedDeals
      tags:
        - Deals
      security:
        - api_key: []
        - oauth2:
            - "deals:read"
            - "deals:full"
      parameters:
        - in: query
          name: filter_id
          schema:
            type: integer
          description: "If supplied, only deals matching the specified filter are returned"
        - in: query
          name: ids
          description: "Optional comma separated string array of up to 100 entity ids to fetch. If filter_id is provided, this is ignored. If any of the requested entities do not exist or are not visible, they are not included in the response."
          schema:
            type: string
        - in: query
          name: owner_id
          schema:
            type: integer
          description: "If supplied, only deals owned by the specified user are returned. If filter_id is provided, this is ignored."
        - in: query
          name: person_id
          schema:
            type: integer
          description: "If supplied, only deals linked to the specified person are returned. If filter_id is provided, this is ignored."
        - in: query
          name: org_id
          schema:
            type: integer
          description: "If supplied, only deals linked to the specified organization are returned. If filter_id is provided, this is ignored."
        - in: query
          name: pipeline_id
          schema:
            type: integer
          description: "If supplied, only deals in the specified pipeline are returned. If filter_id is provided, this is ignored."
        - in: query
          name: stage_id
          schema:
            type: integer
          description: "If supplied, only deals in the specified stage are returned. If filter_id is provided, this is ignored."
        - in: query
          name: status
          schema:
            type: string
            enum:
              - open
              - won
              - lost
              - deleted
          description: "Only fetch deals with a specific status. If omitted, all not deleted deals are returned. If set to deleted, deals that have been deleted up to 30 days ago will be included. Multiple statuses can be included as a comma separated array. If filter_id is provided, this is ignored."
        - in: query
          name: updated_since
          schema:
            type: string
          description: "If set, only deals with an `update_time` later than or equal to this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        - in: query
          name: updated_until
          schema:
            type: string
          description: "If set, only deals with an `update_time` earlier than this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        - in: query
          name: sort_by
          description: "The field to sort by. Supported fields: `id`, `update_time`, `add_time`."
          schema:
            type: string
            default: id
            enum:
              - id
              - update_time
              - add_time
        - in: query
          name: sort_direction
          description: "The sorting direction. Supported values: `asc`, `desc`."
          schema:
            type: string
            default: asc
            enum:
              - asc
              - desc
        - in: query
          name: include_fields
          description: Optional comma separated string array of additional fields to include
          schema:
            type: string
            enum:
              - next_activity_id
              - last_activity_id
              - first_won_time
              - products_count
              - files_count
              - notes_count
              - followers_count
              - email_messages_count
              - activities_count
              - done_activities_count
              - undone_activities_count
              - participants_count
              - last_incoming_mail_time
              - last_outgoing_mail_time
              - smart_bcc_email
        - in: query
          name: custom_fields
          description: "Optional comma separated string array of custom fields keys to include. If you are only interested in a particular set of custom fields, please use this parameter for faster results and smaller response.<br/>A maximum of 15 keys is allowed."
          schema:
            type: string
        - in: query
          name: limit
          description: "For pagination, the limit of entries to be returned. If not provided, 100 items will be returned. Please note that a maximum value of 500 is allowed."
          schema:
            type: integer
            example: 100
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: "For pagination, the marker (an opaque string value) representing the first item on the next page"
      responses:
        "200":
          description: Get all archived deals
          content:
            application/json:
              schema:
                type: object
                title: GetDealsResponse
                allOf:
                  - title: baseResponse
                    type: object
                    properties:
                      success:
                        type: boolean
                        description: If the response is successful or not
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Deals array
                        items:
                          type: object
                          title: DealItem
                          properties:
                            id:
                              type: integer
                              description: The ID of the deal
                            title:
                              type: string
                              description: The title of the deal
                            owner_id:
                              type: integer
                              description: The ID of the user who owns the deal
                            person_id:
                              type: integer
                              description: The ID of the person linked to the deal
                            org_id:
                              type: integer
                              description: The ID of the organization linked to the deal
                            pipeline_id:
                              type: integer
                              description: The ID of the pipeline associated with the deal
                            stage_id:
                              type: integer
                              description: The ID of the deal stage
                            value:
                              type: number
                              description: The value of the deal
                            currency:
                              type: string
                              description: The currency associated with the deal
                            add_time:
                              type: string
                              description: The creation date and time of the deal
                            update_time:
                              type: string
                              description: The last updated date and time of the deal
                            stage_change_time:
                              type: string
                              description: The last updated date and time of the deal stage
                            is_deleted:
                              type: boolean
                              description: Whether the deal is deleted or not
                            is_archived:
                              type: boolean
                              description: Whether the deal is archived or not
                            status:
                              type: string
                              description: The status of the deal
                            probability:
                              type: number
                              nullable: true
                              description: The success probability percentage of the deal
                            lost_reason:
                              type: string
                              nullable: true
                              description: The reason for losing the deal
                            visible_to:
                              type: integer
                              description: The visibility of the deal
                            close_time:
                              type: string
                              nullable: true
                              description: The date and time of closing the deal
                            won_time:
                              type: string
[...]
