openapi: 3.0.2

paths:
  /oauth/request_token:
    post:
      servers:
        - url: https://auth.aweber.com/1.0
      summary: Get a request token
      description: This endpoint is used to get a request token.
      tags:
        - OAuth 1.0a Reference
      requestBody:
        description: This request body requires the `application/x-www-form-urlencoded` MIME type.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              example: oauth_callback=oob&oauth_consumer_key=******************&oauth_nonce=******************&oauth_signature=******************&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1285168264&oauth_token=&oauth_version=1.0
              properties:
                oauth_consumer_key:
                  $ref: '_parameters.yaml#/parameters/oauth_consumer_key'
                oauth_callback:
                  $ref: '_parameters.yaml#/parameters/oauth_callback'
                oauth_nonce:
                  $ref: '_parameters.yaml#/parameters/oauth_nonce'
                oauth_signature:
                  $ref: '_parameters.yaml#/parameters/oauth_signature'
                oauth_signature_method:
                  $ref: '_parameters.yaml#/parameters/oauth_signature_method'
                oauth_timestamp:
                  $ref: '_parameters.yaml#/parameters/oauth_timestamp'
                oauth_token:
                  $ref: '_parameters.yaml#/parameters/oauth_token'
                oauth_version:
                  $ref: '_parameters.yaml#/parameters/oauth_version'
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  oauth_token:
                    description: This is a newly generated request token that temporarily represents the user of the application. This will expire when an access token is created for this user.
                    type: string
                  oauth_callback_confirmed:
                    description: Whether the callback was accepted. If true, the result of the authorization step will be sent to this url.
                    type: boolean
                example: oauth_token_secret=******************&oauth_token=******************&oauth_callback_confirmed=true
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: |
                      An error object.
                      One of the following errors may be received:

                      | Error Type           | Explanation                              |
                      |----------------------|------------------------------------------|
                      | BadRequestError      | Request does not have OAuth credentials or callback |

                      Please see the message body for more details.
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Request does not have OAuth credentials. https://api.aweber.com#badrequest
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: BadRequestError
        '401':
          $ref: '_responses.yaml#/responses/UnauthorizedError'
        '410':
          $ref: '_responses.yaml#/responses/BlockedError'
        '500':
          $ref: '_responses.yaml#/responses/InternalServerError'
        '503':
          $ref: '_responses.yaml#/responses/ServiceUnavailable'
  /oauth/access_token:
    post:
      servers:
        - url: https://auth.aweber.com/1.0
      summary: Get an access token
      description: This endpoint is used to get an access token.
      tags:
        - OAuth 1.0a Reference
      requestBody:
        description: This request body requires the `application/x-www-form-urlencoded` MIME type.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              example: oauth_consumer_key=******************&oauth_nonce=******************&oauth_signature=******************&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1285168264&oauth_token=******************&oauth_version=1.0
              properties:
                oauth_consumer_key:
                  $ref: '_parameters.yaml#/parameters/oauth_consumer_key'
                oauth_callback:
                  $ref: '_parameters.yaml#/parameters/oauth_callback'
                oauth_nonce:
                  $ref: '_parameters.yaml#/parameters/oauth_nonce'
                oauth_signature:
                  $ref: '_parameters.yaml#/parameters/oauth_signature'
                oauth_signature_method:
                  $ref: '_parameters.yaml#/parameters/oauth_signature_method'
                oauth_timestamp:
                  $ref: '_parameters.yaml#/parameters/oauth_timestamp'
                oauth_token:
                  $ref: '_parameters.yaml#/parameters/oauth_token'
                oauth_version:
                  $ref: '_parameters.yaml#/parameters/oauth_version'
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  oauth_token:
                    description: The access token, which will be used to represent this specific AWeber user's account and can be used to gain access to their data. It should be stored for later use, consider doing so in a database or some other local storage in your application.
                    type: string
                  oauth_token_secret:
                    description: This is a newly generated secret which will be used in the creation of the request's oauth_signature. This token secret is paired exclusively with the access token and does not expire. It should be stored for later use. Consider savng it in a database or some other local storage in your application.
                      At this point, the oauth_token and oauth_token_secret that were generated in Step 1 as the request token have expired, and can not be used again.
                    type: boolean
                example: oauth_token_secret=******************&oauth_token=******************
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: |
                      An error object.
                      One of the following errors may be received:

                      | Error Type           | Explanation |
                      |----------------------|-------------|
                      | BadRequestError      | Request does not have OAuth credentials or callback |

                      Please see the message body for more details.
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Request does not have OAuth credentials. https://api.aweber.com#badrequest
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: BadRequestError
        '401':
          $ref: '_responses.yaml#/responses/UnauthorizedError'
        '410':
          $ref: '_responses.yaml#/responses/BlockedError'
        '500':
          $ref: '_responses.yaml#/responses/InternalServerError'
        '503':
          $ref: '_responses.yaml#/responses/ServiceUnavailable'
  /oauth2/token:
    post:
      servers:
        - url: https://auth.aweber.com/
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: Basic Y2xpZW50X2lkOmNsaWVudF9zZWNyZXQ=
            description: |
              A base-64 encoded string for `client_id:client_secret`.
      summary: Get a token
      description: |
        This endpoint is used to get an access token. This endpoint can obtain an access point from one of two
        grant types.

        In the initial authorization, a `grant_type` of `authorization_code` is used with the `authorization_code`
        received from the URL the user is redirected to after authorizing the integration to their account.

        If an access token is expired this endpoint can be used with a `grant_type` of `refresh_token` and the `refresh_token`
        stored for the user's access token.

        This endpoint must be provided with the `client_id` and `client_secret` either in the `Authorization` header (preferred)
        or in the request body.
      tags:
        - OAuth 2.0 Reference
      requestBody:
        $ref: '#/components/requestBodies/Token'
      responses:
        '200':
          description: The request completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    description: The access token, which will be used to represent this specific AWeber user's account and can be used to gain access to their data. It should be stored for later use, consider doing so in a database or some other local storage in your application.
                    type: string
                    example: "***************"
                  expires_in:
                    description: The time in seconds in which the access token will expire.
                    type: integer
                    example: 7200
                  refresh_token:
                    description: The refresh token, which will be used to refresh a user's access token. It should be stored for later use, consider doing so in a database or some other local storage in your application.
                    type: string
                    example: "***************"
                  token_type:
                    description: The type of token the access token will be used as.
                    type: string
                    example: bearer
        '400':
          description: The server cannot or will not process the request due to a client error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: |
                      An error object.
                      One of the following errors may be received:

                      | Error Type           | Explanation |
                      |----------------------|-------------|
                      | BadRequestError      | Request does not have OAuth credentials |

                      Please see the message body for more details.
                    type: object
                    properties:
                      documentation_url:
                        description: A link to the documentation that describes the error
                        type: string
                        example: https://api.aweber.com#badrequest
                      message:
                        description: A human friendly description of the error
                        type: string
                        example: Request does not have OAuth credentials. https://api.aweber.com#badrequest
                      status:
                        description: The HTTP status code
                        type: integer
                        example: 400
                      type:
                        description: The API error type
                        type: string
                        example: BadRequestError
        '401':
          $ref: '_responses.yaml#/responses/UnauthorizedError'
        '410':
          $ref: '_responses.yaml#/responses/BlockedError'
        '500':
          $ref: '_responses.yaml#/responses/InternalServerError'
        '503':
          $ref: '_responses.yaml#/responses/ServiceUnavailable'
  /oauth2/revoke:
    post:
      servers:
        - url: https://auth.aweber.com/
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
            example: Basic Y2xpZW50X2lkOmNsaWVudF9zZWNyZXQ=
            description: |
              A base-64 encoded string for `client_id:client_secret`. The client_secret <b>must</b> be left blank for public clients.
      summary: Revoke a token
      description: |
        This endpoint is used to revoke an access or refresh token.
      tags:
        - OAuth 2.0 Reference
      requestBody:
        $ref: '#/components/requestBodies/Revoke'
      responses:
        '200':
          description: The token has been deleted
        '400':
          $ref: '_responses.yaml#/responses/OAuth2ErrorInvalidRequest'
        '401':
          $ref: '_responses.yaml#/responses/OAuth2ErrorInvalidClient'
        '410':
          $ref: '_responses.yaml#/responses/BlockedError'
        '500':
          $ref: '_responses.yaml#/responses/OAuth2ErrorServerError'

components:
  requestBodies:
    Token:
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/AuthCode'
              - $ref: '#/components/schemas/RefreshTokenConfidential'
              - $ref: '#/components/schemas/RefreshTokenPublic'
              - $ref: '#/components/schemas/PKCE'
    Revoke:
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Revoke/Confidential'
              - $ref: '#/components/schemas/Revoke/PKCE'
        application/x-www-form-urlencoded:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Revoke/form'
              - $ref: '#/components/schemas/Revoke/form-PKCE'


  schemas:
    Token:
      type: object
      required:
        - client_id
        - client_secret
      properties:
        client_id:
          description: The client ID of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
            <br>_Not required if `Authorization` header is set._
          type: string
          example: "***************"
        client_secret:
          description: The client secret of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
            <br>_Not required if `Authorization` header is set._
          type: string
          example: "***************"
    PKCE:
      title: Proof Key for Code Exchange (PKCE)
      description: This will create an access token using a `code_verifier`
      allOf:
        - type: object
          required:
            - grant_type
            - code
            - client_id
            - code_verifier
          properties:
            client_id:
              description: The client ID of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
                <br>_Not required if `Authorization` header is set._
              type: string
              example: "***************"
            code_verifier:
              description: As described in the <a href="https://tools.ietf.org/html/rfc7636#section-4.1" target="_blank">PKCE RFC</a>,
                this is a high-entropy cryptographic random string with a minimum length of 43 characters and a maximum length of 128 characters.
              type: string
              example: "thisissupposedtobeatleast43charactersofahighentropycryptographicrandomstring"
            grant_type:
              description: The grant type of the token.
              type: string
              enum:
                - authorization_code
            code:
              type: string
              description: The authorization code received from the authorization call.
              example: "***************"
    AuthCode:
      title: Authorization Code
      description: This will create an access token using an `authorization_code`
      allOf:
        - $ref: '#/components/schemas/Token'
        - type: object
          required:
            - grant_type
            - code
          properties:
            grant_type:
              description: The grant type of the token.
              type: string
              enum:
                - authorization_code
            code:
              type: string
              description: The authorization code received from the authorization call.
              example: "***************"
    RefreshTokenConfidential:
      title: Refresh Token (Confidential)
      description: This will create an access token using a `refresh_token`
      allOf:
        - $ref: '#/components/schemas/RefreshTokenPublic'
        - type: object
          required:
            - client_id
            - client_secret
            - grant_type
            - refresh_token
          properties:
            client_secret:
              description: The client secret of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
                <br>_Not required if `Authorization` header is set._
              type: string
              example: "***************"
    RefreshTokenPublic:
      title: Refresh Token (Public)
      description: This will create an access token using a `refresh_token`
      allOf:
        - type: object
          required:
            - client_id
            - grant_type
            - refresh_token
          properties:
            client_id:
              description: The client ID of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
                <br>_Not required if `Authorization` header is set._
              type: string
              example: "***************"
            grant_type:
              description: The grant type of the token.
              type: string
              enum:
                - refresh_token
            refresh_token:
              type: string
              description: The refresh token associated with the expired access token.
              example: "***************"
    Revoke:
      Confidential:
        title: Confidential
        type: object
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            description: The client ID of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
              <br>_Not required if `Authorization` header is set._
            type: string
            example: "*********"
          client_secret:
            description: The client secret of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
              <br>_Not required if `Authorization` header is set._
            type: string
            example: "*********"
          token:
            description: The access token or refresh token to revoke
            type: string
            example: "gTCFZykztNGFcQlKViqkXN_uKG5fDl0SAGcEQNjSePk"
          token_type_hint:
            description: Type of token given in the token parameter. Valid values are <ul><li>access_token<li>refresh_token</ul><br>If not specified, search for both kinds of tokens.
            type: string
            enum:
              - access_token
              - refresh_token
      PKCE:
        title: Proof Key for Code Exchange (PKCE)
        type: object
        required:
          - client_id
        properties:
          client_id:
            description: The client ID of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
              <br>_Not required if `Authorization` header is set._
            type: string
            example: "*********"
          token:
            description: The access token or refresh token to revoke
            type: string
            example: "gTCFZykztNGFcQlKViqkXN_uKG5fDl0SAGcEQNjSePk"
          token_type_hint:
            description: Type of token given in the token parameter. Valid values are <ul><li>access_token<li>refresh_token</ul><br>If not specified, search for both kinds of tokens.
            type: string
            enum:
              - access_token
              - refresh_token
      form:
        title: Confidential
        type: object
        required:
          - client_id
          - client_secret
        properties:
          client_id:
            description: The client ID of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
                <br>_Not required if `Authorization` header is set._
            type: string
            example: "*********"
          client_secret:
            description: The client secret of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
              <br>_Not required if `Authorization` header is set._
            type: string
            example: "*********"
          token:
            description: The access token or refresh token to revoke
            type: string
            example: "gTCFZykztNGFcQlKViqkXN_uKG5fDl0SAGcEQNjSePk"
          token_type_hint:
            description: Type of token given in the token parameter. Valid values are <ul><li>access_token<li>refresh_token</ul><br>If not specified, search for both kinds of tokens.
            type: string
            enum:
              - access_token
              - refresh_token
      form-PKCE:
        title: Proof Key for Code Exchange (PKCE)
        type: object
        required:
          - client_id
        properties:
          client_id:
            description: The client ID of the application. Available on the <a href="https://labs.aweber.com/apps" target="_blank">My Apps Page</a>.
                <br>_Not required if `Authorization` header is set._
            type: string
            example: "*********"
          token:
            description: The access token or refresh token to revoke
            type: string
            example: "gTCFZykztNGFcQlKViqkXN_uKG5fDl0SAGcEQNjSePk"
          token_type_hint:
            description: Type of token given in the token parameter. Valid values are <ul><li>access_token<li>refresh_token</ul><br>If not specified, search for both kinds of tokens.
            type: string
            enum:
              - access_token
              - refresh_token
