openapi: 3.1.0
info:
  title: Mailgun API
  description: Mailgun API defined by OpenAPI Specification (OAS) 3.1.0
  version: 3.0.0
servers:
  - url: https://api.mailgun.net
    description: US Mailgun
  - url: https://api.eu.mailgun.net
    description: EU Mailgun
tags:
  - name: Messages
    description: >-
      Send email two ways via our REST API:

      1. Send emails using MIME format using a MIME building library

      2. Submit the individual parts (Text, html, attachments, etc.)


      Reminder: You can also send email via SMTP with Mailgun. Please reference
      the user manual.
    x-displayName: Messages
  - name: Domain Tracking
    description: >-
      Mailgun offers tracking for clicks, unsubscribes, and opens, with optional
      HTTPS protocol support on tracking URLs. To enable HTTPS, Mailgun uses
      Let’s Encrypt with HTTP-01 challenges through your existing tracking CNAME
      record to issue a TLS certificate. This setup also includes support for
      HTTP Strict Transport Security (HSTS) for enhanced security.
    x-displayName: Domain Tracking
  - name: Domain Keys
    description: An authentication standard used to prevent email spoofing.
    x-displayName: Domain Keys
  - name: Domains
    description: Domains API manages domains, domain keys and DNS verification.
    x-displayName: Domains
  - name: Account Webhooks
    description: >-
      Webhooks API to manage account-specific webhooks. You can create,
      retrieve, update, and delete webhooks programmatically. Account-level
      webhooks are configured independently for US and EU regions. When
      triggered, webhook URLs are deduplicated by event type, across account and
      domain levels to prevent redundant webhook sends.
    x-displayName: Account Webhooks
  - name: Domain Webhooks
    description: >-
      Webhooks API to manage domain-specific webhooks. You can create, retrieve,
      update, and delete webhooks programmatically. When triggered, webhook URLs
      are deduplicated by event type, across account and domain levels to
      prevent redundant webhook sends.
    x-displayName: Domain Webhooks
  - name: DKIM Security
    description: >-
      Automatic Sender Security DKIM Key APIs. To enable this feature please see
      'Update a domain' API docs.
    x-displayName: DKIM Security
  - name: IPs
    description: >-
      The IP API endpoint allows you to access information regarding the IPs
      allocated to your Mailgun account that are used for outbound sending.
    x-displayName: IPs
  - name: IP Pools
    description: >-
      IP Pools allow you to group your dedicated IPs into customized "pools" to
      help manage your sending reputation for different mail sending streams.
    x-displayName: IP Pools
  - name: Dynamic IP Pools
    description: >-
      Dynamic IP Pools allow you to group your dedicated IPs into customized
      "pools" based on sender reputation. Domains enrolled in Dynamic IP Pools
      will be assigned to a pool based on the result of periodic health checks.
    x-displayName: Dynamic IP Pools
  - name: Delegated DIPPs
    x-displayName: Delegated DIPPs
  - name: openapi-tower_other
    x-displayName: other
  - name: IP Address Warmup
    x-displayName: IP Address Warmup
  - name: Events
    description: >-
      Mailgun keeps track of every inbound and outbound message event and stores
      this data for at least 3 days.<br><br>WARNING:<i> This API is deprecated
      in favor of our
      [Logs](https://documentation.mailgun.com/docs/mailgun/api-reference/send/mailgun/logs)
      API. </i>
    x-displayName: Events
  - name: Tags
    description: >-
      Mailgun lets you tag each outgoing message with a custom value. When you
      access stats on your messages, they will be aggregated by these
      tags.<br><br>WARNING:<i> This API is deprecated in favor of our new
      [Tags](https://documentation.mailgun.com/docs/mailgun/api-reference/send/mailgun/tags-new)
      API. </i>
    x-displayName: Tags
  - name: Stats
    description: >-
      Mailgun collects many different events and generates event statistics
      which are available in your Control Panel. This data is also available via
      our stats API endpoint.<br><br>WARNING:<i> This API is deprecated in favor
      of our
      [Metrics](https://documentation.mailgun.com/docs/mailgun/api-reference/send/mailgun/metrics)
      API. </i>
    x-displayName: Stats
  - name: openapi-scout_other
    x-displayName: other
  - name: Metrics
    description: >-
      The Mailgun Metrics API provides programmatic access to detailed analytics
      data about your email sending activity. This API allows you to query,
      filter, and analyze email performance metrics to gain insights into
      deliverability, engagement, and overall sending health.


      ## Metrics vs. Stats API


      The Metrics API is the modern replacement for the deprecated Stats API:


      | Feature | Stats API (Deprecated) | Metrics API (Current) |

      |---------|----------------------|---------------------|

      | Flexibility | Limited filtering | Advanced filtering with logical
      operators |

      | Dimensions | Fixed groupings | Flexible dimension combinations |

      | Metrics | Basic counts | Comprehensive metrics including rates |

      | Performance | Slower | Optimized for large datasets |

      | Future Support | None | Active development |


      **Migration:** If you're using the Stats API, plan to migrate to the
      Metrics API for continued support and new features.


      ## What Are Metrics?


      Metrics are quantitative measurements of your email activity. The Mailgun
      platform collects event data in real-time and aggregates it into
      meaningful metrics that help you understand how your emails are
      performing.


      ## Types of Metrics


      Mailgun provides two categories of metrics:


      ### Sending Metrics (via `/v1/analytics/metrics`)


      These metrics track the lifecycle and performance of your outbound emails:


      - **Volume Metrics**: Messages accepted, delivered, failed, queued

      - **Engagement Metrics**: Opens, clicks, unsubscribes

      - **Deliverability Metrics**: Bounces (permanent and temporary),
      complaints (spam reports)

      - **Rate Metrics**: Delivered rate, open rate, click rate, bounce rate

      - **ESP-Specific Metrics**: Performance broken down by email service
      provider


      See [metric
      definitions](https://documentation.mailgun.com/docs/mailgun/user-manual/reporting/metric-definitions)
      for a complete list of available metrics.


      ### Usage Metrics (via `/v1/analytics/usage/metrics`)


      These metrics track your consumption of Mailgun services and features:


      - **Email Validation**: Single validations, bulk validations, API calls

      - **Email Preview**: Preview generation counts and failures

      - **Blocklist Monitoring**: Domain and IP blocklist checks

      - **Accessibility Checks**: Accessibility validation counts

      - **Seed Testing**: Seed test campaigns sent


      ## Core Concepts


      ### Dimensions


      Dimensions are the attributes by which you can slice and group your
      metrics data. Think of them as the "categories" or "labels" for your data.


      **Available Dimensions:**


      See
      [dimensions](https://documentation.mailgun.com/docs/mailgun/user-manual/reporting/dimensions)
      for a complete list of available dimensions.


      **Example:** If you query with dimensions `["time", "domain"]`, your
      results will be grouped by time period for each sending domain.


      ### Resolution


      Resolution determines the time granularity of your results:


      - **hour**: Data grouped by hour (useful for real-time monitoring)

      - **day**: Data grouped by day (most common for daily reports)

      - **month**: Data grouped by month (useful for trend analysis)


      The resolution you choose affects how the `time` dimension groups your
      data.


      ### Time Range Selection


      You have flexible options for specifying the time range:


      **Option 1: Start and End Dates**

      ```json

      {

      "start": "Mon, 13 Nov 2023 00:00:00 -0600",

      "end": "Mon, 20 Nov 2023 23:59:59 -0600"

      }

      ```


      **Option 2: Duration**

      ```json

      {

      "duration": "7d"

      }

      ```


      This calculates the start date and end date automatically (7 days before
      the today).


      **Date Format:** RFC 2822 format with timezone support


      ### Filters


      Filters allow you to narrow down your data to specific criteria. The
      filter system uses a logical structure:


      ```json

      {

      "filter": {
        "AND": [
          {
            "attribute": "domain",
            "comparator": "=",
            "values": [
              {"value": "example.com"}
            ]
          },
          {
            "attribute": "tag",
            "comparator": "=",
            "values": [
              {"value": "newsletter"}
            ]
          }
        ]
      }

      }

      ```


      **Note:** Filters only support the "AND" operator. "OR" is not supported. 
      In the example above, only data where the sending domain equals
      `example.com` and the tag equals `newsletter` will be returned.


      **Filter Components:**

      - **attribute**: The field to filter on (domain, tag, subaccount)

      - **comparator**: The comparison operator (=, !=, contains, not contains)

      - **values**: Array of values to match against


      ### Aggregates


      When `include_aggregates` is set to `true`, the API returns top-level
      summary statistics across all your queried data. This gives you totals and
      averages without having to sum the individual items yourself.


      ### Subaccounts


      If you use Mailgun's subaccount feature, you can:

      - Query metrics for a specific subaccount using filters

      - Include all subaccounts' data with `include_subaccounts: true`

      - View aggregated data across all subaccounts


      ## Data Retention


      Mailgun retains metrics data for different durations based on resolution:

      - **Hourly**: 60 days

      - **Daily**: 1 year

      - **Monthly**: Indefinitely 


      ## Pagination


      For queries that return large result sets, the API uses offset-based
      pagination with `skip` and `limit` request attributes.


      - `skip` specifies how many items to offset (skip) from the beginning of
      the result set.

      - `limit` specifies the maximum number of items to return in a single
      request.


      Defaults and limits:

      - Default page size varies by dimension. Default for time dimension is
      1500 items. All other dimensions default to 10 items.

      - Maximum `limit` is 1500 for the time dimension and 1000 for all other
      dimensions.


      How pagination works:

      - Start with `skip=0` and a desired `limit` (for example, `limit=1000`).

      - Retrieve the next page by increasing `skip` by the value of `limit`:

      - First page: `skip=0`, `limit=1000`

      - Second page: `skip=1000`, `limit=1000`

      - Third page: `skip=2000`, `limit=1000`

      - Continue paging until fewer items than the specified `limit` are
      returned.


      Additional details:

      - The response includes a `pagination` object containing the total number
      of available items.

      - Results can be sorted using the `sort` parameter, for example `time:asc`
      or `time:desc`. 

      For consistent pagination, use a deterministic sort order.


      ## Rate Limits and Quotas


      - API calls are subject to a rate limit of 500 requests every 10 seconds
    x-displayName: Metrics
  - name: Logs
    description: >-
      Mailgun keeps track of every inbound and outbound message event and stores
      this log data. Using this logs API, this data can be queried and filtered
      to provide insights into the health of your email infrastructure.
    x-displayName: Logs
  - name: Tags New
    description: >-
      Mailgun allows you to tag your email with unique identifiers. Tags are
      visible via our analytics tags API endpoint.
    x-displayName: Tags New
  - name: Send Alerts
    description: >-
      Mailgun allows you to get instant notifications on the sending metrics
      that matter most, configured specifically for your unique business needs
      and assets. Route these alerts to the channels your team relies on. Stay
      on top of sending performance without the need to manually monitor.
    x-displayName: Send Alerts
  - name: Limits
    description: >-
      Mailgun allows you to set limits on your subaccounts to help you manage
      usage and costs. You can create, update, retrieve, and delete limits for
      various pre-send features such as email previews and email validations.
    x-displayName: Limits
  - name: Alerts
    x-displayName: Alerts
  - name: Unsubscribe
    description: >-
      Unsubscribe list stores email addresses of recipients who unsubscribed
      from your mailings by clicking a Mailgun generated unsubscribe link.
    x-displayName: Unsubscribe
  - name: Complaints
    description: >-
      Email addresses of recipients who marked your messages as a spam (for ESPs
      that support FBL).
    x-displayName: Complaints
  - name: Bounces
    description: >-
      Bounces - Bounce list stores events of delivery failures due to permanent
      recipient mailbox errors such as non-existent mailbox. Soft bounces (for
      example, mailbox is full) and other failures (for example, ESP rejects an
      email because it thinks it is spam) are not added to the list.
    x-displayName: Bounces
  - name: Allowlist
    description: >-
      The allowlist API provides the ability to allowlist specific addresses
      from being added to bounce list. You can allowlist by domain name (i.e
      example.com) or by specific address (i.e. alice@example.com). Mailgun
      doesn’t add an address to bounce list if the address is allowlisted. This
      API is very useful if you test against your private services and don’t
      want to constantly clean up bounce lists
    x-displayName: Allowlist
  - name: Routes
    description: >-
      Define a list of routes to handle incoming emails. When a message matches
      a route expression, Mailgun can forward it on to your application via HTTP
      or another email address, or store the message temporarily (3 days) for
      subsequent retrieval.
    x-displayName: Routes
  - name: Mailing Lists
    description: Programatically create mailing lists.
    x-displayName: Mailing Lists
  - name: Account Templates
    description: >-
      This API allows you to store predefined templates at the account level and
      use them to send messages using the Sending API.
    x-displayName: Account Templates
  - name: Domain Templates
    description: >-
      This API allows you to store predefined templates at the domain level and
      use them to send messages using the Sending API.
    x-displayName: Domain Templates
  - name: Account Management
    description: Perform account-level CRUD operations.
    x-displayName: Account Management
  - name: Custom Message Limit
    description: >-
      The custom message limit imposes a hard limit on how many messages your
      account can send during a calendar month.
    x-displayName: Custom Message Limit
  - name: Subaccounts
    description: >-
      Mailgun supports the creation, modification, and deletion of subaccounts.
      A subaccount is a child account of a parent account. The parent account
      can have multiple subaccounts. The subaccounts are created and managed by
      the parent account.
    x-displayName: Subaccounts
  - name: Credentials
    description: The Credentials API lets you view and manage SMTP credentials.
    x-displayName: Credentials
  - name: IP Allowlist
    description: >-
      The IP Allowlist API lets you view and manage allowlisted IP addresses to
      which API key and SMTP credential usage is restricted.
    x-displayName: IP Allowlist
  - name: Keys
    description: The Keys API lets you view and manage API keys.
    x-displayName: Keys
  - name: Bounce Classification
    x-displayName: Bounce Classification
  - name: Forwards
    description: This API allows you to manage forwarding of incoming emails.
    x-displayName: Forwards
  - name: Users
    description: Mailgun API supports viewing user entities.
    x-displayName: Users
paths:
  /v3/{domain_name}/messages:
    post:
      tags:
        - Messages
      summary: Send an email
      description: >-
        Pass the components of the messages such as To, From, Subject, HTML,
        text parts, attachments, etc. Mailgun will build a MIME representation
        of the message and send it. In order to send you must provide one of the
        following parameters: 'text', 'html', 'amp-html' or 'template'.
        Important: Send options (parameters starting with o:, h:, v:, or t:) are
        limited to 16KB total
      operationId: POST-v3--domain-name--messages
      parameters:
        - name: domain_name
          in: path
          description: Domain name used to send the message
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v3-domain_name-messages-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse
              examples:
                Example:
                  value:
                    id: message-id
                    message: Queued. Thank you.
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      A simple message describing the issue - A few examples:'to
                      parameter is not a valid address. please check
                      documentation.' 'Only one parameters 'html' or 'template'
                      is allowed.' 'Need at least one of 'text', 'html',
                      'amp-html' or 'template' parameters specified.' 'from
                      parameter is missing. ''Send options (parameters starting
                      with o:, h:, or v:) are limited to 16KB total'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/string'
              examples:
                Example:
                  value: Forbidden
        '429':
          description: A 429 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      Domain example.com is not allowed to send:
                      account-requests-per-sec limit exceeded, try again after
                      120 seconds
        '500':
          description: A 500 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: Internal Server Error
      security:
        - basicAuth: []
  /v3/{domain_name}/messages.mime:
    post:
      tags:
        - Messages
      summary: Send an email in MIME format
      description: >-
        Build a MIME string yourself using a MIME library and submit it to
        Mailgun. Important: Send options (parameters starting with o:, h:, v:,
        or t:) are limited to 16KB total
      operationId: POST-v3--domain-name--messages-mime
      parameters:
        - name: domain_name
          in: path
          description: Domain name used to send the message
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v3-domain_name-messages-mime-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse
              examples:
                Example:
                  value:
                    id: message-id
                    message: Queued. Thank you.
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      A simple message describing the issue - A few examples:'to
                      parameter is not a valid address. please check
                      documentation.' 'Only one parameters 'html' or 'template'
                      is allowed.' 'Need at least one of 'text', 'html',
                      'amp-html' or 'template' parameters specified.' 'from
                      parameter is missing. ''Send options (parameters starting
                      with o:, h:, or v:) are limited to 16KB total'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/string'
              examples:
                Example:
                  value: Forbidden
        '429':
          description: A 429 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: >-
                      Domain example.com is not allowed to send:
                      account-requests-per-sec limit exceeded, try again after
                      120 seconds
        '500':
          description: A 500 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: Internal Server Error
      security:
        - basicAuth: []
  /v3/domains/{domain_name}/messages/{storage_key}:
    get:
      tags:
        - Messages
      summary: Retrieve a stored email
      description: >-
        Event(s) created from sending an email with Mailgun will contain a
        `storage.key` to use to retrieve the email.
      operationId: GET-v3-domains--domain-name--messages--storage-key-
      parameters:
        - name: domain_name
          in: path
          description: Domain name that was used to send the email
          required: true
          schema:
            type: string
        - name: storage_key
          in: path
          description: >-
            Storage key from the email's associated events (Example:
            Accepted/Delivered events `storage.key` field). Note: Storage keys
            are available for the duration of your domain's message retention
            policy.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseBasicExample
              examples:
                Example:
                  value:
                    Content-Transfer-Encoding: 7bit
                    Content-Type: multipart/form-data; boundary=----SomeFormBoundaryABC123
                    From: foo.bar@my-domain.com
                    Message-Id: <xxxxxxxxxxxxx.111111111111111@my-domain.com>
                    Mime-Version: '1.0'
                    Subject: '"Mailgun is awesome"'
                    To: Cool Bar <cool.barr@cool.com>, bar.baz@gmail.com
                    X-Mailgun-Tag: Earth
                    sender: foo.bar@my-domain.com
                    recipients: cool.barr@cool.com, bar.baz@gmail.com
                    body-html: <html>This is some html</html>
                    body-plain: This is some html
                    stripped-html: <html>This is some html</html>
                    stripped-text: This is some html
                    stripped-signature: >-
                      the signature block stripped from the plain text message
                      (if found)
                    message-headers:
                      - - Mime-Version
                        - '1.0'
                      - - Subject
                        - '"Mailgun is awesome"'
                      - - From
                        - foo.bar@my-domain.com
                      - - To
                        - cool.barr@cool.com, bar.baz@gmail.com
                      - - X-Mailgun-Tag
                        - Earth
                      - - Message-Id
                        - <xxxxxxxxxxxxx.111111111111111@my-domain.com>
                      - - Content-Transfer-Encoding
                        - 7bit
                      - - Content-Type
                        - text/html; charset=ascii
                    X-Mailgun-Template-Name: my-awesome-template
                    X-Mailgun-Template-Variables: '{"name":"Foo","phrase":"Bar"}'
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseBadRequest
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-GetMessageResponseNotFound
              examples:
                Example:
                  value:
                    message: Message not found
      security:
        - basicAuth: []
    post:
      tags:
        - Messages
      summary: Resend an email
      operationId: POST-v3-domains--domain-name--messages--storage-key-
      parameters:
        - name: domain_name
          in: path
          description: Domain name used to send the message
          required: true
          schema:
            type: string
        - name: storage_key
          in: path
          description: >-
            Storage key from the email's associated events (Example:
            Accepted/Delivered events `storage.key` field). Note: Storage keys
            are available for the duration of your domain's message retention
            policy.
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v3-domains-domain_name-messages-storage_key-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-influx-httpapi-SendMessageResponse
              examples:
                Example:
                  value:
                    id: message-id
                    message: Queued. Thank you.
      security:
        - basicAuth: []
  /v4/domains:
    get:
      tags:
        - Domains
      summary: Get domains
      description: >-
        Get the list of domains. Can be filtered by state or authority. Sorting
        is optional. The list is paginated and limited to 1000 items per page.
      operationId: GET-v4-domains
      parameters:
        - name: limit
          in: query
          description: 'Max count of items. Max: 1000. Default: 100'
          schema:
            type: integer
        - name: skip
          in: query
          description: 'Get the list of items starting at the nth element. Default: 0'
          schema:
            type: integer
        - name: state
          in: query
          description: >-
            Get only domains with a specific state. Can be either active,
            unverified or disabled.
          schema:
            type: string
        - name: sort
          in: query
          description: >-
            Valid sort options are `name` which defaults to asc order,
            `name:asc`, or `name:desc`. If sorting is not specified domains are
            returned in reverse creation date order.
          schema:
            type: string
        - name: authority
          in: query
          description: >-
            Get only domains with a specific authority. If state is specified
            then only state filtering will be proceed
          schema:
            type: string
        - name: search
          in: query
          description: >-
            Search domains by the given partial or complete name. Does not
            support wildcards
          schema:
            type: string
        - name: include_subaccounts
          in: query
          description: >-
            Search on every domain that belongs to any subaccounts under this
            account. Default to false.
          schema:
            type: boolean
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-ListDomainResponse
              examples:
                200 without subaccount domains:
                  value:
                    total_count: 1
                    items:
                      - created_at: Mon, 02 Jan 2006 15:04:05 MST
                        id: '1'
                        name: example.com
                        state: unverified
                        type: custom
                        web_prefix: email
                        disabled:
                          code: blacklisted
                          note: for debugging
                          permanently: true
                          reason: bad customer
                200 with subaccount domains:
                  value:
                    total_count: 1
                    items:
                      - created_at: Mon, 02 Jan 2006 15:04:05 MST
                        id: '1'
                        name: example.com
                        subaccount_id: 6fr783930fhhriu673
                        state: unverified
                        type: custom
                        web_prefix: email
                        disabled:
                          code: blacklisted
                          note: for debugging
                          permanently: true
                          reason: bad customer
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
    post:
      tags:
        - Domains
      summary: Create a domain
      description: Creates a domain for sending emails
      operationId: POST-v4-domains
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v4-domains-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainResp
              examples:
                Example:
                  value:
                    message: Domain DNS records have been created
                    domain:
                      created_at: Thu, 13 Oct 2011 18:02:00 GMT
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: active
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
                      encrypt_incoming_message: true
                      message_ttl: 86400
                    receiving_dns_records:
                      - cached: []
                        name: example.com
                        priority: '10'
                        record_type: MX
                        valid: unknown
                    sending_dns_records:
                      - cached:
                          - mxa.example.com
                          - mxb.example.com
                        name: example.com
                        priority: '10'
                        record_type: A
                        valid: valid
                        value: 1.2.3.4
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    message: >-
                      Password is too short. It must be between 5 and 32
                      characters.
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
  /v4/domains/{name}:
    get:
      tags:
        - Domains
      summary: Get domain details
      description: >-
        Fetches json representation of a domain that includes details about the
        domain's state and settings.
      operationId: GET-v4-domains--name-
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to fetch
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-FindDomainByNameResp
              examples:
                Example:
                  value:
                    domain:
                      created_at: Thu, 13 Oct 2011 18:02:00 GMT
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: active
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
                    receiving_dns_records:
                      - is_active: true
                        cached:
                          - 10 mxa.mailgun.org
                          - 10 mxb.mailgun.org
                        priority: '10'
                        record_type: MX
                        valid: valid
                        value: mxa.mailgun.org
                      - is_active: true
                        cached:
                          - 10 mxa.mailgun.org
                          - 10 mxb.mailgun.org
                        priority: '10'
                        record_type: MX
                        valid: valid
                        value: mxb.mailgun.org
                    sending_dns_records:
                      - is_active: true
                        cached:
                          - v=spf1 include:mailgun.org ~all
                        name: mg.example.com
                        record_type: TXT
                        valid: valid
                        value: v=spf1 include:mailgun.org ~all
                      - is_active: true
                        cached:
                          - k=rsa; p=M......
                        name: mx._domainkey.mg.example.com
                        record_type: TXT
                        valid: valid
                        value: k=rsa; p=M......
                      - is_active: true
                        cached:
                          - mailgun.org
                        name: email.mg.example.com
                        record_type: CNAME
                        valid: valid
                        value: mailgun.org
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    put:
      tags:
        - Domains
      summary: Update domain
      description: >-
        Update domain configuration like smtp credentials, enable/disable
        automatic sender security, spam actions, wildcard, or tracking web
        scheme.
      operationId: PUT-v4-domains--name-
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v4-domains-name-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainResp
              examples:
                Example:
                  value:
                    domain:
                      created_at: Thu, 13 Oct 2011 18:02:00 GMT
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: active
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
                    receiving_dns_records:
                      - cached: []
                        name: example.com
                        priority: '10'
                        record_type: MX
                        valid: unknown
                    sending_dns_records:
                      - cached:
                          - mxa.example.com
                          - mxb.example.com
                        name: example.com
                        priority: '10'
                        record_type: A
                        valid: valid
                        value: 1.2.3.4
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v4/domains/{name}/verify:
    put:
      tags:
        - Domains
      summary: Verify Domain
      description: >-
        Verify the domains DNS records (includes A, CNAME, SPF, DKIM and MX
        records) to ensure the domain is ready and able to send
      operationId: PUT-v4-domains--name--verify
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to verify
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-VerifyDomainResponse
              examples:
                Example:
                  value:
                    message: Domain DNS records have been updated
                    domain:
                      created_at: Mon, 02 Jan 2006 15:04:05 MST
                      id: '123456789012345678901234'
                      name: example.com
                      require_tls: true
                      smtp_login: postmaster@example.com
                      spam_action: disabled
                      state: unverified
                      type: sandbox
                      use_automatic_sender_security: true
                      web_prefix: email
                      web_scheme: http
                      disabled:
                        code: blacklisted
                        note: for debugging
                        permanently: true
                        reason: bad customer
                    sending_dns_records:
                      - cached:
                          - mxa.example.com
                          - mxb.example.com
                        name: example.com
                        priority: '10'
                        record_type: A
                        valid: valid
                        value: 0.0.0.0
                    receiving_dns_records:
                      - cached:
                          - mxa.example.com
                          - mxb.example.com
                        name: example.com
                        priority: '10'
                        record_type: A
                        valid: valid
                        value: 0.0.0.0
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
        '429':
          description: A 429 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
      security:
        - basicAuth: []
  /v3/domains/{name}:
    delete:
      tags:
        - Domains
      summary: Delete a domain
      description: >-
        The domain must not be disabled or used as an authority for an other
        domain. Sandbox domain can't be deleted.
      operationId: DELETE-v3-domains--name-
      parameters:
        - name: name
          in: path
          description: The name of the domain to delete
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain will be deleted in the background
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{domain}/webhooks:
    get:
      tags:
        - Domain Webhooks
      summary: Get domain webhooks
      description: Returns all webhooks for the domain.
      operationId: GET-v3-domains--domain--webhooks
      parameters:
        - name: domain
          in: path
          description: Domain name you want webhooks for
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetAllDomainWebhooksResp
              examples:
                Example:
                  value:
                    webhooks:
                      accepted:
                        urls:
                          - https://foo.com
                          - https://bar.com
                      delivered:
                        urls:
                          - https://foo.com
                          - https://bar.com
                      opened:
                        urls:
                          - https://foo.com
                          - https://bar.com
                      clicked:
                        urls:
                          - https://foo.com
                          - https://bar.com
                      unsubscribed:
                        urls:
                          - https://foo.com
                          - https://bar.com
                      complained:
                        urls:
                          - https://foo.com
                          - https://bar.com
                      temporary_fail:
                        urls:
                          - https://foo.com
                          - https://bar.com
                      permanent_fail:
                        urls:
                          - https://foo.com
                          - https://bar.com
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    post:
      tags:
        - Domain Webhooks
      summary: Create a domain webhook
      description: >-
        Create a list of webhook URLs you'd like to receive Mailgun's POST
        requests containing event information.
      operationId: POST-v3-domains--domain--webhooks
      parameters:
        - name: domain
          in: path
          description: The domain name to create the webhook for
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v3-domains-domain-webhooks-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainWebhookResp
              examples:
                Example:
                  value:
                    message: Webhook has been created
                    webhook:
                      urls:
                        - https://foo.com
                        - https://bar.com
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: 'https://example.com/ is not a valid url: host not found'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{domain_name}/webhooks/{webhook_name}:
    get:
      tags:
        - Domain Webhooks
      summary: Get domain webhooks by type
      description: Get the list of url(s) for a webhook identified by its webhook_name.
      operationId: GET-v3-domains--domain-name--webhooks--webhook-name-
      parameters:
        - name: domain_name
          in: path
          description: Domain name you want webhooks for
          required: true
          schema:
            type: string
        - name: webhook_name
          in: path
          description: The webhook type you wish to retrieve.
          required: true
          schema:
            type: string
            enum:
              - accepted
              - clicked
              - opened
              - unsubscribed
              - delivered
              - permanent_fail
              - temporary_fail
              - complained
            x-enumDescriptions:
              accepted: >-
                The accepted event occurs when Mailgun accepts a message for
                delivery.
              clicked: >-
                The clicked event occurs when a recipient clicks a link in the
                email. This requires click tracking to be enabled for the
                domain.
              opened: >-
                The opened event occurs when a recipient opens the email. This
                requires open tracking to be enabled for the domain.
              unsubscribed: >-
                The unsubscribed event occurs when a recipient unsubscribes
                using an unsubscribe mechanism in your email (for example, a
                list-unsubscribe link).
              delivered: >-
                The delivered event occurs when an email is successfully
                delivered to the recipient's mail server.
              permanent_fail: >-
                The permanent_fail event occurs when an email cannot be
                delivered due to a permanent error.
              temporary_fail: >-
                The temporary_fail event occurs when an email cannot be
                delivered due to a temporary error.
              complained: >-
                The complained event occurs when a recipient marks your email as
                spam or their email provider registers a spam complaint.
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetDomainWebhookResp
              examples:
                Example:
                  value:
                    webhook:
                      urls:
                        - https://foo.com
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    put:
      tags:
        - Domain Webhooks
      summary: Update domain webhook
      description: >-
        Replace the list of urls by the given one with the `url` param. Here is
        the list of supported webhook: `accepted`, `opened`, `clicked`,
        `unsubscribed`, `delivered`, `permanent_fail`, `temporary_fail` and
        `complained`.
      operationId: PUT-v3-domains--domain-name--webhooks--webhook-name-
      parameters:
        - name: domain_name
          in: path
          description: The name of the domain you want to get webhook from
          required: true
          schema:
            type: string
        - name: webhook_name
          in: path
          description: The webhook type to update.
          required: true
          schema:
            type: string
            enum:
              - accepted
              - clicked
              - opened
              - unsubscribed
              - delivered
              - permanent_fail
              - temporary_fail
              - complained
            x-enumDescriptions:
              accepted: >-
                The accepted event occurs when Mailgun accepts a message for
                delivery.
              clicked: >-
                The clicked event occurs when a recipient clicks a link in the
                email. This requires click tracking to be enabled for the
                domain.
              opened: >-
                The opened event occurs when a recipient opens the email. This
                requires open tracking to be enabled for the domain.
              unsubscribed: >-
                The unsubscribed event occurs when a recipient unsubscribes
                using an unsubscribe mechanism in your email (for example, a
                list-unsubscribe link).
              delivered: >-
                The delivered event occurs when an email is successfully
                delivered to the recipient's mail server.
              permanent_fail: >-
                The permanent_fail event occurs when an email cannot be
                delivered due to a permanent error.
              temporary_fail: >-
                The temporary_fail event occurs when an email cannot be
                delivered due to a temporary error.
              complained: >-
                The complained event occurs when a recipient marks your email as
                spam or their email provider registers a spam complaint.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-domain_name-webhooks-webhook_name-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainWebhookResp
              examples:
                Example:
                  value:
                    message: Webhook has been updated
                    webhook:
                      urls:
                        - https://foo.com
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: 'https://example.com/ is not a valid url: host not found'
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    delete:
      tags:
        - Domain Webhooks
      summary: Delete domain webhooks by type
      description: Remove all url(s) for a specified webhook type.
      operationId: DELETE-v3-domains--domain-name--webhooks--webhook-name-
      parameters:
        - name: domain_name
          in: path
          description: The domain name you want to delete the webhook(s) for
          required: true
          schema:
            type: string
        - name: webhook_name
          in: path
          description: The name of the webhook to delete.
          required: true
          schema:
            type: string
            enum:
              - accepted
              - clicked
              - opened
              - unsubscribed
              - delivered
              - permanent_fail
              - temporary_fail
              - complained
            x-enumDescriptions:
              accepted: >-
                The accepted event occurs when Mailgun accepts a message for
                delivery.
              clicked: >-
                The clicked event occurs when a recipient clicks a link in the
                email. This requires click tracking to be enabled for the
                domain.
              opened: >-
                The opened event occurs when a recipient opens the email. This
                requires open tracking to be enabled for the domain.
              unsubscribed: >-
                The unsubscribed event occurs when a recipient unsubscribes
                using an unsubscribe mechanism in your email (for example, a
                list-unsubscribe link).
              delivered: >-
                The delivered event occurs when an email is successfully
                delivered to the recipient's mail server.
              permanent_fail: >-
                The permanent_fail event occurs when an email cannot be
                delivered due to a permanent error.
              temporary_fail: >-
                The temporary_fail event occurs when an email cannot be
                delivered due to a temporary error.
              complained: >-
                The complained event occurs when a recipient marks your email as
                spam or their email provider registers a spam complaint.
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateDomainWebhookResp
              examples:
                Example:
                  value:
                    message: Webhook has been deleted
                    webhook:
                      urls:
                        - https://foo.com
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v4/domains/{domain}/webhooks:
    put:
      tags:
        - Domain Webhooks
      summary: Update domain webhooks (v4)
      description: >-
        Update webhook URL to associate it with different event types. This
        replaces the existing event type associations for the given URL.
      operationId: PUT-v4-domains--domain--webhooks
      parameters:
        - name: domain
          in: path
          description: The domain name to update webhooks for
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/PUT-v4-domains-domain-webhooks-application-x-www-form-urlencoded-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetAllDomainWebhooksResp
              examples:
                Example:
                  value:
                    webhooks:
                      delivered:
                        urls:
                          - https://example.com/webhooks
                      opened:
                        urls:
                          - https://example.com/webhooks
                      clicked:
                        urls:
                          - https://foo.com
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: >-
                      invalid parameters: https://invalid is not a valid url:
                      invalid URL scheme
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    Description: Webhook not found
      security:
        - basicAuth: []
    post:
      tags:
        - Domain Webhooks
      summary: Create domain webhooks (v4)
      description: >-
        Create webhook URLs for multiple event types in a single operation. This
        v4 endpoint allows associating one URL with multiple webhook event
        types.
      operationId: POST-v4-domains--domain--webhooks
      parameters:
        - name: domain
          in: path
          description: The domain name to create webhooks for
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/POST-v4-domains-domain-webhooks-application-x-www-form-urlencoded-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetAllDomainWebhooksResp
              examples:
                Example:
                  value:
                    webhooks:
                      accepted:
                        urls:
                          - https://example.com/webhooks
                      delivered:
                        urls:
                          - https://example.com/webhooks
                      clicked:
                        urls:
                          - https://foo.com
                      permanent_fail:
                        urls:
                          - https://bar.com
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Reason: >-
                      Webhook for event type 'clicked' with URL
                      'https://example.com/webhooks' already exists
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
    delete:
      tags:
        - Domain Webhooks
      summary: Delete domain webhooks (v4)
      description: >-
        Delete webhook URLs from all event types they are associated with.
        Supports deleting multiple URLs at once by repeating the `url` query
        parameter.
      operationId: DELETE-v4-domains--domain--webhooks
      parameters:
        - name: domain
          in: path
          description: The domain name to delete webhooks from
          required: true
          schema:
            type: string
        - name: url
          in: query
          description: >-
            The webhook URL to delete. The URL is removed from all event types
            it's associated with. To delete multiple URLs in one request, repeat
            the parameter (e.g.,
            `?url=https://a.example&url=https://b.example`).
          required: true
          schema:
            type: array
            items:
              type: string
              format: uri
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetAllDomainWebhooksResp
              examples:
                Example:
                  value:
                    webhooks:
                      delivered:
                        urls:
                          - https://example.com/webhooks
                      clicked:
                        urls:
                          - https://foo.com
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericAPIError
              examples:
                Example:
                  value:
                    Field: url
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking:
    get:
      tags:
        - Domain Tracking
      summary: Get tracking settings
      description: >-
        Use to check if open, click and unsubscribe tracking are
        active/inactive.
      operationId: GET-v3-domains--name--tracking
      parameters:
        - name: name
          in: path
          description: The name of the domain to fetch tracking details for.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-GetDomainTrackingResp
              examples:
                Example:
                  value:
                    tracking:
                      open:
                        active: true
                      click:
                        active: true
                      unsubscribe:
                        active: true
                        html_footer: 'off'
                        text_footer: 'on'
                      web_scheme: http
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking/click:
    put:
      tags:
        - Domain Tracking
      summary: Update click tracking settings
      description: Use to turn on/off the click tracking at the domain level.
      operationId: PUT-v3-domains--name--tracking-click
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-tracking-click-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainTrackingClickResp
              examples:
                Example:
                  value:
                    message: Domain tracking settings have been updated
                    click:
                      active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking/open:
    put:
      tags:
        - Domain Tracking
      summary: Update open tracking settings
      description: Use to turn on/off the open tracking at the domain level.
      operationId: PUT-v3-domains--name--tracking-open
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-tracking-open-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainTrackingOpenResp
              examples:
                Example:
                  value:
                    message: Domain tracking settings have been updated
                    open:
                      active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/tracking/unsubscribe:
    put:
      tags:
        - Domain Tracking
      summary: Update unsubscribe tracking settings
      description: Use to turn on/off the unsubscribe tracking at the domain level.
      operationId: PUT-v3-domains--name--tracking-unsubscribe
      parameters:
        - name: name
          in: path
          description: The name of the domain you want to update
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-tracking-unsubscribe-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainTrackingUnsubscribeResp
              examples:
                Example:
                  value:
                    message: Domain tracking settings have been updated
                    unsubscribe:
                      active: true
                      html_footer: |
                        <br>
                        <p><a href="%unsubscribe_url%">unsubscribe</a></p>
                      text_footer: |+
                        To unsubscribe click: <%unsubscribe_url%>

        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v1/dkim/keys:
    get:
      tags:
        - Domain Keys
      summary: List keys for all domains
      description: >-
        List domain keys, and optionally filter by signing domain or selector.
        Results are paginated - use the 'limit' parameter to control page size
        (default 10, max 100). Use the 'page' parameter from the paging response
        URLs to navigate through pages.
      operationId: GET-v1-dkim-keys
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/GET-v1-dkim-keys-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-DomainKeyListResponse
              examples:
                Example:
                  value:
                    items:
                      - signing_domain: authority.domain.tld
                        selector: s1
                        dns_record:
                          is_active: true
                          cached:
                            - cached dns value
                          name: s1._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: VALID
                          value: expected dns value
                      - signing_domain: authority.domain.tld
                        selector: s2
                        dns_record:
                          cached:
                            - cached dns value
                          name: s2._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: UNKNOWN
                          value: expected dns value
                    paging:
                      previous: /v1/dkim/keys?page=<previous_page_token>
                      first: /v1/dkim/keys
                      next: /v1/dkim/keys?page=<encoded_page_token>
                      last: /v1/dkim/keys?page=<last_page_token>
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
    post:
      tags:
        - Domain Keys
      summary: Create a domain key
      description: "Create a domain key. Note that once private keys are created or imported they are never exported.\nAlternatively, you can import an existing PEM file containing a RSA private key in PKCS #1, ASn.1 DER\n\t\t\t   format. Note, the pem can be passed as a file attachment or as a form-string parameter."
      operationId: POST-v1-dkim-keys
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v1-dkim-keys-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-DomainKeyResponse
              examples:
                Example:
                  value:
                    signing_domain: example.com
                    selector: s1
                    dns_record:
                      cached: []
                      name: s1._domainkey.example.com
                      record_type: TXT
                      valid: unknown
                      value: k=rsa; p=<public_key>
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
    delete:
      tags:
        - Domain Keys
      summary: Delete a domain key
      description: Domain keys are not recoverable after deletion so use with care
      operationId: DELETE-v1-dkim-keys
      parameters:
        - name: signing_domain
          in: query
          description: Signing Domain
          required: true
          schema:
            type: string
        - name: selector
          in: query
          description: Selector
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: success
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: >-
                      cannot delete domain key: must have at least one active
                      domain key
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: domain key not found
      security:
        - basicAuth: []
  /v4/domains/{authority_name}/keys/{selector}/activate:
    put:
      tags:
        - Domain Keys
      summary: Activate a domain key
      description: >-
        Activate a key to be used to DKIM sign emails with. Note: dns records
        must be valid for a domain key to be activated
      operationId: PUT-v4-domains--authority-name--keys--selector--activate
      parameters:
        - name: authority_name
          in: path
          description: >-
            The domain authority name you want to activate. Must be a valid
            domain
          required: true
          schema:
            type: string
        - name: selector
          in: path
          description: >-
            The selector you want to activate for the domain key. Must be a
            valid dot atom
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainKeyResp
              examples:
                Example:
                  value:
                    message: domain key activated
                    authority: authority.domain.tld
                    selector: selector
                    active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: domain key not found
      security:
        - basicAuth: []
  /v4/domains/{authority_name}/keys:
    get:
      tags:
        - Domain Keys
      summary: List domain keys
      description: >-
        List all domain keys for your domain, including active/inactive and
        valid/invalid ones.
      operationId: GET-v4-domains--authority-name--keys
      parameters:
        - name: authority_name
          in: path
          description: >-
            The domain authority name you want to list the domain keys for. Must
            be a valid domain
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-AuthorityKeysResponse
              examples:
                Example:
                  value:
                    items:
                      - signing_domain: authority.domain.tld
                        selector: s1
                        dns_record:
                          is_active: true
                          cached:
                            - cached dns value
                          name: s1._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: VALID
                          value: expected dns value
                      - signing_domain: authority.domain.tld
                        selector: s2
                        dns_record:
                          cached:
                            - cached dns value
                          name: s2._domainkey.authority.domain.tld
                          record_type: TXT
                          valid: UNKNOWN
                          value: expected dns value
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
      security:
        - basicAuth: []
  /v4/domains/{authority_name}/keys/{selector}/deactivate:
    put:
      tags:
        - Domain Keys
      summary: Deactivate a domain key
      description: >-
        Deactivating for a specified authority and/or selector means a key won't
        be used for signing email anymore, even if they are valid.
      operationId: PUT-v4-domains--authority-name--keys--selector--deactivate
      parameters:
        - name: authority_name
          in: path
          description: >-
            The domain authority name you want to deactivate. Must be a valid
            domain
          required: true
          schema:
            type: string
        - name: selector
          in: path
          description: >-
            The selector you want to deactivate for the domain key. Must be a
            valid dot atom
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-UpdateDomainKeyResp
              examples:
                Example:
                  value:
                    message: domain key deactivated
                    authority: authority.domain.tld
                    selector: selector
                    active: true
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: domain key not found
      security:
        - basicAuth: []
  /v3/domains/{name}/dkim_authority:
    put:
      tags:
        - Domain Keys
      summary: Update DKIM authority
      description: >-
        You can delegate the domain authority to an other domain. Domain's
        authority is set to itself by default.
      operationId: PUT-v3-domains--name--dkim-authority
      parameters:
        - name: name
          in: path
          description: The domain name
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-dkim_authority-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-ReassignDkimAuthorityResp
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v3/domains/{name}/dkim_selector:
    put:
      tags:
        - Domain Keys
      summary: Update a DKIM selector
      description: >-
        Selector is the unique identifier of your key. It has to be different
        from other keys selector.
      operationId: PUT-v3-domains--name--dkim-selector
      parameters:
        - name: name
          in: path
          description: The domain name
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/PUT-v3-domains-name-dkim_selector-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: DKIM selector changed
        '401':
          description: A 401 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Invalid private key
        '404':
          description: A 404 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Domain not found
      security:
        - basicAuth: []
  /v1/webhooks:
    get:
      tags:
        - Account Webhooks
      summary: List account-level webhooks
      description: >-
        Retrieve all account-level webhooks or filter by specific webhook IDs.
        Returns webhook details including associated event types.
      operationId: GET-v1-webhooks
      parameters:
        - name: webhook_ids
          in: query
          description: >-
            Comma-separated list of webhook IDs to filter results. If specified,
            only webhooks with matching IDs will be returned.
          schema:
            type: string
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-AccountLevelWebhooksResp
              examples:
                Example:
                  value:
                    webhooks:
                      - webhook_id: 507f1f77bcf86cd799439011
                        description: Production alerts webhook
                        url: https://api.example.com/webhooks/mailgun
                        event_types:
                          - delivered
                          - permanent_fail
                          - complained
                        created_at: '2026-02-16T19:06:01Z'
                      - webhook_id: 507f1f77bcf86cd799439012
                        description: Analytics webhook
                        url: https://analytics.example.com/mailgun
                        event_types:
                          - opened
                          - clicked
                        created_at: '2026-02-16T19:06:01Z'
        '403':
          description: A 403 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    message: Forbidden
      security:
        - basicAuth: []
    post:
      tags:
        - Account Webhooks
      summary: Create an account-level webhook
      description: >-
        Create account-level webhook URLs to receive Mailgun's POST requests
        containing event information across all domains in your account. Note:
        Webhook changes can take up to 10 minutes to become effective due to
        caching.
      operationId: POST-v1-webhooks
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: >-
                #/components/schemas/POST-v1-webhooks-multipart-form-data-RequestBody
        required: true
      responses:
        '200':
          description: A 200 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-domains-httpapi-CreateAccountLevelWebhookResp
              examples:
                Example:
                  value:
                    webhook_id: 507f1f77bcf86cd799439011
        '400':
          description: A 400 response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/github.com-mailgun-scaffold-httpapi-GenericResponse
              examples:
                Example:
                  value:
                    Field: event_types
[...]
