'openapi': '3.0.2'
'info':
  'title': 'Sellsy API'
  'version': '2.207.0'
  'description': "Find out the [Postman collections](dist/postman/CollectionsApiV2.json) with the required [environment variables](dist/postman/Environment.json)


    Find out the [Changelog](changelog.html)

    # Unicity of Identifiers

    \  <div style=\"padding:17px; border-radius: 2px; margin-bottom: 4px; line-height: 1.5em; color: #9A7D36; background-color: #fff2cf; cursor: default;\">

    \  <b>Since August 22, 2024 and as part of a major architectural change aimed at strengthening data segregation, each Sellsy account is now independent in managing the numbering of its objects</b> (contacts, opportunities, products, documents, etc.).




    \  [More information in the FAQ](https://help.sellsy.com/fr/articles/9565757-bonnes-pratiques-api-suite-migration)




    \  </div>


    # Errors


    The errors are returned in JSON with the following format:

    ```

    {

    \  \"error\": {

    \     \"code\": HTTP_CODE,

    \     \"message\": \"Error message\",

    \     \"context\": \"Error context code\"

    \     \"details\": {

    \          \"FIELD\": \"Error message\"

    \     }

    }

    ```


    The `details` field can contain an object that details the error. It is used in particular during validation to return the invalid fields



    | HTTP Code     | Description   |

    | ------------- | ------------- |

    | 400           | Validation and logic errors |

    | 401           | Authentication errors |

    | 402           | Quotas limit reached or limit of feature reached on your current plan |

    | 403           | Insufficient privileges  |

    | 404           | Page not found |

    | 409           | A request conflicts with the current state of the server |

    | 413           | Payload is too large |

    | 429           | Quotas of requests reached (See quotas section) |

    | 5xx           | Server errors |



    # Versioning


    This API is versioned, the modifications carried out on this one should not generate regression if you respect the following recommendations:


    - A new field can be added, your code must authorize this

    - A new error code can be added, your code must deal with unknown errors

    - On lists, values can be added

    - A missing field is not equal to `null`


    To target a specific **major** version of the API, just precise the number in the url:  `{url}/v2/{endpoint}`


    # Quotas


    A limit on the number of requests per second, minute, day and/or month is applied to each user account.


    A 429 error will be sent if at least one of the quotas has reached zero.


    You can know your remaining quota through the headers of the response:

    - `X-Quota-Remaining-By-Second`

    - `X-Quota-Remaining-By-Minute`

    - `X-Quota-Remaining-By-Day`

    - `X-Quota-Remaining-By-Month`


    The quotas are counted on each request, even in the event of an error. On the scripts generating a lot of requests, it is therefore necessary to check these values before returning requests.


    A new 402 error code has created. This error appears when you try to create resources like a pipeline or custom fields and the quota limit has been reached.


    # Pagination on list and search requests

    On list and search requests, the pagination offset can be typed as either an int or a string, depending on the pagination method used.


    We provide 2 ways to interact with the pagination.

    ### 1. \"Seek\" method

    The offset value represents the LAST object in the response list, it's the default one used.


    **We recommend to use the \"seek\" method, it has better performance and includes optimizations.**

    ```

    GET {{url}}/comments?limit=1 {

    \    \"data\": [

    \        {

    \            \"id\": 1

    \        }

    \    ],

    \    \"pagination\": {

    \        \"limit\": 1,

    \        \"count\": 1,

    \        \"total\": 13,

    \        \"offset\": \"WyIxMSJd\"

    \    }

    }

    ---

    GET {{url}}/comments?limit=1&offset=WyIxMSJd {

    \    \"data\": [

    \        {

    \            \"id\": 2

    \        }

    \    ],

    \    \"pagination\": {

    \        \"limit\": 1,

    \        \"count\": 1,

    \        \"total\": 13,

    \        \"offset\": \"SoIxNyJd\"

    \    }

    }

    ```

    ### 2. Numeric offset method

    The second method, more classical, where the offset corresponds to the number of the result page, it must be explicitly specified in the first request.


    **We have applied a limit to the first 100 000 results on this method, for performance purposes.**

    ```

    GET {{url}}/comments?limit=1&offset=0 {

    \    \"data\": [

    \        {

    \            \"id\": 1

    \        }

    \    ],

    \    \"pagination\": {

    \        \"limit\": 1,

    \        \"count\": 1,

    \        \"total\": 13,

    \        \"offset\": 0

    \    }

    }

    ---

    GET {{url}}/comments?limit=1&offset=1 {

    \    \"data\": [

    \        {

    \            \"id\": 2

    \        }

    \    ],

    \    \"pagination\": {

    \        \"limit\": 1,

    \        \"count\": 1,

    \        \"total\": 13,

    \        \"offset\": 1

    \    }

    }

    ```

    # Embed objects

    Additional objects can be included in the result, and are specified on each endpoint under the `embed` parameter. Those objects  may require different OAuth2 scopes than the main endpoint, and will automatically be `null` if the scopes are not respected. Usually, the scopes are listed in the description of the parameter."
  'contact':
    'email': 'api@sellsy.com'
  'x-logo':
    'url': './resources/sellsy.png'
'servers':
  - 'url': 'https://api.sellsy.com/v2'
'tags':
  - 'name': 'AI Features'
    'description': 'AI-powered functionalities'
  - 'name': 'API Management'
    'description': 'Api management'
  - 'name': 'Accounting'
    'description': 'Accounting management'
  - 'name': 'Activities'
    'description': 'Activities management'
  - 'name': 'Addresses'
    'description': 'Addresses Management'
  - 'name': 'Assigned Staff Labels'
    'description': 'Assigned Staff Labels management'
  - 'name': 'Bank Accounts'
    'description': 'Bank Accounts management'
  - 'name': 'Batch'
    'description': 'Batch requests'
  - 'name': 'CRM Activities'
    'description': 'CRM Activity management'
  - 'name': 'Calendar'
    'description': 'Calendar management'
  - 'name': 'Check Labels'
    'description': 'Check Labels management'
  - 'name': 'Comments'
    'description': 'Comments'
  - 'name': 'Companies'
    'description': 'Client, prospect and supplier management'
  - 'name': 'Conformities'
    'description': 'Invoicing conformities management'
  - 'name': 'Contacts'
    'description': 'Contacts management'
  - 'name': 'Corporations'
    'description': 'Corporations management'
  - 'name': 'Countries'
    'description': 'Countries management'
  - 'name': 'Credit notes'
    'description': 'Credit notes documents'
  - 'name': 'Currencies'
    'description': 'Currency management'
  - 'name': 'Custom Activities'
    'description': 'Custom Activities management'
  - 'name': 'Custom Fields'
    'description': 'Custom Fields management'
  - 'name': 'Deposit Invoices'
    'description': 'Deposit Invoices management'
  - 'name': 'Discount Including Taxes'
    'description': 'Discount Including Taxes'
  - 'name': 'Document Layouts'
    'description': 'Document layouts on the account'
  - 'name': 'Document Models'
    'description': 'Document models management'
  - 'name': 'Documents'
    'description': 'Invoices and credit notes on the account'
  - 'name': 'E-Invoicing'
    'description': 'E-Invoicing management'
  - 'name': 'Electronic Signature'
    'description': 'Electronic signature management'
  - 'name': 'Emails'
    'description': 'Emails management'
  - 'name': 'Estimates'
    'description': 'Estimates documents'
  - 'name': 'Files'
    'description': 'Files endpoint'
  - 'name': 'Fiscal Year'
    'description': 'Fiscal year endpoint'
  - 'name': 'Imports'
    'description': 'Imports management'
  - 'name': 'Individuals'
    'description': 'Individuals management'
  - 'name': 'Invoices'
    'description': 'Invoices documents'
  - 'name': 'Items'
    'description': 'Items management'
  - 'name': 'Language'
    'description': 'Language management'
  - 'name': 'Listings'
    'description': 'Listings management'
  - 'name': 'Marketing'
    'description': 'Marketing management'
  - 'name': 'Masquerade'
    'description': 'Masquerade management'
  - 'name': 'Notifications'
    'description': 'Notifications management'
  - 'name': 'Objectives'
    'description': 'Objectives management'
  - 'name': 'Onboarding'
    'description': 'Onboarding Management'
  - 'name': 'Opportunities'
    'description': 'Opportunity Management'
  - 'name': 'Orders'
    'description': 'Orders management'
  - 'name': 'Payment terms'
    'description': 'Payment terms management'
  - 'name': 'Payments'
    'description': 'Payments management'
  - 'name': 'PhoneCalls'
    'description': 'PhoneCalls management'
  - 'name': 'Progress Invoices'
    'description': 'Progress Invoices management'
  - 'name': 'Proposals'
    'description': 'Proposals management'
  - 'name': 'Purchase (OCR)'
    'description': 'Ocr management'
  - 'name': 'Quotas'
    'description': 'Quotas management'
  - 'name': 'Rate Categories'
    'description': 'Rate categories management'
  - 'name': 'Search Documents'
    'description': 'Search documents'
  - 'name': 'Smart Tags'
    'description': 'Smart-tags management'
  - 'name': 'Staffs'
    'description': 'Staffs management'
  - 'name': 'Tasks'
    'description': 'Tasks management'
  - 'name': 'Taxes'
    'description': 'Taxes management'
  - 'name': 'Two Factor Authentication'
    'description': 'Two factor authentication management'
  - 'name': 'Units'
    'description': 'Units management'
  - 'name': 'Webhooks'
    'description': 'Webhooks'
'x-tagGroups':
  - 'name': 'Core'
    'tags':
      - 'Batch'
      - 'API Management'
      - 'Webhooks'
      - 'Listings'
      - 'Activities'
      - 'Custom Activities'
      - null
      - null
      - 'Files'
      - null
      - null
      - null
  - 'name': 'Prospection'
    'tags':
      - 'Companies'
      - 'Contacts'
      - 'Individuals'
      - 'Opportunities'
      - 'Calendar'
      - 'Emails'
      - 'Comments'
      - 'Tasks'
      - 'PhoneCalls'
      - 'CRM Activities'
      - 'Estimates'
      - null
      - 'Proposals'
  - 'name': 'Catalog'
    'tags':
      - 'Discount Including Taxes'
      - 'Items'
      - 'Units'
      - 'Taxes'
      - 'Rate Categories'
  - 'name': 'Invoicing'
    'tags':
      - null
      - 'Document Models'
      - 'Invoices'
      - 'Credit Notes'
      - 'Orders'
      - 'Accounting'
      - 'Payments'
      - 'Subscriptions'
      - 'Purchase (OCR)'
      - 'Deposit Invoices'
      - 'Progress Invoices'
  - 'name': 'Account'
    'tags':
      - null
      - 'Addresses'
      - 'Assigned Staff Labels'
      - 'Bank Accounts'
      - 'Check Labels'
      - 'Currencies'
      - 'Custom Fields'
      - 'Countries'
      - 'Smart Tags'
      - 'Document Layouts'
      - 'Documents'
      - null
      - 'Staffs'
      - 'Subscription'
      - 'Quotas'
      - 'Conformities'
      - 'Notifications'
      - null
      - 'Fiscal Year'
      - 'Language'
      - null
      - 'Payment terms'
  - 'name': 'AI Features'
    'tags':
      - null
'paths':
  '/comments':
    'get':
      'summary': 'Comments List'
      'tags':
        - 'Comments'
      'description': 'Get a list of comments'
      'operationId': 'get-comments'
      'parameters':
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/fields'
        - '$ref': '#/components/parameters/commentItemEmbed'
        - '$ref': '#/components/parameters/commentOrder'
      'responses':
        '200':
          'description': 'OK'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/components/schemas/CommentItem'
                'required':
                  - 'pagination'
                  - 'data'
      'security':
        - 'oauth2':
            - 'comments.read'
    'post':
      'summary': 'Create a comment'
      'tags':
        - 'Comments'
      'description': 'Create a comment'
      'operationId': 'create-comment'
      'parameters':
        - '$ref': '#/components/parameters/commentItemEmbed'
        - '$ref': '#/components/parameters/fields'
        - '$ref': '#/components/parameters/verify'
      'responses':
        '201':
          'description': 'Comment created'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/CommentItem'
        '204':
          'description': 'Validated'
      'requestBody':
        'content':
          'application/json':
            'schema':
              '$ref': '#/components/schemas/CommentCreateItem'
      'security':
        - 'oauth2':
            - 'comments.write'
  '/comments/{id}':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'id'
        'in': 'path'
        'required': true
        'description': 'Comment id'
    'get':
      'summary': 'Get comment details'
      'parameters':
        - '$ref': '#/components/parameters/commentItemEmbed'
        - '$ref': '#/components/parameters/fields'
      'tags':
        - 'Comments'
      'responses':
        '200':
          'description': 'Comment fetched'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/CommentItem'
      'operationId': 'get-comment'
      'description': 'Fetch comment details'
      'security':
        - 'oauth2':
            - 'comments.read'
    'put':
      'summary': 'Update a comment'
      'tags':
        - 'Comments'
      'description': 'Update a comment'
      'operationId': 'update-comment'
      'parameters':
        - '$ref': '#/components/parameters/commentItemEmbed'
        - '$ref': '#/components/parameters/fields'
        - '$ref': '#/components/parameters/verify'
      'responses':
        '200':
          'description': 'Comment updated'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/CommentItem'
        '204':
          'description': 'Validated'
      'requestBody':
        'content':
          'application/json':
            'schema':
              '$ref': '#/components/schemas/CommentUpdateItem'
      'security':
        - 'oauth2':
            - 'comments.write'
    'delete':
      'summary': 'Delete a comment'
      'tags':
        - 'Comments'
      'operationId': 'delete-comment'
      'responses':
        '204':
          'description': 'Comment deleted'
      'description': 'Remove a comment'
      'security':
        - 'oauth2':
            - 'comments.write'
  '/comments/search':
    'post':
      'summary': 'Search comments'
      'tags':
        - 'Comments'
      'description': 'Search through comments'
      'operationId': 'search-comments'
      'parameters':
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/fields'
        - '$ref': '#/components/parameters/commentItemEmbed'
        - '$ref': '#/components/parameters/commentOrder'
      'requestBody':
        'content':
          'application/json':
            'schema':
              '$ref': '#/components/schemas/CommentFilters'
      'responses':
        '200':
          'description': 'Comments list fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/components/schemas/CommentItem'
                'required':
                  - 'pagination'
                  - 'data'
      'security':
        - 'oauth2':
            - 'comments.read'
  '/companies':
    'post':
      'summary': 'Create a company'
      'tags':
        - 'Companies'
      'operationId': 'create-company'
      'parameters':
        - 'in': 'query'
          'name': 'embed'
          'description': 'Example : `embed[]=invoicing_contact&embed[]=cf.1542&embed[]=acl` <br /> Additional object included in the result.<br /><br /> Each embed object may require different oauth2 scopes than the main endpoint:<br /> - opportunities: `opportunities.read`<br /> - main_contact, dunning_contact, invoicing_contact: `contacts.read`<br /> - estimates,invoices,orders,deliveries: `invoicing.read`<br /> - cf.{custom_field_id} : `custom-fields.read` <br /> - smart_tags: `smart-tags.read`<br /> Additionally, the smart_tags embed is limited to the 20 first results sorted in alphabetical order. <br />

            '
          'schema':
            'type': 'array'
            'items':
              'oneOf':
                - 'type': 'string'
                  'title': 'standards'
                  'description': 'The standards embeds'
                  'enum':
                    - 'invoicing_address'
                    - 'delivery_address'
                    - 'main_contact'
                    - 'dunning_contact'
                    - 'invoicing_contact'
                    - 'opportunities'
                    - 'estimates'
                    - 'invoices'
                    - 'orders'
                    - 'deliveries'
                    - 'acl'
                    - 'smart_tags'
                    - 'owner'
                - 'type': 'string'
                  'title': 'custom-fields'
                  'description': 'Each custom field value can be requested as an embed object by passing the custom field identifier in the query, prefixed with the "cf." string. Such as `embed[]=cf.123` for the value of the custom field of identifier `123`'
                  'pattern': '^cf.\d+$'
        - '$ref': '#/components/parameters/fields'
        - '$ref': '#/components/parameters/verify'
      'responses':
        '201':
          'description': 'Company created'
          'content':
            'application/json':
              'schema':
                'title': 'Company with embed'
                'allOf':
                  - '$ref': '#/components/schemas/SaleEmbed/properties/_embed/allOf/1/properties/company'
                  - 'type': 'object'
                    'properties':
                      '_embed':
                        'nullable': true
                        'allOf':
                          - 'title': 'Embed for Company'
                            'type': 'object'
                            'description': 'Optional objects added through the embed parameter'
                            'x-examples': {}
                            'additionalProperties': false
                            'allOf':
                              - 'type': 'object'
                                'properties':
                                  'invoicing_address':
                                    'nullable': true
                                    'description': 'Invocing address'
                                    'allOf':
                                      - '$ref': '#/components/schemas/SaleEmbed/properties/_embed/allOf/1/properties/invoicing_address'
                                  'delivery_address':
                                    'nullable': true
                                    'description': 'Delivery address'
                                    'allOf':
                                      - '$ref': '#/components/schemas/SaleEmbed/properties/_embed/allOf/1/properties/invoicing_address'
                                  'main_contact':
                                    'nullable': true
                                    'description': 'Main contact'
                                    'allOf':
                                      - '$ref': '#/components/schemas/OpportunityItem/properties/_embed/allOf/0/properties/contacts/items'
                                  'dunning_contact':
                                    'nullable': true
                                    'description': 'Dunning contact'
                                    'allOf':
                                      - '$ref': '#/components/schemas/OpportunityItem/properties/_embed/allOf/0/properties/contacts/items'
                                  'invoicing_contact':
                                    'nullable': true
                                    'description': 'Invoicing contact'
                                    'allOf':
                                      - '$ref': '#/components/schemas/OpportunityItem/properties/_embed/allOf/0/properties/contacts/items'
                                  'opportunities':
                                    'nullable': true
                                    'type': 'integer'
                                    'description': 'Count of opportunities'
                                    'example': 2
                                  'estimates':
                                    'nullable': true
                                    'type': 'integer'
                                    'description': 'Count of estimates'
                                    'example': 2
                                  'invoices':
                                    'nullable': true
                                    'type': 'integer'
                                    'description': 'Count of invoices'
                                    'example': 2
                                  'orders':
                                    'nullable': true
                                    'type': 'integer'
                                    'description': 'Count of orders'
                                    'example': 2
                                  'deliveries':
                                    'nullable': true
                                    'type': 'integer'
                                    'description': 'Count of deliveries'
                                    'example': 2
                                  'acl':
                                    'nullable': true
                                    'description': 'Company acl'
                                    'allOf':
                                      - '$ref': '#/components/schemas/Activity/properties/_embed/properties/acl/oneOf/0'
                                  'smart_tags':
                                    'nullable': true
                                    'description': 'Smart-tags linked'
                                    'allOf':
                                      - '$ref': '#/components/schemas/SaleEmbed/properties/_embed/allOf/1/properties/smart_tags/allOf/0'
                                  'owner':
                                    'allOf':
                                      - '$ref': '#/components/schemas/Activity/properties/_embed/properties/author'
                                      - 'type': 'object'
                                        'title': 'Owner (staff) assigned to the contact'
                                    'nullable': true
                              - '$ref': '#/components/schemas/SaleEmbed/properties/_embed/allOf/2'
        '204':
          'description': 'Validated'
      'requestBody':
        'content':
          'application/json':
            'schema':
              'title': 'Company'
              'type': 'object'
              'additionalProperties': false
              'description': ''
              'x-examples': {}
              'required':
                - 'name'
                - 'type'
              'properties':
                'type':
                  'type': 'string'
                  'enum':
                    - 'prospect'
                    - 'client'
                    - 'supplier'
                'name':
                  'type': 'string'
                  'description': 'Company name'
                  'example': 'Example company'
                  'maxLength': 250
                'email':
                  'description': 'Company email'
                  'type': 'string'
                  'format': 'email'
                  'example': 'contact@example-company.com'
                  'nullable': true
                'website':
                  'type': 'string'
                  'format': 'url'
                  'description': 'Company website'
                  'example': 'http://example-company.com'
                  'nullable': true
                'phone_number':
                  'type': 'string'
                  'description': 'Company phone number'
                  'example': '+33100000000'
                  'nullable': true
                'mobile_number':
                  'type': 'string'
                  'description': 'Company mobile number'
                  'example': '+33600000000'
                  'nullable': true
                'fax_number':
                  'type': 'string'
                  'description': 'Company Fax number'
                  'example': '+33100000000'
                  'nullable': true
                'legal_france':
                  'type': 'object'
                  'additionalProperties': false
                  'properties':
                    'siret':
                      'description': 'Company Siret'
                      'type': 'string'
                      'minLength': 14
                      'maxLength': 14
                      'nullable': true
                      'example': '73282932000074'
                    'siren':
                      'description': 'Company Siren'
                      'type': 'string'
                      'minLength': 9
                      'maxLength': 9
                      'nullable': true
                      'example': '732829320'
                    'vat':
                      'description': 'VAT number'
                      'type': 'string'
                      'minLength': 2
                      'maxLength': 15
                      'nullable': true
                      'example': 'FR99999999999'
                    'ape_naf_code':
                      'description': 'APE/NAF Code'
                      'type': 'string'
                      'minLength': 5
                      'maxLength': 6
                      'nullable': true
                      'example': '4711C'
                    'company_type':
                      'description': 'Company type'
                      'type': 'string'
                      'minLength': 2
                      'maxLength': 100
                      'nullable': true
                      'example': 'SAS'
                    'rcs_immatriculation':
                      'description': 'RCS immatriculation code'
                      'type': 'string'
                      'minLength': 3
                      'maxLength': 200
                      'nullable': true
                      'example': 'RCS xxxxx'
                'capital':
                  'type': 'string'
                  'nullable': true
                  'description': 'Company Capital'
                  'example': '4000'
                'reference':
                  'type': 'string'
                  'description': 'Company reference'
                  'example': 'CLI-1654'
                  'nullable': true
                  'maxLength': 100
                'note':
                  'type': 'string'
                  'description': 'Note on company'
                  'example': 'An handed-written note describing this company'
                'auxiliary_code':
                  'type': 'string'
                  'description': 'Auxiliary code'
                  'example': '0EX11C'
                  'nullable': true
                'social':
                  'type': 'object'
                  'properties':
                    'twitter':
                      'type': 'string'
                      'format': 'url'
                      'description': 'Twitter account'
                      'example': 'https://twitter.com/example'
                      'nullable': true
                    'facebook':
                      'type': 'string'
                      'format': 'url'
                      'description': 'Facebook account'
                      'example': 'https://facebook.com/example'
                      'nullable': true
                    'linkedin':
                      'type': 'string'
                      'format': 'url'
                      'description': 'Linkedin account'
                      'example': 'https://linkedin.com/example'
                      'nullable': true
                    'viadeo':
                      'type': 'string'
                      'format': 'url'
                      'description': 'Viadeo account'
                      'example': 'https://viadeo.com/example'
                      'nullable': true
                'rate_category_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Company Rate category id'
                  'example': 9956
                'accounting_code_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Company accounting code id'
                  'example': 12345
                'accounting_purchase_code_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Company accounting purchase code id'
                  'example': 98556
                'owner_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Owner of the company (Staff id expected)'
                  'example': 112
                  'minimum': 1
                'is_archived':
                  'type': 'boolean'
                  'nullable': false
                  'description': 'Status archived or not'
                  'example': false
                'business_segment':
                  'type': 'integer'
                  'description': 'Company business segment'
                  'nullable': true
                'number_of_employees':
                  'type': 'integer'
                  'description': 'Number of employees of company'
                  'nullable': true
                'marketing_campaigns_subscriptions':
                  'type': 'array'
                  'items':
                    'type': 'string'
                    'enum':
                      - 'sms'
                      - 'phone'
                      - 'email'
                      - 'postal_mail'
                      - 'custom'
                  'description': 'list of campaign type subscribed'
                  'uniqueItems': true
                'created':
                  'description': 'Date of creation of the company'
                  'type': 'string'
                  'format': 'date-time'
        'description': ''
      'security':
        - 'oauth2':
            - 'companies.write'
      'description': 'Create a company'
    'get':
      'summary': 'Companies List'
      'tags':
        - 'Companies'
      'description': 'Get a list of companies'
      'operationId': 'get-companies'
      'parameters':
        - 'in': 'query'
          'name': 'order'
          'description': 'The order field'
          'schema':
            'type': 'string'
            'example': 'id'
            'enum':
              - 'name'
              - 'id'
              - 'created_at'
              - 'updated_at'
        - '$ref': '#/paths/~1companies/post/parameters/0'
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/fields'
      'responses':
        '200':
          'description': 'Companies list fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/paths/~1companies/post/responses/201/content/application~1json/schema'
                'required':
                  - 'pagination'
                  - 'data'
      'security':
        - 'oauth2':
            - 'companies.read'
  '/companies/search':
    'post':
      'summary': 'Search companies'
      'tags':
        - 'Companies'
      'description': 'Search companies'
      'operationId': 'search-companies'
      'parameters':
        - '$ref': '#/paths/~1companies/get/parameters/0'
        - '$ref': '#/paths/~1companies/post/parameters/0'
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/fields'
      'requestBody':
        'content':
          'application/json':
            'schema':
              'title': 'Company filters'
              'type': 'object'
              'additionalProperties': false
              'required':
                - 'filters'
              'properties':
                'filters':
                  'type': 'object'
                  'additionalProperties': false
                  'description': 'Company filters'
                  'properties':
                    'created':
                      'title': 'Created at'
                      'type': 'object'
                      'description': 'Filter the company list by creation date'
                      'properties':
                        'start':
                          'type': 'string'
                          'format': 'date-time'
                          'example': '2020-01-01T00:00:00+01:00'
                        'end':
                          'type': 'string'
                          'format': 'date-time'
                          'example': '2020-02-01T00:00:00+01:00'
                    'updated_at':
                      'title': 'Updated at'
                      'type': 'object'
                      'description': 'Filter the company list by last update date'
                      'properties':
                        'start':
                          'type': 'string'
                          'format': 'date-time'
                          'example': '2020-01-01T00:00:00+01:00'
                        'end':
                          'type': 'string'
                          'format': 'date-time'
                          'example': '2020-02-01T00:00:00+01:00'
                    'name':
                      'title': 'Name'
                      'type': 'string'
                      'description': 'Filter the company list by name (exact search)'
                      'example': 'Company'
                    'email':
                      'title': 'Email'
                      'type': 'string'
                      'description': 'Filter the company list by email (exact search)'
                      'example': 'contact@example.com'
                    'type':
                      'title': 'Type'
                      'description': 'Filter the company list by type'
                      'oneOf':
                        - 'type': 'string'
                          'enum':
                            - 'prospect'
                            - 'client'
                            - 'supplier'
                        - 'type': 'array'
                          'uniqueItems': true
                          'items':
                            'type': 'string'
                            'enum':
                              - 'prospect'
                              - 'client'
                              - 'supplier'
                    'is_archived':
                      'title': 'Is archived'
                      'type': 'boolean'
                      'description': 'Filter the company list by is_archived'
                      'example': false
                    'contacts':
                      'title': 'Contacts'
                      'description': 'Filter the company list for the given contacts'
                      'type': 'array'
                      'items':
                        'type': 'integer'
                    'siret':
                      'title': 'Siret'
                      'description': 'Filter the company list by siret'
                      'type': 'string'
                      'example': '36252187900034'
                    'id':
                      'title': 'Companies'
                      'type': 'array'
                      'items':
                        'type': 'integer'
                      'description': 'Filter companies list by ID'
                      'example':
                        - 12
                        - 22
                    'country_code':
                      'title': 'Country code'
                      'description': 'Filter the company list by country code (main address only)'
                      'type': 'string'
                      'example': 'FR'
                    'postal_code':
                      'title': 'Postal code'
                      'description': 'Filter the company list by postal code (main address only)'
                      'type': 'array'
                      'items':
                        'type': 'string'
                      'example':
                        - '17001'
                        - '17002'
                    'favourite_filter':
                      '$ref': '#/components/schemas/ContactFilters/properties/filters/properties/favourite_filter'
                    'reference':
                      'title': 'Reference'
                      'description': 'Filter the company list by reference (exact search, case insensitive)'
                      'example':
                        - 'REF123456'
                        - 'ref654321'
                      'type': 'array'
                      'uniqueItems': true
                      'minItems': 1
                      'maxItems': 100
                      'items':
                        'type': 'string'
                        'maxLength': 100
                        'minLength': 1
      'responses':
        '200':
          'description': 'Companies list fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/paths/~1companies/post/responses/201/content/application~1json/schema'
                'required':
                  - 'pagination'
                  - 'data'
      'security':
        - 'oauth2':
            - 'companies.read'
  '/companies/favourite-filters':
    'get':
      'summary': 'List companies favourite filters'
      'tags':
        - 'Companies'
      'description': 'List favourite filters for faster access to specific companies <br />> Favourite filters can be applied directly to company search endpoints <div style="padding:17px; border-radius: 2px; margin-bottom: 4px; line-height: 1.5em; color: #9A7D36; background-color: #fff2cf; cursor: default;"><b>This route is available in open beta.</b><br />Please note that its specifications are potentially subject to significant and breaking changes in the coming weeks.</div>

        '
      'operationId': 'get-company-favourite-filters'
      'parameters':
        - '$ref': '#/components/parameters/favouriteFiltersOrder'
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/fields'
      'responses':
        '200':
          'description': 'List favourite filters'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    '$ref': '#/components/schemas/FavouriteFilters'
      'security':
        - 'oauth2':
            - 'companies.read'
  '/companies/{id}':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'id'
        'in': 'path'
        'required': true
        'description': 'Company id'
    'get':
      'summary': 'Get Company'
      'tags':
        - 'Companies'
      'parameters':
        - '$ref': '#/paths/~1companies/post/parameters/0'
        - '$ref': '#/components/parameters/fields'
      'responses':
        '200':
          'description': 'Company fetched'
          'content':
            'application/json':
              'schema':
                '$ref': '#/paths/~1companies/post/responses/201/content/application~1json/schema'
      'operationId': 'get-company'
      'description': 'Fetch company information'
      'security':
        - 'oauth2':
            - 'companies.read'
    'put':
      'summary': 'Update Company'
      'tags':
        - 'Companies'
      'operationId': 'update-company'
      'parameters':
        - '$ref': '#/paths/~1companies/post/parameters/0'
        - '$ref': '#/components/parameters/fields'
        - '$ref': '#/components/parameters/verify'
      'responses':
        '200':
          'description': 'Company updated'
          'content':
            'application/json':
              'schema':
                '$ref': '#/paths/~1companies/post/responses/201/content/application~1json/schema'
        '204':
          'description': 'Validated'
      'description': 'Update Company information'
      'requestBody':
        'content':
          'application/json':
            'schema':
              'title': 'Company'
              'type': 'object'
              'additionalProperties': false
              'description': ''
              'x-examples': {}
              'properties':
                'name':
                  'type': 'string'
                  'description': 'Company name'
                  'example': 'Example company'
                  'maxLength': 250
                'email':
                  'description': 'Company email'
                  'type': 'string'
                  'format': 'email'
                  'example': 'contact@example-company.com'
                  'nullable': true
                'website':
                  'type': 'string'
                  'format': 'url'
                  'description': 'Company website'
                  'example': 'http://example-company.com'
                  'nullable': true
                'phone_number':
                  'type': 'string'
                  'description': 'Company phone number'
                  'example': '+33100000000'
                  'nullable': true
                'mobile_number':
                  'type': 'string'
                  'description': 'Company mobile number'
                  'example': '+33600000000'
                  'nullable': true
                'fax_number':
                  'type': 'string'
                  'description': 'Company Fax number'
                  'example': '+33100000000'
                  'nullable': true
                'legal_france':
                  '$ref': '#/paths/~1companies/post/requestBody/content/application~1json/schema/properties/legal_france'
                'capital':
                  'type': 'string'
                  'nullable': true
                  'description': 'Company Capital'
                  'example': '4000'
                'reference':
                  'type': 'string'
                  'description': 'Company reference'
                  'example': 'CLI-1654'
                  'nullable': true
                  'maxLength': 100
                'note':
                  'type': 'string'
                  'description': 'Note on company'
                  'example': 'An handed-written note describing this company'
                'auxiliary_code':
                  'type': 'string'
                  'description': 'Auxiliary code'
                  'example': '0EX11C'
                  'nullable': true
                'social':
                  '$ref': '#/paths/~1companies/post/requestBody/content/application~1json/schema/properties/social'
                'rate_category_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Company Rate category id'
                  'example': 9956
                'accounting_code_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Company accounting code id'
                  'example': 12345
                'accounting_purchase_code_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Company accounting purchase code id'
                  'example': 98556
                'owner_id':
                  'type': 'integer'
                  'nullable': true
                  'description': 'Owner of the company (Staff id expected)'
                  'example': 112
                  'minimum': 1
                'is_archived':
                  'type': 'boolean'
                  'nullable': false
                  'description': 'Status archived or not'
                  'example': false
                'business_segment':
                  'type': 'integer'
                  'description': 'Company business segment'
                  'nullable': true
                'number_of_employees':
                  'type': 'integer'
                  'description': 'Number of employees of company'
                  'nullable': true
                'marketing_campaigns_subscriptions':
                  'type': 'array'
                  'items':
                    'type': 'string'
                    'enum':
                      - 'sms'
                      - 'phone'
                      - 'email'
                      - 'postal_mail'
                      - 'custom'
                  'description': 'list of campaign type subscribed'
                  'uniqueItems': true
      'security':
        - 'oauth2':
            - 'companies.write'
    'delete':
      'summary': 'Delete company'
      'tags':
        - 'Companies'
      'operationId': 'delete-company'
      'responses':
        '204':
          'description': 'Company deleted'
      'description': 'Remove a company'
      'security':
        - 'oauth2':
            - 'companies.write'
  '/companies/{companyId}/addresses':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'companyId'
        'in': 'path'
        'required': true
        'description': 'Company id'
    'get':
      'summary': 'Get company addresses'
      'tags':
        - 'Companies'
      'responses':
        '200':
          'description': 'Addresses fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/components/schemas/Address'
                'required':
                  - 'pagination'
                  - 'data'
      'operationId': 'get-company-addresses'
      'security':
        - 'oauth2':
            - 'companies.read'
    'post':
      'tags':
        - 'Companies'
      'parameters':
        - '$ref': '#/components/parameters/verify'
      'responses':
        '201':
          'description': 'Address created'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/Address'
        '204':
          'description': 'Validated'
      'operationId': 'create-company-address'
      'summary': 'Create a company address'
      'requestBody':
        'content':
          'application/json':
            'schema':
              'allOf':
                - '$ref': '#/components/schemas/AddressCreate'
      'security':
        - 'oauth2':
            - 'companies.write'
  '/companies/{companyId}/addresses/{id}':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'companyId'
        'in': 'path'
        'required': true
        'description': 'Company id'
      - 'schema':
          'type': 'integer'
        'name': 'id'
        'in': 'path'
        'required': true
        'description': 'Address id'
    'get':
      'tags':
        - 'Companies'
      'responses':
        '200':
          'description': 'Address fetched'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/Address'
      'operationId': 'get-company-address'
      'summary': 'Get a company address'
      'security':
        - 'oauth2':
            - 'companies.read'
    'put':
      'tags':
        - 'Companies'
      'parameters':
        - '$ref': '#/components/parameters/verify'
      'responses':
        '200':
          'description': 'Address updated'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/Address'
        '204':
          'description': 'Validated'
      'operationId': 'update-company-address'
      'summary': 'Update a company address'
      'requestBody':
        'content':
          'application/json':
            'schema':
              '$ref': '#/components/schemas/AddressUpdate'
      'security':
        - 'oauth2':
            - 'companies.write'
    'delete':
      'tags':
        - 'Companies'
      'responses':
        '204':
          'description': 'Address deleted'
      'operationId': 'delete-company-address'
      'summary': 'Delete a company address'
      'security':
        - 'oauth2':
            - 'companies.write'
  '/companies/{id}/payments':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'id'
        'in': 'path'
        'required': true
        'description': 'Company identifier'
    'post':
      'summary': 'Record payment on a company'
      'description': 'Record a payment on a company <div style="padding:17px; border-radius: 2px; margin-bottom: 4px; line-height: 1.5em; color: #9A7D36; background-color: #fff2cf; cursor: default;"><b>This route is available in open beta.</b><br />Please note that its specifications may be subject to significant and breaking changes in the coming weeks.</div>

        '
      'operationId': 'create-company-payment'
      'tags':
        - 'Companies'
      'requestBody':
        'content':
          'application/json':
            'schema':
              '$ref': '#/components/schemas/CreatePayment'
      'responses':
        '201':
          'description': 'Payment created'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/Payment'
      'security':
        - 'oauth2':
            - 'companies.read'
            - 'payments.write'
  '/companies/{id}/contacts':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'id'
        'in': 'path'
        'required': true
        'description': 'Company id'
    'get':
      'summary': 'Get a company contacts'
      'tags':
        - 'Companies'
      'responses':
        '200':
          'description': 'List fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/components/schemas/ContactCollectionItem'
                'required':
                  - 'pagination'
                  - 'data'
      'operationId': 'get-company-contacts'
      'parameters':
        - '$ref': '#/components/parameters/order'
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/contactEmbed'
        - '$ref': '#/components/parameters/fields'
      'security':
        - 'oauth2':
            - 'companies.read'
            - 'contacts.read'
  '/companies/{companyId}/contacts/{contactId}':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'companyId'
        'in': 'path'
        'required': true
        'description': 'Company id'
      - 'schema':
          'type': 'integer'
        'name': 'contactId'
        'in': 'path'
        'required': true
        'description': 'Contact id'
    'post':
      'summary': 'Link a contact at one company'
      'tags':
        - 'Companies'
      'responses':
        '200':
          'description': 'Contact already linked'
        '201':
          'description': 'Contact linked'
      'operationId': 'link-company-contact'
      'security':
        - 'oauth2':
            - 'companies.write'
            - 'contacts.read'
      'requestBody':
        'content':
          'application/json':
            'schema':
              '$ref': '#/components/schemas/LinkCompanyContact'
    'put':
      'summary': 'Update a contact of company link'
      'tags':
        - 'Companies'
      'responses':
        '200':
          'description': 'Contact updated'
      'operationId': 'update-company-contact'
      'security':
        - 'oauth2':
            - 'companies.write'
            - 'companies.read'
      'requestBody':
        'content':
          'application/json':
            'schema':
              '$ref': '#/components/schemas/UpdateLinkCompanyContact'
    'delete':
      'summary': 'Unlink a contact of company'
      'tags':
        - 'Companies'
      'responses':
        '204':
          'description': 'Contact unlinked'
      'operationId': 'unlink-company-contact'
      'security':
        - 'oauth2':
            - 'companies.write'
            - 'contacts.read'
  '/companies/{id}/custom-fields':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'id'
        'in': 'path'
        'required': true
        'description': 'Company id'
    'get':
      'summary': 'Company custom fields List'
      'description': 'Get list of custom fields for a company'
      'tags':
        - 'Companies'
      'operationId': 'get-company-custom-fields'
      'responses':
        '200':
          'description': 'List fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      'anyOf':
                        - 'title': 'Simple text'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/0'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'string'
                                  'description': 'Value of custom field'
                                  'nullable': true
                                  'example': 'Lorem'
                        - 'title': 'Rich text'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/1'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'string'
                                  'description': 'Value of custom field'
                                  'nullable': true
                                  'example': '<p>Lorem ipsum in dolor.</p>'
                        - 'title': 'Email address'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/2'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'string'
                                  'format': 'email'
                                  'description': 'Email'
                                  'nullable': true
                                  'example': 'john.doe@email.com'
                        - 'title': 'Url'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/3'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'string'
                                  'format': 'url'
                                  'description': 'URL'
                                  'nullable': true
                                  'example': 'https://domain.com'
                        - 'title': 'Numeric value'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/4'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'string'
                                  'description': 'Value of custom field, numeric value'
                                  'nullable': true
                                  'example': '15'
                        - 'title': 'Date'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/5'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'string'
                                  'format': 'date'
                                  'description': 'Date'
                                  'nullable': true
                                  'example': '2021-03-22'
                        - 'title': 'Hour'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/6'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'string'
                                  'description': 'Time'
                                  'nullable': true
                                  'pattern': '^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$'
                                  'example': '05:30'
                        - 'title': 'Amount with currency'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/7'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'object'
                                  'additionalProperties': false
                                  'properties':
                                    'amount':
                                      'type': 'string'
                                      'description': 'Amount, numeric value'
                                      'nullable': true
                                      'example': '15.26'
                                    'currency':
                                      'type': 'string'
                                      'description': 'Currency (ISO 4217)'
                                      'pattern': '^[A-Za-z *]{2,5}$'
                                      'nullable': true
                                      'example': 'EUR'
                        - 'title': 'Numeric field with unit'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/8'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'object'
                                  'additionalProperties': false
                                  'properties':
                                    'number':
                                      'type': 'string'
                                      'description': 'Value of custom field, numeric value'
                                      'nullable': true
                                      'example': '15.26'
                                    'unit_id':
                                      'type': 'integer'
                                      'description': 'Unit ID'
                                      'nullable': true
                                      'example': 1
                        - 'title': 'Radio button'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/9'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'integer'
                                  'description': 'Selected choice'
                                  'nullable': true
                                  'example': 12345
                        - 'title': 'Select'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/10'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'integer'
                                  'description': 'Value of custom field'
                                  'nullable': true
                                  'example': 12345
                        - 'title': 'Multiple choice'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/11'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'array'
                                  'description': 'List of selected choice'
                                  'nullable': true
                                  'example': '{ 1, 2, 3 }'
                                  'items':
                                    'type': 'integer'
                        - 'title': 'Yes / No'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/12'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'boolean'
                                  'description': 'Value of custom field'
                                  'nullable': true
                                  'example': true
                        - 'title': 'Client/Prospect/Supplier'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/13'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'array'
                                  'description': 'List of company/inviduals'
                                  'nullable': true
                                  'items':
                                    'type': 'object'
                                    'properties':
                                      'type':
                                        'type': 'string'
                                        'description': 'company/individual''s type'
                                        'example': 'company'
                                      'id':
                                        'type': 'integer'
                                        'description': 'company/individual''s ID'
                                        'example': 15
                                '_embed':
                                  'properties':
                                    'value_details':
                                      'title': 'Additional data on company/individual'
                                      'type': 'array'
                                      'items':
                                        'oneOf':
                                          - 'type': 'object'
                                            'title': 'Additional data on company'
                                            'description': 'Additional data on company'
                                            'properties':
                                              'id':
                                                'type': 'integer'
                                                'description': 'company''s ID'
                                                'example': 15
                                              'name':
                                                'type': 'string'
                                                'description': 'company''s name'
                                                'example': 'Sellsy'
                                              'type':
                                                'type': 'string'
                                                'description': 'company type'
                                                'enum':
                                                  - 'company'
                                                'example': 'company'
                                          - 'type': 'object'
                                            'title': 'Additional data on individual'
                                            'description': 'Additional data on individual'
                                            'properties':
                                              'id':
                                                'type': 'integer'
                                                'description': 'individual''s ID'
                                                'example': 15
                                              'first_name':
                                                'type': 'string'
                                                'description': 'individual''s first name'
                                                'example': 'John'
                                              'last_name':
                                                'type': 'string'
                                                'description': 'individual''s last name'
                                                'example': 'DOE'
                                              'type':
                                                'type': 'string'
                                                'description': 'individual''s type'
                                                'example': 'individual'
                                                'enum':
                                                  - 'individual'
                        - 'title': 'Contact'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/14'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'array'
                                  'description': 'List of Contact IDs'
                                  'nullable': true
                                  'example': '{ 1, 2, 3 }'
                                  'items':
                                    'type': 'integer'
                                '_embed':
                                  'title': 'Embedded data'
                                  'properties':
                                    'value_details':
                                      'title': 'Additional data on contacts'
                                      'type': 'array'
                                      'items':
                                        'title': 'Additional data on contact'
                                        'description': 'Additional data on contact'
                                        'type': 'object'
                                        'properties':
                                          'id':
                                            'type': 'integer'
                                            'description': 'contact''s ID'
                                            'example': 15
                                          'first_name':
                                            'type': 'string'
                                            'description': 'contact''s first name'
                                            'example': 'John'
                                          'last_name':
                                            'type': 'string'
                                            'description': 'contact''s last name'
                                            'example': 'DOE'
                        - 'title': 'Staff member'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/15'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'array'
                                  'description': 'List of Staff IDs'
                                  'nullable': true
                                  'example': '{ 1, 2, 3 }'
                                  'items':
                                    'type': 'integer'
                                '_embed':
                                  'properties':
                                    'value_details':
                                      'title': 'Additional data on staff'
                                      'type': 'array'
                                      'items':
                                        'type': 'object'
                                        'title': 'Additional data on staff'
                                        'description': 'Additional data on staff'
                                        'properties':
                                          'id':
                                            'type': 'integer'
                                            'description': 'staff''s ID'
                                            'example': 15
                                          'first_name':
                                            'type': 'string'
                                            'description': 'staff''s first name'
                                            'example': 'John'
                                          'last_name':
                                            'type': 'string'
                                            'description': 'staff''s last name'
                                            'example': 'DOE'
                        - 'title': 'Products/services'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - '$ref': '#/paths/~1custom-fields/get/responses/200/content/application~1json/schema/properties/data/items/anyOf/16'
                            - 'type': 'object'
                              'nullable': true
                              'properties':
                                'value':
                                  'type': 'array'
                                  'description': 'List of Item IDs'
                                  'nullable': true
                                  'example': '{ 1, 2, 3 }'
                                  'items':
                                    'type': 'integer'
                                '_embed':
                                  'properties':
                                    'value_details':
                                      'title': 'Additional data on product/service'
                                      'type': 'array'
                                      'items':
                                        'title': 'Additional data on product/service'
                                        'description': 'Additional data on product/service'
                                        'type': 'object'
                                        'properties':
                                          'id':
                                            'type': 'integer'
                                            'description': 'company''s ID'
                                            'example': 15
                                          'number':
                                            'type': 'string'
                                            'description': 'product/service''s number'
                                            'example': 'ref0123'
                                          'name':
                                            'type': 'string'
                                            'nullable': true
                                            'description': 'product/service''s name'
                                            'example': 'lorem ipsum'
                'required':
                  - 'pagination'
                  - 'data'
      'parameters':
        - 'in': 'query'
          'name': 'order'
          'description': 'The order field'
          'schema':
            'type': 'string'
            'example': 'id'
            'enum':
              - 'id'
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/fields'
        - 'in': 'query'
          'name': 'embed'
          'description': 'Additional object included in the result.<br /><br /> Each embed object may require different oauth2 scopes than the main endpoint.<br /> value_details will add extra data for custom field of the following types:<br /> - Client/Prospect/Supplier (scope `companies.read`, `individuals.read`)<br /> - Contact (scope `contacts.read`)<br /> - Staff member (scope `staffs.read`)<br /> - Products/services (scope `items.read`)<br />

            '
          'schema':
            'type': 'array'
            'items':
              'type': 'string'
              'enum':
                - 'value_details'
      'security':
        - 'oauth2':
            - 'companies.read'
            - 'custom-fields.read'
    'put':
      'summary': 'Update Company custom fields'
      'description': 'Update list of custom fields for a company'
      'tags':
        - 'Companies'
      'parameters':
        - '$ref': '#/components/parameters/verify'
      'operationId': 'update-company-custom-fields'
      'responses':
        '200':
          'description': 'Company''s custom fields updated'
        '204':
          'description': 'Validated'
      'requestBody':
        'content':
          'application/json':
            'schema':
              'type': 'array'
              'description': 'Custom fields'
              'items':
                'type': 'object'
                'description': 'Company'
                'properties':
                  'id':
                    'type': 'integer'
                    'example': 1
                    'description': 'Custom Field id'
                  'value':
                    'anyOf':
                      - 'type': 'string'
                        'description': 'Value of custom field'
                        'title': 'Simple text'
                        'example': 'Lorem'
                        'nullable': true
                      - 'type': 'string'
                        'description': 'Value of custom field'
                        'title': 'Rich text'
                        'example': '<p>Lorem ipsum in dolor.</p>'
                        'nullable': true
                      - 'type': 'string'
                        'description': 'Value of custom field. Numeric value (integer) only'
                        'example': '15'
                        'nullable': true
                        'title': 'Numeric value'
                      - 'type': 'object'
                        'nullable': true
                        'additionalProperties': false
                        'title': 'Amount with currency'
                        'properties':
                          'amount':
                            'type': 'string'
                            'description': 'Amount. Will use the default one if null. Numeric value'
                            'example': '15.26'
                            'nullable': true
                          'currency':
                            'type': 'string'
                            'description': 'Currency (ISO 4217).  Will use the default one if null'
                            'example': 'EUR'
                            'nullable': true
                        'required':
                          - 'amount'
                          - 'currency'
                      - 'type': 'object'
                        'nullable': true
                        'additionalProperties': false
                        'title': 'Numeric field with unit'
                        'properties':
                          'number':
                            'type': 'string'
                            'description': 'Value of custom field. Numeric value'
                            'example': '15.26'
                            'nullable': true
                          'unit_id':
                            'type': 'integer'
                            'description': 'Unit ID'
                            'example': 1
                            'nullable': true
                        'required':
                          - 'number'
                          - 'unit_id'
                      - 'type': 'integer'
                        'description': 'Selected choice'
                        'example': 12345
                        'nullable': true
                        'title': 'Radio button'
                      - 'type': 'integer'
                        'description': 'Value of custom field'
                        'example': 12345
                        'title': 'Select'
                        'nullable': true
                      - 'type': 'array'
                        'description': 'List of selected choice'
                        'example': '{ 1, 2, 3 }'
                        'items':
                          'type': 'integer'
                        'nullable': true
                        'title': 'Multiple choice'
                      - 'type': 'string'
                        'format': 'date'
                        'title': 'Date'
                        'nullable': true
                        'description': 'Date'
                        'example': '2021-03-22'
                      - 'type': 'string'
                        'description': 'Time'
                        'title': 'Time'
                        'nullable': true
                        'example': '05:30'
                      - 'type': 'string'
                        'format': 'email'
                        'description': 'Email'
                        'title': 'Email address'
                        'nullable': true
                        'maxLength': 250
                        'example': 'john.doe@email.com'
                      - 'type': 'string'
                        'format': 'url'
                        'title': 'Url'
                        'nullable': true
                        'description': 'URL'
                        'example': 'https://domain.com'
                      - 'type': 'boolean'
                        'description': 'Value of custom field'
                        'example': true
                        'title': 'Yes / No'
                        'nullable': true
                      - 'type': 'array'
                        'description': 'List of company/invidual IDs'
                        'example': '{ 1, 2, 3 }'
                        'items':
                          'type': 'integer'
                        'nullable': true
                        'title': 'Client / Prospect / Supplier'
                      - 'type': 'array'
                        'description': 'List of Item IDs'
                        'example': '{ 1, 2, 3 }'
                        'items':
                          'type': 'integer'
                        'nullable': true
                        'title': 'Product / service'
                      - 'type': 'array'
                        'description': 'List of Contact IDs'
                        'example': '{ 1, 2, 3 }'
                        'items':
                          'type': 'integer'
                        'nullable': true
                        'title': 'Contact'
                      - 'type': 'array'
                        'description': 'List of Staff IDs'
                        'example': '{ 1, 2, 3 }'
                        'items':
                          'type': 'integer'
                        'title': 'Staff member'
                        'nullable': true
                    'nullable': true
                'required':
                  - 'id'
                  - 'value'
      'security':
        - 'oauth2':
            - 'companies.write'
            - 'custom-fields.write'
  '/companies/{companyId}/smart-tags':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'companyId'
        'in': 'path'
        'required': true
        'description': 'Company id'
    'get':
      'summary': 'Company smart tags List'
      'description': 'Get list of smart tags for a company'
      'tags':
        - 'Companies'
      'operationId': 'get-company-smart-tags'
      'responses':
        '200':
          'description': 'List fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'title': 'smart tag'
                    'type': 'array'
                    'items':
                      'type': 'object'
                      'properties':
                        'value':
                          'type': 'string'
                          'description': 'value of smart tags'
                          'example': 'smart tag'
                        'id':
                          'type': 'integer'
                          'description': 'id of smart tags'
                          'example': 55
      'security':
        - 'oauth2':
            - 'companies.read'
            - 'smart-tags.read'
    'post':
      'summary': 'Link smart tags to company'
      'description': 'Link a list of smart tag to a company'
      'tags':
        - 'Companies'
      'operationId': 'link-company-smart-tags'
      'responses':
        '200':
          'description': 'Smart tag linked'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    '$ref': '#/paths/~1companies~1%7BcompanyId%7D~1smart-tags/get/responses/200/content/application~1json/schema/properties/data'
      'requestBody':
        'content':
          'application/json':
            'schema':
              'title': 'smart tag'
              'type': 'array'
              'nullable': true
              'items':
                'anyOf':
                  - 'title': 'Create and link smart-tags'
                    'type': 'object'
                    'description': 'Create a new tag and link it to the entity. If the value already exists, the tag is only linked to the entity and does not create a duplicate. It''s not case sensitive and not accented.'
                    'properties':
                      'value':
                        'type': 'string'
                        'description': 'value of smart tags'
                        'example': 'smart tag'
                        'nullable': false
                    'required':
                      - 'value'
                  - 'title': 'Link by identifier'
                    'type': 'object'
                    'description': 'Link an existing tag to the entity'
                    'properties':
                      'id':
                        'type': 'integer'
                        'description': 'id of smart tags'
                        'example': 55
                        'nullable': false
                    'required':
                      - 'id'
      'security':
        - 'oauth2':
            - 'smart-tags.write'
            - 'companies.write'
  '/companies/{companyId}/files':
    'parameters':
      - 'name': 'companyId'
        'in': 'path'
        'description': 'Company id'
        'schema':
          'type': 'integer'
        'required': true
    'post':
      'summary': 'Attach file to a company'
      'description': 'Attach file to a company <div style="padding:17px; border-radius: 2px; margin-bottom: 4px; line-height: 1.5em; color: #9A7D36; background-color: #fff2cf; cursor: default;"><b>This route is available in open beta.</b><br />Please note that its specifications are potentially subject to significant and breaking changes in the coming weeks.</div>'
      'operationId': 'upload-company-file'
      'tags':
        - 'Companies'
      'responses':
        '201':
          'description': 'File uploaded'
          'content':
            'application/json':
              'schema':
                '$ref': '#/components/schemas/FileOutput'
      'requestBody':
        'content':
          'multipart/form-data':
            'schema':
              '$ref': '#/components/schemas/UploadFileInput'
      'security':
        - 'oauth2':
            - 'companies.read'
            - 'files.write'
    'get':
      'summary': 'List directories and files of a company'
      'description': 'List directories and files attached to a company <div style="padding:17px; border-radius: 2px; margin-bottom: 4px; line-height: 1.5em; color: #9A7D36; background-color: #fff2cf; cursor: default;"><b>This route is available in open beta.</b><br />Please note that its specifications are potentially subject to significant and breaking changes in the coming weeks.</div>'
      'operationId': 'get-company-files'
      'tags':
        - 'Companies'
      'responses':
        '200':
          'description': 'List fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/components/schemas/ListFilesOutput'
                'required':
                  - 'pagination'
                  - 'data'
      'security':
        - 'oauth2':
            - 'companies.read'
            - 'files.read'
  '/contacts/{id}/companies':
    'get':
      'summary': 'Companies contact'
      'description': 'Get the companies of a contact'
      'tags':
        - 'Contacts'
      'operationId': 'get-contact-companies'
      'security':
        - 'oauth2':
            - 'companies.read'
            - 'contacts.read'
      'parameters':
        - 'schema':
            'type': 'integer'
          'name': 'id'
          'in': 'path'
          'required': true
          'description': 'Contact id'
        - '$ref': '#/paths/~1companies/post/parameters/0'
      'responses':
        '200':
          'description': 'Companies list linked to the contact'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      '$ref': '#/paths/~1companies/post/responses/201/content/application~1json/schema'
                'required':
                  - 'pagination'
                  - 'data'
  '/smart-tags/{linkedtype}/autocomplete':
    'parameters':
      - 'schema':
          'type': 'string'
          'enum':
            - 'company'
            - 'contact'
            - 'individual'
        'name': 'linkedtype'
        'in': 'path'
        'required': true
        'description': 'Linked type of smart tags searched'
      - 'schema':
          'type': 'string'
        'name': 'q'
        'in': 'query'
        'required': true
        'description': 'Word for the research of autocomplete'
    'get':
      'summary': 'Smart tags autocomplete'
      'description': 'Autocompled for smart tags'
      'tags':
        - 'Smart Tags'
      'operationId': 'autocomplete-smart-tags'
      'responses':
        '200':
          'description': 'Smart tags find'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    '$ref': '#/paths/~1companies~1%7BcompanyId%7D~1smart-tags/get/responses/200/content/application~1json/schema/properties/data'
      'security':
        - 'oauth2':
            - 'smart-tags.read'
  '/smart-tags/{id}':
    'parameters':
      - 'schema':
          'type': 'integer'
        'name': 'id'
        'in': 'path'
        'required': true
        'description': 'Smart tags ID'
    'delete':
      'summary': 'Delete a smart tags'
      'description': 'Delete a smart tags <br><br><i>Note that deleting a smart tags will also remove it''s presence on any object he was linked to.<br>To unlink a smart-tag (without deleting it), please use the "Link smart-tags to ..." endpoint</i>'
      'tags':
        - 'Smart Tags'
      'operationId': 'delete-smart-tags'
      'responses':
        '200':
          'description': 'Smart tags deleted'
      'security':
        - 'oauth2':
            - 'smart-tags.write'
  '/custom-fields':
    'get':
      'summary': 'Custom Fields List'
      'description': 'Get a list of custom fields'
      'tags':
        - 'Custom Fields'
      'operationId': 'get-custom-fields'
      'parameters':
        - '$ref': '#/paths/~1companies~1%7Bid%7D~1custom-fields/get/parameters/0'
        - '$ref': '#/components/parameters/direction'
        - '$ref': '#/components/parameters/limit'
        - '$ref': '#/components/parameters/offset'
        - '$ref': '#/components/parameters/fields'
      'responses':
        '200':
          'description': 'Custom fields fetched'
          'content':
            'application/json':
              'schema':
                'type': 'object'
                'properties':
                  'pagination':
                    '$ref': '#/components/schemas/Pagination'
                  'data':
                    'type': 'array'
                    'items':
                      'anyOf':
                        - 'title': 'Simple text'
                          'type': 'object'
                          'additionalProperties': false
                          'allOf':
                            - 'title': 'Custom field'
                              'type': 'object'
                              'description': ''
                              'x-examples': {}
                              'properties':
                                'id':
                                  'type': 'integer'
                                  'readOnly': true
                                  'description': 'Customfield id'
                                  'example': 6657
                                'name':
                                  'type': 'string'
                                  'maxLength': 250
                                  'description': 'Name of custom field'
                                  'example': 'Business sector'
                                'code':
                                  'type': 'string'
                                  'maxLength': 250
                                  'description': 'Machine name of custom field'
                                  'example': 'business-sector'
                                'description':
                                  'type': 'string'
                                  'maxLength': 250
                                  'description': 'Description of custom field'
                                  'example': 'A text describing this custom field.'
                                'mandatory':
                                  'type': 'boolean'
                                  'description': 'Custom field must be completed or not'
                                  'example': false
                                'rank':
                                  'type': 'integer'
                                  'description': 'Rank of custom field in group'
                                  'example': 1
                                'related_object':
                                  'type': 'array'
                                  'items':
                                    'type': 'string'
                                    'enum':
                                      - 'document'
                                      - 'contact'
                                      - 'client'
                                      - 'prospect'
                                      - 'supplier'
                                      - 'product'
                                      - 'service'
                                      - 'ticket'
                                      - 'task'
                                      - 'purchase'
                                      - 'opportunity'
                                      - 'project'
                                      - 'staff'
                                      - 'site'
                                  'description': 'List of objects the custom field can be used on'
                                  'uniqueItems': true
                                'customfield_group':
                                  'type': 'object'
                                  'description': 'Full custom field group object'
                                  'properties':
                                    'id':
                                      'type': 'integer'
[...]
