openapi: 3.1.0
info:
  version: 3.0.0
  title: Reply API
  description: API for managing email sequences, contacts, and automation workflows
servers:
  - url: https://api.reply.io
security:
  - bearerAuth: []
tags:
  - name: User Account
    description: Account information and authentication verification
  - name: Accounts
    description: Manage accounts (companies/organizations)
  - name: AI Prompts
    description: Manage the AI prompts used to configure sequence steps, and preview the output a prompt produces
  - name: AI SDR Insights
    description: Read AI SDR insights for sequence contacts
  - name: AI SDR Intent Signals
    description: Read Reply industry IDs and technology slugs used in AI SDR intent-signal configuration (typeahead)
  - name: AI SDR Sequences
    description: Manage AI SDR sequences and their AI SDR-specific settings — create, read settings, partial update, autopilot enable/disable/force-start, approval mode, generated step types, and playbook/knowledge-base connections
  - name: AI SDR Web Search
    description: Find contacts via AI-driven web search and review past searches
  - name: Attachments
    description: Upload file attachments used across email templates, sequence steps, and direct emails
  - name: Account Lists
    description: Manage account lists and account membership
  - name: Background Jobs
    description: Track and cancel asynchronous background operations (e.g., email validation)
  - name: Custom Fields
    description: Manage custom contact fields
  - name: Direct Outreach
    description: Send one-off outreach directly to a contact outside of any sequence — direct emails and LinkedIn connection requests, messages, InMails, and voice messages
  - name: Contact Blacklist Rules
    description: Manage blacklist rules for domains, emails, and email exceptions
  - name: Contact Enrichment
    description: Enrich contacts with emails, phone numbers, LinkedIn data, and AI-filled custom fields
  - name: Contact Lists
    description: Manage contact lists and contact membership
  - name: Contacts
    description: Manage individual contacts
  - name: Email Accounts
    description: Manage email accounts used for sending and receiving
  - name: Email Templates
    description: Manage email templates and template folders
  - name: Email Validations
    description: Estimate and schedule asynchronous email validation jobs
  - name: Holiday Calendars
    description: Manage holiday calendars for scheduling
  - name: Inbox
    description: Manage inbox threads and per-team thread categories — list/filter, read state, replies, category assignment, and meeting-intent flagging
  - name: LinkedIn Accounts
    description: Manage LinkedIn accounts for outreach
  - name: Live Data
    description: Find new contacts via Live Data searches and read typeahead values for the Live Data / Autopilot filter sidebar
  - name: AI SDR Knowledge Bases
    description: Manage AI SDR knowledge bases — collections of documents, links, reply handlers, and reengagement cards that inform the agent's responses
  - name: AI SDR Offers
    description: Manage AI SDR offers — bundles of company-context inputs (ICP, pain points, value propositions, etc.) used to personalize outreach
  - name: AI SDR Pending Approvals
    description: Review, send, regenerate, and provide feedback on AI-generated messages awaiting human approval
  - name: AI SDR Playbooks
    description: Manage AI SDR playbooks — tone, voice, and style guides applied during personalized message generation
  - name: Reports
    description: Generate and access performance reports across email, calls, tasks, LinkedIn, and team performance
  - name: Schedules
    description: Manage email send schedules and timing
  - name: Settings
    description: Manage team and user settings
  - name: Sequence Contacts
    description: Manage contacts within sequences
  - name: Sequence Email Accounts
    description: Manage email accounts linked to sequences
  - name: Sequence Folders
    description: Organize sequences into folders
  - name: Sequence LinkedIn Accounts
    description: Manage LinkedIn accounts linked to sequences
  - name: AI SDR Sequence Preview
    description: Read and regenerate per-contact previews of the messages a sequence will send, and provide feedback on preview messages
  - name: Sequence Steps
    description: Manage individual steps in sequences
  - name: Sequence Templates
    description: Manage sequence templates
  - name: Sequences
    description: Manage email automation sequences
  - name: AI SDR Strategist
    description: Trigger AI Strategist runs
  - name: Tasks
    description: Manage tasks and to-do items
  - name: Webhooks
    description: Manage webhook subscriptions and inspect delivery history
paths:
  /v3/ai-prompts:
    get:
      tags:
        - AI Prompts
      summary: List AI prompts
      x-required-scope: sequences:read
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `sequences:read` scope (or a broader one that includes it)._</small>

        Get the AI prompts available for a sequence step type, in one call with no paging. Mixes Reply's library prompts and yours.
      operationId: ListAiPrompts
      parameters:
        - name: stepType
          in: query
          required: true
          description: The sequence step type to list prompts for
          schema:
            type: string
            title: AI Prompt Step Type
            description: |-
              The sequence step type an AI prompt is written for. A prompt is only offered for the step type it was created
              with, and that step type cannot be changed afterwards.
            enum: &ref_0
              - commentOnRecentPost
      responses:
        '200':
          description: The prompts available for the requested step type
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: AiPrompt
                  description: An AI prompt available for configuring a sequence step.
                  properties: &ref_2
                    id:
                      type: integer
                      description: Unique identifier for the prompt
                    name:
                      type: string
                      description: Display name of the prompt
                    text:
                      type: string
                      description: The prompt instructions given to the AI
                    scope:
                      description: Whether the prompt is a read-only library prompt or your own personal prompt
                      type: string
                      title: AI Prompt Scope
                      enum: &ref_251
                        - library
                        - personal
                    stepType:
                      description: The sequence step type this prompt is written for
                      type: string
                      title: AI Prompt Step Type
                      enum: *ref_0
                  required: &ref_3
                    - id
                    - name
                    - text
                    - scope
                    - stepType
                  example: &ref_4
                    id: 123
                    name: Warm, specific comment
                    text: Write a short, genuine comment that reacts to one concrete point in the post. Avoid flattery and never pitch.
                    scope: personal
                    stepType: commentOnRecentPost
        '400':
          description: Validation error
          content:
            application/problem+json:
              schema:
                allOf: &ref_5
                  - allOf: &ref_253
                      - type: object
                        title: Problem Details
                        description: |-
                          Bare RFC 9457 problem-details envelope. Returned by middleware-level errors
                          that don't carry domain context: 401 Unauthorized (auth middleware),
                          429 Too Many Requests (rate-limit middleware), and route-level 404 / 405 /
                          415 (framework middleware).

                          Business and validation responses extend this envelope and add additional
                          fields — see `business-problem.model.yaml` (adds `code` slug) and
                          `validation-problem.model.yaml` (adds `errors[]` array).
                        properties: &ref_1
                          title:
                            type: string
                            description: Short, human-readable summary of the problem.
                          status:
                            type: integer
                            description: HTTP status code.
                            minimum: 100
                            maximum: 599
                          detail:
                            type: string
                            description: Human-readable explanation specific to this occurrence.
                      - type: object
                        properties:
                          errors:
                            type: array
                            description: |-
                              List of field-level validation errors. Always non-empty when this
                              envelope is returned. Each entry pins a single offending field
                              via JSON Pointer plus a sanitized detail string.
                            items:
                              type: object
                              title: Validation Error
                              description: A single field-level validation error.
                              properties: &ref_252
                                pointer:
                                  type: string
                                  description: |-
                                    JSON Pointer (RFC 6901) to the offending field — e.g.
                                    `/steps/0/subject`.

                                    * An empty string (`""`) means the error applies to the whole
                                      request body (e.g. body is missing or unparseable).
                                    * For route or query parameter failures the pointer is the parameter
                                      name (e.g. `id`, `top`).
                                  example: /steps/0/subject
                                detail:
                                  type: string
                                  description: |-
                                    Sanitized, human-readable explanation of this field's error. One of a
                                    small set of templates — `"Field is required."`, `"Value has an
                                    invalid type."`, `"Value has an invalid format."`, `"Request body is
                                    not valid JSON."`, `"The request body is required and cannot be
                                    empty."` — or a FluentValidator message on body endpoints.
                                  example: Field is required.
                    title: Validation Problem
                    description: |-
                      Input-validation error response at 400. Returned when the request body
                      fails binding, FluentValidator rules, or when route/query parameter
                      attribute validation (`[Range]`, `[Required]`) fails. Route, query, and
                      body errors are combined into a single `errors[]` array — clients should
                      not assume one error per request.
                  - example:
                      title: Validation failed
                      status: 400
                      detail: The request body contains validation errors.
                      errors:
                        - pointer: /name
                          detail: Field is required.
              example:
                title: Validation failed
                status: 400
                detail: One or more parameters did not match the expected format.
                errors:
                  - pointer: stepType
                    detail: StepType is required.
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: &ref_7
                  - type: object
                    title: Problem Details
                    description: |-
                      Bare RFC 9457 problem-details envelope. Returned by middleware-level errors
                      that don't carry domain context: 401 Unauthorized (auth middleware),
                      429 Too Many Requests (rate-limit middleware), and route-level 404 / 405 /
                      415 (framework middleware).

                      Business and validation responses extend this envelope and add additional
                      fields — see `business-problem.model.yaml` (adds `code` slug) and
                      `validation-problem.model.yaml` (adds `errors[]` array).
                    properties: *ref_1
                  - example:
                      title: Unauthorized
                      status: 401
                      detail: Authentication credentials are missing or invalid.
        '403':
          description: The API key does not grant access to AI prompts
          content:
            application/problem+json:
              schema:
                allOf: &ref_8
                  - allOf: &ref_6
                      - type: object
                        title: Problem Details
                        description: |-
                          Bare RFC 9457 problem-details envelope. Returned by middleware-level errors
                          that don't carry domain context: 401 Unauthorized (auth middleware),
                          429 Too Many Requests (rate-limit middleware), and route-level 404 / 405 /
                          415 (framework middleware).

                          Business and validation responses extend this envelope and add additional
                          fields — see `business-problem.model.yaml` (adds `code` slug) and
                          `validation-problem.model.yaml` (adds `errors[]` array).
                        properties: *ref_1
                      - type: object
                        properties:
                          code:
                            type: string
                            description: |-
                              Stable, machine-readable error slug in the form
                              `"<resource>.<variant>"`.

                              * `resource` is the camelCased domain — e.g. `sequence`,
                                `contact`, `inboxThread`, `blacklistDomainRule`.
                              * `variant` is the camelCased specific failure mode — e.g.
                                `notFound`, `forbidden`, `duplicateName`, `globalRuleReadOnly`.

                              Use `code` for programmatic error handling; use `detail` for
                              user-facing messages. Slugs are stable across server-side enum
                              reorderings and never change meaning under a given resource.
                            pattern: ^[a-z][a-zA-Z0-9]*(\.[a-z][a-zA-Z0-9]*)+$
                            example: sequence.notFound
                    title: Business Problem
                    description: |-
                      Domain error response carrying a stable, namespaced error slug.
                      Emitted for most 4xx responses (business 400, 403, 404, 409, …) and
                      for 503 when a downstream dependency is unavailable.
                  - example:
                      title: Forbidden
                      status: 403
                      detail: You do not have permission to access this resource.
                      code: sequence.forbidden
              example:
                title: Forbidden
                status: 403
                detail: You do not have access to this resource.
                code: aiPrompt.forbidden
        '429':
          description: Too Many Requests
          headers: &ref_9
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
                minimum: 1
          content: &ref_10
            application/problem+json:
              schema:
                allOf:
                  - type: object
                    title: Problem Details
                    description: |-
                      Bare RFC 9457 problem-details envelope. Returned by middleware-level errors
                      that don't carry domain context: 401 Unauthorized (auth middleware),
                      429 Too Many Requests (rate-limit middleware), and route-level 404 / 405 /
                      415 (framework middleware).

                      Business and validation responses extend this envelope and add additional
                      fields — see `business-problem.model.yaml` (adds `code` slug) and
                      `validation-problem.model.yaml` (adds `errors[]` array).
                    properties: *ref_1
              example:
                title: Too Many Requests
                status: 429
                detail: Rate limit exceeded. Retry after 60 seconds.
    post:
      tags:
        - AI Prompts
      summary: Create a personal AI prompt
      x-required-scope: sequences:write
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `sequences:write` scope (or a broader one that includes it)._</small>

        Save your own AI prompt for a sequence step type so you can reuse it. The name must be unique among your personal prompts.
      operationId: CreateAiPrompt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: AiPromptCreationRequest
              description: Request body for saving a new personal AI prompt.
              properties: &ref_254
                name:
                  type: string
                  maxLength: 256
                  description: Display name for the prompt. Must be unique among your personal prompts for the same step type.
                text:
                  type: string
                  maxLength: 2000
                  description: The prompt instructions given to the AI
                stepType:
                  description: The sequence step type this prompt is for. Fixed at creation and cannot be changed later.
                  type: string
                  title: AI Prompt Step Type
                  enum: *ref_0
              required: &ref_255
                - name
                - text
                - stepType
              example: &ref_256
                name: Warm, specific comment
                text: Write a short, genuine comment that reacts to one concrete point in the post. Avoid flattery and never pitch.
                stepType: commentOnRecentPost
      responses:
        '201':
          description: The prompt was created
          content:
            application/json:
              schema:
                type: object
                title: AiPrompt
                description: An AI prompt available for configuring a sequence step.
                properties: *ref_2
                required: *ref_3
                example: *ref_4
        '400':
          description: Request body validation failure, or a business rule rejection.
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: &ref_11
                      - allOf: *ref_6
                        title: Business Problem
                        description: |-
                          Domain error response carrying a stable, namespaced error slug.
                          Emitted for most 4xx responses (business 400, 403, 404, 409, …) and
                          for 503 when a downstream dependency is unavailable.
                      - example:
                          title: Bad Request
                          status: 400
                          detail: Pagination parameters are invalid.
                          code: sequence.invalidPagination
              examples:
                validation_failed:
                  summary: Request body validation failure
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request body contains validation errors.
                    errors:
                      - pointer: /text
                        detail: Text must not exceed 2000 characters.
                business_invalid_input:
                  summary: Domain rule rejection
                  value:
                    title: Bad Request
                    status: 400
                    detail: Invalid request
                    code: aiPrompt.unknown
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: The API key does not grant access to AI prompts
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: You do not have access to this resource.
                code: aiPrompt.forbidden
        '409':
          description: You already have a personal prompt with this name for this step type
          content:
            application/problem+json:
              schema:
                allOf: &ref_12
                  - allOf: *ref_6
                    title: Business Problem
                    description: |-
                      Domain error response carrying a stable, namespaced error slug.
                      Emitted for most 4xx responses (business 400, 403, 404, 409, …) and
                      for 503 when a downstream dependency is unavailable.
                  - example:
                      title: Conflict
                      status: 409
                      detail: A resource with this name already exists.
                      code: sequence.duplicateName
              example:
                title: Conflict
                status: 409
                detail: A prompt named 'Warm, specific comment' already exists.
                code: aiPrompt.nameAlreadyExists
        '429':
          description: Too Many Requests
          headers: *ref_9
          content: *ref_10
  /v3/ai-prompts/{id}:
    put:
      tags:
        - AI Prompts
      summary: Update a personal AI prompt
      x-required-scope: sequences:write
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `sequences:write` scope (or a broader one that includes it)._</small>

        Rename one of your personal AI prompts or rewrite its text. Both fields are replaced, so send everything you want to keep.
      operationId: UpdateAiPrompt
      parameters:
        - name: id
          in: path
          required: true
          description: AI prompt ID
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: AiPromptUpdateRequest
              description: |-
                Request body for updating a personal AI prompt. Both fields are required — the prompt is replaced with exactly
                what you send.
              properties: &ref_257
                name:
                  type: string
                  maxLength: 256
                  description: Display name for the prompt. Must be unique among your personal prompts for the same step type.
                text:
                  type: string
                  maxLength: 2000
                  description: The prompt instructions given to the AI
              required: &ref_258
                - name
                - text
              example: &ref_259
                name: Warm, specific comment (v2)
                text: Write a short, genuine comment that reacts to one concrete point in the post. Keep it under 30 words.
      responses:
        '200':
          description: The updated prompt
          content:
            application/json:
              schema:
                type: object
                title: AiPrompt
                description: An AI prompt available for configuring a sequence step.
                properties: *ref_2
                required: *ref_3
                example: *ref_4
        '400':
          description: Route-parameter or request-body validation failure, or a business rule rejection.
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: *ref_11
              examples:
                validation_failed:
                  summary: Request body validation failure
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request body contains validation errors.
                    errors:
                      - pointer: /name
                        detail: Name is required.
                business_invalid_input:
                  summary: Domain rule rejection
                  value:
                    title: Bad Request
                    status: 400
                    detail: Invalid request
                    code: aiPrompt.unknown
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: The prompt is a library prompt and cannot be edited
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: Library prompts are read-only.
                code: aiPrompt.communityPromptReadOnly
        '404':
          description: AI prompt not found
          content:
            application/problem+json:
              schema:
                allOf: &ref_13
                  - allOf: *ref_6
                    title: Business Problem
                    description: |-
                      Domain error response carrying a stable, namespaced error slug.
                      Emitted for most 4xx responses (business 400, 403, 404, 409, …) and
                      for 503 when a downstream dependency is unavailable.
                  - example:
                      title: Not Found
                      status: 404
                      detail: The requested resource was not found.
                      code: sequence.notFound
              example:
                title: Not Found
                status: 404
                detail: AI prompt not found
                code: aiPrompt.notFound
        '409':
          description: You already have a personal prompt with this name for this step type
          content:
            application/problem+json:
              schema:
                allOf: *ref_12
              example:
                title: Conflict
                status: 409
                detail: A prompt named 'Warm, specific comment' already exists.
                code: aiPrompt.nameAlreadyExists
        '429':
          description: Too Many Requests
          headers: *ref_9
          content: *ref_10
    delete:
      tags:
        - AI Prompts
      summary: Delete a personal AI prompt
      x-required-scope: sequences:write
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `sequences:write` scope (or a broader one that includes it)._</small>

        Delete one of your personal AI prompts. Steps already using it keep their saved text. Library prompts cannot be deleted.
      operationId: DeleteAiPrompt
      parameters:
        - name: id
          in: path
          required: true
          description: AI prompt ID
          schema:
            type: integer
      responses:
        '204':
          description: The prompt was deleted. The response body is empty.
          content:
            application/json:
              schema:
                description: Empty body
        '400':
          description: Route-parameter validation failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: One or more parameters did not match the expected format.
                errors:
                  - pointer: id
                    detail: The 'id' parameter must be a positive.
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: The prompt is a library prompt and cannot be deleted
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: Library prompts are read-only.
                code: aiPrompt.communityPromptReadOnly
        '404':
          description: AI prompt not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: AI prompt not found
                code: aiPrompt.notFound
        '429':
          description: Too Many Requests
          headers: *ref_9
          content: *ref_10
  /v3/ai-prompts/preview/sample:
    post:
      tags:
        - AI Prompts
      summary: Preview a comment prompt against a sample post
      x-required-scope: sequences:operate
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `sequences:operate` scope (or a broader one that includes it)._</small>

        Try a comment prompt against a generic sample post. Nothing is fetched from LinkedIn and no Reply credits are spent.
      operationId: PreviewAiPromptOnSamplePost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: AiPromptSamplePreviewRequest
              description: Request body for previewing a comment prompt against a generic sample post.
              properties: &ref_260
                promptText:
                  type: string
                  maxLength: 2000
                  description: The prompt instructions to test
                skipTopics:
                  type: array
                  items:
                    type: string
                  description: Topics the AI should refuse to comment on. A post matching one of these returns the `aiSkip` outcome.
                sequenceId:
                  type: integer
                  minimum: 1
                  nullable: true
                  description: |-
                    Sequence to resolve variables against when `promptText` contains sequence variables. Omit if the prompt has
                    no variables.
              required: &ref_261
                - promptText
              example: &ref_262
                promptText: Write a short, genuine comment that reacts to one concrete point in the post. Avoid flattery and never pitch.
                skipTopics:
                  - politics
                  - religion
                  - personal topics
                sequenceId: 4521
      responses:
        '200':
          description: The preview result
          content:
            application/json:
              schema:
                type: object
                title: AiPromptPreviewResponse
                description: |-
                  The result of a comment preview. Read `outcome` first — it tells you whether a comment was produced and, if not,
                  why.
                properties: &ref_14
                  outcome:
                    description: Whether a comment was generated, and why not if it was skipped
                    type: string
                    title: Comment Preview Outcome
                    enum: &ref_263
                      - generated
                      - noRecentPosts
                      - postsUnavailable
                      - commentingRestricted
                      - reshareNoText
                      - noPostContent
                      - aiSkip
                  commentText:
                    type: string
                    nullable: true
                    description: The generated comment. Populated only when `outcome` is `generated`.
                  postText:
                    type: string
                    nullable: true
                    description: The text of the post the comment was written for
                  detectedTopic:
                    type: string
                    nullable: true
                    description: The topic the AI detected in the post. Useful for checking why a post was skipped.
                  postUrl:
                    type: string
                    nullable: true
                    description: Link to the post the comment was written for
                required: &ref_15
                  - outcome
                example: &ref_16
                  outcome: generated
                  commentText: The point about onboarding friction really lands — we saw the same drop-off until we cut the setup steps in half.
                  postText: After six months of user interviews, the biggest blocker we found wasn't pricing. It was onboarding friction.
                  detectedTopic: product onboarding
                  postUrl: https://www.linkedin.com/feed/update/urn:li:activity:7100000000000000000
        '400':
          description: Request body validation failure, or the prompt text could not be rendered.
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: *ref_11
              examples:
                validation_failed:
                  summary: Request body validation failure
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request body contains validation errors.
                    errors:
                      - pointer: /promptText
                        detail: PromptText is required.
                prompt_render_failed:
                  summary: The prompt text could not be rendered
                  value:
                    title: Bad Request
                    status: 400
                    detail: Failed to render the prompt.
                    code: linkedInCommentPreview.promptRenderFailed
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: Comment previews are not available for this account
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: Comment on a recent post preview is not available.
                code: linkedInCommentPreview.featureDisabled
        '429':
          description: The daily cap on sample previews has been reached
          content:
            application/problem+json:
              schema:
                description: Too Many Requests
                headers: *ref_9
                content: *ref_10
              example:
                title: Too Many Requests
                status: 429
                detail: The daily limit of sample comment generations is reached. Please try again tomorrow.
                code: linkedInCommentPreview.dailySampleLimitReached
  /v3/ai-prompts/preview/linkedin-post:
    post:
      tags:
        - AI Prompts
      summary: Preview a comment prompt against a LinkedIn post
      x-required-scope: sequences:operate
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `sequences:operate` scope (or a broader one that includes it)._</small>

        Test a comment prompt against a real person's latest LinkedIn post. The response shows which post the comment was written for.
      operationId: PreviewAiPromptOnLinkedInPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: AiPromptLinkedInPostPreviewRequest
              description: |-
                Request body for previewing a comment prompt against a real person's latest LinkedIn post. One Reply credit is
                spent per call, whatever the outcome.
              properties: &ref_264
                promptText:
                  type: string
                  maxLength: 2000
                  description: The prompt instructions to test
                linkedInProfileUrl:
                  type: string
                  description: URL of the LinkedIn profile whose latest post the comment is written for
                linkedInAccountId:
                  type: integer
                  minimum: 1
                  description: ID of the connected LinkedIn account used to look up the post
                skipTopics:
                  type: array
                  items:
                    type: string
                  description: Topics the AI should refuse to comment on. A post matching one of these returns the `aiSkip` outcome.
                skipIfNoPostsInDays:
                  type: integer
                  minimum: 1
                  maximum: 90
                  nullable: true
                  description: |-
                    Treat the profile as having nothing to comment on when its latest post is older than this many days, returning
                    the `noRecentPosts` outcome.
                sequenceId:
                  type: integer
                  minimum: 1
                  nullable: true
                  description: |-
                    Sequence to resolve variables against when `promptText` contains sequence variables. Omit if the prompt has
                    no variables.
              required: &ref_265
                - promptText
                - linkedInProfileUrl
                - linkedInAccountId
              example: &ref_266
                promptText: Write a short, genuine comment that reacts to one concrete point in the post. Avoid flattery and never pitch.
                linkedInProfileUrl: https://www.linkedin.com/in/alex-johnson
                linkedInAccountId: 456
                skipTopics:
                  - politics
                  - religion
                skipIfNoPostsInDays: 30
                sequenceId: 4521
      responses:
        '200':
          description: The preview result
          content:
            application/json:
              schema:
                type: object
                title: AiPromptPreviewResponse
                description: |-
                  The result of a comment preview. Read `outcome` first — it tells you whether a comment was produced and, if not,
                  why.
                properties: *ref_14
                required: *ref_15
                example: *ref_16
        '400':
          description: |-
            Request body validation failure, or a business rule rejection — an unusable profile URL, too few Reply
            credits, a LinkedIn account that cannot be used, or a prompt that could not be rendered.
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: *ref_11
              examples:
                validation_failed:
                  summary: Request body validation failure
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request body contains validation errors.
                    errors:
                      - pointer: /linkedInProfileUrl
                        detail: LinkedInProfileUrl is required.
                invalid_linkedin_url:
                  summary: The profile URL is not a usable LinkedIn profile
                  value:
                    title: Bad Request
                    status: 400
                    detail: The LinkedIn profile URL is not valid.
                    code: linkedInCommentPreview.invalidLinkedInUrl
                insufficient_credits:
                  summary: Not enough Reply credits
                  value:
                    title: Bad Request
                    status: 400
                    detail: You don't have enough Reply credits to generate a preview from a LinkedIn profile.
                    code: linkedInCommentPreview.insufficientCredits
                linkedin_account_inactive:
                  summary: The LinkedIn account cannot be used right now
                  value:
                    title: Bad Request
                    status: 400
                    detail: The LinkedIn account is not active.
                    code: linkedInCommentPreview.linkedInAccountInactive
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: Comment previews are not available for this account
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: Comment on a recent post preview is not available.
                code: linkedInCommentPreview.featureDisabled
        '404':
          description: LinkedIn account not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: LinkedIn account not found
                code: linkedInCommentPreview.linkedInAccountNotFound
        '429':
          description: Too Many Requests
          headers: *ref_9
          content: *ref_10
  /v3/sequences/ai-sdr/{sequence_id}/contacts/{contact_id}/ai-insights:
    get:
      tags:
        - AI SDR Insights
      summary: Get AI insights for a contact
      description: |-
        <Warning>
          **Coming soon.** This endpoint will be available by late August 2026.
        </Warning>

        Get the AI SDR insights summary for one contact in one sequence. Returns a single Markdown field, ready to render as-is.
      operationId: GetContactAiInsights
      parameters:
        - name: sequence_id
          in: path
          required: true
          description: Sequence id
          schema:
            type: integer
            minimum: 1
        - name: contact_id
          in: path
          required: true
          description: Contact id
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: AI insights for the contact
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: string
                    description: Markdown-formatted insights summary
                    readOnly: true
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
        '404':
          description: Sequence or contact not found, or no personalized message has been generated yet for this contact
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
  /v3/ai-sdr/intent-signals/industries:
    get:
      tags:
        - AI SDR Intent Signals
      summary: Intent signal industries typeahead
      x-required-scope: ai-sdr:read
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `ai-sdr:read` scope (or a broader one that includes it)._</small>

        Get the industries you can reference in an AI SDR intent signal. The id is what you send as technologyUsed.industryId.
      operationId: ListIntentSignalIndustries
      parameters:
        - name: top
          in: query
          required: false
          description: Maximum number of items to return (default 100, max 1000)
          schema:
            type: integer
        - name: skip
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
        - name: search
          in: query
          required: false
          description: Case-insensitive substring match on industry name
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of industries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      title: Intent Signal Industry
                      description: A single industry entry from the typeahead list, used in intent-signal configuration.
                      properties: &ref_267
                        id:
                          type: integer
                          description: Reply industry id. Use this value when wiring `technologyUsed.industryId` or `jobHiring.industries[]` on an intent signal.
                          readOnly: true
                        name:
                          type: string
                          description: Display name of the industry.
                      example: &ref_268
                        id: 47
                        name: Software Development
                  hasMore:
                    type: boolean
        '400':
          description: Invalid pagination parameters
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Request
                status: 400
                detail: Parameter 'top' must be between 1 and 1000
                code: salesAgentIntentSignals.invalidPagination
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: salesAgentIntentSignals.forbidden
        '502':
          description: Upstream service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: 'Upstream service failure: ...'
                code: salesAgentIntentSignals.upstreamFailure
  /v3/ai-sdr/intent-signals/technologies:
    get:
      tags:
        - AI SDR Intent Signals
      summary: Technologies typeahead
      x-required-scope: ai-sdr:read
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `ai-sdr:read` scope (or a broader one that includes it)._</small>

        Get the technologies you can reference in an AI SDR intent signal. Send the slug in technologyUsed.technologies.
      operationId: ListIntentSignalTechnologies
      parameters:
        - name: top
          in: query
          required: false
          description: Maximum number of items to return (default 100, max 1000)
          schema:
            type: integer
        - name: skip
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
        - name: search
          in: query
          required: false
          description: Case-insensitive substring match on technology name
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of technologies
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      title: Intent Signal Technology
                      description: A single technology entry from the typeahead list, used in intent-signal configuration.
                      properties: &ref_269
                        slug:
                          type: string
                          description: Persisted identifier — use this value in `technologyUsed.technologies[]`.
                          readOnly: true
                        name:
                          type: string
                          description: Display name of the technology.
                      example: &ref_270
                        slug: salesforce
                        name: Salesforce
                  hasMore:
                    type: boolean
        '400':
          description: Invalid pagination parameters
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Request
                status: 400
                detail: Parameter 'top' must be between 1 and 1000
                code: salesAgentIntentSignals.invalidPagination
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: salesAgentIntentSignals.forbidden
        '502':
          description: Upstream service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: 'Upstream service failure: ...'
                code: salesAgentIntentSignals.upstreamFailure
  /v3/ai-sdr/knowledge-bases:
    get:
      tags:
        - AI SDR Knowledge Bases
      summary: List knowledge bases
      x-required-scope: ai-sdr:read
      description: |-
        <small>_Requires the `ai-sdr:read` scope (or a broader one that includes it)._</small>

        Browse the knowledge bases you can see — the collections that brief the AI SDR. Paged with top and skip.
      operationId: ListKnowledgeBases
      parameters:
        - name: top
          in: query
          required: false
          description: Maximum number of items to return (default 100, max 1000)
          schema:
            type: integer
        - name: skip
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
        - name: search
          in: query
          required: false
          description: Case-insensitive substring match on knowledge base name
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of knowledge bases
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      title: KnowledgeBaseListItem
                      description: Summary representation of a knowledge base returned in list responses.
                      properties: &ref_271
                        id:
                          type: integer
                          format: int64
                          description: Unique identifier for the knowledge base
                          readOnly: true
                        name:
                          type: string
                          description: Display name of the knowledge base
                          readOnly: true
                        updatedAt:
                          type: string
                          format: date-time
                          description: Timestamp of the last modification
                          readOnly: true
                        ownerUserId:
                          type: integer
                          nullable: true
                          description: User ID of the owner. `null` when the owner has been removed from the team.
                          readOnly: true
                      example: &ref_272
                        id: 4821
                        name: Product knowledge base v3
                        updatedAt: '2026-05-10T14:32:11Z'
                        ownerUserId: 1234
                  hasMore:
                    type: boolean
        '400':
          description: Invalid pagination parameters
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Request
                status: 400
                detail: 'Invalid pagination: ''top'' must not exceed 1000.'
                code: knowledgeBase.invalidPagination
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
    post:
      tags:
        - AI SDR Knowledge Bases
      summary: Create a knowledge base
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Create a knowledge base for the AI SDR to write from. Only the name is required; instructions add up to 2000 characters of guidance.
      operationId: CreateKnowledgeBase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: KnowledgeBaseCreationRequest
              description: Request body for creating a new knowledge base.
              required: &ref_273
                - name
              properties: &ref_274
                name:
                  type: string
                  description: Display name of the knowledge base
                  minLength: 1
                  maxLength: 128
                instructions:
                  type: string
                  description: Free-form instructions applied when the knowledge base is referenced by AI SDR generations.
                  maxLength: 2000
              example: &ref_275
                name: Product knowledge base v3
                instructions: Reference internal launch deck before answering pricing questions.
      responses:
        '201':
          description: Knowledge base created successfully
          content:
            application/json:
              schema:
                type: object
                title: KnowledgeBase
                description: Detailed representation of a knowledge base.
                properties: &ref_17
                  id:
                    type: integer
                    format: int64
                    description: Unique identifier for the knowledge base
                    readOnly: true
                  name:
                    type: string
                    description: Display name of the knowledge base
                  instructions:
                    type: string
                    description: Free-form instructions applied when the knowledge base is referenced by AI SDR generations.
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp of the last modification
                    readOnly: true
                  ownerUserId:
                    type: integer
                    nullable: true
                    description: User ID of the owner. `null` when the owner has been removed from the team.
                    readOnly: true
                example: &ref_18
                  id: 4821
                  name: Product knowledge base v3
                  instructions: Reference internal launch deck before answering pricing questions.
                  updatedAt: '2026-05-10T14:32:11Z'
                  ownerUserId: 1234
        '400':
          description: Validation failure on the request body
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: The request body contains validation errors.
                errors:
                  - pointer: /name
                    detail: '''name'' must not be empty.'
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
  /v3/ai-sdr/knowledge-bases/{id}:
    get:
      tags:
        - AI SDR Knowledge Bases
      summary: Get a knowledge base
      x-required-scope: ai-sdr:read
      description: |-
        <small>_Requires the `ai-sdr:read` scope (or a broader one that includes it)._</small>

        Get one knowledge base by id: its name, standing instructions, owner, and last update. Its contents have their own endpoints.
      operationId: GetKnowledgeBase
      parameters:
        - name: id
          in: path
          required: true
          description: Knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '200':
          description: Knowledge base found
          content:
            application/json:
              schema:
                type: object
                title: KnowledgeBase
                description: Detailed representation of a knowledge base.
                properties: *ref_17
                example: *ref_18
        '400':
          description: Invalid `id` (not a positive integer)
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: The request contains validation errors.
                errors:
                  - pointer: /id
                    detail: '''id'' must be a positive integer.'
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
    patch:
      tags:
        - AI SDR Knowledge Bases
      summary: Update a knowledge base
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Rename a knowledge base or change its standing instructions. Send only what you're changing; at least one field is required.
      operationId: UpdateKnowledgeBase
      parameters:
        - name: id
          in: path
          required: true
          description: Knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: KnowledgeBasePatchRequest
              description: Partial update for a knowledge base. Send only the fields you want to change; absent fields retain their current value. At least one field must be present.
              properties: &ref_276
                name:
                  type: string
                  description: Updated display name (non-empty)
                  minLength: 1
                  maxLength: 128
                instructions:
                  type: string
                  description: Updated instructions. Empty string allowed (clears the instructions).
                  maxLength: 2000
              example: &ref_277
                instructions: 'Updated: reference Q3 launch deck instead of internal v2.'
      responses:
        '200':
          description: Knowledge base updated successfully
          content:
            application/json:
              schema:
                type: object
                title: KnowledgeBase
                description: Detailed representation of a knowledge base.
                properties: *ref_17
                example: *ref_18
        '400':
          description: Validation failure on the request body
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: The request body contains validation errors.
                errors:
                  - pointer: /
                    detail: At least one field must be provided.
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
    delete:
      tags:
        - AI SDR Knowledge Bases
      summary: Delete a knowledge base
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Delete a knowledge base by id so the AI SDR stops writing from it. Returns 204 with no body when it succeeds.
      operationId: DeleteKnowledgeBase
      parameters:
        - name: id
          in: path
          required: true
          description: Knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '204':
          description: Knowledge base deleted successfully
        '400':
          description: Invalid `id` (not a positive integer)
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: The request contains validation errors.
                errors:
                  - pointer: /id
                    detail: '''id'' must be a positive integer.'
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
  /v3/ai-sdr/knowledge-bases/{id}/duplicate:
    post:
      tags:
        - AI SDR Knowledge Bases
      summary: Duplicate a knowledge base
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Copy a knowledge base with its documents, links, reply handlers, and reengagement cards, so you can adapt it safely.
      operationId: DuplicateKnowledgeBase
      parameters:
        - name: id
          in: path
          required: true
          description: Knowledge base id to duplicate
          schema:
            type: integer
            format: int64
            minimum: 1
      responses:
        '201':
          description: Knowledge base duplicated successfully
          content:
            application/json:
              schema:
                type: object
                title: KnowledgeBase
                description: Detailed representation of a knowledge base.
                properties: *ref_17
                example: *ref_18
        '400':
          description: Invalid `id` (not a positive integer)
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: The request contains validation errors.
                errors:
                  - pointer: /id
                    detail: '''id'' must be a positive integer.'
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Source knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
  /v3/ai-sdr/knowledge-bases/{knowledge_base_id}/links:
    get:
      tags:
        - AI SDR Knowledge Bases
      summary: List links
      x-required-scope: ai-sdr:read
      description: |-
        <small>_Requires the `ai-sdr:read` scope (or a broader one that includes it)._</small>

        List the web pages a knowledge base pulls content from. Paged with top and skip, with an optional search on the URL.
      operationId: ListKnowledgeBaseLinks
      parameters:
        - name: knowledge_base_id
          in: path
          required: true
          description: Parent knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: top
          in: query
          required: false
          description: Maximum number of items to return (default 100, max 1000)
          schema:
            type: integer
        - name: skip
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
        - name: search
          in: query
          required: false
          description: Case-insensitive substring match on link URL
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of links
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      title: KnowledgeBaseLink
                      description: A web link attached to a knowledge base.
                      properties: &ref_19
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the link
                          readOnly: true
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the link was added
                          readOnly: true
                        url:
                          type: string
                          description: The URL associated with the link
                          readOnly: true
                      example: &ref_20
                        id: 9c1f8a7e-0b3a-4d11-9b9c-2c4f8a7e0b3a
                        createdAt: '2026-05-10T14:32:11Z'
                        url: https://docs.example.com/product/launch
                  hasMore:
                    type: boolean
        '400':
          description: Invalid pagination or path parameters
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: *ref_11
              examples:
                validation_failed:
                  summary: Path parameter validation
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request contains validation errors.
                    errors:
                      - pointer: /knowledge_base_id
                        detail: '''knowledge_base_id'' must be a positive integer.'
                business_invalid_pagination:
                  summary: Pagination rejection
                  value:
                    title: Bad Request
                    status: 400
                    detail: 'Invalid pagination: ''top'' must not exceed 1000.'
                    code: knowledgeBase.invalidPagination
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
    post:
      tags:
        - AI SDR Knowledge Bases
      summary: Add a link
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Add a web page to a knowledge base so the AI SDR can draw on it. The URL is required and capped at 256 characters.
      operationId: AddKnowledgeBaseLink
      parameters:
        - name: knowledge_base_id
          in: path
          required: true
          description: Parent knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: KnowledgeBaseLinkCreationRequest
              description: Request body for adding a web link to a knowledge base.
              required: &ref_278
                - url
              properties: &ref_279
                url:
                  type: string
                  description: The URL to attach
                  minLength: 1
                  maxLength: 256
              example: &ref_280
                url: https://docs.example.com/product/launch
      responses:
        '201':
          description: Link added successfully
          content:
            application/json:
              schema:
                type: object
                title: KnowledgeBaseLink
                description: A web link attached to a knowledge base.
                properties: *ref_19
                example: *ref_20
        '400':
          description: Validation failure on the request body or upstream rejection (invalid URL shape)
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: *ref_11
              examples:
                validation_failed:
                  summary: Body validation failure
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request body contains validation errors.
                    errors:
                      - pointer: /url
                        detail: '''url'' must not be empty.'
                business_invalid_links:
                  summary: Upstream rejected the URL
                  value:
                    title: Bad Request
                    status: 400
                    detail: URL is not reachable or not allowed.
                    code: knowledgeBase.invalidParameter
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
  /v3/ai-sdr/knowledge-bases/{knowledge_base_id}/links/{link_id}:
    delete:
      tags:
        - AI SDR Knowledge Bases
      summary: Delete a link
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Remove a web page from a knowledge base so the AI SDR stops drawing on it. Returns 204 with no body on success.
      operationId: DeleteKnowledgeBaseLink
      parameters:
        - name: knowledge_base_id
          in: path
          required: true
          description: Parent knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: link_id
          in: path
          required: true
          description: Link id
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Link deleted successfully
        '400':
          description: Invalid path parameters
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: The request contains validation errors.
                errors:
                  - pointer: /knowledge_base_id
                    detail: '''knowledge_base_id'' must be a positive integer.'
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base or link not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Link '9c1f8a7e-0b3a-4d11-9b9c-2c4f8a7e0b3a' not found in knowledge base '4821'
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
  /v3/ai-sdr/knowledge-bases/{knowledge_base_id}/documents:
    get:
      tags:
        - AI SDR Knowledge Bases
      summary: List documents
      x-required-scope: ai-sdr:read
      description: |-
        <small>_Requires the `ai-sdr:read` scope (or a broader one that includes it)._</small>

        List the files a knowledge base holds for the AI SDR. Paged with top and skip, with an optional search on the file name.
      operationId: ListKnowledgeBaseDocuments
      parameters:
        - name: knowledge_base_id
          in: path
          required: true
          description: Parent knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: top
          in: query
          required: false
          description: Maximum number of items to return (default 100, max 1000)
          schema:
            type: integer
        - name: skip
          in: query
          required: false
          description: Number of items to skip
          schema:
            type: integer
        - name: search
          in: query
          required: false
          description: Case-insensitive substring match on document name
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      title: KnowledgeBaseDocument
                      description: A file document attached to a knowledge base.
                      properties: &ref_21
                        id:
                          type: string
                          format: uuid
                          description: Unique identifier for the document
                          readOnly: true
                        createdAt:
                          type: string
                          format: date-time
                          description: Timestamp when the document was uploaded
                          readOnly: true
                        name:
                          type: string
                          description: Original name of the uploaded file
                          readOnly: true
                      example: &ref_22
                        id: 9c1f8a7e-0b3a-4d11-9b9c-2c4f8a7e0b3a
                        createdAt: '2026-05-10T14:32:11Z'
                        name: product-launch-deck.pdf
                  hasMore:
                    type: boolean
        '400':
          description: Invalid pagination or path parameters
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: *ref_11
              examples:
                validation_failed:
                  summary: Path parameter validation
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request contains validation errors.
                    errors:
                      - pointer: /knowledge_base_id
                        detail: '''knowledge_base_id'' must be a positive integer.'
                business_invalid_pagination:
                  summary: Pagination rejection
                  value:
                    title: Bad Request
                    status: 400
                    detail: 'Invalid pagination: ''top'' must not exceed 1000.'
                    code: knowledgeBase.invalidPagination
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
    post:
      tags:
        - AI SDR Knowledge Bases
      summary: Upload a document
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Upload a file to a knowledge base for the AI SDR to draw on. Send it as multipart/form-data, up to 100 MB per request.
      operationId: UploadKnowledgeBaseDocument
      parameters:
        - name: knowledge_base_id
          in: path
          required: true
          description: Parent knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
      responses:
        '201':
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                type: object
                title: KnowledgeBaseDocument
                description: A file document attached to a knowledge base.
                properties: *ref_21
                example: *ref_22
        '400':
          description: Missing/empty file or upstream rejection (unsupported format, file too large)
          content:
            application/problem+json:
              schema:
                oneOf:
                  - allOf: *ref_5
                  - allOf: *ref_11
              examples:
                empty_file:
                  summary: Empty file
                  value:
                    title: Validation failed
                    status: 400
                    detail: The request body contains validation errors.
                    errors:
                      - pointer: /file
                        detail: File must not be empty.
                business_unsupported_format:
                  summary: Upstream rejection
                  value:
                    title: Bad Request
                    status: 400
                    detail: File format is not supported.
                    code: knowledgeBase.invalidParameter
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Knowledge base '4821' not found
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
  /v3/ai-sdr/knowledge-bases/{knowledge_base_id}/documents/{document_id}:
    delete:
      tags:
        - AI SDR Knowledge Bases
      summary: Delete a document
      x-required-scope: ai-sdr:write
      description: |-
        <small>_Requires the `ai-sdr:write` scope (or a broader one that includes it)._</small>

        Remove a file from a knowledge base so the AI SDR stops drawing on it. Returns 204 with no body when it succeeds.
      operationId: DeleteKnowledgeBaseDocument
      parameters:
        - name: knowledge_base_id
          in: path
          required: true
          description: Parent knowledge base id
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: document_id
          in: path
          required: true
          description: Document id
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Document deleted successfully
        '400':
          description: Invalid path parameters
          content:
            application/problem+json:
              schema:
                allOf: *ref_5
              example:
                title: Validation failed
                status: 400
                detail: The request contains validation errors.
                errors:
                  - pointer: /knowledge_base_id
                    detail: '''knowledge_base_id'' must be a positive integer.'
        '401':
          description: Unauthorized. The response body is empty; check the `WWW-Authenticate` header for the expected scheme.
          content:
            application/problem+json:
              schema:
                allOf: *ref_7
        '403':
          description: AI SDR feature is not available for the caller's team
          content:
            application/problem+json:
              schema:
                allOf: *ref_8
              example:
                title: Forbidden
                status: 403
                detail: AI SDR feature is not available for your team
                code: knowledgeBase.forbidden
        '404':
          description: Knowledge base or document not found
          content:
            application/problem+json:
              schema:
                allOf: *ref_13
              example:
                title: Not Found
                status: 404
                detail: Document '9c1f8a7e-0b3a-4d11-9b9c-2c4f8a7e0b3a' not found in knowledge base '4821'
                code: knowledgeBase.notFound
        '502':
          description: Upstream AI SDR service failure
          content:
            application/problem+json:
              schema:
                allOf: *ref_11
              example:
                title: Bad Gateway
                status: 502
                detail: Upstream service returned an unexpected error
                code: knowledgeBase.upstreamFailure
  /v3/ai-sdr/knowledge-bases/{knowledge_base_id}/reply-handlers:
    get:
      tags:
        - AI SDR Knowledge Bases
      summary: List reply handlers
      x-required-scope: ai-sdr:read
      description: |-
        <Info>
          **Beta.** This endpoint is in beta. Behavior, parameters, and response shapes may change without notice.
        </Info>

        <small>_Requires the `ai-sdr:read` scope (or a broader one that includes it)._</small>

        Review the rules that tell the AI SDR how to answer each kind of reply. Paged with the top and skip query parameters.
      operationId: ListReplyHandlers
      parameters:
        - name: knowledge_base_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: top
          in: query
          required: false
          schema:
            type: integer
        - name: skip
          in: query
          required: false
          schema:
            type: integer
        - name: search
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Paginated list of reply handlers
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      title: ReplyHandlerListItem
                      description: Summary representation of a reply handler returned in list responses.
[...]
