{
  "openapi": "3.1.0",
  "info": {
    "title": "Harvest API",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://harvest.greenhouse.io"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "components": {
    "schemas": {
      "access_token": {
        "type": "object",
        "required": [
          "token_type",
          "access_token",
          "expires"
        ],
        "properties": {
          "token_type": {
            "type": "string"
          },
          "access_token": {
            "type": "string"
          },
          "expires": {
            "type": "string"
          }
        }
      },
      "application_stage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer"
          },
          "job_interview_stage_id": {
            "type": "integer"
          },
          "entered_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "exited_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "days_in_stage": {
            "type": "integer"
          },
          "current": {
            "type": "boolean"
          }
        }
      },
      "application": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "agency_note_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "candidate_id": {
            "type": "integer"
          },
          "coordinator_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "job_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "job_post_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "recruiter_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "referrer_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "source_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stage_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "stage_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "rejected",
              "hired",
              "converted",
              "in_process"
            ]
          },
          "needs_decision": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "prospect": {
            "type": "boolean"
          },
          "rejected_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "last_activity_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "location_address": {
            "type": [
              "string",
              "null"
            ]
          },
          "answers": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              }
            }
          },
          "prospective_job_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "applied_candidate_tag": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "candidate_tag_id": {
            "type": "integer"
          },
          "candidate_id": {
            "type": "integer"
          }
        }
      },
      "approval_flow": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "offer_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "approval_type": {
            "type": "string",
            "enum": [
              "open_job",
              "offer_job",
              "offer_candidate"
            ]
          },
          "sequential": {
            "type": "boolean"
          },
          "version": {
            "type": "integer"
          },
          "requested_by_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "approval_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "pending",
              "rejected",
              "approved",
              null
            ]
          }
        }
      },
      "approver_group": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "approval_flow_id": {
            "type": "integer"
          },
          "approvals_required": {
            "type": "integer"
          },
          "sort_order": {
            "type": "integer"
          },
          "required_for_exception": {
            "type": "boolean"
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "approver": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "sort_order": {
            "type": [
              "integer",
              "null"
            ]
          },
          "user_id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "waiting",
              "due",
              "approved",
              "rejected"
            ]
          },
          "resolved_by_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "request_sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "version_sent": {
            "type": [
              "integer",
              "null"
            ]
          },
          "reminder_sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "reminder_sent_by_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "reminders_sent": {
            "type": [
              "integer",
              "null"
            ]
          },
          "approver_group_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "added_by_custom_field_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "send_auto_reminder_at": {
            "type": [
              "string",
              "null"
            ]
          },
          "auto_reminders_sent": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "attachment": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer"
          },
          "candidate_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "resume",
              "cover_letter",
              "take_home_test",
              "offer_packet",
              "offer_letter",
              "signed_offer_letter",
              "other",
              "form_attachment",
              "midfunnel_agreement",
              "automated_agreement"
            ]
          },
          "filename": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "blocked_spam_source": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "source_type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "note": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "bulk_request": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "bulk_action_uuid": {
            "type": "string"
          },
          "requested_by_user_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "record_count": {
            "type": "integer"
          },
          "success_count": {
            "type": "integer"
          },
          "failure_count": {
            "type": "integer"
          },
          "callback_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "callback_response": {
            "type": [
              "string",
              "null"
            ]
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "api_endpoint": {
            "type": "string"
          },
          "requested_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "candidate_attribute_type": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "job_id": {
            "type": "integer"
          },
          "sort_order": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "is_draft": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "candidate_education": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "candidate_id": {
            "type": "integer"
          },
          "school_name_custom_field_option_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "degree_custom_field_option_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "discipline_custom_field_option_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "end_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "latest": {
            "type": "boolean"
          },
          "start_date_month": {
            "type": [
              "integer",
              "null"
            ]
          },
          "start_date_year": {
            "type": [
              "integer",
              "null"
            ]
          },
          "end_date_month": {
            "type": [
              "integer",
              "null"
            ]
          },
          "end_date_year": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "candidate_employment": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "candidate_id": {
            "type": "integer"
          },
          "company_name": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "latest": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "candidate_tag": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "candidate": {
        "type": "object",
        "oneOf": [
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "first_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "last_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "preferred_name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "company": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "title": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "last_activity_at": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "private": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "can_email": {
                "type": "boolean"
              },
              "time_zone": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "linked_user_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "phone_numbers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              },
              "addresses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              },
              "email_addresses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              },
              "website_addresses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              },
              "social_media_addresses": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "custom_fields": {
                "type": [
                  "object",
                  "null"
                ],
                "additionalProperties": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "name",
                    "type",
                    "value"
                  ],
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "value": {
                      "anyOf": [
                        {
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        {
                          "type": [
                            "array",
                            "null"
                          ]
                        },
                        {
                          "type": [
                            "boolean",
                            "null"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        ]
      },
      "close_reason": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "custom_field_department": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_field_id": {
            "type": "integer"
          },
          "department_id": {
            "type": "integer"
          }
        }
      },
      "custom_field_office": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_field_id": {
            "type": "integer"
          },
          "office_id": {
            "type": "integer"
          }
        }
      },
      "custom_field_option": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_field_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "sort_order": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "custom_field": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "field_type": {
            "type": "string",
            "enum": [
              "job",
              "opening",
              "standard",
              "offer",
              "compensation_frequency",
              "candidate",
              "referral_question",
              "application",
              "rejection_question",
              "form",
              "agency_question",
              "user_attribute"
            ]
          },
          "sort_order": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "value_type": {
            "type": "string",
            "enum": [
              "short_text",
              "long_text",
              "yes_no",
              "single_select",
              "multi_select",
              "currency",
              "number",
              "date",
              "url",
              "currency_range",
              "number_range",
              "user",
              "linked",
              "header",
              "statement",
              "attachment",
              "rich_text"
            ]
          },
          "private": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          },
          "require_approval": {
            "type": "boolean"
          },
          "trigger_new_version": {
            "type": "boolean"
          },
          "active": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "updated_by_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "internal_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "employment_type",
              "offer_documents",
              "start_date",
              "school_name",
              "degree",
              "discipline",
              "offer_opening",
              null
            ]
          },
          "expose_in_job_board_api": {
            "type": "boolean"
          },
          "placeholder": {
            "type": [
              "string",
              "null"
            ]
          },
          "name_key": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "application_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "all_applications",
              "candidate_applications",
              "prospect_applications",
              null
            ]
          },
          "api_only": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "use_for_job_approvals": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "use_for_offer_approvals": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "template_token_string": {
            "type": [
              "string",
              "null"
            ]
          },
          "default_value": {
            "type": [
              "object",
              "null"
            ]
          }
        }
      },
      "default_interviewer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "integer"
          },
          "interview_kit_id": {
            "type": "integer"
          }
        }
      },
      "demographic_answer_option": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "demographic_question_id": {
            "type": "integer"
          },
          "sort_order": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "free_form": {
            "type": "boolean"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "decline_to_answer": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "demographic_answer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer"
          },
          "demographic_question_id": {
            "type": "integer"
          },
          "demographic_answer_option_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "free_form_text": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "demographic_question_set": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "enabled": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "demographic_question": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "sort_order": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "demographic_question_set_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "required": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "answer_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "multi_value_single_select",
              "multi_value_multi_select"
            ]
          }
        }
      },
      "department": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "eeoc": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer"
          },
          "candidate_id": {
            "type": "integer"
          },
          "gender": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "race": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "veteran_status": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "disability_status": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "submitted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "email_template": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "email_type": {
            "type": "string",
            "enum": [
              "candidate_auto_reply",
              "new_candidate",
              "new_internal_candidate",
              "new_referral",
              "new_agency_submission",
              "approved_to_start_recruiting",
              "offer_fully_approved",
              "job_closed",
              "candidate_rejection",
              "weekly_status",
              "scorecard_reminder",
              "scorecard_repeat_reminder",
              "interviewer_invite",
              "take_home_test_email",
              "daily_recruiting",
              "stage_transition",
              "scorecard_progress",
              "agency_candidate_status",
              "agency_candidate_stage",
              "candidate_email",
              "team_email",
              "none",
              "extending_offer",
              "non_admin_welcome",
              "job_admin_welcome",
              "site_admin_welcome",
              "prospect_referral_receipt",
              "candidate_referral_receipt",
              "candidate_availability_request",
              "candidate_availability_confirmation",
              "approval_request",
              "eeoc_data_request",
              "event_prospect_auto_reply",
              "job_post_request",
              "gdpr_notification",
              "stage_change_for_followers",
              "rejection_for_followers",
              "calendly_request",
              "gdpr_consent_extension",
              "agency_recruiter_assigned",
              "slack_mentions",
              "candidate_self_schedule_request",
              "sourcing_automation_step",
              "candidate_survey",
              "esignature_request",
              "scheduling_link_confirmation",
              "talent_matching_summary",
              "identity_verification_request",
              "identity_verification_daily_digest"
            ]
          },
          "subject": {
            "type": "string"
          },
          "body": {
            "type": [
              "string",
              "null"
            ]
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "recipients": {
            "type": [
              "string",
              "null"
            ]
          },
          "default": {
            "type": "boolean"
          },
          "html_body": {
            "type": [
              "string",
              "null"
            ]
          },
          "office_anywhere": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "from_type": {
            "type": "string",
            "enum": [
              "user_email",
              "organization_email",
              "my_email_address",
              "inviter",
              "organizer",
              "not_applicable"
            ]
          },
          "cc_recruiter": {
            "type": "boolean"
          },
          "cc_coordinator": {
            "type": "boolean"
          }
        }
      },
      "focus_candidate_attribute": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "interview_kit_id": {
            "type": "integer"
          },
          "job_candidate_attribute_id": {
            "type": "integer"
          }
        }
      },
      "future_job_permission": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "department_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "user_id": {
            "type": "integer"
          },
          "office_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "role_id": {
            "type": "integer"
          }
        }
      },
      "interview_kit": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "job_interview_id": {
            "type": "integer"
          },
          "exercises": {
            "type": [
              "string",
              "null"
            ]
          },
          "anonymize_candidate": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "anonymize_resumes": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "interviewer_tag": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "interviewer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "interview_id": {
            "type": "integer"
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "scorecard_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "email": {
            "type": [
              "string",
              "null"
            ]
          },
          "response_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "needs_action",
              "declined",
              "tentative",
              "accepted"
            ]
          }
        }
      },
      "interview": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "application_id": {
            "type": "integer"
          },
          "job_interview_id": {
            "type": "integer"
          },
          "starts_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "ends_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "to_be_scheduled",
              "scheduled",
              "awaiting_feedback",
              "complete",
              "skipped",
              "collect_feedback",
              "to_be_sent",
              "sent",
              "received"
            ]
          },
          "organizer_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "all_day_start_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "all_day_end_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "external_event_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "video_conferencing_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "availability_received_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "job_board_custom_location": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "greenhouse_job_board_id": {
            "type": "integer"
          }
        }
      },
      "job_candidate_attribute": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "candidate_attribute_type_id": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "sort_order": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "job_hiring_manager": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "integer"
          },
          "job_id": {
            "type": "integer"
          }
        }
      },
      "job_interview_stage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "sort_order": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "job_interview": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_interview_stage_id": {
            "type": "integer"
          },
          "job_id": {
            "type": "integer"
          },
          "sort_order": {
            "type": "integer"
          },
          "scheduling_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "none",
              "needs_scheduling",
              "take_home_test",
              "offer",
              null
            ]
          },
          "duration": {
            "type": [
              "integer",
              "null"
            ]
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "instructions": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "require_scorecard": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "job_note": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "body": {
            "type": [
              "string",
              "null"
            ]
          },
          "visibility": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "admin_only_visible",
              "privately_visible",
              null
            ]
          }
        }
      },
      "job_owner": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "sourcer",
              "recruiter",
              "coordinator"
            ]
          },
          "responsible": {
            "type": "boolean"
          }
        }
      },
      "job_post_location": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "plain_text_location": {
            "type": [
              "string",
              "null"
            ]
          },
          "office_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "free_text",
              "office",
              "custom_list"
            ]
          },
          "job_post_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "custom_location_id": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "job_post": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "internal": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "live": {
            "type": "boolean"
          },
          "featured": {
            "type": "boolean"
          },
          "first_published_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "content": {
            "type": [
              "string",
              "null"
            ]
          },
          "internal_content": {
            "type": [
              "string",
              "null"
            ]
          },
          "language": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "en",
              "zh",
              "zhHant",
              "nl",
              "fi",
              "fr",
              "de",
              "iw",
              "it",
              "ja",
              "ko",
              "no",
              "pl",
              "pt",
              "ru",
              "es",
              "se",
              "tg",
              "th"
            ]
          },
          "public_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "demographic_question_set_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "job_id": {
            "type": "integer"
          },
          "job_board_id": {
            "type": "integer"
          },
          "location": {
            "type": [
              "object",
              "null"
            ],
            "required": [
              "type",
              "name"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "free_text",
                  "office",
                  "custom_list"
                ]
              },
              "name": {
                "type": "string"
              },
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            }
          },
          "questions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "description": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "answer_type": {
                  "type": "string",
                  "enum": [
                    "short_text",
                    "long_text",
                    "boolean",
                    "single_select",
                    "multi_select",
                    "attachment",
                    "hidden"
                  ]
                },
                "required": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "private": {
                  "type": "boolean"
                },
                "label": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "options": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "label": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "job": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "requisition_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "confidential": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "draft",
              "closed"
            ]
          },
          "opened_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "closed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "is_template": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "copied_from_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "department_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "office_ids": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "integer"
            }
          },
          "custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "note": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "candidate_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "application_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "body": {
            "type": [
              "string",
              "null"
            ]
          },
          "subject": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "NOTE",
              "ACTIVITY",
              "INTERVIEW",
              "EMAIL",
              "FOLLOW_UP",
              "TAKE_HOME_TEST",
              "LINKEDIN_NOTE",
              "LINKEDIN_INMAIL",
              "AVAILABILITY_REQUEST",
              "MIGRATION_ERROR",
              "TOUCHPOINT",
              "FORM",
              "FEEDBACK"
            ]
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "email_from": {
            "type": [
              "string",
              "null"
            ]
          },
          "email_to": {
            "type": [
              "string",
              "null"
            ]
          },
          "email_cc": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            }
          },
          "import_hash": {
            "type": [
              "string",
              "null"
            ]
          },
          "body_with_tags": {
            "type": [
              "string",
              "null"
            ]
          },
          "visibility": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "admin_only_visible",
              "privately_visible",
              "publicly_visible",
              null
            ]
          },
          "email_attachment_file_names": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "offer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer"
          },
          "application_id": {
            "type": "integer"
          },
          "job_id": {
            "type": "integer"
          },
          "candidate_id": {
            "type": "integer"
          },
          "opening_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Created",
              "Accepted",
              "Rejected",
              "Deprecated"
            ]
          },
          "starts_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "sent_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "office": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "primary_in_house_contact_user_id": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "opening": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "opened_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "closed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "sort_order": {
            "type": "integer"
          },
          "opening_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "application_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "close_reason_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "target_start_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "open": {
            "type": "boolean"
          },
          "custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "pay_input_range": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "pay_input_id": {
            "type": "integer"
          },
          "currency_type": {
            "type": "string"
          },
          "min_cents": {
            "type": "integer"
          },
          "max_cents": {
            "type": "integer"
          },
          "job_post_id": {
            "type": "integer"
          }
        }
      },
      "pay_input": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "blurb": {
            "type": [
              "string",
              "null"
            ]
          },
          "priority": {
            "type": "integer"
          },
          "linked_custom_field_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "locked": {
            "type": "boolean"
          }
        }
      },
      "prospect_detail": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer"
          },
          "pool_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "pool_stage_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "prospect_owner_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "department_id": {
            "type": "integer"
          },
          "office_id": {
            "type": "integer"
          }
        }
      },
      "prospect_pool_stage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "prospect_pool_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "prospect_pool": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "department_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "office_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "job_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "referrer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "name": {
            "type": "string"
          }
        }
      },
      "rejection_detail": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer"
          },
          "rejected_by_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "rejection_note_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "rejection_reason_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "rejected_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "question_custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "rejection_reason": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "key": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "scorecard_candidate_attribute": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "scorecard_id": {
            "type": "integer"
          },
          "candidate_attribute_rating": {
            "type": "string"
          },
          "job_candidate_attribute_id": {
            "type": "integer"
          },
          "note": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "scorecard_question_answer_option": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "scorecard_question_option_id": {
            "type": "integer"
          },
          "scorecard_question_answer_id": {
            "type": "integer"
          }
        }
      },
      "scorecard_question_answer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "scorecard_id": {
            "type": "integer"
          },
          "scorecard_question_id": {
            "type": "integer"
          },
          "answer": {
            "type": [
              "string",
              "null"
            ]
          },
          "boolean_value": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "scorecard_question_candidate_attribute": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "scorecard_question_id": {
            "type": "integer"
          },
          "focus_candidate_attribute_id": {
            "type": "integer"
          }
        }
      },
      "scorecard_question_option": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "scorecard_question_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sort_order": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "scorecard_question": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "interview_kit_id": {
            "type": "integer"
          },
          "question": {
            "type": "string",
            "description": "Text of the scorecard question. Supports basic HTML formatting (`<p>`, `<ul>`, `<li>`, `<b>`, `<i>`, `<a>`). Render or sanitize as needed."
          },
          "sort_order": {
            "type": "integer"
          },
          "active": {
            "type": "boolean"
          },
          "answer_type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "scorecard": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "interview_kit_id": {
            "type": "integer"
          },
          "interviewer_id": {
            "type": "integer"
          },
          "interviewed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "notes_with_tags": {
            "type": [
              "string",
              "null"
            ]
          },
          "submitter_id": {
            "type": "integer"
          },
          "candidate_rating": {
            "type": "string"
          },
          "private_notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "private_notes_with_tags": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "complete"
            ]
          },
          "public_notes": {
            "type": [
              "string",
              "null"
            ]
          },
          "public_notes_with_tags": {
            "type": [
              "string",
              "null"
            ]
          },
          "application_id": {
            "type": "integer"
          },
          "submitted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "source": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "tracking_link": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "token": {
            "type": "string"
          },
          "source_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "related_post_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "related_post_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "referrer_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "job_board_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "job_post_id": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "user_email": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "verification_token_sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "user_job_permission": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "role_id": {
            "type": "integer"
          },
          "automated": {
            "type": [
              "boolean",
              "null"
            ]
          }
        }
      },
      "user_role": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "role_type": {
            "type": "string",
            "enum": [
              "deprecated_interviewer",
              "job_admin",
              "site_admin"
            ]
          },
          "name": {
            "type": "string"
          }
        }
      },
      "user": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "primary_email": {
            "type": "string"
          },
          "job_title": {
            "type": [
              "string",
              "null"
            ]
          },
          "agency_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivated": {
            "type": "boolean"
          },
          "site_admin": {
            "type": "boolean"
          },
          "employee_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "linked_candidate_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "office_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "department_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "interviewer_tags": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "id",
                "name"
              ],
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "webhook": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "endpoint_url": {
            "type": "string"
          },
          "event_action_type": {
            "type": "string",
            "enum": [
              "application_updated",
              "candidate_anonymized",
              "candidate_stage_change",
              "delete_application",
              "delete_candidate",
              "department_deleted",
              "hire_candidate",
              "interview_deleted",
              "job_approved",
              "job_created",
              "job_deleted",
              "job_interview_stage_deleted",
              "job_post_created",
              "job_post_deleted",
              "job_post_updated",
              "job_updated",
              "merge_candidate",
              "new_candidate_application",
              "new_prospect_application",
              "offer_approved",
              "offer_created",
              "offer_deleted",
              "offer_updated",
              "office_deleted",
              "reject_candidate",
              "scorecard_deleted",
              "unhire_candidate",
              "unreject_candidate",
              "update_candidate"
            ]
          },
          "max_attempts": {
            "type": "integer"
          },
          "additional_headers": {
            "type": [
              "string",
              "null"
            ]
          },
          "error_recipient_email": {
            "type": [
              "string",
              "null"
            ]
          },
          "deactivated": {
            "type": "boolean"
          },
          "last_delivered": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "basic_auth": {
        "description": "API Credential",
        "type": "http",
        "scheme": "basic"
      },
      "bearer": {
        "description": "JWT access_token from /auth/token",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth2 Authentication",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.greenhouse.io/token",
            "scopes": {
              "harvest:application_stages:list": "List application stages",
              "harvest:applications:list": "List applications",
              "harvest:applications:destroy": "Destroy applications",
              "harvest:applications:create": "Create applications",
              "harvest:applications:update": "Update applications",
              "harvest:applications:hire": "Hire applications",
              "harvest:applications:convert_to_candidate": "Convert to candidate applications",
              "harvest:applications:reject": "Reject applications",
              "harvest:applications:unreject": "Unreject applications",
              "harvest:applications:move": "Move applications",
              "harvest:applied_candidate_tags:list": "List applied candidate tags",
              "harvest:applied_candidate_tags:create": "Create applied candidate tags",
              "harvest:applied_candidate_tags:destroy": "Destroy applied candidate tags",
              "harvest:approval_flows:list": "List approval flows",
              "harvest:approval_flows:create": "Create approval flows",
              "harvest:approval_flows:update": "Update approval flows",
              "harvest:approval_flows:request_approvals": "Request approvals",
              "harvest:approval_flows:replace_approver_groups": "Replace approver groups",
              "harvest:approver_groups:list": "List approver groups",
              "harvest:approver_groups:replace_approver": "Replace approvers",
              "harvest:approvers:list": "List approvers",
              "harvest:attachments:list": "List attachments",
              "harvest:attachments:create": "Create attachments",
              "harvest:attachments:destroy": "Destroy attachments",
[...]
