{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Ads API",
    "description": "Manage your Google Ads accounts, campaigns, and reports with this API.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v22",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/"
  },
  "servers": [
    {
      "url": "https://googleads.googleapis.com/"
    }
  ],
  "components": {
    "schemas": {
      "GoogleAdsGoogleadsV22Common__ActivityCityInfo": {
        "description": "The city where the travel activity is available.",
        "properties": {
          "value": {
            "description": "String value of the activity city. The Geo Target Constant resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ActivityCountryInfo": {
        "description": "The country where the travel activity is available.",
        "properties": {
          "value": {
            "description": "String value of the activity country. The Geo Target Constant resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ActivityIdInfo": {
        "description": "Advertiser-specific activity ID.",
        "properties": {
          "value": {
            "description": "String value of the activity ID.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ActivityRatingInfo": {
        "description": "Rating of the activity as a number 1 to 5, where 5 is the best.",
        "properties": {
          "value": {
            "description": "Long value of the activity rating.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ActivityStateInfo": {
        "description": "The state where the travel activity is available.",
        "properties": {
          "value": {
            "description": "String value of the activity state. The Geo Target Constant resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdAppDeepLinkAsset": {
        "description": "An app deep link used inside an ad.",
        "properties": {
          "asset": {
            "description": "The Asset resource name of this app deep link asset.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdAssetPolicySummary": {
        "description": "Contains policy information for an asset inside an ad.",
        "properties": {
          "approvalStatus": {
            "description": "The overall approval status of this asset, which is calculated based on the status of its individual policy topic entries.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DISAPPROVED",
              "APPROVED_LIMITED",
              "APPROVED",
              "AREA_OF_INTEREST_ONLY"
            ],
            "type": "string"
          },
          "policyTopicEntries": {
            "description": "The list of policy findings for this asset.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__PolicyTopicEntry"
            },
            "type": "array"
          },
          "reviewStatus": {
            "description": "Where in the review process this asset.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "REVIEW_IN_PROGRESS",
              "REVIEWED",
              "UNDER_APPEAL",
              "ELIGIBLE_MAY_SERVE"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdCallToActionAsset": {
        "description": "A call to action asset used inside an ad.",
        "properties": {
          "asset": {
            "description": "The Asset resource name of this call to action asset.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdDemandGenCarouselCardAsset": {
        "description": "A Demand Gen carousel card asset used inside an ad.",
        "properties": {
          "asset": {
            "description": "The Asset resource name of this discovery carousel card.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdditionalApplicationInfo": {
        "description": "Additional information about the application/tool issuing the request. This field is only used by ContentCreatorInsightsService, AudienceInsightsService, and ReachPlanService APIs.",
        "properties": {
          "applicationId": {
            "description": "The unique identifier of the agency proprietary application. This identifier is generated by Google. Reach out to your Google representative to request an application_id for each new application being integrated.",
            "type": "string"
          },
          "applicationInstance": {
            "description": "The instance type of the application sending the request.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DEVELOPMENT_AND_TESTING",
              "PRODUCTION"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AddressInfo": {
        "description": "Address for proximity criterion.",
        "properties": {
          "cityName": {
            "description": "Name of the city.",
            "type": "string"
          },
          "countryCode": {
            "description": "Country code.",
            "type": "string"
          },
          "postalCode": {
            "description": "Postal code.",
            "type": "string"
          },
          "provinceCode": {
            "description": "Province or state code.",
            "type": "string"
          },
          "provinceName": {
            "description": "Province or state name.",
            "type": "string"
          },
          "streetAddress": {
            "description": "Street address line 1.",
            "type": "string"
          },
          "streetAddress2": {
            "description": "Street address line 2. This field is write-only. It is only used for calculating the longitude and latitude of an address when geo_point is empty.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdImageAsset": {
        "description": "An image asset used inside an ad.",
        "properties": {
          "asset": {
            "description": "The Asset resource name of this image.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdMediaBundleAsset": {
        "description": "A media bundle asset used inside an ad.",
        "properties": {
          "asset": {
            "description": "The Asset resource name of this media bundle.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdScheduleInfo": {
        "description": "Represents an AdSchedule criterion. AdSchedule is specified as the day of the week and a time interval within which ads will be shown. No more than six AdSchedules can be added for the same day.",
        "properties": {
          "dayOfWeek": {
            "description": "Day of the week the schedule applies to. This field is required for CREATE operations and is prohibited on UPDATE operations.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "endHour": {
            "description": "Ending hour in 24 hour time; 24 signifies end of the day. This field must be between 0 and 24, inclusive. This field is required for CREATE operations and is prohibited on UPDATE operations.",
            "format": "int32",
            "type": "integer"
          },
          "endMinute": {
            "description": "Minutes after the end hour at which this schedule ends. The schedule is exclusive of the end minute. This field is required for CREATE operations and is prohibited on UPDATE operations.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ZERO",
              "FIFTEEN",
              "THIRTY",
              "FORTY_FIVE"
            ],
            "type": "string"
          },
          "startHour": {
            "description": "Starting hour in 24 hour time. This field must be between 0 and 23, inclusive. This field is required for CREATE operations and is prohibited on UPDATE operations.",
            "format": "int32",
            "type": "integer"
          },
          "startMinute": {
            "description": "Minutes after the start hour at which this schedule starts. This field is required for CREATE operations and is prohibited on UPDATE operations.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ZERO",
              "FIFTEEN",
              "THIRTY",
              "FORTY_FIVE"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdTextAsset": {
        "description": "A text asset used inside an ad.",
        "properties": {
          "assetPerformanceLabel": {
            "description": "The performance label of this text asset.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "PENDING",
              "LEARNING",
              "LOW",
              "GOOD",
              "BEST"
            ],
            "type": "string"
          },
          "pinnedField": {
            "description": "The pinned field of the asset. This restricts the asset to only serve within this field. Multiple assets can be pinned to the same field. An asset that is unpinned or pinned to a different field will not serve in a field where some other asset has been pinned.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "HEADLINE_1",
              "HEADLINE_2",
              "HEADLINE_3",
              "DESCRIPTION_1",
              "DESCRIPTION_2",
              "HEADLINE",
              "HEADLINE_IN_PORTRAIT",
              "LONG_HEADLINE",
              "DESCRIPTION",
              "DESCRIPTION_IN_PORTRAIT",
              "BUSINESS_NAME_IN_PORTRAIT",
              "BUSINESS_NAME",
              "MARKETING_IMAGE",
              "MARKETING_IMAGE_IN_PORTRAIT",
              "SQUARE_MARKETING_IMAGE",
              "PORTRAIT_MARKETING_IMAGE",
              "LOGO",
              "LANDSCAPE_LOGO",
              "CALL_TO_ACTION",
              "YOU_TUBE_VIDEO",
              "SITELINK",
              "CALL",
              "MOBILE_APP",
              "CALLOUT",
              "STRUCTURED_SNIPPET",
              "PRICE",
              "PROMOTION",
              "AD_IMAGE",
              "LEAD_FORM",
              "BUSINESS_LOGO",
              "DESCRIPTION_PREFIX"
            ],
            "type": "string"
          },
          "policySummaryInfo": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdAssetPolicySummary",
            "description": "The policy summary of this text asset."
          },
          "text": {
            "description": "Asset text.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdVideoAsset": {
        "description": "A video asset used inside an ad.",
        "properties": {
          "adVideoAssetInfo": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdVideoAssetInfo",
            "description": "Contains info fields for this AdVideoAsset."
          },
          "asset": {
            "description": "The Asset resource name of this video.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdVideoAssetInfo": {
        "description": "Contains info fields for AdVideoAssets.",
        "properties": {
          "adVideoAssetInventoryPreferences": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdVideoAssetInventoryPreferences",
            "description": "List of inventory preferences for this AdVideoAsset. This field can only be set for DiscoveryVideoResponsiveAd. The video assets with an inventory asset preference set will be preferred over other videos from the same ad during serving time. For example, consider this ad being served for a specific inventory. The server will first try to match an eligible video with a matching preference for that inventory. Videos with no preferences are chosen only when a video with matching preference and eligible for a given ad slot can be found."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AdVideoAssetInventoryPreferences": {
        "description": "YouTube Video Asset inventory preferences.",
        "properties": {
          "inFeedPreference": {
            "description": "When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Feed.",
            "type": "boolean"
          },
          "inStreamPreference": {
            "description": "When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve In Stream.",
            "type": "boolean"
          },
          "shortsPreference": {
            "description": "When true, YouTube Video Asset with this inventory preference will be preferred when choosing a video to serve on YouTube Shorts.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AgeDimension": {
        "description": "Dimension specifying users by their age.",
        "properties": {
          "ageRanges": {
            "description": "Contiguous age range to be included in the dimension.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AgeSegment"
            },
            "type": "array"
          },
          "includeUndetermined": {
            "description": "Include users whose age is not determined.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AgeRangeInfo": {
        "description": "An age range criterion.",
        "properties": {
          "type": {
            "description": "Type of the age range.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "AGE_RANGE_18_24",
              "AGE_RANGE_25_34",
              "AGE_RANGE_35_44",
              "AGE_RANGE_45_54",
              "AGE_RANGE_55_64",
              "AGE_RANGE_65_UP",
              "AGE_RANGE_UNDETERMINED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AgeSegment": {
        "description": "Contiguous age range.",
        "properties": {
          "maxAge": {
            "description": "Maximum age to include. A maximum age need not be specified. If specified, max_age must be greater than min_age, and allowed values are 24, 34, 44, 54, and 64.",
            "format": "int32",
            "type": "integer"
          },
          "minAge": {
            "description": "Minimum age to include. A minimum age must be specified and must be at least 18. Allowed values are 18, 25, 35, 45, 55, and 65.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AppAdInfo": {
        "description": "An app ad.",
        "properties": {
          "appDeepLink": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdAppDeepLinkAsset",
            "description": "An app deep link asset that may be used with the ad."
          },
          "descriptions": {
            "description": "List of text assets for descriptions. When the ad serves the descriptions will be selected from this list.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "headlines": {
            "description": "List of text assets for headlines. When the ad serves the headlines will be selected from this list.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "html5MediaBundles": {
            "description": "List of media bundle assets that may be used with the ad.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdMediaBundleAsset"
            },
            "type": "array"
          },
          "images": {
            "description": "List of image assets that may be displayed with the ad.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdImageAsset"
            },
            "type": "array"
          },
          "mandatoryAdText": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset",
            "description": "Mandatory ad text."
          },
          "youtubeVideos": {
            "description": "List of YouTube video assets that may be displayed with the ad.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdVideoAsset"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AppDeepLinkAsset": {
        "description": "An app deep link asset",
        "properties": {
          "appDeepLinkUri": {
            "description": "The uri for the app deep link, The uri can be either a custom scheme uri (e.g. mystore://shoes) or universal uri (e.g. http://www.mystore.com/shoes).",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AppEngagementAdInfo": {
        "description": "App engagement ads allow you to write text encouraging a specific action in the app, like checking in, making a purchase, or booking a flight. They allow you to send users to a specific part of your app where they can find what they're looking for easier and faster.",
        "properties": {
          "descriptions": {
            "description": "List of text assets for descriptions. When the ad serves the descriptions will be selected from this list.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "headlines": {
            "description": "List of text assets for headlines. When the ad serves the headlines will be selected from this list.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "images": {
            "description": "List of image assets that may be displayed with the ad.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdImageAsset"
            },
            "type": "array"
          },
          "videos": {
            "description": "List of video assets that may be displayed with the ad.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdVideoAsset"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AppPaymentModelInfo": {
        "description": "An app payment model criterion.",
        "properties": {
          "type": {
            "description": "Type of the app payment model.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "PAID"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AppPreRegistrationAdInfo": {
        "description": "App pre-registration ads link to your app or game listing on Google Play, and can run on Google Play, on YouTube (in-stream only), and within other apps and mobile websites on the Display Network. It will help capture people's interest in your app or game and generate an early install base for your app or game before a launch.",
        "properties": {
          "descriptions": {
            "description": "List of text assets for descriptions. When the ad serves the descriptions will be selected from this list.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "headlines": {
            "description": "List of text assets for headlines. When the ad serves the headlines will be selected from this list.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "images": {
            "description": "List of image asset IDs whose images may be displayed with the ad.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdImageAsset"
            },
            "type": "array"
          },
          "youtubeVideos": {
            "description": "List of YouTube video asset IDs whose videos may be displayed with the ad.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdVideoAsset"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AssetDisapproved": {
        "description": "Details related to AssetLinkPrimaryStatusReasonPB.ASSET_DISAPPROVED",
        "properties": {
          "offlineEvaluationErrorReasons": {
            "description": "Provides the quality evaluation disapproval reason of an asset.",
            "items": {
              "enum": [
                "UNSPECIFIED",
                "UNKNOWN",
                "PRICE_ASSET_DESCRIPTION_REPEATS_ROW_HEADER",
                "PRICE_ASSET_REPETITIVE_HEADERS",
                "PRICE_ASSET_HEADER_INCOMPATIBLE_WITH_PRICE_TYPE",
                "PRICE_ASSET_DESCRIPTION_INCOMPATIBLE_WITH_ITEM_HEADER",
                "PRICE_ASSET_DESCRIPTION_HAS_PRICE_QUALIFIER",
                "PRICE_ASSET_UNSUPPORTED_LANGUAGE",
                "PRICE_ASSET_OTHER_ERROR"
              ],
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AssetInteractionTarget": {
        "description": "An AssetInteractionTarget segment.",
        "properties": {
          "asset": {
            "description": "The asset resource name.",
            "type": "string"
          },
          "interactionOnThisAsset": {
            "description": "Only used with CustomerAsset, CampaignAsset and AdGroupAsset metrics. Indicates whether the interaction metrics occurred on the asset itself or a different asset or ad unit.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AssetLinkPrimaryStatusDetails": {
        "description": "Provides the detail of a PrimaryStatus. Each asset link has a PrimaryStatus value (e.g. NOT_ELIGIBLE, meaning not serving), and list of corroborating PrimaryStatusReasons (e.g. [ASSET_DISAPPROVED]). Each reason may have some additional details annotated with it. For instance, when the reason is ASSET_DISAPPROVED, the details field will contain additional information about the offline evaluation errors which led to the asset being disapproved.",
        "properties": {
          "assetDisapproved": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AssetDisapproved",
            "description": "Provides the details for AssetLinkPrimaryStatusReason.ASSET_DISAPPROVED"
          },
          "reason": {
            "description": "Provides the reason of this PrimaryStatus.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ASSET_LINK_PAUSED",
              "ASSET_LINK_REMOVED",
              "ASSET_DISAPPROVED",
              "ASSET_UNDER_REVIEW",
              "ASSET_APPROVED_LABELED"
            ],
            "type": "string"
          },
          "status": {
            "description": "Provides the PrimaryStatus of this status detail.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ELIGIBLE",
              "PAUSED",
              "REMOVED",
              "PENDING",
              "LIMITED",
              "NOT_ELIGIBLE"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AssetUsage": {
        "description": "Contains the usage information of the asset.",
        "properties": {
          "asset": {
            "description": "Resource name of the asset.",
            "type": "string"
          },
          "servedAssetFieldType": {
            "description": "The served field type of the asset.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "HEADLINE_1",
              "HEADLINE_2",
              "HEADLINE_3",
              "DESCRIPTION_1",
              "DESCRIPTION_2",
              "HEADLINE",
              "HEADLINE_IN_PORTRAIT",
              "LONG_HEADLINE",
              "DESCRIPTION",
              "DESCRIPTION_IN_PORTRAIT",
              "BUSINESS_NAME_IN_PORTRAIT",
              "BUSINESS_NAME",
              "MARKETING_IMAGE",
              "MARKETING_IMAGE_IN_PORTRAIT",
              "SQUARE_MARKETING_IMAGE",
              "PORTRAIT_MARKETING_IMAGE",
              "LOGO",
              "LANDSCAPE_LOGO",
              "CALL_TO_ACTION",
              "YOU_TUBE_VIDEO",
              "SITELINK",
              "CALL",
              "MOBILE_APP",
              "CALLOUT",
              "STRUCTURED_SNIPPET",
              "PRICE",
              "PROMOTION",
              "AD_IMAGE",
              "LEAD_FORM",
              "BUSINESS_LOGO",
              "DESCRIPTION_PREFIX"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceDimension": {
        "description": "Positive dimension specifying user's audience.",
        "properties": {
          "age": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AgeDimension",
            "description": "Dimension specifying users by their age."
          },
          "audienceSegments": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AudienceSegmentDimension",
            "description": "Dimension specifying users by their membership in other audience segments."
          },
          "gender": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__GenderDimension",
            "description": "Dimension specifying users by their gender."
          },
          "householdIncome": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__HouseholdIncomeDimension",
            "description": "Dimension specifying users by their household income."
          },
          "parentalStatus": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ParentalStatusDimension",
            "description": "Dimension specifying users by their parental status."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceExclusionDimension": {
        "description": "Negative dimension specifying users to exclude from the audience.",
        "properties": {
          "exclusions": {
            "description": "Audience segment to be excluded.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ExclusionSegment"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceInfo": {
        "description": "An audience criterion.",
        "properties": {
          "audience": {
            "description": "The Audience resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceInsightsAttribute": {
        "description": "An audience attribute that can be used to request insights about the audience. Valid inputs for these fields are available from AudienceInsightsService.ListAudienceInsightsAttributes.",
        "properties": {
          "ageRange": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AgeRangeInfo",
            "description": "An audience attribute defined by an age range."
          },
          "category": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AudienceInsightsCategory",
            "description": "An audience attribute defined by interest in a Product & Service category."
          },
          "device": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__DeviceInfo",
            "description": "A device type. (Mobile, Desktop, Tablet)"
          },
          "entity": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AudienceInsightsEntity",
            "description": "An audience attribute defined by interest in a topic represented by a Knowledge Graph entity."
          },
          "gender": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__GenderInfo",
            "description": "An audience attribute defined by a gender."
          },
          "incomeRange": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__IncomeRangeInfo",
            "description": "A household income percentile range."
          },
          "lineup": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AudienceInsightsLineup",
            "description": "A YouTube Lineup."
          },
          "location": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__LocationInfo",
            "description": "An audience attribute defined by a geographic location."
          },
          "parentalStatus": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ParentalStatusInfo",
            "description": "A Parental Status value (parent, or not a parent)."
          },
          "userInterest": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__UserInterestInfo",
            "description": "An Affinity or In-Market audience."
          },
          "userList": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__UserListInfo",
            "description": "A User List."
          },
          "youtubeChannel": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__YouTubeChannelInfo",
            "description": "A YouTube channel."
          },
          "youtubeVideo": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__YouTubeVideoInfo",
            "description": "A YouTube video."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceInsightsAttributeMetadata": {
        "description": "An audience attribute, with metadata about it, returned in response to a search.",
        "properties": {
          "attribute": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AudienceInsightsAttribute",
            "description": "The attribute itself."
          },
          "dimension": {
            "description": "The type of the attribute.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CATEGORY",
              "KNOWLEDGE_GRAPH",
              "GEO_TARGET_COUNTRY",
              "SUB_COUNTRY_LOCATION",
              "YOUTUBE_CHANNEL",
              "AFFINITY_USER_INTEREST",
              "IN_MARKET_USER_INTEREST",
              "PARENTAL_STATUS",
              "INCOME_RANGE",
              "AGE_RANGE",
              "GENDER",
              "YOUTUBE_VIDEO",
              "DEVICE",
              "YOUTUBE_LINEUP",
              "USER_LIST"
            ],
            "type": "string"
          },
          "displayInfo": {
            "description": "A string that supplements the display_name to identify the attribute. If the dimension is TOPIC, this is a brief description of the Knowledge Graph entity, such as \"American singer-songwriter\". If the dimension is CATEGORY, this is the complete path to the category in The Product & Service taxonomy, for example \"/Apparel/Clothing/Outerwear\".",
            "type": "string"
          },
          "displayName": {
            "description": "The human-readable name of the attribute.",
            "type": "string"
          },
          "knowledgeGraphAttributeMetadata": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__KnowledgeGraphAttributeMetadata",
            "description": "Special metadata for a Knowledge Graph Entity."
          },
          "lineupAttributeMetadata": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__LineupAttributeMetadata",
            "description": "Special metadata for a YouTube Lineup."
          },
          "locationAttributeMetadata": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__LocationAttributeMetadata",
            "description": "Special metadata for a Location."
          },
          "potentialYoutubeReach": {
            "description": "An estimate of the number of reachable YouTube users matching this attribute in the requested location, or zero if that information is not available for this attribute. This field is not populated in every response.",
            "format": "int64",
            "type": "string"
          },
          "subscriberShare": {
            "description": "The share of subscribers within this attribute, between and including 0 and 1. This field is not populated in every response.",
            "format": "double",
            "type": "number"
          },
          "userInterestAttributeMetadata": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__UserInterestAttributeMetadata",
            "description": "Special metadata for a User Interest."
          },
          "userListAttributeMetadata": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__UserListAttributeMetadata",
            "description": "Special metadata for a User List."
          },
          "viewerShare": {
            "description": "The share of viewers within this attribute, between and including 0 and 1. This field is not populated in every response.",
            "format": "double",
            "type": "number"
          },
          "youtubeChannelMetadata": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__YouTubeChannelAttributeMetadata",
            "description": "Special metadata for a YouTube channel."
          },
          "youtubeVideoMetadata": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__YouTubeVideoAttributeMetadata",
            "description": "Special metadata for a YouTube video."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceInsightsAttributeMetadataGroup": {
        "description": "A group of audience attributes with metadata, returned in response to a search.",
        "properties": {
          "attributes": {
            "description": "Attributes with metadata returned in response to a search.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AudienceInsightsAttributeMetadata"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceInsightsCategory": {
        "description": "A Product and Service category.",
        "properties": {
          "categoryId": {
            "description": "Required. The criterion ID of the category.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceInsightsEntity": {
        "description": "A Knowledge Graph entity, represented by its machine id.",
        "properties": {
          "knowledgeGraphMachineId": {
            "description": "Required. The machine ID (mid) of the Knowledge Graph entity.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceInsightsLineup": {
        "description": "A YouTube Lineup.",
        "properties": {
          "lineupId": {
            "description": "Required. The numeric ID of the lineup.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceSegment": {
        "description": "Positive audience segment.",
        "properties": {
          "customAudience": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CustomAudienceSegment",
            "description": "Custom audience segment."
          },
          "detailedDemographic": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__DetailedDemographicSegment",
            "description": "Detailed demographic segment."
          },
          "lifeEvent": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__LifeEventSegment",
            "description": "Live-event audience segment."
          },
          "userInterest": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__UserInterestSegment",
            "description": "Affinity or In-market segment."
          },
          "userList": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__UserListSegment",
            "description": "User list segment."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__AudienceSegmentDimension": {
        "description": "Dimension specifying users by their membership in other audience segments.",
        "properties": {
          "segments": {
            "description": "Included audience segments. Users are included if they belong to at least one segment.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AudienceSegment"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BasicUserListInfo": {
        "description": "User list targeting as a collection of conversions or remarketing actions.",
        "properties": {
          "actions": {
            "description": "Actions associated with this user list.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__UserListActionInfo"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BookOnGoogleAsset": {
        "description": "A Book on Google asset. Used to redirect user to book through Google. Book on Google will change the redirect url to book directly through Google.",
        "properties": {},
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BrandInfo": {
        "description": "Represents a Brand Criterion used for targeting based on commercial knowledge graph.",
        "properties": {
          "displayName": {
            "description": "Output only. A text representation of a brand.",
            "readOnly": true,
            "type": "string"
          },
          "entityId": {
            "description": "The Commercial KG MID for the brand.",
            "type": "string"
          },
          "primaryUrl": {
            "description": "Output only. The primary url of a brand.",
            "readOnly": true,
            "type": "string"
          },
          "rejectionReason": {
            "description": "Output only. The rejection reason when a brand status is REJECTED.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "EXISTING_BRAND",
              "EXISTING_BRAND_VARIANT",
              "INCORRECT_INFORMATION",
              "NOT_A_BRAND"
            ],
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "Output only. The status of a brand.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ENABLED",
              "DEPRECATED",
              "UNVERIFIED",
              "APPROVED",
              "CANCELLED",
              "REJECTED"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BrandListInfo": {
        "description": "A Brand List Criterion is used to specify a list of brands. The list is represented as a SharedSet id type BRAND_HINT. A criterion of this type can be either targeted or excluded.",
        "properties": {
          "sharedSet": {
            "description": "Shared set resource name of the brand list.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BudgetCampaignAssociationStatus": {
        "description": "A BudgetCampaignAssociationStatus segment.",
        "properties": {
          "campaign": {
            "description": "The campaign resource name.",
            "type": "string"
          },
          "status": {
            "description": "Budget campaign association status.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ENABLED",
              "REMOVED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BudgetSimulationPoint": {
        "description": "Projected metrics for a specific budget amount.",
        "properties": {
          "biddableConversions": {
            "description": "Projected number of biddable conversions.",
            "format": "double",
            "type": "number"
          },
          "biddableConversionsValue": {
            "description": "Projected total value of biddable conversions.",
            "format": "double",
            "type": "number"
          },
          "budgetAmountMicros": {
            "description": "The simulated budget upon which projected metrics are based.",
            "format": "int64",
            "type": "string"
          },
          "clicks": {
            "description": "Projected number of clicks.",
            "format": "int64",
            "type": "string"
          },
          "costMicros": {
            "description": "Projected cost in micros.",
            "format": "int64",
            "type": "string"
          },
          "impressions": {
            "description": "Projected number of impressions.",
            "format": "int64",
            "type": "string"
          },
          "interactions": {
            "description": "Projected number of interactions. Only discovery advertising channel type supports this field.",
            "format": "int64",
            "type": "string"
          },
          "requiredCpcBidCeilingMicros": {
            "description": "Projected required daily cpc bid ceiling that the advertiser must set to realize this simulation, in micros of the advertiser currency. Only campaigns with the Target Spend bidding strategy support this field.",
            "format": "int64",
            "type": "string"
          },
          "topSlotImpressions": {
            "description": "Projected number of top slot impressions. Only search advertising channel type supports this field.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BudgetSimulationPointList": {
        "description": "A container for simulation points for simulations of type BUDGET.",
        "properties": {
          "points": {
            "description": "Projected metrics for a series of budget amounts.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__BudgetSimulationPoint"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BusinessMessageAsset": {
        "description": "A business message asset.",
        "properties": {
          "callToAction": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__BusinessMessageCallToActionInfo",
            "description": "A call to action for the business message asset."
          },
          "messageProvider": {
            "description": "Required. Message provider of the business message asset.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "WHATSAPP"
            ],
            "type": "string"
          },
          "starterMessage": {
            "description": "Required. A welcome message to prompt the user to initiate a conversation.",
            "type": "string"
          },
          "whatsappInfo": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__WhatsappBusinessMessageInfo",
            "description": "Whatsapp."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BusinessMessageCallToActionInfo": {
        "description": "Display information that encourages the user to take action.",
        "properties": {
          "callToActionDescription": {
            "description": "Required. Text providing a clear value proposition of what users expect once they take the action. Examples: 'Message us for a quote', 'Ask our expert team'.",
            "type": "string"
          },
          "callToActionSelection": {
            "description": "Required. Pre-defined call to action text.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "APPLY_NOW",
              "BOOK_NOW",
              "CONTACT_US",
              "GET_INFO",
              "GET_OFFER",
              "GET_QUOTE",
              "GET_STARTED",
              "LEARN_MORE"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BusinessProfileBusinessNameFilter": {
        "description": "Business Profile location group business name filter.",
        "properties": {
          "businessName": {
            "description": "Business name string to use for filtering.",
            "type": "string"
          },
          "filterType": {
            "description": "The type of string matching to use when filtering with business_name.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "EXACT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BusinessProfileLocation": {
        "description": "Business Profile location data synced from the linked Business Profile account.",
        "properties": {
          "labels": {
            "description": "Advertiser specified label for the location on the Business Profile account. This is synced from the Business Profile account.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "listingId": {
            "description": "Listing ID of this Business Profile location. This is synced from the linked Business Profile account.",
            "format": "int64",
            "type": "string"
          },
          "storeCode": {
            "description": "Business Profile store code of this location. This is synced from the Business Profile account.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BusinessProfileLocationGroup": {
        "description": "Information about a Business Profile dynamic location group. Only applicable if the sync level AssetSet's type is LOCATION_SYNC and sync source is Business Profile.",
        "properties": {
          "dynamicBusinessProfileLocationGroupFilter": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__DynamicBusinessProfileLocationGroupFilter",
            "description": "Filter for dynamic Business Profile location sets."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__BusinessProfileLocationSet": {
        "description": "Data used to configure a location set populated from Google Business Profile locations. Different types of filters are AND'ed together, if they are specified.",
        "properties": {
          "businessAccountId": {
            "description": "Immutable. The account ID of the managed business whose locations are to be used. If this field is not set, then all businesses accessible by the user (specified by the emailAddress) are used.",
            "type": "string"
          },
          "businessNameFilter": {
            "description": "Used to filter Google Business Profile listings by business name. If businessNameFilter is set, only listings with a matching business name are candidates to be sync'd into Assets.",
            "type": "string"
          },
          "emailAddress": {
            "description": "Required. Immutable. Email address of a Google Business Profile account or email address of a manager of the Google Business Profile account.",
            "type": "string"
          },
          "httpAuthorizationToken": {
            "description": "Required. Immutable. The HTTP authorization token used to obtain authorization.",
            "type": "string"
          },
          "labelFilters": {
            "description": "Used to filter Google Business Profile listings by labels. If entries exist in labelFilters, only listings that have any of the labels set are candidates to be synchronized into Assets. If no entries exist in labelFilters, then all listings are candidates for syncing. Label filters are OR'ed together.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "listingIdFilters": {
            "description": "Used to filter Google Business Profile listings by listing id. If entries exist in listingIdFilters, only listings specified by the filters are candidates to be synchronized into Assets. If no entries exist in listingIdFilters, then all listings are candidates for syncing. Listing ID filters are OR'ed together.",
            "items": {
              "format": "int64",
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CallAdInfo": {
        "description": "A call ad.",
        "properties": {
          "businessName": {
            "description": "The business name in the ad.",
            "type": "string"
          },
          "callTracked": {
            "description": "Whether to enable call tracking for the creative. Enabling call tracking also enables call conversions.",
            "type": "boolean"
          },
          "conversionAction": {
            "description": "The conversion action to attribute a call conversion to. If not set a default conversion action is used. This field only has effect if `call_tracked` is set to `true`. Otherwise this field is ignored.",
            "type": "string"
          },
          "conversionReportingState": {
            "description": "The call conversion behavior of this call ad. It can use its own call conversion setting, inherit the account level setting, or be disabled.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DISABLED",
              "USE_ACCOUNT_LEVEL_CALL_CONVERSION_ACTION",
              "USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION"
            ],
            "type": "string"
          },
          "countryCode": {
            "description": "The country code in the ad.",
            "type": "string"
          },
          "description1": {
            "description": "The first line of the ad's description.",
            "type": "string"
          },
          "description2": {
            "description": "The second line of the ad's description.",
            "type": "string"
          },
          "disableCallConversion": {
            "description": "Whether to disable call conversion for the creative. If set to `true`, disables call conversions even when `call_tracked` is `true`. If `call_tracked` is `false`, this field is ignored.",
            "type": "boolean"
          },
          "headline1": {
            "description": "First headline in the ad.",
            "type": "string"
          },
          "headline2": {
            "description": "Second headline in the ad.",
            "type": "string"
          },
          "path1": {
            "description": "First part of text that can be appended to the URL in the ad. Optional.",
            "type": "string"
          },
          "path2": {
            "description": "Second part of text that can be appended to the URL in the ad. This field can only be set when `path1` is also set. Optional.",
            "type": "string"
          },
          "phoneNumber": {
            "description": "The phone number in the ad.",
            "type": "string"
          },
          "phoneNumberVerificationUrl": {
            "description": "The URL to be used for phone number verification.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CallAsset": {
        "description": "A Call asset.",
        "properties": {
          "adScheduleTargets": {
            "description": "List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdScheduleInfo"
            },
            "type": "array"
          },
          "callConversionAction": {
            "description": "The conversion action to attribute a call conversion to. If not set, the default conversion action is used. This field only has effect if call_conversion_reporting_state is set to USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION.",
            "type": "string"
          },
          "callConversionReportingState": {
            "description": "Indicates whether this CallAsset should use its own call conversion setting, follow the account level setting, or disable call conversion.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DISABLED",
              "USE_ACCOUNT_LEVEL_CALL_CONVERSION_ACTION",
              "USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION"
            ],
            "type": "string"
          },
          "countryCode": {
            "description": "Required. Two-letter country code of the phone number. Examples: 'US', 'us'.",
            "type": "string"
          },
          "phoneNumber": {
            "description": "Required. The advertiser's raw phone number. Examples: '1234567890', '(123)456-7890'",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CallFeedItem": {
        "description": "Represents a Call extension.",
        "properties": {
          "callConversionAction": {
            "description": "The conversion action to attribute a call conversion to. If not set a default conversion action is used. This field only has effect if call_tracking_enabled is set to true. Otherwise this field is ignored.",
            "type": "string"
          },
          "callConversionReportingState": {
            "description": "Enum value that indicates whether this call extension uses its own call conversion setting (or just have call conversion disabled), or following the account level setting.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DISABLED",
              "USE_ACCOUNT_LEVEL_CALL_CONVERSION_ACTION",
              "USE_RESOURCE_LEVEL_CALL_CONVERSION_ACTION"
            ],
            "type": "string"
          },
          "callConversionTrackingDisabled": {
            "description": "If true, disable call conversion tracking. call_conversion_action should not be set if this is true. Optional.",
            "type": "boolean"
          },
          "callTrackingEnabled": {
            "description": "Indicates whether call tracking is enabled. By default, call tracking is not enabled.",
            "type": "boolean"
          },
          "countryCode": {
            "description": "Uppercase two-letter country code of the advertiser's phone number. This string must not be empty.",
            "type": "string"
          },
          "phoneNumber": {
            "description": "The advertiser's phone number to append to the ad. This string must not be empty.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CalloutAsset": {
        "description": "A Callout asset.",
        "properties": {
          "adScheduleTargets": {
            "description": "List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdScheduleInfo"
            },
            "type": "array"
          },
          "calloutText": {
            "description": "Required. The callout text. The length of this string should be between 1 and 25, inclusive.",
            "type": "string"
          },
          "endDate": {
            "description": "Last date of when this asset is effective and still serving, in yyyy-MM-dd format.",
            "type": "string"
          },
          "startDate": {
            "description": "Start date of when this asset is effective and can begin serving, in yyyy-MM-dd format.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CalloutFeedItem": {
        "description": "Represents a callout extension.",
        "properties": {
          "calloutText": {
            "description": "The callout text. The length of this string should be between 1 and 25, inclusive.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CallToActionAsset": {
        "description": "A call to action asset.",
        "properties": {
          "callToAction": {
            "description": "Call to action.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "LEARN_MORE",
              "GET_QUOTE",
              "APPLY_NOW",
              "SIGN_UP",
              "CONTACT_US",
              "SUBSCRIBE",
              "DOWNLOAD",
              "BOOK_NOW",
              "SHOP_NOW",
              "BUY_NOW",
              "DONATE_NOW",
              "ORDER_NOW",
              "PLAY_NOW",
              "SEE_MORE",
              "START_NOW",
              "VISIT_SITE",
              "WATCH_NOW"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CampaignThirdPartyBrandLiftIntegrationPartner": {
        "description": "Container for third party Brand Lift integration data for Campaign.",
        "properties": {
          "brandLiftIntegrationPartner": {
            "description": "Allowed third party integration partners for Brand Lift verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "KANTAR_MILLWARD_BROWN",
              "DYNATA",
              "INTAGE",
              "MACROMILL"
            ],
            "type": "string"
          },
          "brandLiftIntegrationPartnerData": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ThirdPartyIntegrationPartnerData",
            "description": "Third party partner data for YouTube Brand Lift verification. This is optional metadata for partners to join or attach data to Ads campaigns."
          },
          "shareCost": {
            "description": "If true, then cost data will be shared with this vendor.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CampaignThirdPartyBrandSafetyIntegrationPartner": {
        "description": "Container for third party brand safety integration data for Campaign.",
        "properties": {
          "brandSafetyIntegrationPartner": {
            "description": "Allowed third party integration partners for brand safety verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DOUBLE_VERIFY",
              "INTEGRAL_AD_SCIENCE",
              "ZEFR"
            ],
            "type": "string"
          },
          "brandSafetyIntegrationPartnerData": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ThirdPartyIntegrationPartnerData",
            "description": "Third party partner data for YouTube brand safety verification. This is optional metadata for partners to join or attach data to Ads campaigns."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CampaignThirdPartyIntegrationPartners": {
        "description": "Container for Campaign level third party integration partners.",
        "properties": {
          "brandLiftIntegrationPartners": {
            "description": "Third party integration partners for Brand Lift verification for this Campaign.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CampaignThirdPartyBrandLiftIntegrationPartner"
            },
            "type": "array"
          },
          "brandSafetyIntegrationPartners": {
            "description": "Third party integration partners for brand safety verification for this Campaign.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CampaignThirdPartyBrandSafetyIntegrationPartner"
            },
            "type": "array"
          },
          "reachIntegrationPartners": {
            "description": "Third party integration partners for reach verification for this Campaign.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CampaignThirdPartyReachIntegrationPartner"
            },
            "type": "array"
          },
          "viewabilityIntegrationPartners": {
            "description": "Third party integration partners for YouTube viewability verification for this Campaign.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CampaignThirdPartyViewabilityIntegrationPartner"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CampaignThirdPartyReachIntegrationPartner": {
        "description": "Container for third party reach integration data for Campaign.",
        "properties": {
          "reachIntegrationPartner": {
            "description": "Allowed third party integration partners for reach verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "NIELSEN",
              "COMSCORE",
              "KANTAR_MILLWARD_BROWN",
              "VIDEO_RESEARCH",
              "GEMIUS",
              "MEDIA_SCOPE",
              "AUDIENCE_PROJECT",
              "VIDEO_AMP",
              "ISPOT_TV"
            ],
            "type": "string"
          },
          "reachIntegrationPartnerData": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ThirdPartyIntegrationPartnerData",
            "description": "Third party partner data for YouTube Reach verification. This is optional metadata for partners to join or attach data to Ads campaigns."
          },
          "shareCost": {
            "description": "If true, then cost data will be shared with this vendor.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CampaignThirdPartyViewabilityIntegrationPartner": {
        "description": "Container for third party viewability integration data for Campaign.",
        "properties": {
          "shareCost": {
            "description": "If true, then cost data will be shared with this vendor.",
            "type": "boolean"
          },
          "viewabilityIntegrationPartner": {
            "description": "Allowed third party integration partners for YouTube viewability verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DOUBLE_VERIFY",
              "INTEGRAL_AD_SCIENCE"
            ],
            "type": "string"
          },
          "viewabilityIntegrationPartnerData": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ThirdPartyIntegrationPartnerData",
            "description": "Third party partner data for YouTube viewability verification. This is optional metadata for partners to join or attach data to Ads campaigns."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CarrierInfo": {
        "description": "Represents a Carrier Criterion.",
        "properties": {
          "carrierConstant": {
            "description": "The Carrier constant resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ChainFilter": {
        "description": "One chain level filter on location in a feed item set. The filtering logic among all the fields is AND.",
        "properties": {
          "chainId": {
            "description": "Required. Used to filter chain locations by chain id. Only chain locations that belong to the specified chain will be in the asset set.",
            "format": "int64",
            "type": "string"
          },
          "locationAttributes": {
            "description": "Used to filter chain locations by location attributes. Only chain locations that belong to all of the specified attribute(s) will be in the asset set. If this field is empty, it means no filtering on this field.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ChainLocationGroup": {
        "description": "Represents information about a Chain dynamic location group. Only applicable if the sync level AssetSet's type is LOCATION_SYNC and sync source is chain.",
        "properties": {
          "dynamicChainLocationGroupFilters": {
            "description": "Used to filter chain locations by chain ids. Only Locations that belong to the specified chain(s) will be in the asset set.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ChainFilter"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ChainSet": {
        "description": "Data used to configure a location set populated with the specified chains.",
        "properties": {
          "chains": {
            "description": "Required. A list of chain level filters, all filters are OR'ed together.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__ChainFilter"
            },
            "type": "array"
          },
          "relationshipType": {
            "description": "Required. Immutable. Relationship type the specified chains have with this advertiser.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "AUTO_DEALERS",
              "GENERAL_RETAILERS"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ClickLocation": {
        "description": "Location criteria associated with a click.",
        "properties": {
          "city": {
            "description": "The city location criterion associated with the impression.",
            "type": "string"
          },
          "country": {
            "description": "The country location criterion associated with the impression.",
            "type": "string"
          },
          "metro": {
            "description": "The metro location criterion associated with the impression.",
            "type": "string"
          },
          "mostSpecific": {
            "description": "The most specific location criterion associated with the impression.",
            "type": "string"
          },
          "region": {
            "description": "The region location criterion associated with the impression.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CombinedAudienceInfo": {
        "description": "A combined audience criterion.",
        "properties": {
          "combinedAudience": {
            "description": "The CombinedAudience resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__Commission": {
        "description": "Commission is an automatic bidding strategy in which the advertiser pays a certain portion of the conversion value.",
        "properties": {
          "commissionRateMicros": {
            "description": "Commission rate defines the portion of the conversion value that the advertiser will be billed. A commission rate of x should be passed into this field as (x * 1,000,000). For example, 106,000 represents a commission rate of 0.106 (10.6%).",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ConceptGroup": {
        "description": "The concept group for the keyword concept.",
        "properties": {
          "name": {
            "description": "The concept group name.",
            "type": "string"
          },
          "type": {
            "description": "The concept group type.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "BRAND",
              "OTHER_BRANDS",
              "NON_BRAND"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__Consent": {
        "description": "Consent",
        "properties": {
          "adPersonalization": {
            "description": "This represents consent for ad personalization. This can only be set for OfflineUserDataJobService and UserDataService.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "GRANTED",
              "DENIED"
            ],
            "type": "string"
          },
          "adUserData": {
            "description": "This represents consent for ad user data.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "GRANTED",
              "DENIED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__ContentLabelInfo": {
        "description": "Content Label for category exclusion.",
        "properties": {
          "type": {
            "description": "Content label type, required for CREATE operations.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "SEXUALLY_SUGGESTIVE",
              "BELOW_THE_FOLD",
              "PARKED_DOMAIN",
              "JUVENILE",
              "PROFANITY",
              "TRAGEDY",
              "VIDEO",
              "VIDEO_RATING_DV_G",
              "VIDEO_RATING_DV_PG",
              "VIDEO_RATING_DV_T",
              "VIDEO_RATING_DV_MA",
              "VIDEO_NOT_YET_RATED",
              "EMBEDDED_VIDEO",
              "LIVE_STREAMING_VIDEO",
              "SOCIAL_ISSUES",
              "BRAND_SUITABILITY_CONTENT_FOR_FAMILIES",
              "BRAND_SUITABILITY_GAMES_FIGHTING",
              "BRAND_SUITABILITY_GAMES_MATURE",
              "BRAND_SUITABILITY_HEALTH_SENSITIVE",
              "BRAND_SUITABILITY_HEALTH_SOURCE_UNDETERMINED",
              "BRAND_SUITABILITY_NEWS_RECENT",
              "BRAND_SUITABILITY_NEWS_SENSITIVE",
              "BRAND_SUITABILITY_NEWS_SOURCE_NOT_FEATURED",
              "BRAND_SUITABILITY_POLITICS",
              "BRAND_SUITABILITY_RELIGION"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CpcBidSimulationPoint": {
        "description": "Projected metrics for a specific CPC bid amount.",
        "properties": {
          "biddableConversions": {
            "description": "Projected number of biddable conversions.",
            "format": "double",
            "type": "number"
          },
          "biddableConversionsValue": {
            "description": "Projected total value of biddable conversions.",
            "format": "double",
            "type": "number"
          },
          "clicks": {
            "description": "Projected number of clicks.",
            "format": "int64",
            "type": "string"
          },
          "costMicros": {
            "description": "Projected cost in micros.",
            "format": "int64",
            "type": "string"
          },
          "cpcBidMicros": {
            "description": "The simulated CPC bid upon which projected metrics are based.",
            "format": "int64",
            "type": "string"
          },
          "cpcBidScalingModifier": {
            "description": "The simulated scaling modifier upon which projected metrics are based. All CPC bids relevant to the simulated entity are scaled by this modifier.",
            "format": "double",
            "type": "number"
          },
          "impressions": {
            "description": "Projected number of impressions.",
            "format": "int64",
            "type": "string"
          },
          "requiredBudgetAmountMicros": {
            "description": "Projected required daily budget that the advertiser must set in order to receive the estimated traffic, in micros of advertiser currency.",
            "format": "int64",
            "type": "string"
          },
          "topSlotImpressions": {
            "description": "Projected number of top slot impressions. Only search advertising channel type supports this field.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CpcBidSimulationPointList": {
        "description": "A container for simulation points for simulations of type CPC_BID.",
        "properties": {
          "points": {
            "description": "Projected metrics for a series of CPC bid amounts.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CpcBidSimulationPoint"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CpvBidSimulationPoint": {
        "description": "Projected metrics for a specific CPV bid amount.",
        "properties": {
          "costMicros": {
            "description": "Projected cost in micros.",
            "format": "int64",
            "type": "string"
          },
          "cpvBidMicros": {
            "description": "The simulated CPV bid upon which projected metrics are based.",
            "format": "int64",
            "type": "string"
          },
          "impressions": {
            "description": "Projected number of impressions.",
            "format": "int64",
            "type": "string"
          },
          "views": {
            "description": "Projected number of views.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CpvBidSimulationPointList": {
        "description": "A container for simulation points for simulations of type CPV_BID.",
        "properties": {
          "points": {
            "description": "Projected metrics for a series of CPV bid amounts.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CpvBidSimulationPoint"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CriterionCategoryAvailability": {
        "description": "Information of category availability, per advertising channel.",
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CriterionCategoryChannelAvailability",
            "description": "Channel types and subtypes that are available to the category."
          },
          "locale": {
            "description": "Locales that are available to the category for the channel.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CriterionCategoryLocaleAvailability"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CriterionCategoryChannelAvailability": {
        "description": "Information of advertising channel type and subtypes a category is available in.",
        "properties": {
          "advertisingChannelSubType": {
            "description": "Channel subtypes under the channel type the category is available to.",
            "items": {
              "enum": [
                "UNSPECIFIED",
                "UNKNOWN",
                "SEARCH_MOBILE_APP",
                "DISPLAY_MOBILE_APP",
                "SEARCH_EXPRESS",
                "DISPLAY_EXPRESS",
                "SHOPPING_SMART_ADS",
                "DISPLAY_GMAIL_AD",
                "DISPLAY_SMART_CAMPAIGN",
                "VIDEO_ACTION",
                "VIDEO_NON_SKIPPABLE",
                "APP_CAMPAIGN",
                "APP_CAMPAIGN_FOR_ENGAGEMENT",
                "LOCAL_CAMPAIGN",
                "SHOPPING_COMPARISON_LISTING_ADS",
                "SMART_CAMPAIGN",
                "VIDEO_SEQUENCE",
                "APP_CAMPAIGN_FOR_PRE_REGISTRATION",
                "VIDEO_REACH_TARGET_FREQUENCY",
                "TRAVEL_ACTIVITIES",
                "YOUTUBE_AUDIO"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "advertisingChannelType": {
            "description": "Channel type the category is available to.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "SEARCH",
              "DISPLAY",
              "SHOPPING",
              "HOTEL",
              "VIDEO",
              "MULTI_CHANNEL",
              "LOCAL",
              "SMART",
              "PERFORMANCE_MAX",
              "LOCAL_SERVICES",
              "TRAVEL",
              "DEMAND_GEN"
            ],
            "type": "string"
          },
          "availabilityMode": {
            "description": "Format of the channel availability. Can be ALL_CHANNELS (the rest of the fields will not be set), CHANNEL_TYPE (only advertising_channel_type type will be set, the category is available to all sub types under it) or CHANNEL_TYPE_AND_SUBTYPES (advertising_channel_type, advertising_channel_sub_type, and include_default_channel_sub_type will all be set).",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ALL_CHANNELS",
              "CHANNEL_TYPE_AND_ALL_SUBTYPES",
              "CHANNEL_TYPE_AND_SUBSET_SUBTYPES"
            ],
            "type": "string"
          },
          "includeDefaultChannelSubType": {
            "description": "Whether default channel sub type is included. For example, advertising_channel_type being DISPLAY and include_default_channel_sub_type being false means that the default display campaign where channel sub type is not set is not included in this availability configuration.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CriterionCategoryLocaleAvailability": {
        "description": "Information about which locales a category is available in.",
        "properties": {
          "availabilityMode": {
            "description": "Format of the locale availability. Can be LAUNCHED_TO_ALL (both country and language will be empty), COUNTRY (only country will be set), LANGUAGE (only language wil be set), COUNTRY_AND_LANGUAGE (both country and language will be set).",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "ALL_LOCALES",
              "COUNTRY_AND_ALL_LANGUAGES",
              "LANGUAGE_AND_ALL_COUNTRIES",
              "COUNTRY_AND_LANGUAGE"
            ],
            "type": "string"
          },
          "countryCode": {
            "description": "The ISO-3166-1 alpha-2 country code associated with the category.",
            "type": "string"
          },
          "languageCode": {
            "description": "ISO 639-1 code of the language associated with the category.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CrmBasedUserListInfo": {
        "description": "UserList of CRM users provided by the advertiser.",
        "properties": {
          "appId": {
            "description": "A string that uniquely identifies a mobile application from which the data was collected. For iOS, the ID string is the 9 digit string that appears at the end of an App Store URL (for example, \"476943146\" for \"Flood-It! 2\" whose App Store link is http://itunes.apple.com/us/app/flood-it!-2/id476943146). For Android, the ID string is the application's package name (for example, \"com.labpixies.colordrips\" for \"Color Drips\" given Google Play link https://play.google.com/store/apps/details?id=com.labpixies.colordrips). Required when creating CrmBasedUserList for uploading mobile advertising IDs.",
            "type": "string"
          },
          "dataSourceType": {
            "description": "Data source of the list. Default value is FIRST_PARTY. Only customers on the allow-list can create third-party sourced CRM lists.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "FIRST_PARTY",
              "THIRD_PARTY_CREDIT_BUREAU",
              "THIRD_PARTY_VOTER_FILE",
              "THIRD_PARTY_PARTNER_DATA"
            ],
            "type": "string"
          },
          "uploadKeyType": {
            "description": "Matching key type of the list. Mixed data types are not allowed on the same list. This field is required for an ADD operation.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CONTACT_INFO",
              "CRM_ID",
              "MOBILE_ADVERTISING_ID"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomAffinityInfo": {
        "description": "A custom affinity criterion. A criterion of this type is only targetable.",
        "properties": {
          "customAffinity": {
            "description": "The CustomInterest resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomAudienceInfo": {
        "description": "A custom audience criterion.",
        "properties": {
          "customAudience": {
            "description": "The CustomAudience resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomAudienceSegment": {
        "description": "Custom audience segment.",
        "properties": {
          "customAudience": {
            "description": "The custom audience resource.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomerLifecycleOptimizationValueSettings": {
        "description": "Lifecycle goal optimization value settings.",
        "properties": {
          "additionalHighLifetimeValue": {
            "description": "High lifetime value of the lifecycle goal. For example, for customer acquisition goals, high lifetime value is the incremental conversion value for lapsed customers who are of high value. High lifetime value should be greater than value, if set.",
            "format": "double",
            "type": "number"
          },
          "additionalValue": {
            "description": "Value of the lifecycle goal. For example, for retention goals, value is the incremental conversion value for lapsed customers who are not of high value.",
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomerMatchUserListMetadata": {
        "description": "Metadata for customer match user list.",
        "properties": {
          "consent": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__Consent",
            "description": "The consent setting for all the users in this job."
          },
          "userList": {
            "description": "The resource name of remarketing list to update data. Required for job of CUSTOMER_MATCH_USER_LIST type.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomerThirdPartyBrandLiftIntegrationPartner": {
        "description": "Container for third party Brand Lift integration data for Customer.",
        "properties": {
          "allowShareCost": {
            "description": "If true, cost data can be shared with this vendor.",
            "type": "boolean"
          },
          "brandLiftIntegrationPartner": {
            "description": "Allowed Third Party integration partners for Brand Lift verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "KANTAR_MILLWARD_BROWN",
              "DYNATA",
              "INTAGE",
              "MACROMILL"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomerThirdPartyBrandSafetyIntegrationPartner": {
        "description": "Container for third party brand safety integration data for Customer.",
        "properties": {
          "brandSafetyIntegrationPartner": {
            "description": "Allowed third party integration partners for brand safety verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DOUBLE_VERIFY",
              "INTEGRAL_AD_SCIENCE",
              "ZEFR"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomerThirdPartyIntegrationPartners": {
        "description": "Container for Customer level third party integration partners.",
        "properties": {
          "brandLiftIntegrationPartners": {
            "description": "Allowed third party integration partners for Brand Lift verification.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CustomerThirdPartyBrandLiftIntegrationPartner"
            },
            "type": "array"
          },
          "brandSafetyIntegrationPartners": {
            "description": "Allowed third party integration partners for brand safety verification.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CustomerThirdPartyBrandSafetyIntegrationPartner"
            },
            "type": "array"
          },
          "reachIntegrationPartners": {
            "description": "Allowed third party integration partners for reach verification.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CustomerThirdPartyReachIntegrationPartner"
            },
            "type": "array"
          },
          "viewabilityIntegrationPartners": {
            "description": "Allowed third party integration partners for YouTube viewability verification.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__CustomerThirdPartyViewabilityIntegrationPartner"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomerThirdPartyReachIntegrationPartner": {
        "description": "Container for third party reach integration data for Customer.",
        "properties": {
          "allowShareCost": {
            "description": "If true, cost data can be shared with this vendor.",
            "type": "boolean"
          },
          "reachIntegrationPartner": {
            "description": "Allowed Third Party integration partners for reach verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "NIELSEN",
              "COMSCORE",
              "KANTAR_MILLWARD_BROWN",
              "VIDEO_RESEARCH",
              "GEMIUS",
              "MEDIA_SCOPE",
              "AUDIENCE_PROJECT",
              "VIDEO_AMP",
              "ISPOT_TV"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomerThirdPartyViewabilityIntegrationPartner": {
        "description": "Container for third party viewability integration data for Customer.",
        "properties": {
          "allowShareCost": {
            "description": "If true, cost data can be shared with this vendor.",
            "type": "boolean"
          },
          "viewabilityIntegrationPartner": {
            "description": "Allowed third party integration partners for YouTube viewability verification.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "DOUBLE_VERIFY",
              "INTEGRAL_AD_SCIENCE"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomIntentInfo": {
        "description": "A custom intent criterion. A criterion of this type is only targetable.",
        "properties": {
          "customIntent": {
            "description": "The CustomInterest resource name.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomizerValue": {
        "description": "A customizer value that is referenced in customizer linkage entities like CustomerCustomizer, CampaignCustomizer, etc.",
        "properties": {
          "stringValue": {
            "description": "Required. Value to insert in creative text. Customizer values of all types are stored as string to make formatting unambiguous.",
            "type": "string"
          },
          "type": {
            "description": "Required. The data type for the customizer value. It must match the attribute type. The string_value content must match the constraints associated with the type.",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "TEXT",
              "NUMBER",
              "PRICE",
              "PERCENT"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__CustomParameter": {
        "description": "A mapping that can be used by custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`.",
        "properties": {
          "key": {
            "description": "The key matching the parameter tag name.",
            "type": "string"
          },
          "value": {
            "description": "The value to be substituted.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__DateRange": {
        "description": "A date range.",
        "properties": {
          "endDate": {
            "description": "The end date, in yyyy-mm-dd format. This date is inclusive.",
            "type": "string"
          },
          "startDate": {
            "description": "The start date, in yyyy-mm-dd format. This date is inclusive.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__DemandGenCarouselAdInfo": {
        "description": "A Demand Gen carousel ad.",
        "properties": {
          "businessName": {
            "description": "Required. The Advertiser/brand name.",
            "type": "string"
          },
          "callToActionText": {
            "description": "Call to action text.",
            "type": "string"
          },
          "carouselCards": {
            "description": "Required. Carousel cards that will display with the ad. Min 2 max 10.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdDemandGenCarouselCardAsset"
            },
            "type": "array"
          },
          "description": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset",
            "description": "Required. The descriptive text of the ad."
          },
          "headline": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset",
            "description": "Required. Headline of the ad."
          },
          "logoImage": {
            "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdImageAsset",
            "description": "Required. Logo image to be used in the ad. The minimum size is 128x128 and the aspect ratio must be 1:1 (+-1%)."
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__DemandGenCarouselCardAsset": {
        "description": "A Demand Gen Carousel Card asset.",
        "properties": {
          "callToActionText": {
            "description": "Call to action text.",
            "type": "string"
          },
          "headline": {
            "description": "Required. Headline of the carousel card.",
            "type": "string"
          },
          "marketingImageAsset": {
            "description": "Asset resource name of the associated 1.91:1 marketing image. This and/or square marketing image asset is required.",
            "type": "string"
          },
          "portraitMarketingImageAsset": {
            "description": "Asset resource name of the associated 4:5 portrait marketing image.",
            "type": "string"
          },
          "squareMarketingImageAsset": {
            "description": "Asset resource name of the associated square marketing image. This and/or a marketing image asset is required.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "GoogleAdsGoogleadsV22Common__DemandGenMultiAssetAdInfo": {
        "description": "A Demand Gen multi asset ad.",
        "properties": {
          "businessName": {
            "description": "The Advertiser/brand name. Maximum display width is 25. Required.",
            "type": "string"
          },
          "callToActionText": {
            "description": "Call to action text.",
            "type": "string"
          },
          "descriptions": {
            "description": "The descriptive text of the ad. Maximum display width is 90. At least 1 and max 5 descriptions can be specified.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "headlines": {
            "description": "Headline text asset of the ad. Maximum display width is 30. At least 1 and max 5 headlines can be specified.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdTextAsset"
            },
            "type": "array"
          },
          "leadFormOnly": {
            "description": "Boolean option that indicates if this ad must be served with lead form.",
            "type": "boolean"
          },
          "logoImages": {
            "description": "Logo image assets to be used in the ad. Valid image types are GIF, JPEG, and PNG. The minimum size is 128x128 and the aspect ratio must be 1:1 (+-1%). At least 1 and max 5 logo images can be specified.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdImageAsset"
            },
            "type": "array"
          },
          "marketingImages": {
            "description": "Marketing image assets to be used in the ad. Valid image types are GIF, JPEG, and PNG. The minimum size is 600x314 and the aspect ratio must be 1.91:1 (+-1%). Required if square_marketing_images is not present. Combined with `square_marketing_images`, `portrait_marketing_images`, and `tall_portrait_marketing_images` the maximum is 20.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdImageAsset"
            },
            "type": "array"
          },
          "portraitMarketingImages": {
            "description": "Portrait marketing image assets to be used in the ad. Valid image types are GIF, JPEG, and PNG. The minimum size is 480x600 and the aspect ratio must be 4:5 (+-1%). Combined with `marketing_images`, `square_marketing_images`, and `tall_portrait_marketing_images` the maximum is 20.",
            "items": {
              "$ref": "#/components/schemas/GoogleAdsGoogleadsV22Common__AdImageAsset"
            },
            "type": "array"
          },
          "squareMarketingImages": {
[...]
