package {{ .Package }}

import (
	"context"
	"net/http"

	"github.com/amp-labs/connectors/{{ .Package }}"
	testUtils "github.com/amp-labs/connectors/test/utils"
	"github.com/amp-labs/connectors/utils"
)

func Get{{ .Provider }}Connector(ctx context.Context, filePath string) *{{ .Package }}.Connector {
	registry := utils.NewCredentialsRegistry()

	readers := []utils.Reader{
		&utils.JSONReader{
			FilePath: filePath,
			JSONPath: "$.clientId",
			CredKey:  utils.ClientId,
		},
		&utils.JSONReader{
			FilePath: filePath,
			JSONPath: "$.clientSecret",
			CredKey:  utils.ClientSecret,
		},
		&utils.JSONReader{
			FilePath: filePath,
			JSONPath: "$.accessToken",
			CredKey:  utils.AccessToken,
		},
		&utils.JSONReader{
			FilePath: filePath,
			JSONPath: "$.refreshToken",
			CredKey:  utils.RefreshToken,
		},
		&utils.JSONReader{
			FilePath: filePath,
			JSONPath: "$.provider",
			CredKey:  utils.Provider,
		},
		&utils.JSONReader{
			FilePath: filePath,
			JSONPath: "$.workspace",
			CredKey:  utils.WorkspaceRef,
		},
	}
	_ = registry.AddReaders(readers...)

	// TODO create config and token registries
	cfg := utils.{{ .Provider }}ConfigFromRegistry(registry)
	tok := utils.{{ .Provider }}TokenFromRegistry(registry)
	workspace := registry.MustString(utils.WorkspaceRef)

	// TODO provide required options
	conn, err := {{ .Package }}.NewConnector(
		{{ .Package }}.WithClient(ctx, http.DefaultClient, cfg, tok),
		{{ .Package }}.WithWorkspace(workspace),
	)
	if err != nil {
		testUtils.Fail("error creating connector", "error", err)
	}

	return conn
}
