{
  "swagger": "2.0",
  "info": {
    "version": "3.0.0",
    "title": "Company API",
    "description": "ConnectWise Company API",
    "contact": {
      "name": "ConnectWise",
      "email": "platform@connectwise.com"
    }
  },
  "host": "api-na.myconnectwise.net",
  "basePath": "/v4_6_release/apis/3.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/company/addressFormats": {
      "get": {
        "tags": [
          "AddressFormats"
        ],
        "description": "Get Address Formats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AddressFormat"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "AddressFormats"
        ],
        "description": "Create Address Format",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "addressFormat",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressFormat"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AddressFormat"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/addressFormats/count": {
      "get": {
        "tags": [
          "AddressFormats"
        ],
        "description": "Get Address Formats Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/addressFormats/{id}": {
      "get": {
        "tags": [
          "AddressFormats"
        ],
        "description": "Get Address Format By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressFormat"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "AddressFormats"
        ],
        "description": "Replace Address Format",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "addressFormat",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressFormat"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressFormat"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "AddressFormats"
        ],
        "description": "Delete Address Format By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "AddressFormats"
        ],
        "description": "Update Address Format",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressFormat"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Get Companies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Company"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "description": "Create Company",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Company"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/count": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Get Companies Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/customFieldConditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Get Company By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "description": "Replace Company",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "company",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Companies"
        ],
        "description": "Delete Company By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Companies"
        ],
        "description": "Update Company",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/merge": {
      "post": {
        "tags": [
          "Companies"
        ],
        "description": "Merge Company",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "merge",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyMerge"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/groups": {
      "get": {
        "tags": [
          "CompanyGroups"
        ],
        "description": "Get Company Groups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyGroup"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CompanyGroups"
        ],
        "description": "Create Company Group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyGroup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyGroup"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompanyGroup"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/groups/count": {
      "get": {
        "tags": [
          "CompanyGroups"
        ],
        "description": "Get Company Groups Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/groups/{groupid}": {
      "get": {
        "tags": [
          "CompanyGroups"
        ],
        "description": "Get Company Group By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "groupid",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyGroup"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "CompanyGroups"
        ],
        "description": "Replace Company Group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "groupid",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyGroup",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyGroup"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyGroup"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CompanyGroups"
        ],
        "description": "Delete Company Group By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "groupid",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CompanyGroups"
        ],
        "description": "Update Company Group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "groupid",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyGroup"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/marketDescriptions": {
      "get": {
        "tags": [
          "MarketDescriptions"
        ],
        "description": "Get Market Description",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MarketDescription"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "MarketDescriptions"
        ],
        "description": "Create Market Description",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "marketDescription",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MarketDescription"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MarketDescription"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/marketDescriptions/count": {
      "get": {
        "tags": [
          "MarketDescriptions"
        ],
        "description": "Get Market Description Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/marketDescriptions/{id}": {
      "get": {
        "tags": [
          "MarketDescriptions"
        ],
        "description": "Get Market Description By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MarketDescription"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "MarketDescriptions"
        ],
        "description": "Replace Market Description",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "marketDescription",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MarketDescription"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MarketDescription"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "MarketDescriptions"
        ],
        "description": "Delete Market Description By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "MarketDescriptions"
        ],
        "description": "Update Market Description",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MarketDescription"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/notes": {
      "get": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Get Company Notes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyNote"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Create Company Note",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyNote",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyNote"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompanyNote"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/notes/count": {
      "get": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Get Company Notes Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/notes/{noteId}": {
      "get": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Get Company Note By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "noteId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyNote"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Replace Company Note",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "noteId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyNote",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyNote"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyNote"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Delete Company Note By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "noteId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Update Company Note",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "noteId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyNote"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/ownershipTypes": {
      "get": {
        "tags": [
          "OwnershipTypes"
        ],
        "description": "Get Ownership Type",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OwnershipType"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "OwnershipTypes"
        ],
        "description": "Create Ownership Type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ownershipType",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OwnershipType"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OwnershipType"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/ownershipTypes/count": {
      "get": {
        "tags": [
          "OwnershipTypes"
        ],
        "description": "Get Ownership Type Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/ownershipTypes/{id}": {
      "get": {
        "tags": [
          "OwnershipTypes"
        ],
        "description": "Get Ownership Type By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OwnershipType"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "OwnershipTypes"
        ],
        "description": "Replace Ownership Type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "ownershipType",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OwnershipType"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OwnershipType"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "OwnershipTypes"
        ],
        "description": "Delete Ownership Type By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "OwnershipTypes"
        ],
        "description": "Update Ownership Type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OwnershipType"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companyPickerItems": {
      "get": {
        "tags": [
          "CompanyPickerItems"
        ],
        "description": "Get Company Picker Items",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyPickerItem"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CompanyPickerItems"
        ],
        "description": "Add Company Picker Item",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyPickerItem",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyPickerItem"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompanyPickerItem"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companyPickerItems/count": {
      "get": {
        "tags": [
          "CompanyPickerItems"
        ],
        "description": "Get Company Picker Items Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companyPickerItems/{id}": {
      "get": {
        "tags": [
          "CompanyPickerItems"
        ],
        "description": "Get Company Picker Item By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyPickerItem"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CompanyPickerItems"
        ],
        "description": "Delete Company Picker Item",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companyPickerItems/clear": {
      "post": {
        "tags": [
          "CompanyPickerItems"
        ],
        "description": "Clear All Picker Items By Member",
        "parameters": [
          {
            "$ref": "#/parameters/member"
          },
          {
            "$ref": "#/parameters/type"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent",
            "schema": {
              "$ref": "#/definitions/ClearPickerRequest"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/statuses": {
      "get": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Get Company Statuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyStatus"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Create Company Status",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyStatus",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyStatus"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompanyStatus"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/statuses/count": {
      "get": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Get Company Statuses Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/statuses/{id}": {
      "get": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Get Company Status By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyStatus"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Replace Company Status",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyStatus",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyStatus"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyStatus"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Delete Company Status By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Update Company Status",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyStatus"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/teamRoles": {
      "get": {
        "tags": [
          "TeamRoles"
        ],
        "description": "Get Team Role",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TeamRole"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "TeamRoles"
        ],
        "description": "Create Team Role",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "teamRole",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamRole"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TeamRole"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/teamRoles/count": {
      "get": {
        "tags": [
          "TeamRoles"
        ],
        "description": "Get Team Role Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/teamRoles/{id}": {
      "get": {
        "tags": [
          "TeamRoles"
        ],
        "description": "Get Team Role By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TeamRole"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "TeamRoles"
        ],
        "description": "Replace Team Role",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "teamRole",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TeamRole"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TeamRole"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "TeamRoles"
        ],
        "description": "Delete Team Role By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "TeamRoles"
        ],
        "description": "Update Team Role",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TeamRole"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/teams": {
      "get": {
        "tags": [
          "CompanyTeams"
        ],
        "description": "Get Company Teams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyTeam"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CompanyTeams"
        ],
        "description": "Create Company Team",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyTeam",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyTeam"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompanyTeam"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/teams/count": {
      "get": {
        "tags": [
          "CompanyTeams"
        ],
        "description": "Get Company Teams Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/{id}/teams/{teamId}": {
      "get": {
        "tags": [
          "CompanyTeams"
        ],
        "description": "Get Company Team By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "teamId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyTeam"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "CompanyTeams"
        ],
        "description": "Replace Company Team",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "teamId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyTeam",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyTeam"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyTeam"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CompanyTeams"
        ],
        "description": "Delete Company Team By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "teamId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CompanyTeams"
        ],
        "description": "Update Company Team",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "teamId",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyTeam"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/types": {
      "get": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Get Company Types",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompanyType"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Create Company Type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "companyType",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyType"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CompanyType"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/types/count": {
      "get": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Get Company Types Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/companies/types/{id}": {
      "get": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Get Company Type By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyType"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "True"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Replace Company Type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "companyType",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyType"
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyType"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Delete Company Type By Id",
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Update Company Type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "operations",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PatchOperation"
              }
            }
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyType"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/configurations": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "description": "Get Configurations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/orderBy"
          },
          {
            "$ref": "#/parameters/childconditions"
          },
          {
            "$ref": "#/parameters/customfieldconditions"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/managedIdentifier"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Configuration"
              }
            },
            "headers": {
              "Link": {
                "description": "Pagination header; potentially includes first, prev, next, and/or last.",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Configurations"
        ],
        "description": "Create Configuration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "configuration",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          {
            "$ref": "#/parameters/managementSolutionName"
          },
          {
            "$ref": "#/parameters/managedIdentifier"
          },
          {
            "$ref": "#/parameters/type"
          },
          {
            "$ref": "#/parameters/level"
          },
          {
            "$ref": "#/parameters/childConfigurationsMatchingOn"
          },
          {
            "$ref": "#/parameters/inactivateConfigurationsMatchingOn"
          },
          {
            "$ref": "#/parameters/inactiveConfigurationStatusId"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Configuration"
            },
            "headers": {
              "Location": {
                "description": "Location of entity created",
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/configurations/count": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "description": "Get Configurations Count",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/conditions"
          },
          {
            "$ref": "#/parameters/managedIdentifier"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Count"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      }
    },
    "/company/configurations/{id}": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "description": "Get Configuration By Id",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
              "False"
            ]
          },
          {
            "PilotEndpoint": [
              "False"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Configurations"
        ],
        "description": "Replace Configuration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "integer",
            "format": "int32",
            "in": "path",
            "required": true
          },
          {
            "name": "configuration",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          {
            "$ref": "#/parameters/managementSolutionName"
          },
          {
            "$ref": "#/parameters/managedIdentifier"
          },
          {
            "$ref": "#/parameters/type"
          },
          {
            "$ref": "#/parameters/level"
          },
          {
            "$ref": "#/parameters/childConfigurationsMatchingOn"
          },
          {
            "$ref": "#/parameters/inactivateConfigurationsMatchingOn"
          },
          {
            "$ref": "#/parameters/inactiveConfigurationStatusId"
          }
        ],
        "responses": {
          "401": {
            "$ref": "#/responses/401"
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          }
        },
        "security": [
          {
            "BasicAuth": []
          },
          {
            "SetupTable": [
[...]
