package main

import (
	"context"
	"fmt"
	"os"
	"os/signal"
	"syscall"

	"github.com/amp-labs/connectors/common"
	"github.com/amp-labs/connectors/{{ .Package }}"
	connTest "github.com/amp-labs/connectors/test/{{ .Package }}"
	"github.com/amp-labs/connectors/test/utils"
)

var (
	objectName = "{{ .ObjectName | plural }}" // nolint: gochecknoglobals
)

func main() {
	// Handle Ctrl-C gracefully.
	ctx, done := signal.NotifyContext(context.Background(), syscall.SIGINT, syscall.SIGTERM)
	defer done()

	// Set up slog logging.
	utils.SetupLogging()


	filePath := os.Getenv("{{ .Provider | snake | upper }}_CRED_FILE")
	if filePath == "" {
		filePath = "./{{ .Provider | kebab }}-creds.json"
	}

	conn := connTest.Get{{ .Provider }}Connector(ctx, filePath)

	res, err := conn.Read(ctx, common.ReadParams{
		ObjectName: objectName, // TODO check endpoint path
		Fields: []string{
			"fullname", "emailaddress1", "fax", // TODO provide fields
		},
	})
	if err != nil {
		utils.Fail("error reading from {{ .Provider }}", "error", err)
	}

	fmt.Println("Reading {{ .ObjectName }}..")
	utils.DumpJSON(res, os.Stdout)

	if res.Rows > {{ .Package }}.DefaultPageSize {
		utils.Fail(fmt.Sprintf("expected max %v rows", {{ .Package }}.DefaultPageSize))
	}
}
