{
    "openapi": "3.0.0",
    "info": {
        "title": "JustCall",
        "description": "REST APIs \n The REST APIs provide programmatic access to read and write JustCall data. Create a new contact, read them, add notes, and more",
        "contact": {},
        "version": "2.1"
    },
    "servers": [
        {
            "url": "https://api.justcall.io"
        }
    ],
    "tags": [
        {
            "name": "justcall",
            "description": ""
        }
    ],
    "paths": {
        "/v2.1/calls": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "List all calls",
                "description": "Retrieve all calls linked to an account or refine the call selection as needed by utilizing the numerous query parameter fields.",
                "operationId": "call_list_v21",
                "parameters": [
                    {
                        "name": "fetch_queue_data",
                        "in": "query",
                        "description": "Set fetch_queue_data to true to fetch queue data like callback time, callback status, callback wait duration, etc. Default entry is false.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "fetch_ai_data",
                        "in": "query",
                        "description": "Set fetch_ai_data to true to fetch coaching data by Justcall AI. Default entry is false.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "from_datetime",
                        "in": "query",
                        "description": "Datetime in <b>yyyy-mm-dd hh:mm:ss</b> or <b>yyyy-mm-dd</b> format starting from when the calls are to be fetched in <b>user's timezone</b>.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "to_datetime",
                        "in": "query",
                        "description": "Datetime in <b>yyyy-mm-dd hh:mm:ss</b> or <b>yyyy-mm-dd</b> format till when the calls are to be fetched in <b>user's timezone</b>.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contact_number",
                        "in": "query",
                        "description": "Number of the contact for which calls are to be fetched.<br>Important: Please provide a valid contact number with country code.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "justcall_number",
                        "in": "query",
                        "description": "JustCall number for which the calls are to be fetched.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "agent_id",
                        "in": "query",
                        "description": "ID of the agent for whom the calls are to be fetched. Agent ID can be accessed using <a href=\"https://developer.justcall.io/reference/users_list_v21\">List all users API</a>.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "ai_agent_ids",
                        "required": false,
                        "in": "query",
                        "description": "IDs of the AI agents for which the calls are to be fetched. AI Agent IDs can be accessed using <a href=\"https://developer.justcall.io/reference/list_voice_agents_v21\"> List all AI agents API</a>.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "ivr_digit",
                        "in": "query",
                        "description": "Enter the IVR digit the calls routed through which need to be filtered (optional) <br><b><font color='red'>Note: <i>call_direction and call_type filter</i> won't work in case you send ivr_digit.</font></b> <br>",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "call_direction",
                        "in": "query",
                        "description": "Enter the direction of calls (incoming/outgoing) to be fetched",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Incoming",
                                "Outgoing"
                            ]
                        }
                    },
                    {
                        "name": "call_type",
                        "in": "query",
                        "description": "Enter the type of calls (answered, unanswered, missed, voicemail, abandoned) that need to be fetched.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "OUTGOING_ANSWERED",
                                "OUTGOING_UNANSWERED",
                                "OUTGOING_BUSY",
                                "OUTGOING_FAILED",
                                "OUTGOING_RESTRICTED",
                                "OUTGOING_BLOCKED",
                                "OUTGOING_CANCELLED",
                                "INCOMING_ANSWERED",
                                "INCOMING_BUSY",
                                "INCOMING_FAILED",
                                "INCOMING_MISSED",
                                "INCOMING_ABANDONED",
                                "INCOMING_VOICEMAIL"
                            ]
                        }
                    },
                    {
                        "name": "call_traits",
                        "in": "query",
                        "description": "Select one or more traits associated with a call to fetch all calls containing those traits.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "QUEUE",
                                    "CALLBACK",
                                    "FORWARD",
                                    "TRANSFER",
                                    "MERGE",
                                    "IVR",
                                    "VOICE_AGENT"
                                ]
                            }
                        }
                    },
                    {
                        "name": "disposition_codes",
                        "required": false,
                        "in": "query",
                        "description": "Filter calls by the disposition code (call outcome) added by the agent at the end of each call. You can enter an array of codes to filter calls with either of the dispositions from the list. Entered codes must already be present in your JustCall account. Expected format example - if your list title is \u2018Sales\u2018 and your code is \u2018Follow Up\u2019 then your input in disposition field should be \u2018Sales: Follow Up\u2019.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for which calls are to be fetched",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of calls to be fetched per page. Default value is 20 and maximum value is 100.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Select a parameter to sort the order of calls. By default we apply sorting on id field.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "id",
                            "enum": [
                                "id",
                                "datetime"
                            ]
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Order in which the calls list should appear based on the 'sort' parameter selected above",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "last_call_id_fetched",
                        "in": "query",
                        "description": "Id of the last call fetched in the previous query. This Id ensures that you won't receive any duplicate data when using the 'next_page_link' parameter.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "description": "Status of the response",
                                            "example": "success"
                                        },
                                        "count": {
                                            "type": "number",
                                            "description": "Number of records on the current page"
                                        },
                                        "total_count": {
                                            "type": "number",
                                            "description": "Total number of records available"
                                        },
                                        "current_page": {
                                            "type": "number",
                                            "description": "Current page number"
                                        },
                                        "per_page": {
                                            "type": "number",
                                            "description": "Records per page"
                                        },
                                        "next_page_link": {
                                            "type": "string",
                                            "description": "Link to the next page"
                                        },
                                        "prev_page_link": {
                                            "type": "string",
                                            "description": "Link to the previous page"
                                        },
                                        "data": {
                                            "type": "array",
                                            "description": "List of items",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "number",
                                                        "description": "Unique id of the call as generated by JustCall",
                                                        "default": 123456
                                                    },
                                                    "call_sid": {
                                                        "type": "string",
                                                        "description": "Unique call sid of the call as generated by JustCall",
                                                        "default": "CA0247d967e9bb3c284163a37a43XXXX"
                                                    },
                                                    "contact_number": {
                                                        "type": "string",
                                                        "description": "Phone number of the contact",
                                                        "default": "13801136XXX"
                                                    },
                                                    "contact_name": {
                                                        "type": "string",
                                                        "description": "Name of the contact",
                                                        "default": "Rachel G."
                                                    },
                                                    "contact_email": {
                                                        "type": "string",
                                                        "description": "Email id of the contact",
                                                        "default": "john@suits.co"
                                                    },
                                                    "justcall_number": {
                                                        "type": "string",
                                                        "description": "JustCall number used by the agent to make or receive the call",
                                                        "default": "12707705XXX"
                                                    },
                                                    "justcall_line_name": {
                                                        "type": "string",
                                                        "description": "If line name added, the name is sent otherwise blank",
                                                        "default": "Sales Line"
                                                    },
                                                    "agent_id": {
                                                        "type": "number",
                                                        "description": "Id of the agent who made or received the call",
                                                        "default": 1308
                                                    },
                                                    "agent_name": {
                                                        "type": "string",
                                                        "description": "Name of the agent who made or received the call",
                                                        "default": "John Smith"
                                                    },
                                                    "agent_email": {
                                                        "type": "string",
                                                        "description": "Email id of the agent who made or received the call",
                                                        "default": "john@abc.com"
                                                    },
                                                    "agent_active": {
                                                        "type": "string",
                                                        "description": "Whether the agent associated with the call is active or not",
                                                        "default": "Active"
                                                    },
                                                    "call_date": {
                                                        "type": "string",
                                                        "description": "Date of call in UTC",
                                                        "default": "2017-12-18"
                                                    },
                                                    "call_user_date": {
                                                        "type": "string",
                                                        "description": "Date of call in users timezone",
                                                        "default": "2017-12-17"
                                                    },
                                                    "call_time": {
                                                        "type": "string",
                                                        "description": "Timestamp of call in UTC",
                                                        "default": "13:55:43"
                                                    },
                                                    "call_user_time": {
                                                        "type": "string",
                                                        "description": "Timestamp of call in users timezone",
                                                        "default": "8:25:43"
                                                    },
                                                    "cost_incurred": {
                                                        "type": "number",
                                                        "description": "Charge for the particular call",
                                                        "default": 0.005
                                                    },
                                                    "call_info": {
                                                        "type": "object",
                                                        "properties": {
                                                            "direction": {
                                                                "type": "string",
                                                                "description": "Whether the call was an Outgoing call or an Incoming Calls",
                                                                "default": "Outgoing/Incoming"
                                                            },
                                                            "type": {
                                                                "type": "string",
                                                                "description": "A further breakdown of direction - <br><b>For Incoming direction</b> <br>Answered <br>Missed <br>Voicemail <br>Abandoned before ringing <br>Busy <br>Failed <br>Blocked <br>Unanswered <br>In Progress <br>Restricted <br><b>For Outgoing direction</b> <br>Answered <br>Unanswered <br>Abandoned before ringing <br>Busy <br>Failed <br>Blocked <br>Unanswered <br>In Progress <br>Restricted <br>",
                                                                "default": "Answered"
                                                            },
                                                            "missed_call_reason": {
                                                                "type": "string",
                                                                "description": "A reason for the call being missed. It can be out of - <br> Call arrived after your working hours <br>Call was not picked by any agent <br>Call never rang any of the available agents",
                                                                "default": "Call arrived after your working hours"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "description": "Returns \u201cArchived\u201d for calls which have been archived in JustCall, and returns \u201cUnarchived\u201d otherwise.",
                                                                "default": "Unarchived/Archived"
                                                            },
                                                            "disposition": {
                                                                "type": "string",
                                                                "description": "Call outcome selected by agent at the end of a call in the JustCall dialer",
                                                                "default": "Sales: Lead"
                                                            },
                                                            "notes": {
                                                                "type": "string",
                                                                "description": "Notes taken during the call or after the call from the Call Logs",
                                                                "default": "abc"
                                                            },
                                                            "rating": {
                                                                "type": "string",
                                                                "description": "Rating added by the agent at the end of a call in the JustCall Dialer",
                                                                "default": "5"
                                                            },
                                                            "recording": {
                                                                "type": "string",
                                                                "description": "Recording link of the call",
                                                                "default": "https://justcall.io/rec-redirect/CAf17efd60dxxxxxxxxxxxxxxxxx"
                                                            },
                                                            "recording_child": {
                                                                "type": "string",
                                                                "description": "Recording child link of the call",
                                                                "default": "https://justcall.io/rec-redirect/CAf17efd60dxxxxxxxxxxxxxxxxx"
                                                            },
                                                            "voicemail_transcription": {
                                                                "type": "string",
                                                                "description": "A translation of the voicemail recording into written text",
                                                                "default": "Transcription text"
                                                            },
                                                            "call_traits": {
                                                                "type": "array",
                                                                "description": "Comma separated list of traits associated with the call",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "default": [
                                                                    "IVR",
                                                                    "Merge"
                                                                ]
                                                            }
                                                        },
                                                        "x-readme-ref-name": "CallInfoDTO"
                                                    },
                                                    "call_duration": {
                                                        "type": "object",
                                                        "properties": {
                                                            "ring_time": {
                                                                "type": "number",
                                                                "description": "Time for which call rings before connecting with the system/agent",
                                                                "default": 5
                                                            },
                                                            "friendly_duration": {
                                                                "type": "string",
                                                                "description": "Duration of call in standard hh:mm:ss format",
                                                                "default": "00:00:05"
                                                            },
                                                            "total_duration": {
                                                                "type": "number",
                                                                "description": "Duration of call in seconds = conversation_time+ hold_time",
                                                                "default": 155
                                                            },
                                                            "queue_wait_time": {
                                                                "type": "number",
                                                                "description": "Time for which caller waited in the queue",
                                                                "default": 5
                                                            },
                                                            "hold_time": {
                                                                "type": "number",
                                                                "description": "Time for which caller was put on hold, if not put on hold should be 0",
                                                                "default": 5
                                                            },
                                                            "conversation_time": {
                                                                "type": "number",
                                                                "description": "Total duration without the Hold time",
                                                                "default": 5
                                                            },
                                                            "wrap_up_time": {
                                                                "type": "number",
                                                                "description": "Time set by agent from adding notes & disposition after a call",
                                                                "default": 5
                                                            },
                                                            "handle_time": {
                                                                "type": "number",
                                                                "description": "Total duration + Wrap up time",
                                                                "default": 5
                                                            }
                                                        },
                                                        "x-readme-ref-name": "CallDurationDTO"
                                                    },
                                                    "ivr_info": {
                                                        "type": "object",
                                                        "properties": {
                                                            "digit_pressed": {
                                                                "type": "string",
                                                                "description": "Digit of IVR pressed by user for the call",
                                                                "default": "0 (can be empty,0,1,2 etc)"
                                                            },
                                                            "content": {
                                                                "type": "string",
                                                                "description": "Content associated with the pressed IVR digit",
                                                                "default": "Forward call to Sales"
                                                            }
                                                        },
                                                        "x-readme-ref-name": "IvrCallsDTO"
                                                    },
                                                    "queue": {
                                                        "type": "object",
                                                        "properties": {
                                                            "entered_at_position": {
                                                                "type": "string",
                                                                "description": "The position assigned to the caller while entering the queue basis the number of callers already waiting in the queue.",
                                                                "default": "1"
                                                            },
                                                            "exit_reason": {
                                                                "type": "string",
                                                                "description": "Reason for the caller exiting from the queue. This can be out of: <br>- Caller got connected to a JustCall agent <br>- Caller exceeded maximum wait time for the JustCall number <br>- Caller hangup while waiting in queue <br>",
                                                                "default": ""
                                                            }
                                                        },
                                                        "x-readme-ref-name": "QueueCallDTO"
                                                    },
                                                    "queue_callback": {
                                                        "type": "object",
                                                        "properties": {
                                                            "callback_requested": {
                                                                "type": "string",
                                                                "description": "Whether or not the end customer requested a call back",
                                                                "default": "Yes/No"
                                                            },
                                                            "callback_requested_time": {
                                                                "type": "string",
                                                                "description": "Time when callback was requested",
                                                                "default": "2023-08-22 11:21:14"
                                                            },
                                                            "callback_attempted": {
                                                                "type": "string",
                                                                "description": "Whether or not our system attempted a call back",
                                                                "default": "Yes/No"
                                                            },
                                                            "callback_attempted_time": {
                                                                "type": "string",
                                                                "description": "Time when callback was attempted for the first time",
                                                                "default": "2023-08-22 11:22:16"
                                                            },
                                                            "callback_reached": {
                                                                "type": "string",
                                                                "description": "Whether or not the agent picks up successfully",
                                                                "default": "Yes/No"
                                                            },
                                                            "callback_status": {
                                                                "type": "string",
                                                                "description": "Whether or not the user picks up successfully",
                                                                "default": "Yes/No"
                                                            },
                                                            "callback_wait_duration": {
                                                                "type": "string",
                                                                "description": "Duration between customer requesting the callback and our service trying for the first time",
                                                                "default": "0:00:50"
                                                            },
                                                            "callback_reached_time": {
                                                                "type": "string",
                                                                "description": "Time when the agent picks up the call",
                                                                "default": "2023-08-22 11:22:21"
                                                            },
                                                            "callback_reached_duration": {
                                                                "type": "string",
                                                                "description": "Duration between request and when the call was picked up by the agent",
                                                                "default": "0:00:30"
                                                            }
                                                        },
                                                        "x-readme-ref-name": "QueueCallbackDTO"
                                                    },
                                                    "justcall_ai": {
                                                        "type": "object",
                                                        "properties": {
                                                            "call_moments": {
                                                                "type": "array",
                                                                "description": "List of most important keywords associated with a call",
                                                                "example": [
                                                                    "exams",
                                                                    "math",
                                                                    "confidence"
                                                                ],
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "customer_sentiment": {
                                                                "type": "string",
                                                                "description": "Overall analysis of the sentiment of the customer based on words and tone",
                                                                "example": "Positive"
                                                            },
                                                            "call_score": {
                                                                "type": "number",
                                                                "description": "Overall score of the call out of 10",
                                                                "default": 0
                                                            },
                                                            "call_score_parameters": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "dead_air_time": {
                                                                        "type": "number",
                                                                        "description": "dead_air_time",
                                                                        "default": 0
                                                                    },
                                                                    "filler_word": {
                                                                        "type": "number",
                                                                        "description": "filler_word",
                                                                        "default": 0
                                                                    },
                                                                    "de_escalation": {
                                                                        "type": "number",
                                                                        "description": "de_escalation",
                                                                        "default": 0
                                                                    },
                                                                    "empathy": {
                                                                        "type": "number",
                                                                        "description": "empathy",
                                                                        "default": 0
                                                                    },
                                                                    "talk_listen_ratio": {
                                                                        "type": "number",
                                                                        "description": "talk_listen_ratio",
                                                                        "default": 0
                                                                    },
                                                                    "greetings": {
                                                                        "type": "number",
                                                                        "description": "greetings",
                                                                        "default": 0
                                                                    },
                                                                    "words_per_minute": {
                                                                        "type": "number",
                                                                        "description": "words_per_minute",
                                                                        "default": 0
                                                                    },
                                                                    "monologue_duration": {
                                                                        "type": "number",
                                                                        "description": "monologue_duration",
                                                                        "default": 0
                                                                    },
                                                                    "call_etiquette": {
                                                                        "type": "number",
                                                                        "description": "call_etiquette",
                                                                        "default": 0
                                                                    },
                                                                    "customer_sentiment_score": {
                                                                        "type": "number",
                                                                        "description": "customer_sentiment_score",
                                                                        "default": 0
                                                                    }
                                                                },
                                                                "x-readme-ref-name": "CallScoreParameter"
                                                            },
                                                            "tags": {
                                                                "type": "array",
                                                                "description": "Tags added by the user(agent) for a call",
                                                                "example": [
                                                                    "demo",
                                                                    "follow-up"
                                                                ],
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "default": []
                                                            },
                                                            "manual_call_score": {
                                                                "type": "number",
                                                                "description": "Average of all manual scores added",
                                                                "example": 4,
                                                                "default": 0
                                                            },
                                                            "call_summary": {
                                                                "type": "string",
                                                                "description": "A summary of the key highlights and takeaways from a call",
                                                                "example": "Call summary"
                                                            }
                                                        },
                                                        "x-readme-ref-name": "JustCallAIDTO"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed due to bad request params."
                    },
                    "401": {
                        "description": "Failed due to unauthorized access."
                    },
                    "403": {
                        "description": "This error occurred when there is some validation error or you don't have access to that resource."
                    },
                    "404": {
                        "description": "Requested resource may not exist."
                    },
                    "500": {
                        "description": "This is due to internal server error reason, in this case please contact our support team with attached uuid."
                    }
                },
                "security": [
                    {
                        "AccessToken": []
                    }
                ]
            }
        },
        "/v2.1/calls/{id}": {
            "get": {
                "tags": [
                    "Calls"
                ],
                "summary": "Get a call",
                "description": "Utilize this endpoint for retrieval of data for a Call, including details such as duration, direction, status, timestamps, notes, and dispositions.",
                "operationId": "call_get_v21",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique id of the call generated by JustCall",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "fetch_queue_data",
                        "in": "query",
                        "description": "Set fetch_queue_data to true to fetch queue data like callback time, callback status, callback wait duration, etc. Default entry is false.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "fetch_ai_data",
                        "in": "query",
                        "description": "Set fetch_ai_data to true to fetch coaching data by Justcall AI. Default entry is false.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Unique id of the call as generated by JustCall",
                                            "default": 123456
                                        },
                                        "call_sid": {
                                            "type": "string",
                                            "description": "Unique call sid of the call as generated by JustCall",
                                            "default": "CA0247d967e9bb3c284163a37a43XXXX"
                                        },
                                        "contact_number": {
                                            "type": "string",
                                            "description": "Phone number of the contact",
                                            "default": "13801136XXX"
                                        },
                                        "contact_name": {
                                            "type": "string",
                                            "description": "Name of the contact",
                                            "default": "Rachel G."
                                        },
                                        "contact_email": {
                                            "type": "string",
                                            "description": "Email id of the contact",
                                            "default": "john@suits.co"
                                        },
                                        "justcall_number": {
                                            "type": "string",
                                            "description": "JustCall number used by the agent to make or receive the call",
                                            "default": "12707705XXX"
                                        },
                                        "justcall_line_name": {
                                            "type": "string",
                                            "description": "If line name added, the name is sent otherwise blank",
                                            "default": "Sales Line"
                                        },
                                        "agent_id": {
                                            "type": "number",
                                            "description": "Id of the agent who made or received the call",
                                            "default": 1308
                                        },
                                        "agent_name": {
                                            "type": "string",
                                            "description": "Name of the agent who made or received the call",
                                            "default": "John Smith"
                                        },
                                        "agent_email": {
                                            "type": "string",
                                            "description": "Email id of the agent who made or received the call",
                                            "default": "john@abc.com"
                                        },
                                        "agent_active": {
                                            "type": "string",
                                            "description": "Whether the agent associated with the call is active or not",
                                            "default": "Active"
                                        },
                                        "call_date": {
                                            "type": "string",
                                            "description": "Date of call in UTC",
                                            "default": "2017-12-18"
                                        },
                                        "call_user_date": {
                                            "type": "string",
                                            "description": "Date of call in users timezone",
                                            "default": "2017-12-17"
                                        },
                                        "call_time": {
                                            "type": "string",
                                            "description": "Timestamp of call in UTC",
                                            "default": "13:55:43"
                                        },
                                        "call_user_time": {
                                            "type": "string",
                                            "description": "Timestamp of call in users timezone",
                                            "default": "8:25:43"
                                        },
                                        "cost_incurred": {
                                            "type": "number",
                                            "description": "Charge for the particular call",
                                            "default": 0.005
                                        },
                                        "call_info": {
                                            "type": "object",
                                            "properties": {
                                                "direction": {
                                                    "type": "string",
                                                    "description": "Whether the call was an Outgoing call or an Incoming Calls",
                                                    "default": "Outgoing/Incoming"
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "description": "A further breakdown of direction - <br><b>For Incoming direction</b> <br>Answered <br>Missed <br>Voicemail <br>Abandoned before ringing <br>Busy <br>Failed <br>Blocked <br>Unanswered <br>In Progress <br>Restricted <br><b>For Outgoing direction</b> <br>Answered <br>Unanswered <br>Abandoned before ringing <br>Busy <br>Failed <br>Blocked <br>Unanswered <br>In Progress <br>Restricted <br>",
                                                    "default": "Answered"
                                                },
                                                "missed_call_reason": {
                                                    "type": "string",
                                                    "description": "A reason for the call being missed. It can be out of - <br> Call arrived after your working hours <br>Call was not picked by any agent <br>Call never rang any of the available agents",
                                                    "default": "Call arrived after your working hours"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "description": "Returns \u201cArchived\u201d for calls which have been archived in JustCall, and returns \u201cUnarchived\u201d otherwise.",
                                                    "default": "Unarchived/Archived"
                                                },
                                                "disposition": {
                                                    "type": "string",
                                                    "description": "Call outcome selected by agent at the end of a call in the JustCall dialer",
                                                    "default": "Sales: Lead"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "description": "Notes taken during the call or after the call from the Call Logs",
                                                    "default": "abc"
                                                },
                                                "rating": {
                                                    "type": "string",
                                                    "description": "Rating added by the agent at the end of a call in the JustCall Dialer",
                                                    "default": "5"
                                                },
                                                "recording": {
                                                    "type": "string",
                                                    "description": "Recording link of the call",
                                                    "default": "https://justcall.io/rec-redirect/CAf17efd60dxxxxxxxxxxxxxxxxx"
                                                },
                                                "recording_child": {
                                                    "type": "string",
                                                    "description": "Recording child link of the call",
                                                    "default": "https://justcall.io/rec-redirect/CAf17efd60dxxxxxxxxxxxxxxxxx"
                                                },
                                                "voicemail_transcription": {
                                                    "type": "string",
                                                    "description": "A translation of the voicemail recording into written text",
                                                    "default": "Transcription text"
                                                },
                                                "call_traits": {
                                                    "type": "array",
                                                    "description": "Comma separated list of traits associated with the call",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "default": [
                                                        "IVR",
                                                        "Merge"
                                                    ]
                                                }
                                            },
                                            "x-readme-ref-name": "CallInfoDTO"
                                        },
                                        "call_duration": {
                                            "type": "object",
                                            "properties": {
                                                "ring_time": {
                                                    "type": "number",
                                                    "description": "Time for which call rings before connecting with the system/agent",
                                                    "default": 5
                                                },
                                                "friendly_duration": {
                                                    "type": "string",
                                                    "description": "Duration of call in standard hh:mm:ss format",
                                                    "default": "00:00:05"
                                                },
                                                "total_duration": {
                                                    "type": "number",
                                                    "description": "Duration of call in seconds = conversation_time+ hold_time",
                                                    "default": 155
                                                },
                                                "queue_wait_time": {
                                                    "type": "number",
                                                    "description": "Time for which caller waited in the queue",
                                                    "default": 5
                                                },
                                                "hold_time": {
                                                    "type": "number",
                                                    "description": "Time for which caller was put on hold, if not put on hold should be 0",
                                                    "default": 5
                                                },
                                                "conversation_time": {
                                                    "type": "number",
                                                    "description": "Total duration without the Hold time",
                                                    "default": 5
                                                },
                                                "wrap_up_time": {
                                                    "type": "number",
                                                    "description": "Time set by agent from adding notes & disposition after a call",
                                                    "default": 5
                                                },
                                                "handle_time": {
                                                    "type": "number",
                                                    "description": "Total duration + Wrap up time",
                                                    "default": 5
                                                }
                                            },
                                            "x-readme-ref-name": "CallDurationDTO"
                                        },
                                        "ivr_info": {
                                            "type": "object",
                                            "properties": {
                                                "digit_pressed": {
                                                    "type": "string",
                                                    "description": "Digit of IVR pressed by user for the call",
                                                    "default": "0 (can be empty,0,1,2 etc)"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "description": "Content associated with the pressed IVR digit",
                                                    "default": "Forward call to Sales"
                                                }
                                            },
                                            "x-readme-ref-name": "IvrCallsDTO"
                                        },
                                        "queue": {
                                            "type": "object",
                                            "properties": {
                                                "entered_at_position": {
                                                    "type": "string",
                                                    "description": "The position assigned to the caller while entering the queue basis the number of callers already waiting in the queue.",
                                                    "default": "1"
                                                },
                                                "exit_reason": {
                                                    "type": "string",
                                                    "description": "Reason for the caller exiting from the queue. This can be out of: <br>- Caller got connected to a JustCall agent <br>- Caller exceeded maximum wait time for the JustCall number <br>- Caller hangup while waiting in queue <br>",
                                                    "default": ""
                                                }
                                            },
                                            "x-readme-ref-name": "QueueCallDTO"
                                        },
                                        "queue_callback": {
                                            "type": "object",
                                            "properties": {
                                                "callback_requested": {
                                                    "type": "string",
                                                    "description": "Whether or not the end customer requested a call back",
                                                    "default": "Yes/No"
                                                },
                                                "callback_requested_time": {
                                                    "type": "string",
                                                    "description": "Time when callback was requested",
                                                    "default": "2023-08-22 11:21:14"
                                                },
                                                "callback_attempted": {
                                                    "type": "string",
                                                    "description": "Whether or not our system attempted a call back",
                                                    "default": "Yes/No"
                                                },
                                                "callback_attempted_time": {
                                                    "type": "string",
                                                    "description": "Time when callback was attempted for the first time",
                                                    "default": "2023-08-22 11:22:16"
                                                },
                                                "callback_reached": {
                                                    "type": "string",
                                                    "description": "Whether or not the agent picks up successfully",
                                                    "default": "Yes/No"
                                                },
                                                "callback_status": {
                                                    "type": "string",
                                                    "description": "Whether or not the user picks up successfully",
                                                    "default": "Yes/No"
                                                },
                                                "callback_wait_duration": {
                                                    "type": "string",
                                                    "description": "Duration between customer requesting the callback and our service trying for the first time",
                                                    "default": "0:00:50"
                                                },
                                                "callback_reached_time": {
                                                    "type": "string",
                                                    "description": "Time when the agent picks up the call",
                                                    "default": "2023-08-22 11:22:21"
                                                },
                                                "callback_reached_duration": {
                                                    "type": "string",
                                                    "description": "Duration between request and when the call was picked up by the agent",
                                                    "default": "0:00:30"
                                                }
                                            },
                                            "x-readme-ref-name": "QueueCallbackDTO"
                                        },
                                        "justcall_ai": {
                                            "type": "object",
                                            "properties": {
                                                "call_moments": {
                                                    "type": "array",
                                                    "description": "List of most important keywords associated with a call",
                                                    "example": [
                                                        "exams",
                                                        "math",
                                                        "confidence"
                                                    ],
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "customer_sentiment": {
                                                    "type": "string",
                                                    "description": "Overall analysis of the sentiment of the customer based on words and tone",
                                                    "example": "Positive"
                                                },
                                                "call_score": {
                                                    "type": "number",
                                                    "description": "Overall score of the call out of 10",
                                                    "default": 0
                                                },
                                                "call_score_parameters": {
                                                    "type": "object",
                                                    "properties": {
                                                        "dead_air_time": {
                                                            "type": "number",
                                                            "description": "dead_air_time",
                                                            "default": 0
                                                        },
                                                        "filler_word": {
                                                            "type": "number",
                                                            "description": "filler_word",
                                                            "default": 0
                                                        },
                                                        "de_escalation": {
                                                            "type": "number",
                                                            "description": "de_escalation",
                                                            "default": 0
                                                        },
                                                        "empathy": {
                                                            "type": "number",
                                                            "description": "empathy",
                                                            "default": 0
                                                        },
                                                        "talk_listen_ratio": {
                                                            "type": "number",
                                                            "description": "talk_listen_ratio",
                                                            "default": 0
                                                        },
                                                        "greetings": {
                                                            "type": "number",
                                                            "description": "greetings",
                                                            "default": 0
                                                        },
                                                        "words_per_minute": {
                                                            "type": "number",
                                                            "description": "words_per_minute",
                                                            "default": 0
                                                        },
                                                        "monologue_duration": {
                                                            "type": "number",
                                                            "description": "monologue_duration",
                                                            "default": 0
                                                        },
                                                        "call_etiquette": {
                                                            "type": "number",
                                                            "description": "call_etiquette",
                                                            "default": 0
                                                        },
                                                        "customer_sentiment_score": {
                                                            "type": "number",
                                                            "description": "customer_sentiment_score",
                                                            "default": 0
                                                        }
                                                    },
                                                    "x-readme-ref-name": "CallScoreParameter"
                                                },
                                                "tags": {
                                                    "type": "array",
                                                    "description": "Tags added by the user(agent) for a call",
                                                    "example": [
                                                        "demo",
                                                        "follow-up"
                                                    ],
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "default": []
                                                },
                                                "manual_call_score": {
                                                    "type": "number",
                                                    "description": "Average of all manual scores added",
                                                    "example": 4,
                                                    "default": 0
                                                },
                                                "call_summary": {
                                                    "type": "string",
                                                    "description": "A summary of the key highlights and takeaways from a call",
                                                    "example": "Call summary"
                                                }
                                            },
                                            "x-readme-ref-name": "JustCallAIDTO"
                                        }
                                    },
                                    "x-readme-ref-name": "CallResponse21DTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Failed due to bad request params."
                    },
                    "401": {
                        "description": "Failed due to unauthorized access."
                    },
                    "403": {
                        "description": "This error occurred when there is some validation error or you don't have access to that resource."
                    },
                    "404": {
                        "description": "Requested resource may not exist."
                    },
                    "500": {
                        "description": "This is due to internal server error reason, in this case please contact our support team with attached uuid."
                    }
                },
                "security": [
                    {
                        "AccessToken": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Calls"
                ],
                "summary": "Update a call",
                "description": "Utilize this endpoint to modify the notes, disposition, or rating linked to a call.",
                "operationId": "call_update_v21",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unique id of the call generated by JustCall",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "notes": {
                                        "type": "string",
                                        "description": "Add a note or replace the existing note for a call here. If a note already exists for a call, it will be replaced with the new note. The previous content will be erased.",
                                        "default": ""
                                    },
                                    "disposition_code": {
                                        "type": "string",
                                        "description": "Add or update the disposition code for a call. The code must already be present in your JustCall account. Expected format example - if your list title is \u2018Sales\u2019 and your code is \u2018Follow Up\u2019 then your input in disposition field should be \u2018Sales: Follow Up\u2019.",
                                        "default": ""
                                    },
                                    "rating": {
                                        "type": "number",
                                        "description": "Update the rating for a call. Please note that ratings should be from 0 to 5 and can contain a 0.5 decimal. Ratings like 2.5, 4.5 are allowed, while ratings like 2.3, 4.6 are not allowed."
                                    }
                                },
                                "x-readme-ref-name": "UpdateCallDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "description": "Unique id of the call as generated by JustCall",
                                            "default": 123456
                                        },
                                        "call_sid": {
                                            "type": "string",
                                            "description": "Unique call sid of the call as generated by JustCall",
                                            "default": "CA0247d967e9bb3c284163a37a43XXXX"
                                        },
                                        "contact_number": {
                                            "type": "string",
                                            "description": "Phone number of the contact",
                                            "default": "13801136XXX"
                                        },
                                        "contact_name": {
                                            "type": "string",
                                            "description": "Name of the contact",
                                            "default": "Rachel G."
                                        },
                                        "contact_email": {
                                            "type": "string",
                                            "description": "Email id of the contact",
                                            "default": "john@suits.co"
                                        },
                                        "justcall_number": {
                                            "type": "string",
                                            "description": "JustCall number used by the agent to make or receive the call",
                                            "default": "12707705XXX"
                                        },
                                        "justcall_line_name": {
                                            "type": "string",
                                            "description": "If line name added, the name is sent otherwise blank",
                                            "default": "Sales Line"
                                        },
                                        "agent_id": {
                                            "type": "number",
                                            "description": "Id of the agent who made or received the call",
                                            "default": 1308
                                        },
                                        "agent_name": {
                                            "type": "string",
                                            "description": "Name of the agent who made or received the call",
                                            "default": "John Smith"
                                        },
                                        "agent_email": {
                                            "type": "string",
                                            "description": "Email id of the agent who made or received the call",
                                            "default": "john@abc.com"
                                        },
                                        "agent_active": {
                                            "type": "string",
                                            "description": "Whether the agent associated with the call is active or not",
                                            "default": "Active"
                                        },
                                        "call_date": {
                                            "type": "string",
                                            "description": "Date of call in UTC",
                                            "default": "2017-12-18"
                                        },
                                        "call_user_date": {
                                            "type": "string",
                                            "description": "Date of call in users timezone",
                                            "default": "2017-12-17"
                                        },
                                        "call_time": {
                                            "type": "string",
                                            "description": "Timestamp of call in UTC",
                                            "default": "13:55:43"
                                        },
                                        "call_user_time": {
                                            "type": "string",
                                            "description": "Timestamp of call in users timezone",
                                            "default": "8:25:43"
                                        },
                                        "cost_incurred": {
                                            "type": "number",
                                            "description": "Charge for the particular call",
                                            "default": 0.005
                                        },
                                        "call_info": {
                                            "type": "object",
                                            "properties": {
                                                "direction": {
                                                    "type": "string",
                                                    "description": "Whether the call was an Outgoing call or an Incoming Calls",
                                                    "default": "Outgoing/Incoming"
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "description": "A further breakdown of direction - <br><b>For Incoming direction</b> <br>Answered <br>Missed <br>Voicemail <br>Abandoned before ringing <br>Busy <br>Failed <br>Blocked <br>Unanswered <br>In Progress <br>Restricted <br><b>For Outgoing direction</b> <br>Answered <br>Unanswered <br>Abandoned before ringing <br>Busy <br>Failed <br>Blocked <br>Unanswered <br>In Progress <br>Restricted <br>",
                                                    "default": "Answered"
                                                },
                                                "missed_call_reason": {
                                                    "type": "string",
                                                    "description": "A reason for the call being missed. It can be out of - <br> Call arrived after your working hours <br>Call was not picked by any agent <br>Call never rang any of the available agents",
                                                    "default": "Call arrived after your working hours"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "description": "Returns \u201cArchived\u201d for calls which have been archived in JustCall, and returns \u201cUnarchived\u201d otherwise.",
                                                    "default": "Unarchived/Archived"
                                                },
                                                "disposition": {
                                                    "type": "string",
                                                    "description": "Call outcome selected by agent at the end of a call in the JustCall dialer",
                                                    "default": "Sales: Lead"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "description": "Notes taken during the call or after the call from the Call Logs",
                                                    "default": "abc"
                                                },
                                                "rating": {
                                                    "type": "string",
                                                    "description": "Rating added by the agent at the end of a call in the JustCall Dialer",
                                                    "default": "5"
                                                },
                                                "recording": {
                                                    "type": "string",
                                                    "description": "Recording link of the call",
                                                    "default": "https://justcall.io/rec-redirect/CAf17efd60dxxxxxxxxxxxxxxxxx"
                                                },
                                                "recording_child": {
                                                    "type": "string",
                                                    "description": "Recording child link of the call",
                                                    "default": "https://justcall.io/rec-redirect/CAf17efd60dxxxxxxxxxxxxxxxxx"
                                                },
                                                "voicemail_transcription": {
                                                    "type": "string",
                                                    "description": "A translation of the voicemail recording into written text",
                                                    "default": "Transcription text"
                                                },
                                                "call_traits": {
                                                    "type": "array",
                                                    "description": "Comma separated list of traits associated with the call",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "default": [
                                                        "IVR",
                                                        "Merge"
                                                    ]
                                                }
                                            },
                                            "x-readme-ref-name": "CallInfoDTO"
                                        },
                                        "call_duration": {
                                            "type": "object",
                                            "properties": {
                                                "ring_time": {
                                                    "type": "number",
                                                    "description": "Time for which call rings before connecting with the system/agent",
                                                    "default": 5
                                                },
                                                "friendly_duration": {
                                                    "type": "string",
                                                    "description": "Duration of call in standard hh:mm:ss format",
                                                    "default": "00:00:05"
                                                },
                                                "total_duration": {
                                                    "type": "number",
                                                    "description": "Duration of call in seconds = conversation_time+ hold_time",
                                                    "default": 155
                                                },
                                                "queue_wait_time": {
                                                    "type": "number",
                                                    "description": "Time for which caller waited in the queue",
                                                    "default": 5
                                                },
                                                "hold_time": {
                                                    "type": "number",
                                                    "description": "Time for which caller was put on hold, if not put on hold should be 0",
                                                    "default": 5
                                                },
                                                "conversation_time": {
                                                    "type": "number",
                                                    "description": "Total duration without the Hold time",
                                                    "default": 5
                                                },
                                                "wrap_up_time": {
                                                    "type": "number",
                                                    "description": "Time set by agent from adding notes & disposition after a call",
                                                    "default": 5
                                                },
                                                "handle_time": {
                                                    "type": "number",
                                                    "description": "Total duration + Wrap up time",
                                                    "default": 5
                                                }
                                            },
                                            "x-readme-ref-name": "CallDurationDTO"
                                        },
                                        "ivr_info": {
                                            "type": "object",
                                            "properties": {
                                                "digit_pressed": {
                                                    "type": "string",
                                                    "description": "Digit of IVR pressed by user for the call",
                                                    "default": "0 (can be empty,0,1,2 etc)"
                                                },
                                                "content": {
                                                    "type": "string",
                                                    "description": "Content associated with the pressed IVR digit",
                                                    "default": "Forward call to Sales"
                                                }
                                            },
                                            "x-readme-ref-name": "IvrCallsDTO"
                                        },
                                        "queue": {
                                            "type": "object",
[...]
