name: Publish JSON catalog

on:
  pull_request:
    types: [closed]
    branches:
      - 'main'

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v4

      - name: Check for changes in providers/catalog.go
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            catalog:
              - 'providers/*.go'

      - name: Run script if catalog has changed
        if: steps.filter.outputs.catalog == 'true'
        run: go run scripts/catalog/json.go
        shell: bash

      - name: Push changes
        if: steps.filter.outputs.catalog == 'true'
        run: |
          git config --global user.email "devops@withampersand.com"
          git config --global user.name "Ampersand Ops"
          git add providers/catalog.json
          git commit -m "Update catalog.json"
          git remote set-url origin https://x-access-token:${{ secrets.AMPERSAND_OPS_PAT }}@github.com/${{ github.repository }}
          git push origin HEAD:main
        env:
          GITHUB_TOKEN: ${{ secrets.AMPERSAND_OPS_PAT }}
