name: Linter
run-name: ${{ github.actor }} is running the linter
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read   # allows cloning, required for git operations
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.23.3"
          cache: false
          
      - name: Generate go code
        run: go generate ./...

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.7.1
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Build custom golangci-lint
        run: |
          git clone --branch v2.7.1 --single-branch --depth 1 -c advice.detachedHead=false -q https://github.com/golangci/golangci-lint.git
          echo OK_1
          rm -rf ./golangci-lint
          echo OK_2
          make custom-gcl

      - name: Lint Go code
        run: make lint
