name: Linter
run-name: ${{ github.actor }} is running the linter
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read   # allows cloning, required for git operations
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: "1.23.3"
          cache: false
          
      - name: Generate go code
        run: go generate ./...

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.64.3
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

      - name: Clone
        run: |
          git clone --branch v1.64.3 --single-branch --depth 1 -c advice.detachedHead=false -q https://github.com/golangci/golangci-lint.git
          ls golangci-lint

      - name: Run make with tracing
        run: git --version

      - name: Build custom golangci-lint with custom linters
        run: make custom-gcl

      - name: Lint Go code
        run: make lint
