{
  "openapi": "3.0.1",
  "info": {
    "title": "Reporting (v2)",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.seismic.com/reporting/v2"
    }
  ],
  "paths": {
    "/adminImpersonationSessions": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Admin Impersonation Sessions",
        "description": "This model holds every admin impersonation session including details on the admin impersonated, the user doing the impersonation, and time of the impersonation.",
        "operationId": "Reporting-AdminImpersonationSessionsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "sessionStartedAtTime",
            "in": "query",
            "description": "Only include records that have sessionStartedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "sessionEndedAtTime",
            "in": "query",
            "description": "Only include records that have sessionEndedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdminImpersonationSessions"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "adminImpersonationUserId": "752980e3-84d1-1d7e-71f3-af177723c4dd",
                    "impersonateeUserId": "e964c69f-3800-45d2-c49c-4fa570ef9b4f",
                    "sessionStartedAt": "2025-01-01T00:00:00.000Z",
                    "sessionEndedAt": "2025-01-01T00:00:00.000Z",
                    "durationSeconds": 1,
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "adminImpersonationUserName": "test adminImpersonationUserName",
                    "impersonateeUserName": "test impersonateeUserName"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "adminImpersonationUserId": "752980e3-84d1-1d7e-71f3-af177723c4dd",
                    "impersonateeUserId": "e964c69f-3800-45d2-c49c-4fa570ef9b4f",
                    "sessionStartedAt": "2025-01-01T00:00:00.000Z",
                    "sessionEndedAt": "2025-01-01T00:00:00.000Z",
                    "durationSeconds": 1,
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "adminImpersonationUserName": "test adminImpersonationUserName",
                    "impersonateeUserName": "test impersonateeUserName"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/contentUsageHistory": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Content Usage History",
        "description": "Provides data on users usage/deliveries of content in all areas of the product except Content Manager. The goal of this data is to gain an understanding of what content is being used, where it is being used, and how it is being taken out of the system.",
        "operationId": "Reporting-ContentUsageHistoryGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentUsageHistory"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "action": "Livesend",
                    "actionType": "Built-in",
                    "application": "test application",
                    "contentId": "7052bb92-43e5-79bb-3c6c-ea86f42a2efa",
                    "contentVersionId": "679461df-a4b0-0e69-3d47-a7e93c662268",
                    "contentProfileId": "40dee8dc-fa54-8b04-e45d-eabea250480e",
                    "contentProfileName": "test contentProfileName",
                    "contextId": "0066A000002701IQAQ",
                    "contextName": "Callahan Workforce Mobility",
                    "contextType": "Opportunity",
                    "contextSystemType": "Salesforce",
                    "instanceName": "Extended Efficiency for CPG",
                    "isBoundDelivery": true,
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "libraryContentVersionId": "aa798baf-091e-c484-e244-1eeac447d3a7",
                    "livesendLinkContentId": "9543f5aa-7ec9-97ca-b769-748e23722880",
                    "livesendLinkId": "1d42f6ca-ed7d-a5ea-52cf-cdb76329c8f7",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "NewsCenter",
                    "totalPages": 2,
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userUsername": "jmktg@silvertower.com",
                    "workspaceContentId": "c1148391-355f-aa7d-fa20-1d6b273181cd",
                    "workspaceContentVersionId": "4b887fdf-e2aa-3e83-b9e5-c8b5fef334d9",
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "action": "Livesend",
                    "actionType": "Built-in",
                    "application": "test application",
                    "contentId": "7052bb92-43e5-79bb-3c6c-ea86f42a2efa",
                    "contentVersionId": "679461df-a4b0-0e69-3d47-a7e93c662268",
                    "contentProfileId": "40dee8dc-fa54-8b04-e45d-eabea250480e",
                    "contentProfileName": "test contentProfileName",
                    "contextId": "0066A000002701IQAQ",
                    "contextName": "Callahan Workforce Mobility",
                    "contextType": "Opportunity",
                    "contextSystemType": "Salesforce",
                    "instanceName": "Extended Efficiency for CPG",
                    "isBoundDelivery": true,
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "libraryContentVersionId": "aa798baf-091e-c484-e244-1eeac447d3a7",
                    "livesendLinkContentId": "9543f5aa-7ec9-97ca-b769-748e23722880",
                    "livesendLinkId": "1d42f6ca-ed7d-a5ea-52cf-cdb76329c8f7",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "NewsCenter",
                    "totalPages": 2,
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userUsername": "jmktg@silvertower.com",
                    "workspaceContentId": "c1148391-355f-aa7d-fa20-1d6b273181cd",
                    "workspaceContentVersionId": "4b887fdf-e2aa-3e83-b9e5-c8b5fef334d9",
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/contentViewHistory": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Content View History",
        "description": "Provides data on users views of content in all areas of the product except Content Manager. The goal of this data is to gain an understanding of what content is being viewed, where it is being viewed.",
        "operationId": "Reporting-ContentViewHistoryGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContentViewHistory"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "action": "View",
                    "application": "test application",
                    "contentId": "7052bb92-43e5-79bb-3c6c-ea86f42a2efa",
                    "contentVersionId": "679461df-a4b0-0e69-3d47-a7e93c662268",
                    "contentProfileId": "40dee8dc-fa54-8b04-e45d-eabea250480e",
                    "contentProfileName": "test contentProfileName",
                    "contextId": "0066A000002701IQAQ",
                    "contextName": "Callahan Workforce Mobility",
                    "contextType": "Opportunity",
                    "contextSystemType": "Salesforce",
                    "instanceName": "CP150 Product Overview",
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "libraryContentVersionId": "aa798baf-091e-c484-e244-1eeac447d3a7",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "NewsCenter",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userUsername": "jmktg@silvertower.com",
                    "workspaceContentId": "c1148391-355f-aa7d-fa20-1d6b273181cd",
                    "workspaceContentVersionId": "4b887fdf-e2aa-3e83-b9e5-c8b5fef334d9",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "action": "View",
                    "application": "test application",
                    "contentId": "7052bb92-43e5-79bb-3c6c-ea86f42a2efa",
                    "contentVersionId": "679461df-a4b0-0e69-3d47-a7e93c662268",
                    "contentProfileId": "40dee8dc-fa54-8b04-e45d-eabea250480e",
                    "contentProfileName": "test contentProfileName",
                    "contextId": "0066A000002701IQAQ",
                    "contextName": "Callahan Workforce Mobility",
                    "contextType": "Opportunity",
                    "contextSystemType": "Salesforce",
                    "instanceName": "CP150 Product Overview",
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "libraryContentVersionId": "aa798baf-091e-c484-e244-1eeac447d3a7",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "NewsCenter",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userUsername": "jmktg@silvertower.com",
                    "workspaceContentId": "c1148391-355f-aa7d-fa20-1d6b273181cd",
                    "workspaceContentVersionId": "4b887fdf-e2aa-3e83-b9e5-c8b5fef334d9",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/dailyActiveUsers": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Daily Active Users",
        "description": "Any user who hits an authenticated page, any time in the day or uses any authenticated services (an API call or integrated services that leverages Seismic, would also count) or has any Seismic interaction in a day, but does not include Engagement that can occur outside Seismic platform. Each row represents each day where a user was active in the system.",
        "operationId": "Reporting-DailyActiveUsersGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "description": "Only include records that have date values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "dateEnd",
            "in": "query",
            "description": "Only include records that have date values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyActiveUsers"
                  }
                },
                "example": [
                  {
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "username": "jmktg@silvertower.com",
                    "date": "2025-01-01T00:00:00.000Z",
                    "includesLessonlyActivity": true
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "username": "jmktg@silvertower.com",
                    "date": "2025-01-01T00:00:00.000Z",
                    "includesLessonlyActivity": true
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/distributionApprovalWorkflows": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Distribution Approval Workflows",
        "description": "This model holds all distribution approval workflow and the current step status.",
        "operationId": "Reporting-DistributionApprovalWorkflowsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "systemModifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have systemModifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "systemModifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have systemModifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "startedAtStartTime",
            "in": "query",
            "description": "Only include records that have startedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "startedAtEndTime",
            "in": "query",
            "description": "Only include records that have startedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistributionApprovalWorkflows"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "interactionGroupId": "c481f1af-6dcc-6016-1cd8-ec21ba60d217",
                    "engagementUrl": "test engagementUrl",
                    "startedAt": "2025-01-01T00:00:00.000Z",
                    "endedAt": "2025-01-01T00:00:00.000Z",
                    "name": "test name",
                    "totalSteps": 2,
                    "activeStepOrder": 2,
                    "durationSeconds": 2,
                    "status": "Approved",
                    "isDistributionApproved": true,
                    "systemModifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "interactionGroupId": "c481f1af-6dcc-6016-1cd8-ec21ba60d217",
                    "engagementUrl": "test engagementUrl",
                    "startedAt": "2025-01-01T00:00:00.000Z",
                    "endedAt": "2025-01-01T00:00:00.000Z",
                    "name": "test name",
                    "totalSteps": 2,
                    "activeStepOrder": 2,
                    "durationSeconds": 2,
                    "status": "Approved",
                    "isDistributionApproved": true,
                    "systemModifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/distributionApprovalWorkflowStepsHistory": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Distribution Approval Workflow Steps History",
        "description": "This model is a history of distribution approval workflow step statuses.",
        "operationId": "Reporting-DistributionApprovalWorkflowStepsHistoryGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "systemModifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have systemModifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "systemModifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have systemModifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "startedAtStartTime",
            "in": "query",
            "description": "Only include records that have startedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "startedAtEndTime",
            "in": "query",
            "description": "Only include records that have startedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistributionApprovalWorkflowStepsHistory"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "stepId": "74193da2-4950-790a-1a7d-dc3c21cf5a26",
                    "name": "test name",
                    "workflowid": "9e1d05bb-1285-0095-a259-91bef50e6973",
                    "workflowName": "test workflowName",
                    "status": "Approved",
                    "isRevoked": true,
                    "startedAt": "2025-01-01T00:00:00.000Z",
                    "endedAt": "2025-01-01T00:00:00.000Z",
                    "durationSeconds": 2,
                    "stepOrder": 2,
                    "isLatest": true,
                    "comment": "test comment",
                    "reviewerUserId": "f34a9a83-973e-1dbd-f26b-3eee725b42bb",
                    "reviewerUsername": "test reviewerUsername",
                    "interactionGroupId": "c481f1af-6dcc-6016-1cd8-ec21ba60d217",
                    "systemModifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "stepId": "74193da2-4950-790a-1a7d-dc3c21cf5a26",
                    "name": "test name",
                    "workflowid": "9e1d05bb-1285-0095-a259-91bef50e6973",
                    "workflowName": "test workflowName",
                    "status": "Approved",
                    "isRevoked": true,
                    "startedAt": "2025-01-01T00:00:00.000Z",
                    "endedAt": "2025-01-01T00:00:00.000Z",
                    "durationSeconds": 2,
                    "stepOrder": 2,
                    "isLatest": true,
                    "comment": "test comment",
                    "reviewerUserId": "f34a9a83-973e-1dbd-f26b-3eee725b42bb",
                    "reviewerUsername": "test reviewerUsername",
                    "interactionGroupId": "c481f1af-6dcc-6016-1cd8-ec21ba60d217",
                    "systemModifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/interactionContexts": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Interaction Contexts",
        "description": "This model holds details of the interaction context including the name and the system associated with the interaction.",
        "operationId": "Reporting-InteractionContextsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InteractionContexts"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "systemType": "Salesforce",
                    "systemId": "271a9d08-8184-6eb8-8212-37f8e98e6de7",
                    "contextType": "Opportunity",
                    "contextId": "0066A000002701IQAQ",
                    "contextSourceType": "ambient",
                    "contextSource": "seismic-attribution",
                    "udmContextId": "bb4cd575-7e75-cfc2-586e-c05ac14cfa3f",
                    "udmContextHistoryId": "1dbd2170-ad02-f9e7-5636-eb3e07d6cf9b",
                    "isDeleted": true,
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "interactionRecipientId": "c55c2aef-f31c-d7c3-a3bb-8e4cf87c45ea",
                    "contextName": "Callahan Workforce Mobility",
                    "contextEmail": "callahan.tommyboy@gmail.com",
                    "systemName": "Brainshark, Lessonly, seismic-1b-dev-ed, 00Db0000000dYJNEA2"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "systemType": "Salesforce",
                    "systemId": "271a9d08-8184-6eb8-8212-37f8e98e6de7",
                    "contextType": "Opportunity",
                    "contextId": "0066A000002701IQAQ",
                    "contextSourceType": "ambient",
                    "contextSource": "seismic-attribution",
                    "udmContextId": "bb4cd575-7e75-cfc2-586e-c05ac14cfa3f",
                    "udmContextHistoryId": "1dbd2170-ad02-f9e7-5636-eb3e07d6cf9b",
                    "isDeleted": true,
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "interactionRecipientId": "c55c2aef-f31c-d7c3-a3bb-8e4cf87c45ea",
                    "contextName": "Callahan Workforce Mobility",
                    "contextEmail": "callahan.tommyboy@gmail.com",
                    "systemName": "Brainshark, Lessonly, seismic-1b-dev-ed, 00Db0000000dYJNEA2"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/interactionRecipients": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Interaction Recipients",
        "description": "This model holds recipient details to an interaction and the associated delivery of a LiveSend Link or Print Order.",
        "operationId": "Reporting-InteractionRecipientsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InteractionRecipients"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "internalUserId": "3dbff8bd-b9cd-b9d3-6ef7-da3907aa96d4",
                    "isInternalUser": true,
                    "email": "jmktg@silvertower.com",
                    "emailDomain": "silvertower.com",
                    "phoneNumber": "123-456-7890",
                    "recipientType": "bcc",
                    "firstName": "Joe",
                    "lastName": "Marketing",
                    "fullName": "Joe Marketing",
                    "country": "USA",
                    "state": "CA",
                    "city": "San Diego",
                    "postalCode": 92130,
                    "street": "El Camino Real",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "internalUserId": "3dbff8bd-b9cd-b9d3-6ef7-da3907aa96d4",
                    "isInternalUser": true,
                    "email": "jmktg@silvertower.com",
                    "emailDomain": "silvertower.com",
                    "phoneNumber": "123-456-7890",
                    "recipientType": "bcc",
                    "firstName": "Joe",
                    "lastName": "Marketing",
                    "fullName": "Joe Marketing",
                    "country": "USA",
                    "state": "CA",
                    "city": "San Diego",
                    "postalCode": 92130,
                    "street": "El Camino Real",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/notificationFrequencySettings": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Notification Frequency Settings",
        "description": "This model identifies the default tenant notification settings and the users which have a different setting for a notification type.",
        "operationId": "Reporting-NotificationFrequencySettingsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationFrequencySettings"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userFullName": "test userFullName",
                    "type": "user-frequency",
                    "productArea": "test productArea",
                    "activityTrigger": "test activityTrigger",
                    "channel": "test channel",
                    "frequency": "daily",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userFullName": "test userFullName",
                    "type": "user-frequency",
                    "productArea": "test productArea",
                    "activityTrigger": "test activityTrigger",
                    "channel": "test channel",
                    "frequency": "daily",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/notificationStatus": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Notification Status",
        "description": "This model holds details on each notification sent to a user and whether the notification was read.",
        "operationId": "Reporting-NotificationStatusGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationStatus"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userFullName": "test userFullName",
                    "productArea": "test productArea",
                    "activityTrigger": "test activityTrigger",
                    "channel": "test channel",
                    "digestId": "e6d2e68e-7ea6-3709-6623-1a511d48acab",
                    "sentTime": "2025-01-01T00:00:00.000Z",
                    "isRead": true,
                    "firstReadTime": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userFullName": "test userFullName",
                    "productArea": "test productArea",
                    "activityTrigger": "test activityTrigger",
                    "channel": "test channel",
                    "digestId": "e6d2e68e-7ea6-3709-6623-1a511d48acab",
                    "sentTime": "2025-01-01T00:00:00.000Z",
                    "isRead": true,
                    "firstReadTime": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/userActivity": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "User Activity",
        "description": "User Activity is the center of the Seismic Reporting Model and therefore associates a variety of product activity to specific content, LiveSend Links, Generated LiveDocs, and other types of products. User Activity rows are defined by the action with each action capable of being aggregated to the actionCategory bucket they belong to. These action and actionCategory definitions are documented here - https://docs.seismic.com/bundle/product_areas_and_features/page/user_activity_action_definitions.html",
        "operationId": "Reporting-UserActivityGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserActivity"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "action": "View",
                    "actionCategory": "Content Discussion",
                    "actionType": "Built-in",
                    "application": "test application",
                    "contentId": "7052bb92-43e5-79bb-3c6c-ea86f42a2efa",
                    "contentVersionId": "679461df-a4b0-0e69-3d47-a7e93c662268",
                    "contentProfileId": "40dee8dc-fa54-8b04-e45d-eabea250480e",
                    "contentProfileName": "test contentProfileName",
                    "contextId": "0066A000002701IQAQ",
                    "contextName": "Callahan Workforce Mobility",
                    "contextType": "Opportunity",
                    "contextSystemType": "Salesforce",
                    "instanceName": "CP150 Product Overview",
                    "isBoundDelivery": true,
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "libraryContentVersionId": "aa798baf-091e-c484-e244-1eeac447d3a7",
                    "livesendLinkContentId": "9543f5aa-7ec9-97ca-b769-748e23722880",
                    "livesendLinkId": "1d42f6ca-ed7d-a5ea-52cf-cdb76329c8f7",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "Admin",
                    "totalPages": 1,
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userUsername": "jmktg@silvertower.com",
                    "workspaceContentId": "c1148391-355f-aa7d-fa20-1d6b273181cd",
                    "workspaceContentVersionId": "4b887fdf-e2aa-3e83-b9e5-c8b5fef334d9",
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "interactionGroupId": "c481f1af-6dcc-6016-1cd8-ec21ba60d217",
                    "isBlastInteractionGroup": true,
                    "searchClickId": "b3da0d55-e69e-3047-f7b6-dc474bd787a8",
                    "searchCycleId": "f5c88b66-843b-6c91-8ef8-77d0a8fa3580",
                    "searchHistoryId": "047bd307-c73a-1aeb-e77d-699b76f5c72e",
                    "generatedLivedocId": "57064c26-54cb-61a9-69f6-b95577684da1",
                    "contentAskExpertsId": "94c90695-eade-c20c-3363-d814ede82c6b",
                    "contentReviewId": "47ecab7a-af41-6e45-e01d-4ca0c80b8b92",
                    "isEngagementUserInternal": true,
                    "engagementUserEmail": "callahan.tommyboy@gmail.com",
                    "livesendCommentId": "6c348b47-0ab0-4888-f52d-4b8b894aba34",
                    "livesendViewingSessionId": "9e263052-d599-f265-5587-3ab3c4bae1f6",
                    "livesendContentViewingSessionId": "f9573d29-ce13-d601-8031-9739191d5887",
                    "livesendReactionId": "5a950246-5601-0301-7c78-5f1d32f76be1",
                    "learningProgressId": "7607357e-f651-5b84-6c78-8af14e4c464c",
                    "socialShareId": "0357f83e-3dfe-a0b4-81cb-3b8efe595a4f",
                    "textMessageId": "5a318a1b-e122-5587-e34e-bafc3b1a485b",
                    "skillAssessmentId": "d030b052-9194-21de-9756-25ef0d44c2f1",
                    "contentInsertInstanceId": "2993365b-f77e-2929-924d-3daf96b14299",
                    "meetingId": "d19fab44-f794-7357-f991-941da06dd9d3",
                    "digitalSalesRoomId": "771cc52a-7510-5b00-fd57-5ea91ab59f0d",
                    "digitalSalesRoomViewingSessionsId": "1002d1e0-0a8a-2bab-485e-9cb2fec5705f",
                    "learningStatusId": "7892b73a-34f5-1616-b3ca-221a37b7c324",
                    "channelId": "a4e0df33-2e2d-6d75-645d-6779e9f952ba",
                    "postId": "f50df173-89e2-affa-f503-45b514062c0e",
                    "postContentId": "327a1375-1da3-0713-72e8-2cdf4b433a3b",
                    "announcementId": "322f8f33-de53-93b6-3d0a-e02718a6f14e",
                    "pageClickId": "4df7b7c9-a446-74a7-6af6-8a810cdd2a56"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "action": "View",
                    "actionCategory": "Content Discussion",
                    "actionType": "Built-in",
                    "application": "test application",
                    "contentId": "7052bb92-43e5-79bb-3c6c-ea86f42a2efa",
                    "contentVersionId": "679461df-a4b0-0e69-3d47-a7e93c662268",
                    "contentProfileId": "40dee8dc-fa54-8b04-e45d-eabea250480e",
                    "contentProfileName": "test contentProfileName",
                    "contextId": "0066A000002701IQAQ",
                    "contextName": "Callahan Workforce Mobility",
                    "contextType": "Opportunity",
                    "contextSystemType": "Salesforce",
                    "instanceName": "CP150 Product Overview",
                    "isBoundDelivery": true,
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "libraryContentVersionId": "aa798baf-091e-c484-e244-1eeac447d3a7",
                    "livesendLinkContentId": "9543f5aa-7ec9-97ca-b769-748e23722880",
                    "livesendLinkId": "1d42f6ca-ed7d-a5ea-52cf-cdb76329c8f7",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "Admin",
                    "totalPages": 1,
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userUsername": "jmktg@silvertower.com",
                    "workspaceContentId": "c1148391-355f-aa7d-fa20-1d6b273181cd",
                    "workspaceContentVersionId": "4b887fdf-e2aa-3e83-b9e5-c8b5fef334d9",
                    "modifiedAt": "2025-01-01T00:00:00.000Z",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "interactionGroupId": "c481f1af-6dcc-6016-1cd8-ec21ba60d217",
                    "isBlastInteractionGroup": true,
                    "searchClickId": "b3da0d55-e69e-3047-f7b6-dc474bd787a8",
                    "searchCycleId": "f5c88b66-843b-6c91-8ef8-77d0a8fa3580",
                    "searchHistoryId": "047bd307-c73a-1aeb-e77d-699b76f5c72e",
                    "generatedLivedocId": "57064c26-54cb-61a9-69f6-b95577684da1",
                    "contentAskExpertsId": "94c90695-eade-c20c-3363-d814ede82c6b",
                    "contentReviewId": "47ecab7a-af41-6e45-e01d-4ca0c80b8b92",
                    "isEngagementUserInternal": true,
                    "engagementUserEmail": "callahan.tommyboy@gmail.com",
                    "livesendCommentId": "6c348b47-0ab0-4888-f52d-4b8b894aba34",
                    "livesendViewingSessionId": "9e263052-d599-f265-5587-3ab3c4bae1f6",
                    "livesendContentViewingSessionId": "f9573d29-ce13-d601-8031-9739191d5887",
                    "livesendReactionId": "5a950246-5601-0301-7c78-5f1d32f76be1",
                    "learningProgressId": "7607357e-f651-5b84-6c78-8af14e4c464c",
                    "socialShareId": "0357f83e-3dfe-a0b4-81cb-3b8efe595a4f",
                    "textMessageId": "5a318a1b-e122-5587-e34e-bafc3b1a485b",
                    "skillAssessmentId": "d030b052-9194-21de-9756-25ef0d44c2f1",
                    "contentInsertInstanceId": "2993365b-f77e-2929-924d-3daf96b14299",
                    "meetingId": "d19fab44-f794-7357-f991-941da06dd9d3",
                    "digitalSalesRoomId": "771cc52a-7510-5b00-fd57-5ea91ab59f0d",
                    "digitalSalesRoomViewingSessionsId": "1002d1e0-0a8a-2bab-485e-9cb2fec5705f",
                    "learningStatusId": "7892b73a-34f5-1616-b3ca-221a37b7c324",
                    "channelId": "a4e0df33-2e2d-6d75-645d-6779e9f952ba",
                    "postId": "f50df173-89e2-affa-f503-45b514062c0e",
                    "postContentId": "327a1375-1da3-0713-72e8-2cdf4b433a3b",
                    "announcementId": "322f8f33-de53-93b6-3d0a-e02718a6f14e",
                    "pageClickId": "4df7b7c9-a446-74a7-6af6-8a810cdd2a56"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/virusScanAuditLog": {
      "get": {
        "tags": [
          "Activity History"
        ],
        "summary": "Virus Scan Audit Log",
        "description": "Log that shows history of all uploaded contents within Content Manager, WorkSpace etc. that has detected a virus or were not scanned.",
        "operationId": "Reporting-VirusScanAuditLogGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VirusScanAuditLog"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "fileExtension": "test fileExtension",
                    "fileName": "test fileName",
                    "hasVirus": true,
                    "wasNotScanned": true,
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "ContentManager",
                    "email": "test email",
                    "userName": "test userName"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "fileExtension": "test fileExtension",
                    "fileName": "test fileName",
                    "hasVirus": true,
                    "wasNotScanned": true,
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "productArea": "ContentManager",
                    "email": "test email",
                    "userName": "test userName"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/aiActivity": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Ai Activity",
        "description": "This model utlines a record of user activity on Aura features.",
        "operationId": "Reporting-AiActivityGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiActivity"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userName": "test userName",
                    "aiGeneratedTextId": "4f34dfa4-0f9e-4470-a06e-607e2a336f1f",
                    "useCase": "test useCase",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "creditType": "test creditType",
                    "creditsUsed": 3
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userName": "test userName",
                    "aiGeneratedTextId": "4f34dfa4-0f9e-4470-a06e-607e2a336f1f",
                    "useCase": "test useCase",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "creditType": "test creditType",
                    "creditsUsed": 3
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/aiGeneratedText": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Ai Generated Text",
        "description": "This model holds records of generated content in response to a given request when a user chooses to interact with any of the AI features in Seismic. A request may generate more than one call and response per user workflow.",
        "operationId": "Reporting-AiGeneratedTextGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiGeneratedText"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userName": "test userName",
                    "email": "test email",
                    "useCase": "test useCase",
                    "flowRequestId": "test flowRequestId",
                    "aiModel": "test aiModel",
                    "aiModelProvider": "test aiModelProvider",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "isAuraCopilotFeature": true
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userName": "test userName",
                    "email": "test email",
                    "useCase": "test useCase",
                    "flowRequestId": "test flowRequestId",
                    "aiModel": "test aiModel",
                    "aiModelProvider": "test aiModelProvider",
                    "occurredAt": "2025-01-01T00:00:00.000Z",
                    "isAuraCopilotFeature": true
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/aiGeneratedTextUserFeedback": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Ai Generated Text User Feedback",
        "description": "This model holds a feedback response connected with some generated content fragment",
        "operationId": "Reporting-AiGeneratedTextUserFeedbackGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "submittedAtStartTime",
            "in": "query",
            "description": "Only include records that have submittedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "submittedAtEndTime",
            "in": "query",
            "description": "Only include records that have submittedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiGeneratedTextUserFeedback"
                  }
                },
                "example": [
                  {
                    "feedbackId": "cbd4daaf-d1d2-73b6-20d2-af35e4d84629",
                    "aiGeneratedTextId": "4f34dfa4-0f9e-4470-a06e-607e2a336f1f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userName": "test userName",
                    "email": "test email",
                    "submittedAt": "2025-01-01T00:00:00.000Z",
                    "score": 4,
                    "scoreType": "test scoreType",
                    "feedback": "test feedback"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "feedbackId": "cbd4daaf-d1d2-73b6-20d2-af35e4d84629",
                    "aiGeneratedTextId": "4f34dfa4-0f9e-4470-a06e-607e2a336f1f",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "userName": "test userName",
                    "email": "test email",
                    "submittedAt": "2025-01-01T00:00:00.000Z",
                    "score": 4,
                    "scoreType": "test scoreType",
                    "feedback": "test feedback"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/aiSuggestedContentProperties": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Ai Suggested Content Properties",
        "description": "This model holds suggested content properties from AIML.",
        "operationId": "Reporting-AiSuggestedContentPropertiesGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "createdAtStartTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtEndTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AiSuggestedContentProperties"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "suggestedContentPropertyId": "fd63a1e3-4c77-2408-5e4d-4313f09be574",
                    "suggestedContentPropertyValueId": "8e3385f2-9900-135c-d965-242533e55ba6",
                    "suggestedContentPropertyValue": "test suggestedContentPropertyValue",
                    "score": 4,
                    "isDeclined": true,
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "suggestedContentPropertyId": "fd63a1e3-4c77-2408-5e4d-4313f09be574",
                    "suggestedContentPropertyValueId": "8e3385f2-9900-135c-d965-242533e55ba6",
                    "suggestedContentPropertyValue": "test suggestedContentPropertyValue",
                    "score": 4,
                    "isDeclined": true,
                    "libraryContentId": "1c42a4b7-8190-0b48-dee0-5a480028a386",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/copilotForSalesDsrRecommendations": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Copilot For Sales Dsr Recommendations",
        "description": "This model represents any queried or created DSR using the sales copilot integrations.",
        "operationId": "Reporting-CopilotForSalesDsrRecommendationsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CopilotForSalesDsrRecommendations"
                  }
                },
                "example": [
                  {
                    "Id": "e8a60a49-cc56-08f2-a054-389e47ce0d06",
                    "operationType": "Create",
                    "totalDsrCount": 1,
                    "digitalSalesRoomId": "771cc52a-7510-5b00-fd57-5ea91ab59f0d",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "crmEngagementStatus": "test crmEngagementStatus",
                    "contextId": "79dd338b-414a-22f2-3131-2d5b8393fb2e",
                    "contextType": "test contextType",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "username": "test username",
                    "occurredAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "Id": "e8a60a49-cc56-08f2-a054-389e47ce0d06",
                    "operationType": "Create",
                    "totalDsrCount": 1,
                    "digitalSalesRoomId": "771cc52a-7510-5b00-fd57-5ea91ab59f0d",
                    "interactionId": "9984bbdd-4648-cef2-7d7f-036b8fb88e1e",
                    "crmEngagementStatus": "test crmEngagementStatus",
                    "contextId": "79dd338b-414a-22f2-3131-2d5b8393fb2e",
                    "contextType": "test contextType",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "username": "test username",
                    "occurredAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/copilotForSalesRecommendations": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Copilot For Sales Recommendations",
        "description": "This model contains a record of all recommendations for meetings or emails that Seismic has provided to your instance of Copilot for Sales.",
        "operationId": "Reporting-CopilotForSalesRecommendationsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "occurredAtStartTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "occurredAtEndTime",
            "in": "query",
            "description": "Only include records that have occurredAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CopilotForSalesRecommendations"
                  }
                },
                "example": [
                  {
                    "Id": "e8a60a49-cc56-08f2-a054-389e47ce0d06",
                    "msftUserId": "test msftUserId",
                    "totalRecommendationsCount": 1,
                    "externalRecommendationCount": 1,
                    "internalRecommendationCount": 1,
                    "operationType": "Meeting",
                    "recommendationContext": "ReplyToInquiry",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "username": "test username",
                    "occurredAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "Id": "e8a60a49-cc56-08f2-a054-389e47ce0d06",
                    "msftUserId": "test msftUserId",
                    "totalRecommendationsCount": 1,
                    "externalRecommendationCount": 1,
                    "internalRecommendationCount": 1,
                    "operationType": "Meeting",
                    "recommendationContext": "ReplyToInquiry",
                    "userId": "08f0448e-079b-186e-a718-eb9ca3d94674",
                    "username": "test username",
                    "occurredAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/announcements": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Announcements",
        "description": "Provides a list of announcements. Each row represents a single announcement.",
        "operationId": "Reporting-AnnouncementsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtStartTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtEndTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Announcements"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "announcementName": "test announcementName",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "announcementName": "test announcementName",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Channels",
        "description": "Provides a list of channels.  Each row represents a single channel.",
        "operationId": "Reporting-ChannelsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtStartTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtEndTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channels"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "channelName": "test channelName",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "channelName": "test channelName",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/posts": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Posts",
        "description": "Provides a list of posts in channels.  Each row represents a single post in one channel.",
        "operationId": "Reporting-PostsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtStartTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtEndTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Posts"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "postName": "test postName",
                    "channelId": "a4e0df33-2e2d-6d75-645d-6779e9f952ba",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "postName": "test postName",
                    "channelId": "a4e0df33-2e2d-6d75-645d-6779e9f952ba",
                    "createdAt": "2025-01-01T00:00:00.000Z",
                    "modifiedAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/postContents": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Post Contents",
        "description": "Provides a list of contents uploaded in Channel posts.  Each row represents a single content uploaded inside channel posts.",
        "operationId": "Reporting-PostContentsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "createdAtStartTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtEndTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostContents"
                  }
                },
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "postContentName": "test postContentName",
                    "postContentType": "test postContentType",
                    "postContentFormat": "test postContentFormat",
                    "createdAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              },
              "text/csv": {
                "example": [
                  {
                    "id": "74b70bb8-8802-a1fd-f201-890375a60c8f",
                    "postContentName": "test postContentName",
                    "postContentType": "test postContentType",
                    "postContentFormat": "test postContentFormat",
                    "createdAt": "2025-01-01T00:00:00.000Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "JWTBearerToken": [
              "Bearer "
            ]
          }
        ]
      }
    },
    "/contents": {
      "get": {
        "tags": [
          "Contents"
        ],
        "summary": "Contents",
        "description": "This is a generalized version of a union of Library Contents and WorkSpace Contents which is often useful when doing reporting. An item in this table can have both a WorkSpaceContentId and a LibraryContentId if the content originated from the Library and was saved to WorkSpace.",
        "operationId": "Reporting-ContentsGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "type": "string",
              "format": "string",
              "default": "1"
            }
          },
          {
            "name": "modifiedAtStartTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "modifiedAtEndTime",
            "in": "query",
            "description": "Only include records that have modifiedAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtStartTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or after this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "createdAtEndTime",
            "in": "query",
            "description": "Only include records that have createdAt values on or before this value",
            "schema": {
              "type": "string",
              "format": "string",
              "default": ""
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Output format of `application/json` or `text/csv`.",
            "schema": {
              "enum": [
                "application/json",
                "text/csv"
              ],
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
[...]
