{"swagger":"2.0","info":{"version":"v3.1","title":"Insightly API v3.1"},"host":"api.insightly.com","basePath":"/v3.1","schemes":["https"],"paths":{"/{objectName}":{"get":{"tags":["CustomObjectsRecords"],"summary":"Gets a list of records","description":"Simple object graphs (excluding LINKS, etc.) are returned if \"brief=true\" is used in the query string.","operationId":"GetEntities","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the record.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of records to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional,true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false},"put":{"tags":["CustomObjectsRecords"],"summary":"Updates a record","description":"If you have trouble updating a record, try accessing the record via the GET request to inspect its fields and sub-elements. A common source of            problems with write/update requests occurs when users either omit required fields, or insert invalid data into a field (for example, by referring a            CATEGORY_ID or LINK_ID which does not exist.","operationId":"UpdateEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"fieldValues","in":"body","description":"The record to update (just include the JSON object as the request body)","required":true,"schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false},"post":{"tags":["CustomObjectsRecords"],"summary":"Adds a record","description":"If you have trouble with creating a record, try creating records via the web interface, and then access those records via the API. This way you            can see examples of the fields and sub-elements attached to the record. A common source of problems during write/update request is caused when users omit            required fields, or insert invalid data in a field (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly instance.","operationId":"AddEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"fieldValues","in":"body","description":"The record to add (just include the JSON object as the request body)","required":true,"schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false}},"/{objectName}/{id}":{"get":{"tags":["CustomObjectsRecords"],"summary":"Gets a record","description":"","operationId":"GetEntity","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"id","in":"path","description":"The record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"delete":{"tags":["CustomObjectsRecords"],"summary":"Deletes a Record","description":"","operationId":"DeleteEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"id","in":"path","description":"Entity's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"202":{"description":"Delete succeeded."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."},"417":{"description":"Delete failed."}},"deprecated":false}},"/{objectName}/{id}/FileAttachments":{"get":{"tags":["CustomObjectsRecords"],"summary":"Gets a Record's File Attachments","operationId":"GetFileAttachments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"updated_after_utc","in":"query","description":"Optional, earliest date when file attachment was last updated.","required":false,"type":"string","format":"date-time"},{"name":"skip","in":"query","description":"Optional, number of file attachments to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of file attachments to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"post":{"tags":["CustomObjectsRecords"],"summary":"Adds a File Attachment to a Record","description":"This endpoint expects multipart/form-data as the request payload. See Stack Overflow for examples of how to generate multipart requests, or see our <a href=\"http://github.com/Insightly\" target=\"_blank\">client libraries</a> for an example of how this is generated. Only one file can be added per request. Some file types are not allowed for security reasons.","operationId":"AddFileAttachment","consumes":["multipart/form-data"],"produces":["application/json","text/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"id","in":"path","description":"Record ID","required":true,"type":"integer","format":"int64"},{"name":"file","in":"formData","description":"The file part of the multipart/form-data request. Only one file can be added per request.","required":true,"schema":{},"type":"file"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"file_name","in":"formData","type":"string","maxLength":500},{"name":"content_type","in":"formData","type":"string","maxLength":255},{"name":"file_category_id","in":"formData","type":"integer"}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record or storage limit reached."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."},"417":{"description":"File Attachment insert failed."}},"deprecated":false}},"/{objectName}/{id}/MergeDocument/{documentTemplateId}":{"post":{"tags":["CustomObjectsRecords"],"summary":"Generates a new Merge Document","description":"Returns the generated document. If the 'format' parameter is set to 'JSON', returns the metadata of the associated File Attachment in JSON format.","operationId":"GenerateMergeDocument","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"id","in":"path","description":"A Record's ID (RECORD_ID)","required":true,"type":"integer","format":"int64"},{"name":"documentTemplateId","in":"path","description":"A Document Template Id","required":true,"type":"integer","format":"int64"},{"name":"format","in":"query","description":"Binary(default) or JSON","required":false,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Document Template."},"404":{"description":"Record not found."}},"deprecated":false}},"/{objectName}/{id}/Translations/{language}":{"get":{"tags":["CustomObjectsRecords"],"summary":"Gets a record's translation in a specific language","description":"","operationId":"GetTranslation","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"id","in":"path","description":"The record's ID","required":true,"type":"integer","format":"int64"},{"name":"language","in":"path","description":"The requested language","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"put":{"tags":["CustomObjectsRecords"],"summary":"Updates a record's translation in a specific language","description":"If you have trouble updating a record, try accessing the record via the GET request to inspect its fields and sub-elements. A common source of            problems with write/update requests occurs when users either omit required fields, or insert invalid data into a field (for example, by referring a            CATEGORY_ID or LINK_ID which does not exist.","operationId":"UpdateTranslation","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"language","in":"path","description":"The language of the record's translation to update","required":true,"type":"string"},{"name":"fieldValues","in":"body","description":"The record to update (just include the JSON object as the request body)","required":true,"schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},{"name":"id","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false},"post":{"tags":["CustomObjectsRecords"],"summary":"Adds a Translation for a record in a specific language","description":"If you have trouble with creating a record, try creating records via the web interface, and then access those records via the API. This way you            can see examples of the fields and sub-elements attached to the record. A common source of problems during write/update request is caused when users omit            required fields, or insert invalid data in a field (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly instance.","operationId":"AddTranslation","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"language","in":"path","description":"The language of the translation to add","required":true,"type":"string"},{"name":"fieldValues","in":"body","description":"The record to add (just include the JSON object as the request body)","required":true,"schema":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}},{"name":"id","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false}},"/{objectName}/Search":{"get":{"tags":["CustomObjectsRecords"],"summary":"Gets a filtered list of records","description":"To filter with a field name and value, both field_name and field_value parameters must be provided.            <br /> Simple object graphs (excluding TAGS, CUSTOMFIELDS, etc.) are returned if \"brief=true\" is used in the query string.","operationId":"GetEntitiesBySearch","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"objectName","in":"path","description":"The object name","required":true,"type":"string"},{"name":"field_name","in":"query","description":"Optional, field name for object","required":false,"type":"string"},{"name":"field_value","in":"query","description":"Optional, field value of the record","required":false,"type":"string"},{"name":"updated_after_utc","in":"query","description":"Optional, earliest date when a record was last updated.","required":false,"type":"string","format":"date-time"},{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the record.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of records to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional, true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"CustomObjectsRecords","required":["RECORD_NAME"],"type":"object","properties":{"RECORD_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"RECORD_NAME":{"format":"string","maxLength":0,"type":"string","readOnly":false},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"VISIBLE_TO":{"format":"string","maxLength":11,"type":"string","readOnly":false},"VISIBLE_TEAM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CUSTOMFIELDS":{"type":"array","items":{"$ref":"#/definitions/APICustomField"}}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false}},"/ActivitySets":{"get":{"tags":["ActivitySets"],"summary":"Gets a list of Activity Sets","operationId":"GetActivitySets","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the activity set.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of activity sets to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of activity sets to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional, true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"ActivitySet","type":"object","properties":{"ACTIVITYSET_ID":{"format":"int64","type":"integer"},"NAME":{"type":"string"},"FOR_CONTACTS":{"type":"boolean"},"FOR_ORGANISATIONS":{"type":"boolean"},"FOR_OPPORTUNITIES":{"type":"boolean"},"FOR_PROJECTS":{"type":"boolean"},"FOR_LEADS":{"type":"boolean"},"OWNER_USER_ID":{"format":"int32","type":"integer"},"ACTIVITIES":{"type":"array","items":{"$ref":"#/definitions/APIActivity"}}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false}},"/ActivitySets/{id}":{"get":{"tags":["ActivitySets"],"summary":"Gets a single Activity Set","operationId":"GetActivitySet","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"An Activity Set's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"title":"ActivitySet","type":"object","properties":{"ACTIVITYSET_ID":{"format":"int64","type":"integer"},"NAME":{"type":"string"},"FOR_CONTACTS":{"type":"boolean"},"FOR_ORGANISATIONS":{"type":"boolean"},"FOR_OPPORTUNITIES":{"type":"boolean"},"FOR_PROJECTS":{"type":"boolean"},"FOR_LEADS":{"type":"boolean"},"OWNER_USER_ID":{"format":"int32","type":"integer"},"ACTIVITIES":{"type":"array","items":{"$ref":"#/definitions/APIActivity"}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"404":{"description":"Activity Set not found."}},"deprecated":false}},"/Comments":{"put":{"tags":["Comments"],"summary":"Updates a Comment","description":"If you have trouble updating a Comment, try accessing the Comment via the GET request to inspect its fields and sub-elements. A common source of            problems with write/update requests occurs when users either omit required fields, or insert invalid data into a field (for example, by referring a            CATEGORY_ID or LINK_ID which does not exist.","operationId":"UpdateEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"fieldValues","in":"body","description":"The record to update (just include the JSON object as the request body)","required":true,"schema":{"title":"Comment","required":[],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"Comment","required":[],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":200,"type":"string","readOnly":true},"OWNER_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":false},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"NOTE_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"TASK_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"EMAIL_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false}},"/Comments/{id}":{"delete":{"tags":["Comments"],"summary":"Deletes a Comment","description":"","operationId":"DeleteEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Entity's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"202":{"description":"Delete succeeded."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."},"417":{"description":"Delete failed."}},"deprecated":false}},"/Comments/{id}/FileAttachments":{"get":{"tags":["Comments"],"summary":"Gets a Comment's File Attachments","description":"","operationId":"GetFileAttachments","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"updated_after_utc","in":"query","description":"Optional, earliest date when file attachment was last updated.","required":false,"type":"string","format":"date-time"},{"name":"skip","in":"query","description":"Optional, number of file attachments to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of file attachments to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"$ref":"#/definitions/APIFileAttachment"}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"post":{"tags":["Comments"],"summary":"Adds a File Attachment to a Comment","description":"This endpoint expects multipart/form-data as the request payload. See Stack Overflow for examples of how to generate multipart requests, or see our <a href=\"http://github.com/Insightly\" target=\"_blank\">client libraries</a> for an example of how this is generated. Only one file can be added per request. Some file types are not allowed for security reasons.","operationId":"AddFileAttachment","consumes":["multipart/form-data"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Record ID","required":true,"type":"integer","format":"int64"},{"name":"file","in":"formData","description":"The file part of the multipart/form-data request. Only one file can be added per request.","required":true,"schema":{},"type":"file"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"file_name","in":"formData","type":"string","maxLength":500},{"name":"content_type","in":"formData","type":"string","maxLength":255},{"name":"file_category_id","in":"formData","type":"integer"}],"responses":{"201":{"description":"Request succeeded.","schema":{"$ref":"#/definitions/APIFileAttachment"}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record or storage limit reached."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."},"417":{"description":"File Attachment insert failed."}},"deprecated":false}},"/CommunityComments":{"get":{"tags":["ForumComments"],"summary":"Gets a list of Forum Comments","description":"Simple object graphs (excluding LINKS, etc.) are returned if \"brief=true\" is used in the query string.","operationId":"GetEntities","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the record.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of records to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional,true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false},"put":{"tags":["ForumComments"],"summary":"Updates a Forum Comment","description":"If you have trouble updating a Forum Comment, try accessing the Forum Comment via the GET request to inspect its fields and sub-elements. A common source of            problems with write/update requests occurs when users either omit required fields, or insert invalid data into a field (for example, by referring a            CATEGORY_ID or LINK_ID which does not exist.","operationId":"UpdateEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"fieldValues","in":"body","description":"The record to update (just include the JSON object as the request body)","required":true,"schema":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false},"post":{"tags":["ForumComments"],"summary":"Adds a Forum Comment","description":"If you have trouble with creating a Forum Comment, try creating Forum Comments via the web interface, and then access those Forum Comments via the API. This way you            can see examples of the fields and sub-elements attached to the Forum Comment. A common source of problems during write/update request is caused when users omit            required fields, or insert invalid data in a field (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly instance.","operationId":"AddEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"fieldValues","in":"body","description":"The record to add (just include the JSON object as the request body)","required":true,"schema":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false}},"/CommunityComments/{id}":{"get":{"tags":["ForumComments"],"summary":"Gets a Forum Comment","description":"","operationId":"GetEntity","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"id","in":"path","description":"The record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false}},"/CommunityComments/{id}/Follow":{"get":{"tags":["ForumComments"],"summary":"Gets a Follow state for a Forum Comment","description":"","operationId":"GetFollow","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"A record's ID (RECORD_ID)","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"$ref":"#/definitions/APIFollow"}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"post":{"tags":["ForumComments"],"summary":"Start following a Forum Comment","description":"","operationId":"AddFollow","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID (RECORD_ID)","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"$ref":"#/definitions/APIFollow"}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"delete":{"tags":["ForumComments"],"summary":"Stop following a Forum Comment","description":"","operationId":"DeleteFollow","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID (RECORD_ID)","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"202":{"description":"Delete succeeded."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."},"417":{"description":"Delete failed."}},"deprecated":false}},"/CommunityComments/Search":{"get":{"tags":["ForumComments"],"summary":"Gets a filtered list of Forum Comments","description":"To filter with a field name and value, both field_name and field_value parameters must be provided.            <br /> Simple object graphs (excluding TAGS, CUSTOMFIELDS, etc.) are returned if \"brief=true\" is used in the query string.","operationId":"GetEntitiesBySearch","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"field_name","in":"query","description":"Optional, field name for object","required":false,"type":"string"},{"name":"field_value","in":"query","description":"Optional, field value of the record","required":false,"type":"string"},{"name":"updated_after_utc","in":"query","description":"Optional, earliest date when a record was last updated.","required":false,"type":"string","format":"date-time"},{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the record.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of records to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional, true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false}},"/CommunityForums":{"get":{"tags":["Forums"],"summary":"Gets a list of Forums","description":"Simple object graphs (excluding LINKS, etc.) are returned if \"brief=true\" is used in the query string.","operationId":"GetEntities","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the record.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of records to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional,true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForum","required":["FORUM_CATEGORY_ID","FORUM_NAME"],"type":"object","properties":{"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_CATEGORY_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"FORUM_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"DESCRIPTION":{"format":"string","maxLength":500,"type":"string","readOnly":false},"FORUM_TYPE":{"format":"string","maxLength":20,"type":"string","readOnly":false},"VISIBILITY":{"format":"string","maxLength":20,"type":"string","readOnly":false},"CREATED_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ORDER":{"format":"string","maxLength":0,"type":"string","readOnly":false}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false},"put":{"tags":["Forums"],"summary":"Updates a Forum","description":"If you have trouble updating a Forum, try accessing the Forum via the GET request to inspect its fields and sub-elements. A common source of            problems with write/update requests occurs when users either omit required fields, or insert invalid data into a field (for example, by referring a            CATEGORY_ID or LINK_ID which does not exist.","operationId":"UpdateEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"fieldValues","in":"body","description":"The record to update (just include the JSON object as the request body)","required":true,"schema":{"title":"SupportForum","required":["FORUM_CATEGORY_ID","FORUM_NAME"],"type":"object","properties":{"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_CATEGORY_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"FORUM_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"DESCRIPTION":{"format":"string","maxLength":500,"type":"string","readOnly":false},"FORUM_TYPE":{"format":"string","maxLength":20,"type":"string","readOnly":false},"VISIBILITY":{"format":"string","maxLength":20,"type":"string","readOnly":false},"FORUM_ORDER":{"format":"string","maxLength":0,"type":"string","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"SupportForum","required":["FORUM_CATEGORY_ID","FORUM_NAME"],"type":"object","properties":{"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_CATEGORY_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"FORUM_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"DESCRIPTION":{"format":"string","maxLength":500,"type":"string","readOnly":false},"FORUM_TYPE":{"format":"string","maxLength":20,"type":"string","readOnly":false},"VISIBILITY":{"format":"string","maxLength":20,"type":"string","readOnly":false},"CREATED_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ORDER":{"format":"string","maxLength":0,"type":"string","readOnly":false}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false},"post":{"tags":["Forums"],"summary":"Adds a Forum","description":"If you have trouble with creating a Forum, try creating Forums via the web interface, and then access those Forums via the API. This way you            can see examples of the fields and sub-elements attached to the Forum. A common source of problems during write/update request is caused when users omit            required fields, or insert invalid data in a field (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly instance.","operationId":"AddEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"fieldValues","in":"body","description":"The record to add (just include the JSON object as the request body)","required":true,"schema":{"title":"SupportForum","required":["FORUM_CATEGORY_ID","FORUM_NAME"],"type":"object","properties":{"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_CATEGORY_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"FORUM_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"DESCRIPTION":{"format":"string","maxLength":500,"type":"string","readOnly":false},"FORUM_TYPE":{"format":"string","maxLength":20,"type":"string","readOnly":false},"VISIBILITY":{"format":"string","maxLength":20,"type":"string","readOnly":false},"FORUM_ORDER":{"format":"string","maxLength":0,"type":"string","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"SupportForum","required":["FORUM_CATEGORY_ID","FORUM_NAME"],"type":"object","properties":{"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_CATEGORY_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"FORUM_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"DESCRIPTION":{"format":"string","maxLength":500,"type":"string","readOnly":false},"FORUM_TYPE":{"format":"string","maxLength":20,"type":"string","readOnly":false},"VISIBILITY":{"format":"string","maxLength":20,"type":"string","readOnly":false},"CREATED_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ORDER":{"format":"string","maxLength":0,"type":"string","readOnly":false}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false}},"/CommunityForums/{id}":{"get":{"tags":["Forums"],"summary":"Gets a Forum","description":"","operationId":"GetEntity","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"id","in":"path","description":"The record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"title":"SupportForum","required":["FORUM_CATEGORY_ID","FORUM_NAME"],"type":"object","properties":{"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_CATEGORY_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"FORUM_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"DESCRIPTION":{"format":"string","maxLength":500,"type":"string","readOnly":false},"FORUM_TYPE":{"format":"string","maxLength":20,"type":"string","readOnly":false},"VISIBILITY":{"format":"string","maxLength":20,"type":"string","readOnly":false},"CREATED_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ORDER":{"format":"string","maxLength":0,"type":"string","readOnly":false}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false}},"/CommunityForums/{id}/CommunityPosts":{"get":{"tags":["Forums"],"summary":"Gets a list of Forum Posts of a Forum","description":"","operationId":"GetChildEntities","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"COMMENT_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"VIEW_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"FOLLOWER_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"TICKET_ID":{"format":"string","maxLength":0,"type":"string","readOnly":true},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"put":{"tags":["Forums"],"summary":"Updates a Forum Post of a Forum","description":"","operationId":"UpdateChildEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"apiChildEntity","in":"body","description":"The child entity to add (just include the JSON object as request body)","required":true,"schema":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"COMMENT_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"VIEW_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"FOLLOWER_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"TICKET_ID":{"format":"string","maxLength":0,"type":"string","readOnly":true},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"post":{"tags":["Forums"],"summary":"Adds a Forum Post to a Forum","description":"","operationId":"AddChildEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"apiChildEntity","in":"body","description":"The child entity to add (just include JSON object as request body)","required":true,"schema":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"COMMENT_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"VIEW_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"FOLLOWER_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"TICKET_ID":{"format":"string","maxLength":0,"type":"string","readOnly":true},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false}},"/CommunityForums/{id}/CommunityPosts/{childEntityId}":{"delete":{"tags":["Forums"],"summary":"Deletes a Forum Post of a Forum","description":"","operationId":"DeleteChildEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"childEntityId","in":"path","description":"A child entity's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"202":{"description":"Delete succeeded."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."},"417":{"description":"Delete failed."}},"deprecated":false}},"/CommunityForums/{id}/Follow":{"get":{"tags":["Forums"],"summary":"Gets a Follow state for a Forum","description":"","operationId":"GetFollow","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"A record's ID (RECORD_ID)","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"$ref":"#/definitions/APIFollow"}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"post":{"tags":["Forums"],"summary":"Start following a Forum","description":"","operationId":"AddFollow","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID (RECORD_ID)","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"$ref":"#/definitions/APIFollow"}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"delete":{"tags":["Forums"],"summary":"Stop following a Forum","description":"","operationId":"DeleteFollow","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID (RECORD_ID)","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"202":{"description":"Delete succeeded."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."},"417":{"description":"Delete failed."}},"deprecated":false}},"/CommunityForums/Search":{"get":{"tags":["Forums"],"summary":"Gets a filtered list of Forums","description":"To filter with a field name and value, both field_name and field_value parameters must be provided.            <br /> Simple object graphs (excluding TAGS, CUSTOMFIELDS, etc.) are returned if \"brief=true\" is used in the query string.","operationId":"GetEntitiesBySearch","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"field_name","in":"query","description":"Optional, field name for object","required":false,"type":"string"},{"name":"field_value","in":"query","description":"Optional, field value of the record","required":false,"type":"string"},{"name":"updated_after_utc","in":"query","description":"Optional, earliest date when a record was last updated.","required":false,"type":"string","format":"date-time"},{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the record.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of records to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional, true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForum","required":["FORUM_CATEGORY_ID","FORUM_NAME"],"type":"object","properties":{"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_CATEGORY_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"FORUM_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"DESCRIPTION":{"format":"string","maxLength":500,"type":"string","readOnly":false},"FORUM_TYPE":{"format":"string","maxLength":20,"type":"string","readOnly":false},"VISIBILITY":{"format":"string","maxLength":20,"type":"string","readOnly":false},"CREATED_USER_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ORDER":{"format":"string","maxLength":0,"type":"string","readOnly":false}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false}},"/CommunityPosts":{"get":{"tags":["ForumPosts"],"summary":"Gets a list of Forum Posts","description":"Simple object graphs (excluding LINKS, etc.) are returned if \"brief=true\" is used in the query string.","operationId":"GetEntities","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"brief","in":"query","description":"Optional, true if response should only contain top level properties of the record.","required":false,"type":"boolean","default":false},{"name":"skip","in":"query","description":"Optional, number of records to skip.","required":false,"type":"integer","format":"int32"},{"name":"top","in":"query","description":"Optional, maximum number of records to return in the response.","required":false,"type":"integer","format":"int32"},{"name":"count_total","in":"query","description":"Optional,true if total number of records should be returned in the response headers.","required":false,"type":"boolean","default":false},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"COMMENT_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"VIEW_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"FOLLOWER_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"TICKET_ID":{"format":"string","maxLength":0,"type":"string","readOnly":true},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."}},"deprecated":false},"put":{"tags":["ForumPosts"],"summary":"Updates a Forum Post","description":"If you have trouble updating a Forum Post, try accessing the Forum Post via the GET request to inspect its fields and sub-elements. A common source of            problems with write/update requests occurs when users either omit required fields, or insert invalid data into a field (for example, by referring a            CATEGORY_ID or LINK_ID which does not exist.","operationId":"UpdateEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"fieldValues","in":"body","description":"The record to update (just include the JSON object as the request body)","required":true,"schema":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"COMMENT_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"VIEW_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"FOLLOWER_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"TICKET_ID":{"format":"string","maxLength":0,"type":"string","readOnly":true},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false},"post":{"tags":["ForumPosts"],"summary":"Adds a Forum Post","description":"If you have trouble with creating a Forum Post, try creating Forum Posts via the web interface, and then access those Forum Posts via the API. This way you            can see examples of the fields and sub-elements attached to the Forum Post. A common source of problems during write/update request is caused when users omit            required fields, or insert invalid data in a field (e.g. reference a CATEGORY_ID that does not exist in the user's Insightly instance.","operationId":"AddEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"fieldValues","in":"body","description":"The record to add (just include the JSON object as the request body)","required":true,"schema":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"COMMENT_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"VIEW_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"FOLLOWER_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"TICKET_ID":{"format":"string","maxLength":0,"type":"string","readOnly":true},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"402":{"description":"Record limit reached."}},"deprecated":false}},"/CommunityPosts/{id}":{"get":{"tags":["ForumPosts"],"summary":"Gets a Forum Post","description":"","operationId":"GetEntity","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"id","in":"path","description":"The record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"200":{"description":"Request succeeded.","schema":{"title":"SupportForumPost","required":["FORUM_ID"],"type":"object","properties":{"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"POST_NAME":{"format":"string","maxLength":255,"type":"string","readOnly":false},"MESSAGE":{"format":"string","maxLength":0,"type":"string","readOnly":false},"PINNED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"FEATURED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"CLOSED":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"STATUS":{"format":"string","maxLength":20,"type":"string","readOnly":false},"COMMENT_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"VIEW_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"FOLLOWER_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":true},"TICKET_ID":{"format":"string","maxLength":0,"type":"string","readOnly":true},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false}}}},"400":{"description":"Often missing or invalid parameter."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false}},"/CommunityPosts/{id}/CommunityComments":{"get":{"tags":["ForumPosts"],"summary":"Gets a list of Forum Comments of a Forum Post","description":"","operationId":"GetChildEntities","consumes":["application/json"],"produces":["application/octet-stream","application/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"}],"responses":{"201":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"put":{"tags":["ForumPosts"],"summary":"Updates a Forum Comment of a Forum Post","description":"","operationId":"UpdateChildEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"apiChildEntity","in":"body","description":"The child entity to add (just include the JSON object as request body)","required":true,"schema":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}],"responses":{"200":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false},"post":{"tags":["ForumPosts"],"summary":"Adds a Forum Comment to a Forum Post","description":"","operationId":"AddChildEntity","consumes":["application/json"],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"A Record's ID","required":true,"type":"integer","format":"int64"},{"name":"Authorization","in":"header","description":"Authorization","required":true,"type":"string","default":"{{Authorization}}"},{"name":"apiChildEntity","in":"body","description":"The child entity to add (just include JSON object as request body)","required":true,"schema":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}],"responses":{"201":{"description":"Request succeeded.","schema":{"type":"array","items":{"title":"SupportForumComment","required":["POST_ID","FORUM_ID"],"type":"object","properties":{"COMMENT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"BODY":{"format":"string","maxLength":0,"type":"string","readOnly":false},"ANSWER":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"SPAM":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"PENDING":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"OFFICIAL":{"format":"boolean","maxLength":0,"type":"boolean","readOnly":false},"UPVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"DOWNVOTE_COUNT":{"format":"string","maxLength":0,"type":"string","readOnly":false},"POST_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false},"CREATED_CONTACT_ID":{"format":"int32","maxLength":0,"type":"integer","readOnly":true},"EDITED_CONTACT_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":true},"DATE_EDITED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_CREATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"DATE_UPDATED_UTC":{"format":"date-time","maxLength":0,"type":"string","readOnly":true},"FORUM_ID":{"format":"int64","maxLength":0,"type":"integer","readOnly":false}}}}},"400":{"description":"Data validation error."},"401":{"description":"Authentication failed."},"403":{"description":"API User does not have access to Record."},"404":{"description":"Record not found."}},"deprecated":false}},"/CommunityPosts/{id}/CommunityComments/{childEntityId}":{"delete":{"tags":["ForumPosts"],"summary":"Deletes a Forum Comment of a Forum Post","description":"
[...]
